Repository clerk/javascript, pull requests merged in 2023-06, with the labels that each got.

#1293 fix(backend): Remove unused `url` prop from `redirectToSignIn` and `…
  .changeset/thin-carpets-reflect.md
  packages/backend/src/redirections.ts
Labels: backend

#1272 fix(clerk-js): Only prefix url with the origin in buildUrlWithAuth
  packages/clerk-js/src/core/clerk.redirects.test.ts
  packages/clerk-js/src/core/clerk.test.ts
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/devBrowserHandler.ts
Labels: clerk-js

#1296 feat(clerk-js): Use fapi client url to load CF turnstile
  .changeset/pretty-horses-suffer.md
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/fapiClient.ts
  packages/clerk-js/src/core/resources/SignUp.ts
  packages/clerk-js/src/utils/captcha.ts
Labels: clerk-js

#1302 chore(clerk-js): Display edit icon when changing username or password
  packages/clerk-js/src/ui/components/UserProfile/PasswordSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/UserProfileBlockButtons.tsx
  packages/clerk-js/src/ui/components/UserProfile/UsernameSection.tsx
  packages/clerk-js/src/ui/icons/index.ts
  packages/clerk-js/src/ui/icons/pencil.svg
Labels: clerk-js

#1298 User.setProfileImage accepts file a Base64 string
  packages/clerk-js/src/core/resources/Image.ts
  packages/types/src/user.ts
Labels: types, clerk-js

#1276 feat(nextjs): Return 401 Response on protected API routes
  .changeset/seven-mayflies-push.md
  packages/nextjs/package.json
  packages/nextjs/src/server/authMiddleware.test.ts
  packages/nextjs/src/server/authMiddleware.ts
  packages/nextjs/src/server/authenticateRequest.ts
  packages/nextjs/src/server/utils.ts
Labels: nextjs

#1312 Address npm audit issues
  .changeset/tasty-cars-battle.md
  package-lock.json
  packages/backend/package.json
Labels: backend

#1306 Fix(backend,nextjs): issue with forward proto cross origin in AWS and Railway Apps
  .changeset/eighty-lamps-joke.md
  .changeset/grumpy-dragons-complain.md
  .changeset/real-pillows-dance.md
  .changeset/thick-dodos-eat.md
  packages/backend/src/tokens/interstitialRule.ts
  packages/backend/src/tokens/request.test.ts
  packages/backend/src/util/request.test.ts
  packages/backend/src/util/request.ts
  packages/nextjs/src/server/authMiddleware.ts
  packages/nextjs/src/server/authenticateRequest.ts
Labels: nextjs, backend

#1316 chore(repo): Move test dependencies to root package.json
  .changeset/rare-mails-smash.md
  package-lock.json
  package.json
  packages/chrome-extension/package.json
  packages/clerk-js/package.json
  packages/expo/package.json
  packages/fastify/package.json
  packages/nextjs/package.json
  packages/react/package.json
  packages/sdk-node/package.json
  packages/shared/package.json
Labels: clerk-js, nextjs, react, fastify, sdk-node, expo, chrome-extension

#1278 feat(clerk-js,localizations,types): Readonly fname/lname/password for user with SAML accounts
  .changeset/old-stingrays-tap.md
  packages/clerk-js/src/ui/components/UserProfile/PasswordPage.tsx
  packages/clerk-js/src/ui/components/UserProfile/ProfilePage.tsx
  packages/clerk-js/src/ui/components/UserProfile/__tests__/PasswordPage.test.tsx
  packages/clerk-js/src/ui/components/UserProfile/__tests__/ProfilePage.test.tsx
  packages/clerk-js/src/ui/elements/InformationBox.tsx
  packages/clerk-js/src/ui/elements/index.ts
  packages/clerk-js/src/ui/icons/index.ts
  packages/clerk-js/src/ui/icons/information-circle.svg
  packages/localizations/src/en-US.ts
  packages/types/src/localization.ts
Labels: types, clerk-js, localizations

#1321 fix(backend): Fix infinite redirect loop in localhost apps
  .changeset/thin-apes-wait.md
  packages/backend/src/util/request.test.ts
  packages/backend/src/util/request.ts
  playground/app-router/package.json
  playground/app-router/src/middleware.ts
Labels: backend, playground

#1322 fix(clerk-js): Preview known SAML errors during Sign in/up
  .changeset/fresh-stingrays-brake.md
  packages/clerk-js/src/core/constants.ts
  packages/clerk-js/src/ui/components/SignIn/SignInStart.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpStart.tsx
Labels: clerk-js

#1311 Revert "feat(clerk-js): User.setProfileImage accepts file a Base64 st…
  .changeset/sixty-fireants-clap.md
  packages/clerk-js/src/core/resources/Image.ts
  packages/types/src/user.ts
Labels: types, clerk-js

#1328 fix(clerk-js): Add missing elementDescriptors for the manage org button
  .changeset/shiny-feet-matter.md
  packages/clerk-js/src/ui/components/OrganizationSwitcher/OrganizationSwitcherPopover.tsx
Labels: clerk-js

#1330 fix(nextjs): Use signInUrl env var in authMiddleware
  .changeset/poor-eagles-bake.md
  packages/nextjs/src/server/authenticateRequest.ts
Labels: nextjs

#1320 Image.create sends base64 string with application/octet-stream
  .changeset/silver-days-sit.md
  packages/clerk-js/src/core/fapiClient.ts
  packages/clerk-js/src/core/resources/Image.ts
  packages/types/src/user.ts
Labels: types, clerk-js

#1315 fix(clerk-js): SMS TOP autofill broken in Chrome for iOS
  .changeset/small-bikes-complain.md
  packages/clerk-js/src/ui/elements/CodeControl.tsx
Labels: clerk-js

#1313 fix(clerk-js): Revert to checking urlBasedSessionSync with devBrowserHandler
  .changeset/silver-kiwis-prove.md
  .changeset/yellow-roses-relate.md
  packages/clerk-js/src/core/clerk.redirects.test.ts
  packages/clerk-js/src/core/clerk.test.ts
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/devBrowserHandler.ts
Labels: clerk-js

#1332 COR-441 Parse StringOrURLFnToString correctly in authMiddleware
  .changeset/wise-rockets-fetch.md
  packages/nextjs/src/server/authenticateRequest.ts
  packages/nextjs/src/server/utils.ts
  packages/nextjs/src/server/withClerkMiddleware.ts
Labels: nextjs

#1334 Version Packages
  .changeset/eighty-lamps-joke.md
  .changeset/fresh-stingrays-brake.md
  .changeset/grumpy-dragons-complain.md
  .changeset/hot-gorillas-fix.md
  .changeset/lemon-trains-wash.md
  .changeset/old-stingrays-tap.md
  .changeset/poor-eagles-bake.md
  .changeset/pretty-horses-suffer.md
  .changeset/rare-mails-smash.md
  .changeset/real-pillows-dance.md
  .changeset/rotten-moles-divide.md
  .changeset/seven-mayflies-push.md
  .changeset/shiny-feet-matter.md
  .changeset/silver-days-sit.md
  .changeset/silver-kiwis-prove.md
  .changeset/sixty-fireants-clap.md
  .changeset/small-bikes-complain.md
  .changeset/soft-rocks-clean.md
  .changeset/tasty-cars-battle.md
  .changeset/thick-dodos-eat.md
  .changeset/thin-apes-wait.md
  .changeset/thin-carpets-reflect.md
  .changeset/weak-bees-walk.md
  .changeset/wise-rockets-fetch.md
  .changeset/yellow-roses-relate.md
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/CHANGELOG.md
  packages/gatsby-plugin-clerk/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, sdk-node, expo, chrome-extension, gatsby, themes

#1339 feat(localizations): Add ko-KR localization
  .changeset/popular-mayflies-eat.md
  packages/localizations/src/index.ts
  packages/localizations/src/ko-KR.ts
  packages/react/src/contexts/__tests__/ClerkProvider.test.tsx
Labels: react, localizations

#1318 COR-418 fix(clerk-js): Improve organization invitation form UX
  .changeset/tame-mirrors-melt.md
  packages/clerk-js/src/ui/components/OrganizationProfile/InviteMembersForm.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/__tests__/InviteMembersPage.test.tsx
  packages/clerk-js/src/ui/elements/TagInput.tsx
Labels: clerk-js

#1343 Separate FAPI-initiated redirect flows to requiring user input or not
  .changeset/selfish-swans-smell.md
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/utils/__tests__/url.test.ts
  packages/clerk-js/src/utils/url.ts
Labels: clerk-js

#1335 Version Packages
  .changeset/beige-tips-divide.md
  .changeset/nervous-pumas-look.md
  .changeset/popular-mayflies-eat.md
  .changeset/rich-students-watch.md
  .changeset/selfish-swans-smell.md
  .changeset/tame-mirrors-melt.md
  .changeset/twenty-squids-protect.md
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/CHANGELOG.md
  packages/gatsby-plugin-clerk/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
Labels: clerk-js, nextjs, react, remix, expo, chrome-extension, gatsby

#1346 fix(nextjs): Resolve build App Router build issues
  .changeset/late-lizards-compete.md
  packages/nextjs/src/index.ts
Labels: nextjs

#1344 Version Packages
  .changeset/late-lizards-compete.md
  .changeset/twelve-avocados-kneel.md
  packages/gatsby-plugin-clerk/CHANGELOG.md
  packages/gatsby-plugin-clerk/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
Labels: nextjs, sdk-node, gatsby

#1323 chore(chrome-extension): Add deploy section
  .changeset/rude-rivers-switch.md
  packages/chrome-extension/README.md
Labels: chrome-extension

#1352 COR-387 fix(clerk-js): Replace all usage of icon prop with leftIcon prop in A…
  .changeset/large-chefs-run.md
  packages/clerk-js/src/ui/components/SignIn/SignInAccountSwitcher.tsx
  packages/clerk-js/src/ui/components/UserProfile/ConnectedAccountsPage.tsx
  packages/clerk-js/src/ui/components/UserProfile/MfaPhoneCodePage.tsx
  packages/clerk-js/src/ui/components/UserProfile/PasswordSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/UserProfileBlockButtons.tsx
  packages/clerk-js/src/ui/components/UserProfile/UsernameSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/Web3Page.tsx
  packages/clerk-js/src/ui/elements/Accordion.tsx
  packages/clerk-js/src/ui/elements/ArrowBlockButton.tsx
  packages/clerk-js/src/ui/elements/ErrorCard.tsx
Labels: clerk-js

#1324 feat(nextjs): Detect infinite interstitial redirect loop in middleware
  .changeset/soft-snakes-hope.md
  packages/nextjs/src/server/authMiddleware.ts
Labels: nextjs

#1361 fix(nextjs): Fix interstitial infinite loop error message indentation
  .changeset/chilled-panthers-speak.md
  packages/nextjs/src/server/authMiddleware.ts
Labels: nextjs

#1364 Update fr-FR.ts
  .changeset/three-starfishes-travel.md
  packages/localizations/src/fr-FR.ts
Labels: localizations

#1359 fix(clerk-js): Persist history state when removing a clerk query param
  .changeset/tender-pillows-appear.md
  packages/clerk-js/src/utils/getClerkQueryParam.ts
Labels: clerk-js

#1355 Version Packages
  .changeset/chilled-panthers-speak.md
  .changeset/large-chefs-run.md
  .changeset/rude-rivers-switch.md
  .changeset/slow-falcons-design.md
  .changeset/soft-snakes-hope.md
  .changeset/swift-points-shop.md
  .changeset/tender-pillows-appear.md
  .changeset/three-starfishes-travel.md
  .changeset/twenty-balloons-argue.md
  .changeset/witty-books-jam.md
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/CHANGELOG.md
  packages/gatsby-plugin-clerk/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
Labels: nextjs, remix, backend, fastify, sdk-node, gatsby

#1356 feat(fastify): Support `{hookName: 'onRequest'}`
  .changeset/silent-maps-complain.md
  packages/fastify/src/clerkPlugin.test.ts
  packages/fastify/src/clerkPlugin.ts
  packages/fastify/src/types.ts
Labels: fastify

#1367 Optimize images
  .changeset/wise-turtles-study.md
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationProfileAvatarUploader.tsx
  packages/clerk-js/src/ui/components/UserButton/UserButtonTrigger.tsx
  packages/clerk-js/src/ui/components/UserProfile/UserProfileAvatarUploader.tsx
  packages/clerk-js/src/ui/customizables/index.ts
  packages/clerk-js/src/ui/customizables/makeResponsive.tsx
  packages/clerk-js/src/ui/elements/Avatar.tsx
  packages/clerk-js/src/ui/elements/OrganizationPreview.tsx
  packages/clerk-js/src/ui/elements/UserPreview.tsx
  packages/clerk-js/src/ui/primitives/Image.tsx
  packages/clerk-js/src/ui/styledSystem/types.ts
  packages/clerk-js/src/utils/url.ts
  packages/shared/src/utils/index.ts
  packages/shared/src/utils/isRetinaDisplay.ts
Labels: clerk-js

#1366 Version Packages
  .changeset/silent-maps-complain.md
  .changeset/wise-turtles-study.md
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/CHANGELOG.md
  packages/gatsby-plugin-clerk/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
Labels: fastify

#1326 fix(clerk-js,types): Disable fields for SAML only if there is an acti…
  .changeset/cyan-garlics-act.md
  packages/clerk-js/src/core/resources/SamlAccount.ts
  packages/clerk-js/src/ui/components/UserProfile/PasswordPage.tsx
  packages/clerk-js/src/ui/components/UserProfile/ProfilePage.tsx
  packages/clerk-js/src/ui/components/UserProfile/__tests__/PasswordPage.test.tsx
  packages/clerk-js/src/ui/components/UserProfile/__tests__/ProfilePage.test.tsx
  packages/types/src/json.ts
  packages/types/src/samlAccount.ts
Labels: types, needs-backend 🚧, clerk-js

#1307 Add ability for user to delete themselves if permission present
  .changeset/perfect-zebras-cover.md
  package-lock.json
  packages/clerk-js/package.json
  packages/clerk-js/src/core/resources/User.ts
  packages/clerk-js/src/core/resources/UserSettings.ts
  packages/clerk-js/src/ui/components/UserProfile/DeletePage.tsx
  packages/clerk-js/src/ui/components/UserProfile/DeleteSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/RootPage.tsx
  packages/clerk-js/src/ui/components/UserProfile/UserProfileRoutes.tsx
  packages/clerk-js/src/ui/utils/test/fixtures.ts
  packages/localizations/src/en-US.ts
  packages/types/src/appearance.ts
  packages/types/src/localization.ts
  packages/types/src/user.ts
  packages/types/src/userSettings.ts
  playground/vanillajs/index.html
Labels: types, clerk-js, localizations, playground

#1371 Update sign in start for Korean
  .changeset/serious-mirrors-return.md
  packages/localizations/src/ko-KR.ts
Labels: localizations

#1376 feat(localizations): Added nb-NO localization
  .changeset/shy-apricots-buy.md
  packages/localizations/src/index.ts
  packages/localizations/src/nb-NO.ts
Labels: localizations

#1327 Address tokens request being retried
  .changeset/sixty-yaks-stare.md
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/resources/Session.ts
  packages/clerk-js/src/core/services/authentication/SessionCookieService.ts
  packages/shared/src/utils/errors.ts
  playground/nextjs/pages/_app.tsx
Labels: clerk-js, playground

#1370 chore(chrome-extension): Add reference for url-based syncing settings in dev
  .changeset/rich-singers-wait.md
  packages/chrome-extension/README.md
Labels: chrome-extension

#1369 Version Packages
  .changeset/cyan-garlics-act.md
  .changeset/perfect-zebras-cover.md
  .changeset/rich-singers-wait.md
  .changeset/serious-mirrors-return.md
  .changeset/shy-apricots-buy.md
  .changeset/sixty-yaks-stare.md
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/CHANGELOG.md
  packages/gatsby-plugin-clerk/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/shared/package.json
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, sdk-node, expo, chrome-extension, gatsby, themes

#1377 fix(clerk-sdk-node): Fix ESM build issues
  .changeset/shaggy-meals-warn.md
  packages/sdk-node/package.json
  packages/sdk-node/tsup.config.ts
Labels: sdk-node

#1378 Version Packages
  .changeset/shaggy-meals-warn.md
  packages/gatsby-plugin-clerk/CHANGELOG.md
  packages/gatsby-plugin-clerk/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
Labels: nextjs, sdk-node, gatsby

#1379 Missing fr-FR translations use_email & use_phone
  .changeset/eighty-planes-taste.md
  packages/localizations/src/fr-FR.ts
Labels: community, localizations

#1373 Implement organization creation permission controls
  .changeset/fifty-eels-work.md
  packages/clerk-js/src/core/resources/User.ts
  packages/clerk-js/src/core/resources/UserSettings.ts
  packages/clerk-js/src/ui/components/OrganizationSwitcher/OtherOrganizationActions.tsx
  packages/clerk-js/src/ui/components/OrganizationSwitcher/__tests__/OrganizationSwitcher.test.tsx
  packages/types/src/json.ts
  packages/types/src/user.ts
  packages/types/src/userSettings.ts
Labels: types, clerk-js

#1329 feat(backend,clerk-sdk-node): Simplify the authenticateRequest signature
  .changeset/pink-carpets-matter.md
  packages/backend/src/index.ts
  packages/backend/src/tokens/index.ts
  packages/backend/src/tokens/request.ts
  packages/backend/src/util/request.ts
  packages/sdk-node/src/authenticateRequest.ts
  packages/sdk-node/src/types.ts
Labels: backend, sdk-node

#1385 Version Packages
  .changeset/fifty-eels-work.md
  .changeset/pink-carpets-matter.md
  .changeset/silver-cheetahs-exercise.md
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/CHANGELOG.md
  packages/gatsby-plugin-clerk/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/shared/package.json
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, sdk-node, expo, chrome-extension, gatsby, themes

#1368 Add ability to delete an organization
  .changeset/old-eggs-own.md
  packages/clerk-js/src/core/resources/Organization.ts
  packages/clerk-js/src/core/resources/OrganizationSettings.ts
  packages/clerk-js/src/core/resources/User.ts
  packages/clerk-js/src/core/resources/__snapshots__/Organization.test.ts.snap
  packages/clerk-js/src/core/resources/__snapshots__/OrganizationMembership.test.ts.snap
  packages/clerk-js/src/ui/components/OrganizationProfile/ActionConfirmationPage.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationProfileRoutes.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationSettings.tsx
  packages/localizations/src/en-US.ts
  packages/types/src/json.ts
  packages/types/src/localization.ts
  packages/types/src/organization.ts
  packages/types/src/organizationSettings.ts
Labels: types, clerk-js, localizations

#1388 fix(localizations): Missing pt-BR translations
  .changeset/pretty-moose-taste.md
  packages/localizations/src/pt-BR.ts
Labels: localizations

#1397 fix(nextjs): Add isApiRoute to AfterAuthHandler['auth'] type
  .changeset/new-llamas-complain.md
  packages/nextjs/src/server/authMiddleware.ts
Labels: nextjs

#1392 chore(clerk-js): Ignore OAuth strategies that are not defined in our types
  .changeset/shaggy-suns-rule.md
  packages/clerk-js/src/ui/hooks/useEnabledThirdPartyProviders.tsx
Labels: clerk-js

#1398 fix(localizations): Missing fr-FR translations for reset password page
  .changeset/fifty-ravens-double.md
  packages/localizations/src/fr-FR.ts
Labels: community, localizations

#1403 fix(clerk-js): Only set the __session cookie as `none` for secure iframes
  .changeset/metal-dolphins-act.md
  packages/clerk-js/src/utils/cookies/handler.ts
  packages/clerk-js/src/utils/runtime.ts
Labels: clerk-js

#1396 Version Packages
  .changeset/fifty-ravens-double.md
  .changeset/green-dancers-tie.md
  .changeset/metal-dolphins-act.md
  .changeset/new-llamas-complain.md
  .changeset/pretty-moose-taste.md
  .changeset/shaggy-suns-rule.md
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
Labels: clerk-js, localizations, expo, chrome-extension

#1394 fix(nextjs): Support req.clerkUrl to fix issue with NextJS hostname on proxied apps
  .changeset/nice-kangaroos-teach.md
  packages/nextjs/src/server/authMiddleware.ts
  packages/nextjs/src/server/clerkClient.ts
Labels: nextjs

#1404 Version Packages
  .changeset/nice-kangaroos-teach.md
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
Labels: nextjs

#1410 fix(types): Deprecate OrganizationResource.logoUrl
  packages/types/src/organization.ts
Labels: types

#1414 fix(localizations): Added missing translation in de-DE.ts
  .changeset/orange-bats-learn.md
  packages/localizations/src/de-DE.ts
Labels: localizations

#1408 Removed period from end of link to avoid 404
  packages/nextjs/src/utils/pathMatchers.ts
Labels: nextjs

#1411 fix(types): Add create method to EmailAddress typings
  .changeset/good-coins-turn.md
  packages/types/src/emailAddress.ts
  packages/types/src/phoneNumber.ts
  packages/types/src/web3Wallet.ts
Labels: types

#1416 UserButton/OrgSwitcher UI fixes
  .changeset/real-cherries-pay.md
  packages/clerk-js/src/ui/elements/PopoverCard.tsx
  packages/clerk-js/src/ui/styledSystem/common.ts
Labels: clerk-js

#1405 fix(clerk-js): Return to sign up page if no identifier is present in the verify routes
  .changeset/beige-snails-hide.md
  packages/clerk-js/src/ui/components/SignIn/SignIn.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUp.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpEmailLinkCard.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpVerificationCodeForm.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpVerifyEmail.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpVerifyPhone.tsx
  packages/clerk-js/src/ui/elements/VerificationCodeCard.tsx
  packages/clerk-js/src/ui/elements/VerificationLinkCard.tsx
Labels: clerk-js

#1281 fix(clerk-js): BuildUrlWithAuth returns a relative url if one is received
  .changeset/lazy-bears-promise.md
  packages/clerk-js/src/core/clerk.test.ts
  packages/clerk-js/src/core/clerk.ts
  packages/shared/src/utils/url.ts
Labels: clerk-js

#1419 fix(nextjs): Avoid setting clerkUrl port when http(s) forwarded port and protocol is defined
  .changeset/slow-needles-jam.md
  packages/nextjs/src/server/authMiddleware.ts
Labels: nextjs

#1423 fix(clerk-js): Revert relative build url
  .changeset/honest-eyes-give.md
  .changeset/lazy-bears-promise.md
  .changeset/mighty-carrots-wonder.md
  packages/clerk-js/src/core/clerk.test.ts
  packages/clerk-js/src/core/clerk.ts
  packages/shared/src/utils/url.ts
Labels: clerk-js

#1415 Version Packages
  .changeset/beige-snails-hide.md
  .changeset/gold-shoes-live.md
  .changeset/good-coins-turn.md
  .changeset/honest-eyes-give.md
  .changeset/mighty-carrots-wonder.md
  .changeset/orange-bats-learn.md
  .changeset/real-cherries-pay.md
  .changeset/six-eggs-grab.md
  .changeset/slow-needles-jam.md
  .changeset/sour-poems-wonder.md
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/CHANGELOG.md
  packages/gatsby-plugin-clerk/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/shared/package.json
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
Labels: clerk-js, localizations, expo, chrome-extension

#1426 fix(nextjs): Add incorrect keys as a reason on the Infinite Loop Detection error text
  packages/nextjs/src/server/authMiddleware.ts
Labels: nextjs

#1424 feat(repo): Add Vite React Typescript playground app
  .changeset/wild-seals-deny.md
  package-lock.json
  packages/react/src/polyfills.ts
  playground/vite-react-ts/.env.example
  playground/vite-react-ts/.eslintrc.cjs
  playground/vite-react-ts/.gitignore
  playground/vite-react-ts/index.html
  playground/vite-react-ts/package.json
  playground/vite-react-ts/public/clerk.svg
  playground/vite-react-ts/public/vite.svg
  playground/vite-react-ts/src/App.css
  playground/vite-react-ts/src/App.tsx
  playground/vite-react-ts/src/assets/react.svg
  playground/vite-react-ts/src/index.css
  playground/vite-react-ts/src/main.tsx
  playground/vite-react-ts/src/vite-env.d.ts
  playground/vite-react-ts/tsconfig.json
  playground/vite-react-ts/tsconfig.node.json
  playground/vite-react-ts/vite.config.ts
Labels: react, playground

#1427 Version Packages
  .changeset/wild-seals-deny.md
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/gatsby-plugin-clerk/CHANGELOG.md
  packages/gatsby-plugin-clerk/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
Labels: nextjs, react, remix, expo, chrome-extension, gatsby

#1428 feat(backend): Increase the default value for clock skew in `verifyJwt` from 2 to 5 seconds
  .changeset/thirty-chefs-unite.md
  packages/backend/src/tokens/jwt/verifyJwt.ts
Labels: backend

#1431 fix(clerk-js): Update redirection FAPI Accounts to include accountstage
  .changeset/proud-sheep-doubt.md
  packages/backend/src/redirections.test.ts
  packages/backend/src/redirections.ts
Labels: backend

#1433 Non browsers requests to satellite apps should not throw intestitial
  .changeset/proud-cycles-type.md
  packages/backend/src/tokens/interstitialRule.ts
  packages/backend/src/tokens/request.test.ts
Labels: backend

#1437 fix(backend): Make all 4 keys (legacy and new) optional in `authenticateRequest`
  .changeset/shaggy-spiders-sit.md
  packages/backend/src/index.ts
  packages/backend/src/tokens/index.ts
  packages/backend/src/tokens/interstitialRule.ts
  packages/backend/src/tokens/request.ts
  packages/sdk-node/src/authenticateRequest.ts
  packages/sdk-node/src/types.ts
Labels: backend, sdk-node

#1434 Version Packages
  .changeset/forty-hornets-burn.md
  .changeset/proud-cycles-type.md
  .changeset/proud-sheep-doubt.md
  .changeset/rude-glasses-hang.md
  .changeset/shaggy-spiders-sit.md
  .changeset/thirty-chefs-unite.md
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/CHANGELOG.md
  packages/gatsby-plugin-clerk/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
Labels: nextjs, remix, backend, fastify, sdk-node, gatsby
