Repository clerk/javascript, pull requests merged in 2023-08, with the labels that each got.

#1536 fix(clerk-js): Add support for password bytes exceeded error and hibp
  .changeset/fast-shrimps-taste.md
  packages/clerk-js/src/ui/utils/passwordUtils.ts
Labels: clerk-js

#1527 feat(clerk-js,types): Introduce UserOrganizationInvitation
  .changeset/shaggy-vans-relax.md
  packages/clerk-js/src/core/resources/User.ts
  packages/clerk-js/src/core/resources/UserOrganizationInvitation.ts
  packages/clerk-js/src/core/resources/internal.ts
  packages/types/src/api.ts
  packages/types/src/index.ts
  packages/types/src/json.ts
  packages/types/src/user.ts
  packages/types/src/userOrganizationInvitation.ts
Labels: types, clerk-js

#1545 feat(clerk-js): Introduce Clerk.client.clearCache()
  .changeset/swift-rivers-behave.md
  packages/clerk-js/src/core/resources/Client.ts
  packages/clerk-js/src/core/resources/Session.ts
  packages/clerk-js/src/core/tokenCache.ts
  packages/types/src/client.ts
  packages/types/src/session.ts
Labels: types, clerk-js

#1523 Version Packages
  .changeset/beige-apes-cry.md
  .changeset/brave-steaks-smile.md
  .changeset/fast-shrimps-taste.md
  .changeset/fresh-poets-agree.md
  .changeset/friendly-planes-impress.md
  .changeset/little-donkeys-exist.md
  .changeset/mighty-days-push.md
  .changeset/odd-games-brake.md
  .changeset/shaggy-vans-relax.md
  .changeset/sixty-eyes-attend.md
  .changeset/swift-rivers-behave.md
  .changeset/thin-rocks-study.md
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/CHANGELOG.md
  packages/gatsby-plugin-clerk/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, sdk-node, expo, chrome-extension, gatsby, themes

#1544 Update the resources / types to include has_Image
  .changeset/quiet-shirts-notice.md
  packages/backend/src/api/resources/JSON.ts
  packages/backend/src/api/resources/Organization.ts
  packages/backend/src/api/resources/OrganizationMembership.ts
  packages/backend/src/api/resources/User.ts
  packages/clerk-js/src/core/resources/Organization.test.ts
  packages/clerk-js/src/core/resources/Organization.ts
  packages/clerk-js/src/core/resources/OrganizationMembership.test.ts
  packages/clerk-js/src/core/resources/OrganizationMembership.ts
  packages/clerk-js/src/core/resources/User.ts
  packages/clerk-js/src/core/resources/__snapshots__/Organization.test.ts.snap
  packages/clerk-js/src/core/resources/__snapshots__/OrganizationMembership.test.ts.snap
  packages/types/src/json.ts
  packages/types/src/organization.ts
  packages/types/src/session.ts
  packages/types/src/user.ts
Labels: types, clerk-js, backend

#1548 chore(clerk-js): Eliminate error for invalid props
  .changeset/twelve-weeks-poke.md
  packages/clerk-js/src/ui/components/OrganizationProfile/InviteMembersForm.tsx
  packages/clerk-js/src/ui/utils/useFormControl.ts
Labels: clerk-js

#1449 feat(clerk-js,types): Introduce logoLinkUrl prop in appearance
  .changeset/wise-badgers-cover.md
  packages/clerk-js/src/ui/customizables/__tests__/parseAppearance.test.tsx
  packages/clerk-js/src/ui/customizables/parseAppearance.ts
  packages/clerk-js/src/ui/elements/ApplicationLogo.tsx
  packages/types/src/appearance.ts
Labels: types, clerk-js, needs-accounts 🚧

#1550 feat(types,clerk-js): Introduce UserOrganizationInvitation.accept()
  .changeset/green-rocks-refuse.md
  packages/clerk-js/src/core/resources/UserOrganizationInvitation.ts
  packages/types/src/userOrganizationInvitation.ts
Labels: types, needs-backend 🚧, clerk-js

#1551 fix(clerk-js): Internal Button adjust position for spinner container
  .changeset/beige-readers-rhyme.md
  packages/clerk-js/src/ui/primitives/Button.tsx
Labels: clerk-js

#1552 fix(clerk-js,types): Only public organization data in UserOrganizationInvitation
  .changeset/six-guests-admire.md
  packages/clerk-js/src/core/resources/UserOrganizationInvitation.ts
  packages/types/src/json.ts
  packages/types/src/userOrganizationInvitation.ts
Labels: types, clerk-js

#1553 test(clerk-js): Add hasImage in fake org creator
  .changeset/fluffy-goats-bathe.md
  packages/clerk-js/src/ui/components/CreateOrganization/__tests__/CreateOrganization.test.tsx
Labels: clerk-js

#1470 feat(remix,backend): Repo level config for remix
  .changeset/nine-peas-care.md
  .changeset/wicked-schools-tell.md
  packages/backend/src/tokens/authStatus.ts
  packages/backend/src/tokens/request.test.ts
  packages/backend/src/tokens/request.ts
  packages/nextjs/src/utils/mergeNextClerkPropsWithEnv.ts
  packages/remix/src/client/RemixClerkProvider.tsx
  packages/remix/src/client/types.ts
  packages/remix/src/ssr/authenticateRequest.ts
  packages/remix/src/ssr/types.ts
  packages/remix/src/ssr/utils.ts
Labels: nextjs, remix, backend

#1558 feat(localizations): Add uk-UA localization
  .changeset/real-pigs-roll.md
  packages/localizations/src/index.ts
  packages/localizations/src/uk-UA.ts
  packages/react/src/contexts/__tests__/ClerkProvider.test.tsx
Labels: react, localizations

#1559 feat(localizations): Improved and fixed some translations in uk-UA localization
  .changeset/nervous-shrimps-invent.md
  packages/localizations/src/uk-UA.ts
Labels: localizations

#1503 Construct urls based on Organization or User <OrganizationSwitcher/>
  .changeset/strange-owls-behave.md
  packages/clerk-js/src/ui/components/CreateOrganization/CreateOrganizationPage.tsx
  packages/clerk-js/src/ui/components/CreateOrganization/__tests__/CreateOrganization.test.tsx
  packages/clerk-js/src/ui/components/OrganizationSwitcher/OrganizationSwitcherPopover.tsx
  packages/clerk-js/src/ui/components/OrganizationSwitcher/__tests__/OrganizationSwitcher.test.tsx
  packages/clerk-js/src/ui/contexts/ClerkUIComponentsContext.tsx
  packages/clerk-js/src/utils/__tests__/dynamicParamParser.test.ts
  packages/clerk-js/src/utils/dynamicParamParser.ts
  packages/clerk-js/src/utils/index.ts
  packages/types/src/clerk.ts
Labels: types, clerk-js

#1565 [ORG-61] feat(clerk-js): Support radio buttons in FormControl
  .changeset/loud-foxes-sniff.md
  packages/clerk-js/src/ui/elements/FormControl.tsx
  packages/clerk-js/src/ui/primitives/FormLabel.tsx
  packages/clerk-js/src/ui/utils/useFormControl.ts
Labels: clerk-js

#1564 fix(types): Add hasImage to SignIn#UserData
  .changeset/cuddly-tips-compete.md
  packages/types/src/signIn.ts
Labels: types

#1520 ORG-83 userInvitations in useOrganizationList
  .changeset/orange-tigers-act.md
  package-lock.json
  packages/clerk-js/src/core/resources/UserOrganizationInvitation.ts
  packages/clerk-js/src/ui/contexts/CoreClerkContextWrapper.tsx
  packages/clerk-js/src/ui/contexts/CoreOrganizationContext.tsx
  packages/clerk-js/src/ui/hooks/__tests__/useCoreOrganizationList.test.tsx
  packages/clerk-js/src/ui/utils/test/createFixtures.tsx
  packages/clerk-js/src/utils/pagesToOffset.ts
  packages/react/src/contexts/ClerkContextProvider.tsx
  packages/react/src/contexts/OrganizationContext.tsx
  packages/shared/package.json
  packages/shared/src/hooks/contexts.tsx
  packages/shared/src/hooks/types.ts
  packages/shared/src/hooks/useOrganizationList.tsx
  packages/shared/src/index.ts
  packages/types/src/user.ts
Labels: types, clerk-js, react

#1445 Introduce validatePassword for SignIn and SignUp resources
  .changeset/nice-experts-hope.md
  packages/clerk-js/src/core/resources/SignIn.ts
  packages/clerk-js/src/core/resources/SignUp.ts
  packages/clerk-js/src/ui/hooks/index.ts
  packages/clerk-js/src/ui/hooks/usePassword.ts
  packages/clerk-js/src/ui/hooks/usePasswordComplexity.ts
  packages/clerk-js/src/ui/utils/index.ts
  packages/clerk-js/src/utils/passwords/complexity.ts
  packages/clerk-js/src/utils/passwords/password.ts
  packages/clerk-js/src/utils/passwords/strength.ts
  packages/clerk-js/src/utils/zxcvbn.ts
  packages/types/src/index.ts
  packages/types/src/passwords.ts
  packages/types/src/signIn.ts
  packages/types/src/signUp.ts
  playground/nextjs/pages/custom/forgotPassword.tsx
Labels: types, clerk-js, playground

#1570 fix(clerk-js): Avoid littering dom with radioOptions prop
  .changeset/cyan-clouds-suffer.md
  packages/clerk-js/src/ui/elements/FormControl.tsx
Labels: clerk-js

#1568 3️⃣[ORG-61] chore(shared): Extract page and infinite logic to `usePagesOrInfinite`
  .changeset/wise-actors-boil.md
  packages/clerk-js/src/ui/hooks/__tests__/useCoreOrganizationList.test.tsx
  packages/shared/src/hooks/useOrganizationList.tsx
  packages/shared/src/hooks/usePagesOrInfinite.ts
Labels: clerk-js

#1569 4️⃣ [ORG-61] Introduce OrganizationDomain and return domains from useOrganization
  .changeset/mighty-boxes-reply.md
  packages/clerk-js/src/core/resources/Organization.ts
  packages/clerk-js/src/core/resources/OrganizationDomain.test.ts
  packages/clerk-js/src/core/resources/OrganizationDomain.ts
  packages/clerk-js/src/core/resources/UserOrganizationInvitation.ts
  packages/clerk-js/src/core/resources/__snapshots__/Organization.test.ts.snap
  packages/clerk-js/src/core/resources/__snapshots__/OrganizationDomain.test.ts.snap
  packages/clerk-js/src/core/resources/__snapshots__/OrganizationMembership.test.ts.snap
  packages/clerk-js/src/core/resources/internal.ts
  packages/shared/src/hooks/useOrganization.tsx
  packages/types/src/index.ts
  packages/types/src/json.ts
  packages/types/src/organization.ts
  packages/types/src/organizationDomain.ts
Labels: types, clerk-js

#1554 🚨2️⃣[ORG-59] List invitations in `<OrganizationSwitcher />`
  .changeset/shaggy-terms-train.md
  packages/clerk-js/src/ui/components/OrganizationSwitcher/OrganizationSwitcher.tsx
  packages/clerk-js/src/ui/components/OrganizationSwitcher/OtherOrganizationActions.tsx
  packages/clerk-js/src/ui/components/OrganizationSwitcher/UserInvitationList.tsx
  packages/clerk-js/src/ui/components/OrganizationSwitcher/UserMembershipList.tsx
  packages/clerk-js/src/ui/components/OrganizationSwitcher/__tests__/OrganizationSwitcher.test.tsx
  packages/clerk-js/src/ui/components/OrganizationSwitcher/__tests__/utlis.ts
  packages/clerk-js/src/ui/customizables/elementDescriptors.ts
  packages/clerk-js/src/ui/elements/OrganizationPreview.tsx
  packages/clerk-js/src/ui/hooks/index.ts
  packages/clerk-js/src/ui/hooks/useInView.ts
  packages/clerk-js/src/ui/hooks/useLoadingStatus.ts
  packages/localizations/src/en-US.ts
  packages/types/src/appearance.ts
  packages/types/src/json.ts
  packages/types/src/localization.ts
  packages/types/src/userOrganizationInvitation.ts
Labels: types, clerk-js, localizations

#1560 5️⃣ <OrganizationProfile/> List, add, edit, remove Domains
  .changeset/nervous-lizards-repeat.md
  packages/clerk-js/src/core/resources/OrganizationDomain.ts
  packages/clerk-js/src/core/resources/__snapshots__/OrganizationDomain.test.ts.snap
  packages/clerk-js/src/ui/common/CalloutWithAction.tsx
  packages/clerk-js/src/ui/common/index.ts
  packages/clerk-js/src/ui/components/OrganizationProfile/AddDomainPage.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/DomainList.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationMembers.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationProfileNavbar.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationProfileRoutes.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationSettings.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/RemoveDomainPage.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/VerifiedDomainPage.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/VerifyDomainPage.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/__tests__/OrganizationMembers.test.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/__tests__/OrganizationSettings.test.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/__tests__/utils.ts
  packages/clerk-js/src/ui/elements/BlockWithAction.tsx
  packages/clerk-js/src/ui/elements/index.ts
  packages/clerk-js/src/ui/hooks/index.ts
  packages/clerk-js/src/ui/hooks/useFetch.ts
  packages/localizations/src/en-US.ts
  packages/types/src/appearance.ts
  packages/types/src/localization.ts
  packages/types/src/organizationDomain.ts
Labels: types, clerk-js, localizations

#1572 feat(clerk-js,shared): Introduce OrganizationMembershipRequest and membershipRequests within useOrganization
  .changeset/eighty-planets-sit.md
  packages/clerk-js/src/core/resources/Organization.ts
  packages/clerk-js/src/core/resources/OrganizationMembershipRequest.test.ts
  packages/clerk-js/src/core/resources/OrganizationMembershipRequest.ts
  packages/clerk-js/src/core/resources/__snapshots__/Organization.test.ts.snap
  packages/clerk-js/src/core/resources/__snapshots__/OrganizationMembership.test.ts.snap
  packages/clerk-js/src/core/resources/__snapshots__/OrganizationMembershipRequest.test.ts.snap
  packages/clerk-js/src/core/resources/internal.ts
  packages/shared/src/hooks/useOrganization.tsx
  packages/types/src/index.ts
  packages/types/src/json.ts
  packages/types/src/organization.ts
  packages/types/src/organizationMembershipRequest.ts
Labels: types, clerk-js

#1576 feat(clerk-js,types,localizations): Introduces Membership Requests in <OrganizationProfile />
  .changeset/giant-timers-film.md
  packages/clerk-js/bundlewatch.config.json
  packages/clerk-js/src/core/resources/OrganizationMembershipRequest.ts
  packages/clerk-js/src/core/resources/__snapshots__/OrganizationMembershipRequest.test.ts.snap
  packages/clerk-js/src/ui/components/OrganizationProfile/ActiveMembersList.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/InvitedMembersList.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/MemberListTable.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationMembers.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationMembersTabInvitations.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationMembersTabRequests.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/RequestToJoinList.tsx
  packages/clerk-js/src/utils/pagesToOffset.ts
  packages/localizations/src/en-US.ts
  packages/shared/src/hooks/useOrganization.tsx
  packages/types/src/localization.ts
  packages/types/src/organization.ts
  packages/types/src/organizationDomain.ts
Labels: types, clerk-js, localizations

#1574 feat(types,clerk-js): Introduce OrganizationSuggestion resource and types
  .changeset/orange-taxis-eat.md
  packages/clerk-js/src/core/resources/OrganizationSuggestion.test.ts
  packages/clerk-js/src/core/resources/OrganizationSuggestion.ts
  packages/clerk-js/src/core/resources/User.ts
  packages/clerk-js/src/core/resources/__snapshots__/OrganizationSuggestion.test.ts.snap
  packages/clerk-js/src/core/resources/internal.ts
  packages/shared/src/hooks/useOrganizationList.tsx
  packages/types/src/index.ts
  packages/types/src/json.ts
  packages/types/src/organizationSuggestion.ts
  packages/types/src/user.ts
Labels: types, clerk-js

#1579 USR-237 fix(clerk-js): Change input type in userProfle email section
  .changeset/slow-chicken-suffer.md
  packages/clerk-js/src/ui/components/UserProfile/EmailPage.tsx
Labels: clerk-js

#1580 USR-238 fix(clerk-js): Allow to delete username if optional
  .changeset/red-deers-happen.md
  packages/clerk-js/src/ui/components/UserProfile/UsernamePage.tsx
Labels: clerk-js

#1581 feat(types,clerk-js): Show/Hide organization domains based on instance settings
  .changeset/dry-worms-lick.md
  packages/clerk-js/src/core/resources/OrganizationSettings.ts
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationSettings.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/VerifiedDomainPage.tsx
  packages/types/src/organizationSettings.ts
Labels: types, clerk-js

#1583 feat(clerk-js): Implement resend OTP functionality for Organization Domain
  .changeset/pink-keys-shake.md
  packages/clerk-js/src/ui/components/OrganizationProfile/VerifyDomainPage.tsx
Labels: clerk-js

#1585 Fix OrganizationProfile minor UI discrepancies
  .changeset/flat-timers-bow.md
  packages/clerk-js/src/ui/components/OrganizationProfile/AddDomainPage.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/MemberListTable.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationSettings.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/VerifiedDomainPage.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/VerifyDomainPage.tsx
  packages/clerk-js/src/ui/customizables/elementDescriptors.ts
  packages/clerk-js/src/ui/elements/Section.tsx
  packages/localizations/src/en-US.ts
  packages/types/src/appearance.ts
  packages/types/src/localization.ts
Labels: types, clerk-js, localizations

#1588 fix(types,clerk-js): Replace Callout with "Add email domain" in Organ…
  .changeset/loud-fireants-joke.md
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationMembersTabInvitations.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationMembersTabRequests.tsx
  packages/localizations/src/en-US.ts
  packages/types/src/localization.ts
Labels: types, clerk-js, localizations

#1582 feat(clerk-js): Improve the UI of radio buttons
  .changeset/spotty-seas-reflect.md
  packages/clerk-js/src/ui/components/OrganizationProfile/DomainList.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/EnrollmentBadge.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/VerifiedDomainPage.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/VerifyDomainPage.tsx
  packages/clerk-js/src/ui/customizables/elementDescriptors.ts
  packages/clerk-js/src/ui/elements/FormControl.tsx
  packages/clerk-js/src/ui/elements/RadioGroup.tsx
  packages/clerk-js/src/ui/utils/useFormControl.ts
  packages/localizations/src/en-US.ts
  packages/types/src/appearance.ts
  packages/types/src/localization.ts
Labels: types, clerk-js, localizations

#1587 feat(types,clerk-js): Show/Hide Invitations/Requests OrgProfile based…
  .changeset/lucky-plums-rescue.md
  packages/clerk-js/src/ui/components/OrganizationProfile/AddDomainPage.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationMembers.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationMembersTabInvitations.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/RemoveDomainPage.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/VerifyDomainPage.tsx
Labels: clerk-js

#1589 fix(clerk-js): Clear formField error when submitting in `AddDomainPage`
  .changeset/selfish-avocados-serve.md
  packages/clerk-js/src/ui/components/OrganizationProfile/AddDomainPage.tsx
Labels: clerk-js

#1598 Limit debug logs to 4096 bytes on vercel to avoid errors
  .changeset/mean-walls-press.md
  packages/nextjs/src/utils/debugLogger.test.ts
  packages/nextjs/src/utils/debugLogger.ts
Labels: nextjs

#1605 feat(clerk-js): OrganizationSwitcher display accepted and pending suggestions
  .changeset/serious-olives-do.md
  packages/clerk-js/src/core/fapiClient.test.ts
  packages/clerk-js/src/core/fapiClient.ts
  packages/clerk-js/src/ui/components/OrganizationSwitcher/OrganizationSwitcher.tsx
  packages/clerk-js/src/ui/components/OrganizationSwitcher/UserInvitationList.tsx
  packages/clerk-js/src/ui/components/OrganizationSwitcher/UserSuggestionList.tsx
  packages/clerk-js/src/ui/components/OrganizationSwitcher/utils.ts
  packages/localizations/src/en-US.ts
  packages/types/src/localization.ts
  packages/types/src/user.ts
Labels: types, clerk-js, localizations

#1594 fix(clerk-js): Display Breadcrumbs based on leading segment, not last
  .changeset/khaki-frogs-clap.md
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationProfileNavbar.tsx
  packages/clerk-js/src/ui/elements/Breadcrumbs.tsx
Labels: clerk-js

#1595 fix(clerk-js): Remove invitation from list as soon is accepted
  .changeset/weak-snakes-itch.md
  packages/clerk-js/src/ui/components/OrganizationSwitcher/UserInvitationList.tsx
  packages/clerk-js/src/ui/elements/contexts/CardStateContext.tsx
Labels: clerk-js

#1606 feat(clerk-js): Support Paginated response in OrganizationMembership.retrieve & `userMemberships` in useOrganizationList
  .changeset/gold-jeans-turn.md
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/resources/OrganizationMembership.ts
  packages/clerk-js/src/core/resources/User.ts
  packages/clerk-js/src/ui/components/OrganizationSwitcher/utils.ts
  packages/shared/src/hooks/useOrganizationList.tsx
  packages/types/src/user.ts
Labels: types, clerk-js

#1612 feat(clerk-js): Reject a membership request as an organization admin
  .changeset/rotten-rules-argue.md
  packages/clerk-js/src/core/resources/OrganizationMembershipRequest.ts
  packages/clerk-js/src/core/resources/__snapshots__/OrganizationMembershipRequest.test.ts.snap
  packages/clerk-js/src/ui/components/OrganizationProfile/InvitedMembersList.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/RequestToJoinList.tsx
  packages/clerk-js/src/ui/elements/UserPreview.tsx
  packages/clerk-js/src/ui/elements/contexts/CardStateContext.tsx
  packages/localizations/src/en-US.ts
  packages/types/src/localization.ts
  packages/types/src/organizationMembershipRequest.ts
Labels: types, clerk-js, localizations

#1609 feat(localizations): Update Korean Translation: Added Missing Account Deletion Description
  .changeset/pink-suns-fly.md
  packages/localizations/src/ko-KR.ts
Labels: community, localizations

#1617 feat(clerk-js): Introduce InputGroup internal form component
  .changeset/tall-socks-teach.md
  packages/clerk-js/bundlewatch.config.json
  packages/clerk-js/src/ui/components/OrganizationProfile/VerifyDomainPage.tsx
  packages/clerk-js/src/ui/customizables/elementDescriptors.ts
  packages/clerk-js/src/ui/elements/FormControl.tsx
  packages/clerk-js/src/ui/elements/InputGroup.tsx
  packages/clerk-js/src/ui/utils/useFormControl.ts
  packages/localizations/src/en-US.ts
  packages/types/src/appearance.ts
  packages/types/src/localization.ts
Labels: types, clerk-js, localizations

#1607 fix(remix): Default to path routing if repo level config is used
  .changeset/fuzzy-ears-hide.md
  packages/nextjs/src/client-boundary/NextOptionsContext.tsx
  packages/nextjs/src/utils/mergeNextClerkPropsWithEnv.ts
  packages/remix/src/client/RemixClerkProvider.tsx
  packages/remix/src/client/RemixOptionsContext.tsx
  packages/remix/src/client/index.ts
  packages/remix/src/client/types.ts
  packages/remix/src/client/uiComponents.tsx
  playground/remix-node/app/routes/sign-in.$.tsx
  playground/remix-node/app/routes/sign-up.$.tsx
Labels: nextjs, remix, playground

#1621 Update copy in OrganizationProfile/Members tabs
  .changeset/new-schools-swim.md
  packages/clerk-js/src/ui/common/BlockButtons.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationMembersTabInvitations.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationMembersTabRequests.tsx
  packages/localizations/src/en-US.ts
  packages/types/src/localization.ts
Labels: types, clerk-js, localizations

#1563 feat(clerk-js): Improve redirects on OAuth callback
  .changeset/tender-icons-bake.md
  packages/clerk-js/src/core/clerk.test.ts
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/ui/components/SignUp/SignUp.tsx
  packages/clerk-js/src/ui/components/SignUp/__tests__/SignUpContinue.test.tsx
  packages/clerk-js/src/ui/components/SignUp/signUpFormHelpers.ts
  packages/types/src/clerk.ts
Labels: types, clerk-js

#1626 fix emailLink.formTitle for pt-BR
  packages/localizations/src/pt-BR.ts
Labels: localizations

#1628 Test case for displaying suggestions in Organization switcher
  .changeset/giant-rocks-know.md
  packages/clerk-js/src/ui/components/CreateOrganization/__tests__/CreateOrganization.test.tsx
  packages/clerk-js/src/ui/components/OrganizationSwitcher/__tests__/OrganizationSwitcher.test.tsx
  packages/clerk-js/src/ui/components/OrganizationSwitcher/__tests__/utlis.ts
  packages/clerk-js/src/ui/hooks/__tests__/useCoreOrganizationList.test.tsx
Labels: clerk-js

#1630 feat(localization): translate deleteOrganization and domainSection objects to Korean
  .changeset/slimy-rules-knock.md
  packages/localizations/src/ko-KR.ts
Labels: localizations

#1632 feat(clerk-js): Delete pending invitations when updating enrolment mode of domain
  .changeset/shy-readers-visit.md
  packages/clerk-js/src/ui/components/OrganizationProfile/VerifiedDomainPage.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/VerifyDomainPage.tsx
  packages/clerk-js/src/ui/elements/BlockWithAction.tsx
  packages/clerk-js/src/ui/elements/BlockWithTrailingComponent.tsx
  packages/clerk-js/src/ui/elements/ContentPage.tsx
  packages/clerk-js/src/ui/elements/index.ts
  packages/localizations/src/en-US.ts
  packages/types/src/appearance.ts
  packages/types/src/localization.ts
  packages/types/src/organizationDomain.ts
Labels: types, clerk-js, localizations

#1631 fix(clerk-js): Mutate membership requests after accept or reject
  .changeset/curly-carpets-visit.md
  packages/clerk-js/src/ui/components/OrganizationProfile/RequestToJoinList.tsx
Labels: clerk-js

#1627 Invitation+Suggestion count in OrganizationSwitcherTrigger
  .changeset/healthy-carrots-turn.md
  packages/clerk-js/src/ui/components/OrganizationSwitcher/OrganizationSwitcher.tsx
  packages/clerk-js/src/ui/components/OrganizationSwitcher/OrganizationSwitcherTrigger.tsx
  packages/clerk-js/src/ui/components/OrganizationSwitcher/__tests__/OrganizationSwitcher.test.tsx
  packages/clerk-js/src/ui/customizables/elementDescriptors.ts
  packages/clerk-js/src/ui/customizables/index.ts
  packages/clerk-js/src/ui/hooks/useDelayedVisibility.ts
  packages/clerk-js/src/ui/primitives/NotificationBadge.tsx
  packages/clerk-js/src/ui/primitives/index.ts
  packages/clerk-js/src/ui/styledSystem/animations.ts
  packages/types/src/appearance.ts
Labels: types, clerk-js

#1633 feat(clerk-js): Share breadcrumb title in all Verified domain flows
  .changeset/cool-bikes-kick.md
  packages/clerk-js/bundlewatch.config.json
  packages/clerk-js/src/ui/common/RemoveResourcePage.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/AddDomainPage.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationProfileNavbar.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/RemoveDomainPage.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/VerifiedDomainPage.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/VerifyDomainPage.tsx
  packages/clerk-js/src/ui/elements/ContentPage.tsx
  packages/localizations/src/en-US.ts
  packages/types/src/localization.ts
Labels: types, clerk-js, localizations

#1624 feat(clerk-js): Add tabs to VerifiedDomainPage
  .changeset/forty-cobras-confess.md
  packages/clerk-js/src/ui/components/OrganizationProfile/AddDomainPage.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/RemoveDomainPage.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/VerifiedDomainPage.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/VerifyDomainPage.tsx
  packages/clerk-js/src/ui/elements/FormControl.tsx
  packages/localizations/src/en-US.ts
Labels: clerk-js, localizations

#1635 test(clerk-js): OrganizationMembers test cases for the "requests" tab
  .changeset/wicked-scissors-tell.md
  packages/clerk-js/src/ui/components/OrganizationProfile/__tests__/OrganizationMembers.test.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/__tests__/utils.ts
  packages/clerk-js/src/ui/utils/test/fixtureHelpers.ts
  packages/clerk-js/src/ui/utils/test/fixtures.ts
Labels: clerk-js

#1591 build(repo): Stop tsc --watch from clearing the terminal
  .changeset/poor-berries-wave.md
  packages/types/package.json
Labels: types

#1586 Update remix-dev dependency, attempt to fix integration tests
  integration/presets/index.ts
  integration/templates/remix-node/package-lock.json
  integration/templates/remix-node/package.json
Labels: integration

#1636 Update lock-threads.yml
  .github/workflows/lock-threads.yml
Labels: actions

#1623 fix(clerk-js): Ensure new session is touched when setActive is called from non-standard browser
  .changeset/serious-dragons-provide.md
  packages/clerk-js/src/core/clerk.test.ts
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/testUtils.ts
Labels: clerk-js

#1391 fix(clerk-js,types): Use buildUrlWithAuth for all links/navigations
  .changeset/shiny-ravens-lay.md
  packages/clerk-js/src/core/clerk.test.ts
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/resources/SignIn.ts
  packages/clerk-js/src/core/resources/SignUp.ts
  packages/clerk-js/src/ui/components/SignIn/SignInStart.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpContinue.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpStart.tsx
  packages/clerk-js/src/ui/contexts/ClerkUIComponentsContext.tsx
  packages/clerk-js/src/ui/customizables/index.ts
  packages/clerk-js/src/ui/elements/PoweredByClerk.tsx
  packages/clerk-js/src/ui/elements/index.ts
  packages/clerk-js/src/ui/elements/withAuthHref.tsx
  packages/clerk-js/src/ui/primitives/Link.tsx
  packages/shared/src/utils/url.test.ts
  packages/shared/src/utils/url.ts
  playground/nextjs/pages/_app.tsx
Labels: clerk-js, playground

#1650 Temp: Revert expo fix
  .changeset/thick-timers-wave.md
  packages/clerk-js/jest.config.js
  packages/clerk-js/setupJest.ts
  packages/clerk-js/src/__tests__/headless.test.ts
  packages/clerk-js/webpack.config.js
Labels: clerk-js

#1649 Version Packages
  .changeset/thick-timers-wave.md
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
Labels: clerk-js, expo, chrome-extension

#1638 fix(clerk-js): Set SameSite=Lax for db cookie, so that it can be read…
  .changeset/cool-lamps-cry.md
  packages/clerk-js/src/core/devBrowserHandler.ts
  packages/clerk-js/src/utils/cookies/handler.ts
Labels: clerk-js

#1660 chore(repo): Update the workflow id triggered by release-prod
  .github/workflows/release-prod.yml
Labels: actions

#1659 Version Packages
  .changeset/brown-knives-crash.md
  .changeset/cool-lamps-cry.md
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
Labels: clerk-js, expo, chrome-extension

#1648 feat(clerk-js): Update `personalWorkspace` to display Personal account
  .changeset/little-cobras-wash.md
  packages/clerk-js/src/ui/components/OrganizationSwitcher/__tests__/OrganizationSwitcher.test.tsx
  packages/localizations/src/en-US.ts
Labels: clerk-js, localizations

#1658 Consume CAPTCHA errors during sign up and apply retries in case of error
  .changeset/nice-hotels-smoke.md
  packages/clerk-js/src/core/errors.ts
  packages/clerk-js/src/core/resources/SignUp.ts
  packages/clerk-js/src/utils/__tests__/captcha.test.ts
  packages/clerk-js/src/utils/captcha.ts
Labels: clerk-js

#1666 fix(clerk-js): Make sure CAPTCHA error code is always of type string
  .changeset/dry-rockets-whisper.md
  packages/clerk-js/src/utils/captcha.ts
Labels: clerk-js
