Repository clerk/javascript, pull requests merged in 2023-11, with the labels that each got.

#1995 refactor(types): Simplify WithOptions type generic
  .changeset/two-terms-speak.md
  packages/types/src/appearance.ts
Labels: types

#1996 fix(repo): Incorrect path format for public paths in nextjs playground
  .changeset/quick-trains-rush.md
  playground/nextjs/middleware.ts
Labels: playground

#1990 test(clerk-js): Clean up act() errors
  .changeset/pretty-mice-share.md
  packages/clerk-js/src/ui/components/OrganizationProfile/InviteMembersForm.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/__tests__/LeaveOrganizationPage.test.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/__tests__/OrganizationMembers.test.tsx
  packages/clerk-js/src/ui/elements/FormControl.tsx
  packages/clerk-js/src/ui/primitives/hooks/useFormControl.tsx
Labels: clerk-js

#1998 chore(repo): Use RUNNER_NORMAL for non-blocking workflows
  .changeset/flat-ants-worry.md
  .github/workflows/base-build.yml
  .github/workflows/base-e2e.yml
  .github/workflows/ci.yml
  .github/workflows/labeler.yml
  .github/workflows/nightly-checks.yml
  .github/workflows/release-canary.yml
  .github/workflows/release-prod.yml
  .github/workflows/release-staging.yml
Labels: actions

#1997 fix(nextjs): Import `deprecatedObjectProperty` from subpath
  .changeset/twenty-turkeys-tell.md
  packages/nextjs/src/server/getAuth.ts
Labels: nextjs

#1970 chore(repo): Enter changesets Pre mode (for v5)
  .changeset/friendly-vans-develop.md
  .changeset/pre.json
  .changeset/thin-phones-drop.md
  .changeset/tough-roses-hunt.md
  .github/workflows/ci.yml
  .github/workflows/release-canary.yml
  .github/workflows/release-prod.yml
  .github/workflows/release-staging.yml
  docs/PUBLISH.md
  package.json
  scripts/canary.mjs
Labels: actions

#1976 chore(fastify): Drop deprecations
  .changeset/lovely-mirrors-remember.md
  packages/fastify/jest.setup.js
  packages/fastify/src/__snapshots__/clerkClient.test.ts.snap
  packages/fastify/src/__snapshots__/constants.test.ts.snap
  packages/fastify/src/constants.test.ts
  packages/fastify/src/constants.ts
  packages/fastify/src/withClerkMiddleware.test.ts
  packages/fastify/src/withClerkMiddleware.ts
Labels: fastify, v5-release

#1991 chore(clerk-expo): Drop deprecations
  .changeset/gorgeous-baboons-float.md
  packages/expo/src/ClerkProvider.tsx
  packages/expo/src/index.ts
Labels: expo, v5-release

#1992 chore(gatsby-plugin-clerk): Drop deprecations
  .changeset/long-icons-share.md
  packages/gatsby-plugin-clerk/src/constants.ts
  packages/gatsby-plugin-clerk/src/gatsby-browser.tsx
  packages/gatsby-plugin-clerk/src/gatsby-ssr.tsx
  packages/gatsby-plugin-clerk/src/ssr/authenticateRequest.ts
  packages/gatsby-plugin-clerk/src/ssr/clerkClient.ts
  packages/gatsby-plugin-clerk/src/ssr/withServerAuth.ts
Labels: gatsby, v5-release

#2002 fix(nextjs,remix,clerk-sdk-node,shared): Use isTruthy helper
  .changeset/fifty-rats-rhyme.md
  packages/nextjs/src/server/constants.ts
  packages/nextjs/src/utils/mergeNextClerkPropsWithEnv.ts
  packages/remix/src/ssr/authenticateRequest.ts
  packages/sdk-node/src/utils.ts
  packages/shared/src/__tests__/underscore.test.ts
  packages/shared/src/underscore.ts
Labels: nextjs, remix, sdk-node

#1994 feat(clerk-js): Enable element descriptors for active devices [SDK-859]
  .changeset/mean-houses-juggle.md
  packages/clerk-js/src/ui/components/UserProfile/ActiveDevicesSection.tsx
  packages/clerk-js/src/ui/customizables/elementDescriptors.ts
  packages/clerk-js/src/ui/elements/Accordion.tsx
  packages/types/src/appearance.ts
Labels: types, clerk-js

#2009 Backport CI workflow to release/v4
  .changeset/blue-lies-drop.md
  .github/actions/init/action.yml
  .github/actions/setup/action.yml
  .github/actions/verdaccio/action.yml
  .github/workflows/base-changeset.yml
  .github/workflows/base-prettier.yml
  .github/workflows/base-registry.yml
  .github/workflows/checks.yml
  .github/workflows/ci.yml
  package-lock.json
  package.json
  turbo.json
  verdaccio.yaml
Labels: actions

#2008 refactor(types): Simplify WithOptions type generic (#1995)
  .changeset/two-terms-speak.md
  packages/types/src/appearance.ts
Labels: types, cherry

#2005 fix(chrome-extension,nextjs,react): Ignore tests from build output
  .changeset/lovely-plums-sin.md
  packages/chrome-extension/tsup.config.ts
  packages/nextjs/tsup.config.ts
  packages/react/tsup.config.ts
Labels: nextjs, react, chrome-extension

#1989 Version Packages - V4
  .changeset/blue-lies-drop.md
  .changeset/curly-news-push.md
  .changeset/fair-cameras-boil.md
  .changeset/flat-pots-hear.md
  .changeset/green-spies-leave.md
  .changeset/mean-houses-juggle.md
  .changeset/sour-comics-stare.md
  .changeset/three-rings-wash.md
  .changeset/twenty-turkeys-tell.md
  .changeset/two-terms-speak.md
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/CHANGELOG.md
  packages/gatsby-plugin-clerk/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, sdk-node, expo, chrome-extension, gatsby, themes

#2011 fix(clerk-react): Use semver pkg
  .changeset/poor-kings-marry.md
  package-lock.json
  packages/react/package.json
  packages/react/src/utils/versionSelector.ts
Labels: react

#2012 chore(repo): Fix tests display name
  .changeset/loud-lions-compete.md
  packages/chrome-extension/jest.config.js
  packages/clerk-js/jest.config.js
  packages/fastify/jest.config.js
  packages/nextjs/jest.config.js
  packages/react/jest.config.js
  packages/sdk-node/jest.config.js
  packages/shared/jest.config.js
Labels: clerk-js, nextjs, react, fastify, sdk-node, chrome-extension

#1745 feat(shared): Organization hooks with `setData` and `revalidate`
  .changeset/blue-ghosts-float.md
  packages/clerk-js/src/ui/components/OrganizationList/UserInvitationList.tsx
  packages/clerk-js/src/ui/components/OrganizationList/UserSuggestionList.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/ActiveMembersList.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/RemoveDomainPage.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/RequestToJoinList.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/VerifiedDomainPage.tsx
  packages/clerk-js/src/ui/components/OrganizationSwitcher/UserInvitationSuggestionList.tsx
  packages/clerk-js/src/ui/components/OrganizationSwitcher/utils.ts
  packages/shared/src/react/hooks/useOrganization.tsx
  packages/shared/src/react/hooks/useOrganizationList.tsx
  packages/shared/src/react/hooks/usePagesOrInfinite.ts
  packages/shared/src/react/types.ts
Labels: clerk-js

#1913 fix(clerk-js): Re-initialize Client singleton instance on Client destroy
  .changeset/soft-birds-thank.md
  packages/clerk-js/src/core/resources/Client.test.ts
  packages/clerk-js/src/core/resources/Client.ts
  packages/clerk-js/src/core/test/fixtures.ts
Labels: clerk-js

#2013 feat(shared): Organization hooks with `setData` and `revalidate` (#1745)
  .changeset/blue-ghosts-float.md
  packages/clerk-js/src/ui/components/OrganizationList/UserInvitationList.tsx
  packages/clerk-js/src/ui/components/OrganizationList/UserSuggestionList.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/ActiveMembersList.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/RemoveDomainPage.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/RequestToJoinList.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/VerifiedDomainPage.tsx
  packages/clerk-js/src/ui/components/OrganizationSwitcher/UserInvitationSuggestionList.tsx
  packages/clerk-js/src/ui/components/OrganizationSwitcher/utils.ts
  packages/shared/src/react/hooks/useOrganization.tsx
  packages/shared/src/react/hooks/useOrganizationList.tsx
  packages/shared/src/react/hooks/usePagesOrInfinite.ts
  packages/shared/src/react/types.ts
Labels: clerk-js, cherry

#2016 fix(clerk-js): Re-initialize Client singleton instance on Client destroy (#1913)
  .changeset/soft-birds-thank.md
  packages/clerk-js/src/core/resources/Client.test.ts
  packages/clerk-js/src/core/resources/Client.ts
  packages/clerk-js/src/core/test/fixtures.ts
Labels: clerk-js, cherry

#2025 Always load local clerk-js when running integration tests
  .github/workflows/base-e2e.yml
  .github/workflows/ci.yml
  .github/workflows/nightly-checks.yml
  integration/constants.ts
  integration/models/application.ts
  integration/models/longRunningApplication.ts
  integration/models/stateFile.ts
  integration/presets/envs.ts
  integration/scripts/awaitableTreekill.ts
  integration/scripts/clerkJsServer.ts
  integration/scripts/index.ts
  integration/templates/next-app-router/package-lock.json
  integration/templates/react-cra/src/index.tsx
  integration/templates/react-vite/src/main.tsx
  integration/templates/remix-node/app/root.tsx
  integration/tests/global.setup.ts
  integration/tests/global.teardown.ts
  package-lock.json
  package.json
Labels: actions, integration

#2027 chore(repo): Test
  .changeset/loud-countries-hang.md
  .github/workflows/ci.yml
  integration/models/application.ts
Labels: actions, integration

#2022 chore(remix): Drop deprecations
  .changeset/many-weeks-march.md
  packages/remix/src/client/RemixClerkProvider.tsx
  packages/remix/src/client/types.ts
  packages/remix/src/errors.ts
  packages/remix/src/ssr/authenticateRequest.ts
  packages/remix/src/ssr/getAuth.ts
  packages/remix/src/ssr/types.ts
  packages/remix/src/ssr/utils.ts
Labels: remix, v5-release

#2006 chore(nextjs): Drop deprecations
  .changeset/cyan-stingrays-own.md
  package-lock.json
  packages/nextjs/README.md
  packages/nextjs/api/package.json
  packages/nextjs/app-beta/client/package.json
  packages/nextjs/app-beta/package.json
  packages/nextjs/edge-middleware/package.json
  packages/nextjs/jest.setup.js
  packages/nextjs/package.json
  packages/nextjs/src/api/__tests__/__snapshots__/exports.test.ts.snap
  packages/nextjs/src/api/__tests__/exports.test.ts
  packages/nextjs/src/api/index.ts
  packages/nextjs/src/api/requireAuth.ts
  packages/nextjs/src/api/utils.ts
  packages/nextjs/src/api/withAuth.ts
  packages/nextjs/src/app-beta/ClerkProvider.tsx
  packages/nextjs/src/app-beta/__tests__/__snapshots__/exports.test.ts.snap
  packages/nextjs/src/app-beta/__tests__/exports.test.ts
  packages/nextjs/src/app-beta/auth.ts
  packages/nextjs/src/app-beta/clerkClient.ts
  packages/nextjs/src/app-beta/client/ClerkProvider.tsx
  packages/nextjs/src/app-beta/client/clerk-react.ts
  packages/nextjs/src/app-beta/client/index.ts
  packages/nextjs/src/app-beta/client/ui-components.tsx
  packages/nextjs/src/app-beta/control-components.tsx
  packages/nextjs/src/app-beta/currentUser.ts
  packages/nextjs/src/app-beta/index.ts
  packages/nextjs/src/client-boundary/hooks.ts
  packages/nextjs/src/edge-middleware/__tests__/__snapshots__/exports.test.ts.snap
  packages/nextjs/src/edge-middleware/__tests__/exports.test.ts
  packages/nextjs/src/edge-middleware/index.ts
  packages/nextjs/src/global.d.ts
  packages/nextjs/src/index.ts
  packages/nextjs/src/pages/__tests__/index.test.tsx
  packages/nextjs/src/server-helpers.client.ts
  packages/nextjs/src/server-helpers.server.ts
  packages/nextjs/src/server/__tests__/__snapshots__/exports.test.ts.snap
  packages/nextjs/src/server/__tests__/withClerkMiddleware.test.ts
  packages/nextjs/src/server/authMiddleware.test.ts
  packages/nextjs/src/server/authMiddleware.ts
  packages/nextjs/src/server/authenticateRequest.ts
  packages/nextjs/src/server/clerkClient.ts
  packages/nextjs/src/server/constants.ts
  packages/nextjs/src/server/errors.ts
  packages/nextjs/src/server/getAuth.ts
  packages/nextjs/src/server/index.ts
  packages/nextjs/src/server/redirect.ts
  packages/nextjs/src/server/utils.ts
  packages/nextjs/src/server/withClerkMiddleware.ts
  packages/nextjs/src/ssr/__tests__/__snapshots__/exports.test.ts.snap
  packages/nextjs/src/ssr/__tests__/exports.test.ts
  packages/nextjs/src/ssr/index.ts
  packages/nextjs/src/ssr/types.ts
  packages/nextjs/src/ssr/utils/authenticateRequest.ts
  packages/nextjs/src/ssr/utils/index.ts
  packages/nextjs/src/ssr/utils/injectAuthIntoRequest.ts
  packages/nextjs/src/ssr/utils/serializeProps.ts
  packages/nextjs/src/ssr/withServerSideAuth.ts
  packages/nextjs/src/utils/mergeNextClerkPropsWithEnv.ts
  packages/nextjs/ssr/package.json
Labels: nextjs, v5-release

#2028 chore(repo): Adjust release workflow
  .github/workflows/release.yml
Labels: actions

#2026 chore(repo): Upgrade action/checkout
  .changeset/six-kangaroos-serve.md
  .github/workflows/base-build.yml
  .github/workflows/base-e2e.yml
  .github/workflows/release-snapshot.yml
  .github/workflows/release-staging.yml
  .github/workflows/release.yml
Labels: actions

#2029 test(clerk-js): Test cases for parity between PlainInput and FormControl
  .changeset/gorgeous-insects-reply.md
  packages/clerk-js/src/ui/elements/__tests__/PlainInput.test.tsx
  packages/clerk-js/src/ui/primitives/hooks/useFormControl.tsx
Labels: clerk-js

#2032 chore(repo): Limit job/step execution time using timeout-minutes
  .changeset/selfish-eggs-sort.md
  .github/workflows/base-build.yml
  .github/workflows/base-e2e.yml
  .github/workflows/ci.yml
  .github/workflows/labeler.yml
  .github/workflows/lock-threads.yml
  .github/workflows/release-snapshot.yml
  .github/workflows/release-staging.yml
  .github/workflows/release.yml
Labels: actions

#1955 feat(nextjs,shared): Improve CLERK_API_URL default value
  .changeset/rude-jobs-yawn.md
  packages/clerk-js/src/utils/url.ts
  packages/fastify/src/constants.ts
  packages/gatsby-plugin-clerk/src/constants.ts
  packages/nextjs/src/server/constants.ts
  packages/nextjs/src/server/url.ts
  packages/remix/src/ssr/authenticateRequest.ts
  packages/shared/.gitignore
  packages/shared/package.json
  packages/shared/src/__tests__/apiUrlFromPublishableKey.test.ts
  packages/shared/src/apiUrlFromPublishableKey.ts
  packages/shared/src/constants.ts
  packages/shared/src/index.ts
  packages/shared/src/keys.ts
  packages/shared/src/url.ts
  packages/shared/src/utils/index.ts
  packages/shared/subpaths.mjs
Labels: clerk-js, nextjs, remix, fastify, gatsby

#2004 feat(clerk-js,types): Fetch custom roles and localize them
  .changeset/famous-forks-buy.md
  packages/clerk-js/src/core/resources/Organization.ts
  packages/clerk-js/src/core/resources/Permission.ts
  packages/clerk-js/src/core/resources/Role.ts
  packages/clerk-js/src/core/resources/__snapshots__/Organization.test.ts.snap
  packages/clerk-js/src/core/resources/__snapshots__/OrganizationMembership.test.ts.snap
  packages/clerk-js/src/ui/components/CreateOrganization/CreateOrganizationForm.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/ActiveMembersList.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/InviteMembersForm.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/InviteMembersPage.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/InvitedMembersList.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/MemberListTable.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/__tests__/InviteMembersPage.test.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/__tests__/OrganizationMembers.test.tsx
  packages/clerk-js/src/ui/hooks/useFetchRoles.ts
  packages/clerk-js/src/ui/utils/roleLocalizationKey.ts
  packages/types/src/index.ts
  packages/types/src/json.ts
  packages/types/src/localization.ts
  packages/types/src/organization.ts
  packages/types/src/organizationMembership.ts
  packages/types/src/permission.ts
  packages/types/src/role.ts
Labels: types, clerk-js

#2039 feat(clerk-js,types): Fetch custom roles and localize them (#2004)
  .changeset/famous-forks-buy.md
  packages/clerk-js/src/core/resources/Organization.ts
  packages/clerk-js/src/core/resources/Permission.ts
  packages/clerk-js/src/core/resources/Role.ts
  packages/clerk-js/src/core/resources/__snapshots__/Organization.test.ts.snap
  packages/clerk-js/src/core/resources/__snapshots__/OrganizationMembership.test.ts.snap
  packages/clerk-js/src/ui/components/CreateOrganization/CreateOrganizationForm.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/ActiveMembersList.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/InviteMembersForm.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/InviteMembersPage.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/InvitedMembersList.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/MemberListTable.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/__tests__/InviteMembersPage.test.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/__tests__/OrganizationMembers.test.tsx
  packages/clerk-js/src/ui/hooks/useFetchRoles.ts
  packages/clerk-js/src/ui/utils/roleLocalizationKey.ts
  packages/types/src/index.ts
  packages/types/src/json.ts
  packages/types/src/localization.ts
  packages/types/src/organization.ts
  packages/types/src/organizationMembership.ts
  packages/types/src/permission.ts
  packages/types/src/role.ts
Labels: types, clerk-js, cherry

#2048 fix(repo): Fix error when evaluating 'timeout-minutes'
  .github/workflows/base-build.yml
  .github/workflows/lock-threads.yml
Labels: actions

#2047 fix(nextjs): Improve type inference for the return type of auth helper
  .changeset/new-eels-mix.md
  packages/backend/src/tokens/authObjects.ts
  packages/nextjs/src/server/getAuth.ts
Labels: nextjs, backend

#2050 chore(repo): Use valid deps in playground/nextjs
  playground/nextjs/package.json
Labels: playground

#1942 feat(nextjs,clerk-react,types,clerk-js): Add experimental support for `<Gate/>`
  .changeset/orange-pumpkins-poke.md
  packages/backend/src/tokens/authObjects.ts
  packages/chrome-extension/src/__snapshots__/exports.test.ts.snap
  packages/clerk-js/src/core/resources/Session.test.ts
  packages/clerk-js/src/core/resources/Session.ts
  packages/clerk-js/src/ui/common/Gate.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationProfileRoutes.tsx
  packages/clerk-js/src/ui/utils/test/mockHelpers.ts
  packages/nextjs/src/app-router/server/controlComponents.tsx
  packages/nextjs/src/client-boundary/controlComponents.ts
  packages/nextjs/src/components.client.ts
  packages/nextjs/src/components.server.ts
  packages/nextjs/src/index.ts
  packages/react/src/components/controlComponents.tsx
  packages/react/src/components/index.ts
  packages/react/src/hooks/useAuth.ts
  packages/react/src/utils/deriveState.ts
  packages/types/src/jwtv2.ts
  packages/types/src/session.ts
Labels: types, clerk-js, nextjs, react, backend, chrome-extension

#2049 fix(nextjs): Improve type inference for the return type of auth helper (#2047)
  .changeset/new-eels-mix.md
  packages/backend/src/tokens/authObjects.ts
  packages/nextjs/src/server/getAuth.ts
Labels: nextjs, backend

#2051 feat(nextjs,clerk-react,types,clerk-js): Add experimental support for `<Gate/>` (#1942)
  .changeset/orange-pumpkins-poke.md
  packages/backend/src/tokens/authObjects.ts
  packages/chrome-extension/src/__snapshots__/exports.test.ts.snap
  packages/clerk-js/src/core/resources/Session.test.ts
  packages/clerk-js/src/core/resources/Session.ts
  packages/clerk-js/src/ui/common/Gate.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationProfileRoutes.tsx
  packages/clerk-js/src/ui/utils/test/mockHelpers.ts
  packages/nextjs/src/app-router/server/controlComponents.tsx
  packages/nextjs/src/client-boundary/controlComponents.ts
  packages/nextjs/src/components.client.ts
  packages/nextjs/src/components.server.ts
  packages/nextjs/src/index.ts
  packages/react/src/components/controlComponents.tsx
  packages/react/src/components/index.ts
  packages/react/src/hooks/useAuth.ts
  packages/react/src/utils/deriveState.ts
  packages/types/src/jwtv2.ts
  packages/types/src/session.ts
Labels: types, clerk-js, nextjs, react, backend, chrome-extension

#1864 chore(repo): Deprecate node@{14,15,16,17} versions
  .changeset/little-numbers-jam.md
  .changeset/purple-pumas-study.md
  integration/templates/next-app-router/package.json
  integration/templates/react-cra/package-lock.json
  integration/templates/react-cra/package.json
  integration/templates/react-vite/package-lock.json
  integration/templates/react-vite/package.json
  integration/templates/remix-node/package-lock.json
  integration/templates/remix-node/package.json
  package-lock.json
  package.json
  packages/backend/README.md
  packages/backend/package.json
  packages/backend/src/runtime/browser/fetch.mjs
  packages/backend/src/runtime/index.ts
  packages/backend/src/runtime/node/crypto.js
  packages/backend/src/runtime/node/fetch.js
  packages/backend/tsup.config.ts
  packages/chrome-extension/README.md
  packages/chrome-extension/package.json
  packages/clerk-js/package.json
  packages/expo/README.md
  packages/expo/package.json
  packages/fastify/README.md
  packages/fastify/jest.config.js
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/README.md
  packages/gatsby-plugin-clerk/package.json
  packages/localizations/package.json
  packages/nextjs/README.md
  packages/nextjs/examples/next/package.json
  packages/nextjs/jest.config.js
  packages/nextjs/jest.setup.js
  packages/nextjs/package.json
  packages/nextjs/tsconfig.json
  packages/react/README.md
  packages/react/package.json
  packages/remix/README.md
  packages/remix/package.json
  packages/sdk-node/README.md
  packages/sdk-node/examples/express/package.json
  packages/sdk-node/jest.config.js
  packages/sdk-node/package.json
  packages/shared/.gitignore
  packages/shared/package.json
  packages/shared/src/index.ts
  packages/shared/src/isomorphicBtoa.ts
  packages/shared/src/keys.ts
  packages/shared/subpaths.mjs
  packages/themes/package.json
  packages/types/package.json
  playground/express/package.json
  playground/gatsby/package.json
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, sdk-node, expo, chrome-extension, playground, gatsby, themes, integration, v5-release

#2015 chore(repo): Rename `@staging` tag to `@canary`
  .changeset/curvy-mails-rhyme.md
  .github/workflows/release-canary.yml
  docs/CICD.md
  docs/PUBLISH.md
  package-lock.json
  package.json
  packages/clerk-js/scripts/purge-cache.mjs
  packages/clerk-js/src/utils/setWebpackChunkPublicPath.ts
  packages/shared/src/__tests__/url.test.ts
  packages/shared/src/url.ts
  scripts/.eslintrc.js
  scripts/canary.mjs
Labels: clerk-js, actions

#2040 chore(repo): Update remaining GHA workflows
  .github/actions/setup/action.yml
  .github/workflows/base-build.yml
  .github/workflows/base-e2e.yml
  .github/workflows/nightly-checks.yml
  .github/workflows/release-canary.yml
  .github/workflows/release-snapshot.yml
  .github/workflows/release.yml
Labels: actions

#2060 fix(repo): Pass explicit env var to GHA changesets
  .github/workflows/release.yml
Labels: actions

#2061 fix(repo): Build ahead of release creation
  .github/workflows/release.yml
Labels: actions

#2062 fix(repo): Add missing npx
  .github/workflows/release.yml
Labels: actions

#2054 fix(repo): Disable preparating clerk-js-proxy production release PR on pre-mode
  .github/workflows/release.yml
Labels: actions

#2055 chore(clerk-sdk-node): Warn about `{esm|cjs}/instance` subpath import deprecation warning
  .changeset/ten-scissors-applaud.md
  packages/sdk-node/src/instance.ts
Labels: sdk-node, v5-pre-release

#2063 chore(repo): Clean up workflows
  .github/actions/init/action.yml
  .github/workflows/release-canary.yml
  .github/workflows/release-snapshot.yml
  .github/workflows/release.yml
  package.json
Labels: actions

#2056 fix(clerk-js): Incorrect result counters in data tables
  .changeset/chatty-boats-tease.md
  packages/clerk-js/src/ui/components/OrganizationProfile/ActiveMembersList.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/InvitedMembersList.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/MemberListTable.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/RequestToJoinList.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/__tests__/OrganizationMembers.test.tsx
  packages/shared/src/react/hooks/useOrganization.tsx
Labels: clerk-js

#2064 chore(repo): Do not build if no version changed
  .github/workflows/release-canary.yml
  .github/workflows/release-snapshot.yml
Labels: actions

#2034 chore(clerk-js): Introduce Form.RadioGroup
  .changeset/slow-wombats-battle.md
  packages/clerk-js/src/ui/components/OrganizationProfile/VerifiedDomainPage.tsx
  packages/clerk-js/src/ui/elements/FieldControl.tsx
  packages/clerk-js/src/ui/elements/Form.tsx
  packages/clerk-js/src/ui/elements/RadioGroup.tsx
  packages/clerk-js/src/ui/elements/__tests__/RadioGroup.test.tsx
Labels: clerk-js

#2068 chore(repo): Remove unused purge-cache script
  packages/clerk-js/scripts/purge-cache.mjs
Labels: clerk-js

#2066 chore(repo): Backport canary package release into v4
  .changeset/curvy-mails-rhyme.md
  .github/workflows/release-canary.yml
  .github/workflows/release-staging.yml
  docs/CICD.md
  docs/PUBLISH.md
  package-lock.json
  package.json
  packages/clerk-js/scripts/purge-cache.mjs
  packages/clerk-js/src/utils/setWebpackChunkPublicPath.ts
  packages/shared/src/__tests__/url.test.ts
  packages/shared/src/url.ts
  scripts/canary.mjs
  scripts/staging.mjs
Labels: clerk-js, actions

#2067 fix(clerk-js): Incorrect result counters in data tables (#2056)
  .changeset/chatty-boats-tease.md
  packages/clerk-js/src/ui/components/OrganizationProfile/ActiveMembersList.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/InvitedMembersList.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/MemberListTable.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/RequestToJoinList.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/__tests__/OrganizationMembers.test.tsx
  packages/shared/src/react/hooks/useOrganization.tsx
Labels: clerk-js, cherry

#2069 fix(repo): Fix workflow name in accounts repo
  .github/workflows/release-canary.yml
Labels: actions

#2019 feat(clerk-js): Handle user_locked error during oauth flow with redir…
  .changeset/purple-rules-prove.md
  packages/clerk-js/src/core/clerk.test.ts
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/constants.ts
  packages/clerk-js/src/ui/components/SignIn/SignInStart.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpStart.tsx
Labels: clerk-js

#2021 chore(clerk-sdk-node): Drop deprecations
  .changeset/popular-singers-sort.md
  packages/sdk-node/cjs/instance.d.ts
  packages/sdk-node/cjs/instance.js
  packages/sdk-node/esm/instance.d.ts
  packages/sdk-node/esm/instance.js
  packages/sdk-node/examples/node/src/allowlistIdentifiers.ts
  packages/sdk-node/examples/node/src/clients.ts
  packages/sdk-node/jest.setup.js
  packages/sdk-node/package.json
  packages/sdk-node/scripts/info.js
  packages/sdk-node/src/__tests__/__snapshots__/exports.test.ts.snap
  packages/sdk-node/src/__tests__/authenticateRequest.test.ts
  packages/sdk-node/src/authenticateRequest.ts
  packages/sdk-node/src/clerkClient.ts
  packages/sdk-node/src/clerkExpressRequireAuth.ts
  packages/sdk-node/src/clerkExpressWithAuth.ts
  packages/sdk-node/src/index.ts
  packages/sdk-node/src/info.ts
  packages/sdk-node/src/types.ts
  packages/sdk-node/src/utils.ts
  packages/sdk-node/tsup.config.ts
  playground/express/tsconfig.json
Labels: sdk-node, playground, v5-release

#2071 feat(clerk-js): Handle user_locked error during oauth flow with redirect to /sign-up or /sign-in (#2019)
  .changeset/purple-rules-prove.md
  packages/clerk-js/src/core/clerk.test.ts
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/constants.ts
  packages/clerk-js/src/ui/components/SignIn/SignInStart.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpStart.tsx
Labels: clerk-js, cherry

#2072 fix(clerk-js): Use strict equality operator to check for lockout erro…
  .changeset/clever-vans-flash.md
  packages/clerk-js/src/core/clerk.ts
Labels: clerk-js

#2075 fix(clerk-js): Use strict equality operator to check for lockout errors in handleRedirectCallback (#2072)
  .changeset/clever-vans-flash.md
  packages/clerk-js/src/core/clerk.ts
Labels: clerk-js, cherry

#2077 fix(nextjs): Removes the dot that breaks the link to the docs
  .changeset/honest-onions-work.md
  packages/nextjs/src/server/errors.ts
Labels: nextjs

#2073 fix(clerk-js): Emit session when permissions or role of the active memberships change
  .changeset/dry-students-reflect.md
  packages/clerk-js/src/core/resources/Organization.ts
  packages/clerk-js/src/utils/memoizeStateListenerCallback.ts
Labels: clerk-js

#2070 chore(repo): Upgrade jest@^29.4.0 to fix subpath imports issue
  .changeset/poor-horses-press.md
  package-lock.json
  package.json
  packages/fastify/jest.config.js
  packages/nextjs/jest.config.js
  packages/sdk-node/jest.config.js
Labels: nextjs, fastify, sdk-node

#1993 chore(clerk-react): Drop deprecations
  .changeset/two-pumas-doubt.md
  packages/chrome-extension/src/__snapshots__/exports.test.ts.snap
  packages/react/src/contexts/ClerkContextProvider.tsx
  packages/react/src/contexts/ClerkProvider.tsx
  packages/react/src/contexts/__tests__/ClerkProvider.test.tsx
  packages/react/src/errors.ts
  packages/react/src/hooks/index.ts
  packages/react/src/hooks/useMagicLink.ts
  packages/react/src/hooks/useSessionList.ts
  packages/react/src/hooks/useSignIn.ts
  packages/react/src/hooks/useSignUp.ts
  packages/react/src/index.ts
  packages/react/src/isomorphicClerk.ts
  packages/react/src/types.ts
  packages/react/src/utils/loadClerkJsScript.ts
Labels: react, chrome-extension, v5-release

#2074 feat(clerk-js,shared): Add a navigateWithError utility for SignIn (#2043)
  .changeset/spotty-apples-march.md
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/resources/Error.ts
  packages/clerk-js/src/ui/components/SignIn/SignInFactorOneCodeForm.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInFactorOneEmailLinkCard.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInFactorOnePasswordCard.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInFactorTwoBackupCodeCard.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInFactorTwoCodeForm.tsx
  packages/clerk-js/src/ui/components/SignIn/__tests__/SignInFactorOne.test.tsx
  packages/clerk-js/src/ui/components/SignIn/__tests__/SignInFactorTwo.test.tsx
  packages/clerk-js/src/ui/elements/contexts/CardStateContext.tsx
  packages/clerk-js/src/ui/utils/test/mockHelpers.ts
  packages/shared/src/error.ts
Labels: clerk-js, cherry

#2081 fix(clerk-js): Emit session when permissions or role of the active memberships change (#2073)
  .changeset/dry-students-reflect.md
  packages/clerk-js/src/core/resources/Organization.ts
  packages/clerk-js/src/utils/memoizeStateListenerCallback.ts
Labels: clerk-js, cherry

#2079 chore: Add "Deploy Preview" GitHub workflow
  .changeset/cuddly-fireants-switch.md
  .github/workflows/preview.yml
  package-lock.json
  package.json
  packages/backend/package.json
  packages/backend/tsup.config.ts
  playground/nextjs/.env.example
  playground/nextjs/middleware.ts
  playground/nextjs/package.json
  scripts/install-site-in-isolation.mjs
  scripts/notify.mjs
  scripts/snapshot.mjs
  scripts/subpath-workaround.mjs
Labels: actions, backend, playground

#2086 fix(remix): Avoid always showing `frontendApi` deprecation
  .changeset/plenty-bottles-grow.md
  packages/remix/src/ssr/utils.ts
Labels: remix, v5-pre-release

#2083 chore(repo): Add <OrganizationList/> to nextjs playground
  .changeset/pretty-singers-change.md
  playground/nextjs/app/app-dir/discover/page.tsx
  playground/nextjs/pages/discover/index.tsx
Labels: playground

#2088 fix(clerk-js,shared): Refresh invited members upon revocation (#2058)
  .changeset/thirty-doors-peel.md
  packages/clerk-js/src/ui/components/OrganizationProfile/ActiveMembersList.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/InvitedMembersList.tsx
Labels: clerk-js, cherry

#2085 chore(repo): Cache extraneous node_module versions
  .github/workflows/release.yml
Labels: actions

#2084 chore(clerk-js): Remove UI dependency from core
  .changeset/silver-cats-appear.md
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/ui/common/EmailLinkVerify.tsx
  packages/clerk-js/src/ui/components/SignUp/util.ts
  packages/clerk-js/src/ui/utils/index.ts
  packages/clerk-js/src/utils/__tests__/completeSignUpFlow.test.ts
  packages/clerk-js/src/utils/completeSignUpFlow.ts
  packages/clerk-js/src/utils/index.ts
Labels: clerk-js

#2080 fix(clerk-js): Return reject(err) in factor one & two code forms
  .changeset/flat-donuts-sleep.md
  packages/clerk-js/src/ui/components/SignIn/SignInFactorOneCodeForm.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInFactorTwoCodeForm.tsx
Labels: clerk-js

#2090 chore(clerk-js): Replace Avatar preview in OrganizationProfileAvatarUploader with Upload Button (#2014)
  .changeset/dull-stingrays-fix.md
  packages/clerk-js/src/ui/components/CreateOrganization/CreateOrganizationForm.tsx
  packages/clerk-js/src/ui/elements/AvatarUploader.tsx
  packages/clerk-js/src/ui/icons/index.ts
  packages/clerk-js/src/ui/icons/upload.svg
Labels: clerk-js, cherry

#2092 chore: Add Deploy preview to docs & improve workflow
  .github/workflows/preview.yml
  docs/CICD.md
  docs/CONTRIBUTING.md
  docs/PUBLISH.md
Labels: actions

#1999 [SDK-805] Use the `errorThrower` shared util when throwing errors
  .changeset/tough-pots-grow.md
  packages/react/src/components/withClerk.tsx
  packages/react/src/components/withSession.tsx
  packages/react/src/components/withUser.tsx
  packages/react/src/contexts/assertHelpers.ts
  packages/react/src/errors.ts
  packages/react/src/hooks/useAuth.ts
  packages/react/src/isomorphicClerk.ts
  packages/react/src/utils/childrenUtils.tsx
  packages/react/src/utils/errorThrower.ts
  packages/react/src/utils/useMaxAllowedInstancesGuard.tsx
  packages/shared/src/error.ts
  packages/shared/src/utils/logErrorInDevMode.ts
Labels: react

#2018 Version Packages - V4
  .changeset/blue-ghosts-float.md
  .changeset/chatty-boats-tease.md
  .changeset/clever-vans-flash.md
  .changeset/clever-wasps-invite.md
  .changeset/curvy-mails-rhyme.md
  .changeset/dry-students-reflect.md
  .changeset/dull-stingrays-fix.md
  .changeset/famous-forks-buy.md
  .changeset/new-eels-mix.md
  .changeset/orange-pumpkins-poke.md
  .changeset/plenty-bottles-grow.md
  .changeset/purple-rules-prove.md
  .changeset/soft-birds-thank.md
  .changeset/spotty-apples-march.md
  .changeset/ten-scissors-applaud.md
  .changeset/thirty-doors-peel.md
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/CHANGELOG.md
  packages/gatsby-plugin-clerk/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, sdk-node, expo, chrome-extension, gatsby, themes

#2101 fix(backend): strip experimental__has from serializable auth object
  .changeset/weak-elephants-grin.md
  packages/backend/src/tokens/authObjects.test.ts
  packages/backend/src/tokens/authObjects.ts
  packages/backend/tests/suites.ts
Labels: backend

#2103 fix(backend): strip experimental__has from serializable auth object (#2101)
  .changeset/weak-elephants-grin.md
  packages/backend/src/tokens/authObjects.test.ts
  packages/backend/src/tokens/authObjects.ts
  packages/backend/tests/suites.ts
Labels: backend, cherry

#2105 chore(repo): Backport all CI changes
  .github/actions/setup/action.yml
  .github/workflows/base-build.yml
  .github/workflows/base-e2e.yml
  .github/workflows/ci.yml
  .github/workflows/labeler.yml
  .github/workflows/lock-threads.yml
  .github/workflows/nightly-checks.yml
  .github/workflows/release-canary.yml
  .github/workflows/release-prod.yml
  .github/workflows/release-snapshot.yml
  .gitignore
  package-lock.json
  package.json
Labels: actions

#2106 chore(repo): Rename release workflow; Update global Turbo deps
  .github/workflows/release-canary.yml
  .github/workflows/release.yml
  turbo.json
Labels: actions

#2104 Version Packages - V4
  .changeset/weak-elephants-grin.md
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/CHANGELOG.md
  packages/gatsby-plugin-clerk/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
Labels: nextjs, remix, backend, fastify, sdk-node, gatsby

#2093 fix(clerk-js,shared): Increase time-to-stale for less frequent revalidations
  .changeset/gentle-pants-matter.md
  packages/clerk-js/src/ui/components/OrganizationProfile/ActiveMembersList.tsx
  packages/shared/src/react/hooks/usePagesOrInfinite.ts
Labels: clerk-js

#2110 chore(backend): Extract jwks cache ttl into constant
  .changeset/late-cooks-collect.md
  packages/backend/src/constants.ts
  packages/backend/src/tokens/keys.ts
Labels: backend

#2116 chore(repo): Fix retheme deploy preview
  .github/workflows/preview.retheme.yml
Labels: actions

#2118 chore(clerk-js): Use `userMemberships` instead of `organizationList` inside `OrganizationSwitcher`
  .changeset/friendly-tables-chew.md
  packages/clerk-js/src/ui.retheme/components/OrganizationSwitcher/UserMembershipList.tsx
  packages/clerk-js/src/ui.retheme/components/OrganizationSwitcher/__tests__/OrganizationSwitcher.test.tsx
  packages/clerk-js/src/ui/components/OrganizationSwitcher/UserMembershipList.tsx
  packages/clerk-js/src/ui/components/OrganizationSwitcher/__tests__/OrganizationSwitcher.test.tsx
Labels: clerk-js

#2119 test(clerk-js): Use correct fixtures for `ui.retheme` tests
  .changeset/real-taxis-compare.md
  packages/clerk-js/src/ui.retheme/common/__tests__/withRedirectToHome.test.tsx
  packages/clerk-js/src/ui.retheme/components/OrganizationSwitcher/__tests__/OrganizationSwitcher.test.tsx
  packages/clerk-js/src/ui.retheme/components/SignIn/__tests__/ResetPassword.test.tsx
  packages/clerk-js/src/ui.retheme/components/SignIn/__tests__/ResetPasswordSuccess.test.tsx
  packages/clerk-js/src/ui.retheme/components/SignIn/__tests__/SignInAccountSwitcher.test.tsx
  packages/clerk-js/src/ui.retheme/components/SignIn/__tests__/SignInFactorOne.test.tsx
  packages/clerk-js/src/ui.retheme/components/SignIn/__tests__/SignInFactorTwo.test.tsx
  packages/clerk-js/src/ui.retheme/components/SignIn/__tests__/SignInStart.test.tsx
  packages/clerk-js/src/ui.retheme/components/SignUp/__tests__/SignUpContinue.test.tsx
  packages/clerk-js/src/ui.retheme/components/SignUp/__tests__/SignUpEmailLinkFlowComplete.test.tsx
  packages/clerk-js/src/ui.retheme/components/SignUp/__tests__/SignUpStart.test.tsx
  packages/clerk-js/src/ui.retheme/components/SignUp/__tests__/SignUpVerifyEmail.test.tsx
  packages/clerk-js/src/ui.retheme/components/SignUp/__tests__/SignUpVerifyPhone.test.tsx
  packages/clerk-js/src/ui.retheme/components/UserProfile/ConnectedAccountsSection.tsx
  packages/clerk-js/src/ui.retheme/components/UserProfile/EnterpriseAccountsSection.tsx
  packages/clerk-js/src/ui.retheme/components/UserProfile/__tests__/ConnectedAccountsPage.test.tsx
  packages/clerk-js/src/ui.retheme/components/UserProfile/__tests__/EmailPage.test.tsx
  packages/clerk-js/src/ui.retheme/components/UserProfile/__tests__/MfaBackupCodeCreatePage.test.tsx
  packages/clerk-js/src/ui.retheme/components/UserProfile/__tests__/MfaPage.test.tsx
  packages/clerk-js/src/ui.retheme/components/UserProfile/__tests__/PasswordPage.test.tsx
  packages/clerk-js/src/ui.retheme/components/UserProfile/__tests__/PhonePage.test.tsx
  packages/clerk-js/src/ui.retheme/components/UserProfile/__tests__/ProfilePage.test.tsx
  packages/clerk-js/src/ui.retheme/components/UserProfile/__tests__/RemoveConnectedAccountPage.test.tsx
  packages/clerk-js/src/ui.retheme/components/UserProfile/__tests__/RemoveEmailPage.test.tsx
  packages/clerk-js/src/ui.retheme/components/UserProfile/__tests__/RemoveMfaPhoneCodePage.test.tsx
  packages/clerk-js/src/ui.retheme/components/UserProfile/__tests__/RemoveMfaTOTPPage.test.tsx
  packages/clerk-js/src/ui.retheme/components/UserProfile/__tests__/RemovePhonePage.test.tsx
  packages/clerk-js/src/ui.retheme/components/UserProfile/__tests__/RootPage.test.tsx
  packages/clerk-js/src/ui.retheme/components/UserProfile/__tests__/UserProfile.test.tsx
  packages/clerk-js/src/ui.retheme/components/UserProfile/__tests__/UsernamePage.test.tsx
  packages/clerk-js/src/ui.retheme/hooks/__tests__/useCoreOrganization.test.tsx
  packages/clerk-js/src/ui.retheme/hooks/__tests__/useCoreOrganizationList.test.tsx
  packages/clerk-js/src/ui.retheme/hooks/__tests__/usePasswordComplexity.test.tsx
  packages/clerk-js/src/ui.retheme/localization/__tests__/makeLocalizable.test.tsx
  packages/clerk-js/src/ui.retheme/localization/__tests__/parseLocalization.test.tsx
  packages/clerk-js/src/ui.retheme/router/__tests__/HashRouter.test.tsx
  packages/clerk-js/src/ui.retheme/router/__tests__/PathRouter.test.tsx
  packages/clerk-js/src/ui.retheme/router/__tests__/Switch.test.tsx
  packages/clerk-js/src/ui.retheme/router/__tests__/VirtualRouter.test.tsx
  packages/clerk-js/src/ui.retheme/utils/passwordUtils.test.tsx
Labels: clerk-js

#2100 feat(clerk-js): Retheme Card and Header
  .changeset/famous-carrots-notice.md
  .changeset/thirty-insects-exist.md
  packages/clerk-js/src/ui.retheme/customizables/elementDescriptors.ts
  packages/clerk-js/src/ui.retheme/elements/Card.tsx
  packages/clerk-js/src/ui.retheme/elements/Header.tsx
  packages/clerk-js/src/ui.retheme/elements/PoweredByClerk.tsx
  packages/clerk-js/src/ui.retheme/foundations/shadows.ts
  packages/clerk-js/src/ui.retheme/foundations/zIndices.ts
  packages/types/src/appearance.retheme.ts
Labels: types, clerk-js

#2094 feat(clerk-js): Sign Out from multiple tabs at once
  .changeset/dry-sheep-poke.md
  integration/testUtils/appPageObject.ts
  integration/testUtils/index.ts
  integration/tests/sign-out-smoke.test.ts
  integration/tsconfig.json
  integration/types.d.ts
  packages/clerk-js/src/core/clerk.ts
Labels: clerk-js, integration

#2099 feat(shared): Add opt-out support for SDK telemetry
  packages/clerk-js/src/core/clerk.ts
  packages/gatsby-plugin-clerk/src/GatsbyClerkProvider.tsx
  packages/gatsby-plugin-clerk/src/constants.ts
  packages/nextjs/src/utils/mergeNextClerkPropsWithEnv.ts
  packages/react/src/isomorphicClerk.ts
  packages/remix/src/client/RemixClerkProvider.tsx
  packages/remix/src/client/types.ts
  packages/remix/src/ssr/utils.ts
  packages/shared/.gitignore
  packages/shared/jest.config.js
  packages/shared/src/__tests__/telemetry.test.ts
  packages/shared/src/telemetry.ts
  packages/types/src/clerk.ts
Labels: types, clerk-js, nextjs, react, remix, gatsby

#2125 fix(repo): Fix Sign Out integration test
  .changeset/rude-lamps-yawn.md
  integration/tests/sign-out-smoke.test.ts
Labels: integration

#2124 chore(repo): Correctly handle publint/attw errors [SDK-908]
  .github/workflows/ci.yml
  .gitignore
  package-lock.json
  package.json
  turbo.json
Labels: actions

#2127 Fix CLERK_RETHEME build issue on clerk-js
  .changeset/chilly-donuts-work.md
  packages/clerk-js/package.json
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/index.browser.ts
  packages/clerk-js/src/index.ts
  packages/clerk-js/src/ui.retheme/common/withRedirectToHome.tsx
  packages/clerk-js/src/ui.retheme/components/OrganizationProfile/BillingWidget.tsx
  packages/clerk-js/src/ui.retheme/components/OrganizationProfile/MembershipWidget.tsx
  packages/clerk-js/src/ui.retheme/components/OrganizationSwitcher/OtherOrganizationActions.tsx
  packages/clerk-js/src/ui.retheme/customizables/elementDescriptors.ts
  packages/clerk-js/src/ui.retheme/elements/Select.tsx
  packages/clerk-js/src/ui.retheme/router/Route.tsx
  packages/clerk-js/tsconfig.declarations.retheme.json
  packages/clerk-js/tsconfig.json
  packages/clerk-js/webpack.config.js
Labels: clerk-js

#2130 fix(clerk-js): Correct cardContent element descriptor
  .changeset/funny-gifts-cough.md
  packages/clerk-js/src/ui.retheme/elements/Card.tsx
Labels: clerk-js

#2132 refactor(clerk-js,nextjs,types): Add Autocomplete generic [SDK-900]
  .changeset/old-actors-beg.md
  packages/clerk-js/src/core/resources/OrganizationMembership.ts
  packages/nextjs/src/server/authMiddleware.ts
  packages/types/src/clerk.retheme.ts
  packages/types/src/clerk.ts
  packages/types/src/json.ts
  packages/types/src/organizationMembership.ts
  packages/types/src/session.ts
  packages/types/src/utils.ts
Labels: types, clerk-js, nextjs

#2129 fix(clerk-js): Require role to be selected before sending organization invite
  .changeset/khaki-spoons-teach.md
  packages/clerk-js/src/ui.retheme/components/OrganizationProfile/InviteMembersForm.tsx
  packages/clerk-js/src/ui.retheme/components/OrganizationProfile/__tests__/InviteMembersPage.test.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/InviteMembersForm.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/__tests__/InviteMembersPage.test.tsx
Labels: clerk-js

#2135 fix(clerk-js): Require role to be selected before sending organization invite
  .changeset/khaki-spoons-teach.md
  packages/clerk-js/src/ui/components/OrganizationProfile/InviteMembersForm.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/__tests__/InviteMembersPage.test.tsx
Labels: clerk-js

#2102 chore(shared): Drop deprecations
  .changeset/cuddly-cougars-check.md
  packages/clerk-js/src/ui/hooks/__tests__/useCoreOrganizationList.test.tsx
  packages/react/src/contexts/OrganizationContext.tsx
  packages/shared/src/error.ts
  packages/shared/src/proxy.ts
  packages/shared/src/react/contexts.tsx
  packages/shared/src/react/hooks/useOrganizationList.tsx
  packages/shared/src/react/index.ts
Labels: clerk-js, react, v5-release

#2136 Version Packages - V4
  .changeset/khaki-spoons-teach.md
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
Labels: clerk-js, expo, chrome-extension

#2141 fix(clerk-js): Drop deprecated `organizationList` in ui.retheme
  .changeset/yellow-elephants-begin.md
  packages/clerk-js/src/ui.retheme/hooks/__tests__/useCoreOrganizationList.test.tsx
Labels: clerk-js

#1982 refactor: ESLint corrections
  .changeset/chatty-berries-jump.md
  packages/backend/src/api/factory.test.ts
  packages/backend/src/api/request.ts
  packages/backend/src/api/resources/Webhooks.ts
  packages/backend/src/exports.test.ts
  packages/backend/src/tokens/index.ts
  packages/clerk-js/src/core/resources/OrganizationMembershipRequest.ts
  packages/clerk-js/src/ui/components/OrganizationList/UserMembershipList.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/InviteMembersPage.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/MembershipWidget.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/__tests__/OrganizationSettings.test.tsx
  packages/clerk-js/src/ui/components/OrganizationSwitcher/OrganizationSwitcherPopover.tsx
  packages/clerk-js/src/ui/components/OrganizationSwitcher/OrganizationSwitcherTrigger.tsx
  packages/clerk-js/src/ui/components/SignUp/signUpFormHelpers.ts
  packages/clerk-js/src/ui/components/UserProfile/ConnectedAccountsSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/PhonePage.tsx
  packages/clerk-js/src/ui/components/UserProfile/__tests__/ProfilePage.test.tsx
  packages/clerk-js/src/ui/customizables/__tests__/makeCustomizable.test.tsx
  packages/clerk-js/src/ui/customizables/__tests__/parseAppearance.test.tsx
  packages/clerk-js/src/ui/elements/ClipboardInput.tsx
  packages/clerk-js/src/ui/elements/ErrorCard.tsx
  packages/clerk-js/src/ui/elements/IdentityPreview.tsx
  packages/clerk-js/src/ui/elements/PasswordInput.tsx
  packages/clerk-js/src/ui/localization/__tests__/applyTokensToString.test.ts
  packages/clerk-js/src/ui/primitives/Button.tsx
  packages/clerk-js/src/ui/utils/ExternalElementMounter.tsx
  packages/clerk-js/src/ui/utils/colors.ts
  packages/clerk-js/src/ui/utils/test/fixtureHelpers.ts
  packages/clerk-js/src/ui/utils/useFormControl.ts
  packages/clerk-js/src/utils/__tests__/ignoreEventValue.test.ts
  packages/clerk-js/src/utils/passwords/password.ts
  packages/clerk-js/src/utils/passwords/strength.ts
  packages/nextjs/src/app-router/client/useAwaitableNavigate.ts
  packages/nextjs/src/app-router/server/currentUser.ts
  packages/nextjs/src/client-boundary/NextOptionsContext.tsx
  packages/nextjs/src/server/__tests__/__snapshots__/exports.test.ts.snap
  packages/nextjs/src/server/authMiddleware.ts
  packages/nextjs/src/server/utils.ts
  packages/react/src/components/__tests__/SignInButton.test.tsx
  packages/remix/src/client/RemixOptionsContext.tsx
  packages/sdk-node/src/__tests__/__snapshots__/exports.test.ts.snap
  packages/shared/src/utils/noop.ts
  turbo.json
Labels: clerk-js, nextjs, react, remix, backend, sdk-node

#2098 fix(localizations): Fix zh-TW localization and export it from index.ts
  .changeset/lemon-kings-love.md
  packages/localizations/src/index.ts
  packages/localizations/src/zh-TW.ts
Labels: localizations

#2087 chore(clerk-js): Introduce Form.PasswordInput, InputGroup, Checkbox
  .changeset/proud-hairs-check.md
  packages/clerk-js/src/ui.retheme/components/OrganizationProfile/VerifiedDomainPage.tsx
  packages/clerk-js/src/ui.retheme/components/OrganizationProfile/VerifyDomainPage.tsx
  packages/clerk-js/src/ui.retheme/components/SignIn/ResetPassword.tsx
  packages/clerk-js/src/ui.retheme/components/SignIn/SignInFactorOnePasswordCard.tsx
  packages/clerk-js/src/ui.retheme/components/SignIn/SignInStart.tsx
  packages/clerk-js/src/ui.retheme/components/SignUp/SignUpForm.tsx
  packages/clerk-js/src/ui.retheme/components/UserProfile/PasswordPage.tsx
  packages/clerk-js/src/ui.retheme/components/UserProfile/__tests__/PasswordPage.test.tsx
  packages/clerk-js/src/ui.retheme/elements/FieldControl.tsx
  packages/clerk-js/src/ui.retheme/elements/Form.tsx
  packages/clerk-js/src/ui.retheme/elements/FormControl.tsx
  packages/clerk-js/src/ui.retheme/elements/InputGroup.tsx
  packages/clerk-js/src/ui.retheme/elements/PasswordInput.tsx
  packages/clerk-js/src/ui.retheme/elements/RadioGroup.tsx
  packages/clerk-js/src/ui.retheme/elements/__tests__/RadioGroup.test.tsx
  packages/clerk-js/src/ui.retheme/primitives/FormControl.tsx
  packages/clerk-js/src/ui.retheme/primitives/hooks/useFormControl.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/VerifiedDomainPage.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/VerifyDomainPage.tsx
  packages/clerk-js/src/ui/components/SignIn/ResetPassword.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInFactorOnePasswordCard.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInStart.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/PasswordPage.tsx
  packages/clerk-js/src/ui/components/UserProfile/__tests__/PasswordPage.test.tsx
  packages/clerk-js/src/ui/elements/FieldControl.tsx
  packages/clerk-js/src/ui/elements/Form.tsx
  packages/clerk-js/src/ui/elements/FormControl.tsx
  packages/clerk-js/src/ui/elements/InputGroup.tsx
  packages/clerk-js/src/ui/elements/PasswordInput.tsx
  packages/clerk-js/src/ui/elements/RadioGroup.tsx
  packages/clerk-js/src/ui/elements/__tests__/RadioGroup.test.tsx
  packages/clerk-js/src/ui/primitives/FormControl.tsx
  packages/clerk-js/src/ui/primitives/hooks/useFormControl.tsx
Labels: clerk-js, retheme

#1899 chore(backend): Drop deprecations
  .changeset/silly-poems-tease.md
  package-lock.json
  packages/backend/README.md
  packages/backend/package.json
  packages/backend/src/api/endpoints/OrganizationApi.ts
  packages/backend/src/api/factory.test.ts
  packages/backend/src/api/factory.ts
  packages/backend/src/api/request.ts
  packages/backend/src/api/resources/ExternalAccount.ts
  packages/backend/src/api/resources/JSON.ts
  packages/backend/src/api/resources/Organization.ts
  packages/backend/src/api/resources/OrganizationMembership.ts
  packages/backend/src/api/resources/User.ts
  packages/backend/src/index.ts
  packages/backend/src/redirections.test.ts
  packages/backend/src/redirections.ts
  packages/backend/src/tokens/authObjects.ts
  packages/backend/src/tokens/authStatus.ts
  packages/backend/src/tokens/errors.ts
  packages/backend/src/tokens/factory.ts
  packages/backend/src/tokens/interstitial.test.ts
  packages/backend/src/tokens/interstitial.ts
  packages/backend/src/tokens/interstitialRule.ts
  packages/backend/src/tokens/jwt/verifyJwt.ts
  packages/backend/src/tokens/keys.test.ts
  packages/backend/src/tokens/keys.ts
  packages/backend/src/tokens/request.test.ts
  packages/backend/src/tokens/request.ts
  packages/backend/src/tokens/verify.test.ts
  packages/backend/src/tokens/verify.ts
  packages/backend/src/util/IsomorphicRequest.ts
  packages/fastify/src/withClerkMiddleware.ts
  packages/gatsby-plugin-clerk/src/ssr/withServerAuth.ts
  packages/nextjs/src/server/authenticateRequest.ts
  packages/remix/src/ssr/utils.ts
  packages/sdk-node/src/__tests__/middleware.test.ts
  packages/sdk-node/src/authenticateRequest.ts
  packages/shared/.gitignore
  packages/shared/src/__tests__/url.test.ts
  packages/shared/src/url.ts
Labels: nextjs, remix, backend, fastify, sdk-node, gatsby, v5-release

#2146 fix(clerk-js): Card UI improvements
  .changeset/lazy-planes-run.md
  packages/clerk-js/src/ui.retheme/elements/Card.tsx
Labels: clerk-js, retheme

#2134 feat(clerk-js): Add TelemetryCollector instance to backend client
  packages/backend/src/index.ts
  packages/fastify/src/clerkClient.ts
  packages/fastify/src/constants.ts
  packages/fastify/src/global.d.ts
  packages/fastify/tsconfig.json
  packages/gatsby-plugin-clerk/src/GatsbyClerkProvider.tsx
  packages/gatsby-plugin-clerk/src/constants.ts
  packages/gatsby-plugin-clerk/src/ssr/clerkClient.ts
  packages/nextjs/src/server/authMiddleware.ts
  packages/nextjs/src/server/clerkClient.ts
  packages/nextjs/src/server/constants.ts
  packages/nextjs/src/utils/mergeNextClerkPropsWithEnv.ts
  packages/sdk-node/src/globals.d.ts
  packages/sdk-node/src/utils.ts
  packages/sdk-node/tsconfig.json
  packages/shared/src/telemetry.ts
  playground/app-router/src/middleware.ts
Labels: nextjs, backend, fastify, sdk-node, playground, gatsby

#2148 chore(backend): Drop `loadInterstitialFromBAPI` & `buildPublicInterstitialUrl`
  .changeset/real-cougars-design.md
  .changeset/silly-poems-tease.md
  packages/backend/src/tokens/factory.ts
  packages/backend/src/tokens/interstitial.test.ts
  packages/backend/src/tokens/interstitial.ts
  packages/backend/tests/suites.ts
Labels: backend

#2149 chore(clerk-js,nextjs,shared): Move devBrowser to shared
  .changeset/stupid-toys-remain.md
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/constants.ts
  packages/clerk-js/src/core/devBrowserHandler.ts
  packages/clerk-js/src/utils/cookies/devBrowser.ts
  packages/clerk-js/src/utils/devBrowser.ts
  packages/clerk-js/src/utils/index.ts
  packages/nextjs/src/server/authMiddleware.ts
  packages/shared/src/__tests__/devbrowser.test.ts
  packages/shared/src/devBrowser.ts
  packages/shared/src/index.ts
Labels: clerk-js, nextjs

#2122 chore(backend): Enforce `request` param in `authenticateRequest`
  .changeset/red-coats-itch.md
  packages/backend/src/api/factory.ts
  packages/backend/src/api/request.ts
  packages/backend/src/tokens/authObjects.ts
  packages/backend/src/tokens/authStatus.ts
  packages/backend/src/tokens/factory.ts
  packages/backend/src/tokens/index.ts
  packages/backend/src/tokens/interstitialRule.ts
  packages/backend/src/tokens/request.test.ts
  packages/backend/src/tokens/request.ts
  packages/nextjs/src/server/getAuth.ts
Labels: nextjs, backend, v5-release

#2151 chore(localizations): Drop deprecations
  .changeset/tasty-phones-lie.md
  packages/localizations/src/ar-SA.ts
  packages/localizations/src/cs-CZ.ts
  packages/localizations/src/da-DK.ts
  packages/localizations/src/de-DE.ts
  packages/localizations/src/el-GR.ts
  packages/localizations/src/en-US.retheme.ts
  packages/localizations/src/en-US.ts
  packages/localizations/src/es-ES.ts
  packages/localizations/src/fr-FR.ts
  packages/localizations/src/he-IL.ts
  packages/localizations/src/index.retheme.ts
  packages/localizations/src/index.ts
  packages/localizations/src/it-IT.ts
  packages/localizations/src/ja-JP.ts
  packages/localizations/src/ko-KR.ts
  packages/localizations/src/nb-NO.ts
  packages/localizations/src/nl-NL.ts
  packages/localizations/src/pl-PL.ts
  packages/localizations/src/pt-BR.ts
  packages/localizations/src/ru-RU.ts
  packages/localizations/src/sk-SK.ts
  packages/localizations/src/sv-SE.ts
  packages/localizations/src/tr-TR.ts
  packages/localizations/src/uk-UA.ts
  packages/localizations/src/vi-VN.ts
  packages/localizations/src/zh-CN.ts
  packages/localizations/src/zh-TW.ts
  packages/react/src/contexts/__tests__/ClerkProvider.test.tsx
  packages/types/src/localization.retheme.ts
  packages/types/src/localization.ts
Labels: types, react, localizations, v5-release, retheme

#2150 chore(*): Drop default exports
  .changeset/clever-scissors-reflect.md
  packages/backend/src/api/endpoints/InvitationApi.ts
  packages/chrome-extension/src/ClerkProvider.tsx
  packages/chrome-extension/src/singleton.ts
  packages/clerk-js/headless/index.d.ts
  packages/clerk-js/src/core/clerk.redirects.test.ts
  packages/clerk-js/src/core/clerk.test.ts
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/devBrowserHandler.test.ts
  packages/clerk-js/src/core/devBrowserHandler.ts
  packages/clerk-js/src/core/fapiClient.test.ts
  packages/clerk-js/src/core/fapiClient.ts
  packages/clerk-js/src/core/resources/internal.ts
  packages/clerk-js/src/index.browser.ts
  packages/clerk-js/src/index.headless.browser.ts
  packages/clerk-js/src/index.headless.ts
  packages/clerk-js/src/index.ts
  packages/clerk-js/src/ui/utils/test/createFixtures.tsx
  packages/clerk-js/src/utils/retrieveCaptchaInfo.ts
  packages/expo/src/singleton.ts
  packages/react/src/contexts/ClerkContextProvider.tsx
  packages/react/src/hooks/useAuth.ts
  packages/react/src/hooks/utils.ts
  packages/react/src/isomorphicClerk.ts
  packages/sdk-node/src/__tests__/__snapshots__/exports.test.ts.snap
  packages/sdk-node/src/index.ts
  packages/sdk-node/src/instance.ts
Labels: clerk-js, react, backend, sdk-node, expo, chrome-extension, v5-release

#2147 fix(clerk-js): Avoid wrapping NotificationCountBadge of OrgSwitcher with Gate
  .changeset/brown-clouds-divide.md
  packages/clerk-js/src/ui.retheme/components/OrganizationSwitcher/OrganizationSwitcherTrigger.tsx
  packages/clerk-js/src/ui/components/OrganizationSwitcher/OrganizationSwitcherTrigger.tsx
Labels: clerk-js, retheme

#2156 chore(repo): Fix nextjs canary release & show tests package versions
  .github/workflows/nightly-checks.yml
Labels: actions

#2126 chore(backend,nextjs,clerk-sdk-node): Drop legacy return response in BAPI responses
  .changeset/mighty-pugs-knock.md
  packages/backend/src/api/factory.test.ts
  packages/backend/src/api/request.ts
  packages/backend/src/tokens/authStatus.ts
  packages/backend/src/util/assertResponse.ts
  packages/backend/src/util/mockFetch.ts
  packages/nextjs/src/app-router/server/currentUser.ts
  packages/sdk-node/examples/express/src/runtime-keys-middleware.ts
  packages/sdk-node/examples/node/src/organizations.ts
  packages/sdk-node/examples/node/src/sessions.ts
  packages/sdk-node/examples/node/src/users.ts
  packages/sdk-node/src/__tests__/middleware.test.ts
  packages/sdk-node/src/authenticateRequest.ts
  packages/sdk-node/src/clerkExpressRequireAuth.ts
  packages/sdk-node/src/clerkExpressWithAuth.ts
Labels: nextjs, backend, sdk-node, v5-release

#1921 chore(repo): Introduce integration test for vite with sdk-node
  .github/workflows/ci.yml
  integration/constants.ts
  integration/models/application.ts
  integration/models/applicationConfig.ts
  integration/presets/express.ts
  integration/presets/index.ts
  integration/presets/longRunningApps.ts
  integration/presets/next.ts
  integration/presets/react.ts
  integration/presets/remix.ts
  integration/scripts/clerkJsServer.ts
  integration/scripts/waitForServer.ts
  integration/templates/express-vite/.gitignore
  integration/templates/express-vite/package.json
  integration/templates/express-vite/src/server/main.ts
  integration/templates/express-vite/src/views/index.ejs
  integration/templates/express-vite/src/views/protected.ejs
  integration/templates/express-vite/src/views/sign-in.ejs
  integration/templates/express-vite/src/views/sign-up.ejs
  integration/templates/express-vite/tsconfig.json
  integration/templates/express-vite/vite.config.ts
  integration/templates/index.ts
  integration/tests/sign-in-smoke.test.ts
  package.json
  scripts/nuke.sh
  turbo.json
Labels: actions, integration

#2128 feat(clerk-js): Add default Allowed redirect origins
  .changeset/fast-ads-mix.md
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/utils/__tests__/url.test.ts
  packages/clerk-js/src/utils/url.ts
Labels: clerk-js, v5-release

#2157 fix(clerk-js): Avoid wrapping NotificationCountBadge of OrgSwitcher with Gate (#2147)
  .changeset/brown-clouds-divide.md
  packages/clerk-js/src/ui/components/OrganizationSwitcher/OrganizationSwitcherTrigger.tsx
Labels: clerk-js, cherry

#2109 chore(types): Drop deprecations
  .changeset/long-beds-mate.md
  packages/expo/src/ClerkProvider.tsx
  packages/gatsby-plugin-clerk/src/GatsbyClerkProvider.tsx
  packages/gatsby-plugin-clerk/src/ssr/types.ts
  packages/gatsby-plugin-clerk/src/ssr/withServerAuth.ts
  packages/nextjs/src/app-router/server/ClerkProvider.tsx
  packages/nextjs/src/server/getAuth.ts
  packages/nextjs/src/server/types.ts
  packages/nextjs/src/types.ts
  packages/react/src/contexts/ClerkProvider.tsx
  packages/react/src/contexts/index.ts
  packages/react/src/index.ts
  packages/react/src/isomorphicClerk.ts
  packages/react/src/types.ts
  packages/remix/src/client/RemixClerkProvider.tsx
  packages/remix/src/client/types.ts
  packages/types/src/jwtv2.ts
  packages/types/src/key.ts
  packages/types/src/ssr.ts
Labels: types, nextjs, react, remix, expo, gatsby, v5-release

#2160 chore(repo): Show package versions in nightly-checks
  .changeset/rare-students-sell.md
  .github/workflows/nightly-checks.yml
Labels: actions

#2162 chore(*): Downgrade minimum version to node@18.17
  .changeset/bright-plants-swim.md
  integration/templates/next-app-router/package.json
  integration/templates/react-cra/package.json
  integration/templates/react-vite/package.json
  integration/templates/remix-node/package.json
  package-lock.json
  package.json
  packages/backend/package.json
  packages/chrome-extension/package.json
  packages/clerk-js/package.json
  packages/expo/package.json
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/package.json
  packages/localizations/package.json
  packages/nextjs/examples/next/package.json
  packages/nextjs/package.json
  packages/react/package.json
  packages/remix/package.json
  packages/sdk-node/examples/express/package.json
  packages/sdk-node/package.json
  packages/shared/package.json
  packages/themes/package.json
  packages/types/package.json
  playground/express/package.json
  playground/gatsby/package.json
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, sdk-node, expo, chrome-extension, playground, gatsby, themes, integration

#2163 Version Packages (alpha-v5)
  .changeset/pre.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/CHANGELOG.md
  packages/gatsby-plugin-clerk/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, sdk-node, expo, chrome-extension, gatsby, themes

#2167 feat(localization): extend ru-RU localization
  .changeset/flat-clocks-clap.md
  packages/localizations/src/ru-RU.ts
Labels: localizations

#2164 chore(repo): Drop support for deprecated React versions
  .changeset/new-points-train.md
  package-lock.json
  packages/chrome-extension/package.json
  packages/clerk-js/package.json
  packages/expo/package.json
  packages/localizations/package.json
  packages/localizations/src/ru-RU.ts
  packages/nextjs/package.json
  packages/react/package.json
  packages/remix/package.json
  packages/shared/package.json
  packages/themes/package.json
Labels: clerk-js, nextjs, react, remix, localizations, expo, chrome-extension, themes, v5-release

#2171 Backport ru-RU additions
  .changeset/flat-clocks-clap.md
  packages/localizations/src/ru-RU.ts
Labels: types, clerk-js, nextjs, react, remix, actions, backend, fastify, localizations, sdk-node, expo, chrome-extension, gatsby, themes, integration

#2174 Roy/rename unstable create theme
  .changeset/lovely-spies-kiss.md
  packages/themes/src/createTheme.ts
  packages/themes/src/themes/dark.ts
  packages/themes/src/themes/neobrutalism.ts
  packages/themes/src/themes/shadesOfPurple.ts
Labels: themes

#2159 Version Packages - V4
  .changeset/brown-clouds-divide.md
  .changeset/flat-clocks-clap.md
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
Labels: clerk-js, expo, chrome-extension

#2175 feat(localizations): Add ro-RO localization
  .changeset/lemon-crews-do.md
  packages/localizations/src/index.ts
  packages/localizations/src/ro-RO.ts
Labels: localizations

#2142 feat(clerk-js): Retheme <PhoneInput />
  .changeset/metal-baboons-vanish.md
  packages/clerk-js/src/ui.retheme/elements/PhoneInput/PhoneInput.tsx
  packages/clerk-js/src/ui.retheme/elements/Select.tsx
  packages/clerk-js/src/ui.retheme/icons/arrow-up-down.svg
  packages/clerk-js/src/ui.retheme/icons/check.svg
  packages/clerk-js/src/ui.retheme/icons/index.ts
Labels: clerk-js, retheme

#2181 chore(repo): Cleanup leftover users from the e2e instances
  .changeset/moody-radios-begin.md
  .github/workflows/e2e-cleanups.yml
  integration/cleanup/cleanup.setup.ts
  integration/playwright.cleanup.config.ts
  package.json
Labels: actions, integration

#2138 fix(clerk-js): Hide Members page of OrgProfile if user doesn't have any member related permissions
  .changeset/rich-actors-cross.md
  packages/clerk-js/src/ui.retheme/components/OrganizationProfile/OrganizationMembers.tsx
  packages/clerk-js/src/ui.retheme/components/OrganizationProfile/OrganizationProfileNavbar.tsx
  packages/clerk-js/src/ui.retheme/components/OrganizationProfile/OrganizationProfileRoutes.tsx
  packages/clerk-js/src/ui.retheme/components/OrganizationProfile/__tests__/OrganizationMembers.test.tsx
  packages/clerk-js/src/ui.retheme/components/OrganizationProfile/__tests__/OrganizationProfile.test.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationMembers.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationProfileNavbar.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationProfileRoutes.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/__tests__/OrganizationMembers.test.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/__tests__/OrganizationProfile.test.tsx
Labels: clerk-js, retheme

#2169 chore(repo): v5 extra cleanups
  .changeset/red-worms-fetch.md
  package-lock.json
  packages/backend/src/tokens/authStatus.ts
  packages/backend/src/tokens/factory.test.ts
  packages/backend/src/tokens/factory.ts
  packages/backend/src/tokens/interstitialRule.ts
  packages/backend/src/tokens/request.ts
  packages/backend/src/util/mergePreDefinedOptions.ts
  packages/backend/src/util/shared.ts
  packages/backend/tests/suites.ts
  packages/clerk-js/headless/index.d.ts
  packages/clerk-js/package.json
  packages/clerk-js/src/ui.retheme/lazyModules/providers.tsx
  packages/clerk-js/src/ui.retheme/portal/index.tsx
  packages/clerk-js/src/ui/lazyModules/providers.tsx
  packages/clerk-js/src/ui/portal/index.tsx
  packages/expo/package.json
  packages/expo/src/polyfills/base64Polyfill.ts
  packages/nextjs/src/pages/ClerkProvider.tsx
  packages/nextjs/src/server/authMiddleware.ts
  packages/nextjs/src/server/utils.ts
  packages/react/src/hooks/useAuth.ts
  packages/react/src/hooks/useSession.ts
  packages/react/src/hooks/useUser.ts
  packages/react/src/isomorphicClerk.ts
  packages/react/src/types.ts
  packages/remix/src/errors.ts
  packages/remix/src/ssr/authenticateRequest.ts
  packages/sdk-node/src/authenticateRequest.ts
  packages/sdk-node/src/clerkExpressRequireAuth.ts
  packages/sdk-node/src/clerkExpressWithAuth.ts
  packages/shared/src/__tests__/keys.test.ts
  packages/shared/src/keys.ts
Labels: clerk-js, nextjs, react, remix, backend, sdk-node, expo, v5-release, retheme

#2165 feat(backend,clerk-sdk-node): Drop create sms endpoint
  .changeset/eleven-bananas-joke.md
  .changeset/slimy-windows-grab.md
  packages/backend/README.md
  packages/backend/src/api/endpoints/SMSMessageApi.ts
  packages/backend/src/api/endpoints/index.ts
  packages/backend/src/api/factory.ts
  packages/sdk-node/examples/node/src/smsMessages.ts
  packages/sdk-node/src/__tests__/__snapshots__/exports.test.ts.snap
  packages/sdk-node/src/index.ts
Labels: backend, sdk-node

#2182 fix(clerk-js): Hide Members page of OrgProfile if user doesn't have any member related permissions (#2138)
  .changeset/rich-actors-cross.md
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationMembers.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationProfileNavbar.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationProfileRoutes.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/__tests__/OrganizationMembers.test.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/__tests__/OrganizationProfile.test.tsx
Labels: clerk-js, cherry

#2178 feat(backend): Introduce OrganizationPermissionAPI
  .changeset/swift-rocks-nail.md
  packages/backend/src/api/endpoints/OrganizationPermissionApi.ts
  packages/backend/src/api/endpoints/index.ts
  packages/backend/src/api/factory.ts
  packages/backend/src/api/resources/Enums.ts
  packages/backend/src/api/resources/JSON.ts
  packages/backend/src/api/resources/Permission.ts
  packages/backend/src/api/resources/index.ts
  packages/backend/src/exports.test.ts
  packages/nextjs/src/server/__tests__/__snapshots__/exports.test.ts.snap
  packages/sdk-node/src/__tests__/__snapshots__/exports.test.ts.snap
  packages/sdk-node/src/index.ts
Labels: nextjs, backend, sdk-node

#2184 feat(backend): Deprecate createSMSMessage
  .changeset/slimy-windows-grab.md
  packages/backend/src/api/endpoints/SMSMessageApi.ts
Labels: backend

#2177 feat(backend): Introduce OrganizationRoleAPI
  .changeset/cold-comics-serve.md
  packages/backend/src/api/endpoints/OrganizationRoleApi.ts
  packages/backend/src/api/endpoints/index.ts
  packages/backend/src/api/factory.ts
  packages/backend/src/api/resources/JSON.ts
  packages/backend/src/api/resources/Role.ts
  packages/backend/src/api/resources/index.ts
  packages/backend/src/exports.test.ts
  packages/nextjs/src/server/__tests__/__snapshots__/exports.test.ts.snap
  packages/sdk-node/src/__tests__/__snapshots__/exports.test.ts.snap
  packages/sdk-node/src/index.ts
Labels: nextjs, backend, sdk-node

#2158 feat(clerk-js,types): Update OrganizationPreview appearance descriptors for OrganizationSwitcher
  .changeset/wise-lions-type.md
  packages/clerk-js/src/ui.retheme/components/OrganizationSwitcher/OrganizationSwitcherPopover.tsx
  packages/clerk-js/src/ui.retheme/components/OrganizationSwitcher/OrganizationSwitcherTrigger.tsx
  packages/clerk-js/src/ui.retheme/components/OrganizationSwitcher/UserInvitationSuggestionList.tsx
  packages/clerk-js/src/ui.retheme/components/OrganizationSwitcher/UserMembershipList.tsx
  packages/clerk-js/src/ui/components/OrganizationSwitcher/OrganizationSwitcherPopover.tsx
  packages/clerk-js/src/ui/components/OrganizationSwitcher/OrganizationSwitcherTrigger.tsx
  packages/clerk-js/src/ui/components/OrganizationSwitcher/UserInvitationSuggestionList.tsx
  packages/clerk-js/src/ui/components/OrganizationSwitcher/UserMembershipList.tsx
  packages/types/src/elementIds.ts
Labels: types, clerk-js, v5-release, retheme

#2187 feat(backend): Introduce OrganizationRoleAPI (#2177)
  .changeset/cold-comics-serve.md
  packages/backend/src/api/endpoints/OrganizationRoleApi.ts
  packages/backend/src/api/endpoints/index.ts
  packages/backend/src/api/factory.ts
  packages/backend/src/api/resources/JSON.ts
  packages/backend/src/api/resources/Role.ts
  packages/backend/src/api/resources/index.ts
  packages/backend/src/exports.test.ts
  packages/nextjs/src/api/__tests__/__snapshots__/exports.test.ts.snap
  packages/nextjs/src/edge-middleware/__tests__/__snapshots__/exports.test.ts.snap
  packages/nextjs/src/server/__tests__/__snapshots__/exports.test.ts.snap
  packages/sdk-node/src/__tests__/__snapshots__/exports.test.ts.snap
  packages/sdk-node/src/index.ts
Labels: nextjs, backend, sdk-node, cherry

#2186 fix(clerk-js): Missing default export after internal refactoring
  .changeset/hungry-bikes-clean.md
  packages/clerk-js/src/ui.retheme/utils/test/createFixtures.tsx
Labels: clerk-js, retheme

#2154 feat(shared): SDK telemetry
  .changeset/wicked-spoons-confess.md
  package-lock.json
  packages/backend/src/index.ts
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/ui.retheme/localization/defaultEnglishResource.ts
  packages/clerk-js/src/ui.retheme/primitives/Flex.tsx
  packages/clerk-js/src/ui.retheme/primitives/Tbody.tsx
  packages/clerk-js/src/ui.retheme/primitives/Thead.tsx
  packages/clerk-js/src/ui.retheme/primitives/Tr.tsx
  packages/fastify/jest.config.js
  packages/fastify/src/__snapshots__/clerkClient.test.ts.snap
  packages/fastify/src/__snapshots__/constants.test.ts.snap
  packages/fastify/src/clerkClient.ts
  packages/fastify/src/constants.ts
  packages/fastify/src/global.d.ts
  packages/fastify/tsconfig.json
  packages/gatsby-plugin-clerk/src/GatsbyClerkProvider.tsx
  packages/gatsby-plugin-clerk/src/constants.ts
  packages/gatsby-plugin-clerk/src/ssr/clerkClient.ts
  packages/nextjs/jest.config.js
  packages/nextjs/src/global.d.ts
  packages/nextjs/src/server/authMiddleware.ts
  packages/nextjs/src/server/clerkClient.ts
  packages/nextjs/src/server/constants.ts
  packages/nextjs/src/utils/mergeNextClerkPropsWithEnv.ts
  packages/react/src/isomorphicClerk.ts
  packages/remix/src/client/RemixClerkProvider.tsx
  packages/remix/src/client/types.ts
  packages/remix/src/ssr/utils.ts
  packages/sdk-node/jest.config.js
  packages/sdk-node/src/globals.d.ts
  packages/sdk-node/src/utils.ts
  packages/sdk-node/tsconfig.json
  packages/shared/.gitignore
  packages/shared/package.json
  packages/shared/scripts/postinstall.mjs
  packages/shared/src/__tests__/telemetry.test.ts
  packages/shared/src/telemetry.ts
  packages/shared/src/telemetry/collector.ts
  packages/shared/src/telemetry/events/component-mounted.ts
  packages/shared/src/telemetry/events/index.ts
  packages/shared/src/telemetry/events/method-called.ts
  packages/shared/src/telemetry/types.ts
  packages/shared/subpaths.mjs
  packages/types/src/clerk.ts
  playground/app-router/src/middleware.ts
  scripts/subpath-workaround.mjs
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, sdk-node, playground, gatsby, retheme

#2168 Version Packages (alpha-v5)
  .changeset/pre.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/CHANGELOG.md
  packages/gatsby-plugin-clerk/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, sdk-node, expo, chrome-extension, gatsby, themes

#2191 fix(localizations): Added missing key and en-US localization
  .changeset/curvy-timers-play.md
  packages/localizations/src/en-US.ts
Labels: localizations

#2188 chore(repo): Explicit extend in ESLint overrides
  .changeset/odd-toes-develop.md
  packages/chrome-extension/src/index.ts
  packages/clerk-js/src/testUtils.ts
  packages/eslint-config-custom/.eslintrc.js
  packages/eslint-config-custom/_base.js
  packages/eslint-config-custom/react.js
  packages/eslint-config-custom/typescript.js
  packages/gatsby-plugin-clerk/src/ssr/clerkClient.ts
  packages/nextjs/src/server/clerkClient.ts
  packages/remix/src/client/RemixClerkProvider.tsx
  packages/sdk-node/src/index.ts
  packages/shared/src/react/clerk-swr.ts
Labels: clerk-js, nextjs, remix, sdk-node, chrome-extension, gatsby

#2193 chore(repo): Drop `Show package versions` in nightly-checks
  .github/workflows/nightly-checks.yml
Labels: actions

#1957 feat(clerk-js,types,nextjs,remix): Terse path parameters
  .changeset/dry-feet-join.md
  integration/templates/next-app-router/src/app/user/[[...catchall]]/page.tsx
  integration/templates/next-app-router/src/middleware.ts
  integration/templates/react-vite/src/main.tsx
  integration/templates/react-vite/src/sign-in/index.tsx
  integration/templates/react-vite/src/sign-up/index.tsx
  integration/templates/react-vite/src/user/index.tsx
  integration/testUtils/index.ts
  integration/testUtils/userProfilePageObject.ts
  integration/tests/navigation.test.ts
  packages/clerk-js/src/ui.retheme/components/CreateOrganization/CreateOrganization.tsx
  packages/clerk-js/src/ui.retheme/components/OrganizationProfile/OrganizationProfile.tsx
  packages/clerk-js/src/ui.retheme/components/SignIn/SignIn.tsx
  packages/clerk-js/src/ui.retheme/components/SignUp/SignUp.tsx
  packages/clerk-js/src/ui.retheme/components/UserProfile/UserProfile.tsx
  packages/clerk-js/src/ui.retheme/contexts/ClerkUIComponentsContext.tsx
  packages/clerk-js/src/ui.retheme/portal/index.tsx
  packages/clerk-js/src/ui/common/__tests__/authPropHelpers.test.ts
  packages/clerk-js/src/ui/components/CreateOrganization/CreateOrganization.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationProfile.tsx
  packages/clerk-js/src/ui/components/SignIn/SignIn.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUp.tsx
  packages/clerk-js/src/ui/components/UserProfile/UserProfile.tsx
  packages/clerk-js/src/ui/contexts/ClerkUIComponentsContext.tsx
  packages/clerk-js/src/ui/portal/index.tsx
  packages/clerk-js/src/utils/authPropHelpers.ts
  packages/nextjs/src/client-boundary/uiComponents.tsx
  packages/react/src/components/__tests__/OrganizationProfile.test.tsx
  packages/react/src/components/__tests__/OrganizationSwitcher.test.tsx
  packages/react/src/components/__tests__/SignIn.test.tsx
  packages/react/src/components/__tests__/SignUp.test.tsx
  packages/react/src/components/__tests__/UserButton.test.tsx
  packages/react/src/components/__tests__/UserProfile.test.tsx
  packages/react/src/components/uiComponents.tsx
  packages/react/src/components/withClerk.tsx
  packages/remix/src/client/uiComponents.tsx
  packages/types/src/clerk.retheme.ts
  packages/types/src/clerk.ts
  packages/types/src/utils.ts
  playground/nextjs/pages/create-organization/[[...index]].tsx
  playground/nextjs/pages/sign-in/[[...index]].tsx
Labels: types, clerk-js, nextjs, react, remix, playground, integration, v5-release, retheme

#2194 fix(clerk-js): Fallback to custom role name if localization is not provided
  .changeset/dull-wasps-begin.md
  packages/clerk-js/src/ui.retheme/components/OrganizationProfile/ActiveMembersList.tsx
  packages/clerk-js/src/ui.retheme/components/OrganizationProfile/InvitedMembersList.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/ActiveMembersList.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/InvitedMembersList.tsx
Labels: clerk-js, retheme

#2196 fix(clerk-js): Fallback to custom role name if localization is not provided (#2194)
  .changeset/dull-wasps-begin.md
  packages/clerk-js/src/ui/components/OrganizationProfile/ActiveMembersList.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/InvitedMembersList.tsx
Labels: clerk-js, cherry

#2121 feat(clerk-js): Retheme design and arrow on primary button
  .changeset/early-forks-argue.md
  .changeset/fluffy-chicken-explain.md
  .changeset/hungry-news-bathe.md
  packages/clerk-js/src/ui.retheme/elements/Form.tsx
  packages/clerk-js/src/ui.retheme/foundations/colors.ts
  packages/clerk-js/src/ui.retheme/foundations/shadows.ts
  packages/clerk-js/src/ui.retheme/foundations/typography.ts
  packages/clerk-js/src/ui.retheme/icons/arrow-right-button.svg
  packages/clerk-js/src/ui.retheme/icons/index.ts
  packages/clerk-js/src/ui.retheme/primitives/Button.tsx
  packages/clerk-js/src/ui.retheme/styledSystem/common.ts
Labels: clerk-js, retheme

#2200 fix(clerk-js): Reset CodeControl when resetting wizard in VerifyDomainPage
  .changeset/clever-moose-act.md
  packages/clerk-js/src/ui.retheme/components/OrganizationProfile/VerifyDomainPage.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/VerifyDomainPage.tsx
Labels: clerk-js, retheme

#2198 Version Packages - V4
  .changeset/dull-wasps-begin.md
  .changeset/grumpy-suns-boil.md
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
Labels: clerk-js, expo, chrome-extension

#2204 fix(clerk-js): Reset CodeControl when resetting wizard in VerifyDomainPage (#2200)
  .changeset/clever-moose-act.md
  packages/clerk-js/src/ui/components/OrganizationProfile/VerifyDomainPage.tsx
Labels: clerk-js, cherry
