Repository clerk/javascript, pull requests merged in 2023-10, with the labels that each got.

#1804 fix(clerk-js, clerk-react,gatsby-clerk-plugin): Cleanup subpath imports
  .changeset/strange-lamps-knock.md
  packages/clerk-js/src/ui/common/SSOCallback.tsx
  packages/clerk-js/src/ui/components/UserProfile/ConnectedAccountsSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/EnterpriseAccountsSection.tsx
  packages/clerk-js/src/ui/hooks/useEnabledThirdPartyProviders.tsx
  packages/clerk-js/src/ui/utils/test/fixtureHelpers.ts
  packages/gatsby-plugin-clerk/src/GatsbyClerkProvider.tsx
  packages/react/src/isomorphicClerk.ts
Labels: clerk-js, react, gatsby

#1811 fix(clerk-js,localizations,types): Add `formFieldHintText__slug` key
  .changeset/cyan-pots-invite.md
  packages/clerk-js/src/ui/elements/FormControl.tsx
  packages/localizations/src/de-DE.ts
  packages/localizations/src/en-US.ts
  packages/types/src/localization.ts
Labels: types, clerk-js, localizations

#1805 chore(types): Drop `password` property from UserJSON
  .changeset/friendly-gorillas-smash.md
  packages/types/src/json.ts
  packages/types/src/user.ts
Labels: types

#1801 feat(clerk-js): Allow customization of OrganizationProfile through OrganizationSwitcher
  .changeset/chilled-parrots-pump.md
  packages/clerk-js/src/ui/components/OrganizationSwitcher/OrganizationSwitcherPopover.tsx
  packages/clerk-js/src/ui/components/UserButton/useMultisessionActions.tsx
  packages/types/src/clerk.ts
Labels: types, clerk-js

#1817 fix(backend): Fix issue with Cloudfront forwarded protocol
  .changeset/friendly-pillows-cough.md
  packages/backend/src/constants.ts
  packages/backend/src/tokens/request.test.ts
  packages/backend/src/tokens/request.ts
  packages/backend/src/util/request.test.ts
  packages/fastify/src/__snapshots__/constants.test.ts.snap
Labels: backend, fastify

#1809 Introduce user method to leave an organization
  .changeset/early-tigers-report.md
  .changeset/shaggy-bottles-worry.md
  packages/clerk-js/src/core/resources/User.ts
  packages/clerk-js/src/ui/components/OrganizationProfile/ActionConfirmationPage.tsx
  packages/types/src/user.ts
Labels: types, clerk-js

#1820 test(clerk-js): Allow for tests in LeaveOrganizationPage to run
  .changeset/weak-geckos-cheer.md
  packages/clerk-js/src/ui/components/OrganizationProfile/__tests__/LeaveOrganizationPage.test.tsx
Labels: clerk-js

#1814 fix(clerk-js): Table UI issue with borders in Safari
  .changeset/shiny-flowers-draw.md
  packages/clerk-js/src/ui/primitives/Table.tsx
  packages/clerk-js/src/ui/primitives/Th.tsx
Labels: clerk-js

#1815 feat(localizations): 🌐 Add Arabic translations (ar-SA)
  .changeset/modern-geckos-wait.md
  packages/localizations/src/ar-SA.ts
  packages/localizations/src/index.ts
Labels: localizations

#1816 fix(backend): Add available kid to jwk-remote-missing error
  .changeset/cool-planes-shake.md
  packages/backend/src/tokens/keys.test.ts
  packages/backend/src/tokens/keys.ts
Labels: backend

#1819 chore(types,backend): Remove experimental jsdoc tags from multi-domain types
  .changeset/light-spoons-poke.md
  packages/backend/src/tokens/request.ts
  packages/types/src/clerk.ts
Labels: types, backend

#1797 fix(localizations): Add German translation for `deletePage` section
  .changeset/hungry-pandas-explain.md
  packages/localizations/src/de-DE.ts
Labels: localizations

#1813 feat(clerk-js,shared,types): Add ClerkRuntimeError class
  .changeset/curly-scissors-buy.md
  packages/clerk-js/src/core/resources/Error.ts
  packages/clerk-js/src/core/resources/SignUp.ts
  packages/clerk-js/src/ui/elements/contexts/CardStateContext.tsx
  packages/clerk-js/src/ui/localization/makeLocalizable.tsx
  packages/clerk-js/src/ui/utils/errorHandler.ts
  packages/localizations/src/en-US.ts
  packages/shared/src/errors/Error.ts
  packages/types/src/api.ts
  packages/types/src/localization.ts
Labels: types, clerk-js, localizations

#1810 Version Packages
  .changeset/chilled-parrots-pump.md
  .changeset/cool-planes-shake.md
  .changeset/curly-scissors-buy.md
  .changeset/cyan-pots-invite.md
  .changeset/early-tigers-report.md
  .changeset/empty-weeks-retire.md
  .changeset/friendly-gorillas-smash.md
  .changeset/friendly-pillows-cough.md
  .changeset/hungry-pandas-explain.md
  .changeset/light-spoons-poke.md
  .changeset/modern-geckos-wait.md
  .changeset/shaggy-bottles-worry.md
  .changeset/shiny-flowers-draw.md
  .changeset/stale-parrots-drop.md
  .changeset/strange-lamps-knock.md
  .changeset/weak-geckos-cheer.md
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/CHANGELOG.md
  packages/gatsby-plugin-clerk/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
Labels: clerk-js, nextjs, react, remix, expo, chrome-extension, gatsby

#1824 fix(clerk-js): Correctly auto switch and paste when typing a phone nu…
  .changeset/real-zebras-perform.md
  packages/clerk-js/src/ui/components/SignIn/SignInStart.tsx
Labels: clerk-js

#1807 fix(nextjs, shared): Restores reverted commits and fixes issue with shared in nextjs
  .changeset/sweet-bottles-watch.md
  package-lock.json
  package.json
  packages/backend/package.json
  packages/backend/src/api/endpoints/InterstitialApi.ts
  packages/backend/src/api/endpoints/OrganizationApi.ts
  packages/backend/src/api/request.ts
  packages/backend/src/api/resources/ExternalAccount.ts
  packages/backend/src/api/resources/Organization.ts
  packages/backend/src/api/resources/OrganizationMembership.ts
  packages/backend/src/api/resources/User.ts
  packages/backend/src/index.ts
  packages/backend/src/redirections.test.ts
  packages/backend/src/redirections.ts
  packages/backend/src/shared/callWithRetry.ts
  packages/backend/src/shared/index.ts
  packages/backend/src/shared/instance.ts
  packages/backend/src/shared/isDevOrStagingUrl.ts
  packages/backend/src/shared/parsePublishableKey.ts
  packages/backend/src/shared/url.ts
  packages/backend/src/tokens/interstitial.ts
  packages/backend/src/tokens/interstitialRule.ts
  packages/backend/src/tokens/jwt/verifyJwt.ts
  packages/backend/src/tokens/keys.ts
  packages/backend/src/tokens/request.ts
  packages/backend/src/tokens/verify.ts
  packages/backend/src/util/shared.ts
  packages/nextjs/package.json
  packages/shared/src/hooks/contexts.tsx
  packages/shared/src/hooks/createContextAndHook.ts
  packages/shared/src/utils/callWithRetry.ts
  packages/shared/src/utils/url.ts
Labels: nextjs, backend

#1835 fix(clerk-react,remix,shared): Make `exports.types` the first key in `exports`
  .changeset/dull-gifts-yawn.md
  packages/react/package.json
  packages/remix/package.json
  packages/shared/package.json
Labels: react, remix

#1829 chore(nextjs): Add deprecation warning for app-beta subpath export
  .changeset/stupid-jeans-flash.md
  packages/nextjs/src/app-beta/ClerkProvider.tsx
  packages/nextjs/src/app-beta/auth.ts
  packages/nextjs/src/app-beta/clerkClient.ts
  packages/nextjs/src/app-beta/client/ClerkProvider.tsx
  packages/nextjs/src/app-beta/client/clerk-react.ts
  packages/nextjs/src/app-beta/client/index.ts
  packages/nextjs/src/app-beta/client/ui-components.tsx
  packages/nextjs/src/app-beta/control-components.tsx
  packages/nextjs/src/app-beta/currentUser.ts
  packages/nextjs/src/app-router/server/currentUser.ts
Labels: nextjs, v5-pre-release

#1839 fix(shared): Removal of `clerkError` property
  .changeset/empty-donuts-walk.md
  packages/clerk-js/src/core/resources/Error.ts
  packages/clerk-js/src/core/resources/SignUp.ts
  packages/shared/src/errors/Error.ts
Labels: clerk-js

#1841 chore(backend): Remove noisy deprecation warning
  .changeset/moody-coats-serve.md
  packages/backend/src/api/request.ts
Labels: backend

#1823 chore(clerk-js,backend,shared):Apply deprecation warnings `@clerk/types`
  .changeset/eighty-cobras-matter.md
  packages/backend/src/redirections.ts
  packages/backend/src/tokens/authObjects.ts
  packages/backend/src/tokens/interstitial.ts
  packages/backend/src/tokens/jwt/verifyJwt.ts
  packages/backend/src/tokens/request.ts
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/resources/OrganizationMembership.ts
  packages/clerk-js/src/core/resources/OrganizationMembershipRequest.ts
  packages/clerk-js/src/core/resources/PublicUserData.ts
  packages/clerk-js/src/core/resources/Session.ts
  packages/clerk-js/src/core/resources/SignIn.ts
  packages/clerk-js/src/core/resources/SignUp.ts
  packages/clerk-js/src/core/resources/User.ts
  packages/clerk-js/src/core/resources/UserData.ts
  packages/clerk-js/src/core/resources/Web3Wallet.ts
  packages/clerk-js/src/core/resources/__snapshots__/OrganizationMembership.test.ts.snap
  packages/clerk-js/src/core/resources/__snapshots__/OrganizationMembershipRequest.test.ts.snap
  packages/clerk-js/src/core/resources/internal.ts
  packages/clerk-js/src/ui/contexts/ClerkUIComponentsContext.tsx
  packages/clerk-js/src/utils/jwt.ts
  packages/react/src/contexts/ClerkContextProvider.tsx
  packages/shared/src/utils/deprecated.ts
Labels: clerk-js, react, backend, v5-pre-release

#1831 Version Packages
  .changeset/dull-gifts-yawn.md
  .changeset/empty-donuts-walk.md
  .changeset/moody-coats-serve.md
  .changeset/real-zebras-perform.md
  .changeset/stupid-jeans-flash.md
  .changeset/sweet-bottles-watch.md
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/CHANGELOG.md
  packages/gatsby-plugin-clerk/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
Labels: clerk-js, expo, chrome-extension

#1842 Version Packages
  .changeset/dull-gifts-yawn.md
  .changeset/eighty-cobras-matter.md
  .changeset/empty-donuts-walk.md
  .changeset/moody-coats-serve.md
  .changeset/real-zebras-perform.md
  .changeset/stupid-jeans-flash.md
  .changeset/sweet-bottles-watch.md
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/CHANGELOG.md
  packages/gatsby-plugin-clerk/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
Labels: clerk-js, nextjs, react, remix, backend, fastify, sdk-node, expo, chrome-extension, gatsby

#1833 chore(*): Rename refs of MagicLink to EmailLink - deprecation JS Docs
  .changeset/tricky-olives-rescue.md
  packages/chrome-extension/src/__snapshots__/exports.test.ts.snap
  packages/clerk-js/src/core/clerk.test.ts
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/resources/EmailAddress.ts
  packages/clerk-js/src/core/resources/Error.ts
  packages/clerk-js/src/core/resources/SignIn.ts
  packages/clerk-js/src/core/resources/SignUp.ts
  packages/clerk-js/src/ui/common/EmailLinkVerify.tsx
  packages/clerk-js/src/ui/common/__tests__/redirects.test.ts
  packages/clerk-js/src/ui/common/redirects.ts
  packages/clerk-js/src/ui/components/SignIn/SignInFactorOneEmailLinkCard.tsx
  packages/clerk-js/src/ui/components/SignIn/__tests__/SignInFactorOne.test.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpEmailLinkCard.tsx
  packages/clerk-js/src/ui/components/SignUp/__tests__/SignUpEmailLinkFlowComplete.test.tsx
  packages/clerk-js/src/ui/components/SignUp/__tests__/SignUpVerifyEmail.test.tsx
  packages/clerk-js/src/ui/components/UserProfile/EmailPage.tsx
  packages/clerk-js/src/ui/components/UserProfile/VerifyWithLink.tsx
  packages/clerk-js/src/ui/hooks/index.ts
  packages/clerk-js/src/ui/hooks/useEmailLink.ts
  packages/clerk-js/src/ui/hooks/useMagicLink.ts
  packages/clerk-js/src/ui/utils/test/fixtureHelpers.ts
  packages/expo/src/index.ts
  packages/nextjs/src/app-beta/client/clerk-react.ts
  packages/nextjs/src/app-beta/client/index.ts
  packages/nextjs/src/client-boundary/hooks.ts
  packages/nextjs/src/index.ts
  packages/react/src/errors.ts
  packages/react/src/hooks/index.ts
  packages/react/src/hooks/useEmailLink.ts
  packages/react/src/hooks/useMagicLink.ts
  packages/react/src/index.ts
  packages/react/src/isomorphicClerk.ts
  packages/shared/src/errors/Error.ts
  packages/types/src/clerk.ts
  packages/types/src/emailAddress.ts
  packages/types/src/signIn.ts
  packages/types/src/signUp.ts
  packages/types/src/verification.ts
Labels: types, clerk-js, nextjs, react, expo, chrome-extension, v5-pre-release

#1834 Introduce internal Gate component
  .changeset/loud-foxes-love.md
  .changeset/proud-dolls-yawn.md
  packages/clerk-js/src/core/resources/OrganizationMembership.ts
  packages/clerk-js/src/core/resources/Session.test.ts
  packages/clerk-js/src/core/resources/Session.ts
  packages/clerk-js/src/core/resources/__snapshots__/OrganizationMembership.test.ts.snap
  packages/clerk-js/src/core/test/fixtures.ts
  packages/clerk-js/src/ui/common/Gate.tsx
  packages/clerk-js/src/ui/common/index.ts
  packages/clerk-js/src/ui/hooks/useFetch.ts
  packages/types/src/json.ts
  packages/types/src/organizationMembership.ts
  packages/types/src/session.ts
Labels: types, clerk-js

#1825 fix(clerk-js): Correctly set idle card state on add mfa error
  .changeset/shy-dolls-serve.md
  packages/clerk-js/src/ui/components/UserProfile/MfaPhoneCodePage.tsx
Labels: clerk-js

#1848 fix(clerk-js): Missing types when importing clerk-js headless
  .changeset/polite-elephants-travel.md
  packages/clerk-js/headless/index.d.ts
Labels: clerk-js

#1845 feat(clerk-js,backend): Throw error if signInUrl is on same origin as a satellite app
  .changeset/polite-rats-care.md
  packages/backend/src/tokens/request.test.ts
  packages/backend/src/tokens/request.ts
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/errors.ts
Labels: clerk-js, backend

#1838 fix(clerk-js): Fix layout shift for Social block buttons
  .changeset/honest-countries-repair.md
  packages/clerk-js/src/ui/common/InfiniteListSpinner.tsx
  packages/clerk-js/src/ui/components/OrganizationList/shared.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/DomainList.tsx
  packages/clerk-js/src/ui/elements/Actions.tsx
  packages/clerk-js/src/ui/elements/ArrowBlockButton.tsx
  packages/clerk-js/src/ui/elements/SocialButtons.tsx
  packages/clerk-js/src/ui/primitives/Spinner.tsx
Labels: clerk-js

#1772 feat(backend,clerk-js,types): Support the new LinkedIn OAuth Provider
  .changeset/serious-zebras-sip.md
  packages/backend/src/api/resources/Enums.ts
  packages/clerk-js/src/ui/utils/test/fixtures.ts
  packages/types/src/oauth.ts
Labels: types, clerk-js, backend

#1852 add missing types hebrew localization
  .changeset/loud-mugs-notice.md
  packages/localizations/src/he-IL.ts
Labels: localizations

#1856 Fix noisy deprecations sdk node
  .changeset/tasty-toes-pump.md
  packages/backend/src/tokens/factory.ts
  packages/sdk-node/src/authenticateRequest.ts
  packages/sdk-node/src/utils.ts
Labels: backend, sdk-node, v5-pre-release

#1859 chore(shared,clerk-expo): Apply deprecation warnings env variables
  .changeset/lovely-kiwis-juggle.md
  package-lock.json
  packages/expo/package.json
  packages/expo/src/ClerkProvider.tsx
  packages/gatsby-plugin-clerk/src/constants.ts
  packages/gatsby-plugin-clerk/src/gatsby-browser.tsx
  packages/gatsby-plugin-clerk/src/gatsby-ssr.tsx
  packages/gatsby-plugin-clerk/src/ssr/authenticateRequest.ts
  packages/gatsby-plugin-clerk/src/ssr/clerkClient.ts
  packages/gatsby-plugin-clerk/src/ssr/index.ts
  packages/gatsby-plugin-clerk/src/ssr/withServerAuth.ts
  packages/nextjs/README.md
  packages/nextjs/src/global.d.ts
  packages/remix/README.md
  packages/remix/src/ssr/authenticateRequest.ts
  packages/sdk-node/README.md
  packages/sdk-node/examples/express/.env.sample
  packages/sdk-node/examples/express/src/runtime-keys-middleware.ts
  packages/sdk-node/examples/express/src/secrets.ts
  packages/sdk-node/examples/node/.env.sample
  packages/sdk-node/package.json
  packages/sdk-node/src/utils.ts
  turbo.json
Labels: v5-pre-release

#1858 chore(clerk-sdk-node): Drop noisy deprecation of unstable_options in sdk-node
  .changeset/seven-shrimps-train.md
  packages/sdk-node/src/clerkClient.ts
  playground/cra-js/package.json
  playground/express/package.json
  playground/express/src/routes/private.ts
  playground/fastify/package.json
  playground/remix-cf-pages/package.json
  playground/vite-react-ts/package.json
Labels: sdk-node, playground, v5-pre-release

#1863 chore(clerk-js): Update comment on legacy integration token
  .changeset/mean-spoons-approve.md
  packages/clerk-js/src/core/resources/Session.ts
Labels: clerk-js

#1857 feat(sdks): Add sdkMetadata to Clerk singleton, populate it for each SDK
  .changeset/nasty-ties-invite.md
  .gitignore
  packages/chrome-extension/jest.config.js
  packages/chrome-extension/src/ClerkProvider.tsx
  packages/chrome-extension/src/globals.d.ts
  packages/clerk-js/src/core/clerk.ts
  packages/expo/package.json
  packages/expo/src/globals.d.ts
  packages/expo/src/singleton.ts
  packages/expo/tsconfig.build.json
  packages/expo/tsconfig.declarations.json
  packages/expo/tsconfig.json
  packages/expo/tsup.config.ts
  packages/fastify/tsup.config.ts
  packages/gatsby-plugin-clerk/package.json
  packages/gatsby-plugin-clerk/src/GatsbyClerkProvider.tsx
  packages/gatsby-plugin-clerk/src/globals.d.ts
  packages/gatsby-plugin-clerk/tsconfig.build.json
  packages/gatsby-plugin-clerk/tsconfig.declarations.json
  packages/gatsby-plugin-clerk/tsconfig.json
  packages/gatsby-plugin-clerk/tsup.config.ts
  packages/nextjs/src/global.d.ts
  packages/nextjs/src/utils/mergeNextClerkPropsWithEnv.ts
  packages/react/src/isomorphicClerk.ts
  packages/react/src/types.ts
  packages/remix/package.json
  packages/remix/src/client/RemixClerkProvider.tsx
  packages/remix/src/globals.d.ts
  packages/remix/tsconfig.build.json
  packages/remix/tsconfig.declarations.json
  packages/remix/tsconfig.json
  packages/remix/tsup.config.ts
  packages/types/src/clerk.ts
Labels: types, clerk-js, nextjs, react, remix, fastify, expo, chrome-extension, gatsby

#1861 feat(clerk-js): Autoswitch to phone input if the only sign in initial value is the phone number
  .changeset/large-rockets-return.md
  packages/clerk-js/src/ui/components/SignIn/SignInStart.tsx
Labels: clerk-js

#1843 Version Packages
  .changeset/hip-bees-warn.md
  .changeset/honest-countries-repair.md
  .changeset/large-rockets-return.md
  .changeset/loud-foxes-love.md
  .changeset/loud-mugs-notice.md
  .changeset/lovely-kiwis-juggle.md
  .changeset/mean-spoons-approve.md
  .changeset/nasty-ties-invite.md
  .changeset/polite-elephants-travel.md
  .changeset/polite-rats-care.md
  .changeset/proud-dolls-yawn.md
  .changeset/serious-zebras-sip.md
  .changeset/seven-shrimps-train.md
  .changeset/shy-dolls-serve.md
  .changeset/tasty-toes-pump.md
  .changeset/tricky-olives-rescue.md
  .changeset/violet-avocados-fold.md
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/CHANGELOG.md
  packages/gatsby-plugin-clerk/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, sdk-node, expo, chrome-extension, gatsby, themes

#1826 chore(clerk-js): Improve accessibility in UserButton and OrganizationSwitcher
  .changeset/afraid-bobcats-mate.md
  packages/clerk-js/src/ui/components/OrganizationSwitcher/OrganizationSwitcher.tsx
  packages/clerk-js/src/ui/components/OrganizationSwitcher/OrganizationSwitcherPopover.tsx
  packages/clerk-js/src/ui/components/OrganizationSwitcher/OrganizationSwitcherTrigger.tsx
  packages/clerk-js/src/ui/components/OrganizationSwitcher/OtherOrganizationActions.tsx
  packages/clerk-js/src/ui/components/OrganizationSwitcher/UserInvitationSuggestionList.tsx
  packages/clerk-js/src/ui/components/OrganizationSwitcher/UserMembershipList.tsx
  packages/clerk-js/src/ui/components/OrganizationSwitcher/__tests__/OrganizationSwitcher.test.tsx
  packages/clerk-js/src/ui/components/UserButton/UserButton.tsx
  packages/clerk-js/src/ui/components/UserButton/UserButtonPopover.tsx
  packages/clerk-js/src/ui/components/UserButton/UserButtonTrigger.tsx
  packages/clerk-js/src/ui/components/UserButton/__tests__/UserButton.test.tsx
  packages/clerk-js/src/ui/elements/Actions.tsx
  packages/clerk-js/src/ui/elements/PoweredByClerk.tsx
Labels: clerk-js

#1786 PLT 155 - Introduce jwt signing js backend
  .changeset/cold-bags-watch.md
  packages/backend/README.md
  packages/backend/src/exports.test.ts
  packages/backend/src/tokens/fixtures.ts
  packages/backend/src/tokens/jwt/algorithms.ts
  packages/backend/src/tokens/jwt/assertions.test.ts
  packages/backend/src/tokens/jwt/assertions.ts
  packages/backend/src/tokens/jwt/cryptoKeys.test.ts
  packages/backend/src/tokens/jwt/cryptoKeys.ts
  packages/backend/src/tokens/jwt/hasValidSignature.ts
  packages/backend/src/tokens/jwt/index.ts
  packages/backend/src/tokens/jwt/signJwt.test.ts
  packages/backend/src/tokens/jwt/signJwt.ts
  packages/backend/src/tokens/jwt/verifyJwt.test.ts
  packages/backend/src/tokens/jwt/verifyJwt.ts
  packages/backend/tests/suites.ts
  packages/nextjs/src/api/__tests__/__snapshots__/exports.test.ts.snap
  packages/nextjs/src/edge-middleware/__tests__/__snapshots__/exports.test.ts.snap
  packages/nextjs/src/server/__tests__/__snapshots__/exports.test.ts.snap
  packages/sdk-node/src/__tests__/__snapshots__/exports.test.ts.snap
Labels: nextjs, backend, sdk-node

#1871 chore(clerk-js): Fix broken Organization methods
  .changeset/unlucky-carrots-exist.md
  packages/clerk-js/src/core/clerk.test.ts
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/resources/Organization.ts
  packages/clerk-js/src/ui/components/OrganizationList/UserInvitationList.tsx
  packages/clerk-js/src/ui/components/OrganizationList/__tests__/OrganizationList.test.tsx
  packages/react/src/isomorphicClerk.ts
  packages/types/src/clerk.ts
Labels: types, clerk-js, react

#1868 fix(shared): Remove testUtils & smaller updates
  .changeset/serious-meals-wink.md
  package-lock.json
  packages/clerk-js/setupJestAfterEnv.ts
  packages/clerk-js/src/ui/components/OrganizationProfile/__tests__/OrganizationMembers.test.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/__tests__/OrganizationSettings.test.tsx
  packages/clerk-js/src/ui/elements/PhoneInput/__tests__/useFormattedPhoneNumber.test.ts
  packages/clerk-js/src/ui/hooks/__tests__/useSupportEmail.test.tsx
  packages/clerk-js/src/ui/router/__tests__/HashRouter.test.tsx
  packages/clerk-js/src/ui/router/__tests__/PathRouter.test.tsx
  packages/clerk-js/src/ui/router/__tests__/Switch.test.tsx
  packages/clerk-js/src/ui/router/__tests__/VirtualRouter.test.tsx
  packages/clerk-js/src/utils/__tests__/ignoreEventValue.test.ts
  packages/react/src/components/__tests__/SignInButton.test.tsx
  packages/react/src/components/__tests__/SignInWithMetamaskButton.test.tsx
  packages/react/src/components/__tests__/SignOutButton.test.tsx
  packages/react/src/components/__tests__/SignUpButton.test.tsx
  packages/react/src/utils/__tests__/useMaxAllowedInstancesGuard.test.tsx
  packages/shared/jest.config.js
  packages/shared/package.cjs.json
  packages/shared/package.esm.json
  packages/shared/package.json
  packages/shared/src/testUtils/index.ts
  packages/shared/src/testUtils/testUtils.ts
  packages/shared/testUtils/package.json
  packages/shared/tsconfig.json
  packages/shared/tsup.config.ts
  setupJest.afterEnv.ts
  tsconfig.eslint.json
Labels: clerk-js, react

#1865 feat(clerk-js,types): Update system permission names
  .changeset/fresh-news-cry.md
  packages/clerk-js/src/core/resources/Session.test.ts
  packages/clerk-js/src/core/test/fixtures.ts
  packages/types/src/organizationMembership.ts
Labels: types, clerk-js

#1866 feat(nextjs): Improve debug logging
  .changeset/tough-masks-knock.md
  packages/nextjs/jest.config.js
  packages/nextjs/src/utils/debugLogger.test.ts
  packages/nextjs/src/utils/debugLogger.ts
Labels: nextjs

#1873 fix(clerk-js): Enforce LTR direction in code inputs
  .changeset/metal-lizards-build.md
  packages/clerk-js/src/ui/elements/CodeControl.tsx
Labels: clerk-js

#1849 feat(clerk-js): Use Gate in OrganizationMembers
  .changeset/witty-boats-joke.md
  packages/clerk-js/src/ui/common/Gate.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/ActiveMembersList.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationMembers.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationMembersTabInvitations.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationMembersTabRequests.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/__tests__/OrganizationMembers.test.tsx
Labels: clerk-js

#1850 feat(clerk-js): Use Gate in OrganizationSettings
  .changeset/tender-planets-explain.md
  packages/clerk-js/src/ui/components/OrganizationProfile/DomainList.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationProfileRoutes.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationSettings.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/__tests__/OrganizationSettings.test.tsx
Labels: clerk-js

#1851 feat(clerk-js): Use Gate in OrganizationSwitcher
  .changeset/shy-seahorses-begin.md
  packages/clerk-js/src/ui/components/OrganizationProfile/__tests__/OrganizationMembers.test.tsx
  packages/clerk-js/src/ui/components/OrganizationSwitcher/OrganizationSwitcherPopover.tsx
  packages/clerk-js/src/ui/components/OrganizationSwitcher/OrganizationSwitcherTrigger.tsx
  packages/clerk-js/src/ui/components/OrganizationSwitcher/__tests__/OrganizationSwitcher.test.tsx
Labels: clerk-js

#1876 chore(clerk-js,types): Convert Saml related types from experimental to stable
  .changeset/happy-turkeys-explode.md
  packages/clerk-js/src/core/resources/SamlAccount.ts
  packages/clerk-js/src/core/resources/User.ts
  packages/clerk-js/src/core/resources/UserSettings.ts
  packages/types/src/clerk.ts
  packages/types/src/factors.ts
  packages/types/src/json.ts
  packages/types/src/samlAccount.ts
  packages/types/src/strategies.ts
  packages/types/src/user.ts
  packages/types/src/userSettings.ts
Labels: types, clerk-js, v5-pre-release

#1862 feat(remix): Refactor `getEnvVariable`
  .changeset/thin-geese-peel.md
  packages/remix/src/ssr/authenticateRequest.ts
  packages/remix/src/ssr/getAuth.ts
  packages/remix/src/ssr/rootAuthLoader.ts
  packages/remix/src/ssr/utils.ts
  packages/remix/src/utils.ts
Labels: remix

#1889 fix(clerk-js): Incorrect deprecation message for `__unstable__membershipUpdate`
  .changeset/violet-dots-wait.md
  packages/clerk-js/src/core/clerk.ts
Labels: clerk-js

#1892 chore(*): Remove all gitHead
  .changeset/gorgeous-planes-drive.md
  packages/clerk-js/package.json
  packages/expo/package.json
  packages/gatsby-plugin-clerk/package.json
  packages/nextjs/package.json
  packages/react/package.json
  packages/remix/package.json
  packages/sdk-node/package.json
Labels: clerk-js, nextjs, react, remix, sdk-node, expo, gatsby

#1869 feat(clerk-js,shared,types): Remove invalid email addresses from input for Organization Invitation
  .changeset/yellow-pumpkins-buy.md
  packages/clerk-js/src/ui/components/OrganizationProfile/InviteMembersForm.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/__tests__/InviteMembersPage.test.tsx
  packages/shared/src/errors/Error.ts
  packages/types/src/api.ts
  packages/types/src/json.ts
Labels: types, clerk-js

#1870 fix(clerk-js): Correctly navigate to the continue route if needed during verification
  .changeset/quiet-points-applaud.md
  packages/clerk-js/src/ui/components/SignUp/SignUp.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpContinue.tsx
Labels: clerk-js

#1877 chore(repo,clerk-js): Update TS to v5 & Update emotion minor
  .changeset/spotty-students-tell.md
  package-lock.json
  package.json
  packages/clerk-js/package.json
  packages/clerk-js/src/ui/elements/ArrowBlockButton.tsx
  packages/clerk-js/src/ui/elements/IconButton.tsx
  packages/clerk-js/tsconfig.declarations.json
Labels: clerk-js

#1803 feat(clerk-js,types): Add appearance keys for pagination and table head
  .changeset/clean-bears-fold.md
  packages/clerk-js/src/ui/components/OrganizationProfile/MemberListTable.tsx
  packages/clerk-js/src/ui/customizables/elementDescriptors.ts
  packages/clerk-js/src/ui/elements/Pagination.tsx
  packages/themes/src/createTheme.ts
  packages/types/src/appearance.ts
Labels: types, clerk-js, themes

#1867 Version Packages
  .changeset/afraid-bobcats-mate.md
  .changeset/clean-bears-fold.md
  .changeset/cold-bags-watch.md
  .changeset/five-months-look.md
  .changeset/fresh-news-cry.md
  .changeset/gorgeous-planes-drive.md
  .changeset/happy-turkeys-explode.md
  .changeset/itchy-olives-pay.md
  .changeset/light-coats-brush.md
  .changeset/metal-lizards-build.md
  .changeset/quiet-points-applaud.md
  .changeset/serious-meals-wink.md
  .changeset/shy-seahorses-begin.md
  .changeset/spotty-students-tell.md
  .changeset/tender-planets-explain.md
  .changeset/thin-geese-peel.md
  .changeset/tough-masks-knock.md
  .changeset/unlucky-carrots-exist.md
  .changeset/violet-dots-wait.md
  .changeset/witty-boats-joke.md
  .changeset/yellow-pumpkins-buy.md
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/CHANGELOG.md
  packages/gatsby-plugin-clerk/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, sdk-node, expo, chrome-extension, gatsby, themes

#1884 Create zh-TW.ts
  .changeset/lemon-bottles-give.md
  packages/localizations/src/zh-TW.ts
Labels: localizations

#1902 fix(repo): Ensure build runs before lint in CI
  .changeset/olive-foxes-knock.md
  .github/actions/setup/action.yml
  .github/workflows/base-lint.yml
  .github/workflows/base-registry.yml
  .github/workflows/checks.yml
  packages/nextjs/src/ssr/utils/authenticateRequest.ts
  turbo.json
Labels: nextjs, actions

#1907 chore(repo): Add merge_group trigger to checks.yml
  .github/workflows/checks.yml
Labels: actions

#1901 chore(repo): Use correct install snippet in snapshot comment
  .github/workflows/release-snapshot.yml
Labels: actions

#1905 chore(clerk-js): Deprecate experimental captcha from Clerk singleton
  .changeset/wild-moons-develop.md
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/resources/SignUp.ts
  packages/clerk-js/src/utils/retrieveCaptchaInfo.ts
  packages/types/src/clerk.ts
Labels: types, clerk-js

#1855 fix(clerk-js): Append initial values query params after hash
  .changeset/wise-spiders-hammer.md
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/utils/__tests__/url.test.ts
  packages/clerk-js/src/utils/url.ts
Labels: clerk-js

#1904 fix(clerk-js): Properly show the deprecation warnings for usage of limit and offset
  .changeset/pretty-frogs-turn.md
  packages/clerk-js/src/core/resources/Organization.ts
  packages/clerk-js/src/core/resources/OrganizationMembership.ts
Labels: clerk-js

#1908 fix(nextjs): Warn about misplaced middleware file when using auth or getAuth
  .changeset/selfish-pens-laugh.md
  packages/nextjs/src/server/errors.ts
Labels: nextjs

#1909 fix(clerk-js): Add localization for password input in SignInFactorOnePasswordCard component
  .changeset/olive-pants-hide.md
  packages/clerk-js/src/ui/components/SignIn/SignInFactorOnePasswordCard.tsx
Labels: clerk-js

#1903 chore(clerk-js): Remove custom Alert from invitation page and display error as global
  .changeset/shiny-experts-notice.md
  packages/clerk-js/src/ui/components/OrganizationProfile/InviteMembersForm.tsx
  packages/clerk-js/src/ui/elements/contexts/CardStateContext.tsx
Labels: clerk-js

#1900 Version Packages
  .changeset/lemon-bottles-give.md
  .changeset/olive-foxes-knock.md
  .changeset/olive-pants-hide.md
  .changeset/pretty-frogs-turn.md
  .changeset/selfish-pens-laugh.md
  .changeset/shiny-experts-notice.md
  .changeset/wild-moons-develop.md
  .changeset/wise-spiders-hammer.md
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/CHANGELOG.md
  packages/gatsby-plugin-clerk/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/shared/package.json
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, sdk-node, expo, chrome-extension, gatsby, themes

#1891 chore(*): Publish packages with npm provenance
  .changeset/fast-planes-talk.md
  .github/workflows/release-prod.yml
  .github/workflows/release-snapshot.yml
  .github/workflows/release-staging.yml
  commitlint.config.js
  package.json
  packages/backend/package.json
  packages/chrome-extension/package.json
  packages/clerk-js/package.json
  packages/expo/package.json
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/package.json
  packages/localizations/package.json
  packages/nextjs/package.json
  packages/react/package.json
  packages/remix/package.json
  packages/sdk-node/package.json
  packages/shared/package.json
  packages/themes/package.json
  packages/types/package.json
Labels: types, clerk-js, nextjs, react, remix, actions, backend, fastify, localizations, sdk-node, expo, chrome-extension, gatsby, themes

#1910 chore(clerk-js): Keep CreateOrganizationForm disabled if avatar has been uploaded and org name is empty
  .changeset/hot-shoes-roll.md
  packages/clerk-js/src/ui/components/CreateOrganization/CreateOrganizationForm.tsx
Labels: clerk-js

#1914 chore(repo): Fix release workflow permissions
  .github/workflows/release-prod.yml
Labels: actions

#1917 chore(clerk-js,clerk-react): Update JSDocs to mark `setActive` stable
  .changeset/slimy-hornets-obey.md
  packages/clerk-js/src/core/clerk.ts
  packages/react/src/isomorphicClerk.ts
Labels: clerk-js, react, v5-pre-release

#1840 feat(nextjs): Support rendering ClerkProvider in client components
  .changeset/gorgeous-countries-appear.md
  integration/models/application.ts
  integration/tests/global.teardown.ts
  integration/tests/next-build.test.ts
  package.json
  packages/nextjs/src/app-router/client/ClerkProvider.tsx
  packages/nextjs/src/client-boundary/ClerkProvider.tsx
  packages/nextjs/src/components.client.ts
Labels: nextjs, integration

#1882 chore(repo): Scoping Turborepo task inputs
  .changeset/dull-ducks-dance.md
  jest.setup-after-env.ts
  package.json
  packages/chrome-extension/jest.config.js
  packages/clerk-js/jest.config.js
  packages/clerk-js/jest.jsdom-with-timezone.ts
  packages/clerk-js/jest.setup-after-env.ts
  packages/clerk-js/jest.setup.ts
  packages/clerk-js/tsconfig.test.json
  packages/clerk-js/turbo.json
  packages/react/jest.config.js
  packages/sdk-node/jest.config.js
  packages/sdk-node/jest.setup.js
  packages/sdk-node/turbo.json
  packages/shared/jest.config.js
  packages/shared/jest.setup.ts
  tsconfig.eslint.json
  turbo.json
Labels: clerk-js, react, sdk-node, chrome-extension

#1918 chore(clerk-js,types): Drop `experimental_force_oauth_first` & `experimental__forceOauthFirst`
  .changeset/pretty-planes-kick.md
  packages/clerk-js/src/core/resources/DisplayConfig.ts
  packages/clerk-js/src/ui/utils/test/fixtures.ts
  packages/types/src/displayConfig.ts
Labels: types, clerk-js

#1880 test(repo): Add cmd to clear test cache
  .changeset/gorgeous-radios-switch.md
  package.json
  packages/chrome-extension/package.json
  packages/clerk-js/package.json
  packages/fastify/package.json
  packages/nextjs/package.json
  packages/react/package.json
  packages/sdk-node/package.json
  packages/shared/package.json
  turbo.json
Labels: clerk-js, nextjs, react, fastify, sdk-node, chrome-extension

#1922 fix(repo): Fix turborepo globalDependencies
  .changeset/empty-terms-scream.md
  .github/workflows/checks.yml
  package.json
  packages/clerk-js/src/ui/components/OrganizationProfile/InviteMembersPage.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/MembershipWidget.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/ProfileSettingsPage.tsx
  packages/clerk-js/src/ui/components/OrganizationSwitcher/OrganizationSwitcherTrigger.tsx
  packages/clerk-js/src/ui/components/UserProfile/ConnectedAccountsPage.tsx
  packages/clerk-js/src/ui/components/UserProfile/EmailPage.tsx
  packages/clerk-js/src/ui/components/UserProfile/PhonePage.tsx
  packages/clerk-js/src/ui/components/UserProfile/ProfilePage.tsx
  turbo.json
Labels: clerk-js, actions

#1924 fix(nextjs): Adjust shared imports to remove edge runtime warnings
  .changeset/poor-balloons-pretend.md
  packages/backend/src/tokens/jwt/cryptoKeys.ts
  packages/backend/src/util/shared.ts
  packages/nextjs/src/server/utils.ts
  packages/react/src/contexts/ClerkProvider.tsx
  packages/react/src/isomorphicClerk.ts
  packages/react/src/utils/isDevOrStageUrl.tsx
  packages/react/src/utils/loadClerkJsScript.ts
  packages/shared/src/callWithRetry.ts
  packages/shared/src/index.ts
  packages/shared/src/keys.ts
  packages/shared/src/utils/index.ts
  packages/shared/src/utils/instance.ts
Labels: nextjs, react, backend

#1926 feat(remix): Support defer() usage in rootAuthLoader()
  .changeset/loud-peaches-travel.md
  packages/remix/src/ssr/rootAuthLoader.ts
  packages/remix/src/ssr/utils.ts
  playground/remix-node/app/root.tsx
Labels: remix, playground

#1920 fix: dangerSection added to trTr translation
  .changeset/fifty-wombats-refuse.md
  packages/localizations/src/tr-TR.ts
Labels: localizations

#1928 fix(nextjs): Stop ts errors for non-static nextjs typed routes in authMiddleware
  .changeset/curly-ties-mix.md
  packages/nextjs/src/server/authMiddleware.ts
Labels: nextjs

#1822 Custom Pages for `<UserProfile />` and `<OrganizationProfile />` components
  .changeset/proud-ways-lie.md
  packages/clerk-js/bundlewatch.config.json
  packages/clerk-js/src/ui/common/CustomPageContentContainer.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationProfileNavbar.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationProfileRoutes.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/__tests__/OrganizationProfile.test.tsx
  packages/clerk-js/src/ui/components/UserProfile/UserProfileNavbar.tsx
  packages/clerk-js/src/ui/components/UserProfile/UserProfileRoutes.tsx
  packages/clerk-js/src/ui/components/UserProfile/__tests__/UserProfile.test.tsx
  packages/clerk-js/src/ui/constants.ts
  packages/clerk-js/src/ui/contexts/ClerkUIComponentsContext.tsx
  packages/clerk-js/src/ui/elements/Navbar.tsx
  packages/clerk-js/src/ui/utils/ExternalElementMounter.tsx
  packages/clerk-js/src/ui/utils/__tests__/createCustomPages.test.ts
  packages/clerk-js/src/ui/utils/createCustomPages.tsx
  packages/clerk-js/src/ui/utils/index.ts
  packages/nextjs/src/app-beta/client/ui-components.tsx
  packages/react/src/components/uiComponents.tsx
  packages/react/src/errors.ts
  packages/react/src/types.ts
  packages/react/src/utils/index.ts
  packages/react/src/utils/useCustomElementPortal.tsx
  packages/react/src/utils/useCustomPages.tsx
  packages/shared/src/utils/index.ts
  packages/shared/src/utils/logErrorInDevMode.ts
  packages/types/src/appearance.ts
  packages/types/src/clerk.ts
  packages/types/src/customPages.ts
  packages/types/src/index.ts
Labels: types, clerk-js, nextjs, react

#1915 Version Packages
  .changeset/curly-ties-mix.md
  .changeset/dull-ducks-dance.md
  .changeset/empty-terms-scream.md
  .changeset/fast-planes-talk.md
  .changeset/fifty-wombats-refuse.md
  .changeset/gorgeous-countries-appear.md
  .changeset/gorgeous-radios-switch.md
  .changeset/grumpy-swans-taste.md
  .changeset/hot-shoes-roll.md
  .changeset/loud-peaches-travel.md
  .changeset/poor-balloons-pretend.md
  .changeset/pretty-planes-kick.md
  .changeset/proud-ways-lie.md
  .changeset/slimy-hornets-obey.md
  .changeset/wild-carrots-reply.md
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/CHANGELOG.md
  packages/gatsby-plugin-clerk/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, sdk-node, expo, chrome-extension, gatsby, themes

#1776 feat(clerk-js): Improve password error feedback animations
  .changeset/slimy-singers-glow.md
  packages/clerk-js/src/core/constants.ts
  packages/clerk-js/src/ui/components/OrganizationProfile/InviteMembersForm.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/ProfileSettingsPage.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/VerifyDomainPage.tsx
  packages/clerk-js/src/ui/components/SignIn/ResetPassword.tsx
  packages/clerk-js/src/ui/components/SignIn/__tests__/ResetPassword.test.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpStart.tsx
  packages/clerk-js/src/ui/components/UserProfile/PasswordPage.tsx
  packages/clerk-js/src/ui/components/UserProfile/__tests__/PasswordPage.test.tsx
  packages/clerk-js/src/ui/elements/CodeControl.tsx
  packages/clerk-js/src/ui/elements/FormControl.tsx
  packages/clerk-js/src/ui/elements/PasswordInput.tsx
  packages/clerk-js/src/ui/hooks/index.ts
  packages/clerk-js/src/ui/hooks/useDebounce.ts
  packages/clerk-js/src/ui/hooks/useDelayedVisibility.ts
  packages/clerk-js/src/ui/hooks/usePassword.ts
  packages/clerk-js/src/ui/hooks/useSetTimeout.ts
  packages/clerk-js/src/ui/primitives/FormControl.tsx
  packages/clerk-js/src/ui/primitives/hooks/useFormControl.tsx
  packages/clerk-js/src/ui/styledSystem/animations.ts
  packages/clerk-js/src/ui/utils/test/fixtures.ts
  packages/clerk-js/src/ui/utils/useFormControl.ts
  packages/clerk-js/src/utils/passwords/password.ts
Labels: clerk-js

#1837 Chore(repo): Enable clerk@v5 release process
  .changeset/config.json
  .changeset/red-monkeys-sing.md
  .github/workflows/release-canary.yml
  .github/workflows/release-prod.yml
  .github/workflows/release-staging.yml
  .prettierignore
  package.json
  scripts/canary.mjs
Labels: actions, v5-pre-release

#1933 fix(clerk-js): Correct initial ref value for form feedback
  .changeset/odd-lemons-reply.md
  packages/clerk-js/src/ui/elements/FormControl.tsx
Labels: clerk-js

#1940 fix(repo): Enable github actions Checks for main-v4 branch
  .changeset/silly-icons-kick.md
  .github/workflows/checks.yml
Labels: actions

#1939 fix(clerk-sdk-node): Fix types of ClerkExpressWithAuth/ClerkExpressRequireAuth args
  .changeset/tasty-countries-walk.md
  packages/sdk-node/src/clerkClient.ts
Labels: sdk-node

#1943 chore(repo): Apply v4 Version packages specific changes
  .changeset/chilly-paws-develop.md
  .changeset/config.json
  .github/workflows/release-prod.yml
Labels: actions

#1878 chore(repo): Replace clerk.dev with clerk.com
  .changeset/friendly-vans-develop.md
  packages/backend/src/constants.ts
  packages/backend/src/tokens/keys.test.ts
  packages/clerk-js/src/core/clerk.test.ts
  packages/clerk-js/src/core/resources/OrganizationDomain.test.ts
  packages/clerk-js/src/core/resources/User.test.ts
  packages/clerk-js/src/core/resources/__snapshots__/OrganizationDomain.test.ts.snap
  packages/clerk-js/src/core/test/fixtures.ts
  packages/clerk-js/src/ui/components/CreateOrganization/__tests__/CreateOrganization.test.tsx
  packages/clerk-js/src/ui/components/OrganizationList/__tests__/OrganizationList.test.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/__tests__/InviteMembersPage.test.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/__tests__/LeaveOrganizationPage.test.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/__tests__/OrganizationMembers.test.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/__tests__/OrganizationProfile.test.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/__tests__/OrganizationSettings.test.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/__tests__/ProfileSettingsPage.test.tsx
  packages/clerk-js/src/ui/components/OrganizationSwitcher/__tests__/OrganizationSwitcher.test.tsx
  packages/clerk-js/src/ui/components/SignIn/__tests__/ResetPassword.test.tsx
  packages/clerk-js/src/ui/components/SignIn/__tests__/SignInAccountSwitcher.test.tsx
  packages/clerk-js/src/ui/components/SignIn/__tests__/SignInFactorOne.test.tsx
  packages/clerk-js/src/ui/components/SignIn/__tests__/SignInStart.test.tsx
  packages/clerk-js/src/ui/components/SignUp/__tests__/SignUpStart.test.tsx
  packages/clerk-js/src/ui/components/SignUp/__tests__/SignUpVerifyEmail.test.tsx
  packages/clerk-js/src/ui/components/SignUp/__tests__/SignUpVerifyPhone.test.tsx
  packages/clerk-js/src/ui/components/UserButton/__tests__/UserButton.test.tsx
  packages/clerk-js/src/ui/components/UserProfile/__tests__/EmailPage.test.tsx
  packages/clerk-js/src/ui/components/UserProfile/__tests__/MfaBackupCodeCreatePage.test.tsx
  packages/clerk-js/src/ui/components/UserProfile/__tests__/PasswordPage.test.tsx
  packages/clerk-js/src/ui/components/UserProfile/__tests__/PhonePage.test.tsx
  packages/clerk-js/src/ui/components/UserProfile/__tests__/ProfilePage.test.tsx
  packages/clerk-js/src/ui/components/UserProfile/__tests__/RemoveEmailPage.test.tsx
  packages/clerk-js/src/ui/components/UserProfile/__tests__/RemoveMfaTOTPPage.test.tsx
  packages/clerk-js/src/ui/components/UserProfile/__tests__/RootPage.test.tsx
  packages/clerk-js/src/ui/components/UserProfile/__tests__/UserProfile.test.tsx
  packages/clerk-js/src/ui/customizables/makeResponsive.tsx
  packages/clerk-js/src/ui/hooks/__tests__/useCoreOrganization.test.tsx
  packages/clerk-js/src/ui/hooks/__tests__/useCoreOrganizationList.test.tsx
  packages/clerk-js/src/ui/utils/test/fixtureHelpers.ts
  packages/clerk-js/src/utils/__tests__/email.test.ts
  packages/clerk-js/src/utils/__tests__/instance.test.ts
  packages/clerk-js/src/utils/__tests__/url.test.ts
  packages/clerk-js/src/utils/email.ts
  packages/expo/src/useOAuth.ts
  packages/fastify/src/__snapshots__/clerkClient.test.ts.snap
  packages/fastify/src/constants.ts
  packages/gatsby-plugin-clerk/package.json
  packages/gatsby-plugin-clerk/src/constants.ts
  packages/nextjs/src/server/constants.ts
  packages/sdk-node/examples/express/.env.sample
  packages/sdk-node/src/utils.ts
  packages/shared/src/__tests__/keys.test.ts
Labels: clerk-js, nextjs, backend, fastify, sdk-node, expo, gatsby, v5-release

#1946 build(repo): Test extracted actions
  .github/actions/init/action.yml
  .github/actions/setup/action.yml
  .github/actions/verdaccio/action.yml
  .github/workflows/base-changeset.yml
  .github/workflows/base-prettier.yml
  .github/workflows/base-registry.yml
  .github/workflows/checks.yml
  .github/workflows/ci.yml
  package.json
Labels: actions

#1948 fix(backend): Support NextJS 14
  .changeset/late-dolphins-peel.md
  packages/backend/src/runtime/browser/fetch.mjs
  packages/backend/src/runtime/index.ts
  packages/backend/src/runtime/node/fetch.js
Labels: backend

#1936 Version Packages - V4
  .changeset/chilly-paws-develop.md
  .changeset/late-dolphins-peel.md
  .changeset/odd-lemons-reply.md
  .changeset/red-monkeys-sing.md
  .changeset/silly-icons-kick.md
  .changeset/slimy-singers-glow.md
  .changeset/tasty-countries-walk.md
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/CHANGELOG.md
  packages/gatsby-plugin-clerk/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
Labels: clerk-js, nextjs, remix, backend, fastify, sdk-node, expo, chrome-extension, gatsby

#1952 Version Packages - V4
  .changeset/wise-houses-shop.md
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/CHANGELOG.md
  packages/gatsby-plugin-clerk/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
Labels: clerk-js, nextjs, react, remix, backend, fastify, sdk-node, expo, chrome-extension, gatsby

#1934 ci(repo): Update CI flow; Integrate Turbo caching [SDK-854]
  .changeset/blue-lies-drop.md
  .github/actions/init/action.yml
  .github/actions/setup/action.yml
  .github/actions/verdaccio/action.yml
  .github/workflows/base-changeset.yml
  .github/workflows/base-prettier.yml
  .github/workflows/base-registry.yml
  .github/workflows/checks.yml
  .github/workflows/ci.yml
  package-lock.json
  package.json
  turbo.json
  verdaccio.yaml
Labels: actions

#1941 Update UserApi.ts to support sha256 hasher
  .changeset/hungry-bears-allow.md
  packages/backend/src/api/endpoints/UserApi.ts
Labels: backend

#1958 fix(shared): Improve expo compat (#1950)
  .changeset/wise-houses-shop.md
  packages/shared/.gitignore
  packages/shared/package.json
  packages/shared/subpaths.mjs
  scripts/subpath-workaround.mjs
Labels: cherry

#1894 Include clerkTraceId for backend api errors
  .changeset/sour-comics-stare.md
  packages/backend/src/api/factory.test.ts
  packages/backend/src/api/request.ts
  packages/backend/src/util/mockFetch.ts
  packages/shared/src/error.ts
Labels: backend

#1951 fix(clerk-js): Deconstruct new feedback props to avoid prop polluting
  .changeset/green-spies-leave.md
  packages/clerk-js/src/ui/components/OrganizationProfile/InviteMembersForm.tsx
Labels: clerk-js

#1975 fix(repo): Add merge_group trigger
  .github/workflows/ci.yml
Labels: actions

#1972 feat(clerk-js,types): Enable avatar shimmer by default
  .changeset/tough-roses-hunt.md
  packages/clerk-js/src/ui/customizables/parseAppearance.ts
  packages/types/src/appearance.ts
Labels: types, clerk-js

#1960 fix(nextjs): Deprecate `user`, `session`, `organization` from `auth()`
  .changeset/three-rings-wash.md
  packages/nextjs/src/server/getAuth.ts
Labels: nextjs

#1947 fix(nextjs): Drop `user`, `session`, `organization` from `auth()`
  .changeset/thin-phones-drop.md
  packages/nextjs/src/server/getAuth.ts
Labels: nextjs

#1977 fix(clerk-js): Deconstruct new feedback props to avoid prop polluting
  .changeset/wild-phones-smoke.md
  packages/clerk-js/src/ui/components/OrganizationProfile/InviteMembersForm.tsx
Labels: clerk-js

#1979 chore(repo): Use stable app router for nextjs playground
  .changeset/lucky-ligers-brush.md
  playground/nextjs/app/app-dir/client/page.tsx
  playground/nextjs/app/app-dir/create-organization/page.tsx
  playground/nextjs/app/app-dir/organization/page.tsx
  playground/nextjs/app/app-dir/page.tsx
  playground/nextjs/app/app-dir/sign-in/page.tsx
  playground/nextjs/app/app-dir/sign-up/page.tsx
  playground/nextjs/app/app-dir/user/page.tsx
  playground/nextjs/app/layout.tsx
  playground/nextjs/middleware.ts
  playground/nextjs/next.config.js
  playground/nextjs/package.json
  playground/nextjs/pages/_app.tsx
  playground/nextjs/pages/api/hello-edge.ts
Labels: playground

#1984 chore(repo): Rename formatting-linting job
  .github/workflows/ci.yml
Labels: actions

#1983 fix(shared): Remove "sideEffects" and fix postbuild script (#1974)
  .changeset/fair-cameras-boil.md
  packages/shared/package.json
  scripts/subpath-workaround.mjs
Labels: cherry

#1935 Added style for prefers-color-scheme to interstitial head
  .changeset/flat-pots-hear.md
  packages/backend/src/tokens/interstitial.ts
Labels: backend

#1968 fix: Types and NextJS 14 support (#1939, #1948)
  .changeset/late-dolphins-peel.md
  .changeset/tasty-countries-walk.md
  packages/backend/src/runtime/browser/fetch.mjs
  packages/backend/src/runtime/index.ts
  packages/backend/src/runtime/node/fetch.js
  packages/sdk-node/src/clerkClient.ts
Labels: backend, sdk-node

#1985 Added style for prefers-color-scheme to interstitial head (#1935)
  .changeset/flat-pots-hear.md
  packages/backend/src/tokens/interstitial.ts
Labels: backend, cherry

#1986 chore(backend,shared): Include clerkTraceId for backend api errors
  .changeset/sour-comics-stare.md
  packages/backend/src/api/factory.test.ts
  packages/backend/src/api/request.ts
  packages/backend/src/util/mockFetch.ts
  packages/shared/src/error.ts
Labels: backend

#1912 chore(clerk-js): Deprecate FormControl
  .changeset/bright-trainers-sort.md
  packages/clerk-js/src/ui/components/OrganizationProfile/AddDomainPage.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/UsernamePage.tsx
  packages/clerk-js/src/ui/elements/FieldControl.tsx
  packages/clerk-js/src/ui/elements/Form.tsx
  packages/clerk-js/src/ui/elements/FormControl.tsx
  packages/clerk-js/src/ui/primitives/FormControl.tsx
  packages/clerk-js/src/ui/primitives/Input.tsx
  packages/clerk-js/src/ui/primitives/hooks/useFormControl.tsx
  packages/clerk-js/src/ui/utils/useFormControl.ts
Labels: clerk-js
