Repository clerk/javascript, pull requests merged in 2023-12, with the labels that each got.

#2241 feat(clerk-js): Add primary button variant with all states
  .changeset/blue-garlics-remain.md
  packages/clerk-js/src/ui.retheme/components/CreateOrganization/CreateOrganizationForm.tsx
  packages/clerk-js/src/ui.retheme/components/OrganizationList/OrganizationListPage.tsx
  packages/clerk-js/src/ui.retheme/components/OrganizationList/shared.tsx
  packages/clerk-js/src/ui.retheme/components/OrganizationProfile/DomainList.tsx
  packages/clerk-js/src/ui.retheme/components/OrganizationSwitcher/OrganizationSwitcherTrigger.tsx
  packages/clerk-js/src/ui.retheme/components/OrganizationSwitcher/UserInvitationSuggestionList.tsx
  packages/clerk-js/src/ui.retheme/components/UserButton/UserButtonPopover.tsx
  packages/clerk-js/src/ui.retheme/components/UserProfile/MfaBackupCodeCreatePage.tsx
  packages/clerk-js/src/ui.retheme/elements/Accordion.tsx
  packages/clerk-js/src/ui.retheme/elements/Actions.tsx
  packages/clerk-js/src/ui.retheme/elements/ArrowBlockButton.tsx
  packages/clerk-js/src/ui.retheme/elements/Card.tsx
  packages/clerk-js/src/ui.retheme/elements/ClipboardInput.tsx
  packages/clerk-js/src/ui.retheme/elements/IdentityPreview.tsx
  packages/clerk-js/src/ui.retheme/elements/Navbar.tsx
  packages/clerk-js/src/ui.retheme/elements/Pagination.tsx
  packages/clerk-js/src/ui.retheme/elements/PasswordInput.tsx
  packages/clerk-js/src/ui.retheme/elements/PreviewButton.tsx
  packages/clerk-js/src/ui.retheme/elements/Select.tsx
  packages/clerk-js/src/ui.retheme/elements/SocialButtons.tsx
  packages/clerk-js/src/ui.retheme/elements/SuccessPage.tsx
  packages/clerk-js/src/ui.retheme/elements/ThreeDotsMenu.tsx
  packages/clerk-js/src/ui.retheme/elements/TileButton.tsx
  packages/clerk-js/src/ui.retheme/primitives/Button.tsx
Labels: clerk-js, retheme

#2243 chore(integration): Improve Playwright logging
  integration/models/applicationConfig.ts
  integration/playwright.config.ts
  integration/scripts/logger.ts
Labels: integration

#2240 fix(clerk-js): Hide Add domain button when user is missing `org:sys_domains:manage`
  .changeset/strong-cows-sit.md
  packages/clerk-js/src/ui.retheme/components/OrganizationProfile/OrganizationSettings.tsx
  packages/clerk-js/src/ui.retheme/components/OrganizationProfile/__tests__/OrganizationSettings.test.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationSettings.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/__tests__/OrganizationSettings.test.tsx
Labels: clerk-js, retheme

#2248 chore(*): Add GHA to build with retheme flag on PRs
  .changeset/chilly-pens-speak.md
  .github/workflows/ui-retheme-build.yml
Labels: actions

#2252 revert(backend): Introduce OrganizationPermissionAPI and OrganizationRoleAPI
  .changeset/cyan-dodos-provide.md
  packages/backend/src/api/endpoints/OrganizationPermissionApi.ts
  packages/backend/src/api/endpoints/OrganizationRoleApi.ts
  packages/backend/src/api/endpoints/index.ts
  packages/backend/src/api/factory.ts
  packages/backend/src/api/resources/Enums.ts
  packages/backend/src/api/resources/JSON.ts
  packages/backend/src/api/resources/Permission.ts
  packages/backend/src/api/resources/Role.ts
  packages/backend/src/api/resources/index.ts
  packages/backend/src/exports.test.ts
  packages/nextjs/src/server/__tests__/__snapshots__/exports.test.ts.snap
  packages/sdk-node/src/__tests__/__snapshots__/exports.test.ts.snap
  packages/sdk-node/src/index.ts
Labels: nextjs, backend, sdk-node

#2244 fix(nextjs): Skip NextResponse normalization in mergeResponses if possible
  .changeset/old-ads-push.md
  integration/tests/next-middleware.test.ts
  packages/nextjs/src/utils/response.test.ts
  packages/nextjs/src/utils/response.ts
Labels: nextjs, integration

#2260 fix(nextjs): Skip NextResponse normalization in mergeResponses if possible (#2244)
  .changeset/old-ads-push.md
  integration/tests/next-middleware.test.ts
  packages/nextjs/src/utils/response.test.ts
  packages/nextjs/src/utils/response.ts
Labels: nextjs, integration, cherry

#2258 fix(*): Fix UI Retheme build
  .changeset/twenty-elephants-try.md
  packages/clerk-js/src/emotion.d.ts
  packages/clerk-js/src/ui.retheme/components/OrganizationList/shared.tsx
  packages/clerk-js/src/ui.retheme/components/OrganizationProfile/ActionConfirmationPage.tsx
  packages/clerk-js/src/ui.retheme/components/OrganizationProfile/OrganizationSettings.tsx
  packages/clerk-js/src/ui.retheme/components/OrganizationProfile/RequestToJoinList.tsx
  packages/clerk-js/src/ui.retheme/components/OrganizationSwitcher/UserInvitationSuggestionList.tsx
  packages/clerk-js/src/ui.retheme/elements/LoadingCard.tsx
  packages/clerk-js/src/ui.retheme/elements/Menu.tsx
  packages/clerk-js/src/ui.retheme/elements/Navbar.tsx
  packages/clerk-js/src/ui.retheme/primitives/Box.tsx
  packages/clerk-js/src/ui.retheme/styledSystem/emotion.d.ts
  packages/types/src/appearance.retheme.ts
Labels: types, clerk-js, retheme

#2257 revert(backend): Introduce OrganizationPermissionAPI and OrganizationRoleAPI (#2252)
  .changeset/cyan-dodos-provide.md
  packages/backend/src/api/endpoints/OrganizationPermissionApi.ts
  packages/backend/src/api/endpoints/OrganizationRoleApi.ts
  packages/backend/src/api/endpoints/index.ts
  packages/backend/src/api/factory.ts
  packages/backend/src/api/resources/Enums.ts
  packages/backend/src/api/resources/JSON.ts
  packages/backend/src/api/resources/Permission.ts
  packages/backend/src/api/resources/Role.ts
  packages/backend/src/api/resources/index.ts
  packages/backend/src/exports.test.ts
  packages/nextjs/src/api/__tests__/__snapshots__/exports.test.ts.snap
  packages/nextjs/src/edge-middleware/__tests__/__snapshots__/exports.test.ts.snap
  packages/nextjs/src/server/__tests__/__snapshots__/exports.test.ts.snap
  packages/sdk-node/src/__tests__/__snapshots__/exports.test.ts.snap
  packages/sdk-node/src/index.ts
Labels: nextjs, backend, sdk-node, cherry

#2264 chore(*): Set correct info on required Node & React version
  .changeset/late-flies-switch.md
  packages/backend/README.md
  packages/chrome-extension/README.md
  packages/expo/README.md
  packages/fastify/README.md
  packages/gatsby-plugin-clerk/README.md
  packages/nextjs/README.md
  packages/react/README.md
  packages/remix/README.md
  packages/sdk-node/README.md
Labels: nextjs, react, remix, backend, fastify, sdk-node, expo, chrome-extension, gatsby

#2263 fix(*): Fix retheme deployment preview template
  playground/nextjs/pages/_app.tsx
  playground/nextjs/pages/api/sendEmail.ts
  playground/nextjs/pages/session-examples/index.tsx
  playground/nextjs/pages/user-examples/index.tsx
Labels: playground

#2262 Version Packages - V4
  .changeset/cyan-dodos-provide.md
  .changeset/old-ads-push.md
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/CHANGELOG.md
  packages/gatsby-plugin-clerk/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
Labels: nextjs

#2256 chore(clerk-js,types): Remove system delete permission for domains and memberships
  .changeset/moody-zoos-deliver.md
  packages/clerk-js/src/core/test/fixtures.ts
  packages/clerk-js/src/ui.retheme/components/OrganizationProfile/ActiveMembersList.tsx
  packages/clerk-js/src/ui.retheme/components/OrganizationProfile/DomainList.tsx
  packages/clerk-js/src/ui.retheme/components/OrganizationProfile/OrganizationProfileRoutes.tsx
  packages/clerk-js/src/ui.retheme/components/OrganizationProfile/VerifiedDomainPage.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/ActiveMembersList.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/DomainList.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationProfileRoutes.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/VerifiedDomainPage.tsx
  packages/types/src/organizationMembership.ts
Labels: types, clerk-js, retheme

#2270 chore(clerk-js,types): Remove system delete permission for domains and memberships (#2256)
  .changeset/moody-zoos-deliver.md
  packages/clerk-js/src/core/test/fixtures.ts
  packages/clerk-js/src/ui/components/OrganizationProfile/ActiveMembersList.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/DomainList.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationProfileRoutes.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/VerifiedDomainPage.tsx
  packages/types/src/organizationMembership.ts
Labels: types, clerk-js, cherry

#2261 feat: Introduce user latest session activity date and allow ordering & filtering when listing users
  .changeset/funny-lamps-work.md
  packages/backend/src/api/endpoints/UserApi.ts
  packages/backend/src/api/resources/JSON.ts
  packages/backend/src/api/resources/User.ts
Labels: backend

#2238 Version Packages (alpha-v5)
  .changeset/pre.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/CHANGELOG.md
  packages/gatsby-plugin-clerk/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, sdk-node, expo, chrome-extension, gatsby, themes

#2273 fix(clerk-js): Fallback to FAPI error message for password pwned case
  .changeset/rare-bottles-sell.md
  packages/clerk-js/src/ui.retheme/utils/passwordUtils.ts
  packages/clerk-js/src/ui/utils/passwordUtils.ts
Labels: clerk-js, retheme

#2274 fix(clerk-js): Fallback to FAPI error message for password pwned case (#2273)
  .changeset/rare-bottles-sell.md
  packages/clerk-js/src/ui/utils/passwordUtils.ts
Labels: clerk-js, cherry

#2278 fix(localizations): Fix retheme localizations build
  .changeset/khaki-timers-work.md
  packages/localizations/src/index.retheme.ts
  packages/localizations/tsup.config.ts
Labels: localizations, retheme

#2275 chore(repo): Improve integration tests docs
  docs/CICD.md
  docs/CONTRIBUTING.md
  integration/README.md
Labels: integration

#2282 feat(types): Add `permissions` to `meta` field of fapi error
  .changeset/bright-knives-jump.md
  packages/types/src/api.ts
Labels: types

#2285 feat(types): Add `permissions` to `meta` field of fapi error (#2282)
  .changeset/bright-knives-jump.md
  packages/types/src/api.ts
Labels: types, cherry

#2254 feat(clerk-js): Retheme navbar
  .changeset/early-timers-wave.md
  packages/clerk-js/src/ui.retheme/components/OrganizationProfile/OrganizationProfileNavbar.tsx
  packages/clerk-js/src/ui.retheme/components/UserProfile/UserProfileNavbar.tsx
  packages/clerk-js/src/ui.retheme/elements/Navbar.tsx
  packages/localizations/src/en-US.retheme.ts
  packages/types/src/localization.retheme.ts
Labels: types, clerk-js, localizations, retheme

#2284 fix(backend,clerk-sdk-node): Resolve reported signature issues
  .changeset/little-dolphins-scream.md
  packages/backend/src/api/endpoints/UserApi.ts
  packages/sdk-node/src/clerkClient.ts
Labels: backend, sdk-node

#2287 fix(backend): Added missing types to create invitation (#2268)
  .changeset/fast-swans-smile.md
  packages/backend/src/api/endpoints/InvitationApi.ts
Labels: backend, cherry

#2283 fix(clerk-js): Make the instant password field focusable if autofilled
  .changeset/tall-roses-invent.md
  packages/clerk-js/src/ui.retheme/components/SignIn/SignInStart.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInStart.tsx
Labels: clerk-js, retheme

#2288 fix(backend,clerk-sdk-node): Resolve reported signature issues (#2284)
  .changeset/little-dolphins-scream.md
  packages/backend/src/api/endpoints/UserApi.ts
  packages/sdk-node/src/clerkClient.ts
Labels: backend, sdk-node

#2286 fix(clerk-js): Sanitize `debouncedFeedback`
  .changeset/slimy-wolves-burn.md
  packages/clerk-js/src/ui.retheme/components/SignIn/SignInStart.tsx
  packages/clerk-js/src/ui.retheme/primitives/Input.tsx
  packages/clerk-js/src/ui.retheme/primitives/hooks/useFormControl.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInStart.tsx
  packages/clerk-js/src/ui/primitives/Input.tsx
  packages/clerk-js/src/ui/primitives/hooks/useFormControl.tsx
Labels: clerk-js, retheme

#2247 feat(repo): Add Chrome Extension playground app [SDK-836]
  .vscode/settings.json
  package-lock.json
  playground/chrome-extension/.env.example
  playground/chrome-extension/.gitignore
  playground/chrome-extension/README.md
  playground/chrome-extension/demo.png
  playground/chrome-extension/manifest.dev.json.example
  playground/chrome-extension/manifest.json.example
  playground/chrome-extension/nodemon.json
  playground/chrome-extension/package.json
  playground/chrome-extension/public/dev-icon-128.png
  playground/chrome-extension/public/dev-icon-32.png
  playground/chrome-extension/public/icon-128.png
  playground/chrome-extension/public/icon-32.png
  playground/chrome-extension/src/assets/styles/index.css
  playground/chrome-extension/src/components/CurrentUser.tsx
  playground/chrome-extension/src/components/SharedApp.tsx
  playground/chrome-extension/src/global.d.ts
  playground/chrome-extension/src/pages/background/index.ts
  playground/chrome-extension/src/pages/content/index.tsx
  playground/chrome-extension/src/pages/devtools/index.html
  playground/chrome-extension/src/pages/devtools/index.ts
  playground/chrome-extension/src/pages/new-tab/index.html
  playground/chrome-extension/src/pages/new-tab/index.tsx
  playground/chrome-extension/src/pages/new-tab/new-tab.tsx
  playground/chrome-extension/src/pages/options/Options.tsx
  playground/chrome-extension/src/pages/options/index.html
  playground/chrome-extension/src/pages/options/index.tsx
  playground/chrome-extension/src/pages/panel/Panel.tsx
  playground/chrome-extension/src/pages/panel/index.html
  playground/chrome-extension/src/pages/panel/index.tsx
  playground/chrome-extension/src/pages/popup/Popup.tsx
  playground/chrome-extension/src/pages/popup/index.html
  playground/chrome-extension/src/pages/popup/index.tsx
  playground/chrome-extension/src/vite-env.d.ts
  playground/chrome-extension/tsconfig.json
  playground/chrome-extension/vite.config.ts
  playground/vite-react-ts/.gitignore
Labels: playground

#2189 chore(backend): Limit exposed token verification related errors
  .changeset/smooth-baboons-shake.md
  packages/backend/src/exports.test.ts
  packages/backend/src/tokens/index.ts
  packages/nextjs/src/server/__tests__/__snapshots__/exports.test.ts.snap
  packages/sdk-node/src/__tests__/__snapshots__/exports.test.ts.snap
Labels: nextjs, backend, sdk-node

#2289 fix(clerk-js): Fix act output in tests [SDK-1054]
  .changeset/cold-coins-listen.md
  packages/clerk-js/src/core/clerk.test.ts
  packages/clerk-js/src/ui.retheme/components/OrganizationProfile/__tests__/InviteMembersPage.test.tsx
  packages/clerk-js/src/ui.retheme/components/OrganizationProfile/__tests__/OrganizationMembers.test.tsx
  packages/clerk-js/src/ui.retheme/components/OrganizationProfile/__tests__/OrganizationProfile.test.tsx
  packages/clerk-js/src/ui.retheme/components/OrganizationSwitcher/__tests__/OrganizationSwitcher.test.tsx
  packages/clerk-js/src/ui.retheme/elements/__tests__/PlainInput.test.tsx
  packages/clerk-js/src/ui.retheme/elements/__tests__/RadioGroup.test.tsx
  packages/clerk-js/src/ui.retheme/hooks/__tests__/useCoreOrganization.test.tsx
  packages/clerk-js/src/ui.retheme/hooks/__tests__/useCoreOrganizationList.test.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/__tests__/InviteMembersPage.test.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/__tests__/OrganizationMembers.test.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/__tests__/OrganizationProfile.test.tsx
  packages/clerk-js/src/ui/components/OrganizationSwitcher/__tests__/OrganizationSwitcher.test.tsx
  packages/clerk-js/src/ui/elements/__tests__/PlainInput.test.tsx
  packages/clerk-js/src/ui/elements/__tests__/RadioGroup.test.tsx
  packages/clerk-js/src/ui/hooks/__tests__/useCoreOrganization.test.tsx
  packages/clerk-js/src/ui/hooks/__tests__/useCoreOrganizationList.test.tsx
Labels: clerk-js, retheme

#2290 feat(clerk-js): Retheme profile cards and scroll boxes
  .changeset/red-shrimps-hunt.md
  packages/clerk-js/src/ui.retheme/common/BlockButtons.tsx
  packages/clerk-js/src/ui.retheme/components/OrganizationProfile/OrganizationMembers.tsx
  packages/clerk-js/src/ui.retheme/components/OrganizationProfile/OrganizationProfile.tsx
  packages/clerk-js/src/ui.retheme/components/OrganizationProfile/OrganizationSettings.tsx
  packages/clerk-js/src/ui.retheme/components/UserProfile/RootPage.tsx
  packages/clerk-js/src/ui.retheme/components/UserProfile/UserProfile.tsx
  packages/clerk-js/src/ui.retheme/components/UserProfile/UserProfileNavbar.tsx
  packages/clerk-js/src/ui.retheme/elements/Card.tsx
  packages/clerk-js/src/ui.retheme/elements/InvisibleRootBox.tsx
  packages/clerk-js/src/ui.retheme/elements/Navbar.tsx
  packages/clerk-js/src/ui.retheme/elements/PopoverCard.tsx
  packages/clerk-js/src/ui.retheme/elements/PoweredByClerk.tsx
  packages/clerk-js/src/ui.retheme/elements/ProfileCardContent.tsx
  packages/localizations/src/en-US.retheme.ts
  packages/types/src/localization.retheme.ts
Labels: types, clerk-js, localizations, retheme

#2293 chore(types,clerk-js,clerk-react): Deprecate `Clerk.isReady()` in favor of `Clerk.loaded`
  .changeset/six-carrots-type.md
  integration/testUtils/appPageObject.ts
  packages/clerk-js/src/core/clerk.ts
  packages/react/src/isomorphicClerk.ts
  packages/types/src/clerk.ts
Labels: types, clerk-js, react, integration

#2294 chore(types,clerk-js,clerk-react): Drop `Clerk.isReady()` in favor of `Clerk.loaded`
  .changeset/khaki-buttons-march.md
  integration/testUtils/appPageObject.ts
  packages/clerk-js/src/core/clerk.ts
  packages/react/src/isomorphicClerk.ts
  packages/types/src/clerk.retheme.ts
  packages/types/src/clerk.ts
Labels: types, clerk-js, react, integration, retheme

#2276 Version Packages (alpha-v5)
  .changeset/pre.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/CHANGELOG.md
  packages/gatsby-plugin-clerk/package.json
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/shared/package.json
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, sdk-node, expo, chrome-extension, gatsby, themes

#2301 feat(clerk-js): Align size foundations with new designs
  .changeset/lovely-jobs-arrive.md
  packages/clerk-js/src/ui.retheme/components/CreateOrganization/CreateOrganizationForm.tsx
  packages/clerk-js/src/ui.retheme/components/OrganizationProfile/OrganizationProfileAvatarUploader.tsx
  packages/clerk-js/src/ui.retheme/components/SignIn/SignInAccountSwitcher.tsx
  packages/clerk-js/src/ui.retheme/components/UserButton/UserButtonPopover.tsx
  packages/clerk-js/src/ui.retheme/components/UserProfile/UserProfileAvatarUploader.tsx
  packages/clerk-js/src/ui.retheme/elements/IdentityPreview.tsx
  packages/clerk-js/src/ui.retheme/elements/LoadingCard.tsx
  packages/clerk-js/src/ui.retheme/elements/Navbar.tsx
  packages/clerk-js/src/ui.retheme/elements/OrganizationPreview.tsx
  packages/clerk-js/src/ui.retheme/elements/ProfileCardContent.tsx
  packages/clerk-js/src/ui.retheme/elements/SocialButtons.tsx
  packages/clerk-js/src/ui.retheme/elements/UserPreview.tsx
  packages/clerk-js/src/ui.retheme/foundations/sizes.ts
  packages/clerk-js/src/ui.retheme/primitives/Button.tsx
Labels: clerk-js, retheme

#2302 feat(clerk-js): Retheme primary, alpha and danger color scales
  .changeset/hip-eagles-clap.md
  packages/clerk-js/src/ui.retheme/foundations/colors.ts
Labels: clerk-js, retheme

#2295 Version Packages - V4
  .changeset/six-carrots-type.md
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/CHANGELOG.md
  packages/gatsby-plugin-clerk/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/shared/package.json
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, sdk-node, expo, chrome-extension, gatsby, themes

#2303 fix(clerk-js): Fix buttons font family to respect the `fontFamilyButtons` variable
  .changeset/brown-ducks-reply.md
  packages/clerk-js/src/ui.retheme/styledSystem/common.ts
Labels: clerk-js, retheme

#2305 feat(clerk-js): Initial work for user profile retheme
  .changeset/neat-numbers-decide.md
  packages/clerk-js/src/ui.retheme/components/UserButton/SessionActions.tsx
  packages/clerk-js/src/ui.retheme/components/UserButton/UserButtonPopover.tsx
  packages/clerk-js/src/ui.retheme/components/UserProfile/RootPage.tsx
  packages/clerk-js/src/ui.retheme/components/UserProfile/UserProfile.tsx
  packages/clerk-js/src/ui.retheme/elements/Card.tsx
  packages/clerk-js/src/ui.retheme/elements/Header.tsx
  packages/clerk-js/src/ui.retheme/elements/Navbar.tsx
  packages/clerk-js/src/ui.retheme/elements/PopoverCard.tsx
  packages/clerk-js/src/ui.retheme/elements/ProfileCardContent.tsx
  packages/clerk-js/src/ui.retheme/elements/Section.tsx
  packages/localizations/src/en-US.retheme.ts
  playground/nextjs/pages/_app.tsx
Labels: clerk-js, localizations, playground, retheme

#2170 feat(nextjs,shared,backend,clerk-react): Introduce Protect for authorization
  .changeset/short-eagles-search.md
  packages/backend/src/tokens/authObjects.ts
  packages/chrome-extension/src/__snapshots__/exports.test.ts.snap
  packages/clerk-js/src/core/resources/OrganizationMembership.ts
  packages/clerk-js/src/core/resources/Session.test.ts
  packages/clerk-js/src/core/resources/Session.ts
  packages/clerk-js/src/ui.retheme/common/Gate.tsx
  packages/clerk-js/src/ui.retheme/components/OrganizationProfile/OrganizationProfileNavbar.tsx
  packages/clerk-js/src/ui.retheme/components/OrganizationProfile/OrganizationProfileRoutes.tsx
  packages/clerk-js/src/ui.retheme/utils/test/mockHelpers.ts
  packages/clerk-js/src/ui/common/Gate.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationProfileNavbar.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationProfileRoutes.tsx
  packages/clerk-js/src/ui/utils/test/mockHelpers.ts
  packages/nextjs/src/app-router/server/auth.ts
  packages/nextjs/src/app-router/server/controlComponents.tsx
  packages/nextjs/src/client-boundary/controlComponents.ts
  packages/nextjs/src/components.client.ts
  packages/nextjs/src/components.server.ts
  packages/nextjs/src/index.ts
  packages/nextjs/src/server/getAuth.ts
  packages/nextjs/src/server/types.ts
  packages/react/src/components/controlComponents.tsx
  packages/react/src/components/index.ts
  packages/react/src/contexts/AuthContext.ts
  packages/react/src/contexts/ClerkContextProvider.tsx
  packages/react/src/errors.ts
  packages/react/src/hooks/useAuth.ts
  packages/react/src/utils/deriveState.ts
  packages/types/src/json.ts
  packages/types/src/jwtv2.ts
  packages/types/src/organizationMembership.ts
  packages/types/src/session.ts
  packages/types/src/ssr.ts
Labels: types, clerk-js, nextjs, react, backend, chrome-extension, retheme

#2307 feat(clerk-js): Add new typography on card's header and footer
  .changeset/dirty-icons-rescue.md
  .changeset/olive-steaks-end.md
  packages/clerk-js/src/ui.retheme/elements/Footer.tsx
  packages/clerk-js/src/ui.retheme/elements/Header.tsx
Labels: clerk-js, retheme

#2310 fix(clerk-react): Using wrong `OrganizationCustomPermission` type
  .changeset/old-timers-obey.md
  packages/react/src/contexts/AuthContext.ts
  packages/react/src/utils/deriveState.ts
Labels: react

#2313 fix(types): Avoid using `ts-expect-error` as it may fail for hosting apps
  .changeset/friendly-parrots-nail.md
  packages/types/src/organizationMembership.ts
Labels: types

#2314 fix(types): Typescript v5 cannot infer custom role types correctly
  .changeset/tame-olives-check.md
  packages/types/src/organizationMembership.ts
Labels: types

#2318 fix(types): Update MembershipRole and OrganizationPermissionKey to not resolve to `any`
  .changeset/cyan-rockets-fail.md
  packages/types/src/organizationMembership.ts
Labels: types

#2292 fix(nextjs): Use dynamic imports in ClerkProvider
  .changeset/selfish-books-matter.md
  packages/nextjs/src/client-boundary/ClerkProvider.tsx
Labels: nextjs

#2298 fix(repo): Fix incorrect regex for public paths in NextJs playground
  playground/nextjs/middleware.ts
Labels: playground

#2321 chore(repo): Improve integration tests docs
  integration/.keys.json.sample
  integration/README.md
Labels: integration

#2323 chore(clerk-sdk-node,fastify): Minor left-overs cleanups
  .changeset/gentle-donkeys-talk.md
  packages/fastify/src/types.ts
  packages/sdk-node/src/clerkExpressRequireAuth.ts
Labels: fastify, sdk-node

#2316 chore(clerk-react,types): Align return types for redirectTo methods in ClerkJS [SDK-1037]
  .changeset/witty-forks-cheer.md
  packages/react/src/components/controlComponents.tsx
  packages/react/src/isomorphicClerk.ts
  packages/types/src/clerk.retheme.ts
  packages/types/src/clerk.ts
Labels: types, react, retheme

#2320 Version Packages - V4
  .changeset/selfish-books-matter.md
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
Labels: nextjs

#2299 chore(clerk-js,clerk-react,shared): Add hook to assert the presence of ClerkProvider [SDK-1043]
  .changeset/slow-bugs-exist.md
  packages/react/src/components/controlComponents.tsx
  packages/react/src/components/withClerk.tsx
  packages/react/src/hooks/useAssertWrappedByClerkProvider.ts
  packages/react/src/hooks/useAuth.ts
  packages/react/src/hooks/useSignIn.ts
  packages/react/src/hooks/useSignUp.ts
  packages/shared/src/error.ts
  packages/shared/src/react/contexts.tsx
  packages/shared/src/react/hooks/useClerk.ts
  packages/shared/src/react/hooks/useOrganization.tsx
  packages/shared/src/react/hooks/useOrganizationList.tsx
  packages/shared/src/react/hooks/useSession.ts
  packages/shared/src/react/hooks/useSessionList.ts
  packages/shared/src/react/hooks/useUser.ts
  packages/shared/src/react/index.ts
Labels: react

#2326 chore(clerk-js): Update zxcvbn dependency
  .changeset/angry-clocks-attend.md
  .changeset/long-dancers-whisper.md
  package-lock.json
  packages/clerk-js/package.json
  packages/types/src/passwords.ts
Labels: types, clerk-js

#2311 feat(clerk-js): First iteration of OrganizationSwitcher retheme
  .changeset/popular-parents-hope.md
  packages/clerk-js/src/ui.retheme/common/NotificationCountBadge.tsx
  packages/clerk-js/src/ui.retheme/components/OrganizationSwitcher/OrganizationSwitcherPopover.tsx
  packages/clerk-js/src/ui.retheme/components/OrganizationSwitcher/OrganizationSwitcherTrigger.tsx
  packages/clerk-js/src/ui.retheme/components/OrganizationSwitcher/OtherOrganizationActions.tsx
  packages/clerk-js/src/ui.retheme/components/OrganizationSwitcher/UserInvitationSuggestionList.tsx
  packages/clerk-js/src/ui.retheme/components/OrganizationSwitcher/UserMembershipList.tsx
  packages/clerk-js/src/ui.retheme/components/UserButton/SessionActions.tsx
  packages/clerk-js/src/ui.retheme/components/UserButton/UserButtonPopover.tsx
  packages/clerk-js/src/ui.retheme/components/UserButton/UserButtonTrigger.tsx
  packages/clerk-js/src/ui.retheme/customizables/elementDescriptors.ts
  packages/clerk-js/src/ui.retheme/elements/Actions.tsx
  packages/clerk-js/src/ui.retheme/elements/OrganizationPreview.tsx
  packages/clerk-js/src/ui.retheme/elements/PreviewButton.tsx
  packages/clerk-js/src/ui.retheme/elements/UserPreview.tsx
  packages/clerk-js/src/ui.retheme/icons/add.svg
  packages/clerk-js/src/ui.retheme/icons/chevron-down.svg
  packages/clerk-js/src/ui.retheme/icons/index.ts
  packages/localizations/src/en-US.retheme.ts
  packages/types/src/appearance.retheme.ts
Labels: types, clerk-js, localizations, retheme

#2179 [WIP] Retheme <SignIn /> (part 1)
  .changeset/rich-readers-obey.md
  .changeset/short-kings-mate.md
  .changeset/spicy-feet-buy.md
  .changeset/sweet-pumas-press.md
  .changeset/tricky-swans-develop.md
  .changeset/violet-birds-scream.md
  packages/clerk-js/src/ui.retheme/components/SignIn/AlternativeMethods.tsx
  packages/clerk-js/src/ui.retheme/components/SignIn/ResetPassword.tsx
  packages/clerk-js/src/ui.retheme/components/SignIn/SignInFactorTwoAlternativeMethods.tsx
  packages/clerk-js/src/ui.retheme/components/SignIn/SignInStart.tsx
  packages/clerk-js/src/ui.retheme/customizables/elementDescriptors.ts
  packages/clerk-js/src/ui.retheme/elements/BackLink.tsx
  packages/clerk-js/src/ui.retheme/elements/Card.tsx
  packages/clerk-js/src/ui.retheme/elements/CodeControl.tsx
  packages/clerk-js/src/ui.retheme/elements/Divider.tsx
  packages/clerk-js/src/ui.retheme/elements/ErrorCard.tsx
  packages/clerk-js/src/ui.retheme/elements/FieldControl.tsx
  packages/clerk-js/src/ui.retheme/elements/Footer.tsx
  packages/clerk-js/src/ui.retheme/elements/Form.tsx
  packages/clerk-js/src/ui.retheme/elements/Header.tsx
  packages/clerk-js/src/ui.retheme/elements/IdentityPreview.tsx
  packages/clerk-js/src/ui.retheme/elements/VerificationCodeCard.tsx
  packages/clerk-js/src/ui.retheme/foundations/colors.ts
  packages/clerk-js/src/ui.retheme/foundations/shadows.ts
  packages/clerk-js/src/ui.retheme/foundations/sizes.ts
  packages/clerk-js/src/ui.retheme/icons/close.svg
  packages/clerk-js/src/ui.retheme/icons/logo-mark-new.svg
  packages/clerk-js/src/ui.retheme/icons/pencil-edit.svg
  packages/types/src/appearance.retheme.ts
Labels: types, clerk-js, retheme

#2309 feat(nextjs,shared,backend,clerk-react): Introduce Protect for authorization (#2170)
  .changeset/friendly-parrots-nail.md
  .changeset/short-eagles-search.md
  packages/backend/src/tokens/authObjects.ts
  packages/chrome-extension/src/__snapshots__/exports.test.ts.snap
  packages/clerk-js/src/core/resources/OrganizationMembership.ts
  packages/clerk-js/src/core/resources/Session.test.ts
  packages/clerk-js/src/core/resources/Session.ts
  packages/clerk-js/src/ui/common/Gate.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationProfileNavbar.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationProfileRoutes.tsx
  packages/clerk-js/src/ui/utils/test/mockHelpers.ts
  packages/nextjs/src/app-router/server/auth.ts
  packages/nextjs/src/app-router/server/controlComponents.tsx
  packages/nextjs/src/client-boundary/controlComponents.ts
  packages/nextjs/src/components.client.ts
  packages/nextjs/src/components.server.ts
  packages/nextjs/src/index.ts
  packages/nextjs/src/server/getAuth.ts
  packages/nextjs/src/server/types.ts
  packages/react/src/components/controlComponents.tsx
  packages/react/src/components/index.ts
  packages/react/src/contexts/AuthContext.ts
  packages/react/src/contexts/ClerkContextProvider.tsx
  packages/react/src/errors.ts
  packages/react/src/hooks/useAuth.ts
  packages/react/src/utils/deriveState.ts
  packages/types/src/json.ts
  packages/types/src/jwtv2.ts
  packages/types/src/organizationMembership.ts
  packages/types/src/session.ts
  packages/types/src/ssr.ts
  packages/types/src/utils.ts
Labels: types, clerk-js, nextjs, react, backend, chrome-extension, cherry

#2317 chore(backend): Replace `Clerk` with `createClerkClient` [SDK-1058]
  .changeset/eight-badgers-speak.md
  .changeset/fuzzy-years-taste.md
  .changeset/metal-ears-cheat.md
  .changeset/shiny-pumas-share.md
  .changeset/small-cats-check.md
  .changeset/sour-avocados-sin.md
  integration/cleanup/cleanup.setup.ts
  integration/testUtils/index.ts
  packages/backend/README.md
  packages/backend/src/api/endpoints/InvitationApi.ts
  packages/backend/src/exports.test.ts
  packages/backend/src/index.ts
  packages/fastify/src/clerkClient.test.ts
  packages/fastify/src/clerkClient.ts
  packages/fastify/src/withClerkMiddleware.test.ts
  packages/gatsby-plugin-clerk/src/ssr/clerkClient.ts
  packages/nextjs/src/server/__tests__/__snapshots__/exports.test.ts.snap
  packages/nextjs/src/server/clerkClient.ts
  packages/remix/src/api/index.ts
  packages/remix/src/ssr/authenticateRequest.ts
  packages/sdk-node/src/clerkClient.ts
  packages/sdk-node/src/clerkExpressRequireAuth.ts
  packages/sdk-node/src/types.ts
Labels: nextjs, remix, backend, fastify, sdk-node, gatsby, integration

#2332 chore(clerk-js): Update zxcvbn dependency (#2326)
  .changeset/angry-clocks-attend.md
  .changeset/long-dancers-whisper.md
  package-lock.json
  packages/clerk-js/package.json
  packages/types/src/passwords.ts
Labels: types, clerk-js, cherry

#2325 feat(clerk-js): Retheme cleanups
  .changeset/shaggy-pumpkins-tap.md
  packages/clerk-js/src/ui.retheme/components/OrganizationProfile/OrganizationSettings.tsx
  packages/clerk-js/src/ui.retheme/components/OrganizationProfile/VerifiedDomainPage.tsx
  packages/clerk-js/src/ui.retheme/components/SignIn/ResetPasswordSuccess.tsx
  packages/clerk-js/src/ui.retheme/components/UserButton/UserButtonPopover.tsx
  packages/clerk-js/src/ui.retheme/components/UserProfile/ConnectedAccountsSection.tsx
  packages/clerk-js/src/ui.retheme/components/UserProfile/EnterpriseAccountsSection.tsx
  packages/clerk-js/src/ui.retheme/components/UserProfile/UserProfileSection.tsx
  packages/clerk-js/src/ui.retheme/elements/ActionCard.tsx
  packages/clerk-js/src/ui.retheme/elements/Actions.tsx
  packages/clerk-js/src/ui.retheme/elements/ArrowBlockButton.tsx
  packages/clerk-js/src/ui.retheme/elements/BackLink.tsx
  packages/clerk-js/src/ui.retheme/elements/BlockWithTrailingComponent.tsx
  packages/clerk-js/src/ui.retheme/elements/Card.tsx
  packages/clerk-js/src/ui.retheme/elements/Menu.tsx
  packages/clerk-js/src/ui.retheme/elements/Navbar.tsx
  packages/clerk-js/src/ui.retheme/elements/OrganizationPreview.tsx
  packages/clerk-js/src/ui.retheme/elements/PasswordInput.tsx
  packages/clerk-js/src/ui.retheme/elements/PoweredByClerk.tsx
  packages/clerk-js/src/ui.retheme/elements/ProfileCardContent.tsx
  packages/clerk-js/src/ui.retheme/elements/Select.tsx
  packages/clerk-js/src/ui.retheme/elements/SocialButtons.tsx
  packages/clerk-js/src/ui.retheme/elements/UserPreview.tsx
  packages/clerk-js/src/ui.retheme/foundations/colors.ts
  packages/clerk-js/src/ui.retheme/foundations/shadows.ts
  packages/clerk-js/src/ui.retheme/primitives/Button.tsx
  packages/clerk-js/src/ui.retheme/primitives/Text.tsx
  packages/localizations/src/en-US.retheme.ts
  packages/types/src/localization.retheme.ts
Labels: types, clerk-js, localizations, retheme

#2333 feat(nextjs): Accept `redirectUrl` as option for `auth().protect()` #2329
  .changeset/thirty-chicken-divide.md
  packages/nextjs/src/app-router/server/auth.ts
Labels: nextjs, cherry

#2331 feat(repo): Add E2E test suite for handshake
  .changeset/bright-ways-provide.md
  integration/testUtils/handshake.ts
  integration/tests/handshake.test.ts
  packages/backend/src/tokens/request.ts
  packages/nextjs/src/server/authMiddleware.test.ts
  packages/nextjs/src/server/authMiddleware.ts
  packages/sdk-node/src/__tests__/__snapshots__/exports.test.ts.snap
  packages/sdk-node/src/clerkClient.ts
  packages/sdk-node/src/index.ts
Labels: nextjs, backend, sdk-node, integration

#2335 fix(clerk-js): Make unit tests pass
  .changeset/nine-beans-travel.md
  packages/clerk-js/src/ui/components/OrganizationProfile/__tests__/OrganizationMembers.test.tsx
  packages/clerk-js/src/ui/components/OrganizationSwitcher/__tests__/OrganizationSwitcher.test.tsx
  packages/clerk-js/src/ui/components/SignIn/__tests__/ResetPassword.test.tsx
  packages/clerk-js/src/ui/components/SignIn/__tests__/SignInFactorOne.test.tsx
  packages/clerk-js/src/ui/components/SignIn/__tests__/SignInFactorTwo.test.tsx
  packages/clerk-js/src/ui/components/SignUp/__tests__/SignUpContinue.test.tsx
  packages/clerk-js/src/ui/components/SignUp/__tests__/SignUpStart.test.tsx
  packages/clerk-js/src/ui/components/SignUp/__tests__/SignUpVerifyEmail.test.tsx
  packages/clerk-js/src/ui/components/SignUp/__tests__/SignUpVerifyPhone.test.tsx
  packages/clerk-js/src/ui/components/UserProfile/__tests__/RootPage.test.tsx
  packages/clerk-js/src/ui/components/UserProfile/__tests__/UserProfile.test.tsx
  packages/clerk-js/src/ui/customizables/__tests__/parseAppearance.test.tsx
Labels: clerk-js

#2251 feat(clerk-js,types): Drop redirectToHome in favour of redirectToAfterSignIn & redirectToAfterSignUp [SDK-875]
  .changeset/pretty-scissors-thank.md
  packages/clerk-js/src/core/clerk.redirects.test.ts
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/warnings.ts
  packages/clerk-js/src/ui/common/__tests__/withRedirect.test.tsx
  packages/clerk-js/src/ui/common/__tests__/withRedirectToHome.test.tsx
  packages/clerk-js/src/ui/common/index.ts
  packages/clerk-js/src/ui/common/withRedirect.tsx
  packages/clerk-js/src/ui/common/withRedirectToHome.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationProfile.tsx
  packages/clerk-js/src/ui/components/SignIn/ResetPassword.tsx
  packages/clerk-js/src/ui/components/SignIn/ResetPasswordSuccess.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInAccountSwitcher.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInFactorOne.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInFactorTwo.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInSSOCallback.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInStart.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpSSOCallback.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpStart.tsx
  packages/clerk-js/src/ui/components/UserProfile/UserProfile.tsx
  packages/react/src/isomorphicClerk.ts
  packages/shared/src/__tests__/keys.test.ts
  packages/shared/src/keys.ts
  packages/types/src/clerk.ts
Labels: types, clerk-js, react, retheme

#2277 feat(chrome-extension): WebSSO with URL-based session syncing [SDK-836]
  .changeset/shiny-glasses-switch.md
  package-lock.json
  package.json
  packages/chrome-extension/README.md
  packages/chrome-extension/jest.config.js
  packages/chrome-extension/jest.setup.ts
  packages/chrome-extension/package.json
  packages/chrome-extension/src/ClerkProvider.tsx
  packages/chrome-extension/src/cache.ts
  packages/chrome-extension/src/constants.ts
  packages/chrome-extension/src/index.ts
  packages/chrome-extension/src/singleton.ts
  packages/chrome-extension/src/utils.test.ts
  packages/chrome-extension/src/utils.ts
  packages/chrome-extension/src/utils/cookies.test.ts
  packages/chrome-extension/src/utils/cookies.ts
  packages/chrome-extension/src/utils/errors.ts
  packages/chrome-extension/src/utils/manifest.test.ts
  packages/chrome-extension/src/utils/manifest.ts
  packages/chrome-extension/src/utils/storage.test.ts
  packages/chrome-extension/src/utils/storage.ts
  packages/chrome-extension/tsconfig.lint.json
  packages/eslint-config-custom/package.json
  turbo.json
Labels: chrome-extension

#2330 Version Packages - V4
  .changeset/angry-clocks-attend.md
  .changeset/friendly-parrots-nail.md
  .changeset/long-dancers-whisper.md
  .changeset/short-eagles-search.md
  .changeset/thirty-chicken-divide.md
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/CHANGELOG.md
  packages/gatsby-plugin-clerk/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/shared/package.json
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, sdk-node, expo, chrome-extension, gatsby, themes

#2337 chore(repo): Remove unused handshake test files, test cleanup
  handshake.test.ts
  handshakeTestConfigs.ts
  integration/tests/handshake.test.ts
  jest.config.handshake.js
Labels: integration

#2329 feat(nextjs): Accept `redirectUrl` as option for `auth().protect()`
  .changeset/thirty-chicken-divide.md
  packages/nextjs/src/app-router/server/auth.ts
Labels: nextjs

#2340 build(*): Allow for GHA global cache busting
  .changeset/famous-spies-clean.md
  .github/.cache-version
  .github/actions/init/action.yml
  .github/workflows/ci.yml
  packages/clerk-js/turbo.json
  turbo.json
Labels: clerk-js, actions

#2342 chore(*): Remove preview retheme action in CI
  .github/workflows/preview.retheme.yml
Labels: actions

#2319 tests(repo): Integration tests for Protect
  integration/.keys.json.sample
  integration/README.md
  integration/constants.ts
  integration/presets/envs.ts
  integration/presets/longRunningApps.ts
  integration/templates/next-app-router/src/app/api/settings/route.ts
  integration/templates/next-app-router/src/app/page.tsx
  integration/templates/next-app-router/src/app/settings/auth-has/page.tsx
  integration/templates/next-app-router/src/app/settings/auth-protect/page.tsx
  integration/templates/next-app-router/src/app/settings/rcc-protect/page.tsx
  integration/templates/next-app-router/src/app/settings/rsc-protect/page.tsx
  integration/templates/next-app-router/src/app/settings/useAuth-has/page.tsx
  integration/templates/next-app-router/src/app/switcher/page.tsx
  integration/templates/next-app-router/src/middleware.ts
  integration/testUtils/index.ts
  integration/testUtils/organizationSwitcherPageObject.ts
  integration/testUtils/usersService.ts
  integration/tests/protect.test.ts
  package.json
Labels: integration

#2328 chore(*): Improve @clerk/clerk-react DX
  .changeset/mighty-bulldogs-try.md
  packages/chrome-extension/src/ClerkProvider.tsx
  packages/chrome-extension/src/__snapshots__/exports.test.ts.snap
  packages/chrome-extension/src/index.ts
  packages/expo/src/ClerkProvider.tsx
  packages/expo/src/index.ts
  packages/gatsby-plugin-clerk/src/GatsbyClerkProvider.tsx
  packages/gatsby-plugin-clerk/src/index.ts
  packages/nextjs/src/client-boundary/controlComponents.ts
  packages/nextjs/src/client-boundary/hooks.ts
  packages/nextjs/src/index.ts
  packages/nextjs/src/pages/ClerkProvider.tsx
  packages/nextjs/src/utils/mergeNextClerkPropsWithEnv.ts
  packages/react/.gitignore
  packages/react/jest.config.js
  packages/react/package.json
  packages/react/src/components/controlComponents.tsx
  packages/react/src/components/index.ts
  packages/react/src/components/uiComponents.tsx
  packages/react/src/components/withClerk.tsx
  packages/react/src/components/withSession.tsx
  packages/react/src/components/withUser.tsx
  packages/react/src/contexts/ClerkProvider.tsx
  packages/react/src/contexts/StructureContext.tsx
  packages/react/src/contexts/assertHelpers.ts
  packages/react/src/contexts/index.ts
  packages/react/src/errors.ts
  packages/react/src/errors/errorThrower.ts
  packages/react/src/errors/messages.ts
  packages/react/src/hooks/useAssertWrappedByClerkProvider.ts
  packages/react/src/hooks/useAuth.ts
  packages/react/src/index.ts
  packages/react/src/internal.ts
  packages/react/src/isomorphicClerk.ts
  packages/react/src/types.ts
  packages/react/src/utils/childrenUtils.tsx
  packages/react/src/utils/index.ts
  packages/react/src/utils/loadClerkJsScript.ts
  packages/react/src/utils/useCustomPages.tsx
  packages/react/src/utils/useMaxAllowedInstancesGuard.tsx
  packages/react/subpaths.mjs
  packages/react/tsconfig.json
  packages/react/tsup.config.ts
  packages/remix/src/client/RemixOptionsContext.tsx
  packages/remix/src/errorThrower.ts
  packages/remix/src/index.ts
Labels: nextjs, react, remix, expo, chrome-extension, gatsby

#2344 chore(localizations): Simplify tsup config
  .changeset/itchy-chairs-argue.md
  packages/localizations/tsup.config.ts
Labels: localizations

#2343 feat(clerk-js): Improve Card element, cleanup parts of UI
  .changeset/quiet-cougars-watch.md
  packages/clerk-js/src/ui/common/CustomPageContentContainer.tsx
  packages/clerk-js/src/ui/common/EmailLinkStatusCard.tsx
  packages/clerk-js/src/ui/common/SSOCallback.tsx
  packages/clerk-js/src/ui/components/CreateOrganization/CreateOrganization.tsx
  packages/clerk-js/src/ui/components/OrganizationList/OrganizationListPage.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationMembers.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationProfile.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationProfileRoutes.tsx
  packages/clerk-js/src/ui/components/OrganizationSwitcher/OrganizationSwitcherPopover.tsx
  packages/clerk-js/src/ui/components/SignIn/AlternativeMethods.tsx
  packages/clerk-js/src/ui/components/SignIn/ResetPassword.tsx
  packages/clerk-js/src/ui/components/SignIn/ResetPasswordSuccess.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInAccountSwitcher.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInFactorOnePasswordCard.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInFactorTwoAlternativeMethods.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInFactorTwoBackupCodeCard.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInStart.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpContinue.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpStart.tsx
  packages/clerk-js/src/ui/components/UserButton/UserButtonPopover.tsx
  packages/clerk-js/src/ui/components/UserProfile/RootPage.tsx
  packages/clerk-js/src/ui/components/UserProfile/UserProfile.tsx
  packages/clerk-js/src/ui/components/UserProfile/UserProfileRoutes.tsx
  packages/clerk-js/src/ui/elements/Alert.tsx
  packages/clerk-js/src/ui/elements/Card.tsx
  packages/clerk-js/src/ui/elements/Card/CardAlert.tsx
  packages/clerk-js/src/ui/elements/Card/CardContent.tsx
  packages/clerk-js/src/ui/elements/Card/CardFooter.tsx
  packages/clerk-js/src/ui/elements/Card/CardRoot.tsx
  packages/clerk-js/src/ui/elements/Card/index.ts
  packages/clerk-js/src/ui/elements/ErrorCard.tsx
  packages/clerk-js/src/ui/elements/FormContent.tsx
  packages/clerk-js/src/ui/elements/LoadingCard.tsx
  packages/clerk-js/src/ui/elements/Navbar.tsx
  packages/clerk-js/src/ui/elements/PopoverCard.tsx
  packages/clerk-js/src/ui/elements/ProfileCard/ProfileCardContent.tsx
  packages/clerk-js/src/ui/elements/ProfileCard/ProfileCardRoot.tsx
  packages/clerk-js/src/ui/elements/ProfileCard/index.ts
  packages/clerk-js/src/ui/elements/Select.tsx
  packages/clerk-js/src/ui/elements/VerificationCodeCard.tsx
  packages/clerk-js/src/ui/elements/VerificationLinkCard.tsx
  packages/clerk-js/src/ui/elements/index.ts
  packages/clerk-js/src/ui/foundations/shadows.ts
Labels: clerk-js

#2341 Update es-ES.ts
  .changeset/soft-fireants-jog.md
  packages/localizations/src/es-ES.ts
Labels: localizations

#2346 feat(clerk-js): Separate account and security pages
  .changeset/yellow-tigers-know.md
  packages/clerk-js/src/ui/components/UserProfile/AccountPage.tsx
  packages/clerk-js/src/ui/components/UserProfile/SecurityPage.tsx
  packages/clerk-js/src/ui/components/UserProfile/UserProfileRoutes.tsx
  packages/clerk-js/src/ui/components/UserProfile/__tests__/AccountPage.test.tsx
  packages/clerk-js/src/ui/components/UserProfile/__tests__/SecurityPage.test.tsx
  packages/clerk-js/src/ui/elements/Navbar.tsx
  packages/clerk-js/src/ui/utils/__tests__/createCustomPages.test.ts
  packages/clerk-js/src/ui/utils/createCustomPages.tsx
Labels: clerk-js

#2353 chore(clerk-sdk-node): Drop unused instance.ts
  .changeset/shy-bikes-draw.md
  packages/sdk-node/src/instance.ts
  packages/sdk-node/tsconfig.json
Labels: sdk-node, v5-release

#2351 fix(repo): Retheme node_modules cache
  .changeset/sixty-frogs-pump.md
  .eslintignore
  .github/.cache-version
  .github/.eslintrc.js
  .github/actions/init/action.yml
  .github/workflows/ci.yml
  .github/workflows/preview.retheme.yml
  .prettierignore
  package-lock.json
  packages/eslint-config-custom/_constants.js
  packages/eslint-config-custom/github-actions.js
  packages/eslint-config-custom/package.json
Labels: actions

#2357 fix(*): Update playground to support changes in #2328 for retheme
  playground/nextjs/pages/session-examples/index.tsx
  playground/nextjs/pages/user-examples/index.tsx
Labels: playground

#2354 chore(nextjs): Fix quickstarts link in error msg
  .changeset/polite-mice-live.md
  packages/nextjs/src/server/errors.ts
Labels: nextjs

#2355 chore(nextjs): Fix quickstarts link in error msg
  .changeset/silent-comics-roll.md
  packages/nextjs/src/server/errors.ts
Labels: nextjs

#2358 Version Packages - V4
  .changeset/polite-mice-live.md
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
Labels: nextjs

#2361 feat(clerk-js): Retheme OrganizationList component
  .changeset/many-flowers-heal.md
  packages/clerk-js/src/ui/components/OrganizationList/OrganizationListPage.tsx
  packages/clerk-js/src/ui/components/OrganizationList/UserMembershipList.tsx
  packages/clerk-js/src/ui/components/OrganizationList/__tests__/OrganizationList.test.tsx
  packages/clerk-js/src/ui/components/OrganizationList/shared.tsx
  packages/clerk-js/src/ui/components/OrganizationSwitcher/UserInvitationSuggestionList.tsx
  packages/clerk-js/src/ui/components/OrganizationSwitcher/UserMembershipList.tsx
  packages/clerk-js/src/ui/components/OrganizationSwitcher/__tests__/OrganizationSwitcher.test.tsx
  packages/clerk-js/src/ui/customizables/elementDescriptors.ts
  packages/clerk-js/src/ui/elements/Actions.tsx
  packages/clerk-js/src/ui/elements/Header.tsx
  packages/clerk-js/src/ui/elements/PoweredByClerk.tsx
  packages/clerk-js/src/ui/elements/PreviewButton.tsx
  packages/clerk-js/src/ui/elements/UserPreview.tsx
  packages/clerk-js/src/ui/primitives/Button.tsx
  packages/localizations/src/en-US.ts
  packages/types/src/appearance.ts
  playground/nextjs/pages/index.tsx
  playground/nextjs/pages/organization-list/[[...index]].tsx
Labels: types, clerk-js, localizations, playground

#2350 fix(clerk-js): Use better multipliers for generated text sizes
  .changeset/loud-panthers-poke.md
  packages/clerk-js/src/ui/customizables/__tests__/parseAppearance.test.tsx
  packages/clerk-js/src/ui/customizables/parseVariables.ts
  packages/clerk-js/src/ui/foundations/typography.ts
Labels: clerk-js

#2308 Version Packages (alpha-v5)
  .changeset/pre.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/CHANGELOG.md
  packages/gatsby-plugin-clerk/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, sdk-node, expo, chrome-extension, gatsby, themes

#2366 Version Packages (alpha-v5)
  .changeset/pre.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/CHANGELOG.md
  packages/gatsby-plugin-clerk/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
Labels: nextjs, remix, backend, fastify, sdk-node, gatsby

#2368 fix(clerk-sdk-node): Fix forgotten Clerk instead of createClerkClient
  .changeset/weak-bears-cover.md
  packages/sdk-node/src/clerkClient.ts
Labels: sdk-node

#2370 fix(clerk-js): Use the new rethemed badge
  .changeset/gentle-berries-teach.md
  packages/clerk-js/src/ui/common/NotificationCountBadge.tsx
  packages/clerk-js/src/ui/components/OrganizationSwitcher/OrganizationSwitcherPopover.tsx
  packages/clerk-js/src/ui/components/OrganizationSwitcher/OrganizationSwitcherTrigger.tsx
  packages/clerk-js/src/ui/components/OrganizationSwitcher/OtherOrganizationActions.tsx
  packages/clerk-js/src/ui/components/UserButton/SessionActions.tsx
  packages/clerk-js/src/ui/components/UserButton/UserButtonPopover.tsx
  packages/clerk-js/src/ui/elements/Actions.tsx
  packages/clerk-js/src/ui/primitives/Button.tsx
  packages/clerk-js/src/ui/primitives/NotificationBadge.tsx
Labels: clerk-js

#2348 feat(clerk-react): Replace `signOutCallback` with `redirectUrl` in SignOutButton
  .changeset/bright-dragons-join.md
  packages/react/src/components/SignOutButton.tsx
Labels: react, v5-release

#2360 chore(*): Improve @clerk/backend DX [Part 1 - Refactoring]
  .changeset/mean-numbers-grin.md
  packages/backend/package.json
  packages/backend/src/__tests__/exports.test.ts
  packages/backend/src/__tests__/redirections.test.ts
  packages/backend/src/__tests__/utils.test.ts
  packages/backend/src/api/__tests__/factory.test.ts
  packages/backend/src/fixtures/email.json
  packages/backend/src/fixtures/user.json
  packages/backend/src/runtime.ts
  packages/backend/src/runtime/node/crypto.mjs
  packages/backend/src/tokens/__tests__/authObjects.test.ts
  packages/backend/src/tokens/__tests__/factory.test.ts
  packages/backend/src/tokens/__tests__/keys.test.ts
  packages/backend/src/tokens/__tests__/request.test.ts
  packages/backend/src/tokens/__tests__/verify.test.ts
  packages/backend/src/tokens/jwt/__tests__/assertions.test.ts
  packages/backend/src/tokens/jwt/__tests__/cryptoKeys.test.ts
  packages/backend/src/tokens/jwt/__tests__/signJwt.test.ts
  packages/backend/src/tokens/jwt/__tests__/verifyJwt.test.ts
  packages/backend/src/tokens/keys.ts
  packages/backend/src/util/__tests__/path.test.ts
  packages/backend/src/util/__tests__/request.test.ts
  packages/backend/src/util/assertResponse.ts
  packages/backend/src/util/testUtils.ts
  packages/backend/tests/edge-runtime/run.mjs
  packages/backend/tests/suites.ts
  packages/backend/tsconfig.json
  packages/backend/tsconfig.test.json
Labels: backend, v5-release

#2362 chore(*): Improve @clerk/backend DX [Part 2 - Errors subpath exports]
  .changeset/fifty-snakes-accept.md
  .changeset/tasty-terms-fly.md
  .github/workflows/ci.yml
  packages/backend/package.json
  packages/backend/src/__tests__/exports.test.ts
  packages/backend/src/api/resources/index.ts
  packages/backend/src/errors.ts
  packages/backend/src/index.ts
  packages/backend/src/runtime.ts
  packages/backend/src/runtime/browser/crypto.mjs
  packages/backend/src/runtime/node/crypto.js
  packages/backend/src/tokens/__tests__/keys.test.ts
  packages/backend/src/tokens/__tests__/request.test.ts
  packages/backend/src/tokens/authStatus.ts
  packages/backend/src/tokens/handshake.ts
  packages/backend/src/tokens/index.ts
  packages/backend/src/tokens/jwt/assertions.ts
  packages/backend/src/tokens/jwt/verifyJwt.ts
  packages/backend/src/tokens/keys.ts
  packages/backend/src/tokens/request.ts
  packages/backend/src/tokens/verify.ts
  packages/backend/tsconfig.declarations.json
  packages/backend/tsup.config.ts
  packages/sdk-node/src/__tests__/__snapshots__/exports.test.ts.snap
  packages/sdk-node/src/index.ts
Labels: actions, backend, sdk-node, v5-release

#2363 chore(*): Improve @clerk/backend DX [Part 3 - Internal subpath exports]
  .changeset/red-suns-perform.md
  packages/backend/package.json
  packages/backend/src/__tests__/exports.test.ts
  packages/backend/src/constants.ts
  packages/backend/src/index.ts
  packages/backend/src/internal.ts
  packages/backend/src/redirections.ts
  packages/backend/src/tokens/authObjects.ts
  packages/backend/src/tokens/authStatus.ts
  packages/backend/src/tokens/factory.ts
  packages/backend/src/tokens/index.ts
  packages/backend/src/tokens/request.ts
  packages/backend/src/util/IsomorphicRequest.ts
  packages/backend/src/utils.ts
  packages/backend/tsup.config.ts
  packages/fastify/src/constants.ts
  packages/fastify/src/getAuth.ts
  packages/fastify/src/withClerkMiddleware.ts
  packages/gatsby-plugin-clerk/src/ssr/types.ts
  packages/gatsby-plugin-clerk/src/ssr/utils.ts
  packages/gatsby-plugin-clerk/src/ssr/withServerAuth.ts
  packages/nextjs/src/app-router/server/auth.ts
  packages/nextjs/src/server/authMiddleware.test.ts
  packages/nextjs/src/server/authMiddleware.ts
  packages/nextjs/src/server/getAuth.ts
  packages/nextjs/src/server/redirect.ts
  packages/nextjs/src/server/types.ts
  packages/nextjs/src/server/utils.ts
  packages/remix/src/ssr/authenticateRequest.ts
  packages/remix/src/ssr/getAuth.ts
  packages/remix/src/ssr/rootAuthLoader.ts
  packages/remix/src/ssr/types.ts
  packages/remix/src/ssr/utils.ts
  packages/sdk-node/src/__tests__/__snapshots__/exports.test.ts.snap
  packages/sdk-node/src/__tests__/authenticateRequest.test.ts
  packages/sdk-node/src/__tests__/middleware.test.ts
  packages/sdk-node/src/authenticateRequest.ts
  packages/sdk-node/src/clerkExpressRequireAuth.ts
  packages/sdk-node/src/clerkExpressWithAuth.ts
  packages/sdk-node/src/types.ts
Labels: nextjs, remix, backend, fastify, sdk-node, gatsby, v5-release

#2364 chore(*): Improve @clerk/backend DX [Part 4 - Jwt subpath exports]
  .changeset/slimy-ties-approve.md
  packages/backend/package.json
  packages/backend/src/__tests__/exports.test.ts
  packages/backend/src/fixtures/index.ts
  packages/backend/src/index.ts
  packages/backend/src/jwt/__tests__/assertions.test.ts
  packages/backend/src/jwt/__tests__/cryptoKeys.test.ts
  packages/backend/src/jwt/__tests__/signJwt.test.ts
  packages/backend/src/jwt/__tests__/verifyJwt.test.ts
  packages/backend/src/jwt/algorithms.ts
  packages/backend/src/jwt/assertions.ts
  packages/backend/src/jwt/cryptoKeys.ts
  packages/backend/src/jwt/index.ts
  packages/backend/src/jwt/signJwt.ts
  packages/backend/src/jwt/verifyJwt.ts
  packages/backend/src/tokens/__tests__/keys.test.ts
  packages/backend/src/tokens/__tests__/request.test.ts
  packages/backend/src/tokens/__tests__/verify.test.ts
  packages/backend/src/tokens/handshake.ts
  packages/backend/src/tokens/request.ts
  packages/backend/src/tokens/verify.ts
  packages/backend/tests/suites.ts
  packages/backend/tsup.config.ts
  packages/nextjs/src/server/getAuth.ts
  packages/sdk-node/src/__tests__/__snapshots__/exports.test.ts.snap
Labels: nextjs, backend, sdk-node, v5-release

#2345 chore(clerk-js): Simplify dev browser handling
  .changeset/eighty-walls-appear.md
  packages/chrome-extension/src/singleton.ts
  packages/clerk-js/src/core/clerk.redirects.test.ts
  packages/clerk-js/src/core/clerk.test.ts
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/devBrowser.test.ts
  packages/clerk-js/src/core/devBrowser.ts
  packages/clerk-js/src/core/devBrowserHandler.ts
  packages/clerk-js/src/core/services/authentication/SessionCookieService.ts
  packages/clerk-js/src/utils/cookies/client.ts
  packages/clerk-js/src/utils/cookies/clientUat.ts
  packages/clerk-js/src/utils/cookies/client_uat.ts
  packages/clerk-js/src/utils/cookies/devBrowser.ts
  packages/clerk-js/src/utils/cookies/handler.ts
  packages/clerk-js/src/utils/cookies/index.ts
  packages/clerk-js/src/utils/cookies/initted.ts
  packages/clerk-js/src/utils/cookies/session.ts
  packages/clerk-js/src/utils/iframe.ts
  packages/clerk-js/src/utils/index.ts
  packages/nextjs/src/server/authMiddleware.ts
  packages/shared/src/devBrowser.ts
  packages/shared/src/index.ts
Labels: clerk-js, nextjs, chrome-extension, v5-release

#2365 chore(*): Improve @clerk/backend DX [Part 5 - Drop api/resources from exports]
  .changeset/silver-weeks-roll.md
  packages/backend/src/__tests__/exports.test.ts
  packages/backend/src/index.ts
  packages/sdk-node/src/__tests__/__snapshots__/exports.test.ts.snap
Labels: backend, sdk-node, v5-release

#2374 chore(nextjs): Rename to NEXT_PUBLIC_CLERK_JS_URL
  .changeset/wise-scissors-know.md
  .github/workflows/preview.retheme.yml
  .github/workflows/preview.yml
  packages/nextjs/src/server/constants.ts
  packages/nextjs/src/utils/mergeNextClerkPropsWithEnv.ts
Labels: nextjs, actions

#2372 feat(clerk-js): Sign In Retheme
  .changeset/light-spoons-divide.md
  integration/tests/navigation.test.ts
  packages/clerk-js/src/ui/common/SSOCallback.tsx
  packages/clerk-js/src/ui/components/SignIn/AlternativeMethods.tsx
  packages/clerk-js/src/ui/components/SignIn/ResetPassword.tsx
  packages/clerk-js/src/ui/components/SignIn/ResetPasswordSuccess.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInFactorOne.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInFactorOneCodeForm.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInFactorOneEmailCodeCard.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInFactorOneForgotPasswordCard.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInFactorOnePasswordCard.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInFactorOnePhoneCodeCard.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInFactorTwoAlternativeMethods.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInFactorTwoBackupCodeCard.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInFactorTwoCodeForm.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInFactorTwoPhoneCodeCard.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInFactorTwoTOTPCard.tsx
  packages/clerk-js/src/ui/components/SignIn/__tests__/ResetPassword.test.tsx
  packages/clerk-js/src/ui/components/SignIn/__tests__/ResetPasswordSuccess.test.tsx
  packages/clerk-js/src/ui/components/SignIn/__tests__/SignInFactorOne.test.tsx
  packages/clerk-js/src/ui/components/SignIn/__tests__/SignInStart.test.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpEmailCodeCard.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpStart.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpVerificationCodeForm.tsx
  packages/clerk-js/src/ui/elements/ApplicationLogo.tsx
  packages/clerk-js/src/ui/elements/ArrowBlockButton.tsx
  packages/clerk-js/src/ui/elements/Card/CardContent.tsx
  packages/clerk-js/src/ui/elements/Card/CardFooter.tsx
  packages/clerk-js/src/ui/elements/Card/CardRoot.tsx
  packages/clerk-js/src/ui/elements/CodeControl.tsx
  packages/clerk-js/src/ui/elements/Divider.tsx
  packages/clerk-js/src/ui/elements/ErrorCard.tsx
  packages/clerk-js/src/ui/elements/Form.tsx
  packages/clerk-js/src/ui/elements/IdentityPreview.tsx
  packages/clerk-js/src/ui/elements/LoadingCard.tsx
  packages/clerk-js/src/ui/elements/SocialButtons.tsx
  packages/clerk-js/src/ui/elements/VerificationCodeCard.tsx
  packages/clerk-js/src/ui/elements/VerificationLinkCard.tsx
  packages/clerk-js/src/ui/foundations/shadows.ts
  packages/clerk-js/src/ui/styledSystem/common.ts
  packages/localizations/src/en-US.ts
  packages/types/src/localization.ts
Labels: types, clerk-js, localizations, integration

#2375 feat(clerk-js): User profile layout cleanup
  .changeset/sixty-months-listen.md
  packages/clerk-js/src/ui/common/RemoveResourcePage.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationSettings.tsx
  packages/clerk-js/src/ui/components/UserProfile/ActiveDevicesSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/ConnectedAccountsSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/DeleteSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/EmailsSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/EnterpriseAccountsSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/MfaSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/PasswordSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/PhoneSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/RemoveResourceForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/UserProfileRoutes.tsx
  packages/clerk-js/src/ui/components/UserProfile/UserProfileSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/UsernameSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/Web3Form.tsx
  packages/clerk-js/src/ui/components/UserProfile/Web3Section.tsx
  packages/clerk-js/src/ui/customizables/elementDescriptors.ts
  packages/clerk-js/src/ui/elements/Section.tsx
  packages/localizations/src/en-US.ts
  packages/types/src/appearance.ts
Labels: types, clerk-js, localizations

#2376 feat(clerk-js): Retheme Sign Up
  .changeset/odd-eels-ring.md
  packages/clerk-js/src/ui/common/EmailLinkStatusCard.tsx
  packages/clerk-js/src/ui/common/SSOCallback.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInAccountSwitcher.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpContinue.tsx
  packages/clerk-js/src/ui/components/SignUp/__tests__/SignUpContinue.test.tsx
  packages/clerk-js/src/ui/components/SignUp/__tests__/SignUpStart.test.tsx
  packages/clerk-js/src/ui/components/SignUp/__tests__/SignUpVerifyEmail.test.tsx
  packages/clerk-js/src/ui/components/SignUp/__tests__/SignUpVerifyPhone.test.tsx
  packages/clerk-js/src/ui/elements/LoadingCard.tsx
  packages/localizations/src/en-US.ts
Labels: clerk-js, localizations, retheme

#2367 refactor(clerk-js,nextjs,clerk-react,shared,types): Remove hashing and third-party cookie based session syncing for development instances. [SDK-645]
  .changeset/famous-penguins-bow.md
  .changeset/modern-buses-sort.md
  .changeset/modern-mayflies-sort.md
  packages/clerk-js/src/core/clerk.redirects.test.ts
  packages/clerk-js/src/core/clerk.test.ts
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/devBrowser.ts
  packages/clerk-js/src/core/resources/AuthConfig.ts
  packages/nextjs/src/server/authMiddleware.ts
  packages/react/src/isomorphicClerk.ts
  packages/shared/src/__tests__/devbrowser.test.ts
  packages/shared/src/devBrowser.ts
  packages/types/src/authConfig.ts
  packages/types/src/clerk.ts
Labels: types, clerk-js, nextjs, react

#2377 chore(*): Improve @clerk/backend DX [Part 6 - token and jwt utils return values]
  .changeset/dull-ants-argue.md
  .changeset/mighty-rice-marry.md
  .changeset/proud-trees-yell.md
  packages/backend/README.md
  packages/backend/src/__tests__/exports.test.ts
  packages/backend/src/errors.ts
  packages/backend/src/jwt/__tests__/signJwt.test.ts
  packages/backend/src/jwt/__tests__/verifyJwt.test.ts
  packages/backend/src/jwt/signJwt.ts
  packages/backend/src/jwt/types.ts
  packages/backend/src/jwt/verifyJwt.ts
  packages/backend/src/tokens/__tests__/verify.test.ts
  packages/backend/src/tokens/handshake.ts
  packages/backend/src/tokens/request.ts
  packages/backend/src/tokens/verify.ts
  packages/backend/src/util/testUtils.ts
  packages/nextjs/src/server/getAuth.ts
Labels: nextjs, backend, v5-release

#2378 fix(nextjs): Type of `auth().protect()` when user is signed out
  packages/nextjs/src/app-router/server/auth.ts
Labels: nextjs

#2379 feat(clerk-js): Retheme `<CreateOrganization/>`
  .changeset/honest-pigs-smoke.md
  packages/clerk-js/src/ui/components/CreateOrganization/CreateOrganization.tsx
  packages/clerk-js/src/ui/components/CreateOrganization/CreateOrganizationForm.tsx
  packages/clerk-js/src/ui/components/CreateOrganization/CreateOrganizationPage.tsx
  packages/clerk-js/src/ui/components/OrganizationList/OrganizationListPage.tsx
  packages/clerk-js/src/ui/components/OrganizationList/__tests__/OrganizationList.test.tsx
  packages/clerk-js/src/ui/elements/FormContent.tsx
  packages/clerk-js/src/ui/foundations/borders.ts
Labels: clerk-js

#2380 feat(remix): Support handshake flow for remix
  .changeset/itchy-chairs-call.md
  packages/backend/src/internal.ts
  packages/nextjs/src/server/authMiddleware.ts
  packages/remix/src/ssr/authenticateRequest.ts
  packages/remix/src/ssr/getAuth.ts
  packages/remix/src/ssr/rootAuthLoader.ts
Labels: nextjs, remix, backend

#2385 chore(clerk-js): Remove legacy roles fallback
  .changeset/lovely-experts-deny.md
  packages/clerk-js/src/ui/components/OrganizationProfile/MemberListTable.tsx
Labels: clerk-js

#2386 fix(clerk-js): Fix autozooming on iOS devices
  .changeset/nine-cooks-retire.md
  packages/clerk-js/src/ui/primitives/Input.tsx
Labels: clerk-js

#2373 fix(nextjs): Fix Protect type
  .changeset/many-gifts-swim.md
  .changeset/metal-wolves-wave.md
  integration/presets/next.ts
  integration/presets/react.ts
  integration/templates/next-app-router/package.json
  integration/tests/global.setup.ts
  integration/tests/navigation.test.ts
  integration/tests/next-build.test.ts
  integration/tests/sign-in-smoke.test.ts
  package-lock.json
  package.json
  packages/backend/errors/package.json
  packages/backend/internal/package.json
  packages/backend/jwt/package.json
  packages/backend/package.json
  packages/backend/src/__tests__/exports.test.ts
  packages/backend/src/internal.ts
  packages/backend/src/tokens/__tests__/request.test.ts
  packages/backend/src/tokens/authObjects.ts
  packages/backend/src/tokens/authStatus.ts
  packages/backend/src/util/decorateObjectWithResources.ts
  packages/chrome-extension/src/__snapshots__/exports.test.ts.snap
  packages/gatsby-plugin-clerk/src/ssr/utils.ts
  packages/gatsby-plugin-clerk/src/ssr/withServerAuth.ts
  packages/nextjs/src/app-router/client/ClerkProvider.tsx
  packages/nextjs/src/app-router/server/ClerkProvider.tsx
  packages/nextjs/src/app-router/server/auth.ts
  packages/nextjs/src/app-router/server/controlComponents.tsx
  packages/nextjs/src/app-router/server/protect.ts
  packages/nextjs/src/client-boundary/NextOptionsContext.tsx
  packages/nextjs/src/index.ts
  packages/nextjs/src/server/getAuth.ts
  packages/nextjs/src/server/types.ts
  packages/react/src/components/controlComponents.tsx
  packages/react/src/components/index.ts
  packages/remix/src/ssr/authenticateRequest.ts
  packages/remix/src/ssr/getAuth.ts
  packages/remix/src/ssr/rootAuthLoader.ts
  packages/remix/src/ssr/utils.ts
  packages/shared/package.json
Labels: nextjs, react, remix, backend, chrome-extension, gatsby, integration

#2387 test(clerk-js): Remove legacy roles fallback
  .changeset/perfect-ants-joke.md
  packages/clerk-js/src/ui/components/OrganizationProfile/__tests__/InviteMembersPage.test.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/__tests__/OrganizationMembers.test.tsx
Labels: clerk-js

#2382 feat(clerk-js): Retheme org general page layout
  .changeset/rare-poets-deliver.md
  packages/clerk-js/src/ui/components/CreateOrganization/CreateOrganizationForm.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/ActionConfirmationPage.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/AddDomainForm.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/DomainList.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/InviteMembersForm.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/InviteMembersScreen.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationGeneralPage.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationMembers.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationMembersTabInvitations.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationProfileRoutes.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationSettings.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/ProfileForm.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/RemoveDomainForm.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/VerifiedDomainForm.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/VerifyDomainForm.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/__tests__/InviteMembersPage.test.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/__tests__/LeaveOrganizationPage.test.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/__tests__/OrganizationGeneralPage.test.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/__tests__/OrganizationMembers.test.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/__tests__/OrganizationProfile.test.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/__tests__/ProfileSettingsPage.test.tsx
  packages/clerk-js/src/ui/components/UserProfile/__tests__/UserProfileSection.test.tsx
  packages/clerk-js/src/ui/constants.ts
  packages/clerk-js/src/ui/customizables/elementDescriptors.ts
  packages/clerk-js/src/ui/elements/Action/ActionClosed.tsx
  packages/clerk-js/src/ui/elements/FormContent.tsx
  packages/clerk-js/src/ui/elements/Section.tsx
  packages/clerk-js/src/ui/utils/__tests__/createCustomPages.test.ts
  packages/clerk-js/src/ui/utils/createCustomPages.tsx
  packages/localizations/src/en-US.ts
  packages/react/src/utils/useCustomPages.tsx
  packages/types/src/appearance.ts
  packages/types/src/localization.ts
Labels: types, clerk-js, react, localizations

#2391 fix(clerk-js): Cleanup org profile forms
  .changeset/fair-bears-build.md
  packages/clerk-js/src/ui/common/RemoveResourcePage.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/AddDomainForm.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/DomainList.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/ProfileForm.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/RemoveDomainForm.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/RemoveDomainScreen.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/VerifiedDomainForm.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/VerifiedDomainScreen.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/VerifyDomainForm.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/VerifyDomainScreen.tsx
Labels: clerk-js

#2390 fix(clerk-js): Polish UserProfile
  .changeset/old-onions-swim.md
  packages/clerk-js/src/ui/components/UserProfile/AccountPage.tsx
  packages/clerk-js/src/ui/components/UserProfile/ActiveDevicesSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/ConnectedAccountsSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/DeleteSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/DeleteUserPage.tsx
  packages/clerk-js/src/ui/components/UserProfile/EmailsSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/EnterpriseAccountsSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/MfaBackupCodeList.tsx
  packages/clerk-js/src/ui/components/UserProfile/MfaBackupCodeTile.tsx
  packages/clerk-js/src/ui/components/UserProfile/MfaSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/PhoneSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/SecurityPage.tsx
  packages/clerk-js/src/ui/components/UserProfile/UserProfile.tsx
  packages/clerk-js/src/ui/components/UserProfile/UserProfileSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/__tests__/UsernameSection.test.tsx
  packages/clerk-js/src/ui/elements/Accordion.tsx
  packages/clerk-js/src/ui/elements/ArrowBlockButton.tsx
  packages/clerk-js/src/ui/elements/AvatarUploader.tsx
  packages/clerk-js/src/ui/elements/Form.tsx
  packages/clerk-js/src/ui/elements/FormButtons.tsx
  packages/clerk-js/src/ui/elements/FormContent.tsx
  packages/clerk-js/src/ui/elements/Navbar.tsx
  packages/clerk-js/src/ui/elements/ProfileCard/ProfileCardContent.tsx
  packages/clerk-js/src/ui/elements/ProfileCard/ProfileCardRoot.tsx
  packages/clerk-js/src/ui/elements/Section.tsx
  packages/clerk-js/src/ui/elements/SuccessPage.tsx
  packages/clerk-js/src/ui/icons/copy.svg
  packages/clerk-js/src/ui/icons/device-laptop.svg
  packages/clerk-js/src/ui/icons/download.svg
  packages/clerk-js/src/ui/icons/index.ts
  packages/clerk-js/src/ui/icons/plus.svg
  packages/clerk-js/src/ui/icons/print.svg
  packages/clerk-js/src/ui/icons/user.svg
  packages/localizations/src/en-US.ts
  packages/types/src/localization.ts
Labels: types, clerk-js, localizations

#2392 fix(clerk-js): Minor polishing on CreateOrganization component
  .changeset/hip-planets-reply.md
  packages/clerk-js/src/ui/components/CreateOrganization/CreateOrganizationForm.tsx
  packages/clerk-js/src/ui/components/CreateOrganization/CreateOrganizationPage.tsx
  packages/clerk-js/src/ui/components/OrganizationList/OrganizationListPage.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationProfileAvatarUploader.tsx
  packages/clerk-js/src/ui/elements/FormContent.tsx
  packages/localizations/src/en-US.ts
  packages/types/src/localization.ts
Labels: types, clerk-js, localizations

#2393 fix(localizations): Bring back `userProfile.start.profileSection`
  .changeset/late-pillows-notice.md
  packages/localizations/src/en-US.ts
Labels: localizations

#2395 fix(clerk-js): Add element descriptor on the button arrow
  .changeset/tidy-buttons-pump.md
  packages/clerk-js/src/ui/customizables/elementDescriptors.ts
  packages/clerk-js/src/ui/elements/Form.tsx
  packages/clerk-js/src/ui/primitives/Button.tsx
  packages/types/src/appearance.ts
Labels: types, clerk-js

#2389 Refactor clerk/backend
  .changeset/kind-onions-think.md
  packages/backend/.eslintrc.js
  packages/backend/src/__tests__/exports.test.ts
  packages/backend/src/__tests__/utils.test.ts
  packages/backend/src/internal.ts
  packages/backend/src/jwt/verifyJwt.ts
  packages/backend/src/tokens/__tests__/clerkRequest.test.ts
  packages/backend/src/tokens/__tests__/request.test.ts
  packages/backend/src/tokens/authObjects.ts
  packages/backend/src/tokens/authStatus.ts
  packages/backend/src/tokens/authenticateContext.ts
  packages/backend/src/tokens/clerkRequest.ts
  packages/backend/src/tokens/factory.ts
  packages/backend/src/tokens/keys.ts
  packages/backend/src/tokens/request.ts
  packages/backend/src/tokens/types.ts
  packages/backend/src/tokens/verify.ts
  packages/backend/src/util/IsomorphicRequest.ts
  packages/backend/src/util/__tests__/request.test.ts
  packages/backend/src/util/request.ts
  packages/backend/src/utils.ts
  packages/backend/tests/suites.ts
  packages/eslint-config-custom/typescript.js
  packages/fastify/src/utils.ts
  packages/nextjs/src/server/authMiddleware.test.ts
  packages/nextjs/src/server/authMiddleware.ts
  packages/nextjs/src/server/getAuth.ts
  packages/nextjs/src/server/types.ts
  packages/nextjs/src/server/utils.ts
  packages/remix/src/ssr/authenticateRequest.ts
  packages/sdk-node/src/authenticateRequest.ts
Labels: nextjs, remix, backend, fastify, sdk-node

#2369 Version Packages (alpha-v5)
  .changeset/pre.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/CHANGELOG.md
  packages/gatsby-plugin-clerk/package.json
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, sdk-node, expo, chrome-extension, gatsby, themes, elements

#2388 chore(clerk-js,types,backend): Remove MemberRole Type
  .changeset/orange-files-end.md
  packages/clerk-js/src/core/resources/OrganizationInvitation.ts
  packages/clerk-js/src/core/resources/OrganizationMembership.ts
  packages/clerk-js/src/core/resources/UserOrganizationInvitation.ts
  packages/clerk-js/src/ui/common/Gate.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/InviteMembersForm.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/MemberListTable.tsx
  packages/clerk-js/src/ui/utils/roleLocalizationKey.ts
  packages/react/src/hooks/useAuth.ts
  packages/types/src/clerk.ts
  packages/types/src/json.ts
  packages/types/src/jwt.ts
  packages/types/src/jwtv2.ts
  packages/types/src/organization.ts
  packages/types/src/organizationInvitation.ts
  packages/types/src/organizationMembership.ts
  packages/types/src/session.ts
  packages/types/src/ssr.ts
  packages/types/src/userOrganizationInvitation.ts
Labels: types, clerk-js, react

#2396 fix(clerk-js): Fix button style in org profile section
  .changeset/little-shoes-give.md
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationGeneralPage.tsx
Labels: clerk-js

#2338 feat(clerk-react,remix,nextjs): Make path the default routing strategy for NextJS and Remix
  .changeset/good-buttons-drum.md
  integration/presets/envs.ts
  packages/nextjs/src/client-boundary/uiComponents.tsx
  packages/react/src/errors/messages.ts
  packages/react/src/hooks/useRoutingProps.ts
  packages/react/src/internal.ts
  packages/remix/src/client/uiComponents.tsx
  playground/nextjs/pages/create-organization/[[...index]].tsx
  playground/nextjs/pages/organization/[[...index]].tsx
  playground/nextjs/pages/user/[[...index]].tsx
Labels: nextjs, react, remix, playground, integration, v5-release

#2401 fix(clerk-js): Prevent submitting on enter in Organization Profile form
  .changeset/warm-clouds-fly.md
  packages/clerk-js/src/ui/components/OrganizationProfile/ProfileSettingsPage.tsx
Labels: clerk-js

#2403 fix(clerk-js,clerk-react): Using missing MembershipRole type
  .changeset/fresh-crews-lick.md
  packages/clerk-js/src/core/test/fixtures.ts
  packages/clerk-js/src/ui/components/OrganizationProfile/__tests__/utils.ts
  packages/clerk-js/src/ui/components/OrganizationSwitcher/__tests__/utlis.ts
  packages/react/src/contexts/AuthContext.ts
  packages/react/src/utils/deriveState.ts
Labels: clerk-js, react

#2399 fix(clerk-js): Clear feedback when `undefined` is passed to `setError`
  .changeset/thick-doors-smile.md
  packages/clerk-js/src/ui/utils/useFormControl.ts
Labels: clerk-js

#2406 fix(repo): Add path to sign-up in nextjs playground
  .changeset/lemon-rocks-act.md
  playground/nextjs/pages/sign-in/[[...index]].tsx
  playground/nextjs/pages/sign-up/[[...index]].tsx
Labels: playground

#2409 fix(clerk-js): Clear feedback when `undefined` is passed to `setError` (#2399)
  .changeset/thick-doors-smile.md
  packages/clerk-js/src/ui/utils/useFormControl.ts
Labels: clerk-js, cherry

#2410 feat(clerk-js): Retheme <Badge>
  .changeset/blue-horses-call.md
  packages/clerk-js/src/ui/components/OrganizationProfile/EnrollmentBadge.tsx
  packages/clerk-js/src/ui/foundations/colors.ts
  packages/clerk-js/src/ui/foundations/shadows.ts
  packages/clerk-js/src/ui/primitives/Badge.tsx
Labels: clerk-js

#2394 feat(clerk-js): Retheme <Action.Card /> destructive variant
  .changeset/dirty-chefs-sell.md
  .changeset/mighty-ways-learn.md
  .changeset/odd-dogs-tan.md
  .changeset/wild-cougars-greet.md
  packages/clerk-js/src/ui/components/OrganizationProfile/ActionConfirmationPage.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationGeneralPage.tsx
  packages/clerk-js/src/ui/components/UserProfile/DeleteSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/DeleteUserPage.tsx
  packages/clerk-js/src/ui/elements/Action/ActionCard.tsx
  packages/clerk-js/src/ui/foundations/shadows.ts
  packages/localizations/src/en-US.ts
Labels: clerk-js, localizations

#2411 fix(clerk-js): Make user name on <UserButton showName /> clickable
  .changeset/happy-panthers-approve.md
  packages/clerk-js/src/ui/components/UserButton/UserButton.tsx
  packages/clerk-js/src/ui/components/UserButton/UserButtonTopLevelIdentifier.tsx
  packages/clerk-js/src/ui/components/UserButton/UserButtonTrigger.tsx
Labels: clerk-js

#2407 fix(clerk-js): Fix CreateOrganizationForm title
  .changeset/wicked-countries-explain.md
  packages/clerk-js/src/ui/components/CreateOrganization/CreateOrganizationForm.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/Web3Section.tsx
  packages/clerk-js/src/ui/elements/SuccessPage.tsx
  packages/localizations/src/en-US.ts
Labels: clerk-js, localizations

#2415 fix(backend): Add `createOrganizationEnabled` param in User.update()
  .changeset/spotty-ravens-sleep.md
  packages/backend/src/api/endpoints/UserApi.ts
  packages/backend/src/api/resources/JSON.ts
  packages/backend/src/api/resources/User.ts
Labels: backend

#2398 feat(clerk-js): UserProfile form cleanup
  .changeset/poor-geese-rescue.md
  packages/clerk-js/src/ui/common/RemoveResourceForm.tsx
  packages/clerk-js/src/ui/common/index.ts
  packages/clerk-js/src/ui/components/OrganizationProfile/ActionConfirmationPage.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/RemoveDomainForm.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/VerifiedDomainForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/AddAuthenticatorApp.tsx
  packages/clerk-js/src/ui/components/UserProfile/ConnectedAccountsForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/ConnectedAccountsSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/DeleteSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/DeleteUserForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/EmailForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/EmailsSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/MfaBackupCodeCreateForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/MfaBackupCodeScreen.tsx
  packages/clerk-js/src/ui/components/UserProfile/MfaForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/MfaPhoneCodeScreen.tsx
  packages/clerk-js/src/ui/components/UserProfile/MfaScreens.tsx
  packages/clerk-js/src/ui/components/UserProfile/MfaSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/MfaTOTPScreen.tsx
  packages/clerk-js/src/ui/components/UserProfile/PasswordForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/PasswordSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/PhoneForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/PhoneSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/ProfileForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/RemoveResourceForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/UserProfileSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/UsernameForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/UsernameSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/VerifyTOTP.tsx
  packages/clerk-js/src/ui/components/UserProfile/Web3Form.tsx
  packages/clerk-js/src/ui/components/UserProfile/Web3Section.tsx
  packages/clerk-js/src/ui/components/UserProfile/__tests__/UsernameSection.test.tsx
  packages/clerk-js/src/ui/elements/FormContent.tsx
Labels: clerk-js

#2408 fix(backend): Replace `OrganizationMembershipRole` with custom types for authorization
  .changeset/beige-eyes-relate.md
  packages/backend/src/api/resources/Enums.ts
Labels: backend

#2405 fix(backend): Replace `OrganizationMembershipRole` with custom types for authorization
  .changeset/honest-carrots-whisper.md
  packages/backend/src/api/resources/Enums.ts
Labels: backend, cherry

#2417 fix(clerk-js): Organization Profile polishing
  .changeset/warm-icons-brake.md
  packages/clerk-js/src/ui/components/CreateOrganization/__tests__/CreateOrganization.test.tsx
  packages/clerk-js/src/ui/components/OrganizationList/__tests__/OrganizationList.test.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/DomainList.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/MemberListTable.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationGeneralPage.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationMembers.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationMembersTabInvitations.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationMembersTabRequests.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationProfile.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/VerifiedDomainForm.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/__tests__/OrganizationMembers.test.tsx
  packages/clerk-js/src/ui/components/UserProfile/UserProfile.tsx
  packages/clerk-js/src/ui/customizables/elementDescriptors.ts
  packages/clerk-js/src/ui/elements/FieldControl.tsx
  packages/clerk-js/src/ui/elements/Form.tsx
  packages/clerk-js/src/ui/elements/Navbar.tsx
  packages/clerk-js/src/ui/elements/Pagination.tsx
  packages/clerk-js/src/ui/elements/ProfileCard/ProfileCardContent.tsx
  packages/clerk-js/src/ui/elements/RadioGroup.tsx
  packages/clerk-js/src/ui/elements/Select.tsx
  packages/clerk-js/src/ui/foundations/shadows.ts
  packages/clerk-js/src/ui/icons/caret-left.svg
  packages/clerk-js/src/ui/icons/caret-right.svg
  packages/clerk-js/src/ui/icons/index.ts
  packages/clerk-js/src/ui/icons/organization.svg
  packages/clerk-js/src/ui/icons/users.svg
  packages/clerk-js/src/ui/primitives/Table.tsx
  packages/clerk-js/src/ui/primitives/Tbody.tsx
  packages/clerk-js/src/ui/primitives/Th.tsx
  packages/clerk-js/src/ui/utils/createCustomPages.tsx
  packages/localizations/src/en-US.ts
  packages/types/src/appearance.ts
  packages/types/src/localization.ts
Labels: types, clerk-js, localizations

#2418 fix(clerk-js): Fix Retheme UI of Active Devices
  .changeset/metal-kings-tease.md
  packages/clerk-js/src/ui/components/UserProfile/ActiveDevicesSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/__tests__/SecurityPage.test.tsx
  packages/localizations/src/en-US.ts
Labels: clerk-js, localizations

#2416 feat(clerk-js): Retheme org invite members form
  .changeset/sixty-dancers-lie.md
  packages/clerk-js/src/ui/components/CreateOrganization/__tests__/CreateOrganization.test.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/InviteMembersForm.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/MemberListTable.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/__tests__/OrganizationMembers.test.tsx
  packages/clerk-js/src/ui/elements/TagInput.tsx
  packages/clerk-js/src/ui/icons/plus.svg
  packages/localizations/src/en-US.ts
Labels: clerk-js, localizations

#2413 fix(clerk-js): Replace setError(undefined) with clearFeedback for form fields
  .changeset/mean-frogs-hammer.md
  packages/clerk-js/src/ui/components/OrganizationProfile/AddDomainForm.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/ProfileForm.tsx
  packages/clerk-js/src/ui/components/SignIn/ResetPassword.tsx
  packages/clerk-js/src/ui/elements/CodeControl.tsx
  packages/clerk-js/src/ui/utils/errorHandler.ts
  packages/clerk-js/src/ui/utils/useFormControl.ts
Labels: clerk-js

#2420 chore(clerk-js): Rename internal Gate to Protect
  .changeset/lazy-turtles-nail.md
  packages/clerk-js/src/ui/common/Gate.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/ActiveMembersList.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/DomainList.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationGeneralPage.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationMembers.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationMembersTabInvitations.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationMembersTabRequests.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationProfileNavbar.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationProfileRoutes.tsx
  packages/clerk-js/src/ui/components/OrganizationSwitcher/OrganizationSwitcherPopover.tsx
  packages/clerk-js/src/ui/components/OrganizationSwitcher/OrganizationSwitcherTrigger.tsx
Labels: clerk-js

#2426 feat(elements): Introduce router, scaffold sign in components
  .changeset/short-cheetahs-punch.md
  packages/elements/examples/nextjs/app/page.tsx
  packages/elements/examples/nextjs/app/sign-in/[[...sign-in]]/page.tsx
  packages/elements/src/index.tsx
  packages/elements/src/internals/router-react.tsx
  packages/elements/src/internals/router.tsx
  packages/elements/src/sign-in/index.tsx
Labels: elements

#2424 fix(clerk-js): Fix Phone input styling
  .changeset/few-beers-wink.md
  packages/clerk-js/src/ui/elements/Card/CardContent.tsx
  packages/clerk-js/src/ui/elements/PhoneInput/PhoneInput.tsx
  packages/clerk-js/src/ui/elements/Select.tsx
Labels: clerk-js

#2423 Parse backend errors that don't throw exceptions.
  .changeset/rude-deers-fetch.md
  packages/backend/src/api/__tests__/factory.test.ts
  packages/backend/src/api/request.ts
Labels: backend

#2412 feat(clerk-js,types): Support `redirectUrl` param in `Clerk.signtOut()` and `Clerk#afterSignOutUrl` property
  .changeset/selfish-flies-care.md
  packages/clerk-js/src/core/clerk.test.ts
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/ui/components/UserButton/__tests__/UserButton.test.tsx
  packages/clerk-js/src/ui/contexts/ClerkUIComponentsContext.tsx
  packages/react/src/components/SignOutButton.tsx
  packages/react/src/isomorphicClerk.ts
  packages/types/src/clerk.ts
Labels: types, clerk-js, react, v5-release

#2414 chore(clerk-js,types): Consolidate `afterSignOut*Url` options and avoid using Dashboard settings
  .changeset/silly-zebras-dream.md
  packages/clerk-js/src/ui/components/SignIn/SignInAccountSwitcher.tsx
  packages/clerk-js/src/ui/components/UserProfile/DeleteUserForm.tsx
  packages/clerk-js/src/ui/contexts/ClerkUIComponentsContext.tsx
  packages/react/src/components/controlComponents.tsx
Labels: clerk-js, react, v5-release

#2429 fix(clerk-js): Fix dom pollution in NavbarMenuButtonRow due to navbarTitleLocalizationKey
  .changeset/lemon-worms-chew.md
  packages/clerk-js/src/ui/elements/Navbar.tsx
Labels: clerk-js

#2428 chore(clerk-js,shared,nextjs): Support `__clerk_db_jwt` and `__dev_session` query params
  .changeset/chatty-insects-run.md
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/utils/__tests__/devbrowser.test.ts
  packages/clerk-js/src/utils/cookies/devBrowser.ts
  packages/clerk-js/src/utils/devBrowser.ts
  packages/nextjs/src/server/authMiddleware.ts
  packages/nextjs/src/server/devBrowser.ts
  packages/shared/.gitignore
  packages/shared/package.json
  packages/shared/src/__tests__/devbrowser.test.ts
  packages/shared/src/devBrowser.ts
  packages/shared/src/index.ts
  packages/shared/subpaths.mjs
Labels: clerk-js, nextjs

#2425 fix(clerk-js): Remove arrows from buttons to match the designs
  .changeset/fifty-shirts-grin.md
  packages/clerk-js/src/ui/components/CreateOrganization/CreateOrganizationForm.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/InviteMembersForm.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInFactorOnePasswordCard.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInFactorTwoBackupCodeCard.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInStart.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpForm.tsx
  packages/clerk-js/src/ui/elements/Form.tsx
  packages/clerk-js/src/ui/elements/FormButtons.tsx
Labels: clerk-js

#2427 fix(clerk-js): Fix layout shifts
  .changeset/angry-cows-refuse.md
  packages/clerk-js/src/ui/components/OrganizationSwitcher/OtherOrganizationActions.tsx
  packages/clerk-js/src/ui/components/UserButton/UserButtonPopover.tsx
  packages/clerk-js/src/ui/components/UserProfile/VerifyTOTP.tsx
  packages/clerk-js/src/ui/components/UserProfile/VerifyWithCode.tsx
  packages/clerk-js/src/ui/elements/Actions.tsx
  packages/clerk-js/src/ui/elements/CodeControl.tsx
  packages/clerk-js/src/ui/elements/ProfileCard/ProfileCardRoot.tsx
  packages/clerk-js/src/ui/elements/VerificationCodeCard.tsx
  packages/localizations/src/en-US.ts
  packages/types/src/localization.ts
Labels: types, clerk-js, localizations

#2397 Version Packages (alpha-v5)
  .changeset/pre.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/CHANGELOG.md
  packages/gatsby-plugin-clerk/package.json
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/shared/package.json
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, sdk-node, expo, chrome-extension, gatsby, themes, elements

#2402 Version Packages - V4
  .changeset/chatty-insects-run.md
  .changeset/honest-carrots-whisper.md
  .changeset/thick-doors-smile.md
  .changeset/warm-clouds-fly.md
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/CHANGELOG.md
  packages/gatsby-plugin-clerk/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
Labels: clerk-js, nextjs, react, remix, backend, fastify, sdk-node, expo, chrome-extension, gatsby

#2432 fix(backend): Add `createOrganizationEnabled` param in User.update()
  .changeset/spotty-ravens-sleep.md
  packages/backend/src/api/endpoints/UserApi.ts
  packages/backend/src/api/resources/JSON.ts
  packages/backend/src/api/resources/User.ts
Labels: backend

#2434 fix(clerk-js): Add text color for all texts
  .changeset/proud-carpets-visit.md
  packages/clerk-js/src/ui/components/OrganizationSwitcher/OrganizationSwitcherTrigger.tsx
  packages/clerk-js/src/ui/components/UserButton/UserButtonTrigger.tsx
  packages/clerk-js/src/ui/elements/Card/CardRoot.tsx
  packages/clerk-js/src/ui/foundations/colors.ts
Labels: clerk-js
