Repository clerk/javascript, pull requests merged in 2023-09, with the labels that each got.

#1641 feat(clerk-js): Display a callout when updating or removing a verified domain
  .changeset/nasty-doors-watch.md
  packages/clerk-js/src/core/resources/OrganizationDomain.ts
  packages/clerk-js/src/core/resources/__snapshots__/OrganizationDomain.test.ts.snap
  packages/clerk-js/src/ui/common/CalloutWithAction.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/VerifiedDomainPage.tsx
  packages/localizations/src/en-US.ts
  packages/types/src/json.ts
  packages/types/src/localization.ts
  packages/types/src/organizationDomain.ts
Labels: types, clerk-js, localizations

#1655 feat(clerk-expo): Support swapping publishableKey at runtime
  .changeset/hot-pans-grow.md
  packages/clerk-js/src/core/clerk.ts
  packages/expo/src/ClerkProvider.tsx
  packages/expo/src/cache.ts
  packages/expo/src/singleton.ts
  packages/react/src/isomorphicClerk.ts
Labels: clerk-js, react, expo

#1672 chore(clerk-js): Changing props of internal components
  .changeset/brown-terms-yawn.md
  packages/clerk-js/src/ui/elements/Divider.tsx
  packages/clerk-js/src/ui/elements/OrganizationPreview.tsx
  packages/clerk-js/src/ui/elements/PreviewButton.tsx
  packages/clerk-js/src/ui/elements/UserPreview.tsx
Labels: clerk-js

#1670 feat(clerk-js): Notify admins for pending requests in OrganizationSwitcher
  .changeset/curly-owls-marry.md
  packages/clerk-js/src/ui/common/NotificationCountBadge.tsx
  packages/clerk-js/src/ui/common/index.ts
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationMembers.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/__tests__/OrganizationMembers.test.tsx
  packages/clerk-js/src/ui/components/OrganizationSwitcher/OrganizationSwitcherPopover.tsx
  packages/clerk-js/src/ui/components/OrganizationSwitcher/OrganizationSwitcherTrigger.tsx
  packages/clerk-js/src/ui/components/OrganizationSwitcher/__tests__/OrganizationSwitcher.test.tsx
  packages/clerk-js/src/ui/elements/Actions.tsx
  packages/clerk-js/src/ui/elements/Tabs.tsx
Labels: clerk-js

#1667 chore(repo): Remove non-snapshot versions from snapshot comment
  .github/workflows/release-snapshot.yml
Labels: actions

#1661 feat(nextjs): Clock skew error message
  .changeset/green-mails-cover.md
  packages/backend/src/tokens/errors.ts
  packages/backend/src/tokens/jwt/verifyJwt.ts
  packages/nextjs/src/server/authMiddleware.ts
  packages/nextjs/src/server/errors.ts
Labels: nextjs, backend

#1677 fix(clerk-js): ActionConfirmationPage incorrect submit on enter
  .changeset/forty-candles-tickle.md
  packages/clerk-js/src/ui/components/OrganizationProfile/ActionConfirmationPage.tsx
Labels: clerk-js

#1664 Version Packages
  .changeset/brown-terms-yawn.md
  .changeset/curly-owls-marry.md
  .changeset/dry-rockets-whisper.md
  .changeset/forty-candles-tickle.md
  .changeset/green-mails-cover.md
  .changeset/hot-pans-grow.md
  .changeset/little-cobras-wash.md
  .changeset/nasty-doors-watch.md
  .changeset/nice-hotels-smoke.md
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/CHANGELOG.md
  packages/gatsby-plugin-clerk/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
Labels: clerk-js, localizations, expo, chrome-extension

#1629 feat(clerk-js,types): Handle verification of unverified email on sign-in
  .changeset/gentle-carpets-clap.md
  packages/clerk-js/src/core/clerk.test.ts
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/ui/components/SignIn/SignIn.tsx
  packages/types/src/clerk.ts
Labels: types, clerk-js

#1678 Update pl-PL.ts - danger section
  .changeset/short-beers-whisper.md
  packages/localizations/src/pl-PL.ts
Labels: localizations

#1674 feat(types,clerk-js): Create context, descriptors and localization for OrganizationList
  .changeset/sour-ghosts-doubt.md
  packages/clerk-js/src/ui/components/OrganizationList/OrganizationList.tsx
  packages/clerk-js/src/ui/components/OrganizationList/index.ts
  packages/clerk-js/src/ui/contexts/ClerkUIComponentsContext.tsx
  packages/clerk-js/src/ui/customizables/elementDescriptors.ts
  packages/clerk-js/src/ui/elements/ContentPage.tsx
  packages/clerk-js/src/ui/elements/contexts/FlowMetadataContext.tsx
  packages/clerk-js/src/ui/types.ts
  packages/localizations/src/en-US.ts
  packages/types/src/appearance.ts
  packages/types/src/clerk.ts
  packages/types/src/localization.ts
Labels: types, clerk-js, localizations

#1682 feat(backend): Introduce a new getOrganizationInvitation() method
  .changeset/gold-fishes-draw.md
  packages/backend/src/api/endpoints/OrganizationApi.ts
Labels: backend

#1675 feat(clerk-js): Update ui of OrganizationSwitcher to better match OrganizationList
  .changeset/popular-sloths-mate.md
  packages/clerk-js/src/ui/common/InfiniteListSpinner.tsx
  packages/clerk-js/src/ui/common/index.ts
  packages/clerk-js/src/ui/components/OrganizationSwitcher/OtherOrganizationActions.tsx
  packages/clerk-js/src/ui/components/OrganizationSwitcher/UserInvitationList.tsx
  packages/clerk-js/src/ui/components/OrganizationSwitcher/UserInvitationSuggestionList.tsx
  packages/clerk-js/src/ui/components/OrganizationSwitcher/UserSuggestionList.tsx
  packages/clerk-js/src/ui/components/OrganizationSwitcher/__tests__/utils.test.ts
  packages/clerk-js/src/ui/components/OrganizationSwitcher/utils.ts
  packages/localizations/src/en-US.ts
  packages/shared/src/hooks/useOrganizationList.tsx
  packages/types/src/localization.ts
Labels: types, clerk-js, localizations

#1671 chore(clerk-js): Abstract the internal form of CreateOrganization.
  .changeset/dull-mirrors-laugh.md
  packages/clerk-js/src/ui/components/CreateOrganization/CreateOrganizationForm.tsx
  packages/clerk-js/src/ui/components/CreateOrganization/CreateOrganizationPage.tsx
  packages/clerk-js/src/ui/components/CreateOrganization/__tests__/CreateOrganization.test.tsx
  packages/clerk-js/src/ui/contexts/ClerkUIComponentsContext.tsx
Labels: clerk-js

#1681 Version Packages
  .changeset/curly-fishes-beg.md
  .changeset/dull-mirrors-laugh.md
  .changeset/gentle-carpets-clap.md
  .changeset/gold-fishes-draw.md
  .changeset/popular-sloths-mate.md
  .changeset/quick-trees-poke.md
  .changeset/short-beers-whisper.md
  .changeset/sour-ghosts-doubt.md
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/CHANGELOG.md
  packages/gatsby-plugin-clerk/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/shared/package.json
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, sdk-node, expo, chrome-extension, gatsby, themes

#1676 Use buildUrlWithAuth for all links/navigations
  .changeset/chilled-kings-know.md
  .changeset/shiny-ravens-lay.md
  packages/clerk-js/src/core/clerk.test.ts
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/resources/SignIn.ts
  packages/clerk-js/src/core/resources/SignUp.ts
  packages/clerk-js/src/ui/components/SignIn/SignInStart.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpContinue.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpStart.tsx
  packages/clerk-js/src/ui/contexts/ClerkUIComponentsContext.tsx
  packages/clerk-js/src/ui/customizables/index.ts
  packages/clerk-js/src/ui/customizables/withAuthHref.tsx
  packages/clerk-js/src/ui/elements/PoweredByClerk.tsx
  packages/clerk-js/src/ui/primitives/Link.tsx
  packages/shared/src/utils/url.test.ts
  packages/shared/src/utils/url.ts
  playground/nextjs/pages/_app.tsx
Labels: clerk-js, playground

#1647 feat(clerk-js): Build ui of <OrganizationList/>
  .changeset/nervous-scissors-march.md
  packages/clerk-js/src/ui/components/OrganizationList/OrganizationList.tsx
  packages/clerk-js/src/ui/components/OrganizationList/OrganizationListPage.tsx
  packages/clerk-js/src/ui/components/OrganizationList/UserInvitationList.tsx
  packages/clerk-js/src/ui/components/OrganizationList/UserMembershipList.tsx
  packages/clerk-js/src/ui/components/OrganizationList/UserSuggestionList.tsx
  packages/clerk-js/src/ui/components/OrganizationList/shared.tsx
  packages/clerk-js/src/ui/components/OrganizationList/utils.ts
Labels: clerk-js

#1686 chore(backend): Centralize @clerk/shared fns to a single place
  .changeset/wicked-bugs-punch.md
  packages/backend/src/redirections.ts
  packages/backend/src/shared/callWithRetry.ts
  packages/backend/src/shared/index.ts
  packages/backend/src/shared/instance.ts
  packages/backend/src/shared/isDevOrStagingUrl.ts
  packages/backend/src/shared/parsePublishableKey.ts
  packages/backend/src/shared/url.ts
  packages/backend/src/tokens/interstitial.ts
  packages/backend/src/tokens/interstitialRule.ts
  packages/backend/src/tokens/keys.ts
  packages/backend/src/tokens/request.ts
Labels: backend

#1693 chore(clerk-js): Add missing devDependencies
  .changeset/dull-terms-tap.md
  package-lock.json
  packages/clerk-js/package.json
  packages/expo/package.json
  packages/gatsby-plugin-clerk/package.json
  packages/nextjs/package.json
  packages/remix/package.json
Labels: clerk-js, nextjs, remix, expo, gatsby

#1696 feat(clerk-js): Add factor-one support for account transfer flow
  .changeset/hot-crabs-applaud.md
  packages/clerk-js/src/core/clerk.test.ts
  packages/clerk-js/src/core/clerk.ts
Labels: clerk-js

#1692 feat(clerk-js,clerk-react,types,nextjs): Expose OrganizationList to p…
  .changeset/dirty-panthers-build.md
  packages/chrome-extension/src/__snapshots__/exports.test.ts.snap
  packages/clerk-js/bundlewatch.config.json
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/ui/lazyModules/components.ts
  packages/nextjs/src/client-boundary/uiComponents.tsx
  packages/nextjs/src/index.ts
  packages/react/src/components/index.ts
  packages/react/src/components/uiComponents.tsx
  packages/react/src/isomorphicClerk.ts
  packages/types/src/clerk.ts
Labels: types, clerk-js, nextjs, react, chrome-extension

#1700 chore(clerk-js): 🧹Cleanup unnecessary code for usePassword
  .changeset/stupid-elephants-shave.md
  packages/clerk-js/src/ui/hooks/usePassword.ts
  packages/clerk-js/src/utils/passwords/password.ts
Labels: clerk-js

#1706 test(clerk-js): Introduce tests for OrganizationList
  .changeset/beige-beers-lie.md
  packages/clerk-js/src/ui/components/OrganizationList/OrganizationListPage.tsx
  packages/clerk-js/src/ui/components/OrganizationList/UserMembershipList.tsx
  packages/clerk-js/src/ui/components/OrganizationList/__tests__/OrganizationList.test.tsx
Labels: clerk-js

#1695 fix(nextjs): Only ignore paths that have a '.' in the final path segment
  .changeset/thirty-hounds-nail.md
  packages/nextjs/src/server/authMiddleware.test.ts
  packages/nextjs/src/server/authMiddleware.ts
Labels: nextjs

#1710 feat(localizations): Review all PT-BR strings
  .changeset/friendly-bats-kiss.md
  packages/localizations/src/pt-BR.ts
Labels: localizations

#1716 fix(clerk-js): Improve contrast in Badge colors + unverified state in UserProfile
  .changeset/popular-boxes-attend.md
  .changeset/real-horses-jam.md
  packages/clerk-js/src/ui/components/OrganizationProfile/ActiveMembersList.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/EnrollmentBadge.tsx
  packages/clerk-js/src/ui/components/UserProfile/ConnectedAccountsSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/EmailSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/PhoneSection.tsx
  packages/clerk-js/src/ui/primitives/Badge.tsx
  packages/clerk-js/src/ui/styledSystem/common.ts
  packages/localizations/src/en-US.ts
Labels: clerk-js, localizations

#1717 fix(clerk-js): Improve spacing consistency OrganizationList
  .changeset/two-rabbits-chew.md
  packages/clerk-js/src/ui/components/OrganizationList/OrganizationListPage.tsx
  packages/clerk-js/src/ui/components/OrganizationList/UserMembershipList.tsx
  packages/clerk-js/src/ui/components/OrganizationList/shared.tsx
Labels: clerk-js

#1708 feat(clerk-js,shared): getMemberships support for paginated responses + useOrganization adds `memberships`
  .changeset/calm-wolves-tie.md
  .changeset/hot-chairs-refuse.md
  packages/clerk-js/src/core/resources/Organization.ts
  packages/shared/src/hooks/useOrganization.tsx
  packages/types/src/organization.ts
Labels: types, clerk-js

#1723 fix(nextjs): Drop subpath import of NextMiddleware type
  .changeset/khaki-mice-fly.md
  packages/nextjs/src/server/withClerkMiddleware.ts
Labels: nextjs

#1725 fix(clerk-js): SuccessPage multiple localizations as text
  .changeset/strong-shoes-attack.md
  packages/clerk-js/src/ui/elements/SuccessPage.tsx
Labels: clerk-js

#1722 fix(clerk-js): Missing or broken breadcrumbs
  .changeset/silly-numbers-sell.md
  packages/clerk-js/src/ui/components/OrganizationProfile/ActionConfirmationPage.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationProfileNavbar.tsx
  packages/clerk-js/src/ui/components/UserProfile/ConnectedAccountsPage.tsx
  packages/clerk-js/src/ui/components/UserProfile/EmailPage.tsx
Labels: clerk-js

#1704 fix(remix): Adjust RootAuthLoaderCallbackReturn to allow returning null
  .changeset/proud-crabs-hammer.md
  packages/remix/src/ssr/rootAuthLoader.ts
  packages/remix/src/ssr/types.ts
  packages/remix/src/ssr/utils.ts
Labels: remix

#1729 chore(repo): Only allow snapshot releases for Clerk org members
  .github/workflows/release-snapshot.yml
Labels: actions

#1731 fix(nextjs): Export SignInWithMetamaskButton
  .changeset/brown-poets-hang.md
  packages/nextjs/src/client-boundary/uiComponents.tsx
  packages/nextjs/src/index.ts
Labels: nextjs

#1733 test(clerk-js): Test cases for useCoreOrganization
  .changeset/bright-meals-explode.md
  packages/clerk-js/src/ui/components/OrganizationProfile/__tests__/utils.ts
  packages/clerk-js/src/ui/hooks/__tests__/useCoreOrganization.test.tsx
Labels: clerk-js

#1732 chore(clerk-js): Use URLs for appearance layout unit tests for improved readability
  .changeset/breezy-horses-raise.md
  packages/clerk-js/src/ui/customizables/__tests__/parseAppearance.test.tsx
Labels: clerk-js

#1735 fix(backend): Populate members_count of an Organization
  .changeset/nice-games-rule.md
  packages/backend/src/api/resources/JSON.ts
  packages/backend/src/api/resources/Organization.ts
Labels: backend

#1721 fix(clerk-js): Disable role toggle in <OrganizationMembers />, if last admin
  .changeset/lucky-rockets-yawn.md
  packages/clerk-js/src/ui/components/OrganizationProfile/ActiveMembersList.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/__tests__/OrganizationMembers.test.tsx
Labels: clerk-js

#1726 chore(clerk-js): Upgrade floating-ui from 0.19 to 0.25
  .changeset/popular-squids-kneel.md
  package-lock.json
  packages/clerk-js/package.json
  packages/clerk-js/src/ui/hooks/usePopover.ts
Labels: clerk-js

#1738 fix(clerk-js,localizations,types): Add `formFieldError__verificationLinkExpired` key
  .changeset/orange-masks-rush.md
  packages/clerk-js/src/ui/components/SignIn/SignInFactorOneEmailLinkCard.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpEmailLinkCard.tsx
  packages/localizations/src/de-DE.ts
  packages/localizations/src/en-US.ts
  packages/types/src/localization.ts
Labels: types, clerk-js, localizations

#1750 chore(repo): Update links in all READMEs
  .changeset/few-kangaroos-speak.md
  README.md
  docs/clerk-logo-dark.png
  docs/clerk-logo-light.png
  packages/backend/README.md
  packages/chrome-extension/README.md
  packages/clerk-js/README.md
  packages/expo/README.md
  packages/fastify/README.md
  packages/gatsby-plugin-clerk/README.md
  packages/localizations/README.md
  packages/nextjs/README.md
  packages/react/README.md
  packages/remix/README.md
  packages/sdk-node/README.md
  packages/themes/README.md
  packages/types/README.md
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, sdk-node, expo, chrome-extension, gatsby, themes

#1747 chore(repo): Improve main & localizations README
  .changeset/big-socks-perform.md
  README.md
  docs/CONTRIBUTING.md
  packages/localizations/README.md
Labels: localizations

#1753 Revert "fix(clerk-js): Use buildUrlWithAuth for all links/navigations…
  .changeset/chilled-kings-know.md
  .changeset/shiny-ravens-lay.md
  packages/clerk-js/src/core/clerk.test.ts
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/resources/SignIn.ts
  packages/clerk-js/src/core/resources/SignUp.ts
  packages/clerk-js/src/ui/components/SignIn/SignInStart.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpContinue.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpStart.tsx
  packages/clerk-js/src/ui/contexts/ClerkUIComponentsContext.tsx
  packages/clerk-js/src/ui/customizables/index.ts
  packages/clerk-js/src/ui/customizables/withAuthHref.tsx
  packages/clerk-js/src/ui/elements/PoweredByClerk.tsx
  packages/clerk-js/src/ui/primitives/Link.tsx
  packages/shared/src/utils/url.test.ts
  packages/shared/src/utils/url.ts
  playground/nextjs/pages/_app.tsx
Labels: clerk-js, playground

#1724 fix(backend): Split jwt assertions to separate module
  .changeset/lazy-papayas-vanish.md
  packages/backend/src/tokens/jwt/assertions.test.ts
  packages/backend/src/tokens/jwt/assertions.ts
  packages/backend/src/tokens/jwt/verifyJwt.ts
Labels: backend

#1749 fix(clerk-js): Correctly display all badges email/phone
  .changeset/breezy-countries-play.md
  packages/clerk-js/src/ui/components/UserProfile/EmailSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/PhoneSection.tsx
Labels: clerk-js

#1755 chore(clerk-js,backend): Remove deprecated `__clerk_referrer_primary`
  .changeset/little-grapes-compete.md
  packages/backend/src/tokens/interstitialRule.ts
  packages/backend/src/tokens/request.ts
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/constants.ts
  packages/clerk-js/src/utils/getClerkQueryParam.ts
Labels: clerk-js, backend

#1758 fix(backend): Use fakeTimers() in tests to resolve test flakiness
  .changeset/shiny-meals-marry.md
  packages/backend/src/tokens/jwt/assertions.test.ts
Labels: backend

#1763 chore(remix): Apply deprecation warnings for remix
  packages/remix/package.json
  packages/remix/src/errors.ts
Labels: remix, v5-pre-release

#1739 BREAKING(remix): Only support Remix v2 and later
  .changeset/chilled-points-care.md
  package-lock.json
  packages/remix/README.md
  packages/remix/api.server.d.ts
  packages/remix/api.server.js
  packages/remix/package.json
  packages/remix/src/client/ClerkCatchBoundary.tsx
  packages/remix/src/client/ClerkErrorBoundary.tsx
  packages/remix/src/client/index.ts
  packages/remix/ssr.server.d.ts
  packages/remix/ssr.server.js
  playground/remix-cf-pages/app/root.tsx
  playground/remix-cf-pages/package.json
  playground/remix-cf-worker/package.json
  playground/remix-node/app/root.tsx
  playground/remix-node/package.json
Labels: remix, playground

#1757 feat(clerk-js): Ability to enforce password reset from OAuth callback
  .changeset/wet-icons-rest.md
  packages/clerk-js/src/core/clerk.test.ts
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/ui/components/SignIn/ResetPassword.tsx
  packages/clerk-js/src/ui/components/SignIn/SignIn.tsx
  packages/clerk-js/src/ui/components/SignIn/__tests__/ResetPassword.test.tsx
  packages/localizations/src/el-GR.ts
  packages/localizations/src/en-US.ts
  packages/types/src/clerk.ts
  packages/types/src/localization.ts
Labels: types, clerk-js, localizations

#1773 chore(clerk-expo): Upgrade react-native-url-polyfill from 1.3.0 to 2.0.0
  .changeset/stupid-tips-destroy.md
  package-lock.json
  packages/expo/package.json
Labels: expo

#1771 chore(repo): Enable merge queues
  .github/workflows/quality.yml
Labels: actions

#1768 Version Packages
  .changeset/blue-laws-prove.md
  .changeset/fast-books-kiss.md
  .changeset/five-swans-dream.md
  .changeset/giant-needles-exercise.md
  .changeset/lovely-donuts-wave.md
  .changeset/nervous-ducks-battle.md
  .changeset/silver-onions-look.md
  .changeset/smart-poems-film.md
  .changeset/stupid-tips-destroy.md
  .changeset/thick-jokes-smile.md
  .changeset/three-carrots-remain.md
  .changeset/wet-icons-rest.md
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/CHANGELOG.md
  packages/gatsby-plugin-clerk/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
Labels: clerk-js, expo, chrome-extension

#1788 chore(clerk-react): Apply deprecation warnings
  .changeset/late-carrots-notice.md
  packages/react/src/isomorphicClerk.ts
Labels: react, v5-pre-release

#1781 fix(clerk-js): Improve error message during Organization invitation
  .changeset/four-brooms-live.md
  packages/clerk-js/src/ui/components/OrganizationProfile/InviteMembersForm.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/__tests__/InviteMembersPage.test.tsx
  packages/clerk-js/src/ui/elements/Alert.tsx
  packages/localizations/src/en-US.ts
Labels: clerk-js, localizations

#1796 feat(backend): Introduce a new getOrganizationInvitationList() method
  .changeset/thick-rings-complain.md
  packages/backend/src/api/endpoints/OrganizationApi.ts
Labels: backend

#1793 Version Packages
  .changeset/cool-ants-confess.md
  .changeset/eighty-swans-trade.md
  .changeset/forty-crews-fetch.md
  .changeset/four-brooms-live.md
  .changeset/four-chairs-lay.md
  .changeset/fresh-papayas-cheat.md
  .changeset/large-baboons-hope.md
  .changeset/late-carrots-notice.md
  .changeset/metal-lions-switch.md
  .changeset/silent-fishes-change.md
  .changeset/spicy-toys-change.md
  .changeset/thick-rings-complain.md
  .changeset/three-tigers-tell.md
  .changeset/two-ads-type.md
  .changeset/unlucky-emus-greet.md
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/CHANGELOG.md
  packages/gatsby-plugin-clerk/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
Labels: clerk-js, nextjs, react, remix, fastify, expo, chrome-extension, gatsby

#1780 fix(clerk-react): Add `versionSelector` helper
  .changeset/neat-needles-poke.md
  packages/react/src/globals.d.ts
  packages/react/src/utils/__tests__/versionSelector.test.ts
  packages/react/src/utils/loadClerkJsScript.ts
  packages/react/src/utils/versionSelector.ts
  packages/react/tsup.config.ts
Labels: react

#1800 Deprecate clerk set session
  .changeset/tender-cameras-yawn.md
  packages/clerk-js/src/core/clerk.ts
Labels: clerk-js

#1802 Version Packages
  .changeset/fair-cobras-explain.md
  .changeset/neat-needles-poke.md
  .changeset/tender-cameras-yawn.md
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/CHANGELOG.md
  packages/gatsby-plugin-clerk/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
Labels: nextjs, react, remix, expo, chrome-extension, gatsby
