Repository clerk/javascript, pull requests merged in 2023-07, with the labels that each got.

#1407 Move 'delete account' UI to security section (USR-58)
  .changeset/bright-rules-agree.md
  packages/clerk-js/src/ui/components/UserProfile/RootPage.tsx
Labels: clerk-js

#1447 fix(clerk-js): Auto focus on password field after email input
  .changeset/stale-starfishes-watch.md
  packages/clerk-js/src/ui/components/SignIn/SignInFactorOnePasswordCard.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInStart.tsx
Labels: clerk-js

#1450 feat(backend): Deprecate clockSkewInSeconds in favour of clockSkewInMs
  .changeset/smooth-crabs-build.md
  packages/backend/src/tokens/jwt/verifyJwt.ts
  packages/backend/src/tokens/request.ts
  packages/backend/src/tokens/verify.ts
Labels: backend

#1443 fix(clerk-sdk-node): Add jwtKey in api envs and use it redwood compatibility
  .changeset/lucky-panthers-draw.md
  packages/sdk-node/src/clerkClient.ts
  packages/sdk-node/src/utils.ts
Labels: sdk-node

#1446 USR-35 fix(backend): Add error when secret key is invalid
  .changeset/hungry-radios-protect.md
  packages/backend/src/tokens/errors.ts
  packages/backend/src/tokens/keys.ts
  packages/backend/src/util/request.ts
Labels: backend

#1452 fix(clerk-react): IsomorphicClerk#addListener should return unsubscribe method
  .changeset/ninety-llamas-act.md
  packages/react/src/isomorphicClerk.ts
Labels: react

#1440 Version Packages
  .changeset/bright-rules-agree.md
  .changeset/hungry-radios-protect.md
  .changeset/lucky-panthers-draw.md
  .changeset/ninety-cameras-taste.md
  .changeset/ninety-llamas-act.md
  .changeset/smooth-crabs-build.md
  .changeset/stale-starfishes-watch.md
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/CHANGELOG.md
  packages/gatsby-plugin-clerk/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
Labels: clerk-js, expo, chrome-extension

#1457 Create pl-PL.ts
  .changeset/proud-knives-draw.md
  packages/localizations/src/pl-PL.ts
Labels: localizations

#1444 feat(remix): Support `v2_errorBoundary` future flag
  .changeset/thirty-humans-tickle.md
  packages/remix/src/client/V2_ClerkErrorBoundary.tsx
  packages/remix/src/client/index.ts
Labels: remix

#1458 Version Packages
  .changeset/proud-knives-draw.md
  .changeset/thirty-humans-tickle.md
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
Labels: clerk-js, localizations, expo, chrome-extension

#1454 Add delete confirmation
  .changeset/few-dingos-happen.md
  packages/clerk-js/src/ui/components/OrganizationProfile/ActionConfirmationPage.tsx
  packages/clerk-js/src/ui/components/UserProfile/DeletePage.tsx
  packages/localizations/src/en-US.ts
  packages/localizations/src/nb-NO.ts
  packages/localizations/src/vi-VN.ts
  packages/types/src/appearance.ts
  packages/types/src/localization.ts
Labels: types, clerk-js, localizations

#1393 feat(backend): Introduce `createIsomorphicRequest`
  .changeset/funny-melons-swim.md
  packages/backend/package.json
  packages/backend/src/exports.test.ts
  packages/backend/src/index.ts
  packages/backend/src/runtime/browser/fetch.mjs
  packages/backend/src/runtime/index.ts
  packages/backend/src/runtime/node/fetch.js
  packages/backend/src/tokens/index.ts
  packages/backend/src/tokens/request.ts
  packages/backend/src/util/IsomorphicRequest.ts
  packages/backend/tsconfig.declarations.json
  packages/backend/tsconfig.json
  packages/backend/tsup.config.ts
  packages/fastify/src/withClerkMiddleware.test.ts
  packages/fastify/src/withClerkMiddleware.ts
  packages/gatsby-plugin-clerk/src/ssr/authenticateRequest.ts
  packages/nextjs/src/api/__tests__/__snapshots__/exports.test.ts.snap
  packages/nextjs/src/edge-middleware/__tests__/__snapshots__/exports.test.ts.snap
  packages/nextjs/src/server/__tests__/__snapshots__/exports.test.ts.snap
  packages/nextjs/src/server/authenticateRequest.ts
  packages/remix/src/ssr/authenticateRequest.ts
  packages/sdk-node/package.json
  packages/sdk-node/src/__tests__/__snapshots__/exports.test.ts.snap
  packages/sdk-node/src/authenticateRequest.test.ts
  packages/sdk-node/src/authenticateRequest.ts
  playground/app-router/src/app/protected/page.tsx
Labels: nextjs, remix, backend, fastify, sdk-node, playground, gatsby

#1456 feat(backend): Add methods for uploading images to User and Organization
  .changeset/spotty-months-worry.md
  packages/backend/src/api/endpoints/OrganizationApi.ts
  packages/backend/src/api/endpoints/UserApi.ts
  packages/backend/src/api/request.ts
Labels: backend

#1463 fix(clerk-js): Alignment was off in x-axis between text and badge
  .changeset/tame-timers-search.md
  packages/clerk-js/src/ui/elements/UserPreview.tsx
Labels: clerk-js

#1465 fix(types): Fix mountSignUp arg name. signUnProps to signUpProps
  .changeset/shiny-ligers-promise.md
  packages/types/src/clerk.ts
Labels: types, community

#1467 Update remix playground with all v2 future flags enabled
  .changeset/forty-days-glow.md
  packages/remix/src/ssr/utils.ts
  playground/remix-node/app/root.tsx
  playground/remix-node/app/routes/_index.tsx
  playground/remix-node/app/routes/index.tsx
  playground/remix-node/app/routes/protected.tsx
  playground/remix-node/app/routes/sign-in.$.tsx
  playground/remix-node/app/routes/sign-up.$.tsx
  playground/remix-node/package.json
  playground/remix-node/remix.config.js
Labels: remix, playground

#1469 fix(backend): Access the correct headers to determine the Response Content-Type
  .changeset/four-monkeys-smell.md
  packages/backend/src/api/request.ts
  packages/backend/src/util/mockFetch.ts
Labels: backend

#1471 fix(clerk-js): In <CreateOrganization /> skip invitation page if max allowed memberships equal 1
  .changeset/thin-hounds-arrive.md
  packages/clerk-js/src/ui/components/CreateOrganization/CreateOrganizationPage.tsx
Labels: clerk-js

#1474 fix(clerk-js): Remove leftover strings in SignInStart and SignUpStart
  .changeset/fifty-keys-burn.md
  packages/clerk-js/src/ui/components/SignIn/SignInStart.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpStart.tsx
Labels: clerk-js

#1475 fix(clerk-js,types,localizations): Add form_username_invalid_character unstable error localization key
  .changeset/dry-moles-melt.md
  packages/clerk-js/src/ui/localization/__tests__/makeLocalizable.test.tsx
  packages/localizations/src/cs-CZ.ts
  packages/localizations/src/da-DK.ts
  packages/localizations/src/de-DE.ts
  packages/localizations/src/en-US.ts
  packages/localizations/src/es-ES.ts
  packages/localizations/src/fr-FR.ts
  packages/localizations/src/he-IL.ts
  packages/localizations/src/it-IT.ts
  packages/localizations/src/ja-JP.ts
  packages/localizations/src/ko-KR.ts
  packages/localizations/src/nb-NO.ts
  packages/localizations/src/nl-NL.ts
  packages/localizations/src/pl-PL.ts
  packages/localizations/src/pt-BR.ts
  packages/localizations/src/ru-RU.ts
  packages/localizations/src/sv-SE.ts
  packages/localizations/src/tr-TR.ts
  packages/localizations/src/vi-VN.ts
  packages/localizations/src/zh-CN.ts
  packages/types/src/localization.ts
Labels: types, clerk-js, localizations

#1483 fix(nextjs): Use backend isomorphic request in withClerkMiddleware
  .changeset/little-rings-study.md
  packages/nextjs/src/server/withClerkMiddleware.ts
Labels: nextjs

#1487 Add missing "delete account" French translations
  .changeset/heavy-chicken-care.md
  packages/localizations/src/fr-FR.ts
Labels: localizations

#1479 feat(localizations): Add el-GR localization
  .changeset/wild-dots-turn.md
  packages/localizations/src/el-GR.ts
  packages/localizations/src/index.ts
Labels: community, localizations

#1488 fix(fastify): Correct fastify options type
  .changeset/smooth-avocados-compete.md
  packages/fastify/src/clerkPlugin.test.ts
  packages/fastify/src/clerkPlugin.ts
Labels: fastify

#1486 chore(clerk-react): Mark `setSession` as deprecated
  .changeset/tame-tomatoes-develop.md
  packages/react/src/hooks/useSessionList.ts
  packages/react/src/hooks/useSignIn.ts
  packages/react/src/hooks/useSignUp.ts
  packages/types/src/clerk.ts
Labels: types, react

#1461 Version Packages
  .changeset/breezy-fans-punch.md
  .changeset/cyan-foxes-melt.md
  .changeset/dry-moles-melt.md
  .changeset/few-dingos-happen.md
  .changeset/fifty-keys-burn.md
  .changeset/forty-days-glow.md
  .changeset/four-monkeys-smell.md
  .changeset/funny-melons-swim.md
  .changeset/gentle-kings-pretend.md
  .changeset/heavy-chicken-care.md
  .changeset/little-rings-study.md
  .changeset/nervous-poets-remember.md
  .changeset/nine-tigers-reply.md
  .changeset/shiny-ligers-promise.md
  .changeset/six-carrots-visit.md
  .changeset/smooth-avocados-compete.md
  .changeset/spotty-months-worry.md
  .changeset/stupid-worms-change.md
  .changeset/tame-timers-search.md
  .changeset/tame-tomatoes-develop.md
  .changeset/thin-hounds-arrive.md
  .changeset/wild-dots-turn.md
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/CHANGELOG.md
  packages/gatsby-plugin-clerk/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, sdk-node, expo, chrome-extension, gatsby, themes

#1496 fix(localizations): German(de-DE), add new translations, fix existing…
  .changeset/fluffy-seahorses-search.md
  .changeset/wise-pumpkins-relax.md
  packages/localizations/src/de-DE.ts
Labels: localizations

#1497 Version Packages
  .changeset/angry-spies-run.md
  .changeset/curvy-rice-buy.md
  .changeset/fluffy-seahorses-search.md
  .changeset/smart-olives-talk.md
  .changeset/wise-pumpkins-relax.md
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/CHANGELOG.md
  packages/gatsby-plugin-clerk/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/shared/package.json
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
Labels: clerk-js, localizations, expo, chrome-extension

#1482 USR-135 fix(clerk-js): Address spacing issues when password feedback message changes
  .changeset/tidy-worms-tan.md
  packages/clerk-js/src/ui/elements/FormControl.tsx
  packages/clerk-js/src/ui/hooks/__tests__/usePasswordComplexity.test.tsx
  packages/clerk-js/src/ui/hooks/usePasswordComplexity.ts
  packages/clerk-js/src/ui/primitives/FormErrorText.tsx
  packages/clerk-js/src/ui/primitives/FormSuccessText.tsx
Labels: clerk-js

#1498 fix(types,clerk-js): Allow organization admin to leave, if there are more admins
  .changeset/weak-ducks-double.md
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationSettings.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/__tests__/OrganizationMembers.test.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/__tests__/OrganizationSettings.test.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/__tests__/utils.ts
  packages/clerk-js/src/ui/utils/test/createFixtures.tsx
  packages/types/src/organization.ts
Labels: types, clerk-js

#1502 fix(clerk-js): Remove personal email from organization action list
  .changeset/short-camels-smoke.md
  packages/clerk-js/src/ui/components/OrganizationSwitcher/OtherOrganizationActions.tsx
Labels: clerk-js

#1501 feat(clerk-js): Allow skipping invitation screen after CreateOrganiza…
  .changeset/nervous-flies-sleep.md
  packages/clerk-js/src/ui/components/CreateOrganization/CreateOrganizationPage.tsx
  packages/clerk-js/src/ui/components/CreateOrganization/__tests__/CreateOrganization.test.tsx
  packages/types/src/clerk.ts
Labels: types, clerk-js

#1500 Version Packages
  .changeset/nervous-flies-sleep.md
  .changeset/pretty-clouds-lick.md
  .changeset/short-camels-smoke.md
  .changeset/tidy-worms-tan.md
  .changeset/weak-ducks-double.md
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/CHANGELOG.md
  packages/gatsby-plugin-clerk/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/shared/package.json
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
Labels: clerk-js, expo, chrome-extension

#1515 feat(localizations): Add sk-SK localization
  .changeset/swift-geese-argue.md
  packages/localizations/src/index.ts
  packages/localizations/src/sk-SK.ts
  packages/react/src/contexts/__tests__/ClerkProvider.test.tsx
Labels: react, localizations

#1516 Fix invalid url on create request issues
  .changeset/mean-eagles-join.md
  .changeset/violet-countries-warn.md
  packages/sdk-node/src/__tests__/middleware.test.ts
  packages/sdk-node/src/authenticateRequest.ts
Labels: sdk-node

#1517 Version Packages
  .changeset/mean-eagles-join.md
  .changeset/swift-geese-argue.md
  .changeset/violet-countries-warn.md
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/gatsby-plugin-clerk/CHANGELOG.md
  packages/gatsby-plugin-clerk/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
Labels: clerk-js, localizations, expo, chrome-extension

#1521 chore(types,localizations): New localization keys for max length exceeded validation
  .changeset/mighty-days-push.md
  packages/localizations/src/en-US.ts
  packages/types/src/localization.ts
Labels: types, localizations

#1505 USR-193 fix(clerk-js): Introduce ability to read multiple errors
  .changeset/odd-games-brake.md
  packages/clerk-js/src/ui/components/SignIn/ResetPassword.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpStart.tsx
  packages/clerk-js/src/ui/components/UserProfile/PasswordPage.tsx
  packages/clerk-js/src/ui/hooks/usePassword.ts
  packages/clerk-js/src/ui/hooks/usePasswordComplexity.ts
  packages/clerk-js/src/ui/utils/errorHandler.ts
  packages/clerk-js/src/ui/utils/index.ts
  packages/clerk-js/src/ui/utils/passwordUtils.test.tsx
  packages/clerk-js/src/ui/utils/passwordUtils.ts
  packages/clerk-js/src/ui/utils/useFormControl.ts
Labels: clerk-js

#1506 chore(fastify): Cleanup request url construction and fixed playground issues
  .changeset/thin-rocks-study.md
  packages/fastify/src/utils.test.ts
  packages/fastify/src/utils.ts
  packages/fastify/src/withClerkMiddleware.ts
  playground/fastify/package.json
  playground/fastify/src/routes/private.ts
  playground/fastify/src/routes/public.ts
  playground/fastify/src/server.ts
  playground/fastify/src/templates/home.ejs
Labels: fastify, playground

#1529 Add more translation fr-FR
  .changeset/friendly-planes-impress.md
  packages/localizations/src/fr-FR.ts
Labels: localizations

#1526 USR-243 fix(clerk-js): Handle the construction of zxcvbn errors with informat…
  .changeset/brave-steaks-smile.md
  packages/clerk-js/src/ui/utils/passwordUtils.test.tsx
  packages/clerk-js/src/ui/utils/passwordUtils.ts
  packages/shared/src/errors/Error.ts
  packages/types/src/api.ts
  packages/types/src/json.ts
Labels: types, clerk-js

#1531 USR-194 fix(clerk-js): Eliminate pre/post onBlur states for password field
  .changeset/little-donkeys-exist.md
  packages/clerk-js/src/ui/components/SignIn/ResetPassword.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpContinue.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpStart.tsx
  packages/clerk-js/src/ui/hooks/__tests__/usePasswordComplexity.test.tsx
  packages/clerk-js/src/ui/hooks/usePasswordComplexity.ts
  packages/clerk-js/src/ui/utils/passwordUtils.test.tsx
  packages/clerk-js/src/ui/utils/passwordUtils.ts
  packages/clerk-js/src/ui/utils/useFormControl.ts
Labels: clerk-js

#1533 USR-165 fix(backend): Add filter by status support for getInvitationList() method
  .changeset/sixty-eyes-attend.md
  packages/backend/src/api/endpoints/InvitationApi.ts
Labels: backend

#1535 [WIP] test(nextjs): Add basic testing structure for Dev Browser JWT
  integration/tests/db-jwt.test.ts
Labels: integration

#1491 refactor(clerk-js): Refactor how canActivate is used in Routes
  .changeset/fresh-poets-agree.md
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationProfileRoutes.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUp.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpVerifyEmail.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpVerifyPhone.tsx
  packages/clerk-js/src/ui/components/UserProfile/PasswordPage.tsx
  packages/clerk-js/src/ui/elements/Breadcrumbs.tsx
  packages/clerk-js/src/ui/elements/FormButtons.tsx
  packages/clerk-js/src/ui/elements/Navbar.tsx
  packages/clerk-js/src/ui/elements/NavigateToFlowStartButton.tsx
  packages/clerk-js/src/ui/hooks/index.ts
  packages/clerk-js/src/ui/hooks/useNavigateToFlowStart.ts
  packages/clerk-js/src/ui/router/BaseRouter.tsx
  packages/clerk-js/src/ui/router/HashRouter.tsx
  packages/clerk-js/src/ui/router/PathRouter.tsx
  packages/clerk-js/src/ui/router/Route.tsx
  packages/clerk-js/src/ui/router/VirtualRouter.tsx
Labels: clerk-js
