Repository clerk/javascript, pull requests merged in 2024-08, with the labels that each got.

#3869 chore(repo): Update npm version
  package.json
  playground/nextjs/package.json
Labels: playground

#3830 ci(repo): Version packages
  .changeset/bright-crabs-speak.md
  .changeset/bright-lemons-give.md
  .changeset/chilled-swans-work.md
  .changeset/clever-carrots-sin.md
  .changeset/curly-lemons-rhyme.md
  .changeset/dirty-dragons-swim.md
  .changeset/dry-trainers-decide.md
  .changeset/famous-tools-thank.md
  .changeset/friendly-bags-whisper.md
  .changeset/funny-berries-jam.md
  .changeset/lemon-chairs-confess.md
  .changeset/many-lizards-tap.md
  .changeset/mean-jars-explode.md
  .changeset/selfish-toes-jam.md
  .changeset/sharp-ads-sit.md
  .changeset/smooth-worms-retire.md
  .changeset/two-baboons-taste.md
  .changeset/warm-spies-buy.md
  .changeset/wicked-pianos-argue.md
  .changeset/wicked-seahorses-juggle.md
  package-lock.json
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/dev-cli/CHANGELOG.md
  packages/dev-cli/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/tanstack-start/CHANGELOG.md
  packages/tanstack-start/package.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, sdk-node, expo, chrome-extension, gatsby, themes, elements, express, testing

#3871 fix(nextjs): Execute logger.commit() on every middleware invocation
  .changeset/poor-cheetahs-rhyme.md
  packages/nextjs/src/server/__tests__/clerkMiddleware.test.ts
  packages/nextjs/src/server/clerkMiddleware.ts
Labels: nextjs

#3872 ci(repo): Version packages
  .changeset/poor-cheetahs-rhyme.md
  package-lock.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
Labels: nextjs

#3848 chore(repo): Retry handshake in case of handshake cookie collision
  .changeset/sixty-mugs-clap.md
  integration/tests/sessions/root-subdomain-prod-instances.test.ts
  packages/backend/src/constants.ts
  packages/backend/src/tokens/authenticateContext.ts
  packages/backend/src/tokens/handshake.ts
  packages/backend/src/tokens/request.ts
  packages/fastify/src/__tests__/__snapshots__/constants.test.ts.snap
Labels: backend, fastify, integration

#3840 chore(gatsby-plugin-clerk): Add transition period notice
  .changeset/config.json
  .changeset/fluffy-wolves-itch.md
  packages/gatsby-plugin-clerk/README.md
Labels: gatsby

#3877 chore(gatsby-plugin-clerk): Backport transition period notice to v4
  .changeset/metal-mirrors-attack.md
  packages/gatsby-plugin-clerk/README.md
Labels: gatsby

#3879 feat(elements): Add sign up/sign in with Metamask
  .changeset/rich-parrots-crash.md
  packages/elements/src/internals/machines/sign-in/router.machine.ts
  packages/elements/src/internals/machines/sign-in/start.machine.ts
  packages/elements/src/internals/machines/sign-in/start.types.ts
  packages/elements/src/internals/machines/sign-up/router.machine.ts
  packages/elements/src/internals/machines/sign-up/start.machine.ts
Labels: elements

#3873 ci(repo): Version packages
  .changeset/curly-monkeys-sort.md
  .changeset/eleven-weeks-lay.md
  .changeset/fluffy-wolves-itch.md
  .changeset/lazy-poems-burn.md
  .changeset/metal-cups-judge.md
  .changeset/old-points-raise.md
  .changeset/poor-cougars-visit.md
  .changeset/rich-parrots-crash.md
  .changeset/sixty-mugs-clap.md
  package-lock.json
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/dev-cli/CHANGELOG.md
  packages/dev-cli/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/CHANGELOG.md
  packages/gatsby-plugin-clerk/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/tanstack-start/CHANGELOG.md
  packages/tanstack-start/package.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
Labels: nextjs, remix, backend, fastify, sdk-node, gatsby, express, testing

#3885 Version Packages - V4
  .changeset/metal-mirrors-attack.md
  packages/gatsby-plugin-clerk/CHANGELOG.md
  packages/gatsby-plugin-clerk/package.json
Labels: gatsby

#3870 feat(clerk-js): Add dev mode warning to components (#3511)
  .changeset/hungry-clouds-return.md
  packages/clerk-js/src/core/resources/DisplayConfig.ts
  packages/clerk-js/src/ui/components/CreateOrganization/CreateOrganizationPage.tsx
  packages/clerk-js/src/ui/customizables/elementDescriptors.ts
  packages/clerk-js/src/ui/customizables/parseAppearance.ts
  packages/clerk-js/src/ui/elements/Card/CardClerkAndPagesTag.tsx
  packages/clerk-js/src/ui/elements/Card/CardContent.tsx
  packages/clerk-js/src/ui/elements/Card/CardFooter.tsx
  packages/clerk-js/src/ui/elements/DevModeNotice.tsx
  packages/clerk-js/src/ui/elements/Navbar.tsx
  packages/clerk-js/src/ui/elements/PopoverCard.tsx
  packages/clerk-js/src/ui/elements/index.ts
  packages/clerk-js/src/ui/hooks/useDevMode.tsx
  packages/clerk-js/src/ui/polishedAppearance.ts
  packages/types/src/appearance.ts
  packages/types/src/displayConfig.ts
  playground/nextjs/pages/_app.tsx
Labels: types, clerk-js, playground

#3888 chore(clerk-js,types): Remove `__experimental_startPath` from `OrganizationProfileProps`
  .changeset/khaki-experts-pretend.md
  packages/clerk-js/src/ui/Components.tsx
  packages/clerk-js/src/ui/components/OrganizationSwitcher/OrganizationSwitcherPopover.tsx
  packages/types/src/clerk.ts
Labels: types, clerk-js

#3891 ci(repo): Version packages
  .changeset/breezy-lobsters-behave.md
  .changeset/cold-ghosts-play.md
  .changeset/hungry-clouds-return.md
  .changeset/khaki-experts-pretend.md
  .changeset/perfect-suns-drive.md
  .changeset/rich-pianos-float.md
  package-lock.json
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/tanstack-start/CHANGELOG.md
  packages/tanstack-start/package.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, sdk-node, expo, chrome-extension, gatsby, themes, elements, express, testing

#3812 feat(elements,ui): Add support for password error localization
  .changeset/light-feet-wink.md
  integration/presets/index.ts
  integration/templates/elements-next/src/app/validate-password/page.tsx
  integration/tests/elements/validate-password.test.ts
  packages/clerk-js/src/ui/Components.tsx
  packages/elements/src/internals/machines/form/form.context.ts
  packages/elements/src/internals/machines/form/form.types.ts
  packages/elements/src/react/common/form/index.tsx
  packages/elements/src/react/hooks/use-password.hook.ts
  packages/elements/src/react/utils/generate-password-error-text.ts
  packages/ui/src/common/password-field.tsx
  packages/ui/src/components/sign-up/steps/continue.tsx
  packages/ui/src/hooks/use-localizations.ts
  packages/ui/src/utils/makeLocalizable.ts
Labels: clerk-js, integration, elements

#3893 chore(elements): Add dev:theme-builder script
  .changeset/hot-dogs-taste.md
  packages/elements/package.json
Labels: elements

#3899 fix(elements): Prevent flash of "hidden" OTP input
  .changeset/slow-dingos-hammer.md
  packages/elements/src/react/common/form/otp.tsx
Labels: elements

#3823 feat(backend): Add param in User.update()
  .changeset/three-ghosts-develop.md
  packages/backend/src/api/endpoints/UserApi.ts
  packages/backend/src/api/resources/JSON.ts
  packages/backend/src/api/resources/User.ts
  packages/clerk-js/src/core/resources/User.ts
  packages/types/src/json.ts
  packages/types/src/user.ts
Labels: types, clerk-js, backend

#3894 ci(repo): Version packages
  .changeset/hot-dogs-taste.md
  .changeset/lemon-ways-search.md
  .changeset/light-feet-wink.md
  .changeset/slow-dingos-hammer.md
  .changeset/smart-llamas-ring.md
  .changeset/stale-lemons-collect.md
  .changeset/three-ghosts-develop.md
  package-lock.json
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/dev-cli/CHANGELOG.md
  packages/dev-cli/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/tanstack-start/CHANGELOG.md
  packages/tanstack-start/package.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, sdk-node, expo, chrome-extension, gatsby, themes, elements, express, testing

#3903 fix(clerk-js): Add missing x padding to ClerkAndPagesTag
  .changeset/purple-chicken-flash.md
  packages/clerk-js/src/ui/elements/PopoverCard.tsx
Labels: clerk-js

#3904 ci(repo): Version packages
  .changeset/purple-chicken-flash.md
  package-lock.json
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
Labels: clerk-js, expo, chrome-extension

#3882 feat(clerk-js,types): Add hideSlug prop to Organization components
  .changeset/polite-tigers-smoke.md
  packages/clerk-js/src/ui/components/CreateOrganization/CreateOrganizationForm.tsx
  packages/clerk-js/src/ui/components/CreateOrganization/CreateOrganizationPage.tsx
  packages/clerk-js/src/ui/components/CreateOrganization/__tests__/CreateOrganization.test.tsx
  packages/clerk-js/src/ui/components/OrganizationList/OrganizationListPage.tsx
  packages/clerk-js/src/ui/components/OrganizationList/__tests__/OrganizationList.test.tsx
  packages/clerk-js/src/ui/components/OrganizationSwitcher/OrganizationSwitcherPopover.tsx
  packages/clerk-js/src/ui/components/OrganizationSwitcher/__tests__/OrganizationSwitcher.test.tsx
  packages/clerk-js/src/ui/contexts/ClerkUIComponentsContext.tsx
  packages/types/src/clerk.ts
Labels: types, clerk-js

#3844 chore(backend): Expose `AuthObject` type
  .changeset/fast-knives-peel.md
  .changeset/itchy-ravens-protect.md
  packages/astro/src/server/clerk-middleware.ts
  packages/astro/src/server/get-auth.ts
  packages/backend/src/index.ts
  packages/backend/src/internal.ts
  packages/express/src/__tests__/helpers.ts
  packages/express/src/getAuth.ts
  packages/express/src/types.ts
  packages/fastify/src/getAuth.ts
  packages/gatsby-plugin-clerk/src/ssr/types.ts
  packages/nextjs/src/app-router/server/auth.ts
  packages/nextjs/src/server/authMiddleware.ts
  packages/nextjs/src/server/clerkMiddleware.ts
  packages/nextjs/src/server/createGetAuth.ts
  packages/nextjs/src/server/protect.ts
  packages/remix/src/ssr/types.ts
  packages/sdk-node/src/types.ts
Labels: nextjs, remix, backend, fastify, sdk-node, gatsby, express

#3905 ci(repo): Version packages
  .changeset/fast-knives-peel.md
  .changeset/great-dogs-hide.md
  .changeset/itchy-ravens-protect.md
  .changeset/polite-tigers-smoke.md
  .changeset/silly-experts-cross.md
  package-lock.json
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/tanstack-start/CHANGELOG.md
  packages/tanstack-start/package.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, sdk-node, expo, chrome-extension, gatsby, themes, elements, express, testing

#3898 chore(repo): Notify clerk/dashboard for stable nextjs releases
  .github/workflows/release.yml
Labels: actions

#3845 feat(clerk-js): Support transferable prop on SignIn
  .changeset/gold-emus-talk.md
  packages/clerk-js/src/core/__tests__/clerk.test.ts
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/constants.ts
  packages/clerk-js/src/ui/components/SignIn/SignIn.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInStart.tsx
  packages/clerk-js/src/ui/contexts/ClerkUIComponentsContext.tsx
  packages/types/src/clerk.ts
  packages/types/src/localization.ts
Labels: types, clerk-js

#3906 feat(elements): Add support for redirect_url URL parameter
  .changeset/hungry-pianos-punch.md
  packages/elements/src/internals/machines/sign-in/router.machine.ts
  packages/elements/src/internals/machines/sign-up/router.machine.ts
Labels: elements

#3858 feat(clerk-react): Add 'nonce' prop to ClerkProvider
  .changeset/few-guests-collect.md
  integration/templates/next-app-router/src/app/csp/page.tsx
  integration/templates/next-app-router/src/middleware.ts
  integration/tests/content-security-policy.test.ts
  packages/nextjs/src/app-router/server/ClerkProvider.tsx
  packages/nextjs/src/app-router/server/utils.ts
  packages/nextjs/src/utils/clerk-js-script.tsx
  packages/react/src/isomorphicClerk.ts
  packages/react/src/types.ts
  packages/react/src/utils/loadClerkJsScript.ts
  packages/shared/src/loadScript.ts
Labels: nextjs, react, integration

#3913 chore(types): Clarify JSDoc comment for transferable prop
  .changeset/quick-pillows-search.md
  packages/types/src/clerk.ts
Labels: types

#3916 test(clerk-js): Add tests for useDevMode hook
  .changeset/dry-laws-hunt.md
  packages/clerk-js/src/ui/hooks/__tests__/useDevMode.test.tsx
Labels: clerk-js

#3663 feat(clerk-expo): Introduce support for LocalAuth with LocalCredentials
  .changeset/rude-poets-beam.md
  .husky/pre-commit
  package-lock.json
  packages/expo/package.json
  packages/expo/src/hooks/index.ts
  packages/expo/src/hooks/useLocalCredentials/index.tsx
  packages/expo/src/hooks/useLocalCredentials/shared.ts
  packages/expo/src/hooks/useLocalCredentials/useLocalCredentials.ts
  packages/expo/src/hooks/useLocalCredentials/useLocalCredentials.web.ts
Labels: expo

#3912 ci(repo): Version packages
  .changeset/clever-horses-live.md
  .changeset/dirty-geese-hide.md
  .changeset/dry-laws-hunt.md
  .changeset/few-guests-collect.md
  .changeset/forty-turtles-film.md
  .changeset/gold-emus-talk.md
  .changeset/hungry-pianos-punch.md
  .changeset/ninety-numbers-serve.md
  .changeset/quick-pillows-search.md
  .changeset/rotten-mangos-hear.md
  .changeset/rude-poets-beam.md
  .changeset/silly-pens-cough.md
  package-lock.json
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/tanstack-start/CHANGELOG.md
  packages/tanstack-start/package.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, sdk-node, expo, chrome-extension, gatsby, themes, elements, express, testing

#3857 feat(chrome-extension): Add support for background jobs
  .changeset/silver-points-cheer.md
  packages/chrome-extension/background/package.json
  packages/chrome-extension/internal/package.json
  packages/chrome-extension/package.json
  packages/chrome-extension/react/package.json
  packages/chrome-extension/src/ClerkProvider.tsx
  packages/chrome-extension/src/background/clerk.ts
  packages/chrome-extension/src/background/index.ts
  packages/chrome-extension/src/index.ts
  packages/chrome-extension/src/internal/clerk.ts
  packages/chrome-extension/src/internal/constants.ts
  packages/chrome-extension/src/internal/index.ts
  packages/chrome-extension/src/internal/utils/__tests__/cookies.test.ts
  packages/chrome-extension/src/internal/utils/__tests__/manifest.test.ts
  packages/chrome-extension/src/internal/utils/__tests__/storage.test.ts
  packages/chrome-extension/src/internal/utils/cookies.ts
  packages/chrome-extension/src/internal/utils/errors.ts
  packages/chrome-extension/src/internal/utils/jwt-handler.ts
  packages/chrome-extension/src/internal/utils/manifest.ts
  packages/chrome-extension/src/internal/utils/storage.ts
  packages/chrome-extension/src/react/ClerkProvider.tsx
  packages/chrome-extension/src/react/index.ts
  packages/chrome-extension/src/types.ts
  packages/chrome-extension/src/utils/__tests__/manifest.test.ts
  packages/chrome-extension/tsconfig.json
  packages/chrome-extension/tsup.config.ts
  playground/chrome-extension/src/background.ts
  playground/chrome-extension/src/components/SharedApp.tsx
Labels: chrome-extension, playground

#3919 ci(repo): Version packages
  .changeset/silver-points-cheer.md
  package-lock.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
Labels: chrome-extension

#3921 fix(clerk-js): Open the upload organization logo dialog on placeholder click
  .changeset/rotten-donkeys-sin.md
  packages/clerk-js/src/ui/elements/AvatarUploader.tsx
Labels: clerk-js

#3920 fix(clerk-js): Passkeys should not be a candidate for the dynamic fie…
  .changeset/heavy-wombats-sing.md
  packages/clerk-js/src/ui/common/constants.ts
  packages/types/src/userSettings.ts
Labels: types, clerk-js

#3849 chore(astro,clerk-react,shared,nextjs): Migrate functions that can be reused across JavaScript SDKs
  .changeset/nasty-baboons-cheer.md
  packages/astro/src/internal/create-clerk-instance.ts
  packages/astro/src/internal/utils/loadClerkJSScript.ts
  packages/astro/src/internal/utils/versionSelector.ts
  packages/astro/src/server/build-clerk-hotload-script.ts
  packages/astro/src/stores/external.ts
  packages/nextjs/src/pages/ClerkProvider.tsx
  packages/react/src/index.ts
  packages/react/src/internal.ts
  packages/react/src/isomorphicClerk.ts
  packages/react/src/utils/index.ts
  packages/shared/global.d.ts
  packages/shared/jest.config.js
  packages/shared/package.json
  packages/shared/src/__tests__/deriveState.test.ts
  packages/shared/src/__tests__/loadClerkJsScript.test.ts
  packages/shared/src/__tests__/versionSelector.test.ts
  packages/shared/src/deriveState.ts
  packages/shared/src/index.ts
  packages/shared/src/loadClerkJsScript.ts
  packages/shared/src/versionSelector.ts
  packages/shared/subpaths.mjs
  packages/shared/tsup.config.ts
Labels: nextjs, react

#3910 feat(elements): Handle ticket-based invitation sign-up workflows
  .changeset/pink-mails-try.md
  package-lock.json
  packages/elements/src/internals/machines/form/form.machine.ts
  packages/elements/src/internals/machines/form/form.types.ts
  packages/elements/src/internals/machines/sign-up/router.machine.ts
  packages/elements/src/internals/machines/sign-up/router.types.ts
  packages/elements/src/internals/machines/sign-up/start.machine.ts
  packages/elements/src/internals/machines/sign-up/start.types.ts
Labels: elements

#3924 Version Packages - V4
  .changeset/heavy-wombats-sing.md
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/CHANGELOG.md
  packages/gatsby-plugin-clerk/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/shared/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, sdk-node, expo, chrome-extension, gatsby, themes

#3937 fix(e2e): Fix tests that expected that no org was been selected
  .changeset/clean-cows-move.md
  integration/tests/astro/components.test.ts
  integration/tests/protect.test.ts
Labels: integration

#3930 fix(clerk-js): Add dev mode warning to console
  .changeset/modern-badgers-flash.md
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/utils/assertNoLegacyProp.ts
Labels: clerk-js

#3938 fix(clerk-js,elements,types,ui): Account for `null` in `supported_first_factors`
  .changeset/tasty-dots-guess.md
  packages/clerk-js/src/core/resources/SignIn.ts
  packages/clerk-js/src/ui/components/SignIn/AlternativeMethods.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInStart.tsx
  packages/clerk-js/src/ui/components/SignIn/useResetPasswordFactor.tsx
  packages/clerk-js/src/ui/components/SignIn/utils.ts
  packages/clerk-js/src/ui/hooks/useAlternativeStrategies.ts
  packages/elements/src/internals/machines/sign-in/utils/starting-factors.ts
  packages/elements/src/internals/machines/sign-in/verification.machine.ts
  packages/types/src/signIn.ts
  packages/ui/src/hooks/use-reset-password-factor.ts
Labels: types, clerk-js, elements

#3931 chore(elements): Clean up form hooks [SDKI-587]
  .changeset/bright-peaches-change.md
  packages/elements/jest.config.js
  packages/elements/src/react/common/form/hooks/__tests__/use-field-feedback.test.ts
  packages/elements/src/react/common/form/hooks/__tests__/use-form.test.tsx
  packages/elements/src/react/common/form/hooks/__tests__/use-global-errors.test.ts
  packages/elements/src/react/common/form/hooks/__tests__/use-previous.test.ts
  packages/elements/src/react/common/form/hooks/index.ts
  packages/elements/src/react/common/form/hooks/use-field-context.ts
  packages/elements/src/react/common/form/hooks/use-field-feedback.ts
  packages/elements/src/react/common/form/hooks/use-field-state.ts
  packages/elements/src/react/common/form/hooks/use-field.ts
  packages/elements/src/react/common/form/hooks/use-form.ts
  packages/elements/src/react/common/form/hooks/use-global-errors.ts
  packages/elements/src/react/common/form/hooks/use-input.tsx
  packages/elements/src/react/common/form/hooks/use-previous.ts
  packages/elements/src/react/common/form/hooks/use-validity-state-context.ts
  packages/elements/src/react/common/form/index.tsx
  packages/elements/src/react/common/form/utils/__tests__/determine-input-type-from-name.test.ts
  packages/elements/src/react/common/form/utils/__tests__/enrich-field-state.test.ts
  packages/elements/src/react/common/form/utils/determine-input-type-from-name.ts
  packages/elements/src/react/common/form/utils/enrich-field-state.ts
  packages/elements/src/react/common/form/utils/index.ts
Labels: elements

#3923 ci(repo): Version packages
  .changeset/bright-peaches-change.md
  .changeset/clean-cows-move.md
  .changeset/good-peaches-dress.md
  .changeset/great-kings-punch.md
  .changeset/modern-badgers-flash.md
  .changeset/nasty-baboons-cheer.md
  .changeset/pink-mails-try.md
  .changeset/rotten-donkeys-sin.md
  .changeset/tasty-dots-guess.md
  package-lock.json
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/tanstack-start/CHANGELOG.md
  packages/tanstack-start/package.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, sdk-node, expo, chrome-extension, gatsby, themes, elements, express, testing

#3933 chore(elements): Clean up form components [SDKI-588]
  .changeset/bright-peaches-change.md
  .changeset/mighty-peas-flash.md
  packages/elements/src/react/common/form/field-error.tsx
  packages/elements/src/react/common/form/field-state.tsx
  packages/elements/src/react/common/form/field.tsx
  packages/elements/src/react/common/form/form.tsx
  packages/elements/src/react/common/form/global-error.tsx
  packages/elements/src/react/common/form/index.tsx
  packages/elements/src/react/common/form/input.tsx
  packages/elements/src/react/common/form/label.tsx
  packages/elements/src/react/common/form/submit.tsx
  packages/elements/src/react/common/form/types.ts
Labels: elements

#3943 feat(backend): Add `awscognito` to `PasswordHasher` type
  .changeset/young-spies-provide.md
  packages/backend/src/api/endpoints/UserApi.ts
Labels: backend

#3922 chore(astro,clerk-js): Inject `windowNavigate` through router functions
  .changeset/sixty-bikes-visit.md
  packages/astro/src/internal/create-clerk-instance.ts
  packages/clerk-js/src/core/__tests__/clerk.redirects.test.ts
  packages/clerk-js/src/core/__tests__/clerk.test.ts
  packages/clerk-js/src/core/clerk.ts
  packages/types/src/clerk.ts
Labels: types, clerk-js

#3939 fix(nextjs): Handle `__nextGetStaticStore` returning `undefined`
  .changeset/twelve-books-glow.md
  packages/nextjs/src/server/nextFetcher.ts
  packages/nextjs/src/server/protect.ts
Labels: nextjs

#3947 fix(elements): Preserve absolute URLs passed via `redirect_url`
  .changeset/itchy-geckos-tell.md
  packages/elements/src/react/router/__tests__/router.test.ts
  packages/elements/src/react/router/router.ts
  packages/elements/src/utils/is-absolute-url.ts
Labels: elements

#3954 fix(clerk-expo): Export `useLocalCredentials` from a submodule
  .changeset/olive-snakes-judge.md
  packages/expo/local-credentials/package.json
  packages/expo/package.json
  packages/expo/src/hooks/index.ts
  packages/expo/src/local-credentials/index.tsx
  packages/expo/src/local-credentials/useLocalCredentials/index.tsx
  packages/expo/src/local-credentials/useLocalCredentials/shared.ts
  packages/expo/src/local-credentials/useLocalCredentials/useLocalCredentials.ts
  packages/expo/src/local-credentials/useLocalCredentials/useLocalCredentials.web.ts
Labels: expo

#3926 feat(elements): Add support for sign in with email_link via redirect_url
  .changeset/dry-shrimps-study.md
  packages/elements/src/internals/machines/sign-in/router.machine.ts
  packages/elements/src/internals/machines/sign-in/verification.machine.ts
  packages/elements/src/internals/machines/sign-in/verification.types.ts
Labels: elements

#3927 feat(elements,ui): Add support for loading actions
  .changeset/small-bees-jog.md
  packages/elements/src/internals/machines/shared/shared.actions.ts
  packages/elements/src/internals/machines/sign-in/reset-password.types.ts
  packages/elements/src/internals/machines/sign-in/router.machine.ts
  packages/elements/src/internals/machines/sign-in/start.types.ts
  packages/elements/src/internals/machines/sign-in/verification.types.ts
  packages/elements/src/internals/machines/sign-up/continue.types.ts
  packages/elements/src/internals/machines/sign-up/router.machine.ts
  packages/elements/src/internals/machines/sign-up/start.types.ts
  packages/elements/src/internals/machines/sign-up/verification.types.ts
  packages/elements/src/internals/machines/types/router.types.ts
  packages/elements/src/react/common/form/form.tsx
  packages/elements/src/react/common/form/hooks/use-form.ts
  packages/elements/src/react/common/loading.tsx
  packages/elements/src/react/hooks/use-loading.hook.ts
  packages/ui/src/components/sign-in/steps/reset-password.tsx
  packages/ui/src/components/sign-in/steps/start.tsx
  packages/ui/src/components/sign-in/steps/verifications.tsx
  packages/ui/src/components/sign-up/steps/continue.tsx
  packages/ui/src/components/sign-up/steps/start.tsx
  packages/ui/src/components/sign-up/steps/verifications.tsx
Labels: elements

#3959 fix(clerk-js): Application logo rendering size
  .changeset/fair-squids-deny.md
  packages/clerk-js/src/ui/elements/ApplicationLogo.tsx
Labels: clerk-js

#3953 feat(localizations): Add Icelandic (is-IS) to localizations package
  .changeset/spotty-buckets-hide.md
  packages/localizations/package.json
  packages/localizations/src/index.ts
  packages/localizations/src/is-IS.ts
  packages/localizations/src/utils/generate.ts
  packages/localizations/subpaths.mjs
Labels: localizations

#3957 feat(elements): Add active session selection [SDKI-290]
  .changeset/fifty-terms-switch.md
  packages/elements/examples/nextjs/app/page.tsx
  packages/elements/examples/nextjs/app/sign-in/[[...sign-in]]/page.tsx
  packages/elements/examples/nextjs/app/sign-up/[[...sign-up]]/page.tsx
  packages/elements/src/internals/constants/index.ts
  packages/elements/src/internals/machines/sign-in/router.machine.ts
  packages/elements/src/internals/machines/sign-in/router.types.ts
  packages/elements/src/react/sign-in/action/action.tsx
  packages/elements/src/react/sign-in/action/navigate.tsx
  packages/elements/src/react/sign-in/action/set-active-session.tsx
  packages/elements/src/react/sign-in/choose-session/__tests__/choose-session.test.tsx
  packages/elements/src/react/sign-in/choose-session/choose-session.hooks.ts
  packages/elements/src/react/sign-in/choose-session/choose-session.tsx
  packages/elements/src/react/sign-in/choose-session/index.tsx
  packages/elements/src/react/sign-in/index.ts
  packages/elements/src/react/sign-in/step.tsx
  packages/elements/src/react/utils/is-valid-component-type.ts
Labels: elements

#3975 chore(clerk-js,localizations): Updated Danish localization translations
  .changeset/tiny-llamas-attend.md
  packages/localizations/src/da-DK.ts
Labels: localizations

#3979 feat(localizations): Added Thai translation keys for signup start action link translations
  .changeset/big-cheetahs-exercise.md
  packages/localizations/src/th-TH.ts
Labels: localizations

#3978 feat(localizations): Update `cs-CZ` translations
  .changeset/chatty-toys-relax.md
  packages/localizations/src/cs-CZ.ts
Labels: localizations

#3969 feat(astro): Add support for custom menu items
  .changeset/eighty-timers-march.md
  integration/presets/astro.ts
  integration/templates/astro-node/src/components/CustomUserButton.astro
  integration/templates/astro-node/src/layouts/Layout.astro
  integration/tests/astro/components.test.ts
  packages/astro/.eslintrc.cjs
  packages/astro/src/astro-components/index.ts
  packages/astro/src/astro-components/interactive/InternalUIComponentRenderer.astro
  packages/astro/src/astro-components/interactive/UserButton.astro
  packages/astro/src/astro-components/interactive/UserButton/MenuItemRenderer.astro
  packages/astro/src/astro-components/interactive/UserButton/UserButton.astro
  packages/astro/src/astro-components/interactive/UserButton/UserButtonAction.astro
  packages/astro/src/astro-components/interactive/UserButton/UserButtonLink.astro
  packages/astro/src/astro-components/interactive/UserButton/UserButtonMenuItems.astro
  packages/astro/src/astro-components/interactive/UserButton/UserButtonUserProfilePage.astro
  packages/astro/src/astro-components/interactive/UserButton/index.ts
Labels: integration

#3989 fix(clerk-js): Better CAPTCHA widget console error
  .changeset/sour-bulldogs-explode.md
  packages/clerk-js/src/utils/captcha/hcaptcha.ts
  packages/clerk-js/src/utils/captcha/turnstile.ts
Labels: clerk-js

#3991 feat(backend): Add Delete user profile image
  .changeset/few-teachers-brake.md
  packages/backend/src/api/endpoints/UserApi.ts
Labels: backend

#3993 fix(localizations): Update French translations
  .changeset/tricky-suits-tease.md
  packages/localizations/src/fr-FR.ts
Labels: localizations

#3994 fix(localizations): Update Icelandic translations
  .changeset/plenty-news-visit.md
  packages/localizations/src/is-IS.ts
Labels: localizations

#3987 feat(astro): Add support for custom pages and links
  .changeset/big-trains-beg.md
  integration/templates/astro-node/src/pages/custom-pages.astro
  integration/tests/astro/components.test.ts
  packages/astro/.eslintrc.cjs
  packages/astro/src/astro-components/index.ts
  packages/astro/src/astro-components/interactive/UserProfile.astro
  packages/astro/src/astro-components/interactive/UserProfile/ProfileRenderer.astro
  packages/astro/src/astro-components/interactive/UserProfile/UserProfile.astro
  packages/astro/src/astro-components/interactive/UserProfile/UserProfileLink.astro
  packages/astro/src/astro-components/interactive/UserProfile/UserProfilePage.astro
  packages/astro/src/astro-components/interactive/UserProfile/index.ts
Labels: integration

#3997 chore(localizations): Update Turkish localization according to the latest en-US
  .changeset/witty-pants-repair.md
  packages/localizations/src/tr-TR.ts
Labels: localizations

#4002 chore(repo): Update turborepo
  .changeset/fast-moons-film.md
  package-lock.json
  package.json
  packages/elements/turbo.json
Labels: elements

#4003 fix(clerk-js): Update MFA second factor default UI logic
  .changeset/three-feet-nail.md
  packages/clerk-js/src/ui/components/UserProfile/MfaSection.tsx
Labels: clerk-js

#4005 chore(clerk-js): Cleanup test output
  .changeset/lemon-rocks-dress.md
  packages/clerk-js/jest.setup.ts
  packages/clerk-js/src/ui/components/SignIn/__tests__/SignInStart.test.tsx
  packages/clerk-js/src/ui/components/SignUp/__tests__/SignUpStart.test.tsx
  packages/clerk-js/src/ui/elements/SocialButtons.tsx
Labels: clerk-js

#3786 fix(clerk-js): Use focus event to trigger session touch
  .changeset/new-donkeys-sneeze.md
  packages/clerk-js/bundlewatch.config.json
  packages/clerk-js/src/core/__tests__/clerk.test.ts
  packages/clerk-js/src/core/auth/AuthCookieService.ts
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/resources/Session.ts
  packages/clerk-js/src/core/resources/__tests__/Session.test.ts
  packages/clerk-js/src/core/resources/__tests__/__snapshots__/Session.test.ts.snap
  packages/clerk-js/src/core/test/fixtures.ts
  packages/clerk-js/src/ui/utils/test/mockHelpers.ts
  packages/clerk-js/src/utils/pageLifecycle.ts
  packages/types/src/session.ts
Labels: types, clerk-js

#4013 fix(clerk-js): Cache logic around org ID pass to getToken()
  .changeset/early-ads-notice.md
  packages/clerk-js/src/core/resources/Session.ts
  packages/clerk-js/src/core/resources/__tests__/Session.test.ts
  packages/clerk-js/src/core/resources/__tests__/__snapshots__/Session.test.ts.snap
Labels: clerk-js

#3972 chore(backend): Add log to resolveHandshake() catch block
  .changeset/perfect-crews-smell.md
  packages/backend/src/tokens/request.ts
Labels: backend

#4014 fix(clerk-js): Fix undefined properties error in `ConnectedAccountsMenu.tsx`
  .changeset/famous-eggs-cough.md
  packages/clerk-js/src/ui/hooks/useEnabledThirdPartyProviders.tsx
Labels: clerk-js

#4011 feat(clerk-js,types): Expose `SessionVerification` as an experimental resource
  .changeset/late-taxis-end.md
  packages/clerk-js/src/core/resources/SessionVerification.ts
  packages/clerk-js/src/core/resources/User.ts
  packages/types/src/index.ts
  packages/types/src/json.ts
  packages/types/src/sessionVerification.ts
  packages/types/src/user.ts
Labels: types, clerk-js

#3932 feat(tanstack-start): Path based routing and Router support
  .changeset/hip-spiders-behave.md
  .github/labeler.yml
  .github/workflows/ci.yml
  .husky/pre-commit
  integration/presets/index.ts
  integration/presets/longRunningApps.ts
  integration/presets/tanstack.ts
  integration/templates/index.ts
  integration/templates/tanstack-router/.gitignore
  integration/templates/tanstack-router/README.md
  integration/templates/tanstack-router/index.html
  integration/templates/tanstack-router/package.json
  integration/templates/tanstack-router/src/main.tsx
  integration/templates/tanstack-router/src/posts.tsx
  integration/templates/tanstack-router/src/routeTree.gen.ts
  integration/templates/tanstack-router/src/routes/__root.tsx
  integration/templates/tanstack-router/src/routes/_layout.tsx
  integration/templates/tanstack-router/src/routes/index.tsx
  integration/templates/tanstack-router/src/routes/sign-in.tsx
  integration/templates/tanstack-router/tsconfig.dev.json
  integration/templates/tanstack-router/tsconfig.json
  integration/templates/tanstack-router/vite.config.js
  integration/templates/tanstack-start/.gitignore
  integration/templates/tanstack-start/.prettierignore
  integration/templates/tanstack-start/.prettierrc
  integration/templates/tanstack-start/README.md
  integration/templates/tanstack-start/app.config.ts
  integration/templates/tanstack-start/app/client.tsx
  integration/templates/tanstack-start/app/components/DefaultCatchBoundary.tsx
  integration/templates/tanstack-start/app/components/NotFound.tsx
  integration/templates/tanstack-start/app/routeTree.gen.ts
  integration/templates/tanstack-start/app/router.tsx
  integration/templates/tanstack-start/app/routes/__root.tsx
  integration/templates/tanstack-start/app/routes/_layout.tsx
  integration/templates/tanstack-start/app/routes/index.tsx
  integration/templates/tanstack-start/app/routes/sign-in.tsx
  integration/templates/tanstack-start/app/ssr.tsx
  integration/templates/tanstack-start/app/styles/app.css
  integration/templates/tanstack-start/package.json
  integration/templates/tanstack-start/postcss.config.cjs
  integration/templates/tanstack-start/tailwind.config.cjs
  integration/templates/tanstack-start/tsconfig.json
  integration/tests/tanstack-router/basic.test.ts
  integration/tests/tanstack-start/basic.test.ts
  package-lock.json
  package.json
  packages/shared/src/react/hooks/usePagesOrInfinite.ts
  packages/tanstack-start/package.json
  packages/tanstack-start/src/client/ClerkProvider.tsx
  packages/tanstack-start/src/client/index.ts
  packages/tanstack-start/src/client/uiComponents.tsx
  packages/tanstack-start/src/client/utils.ts
  packages/tanstack-start/src/server/getAuth.ts
  packages/tanstack-start/src/server/loadOptions.ts
  packages/tanstack-start/src/server/utils/index.ts
  packages/tanstack-start/src/utils/env.ts
  packages/tanstack-start/src/utils/errors.ts
  turbo.json
Labels: actions, integration, tanstack

#3974 fix(elements): Fix `SignIn.SafeIdentifier` potentially outputting an incorrect value
  .changeset/two-apricots-serve.md
  packages/elements/src/internals/machines/sign-in/__tests__/router.selectors.test.ts
  packages/elements/src/internals/machines/sign-in/router.selectors.ts
Labels: elements

#4007 ci(repo): Version packages
  .changeset/early-ads-notice.md
  .changeset/famous-eggs-cough.md
  .changeset/fast-moons-film.md
  .changeset/friendly-waves-cheat.md
  .changeset/gorgeous-lizards-give.md
  .changeset/hip-spiders-behave.md
  .changeset/itchy-tigers-own.md
  .changeset/late-taxis-end.md
  .changeset/lemon-rocks-dress.md
  .changeset/new-donkeys-sneeze.md
  .changeset/perfect-crews-smell.md
  .changeset/strong-emus-sleep.md
  .changeset/three-feet-nail.md
  .changeset/two-apricots-serve.md
  package-lock.json
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/tailwindcss-transformer/CHANGELOG.md
  packages/tailwindcss-transformer/package.json
  packages/tanstack-start/CHANGELOG.md
  packages/tanstack-start/package.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, sdk-node, expo, chrome-extension, gatsby, themes, elements, express, testing, tanstack

#4021 feat(types): Add Hugging Face OAuth Provider constants
  .changeset/selfish-dogs-taste.md
  packages/clerk-js/src/ui/hooks/__tests__/useEnabledThirdPartyProviders.test.tsx
  packages/types/src/oauth.ts
Labels: types, clerk-js

#4026 chore(clerk-js): Remove sessionId parameter from all verify session methods
  .changeset/calm-rabbits-talk.md
  packages/clerk-js/src/core/resources/User.ts
Labels: clerk-js

#4028 feat(clerk-js,types): Introduce Coinbase Wallet Web3 provider types
  .changeset/cuddly-mails-lie.md
  packages/clerk-js/src/ui/common/constants.ts
  packages/types/src/web3.ts
Labels: types, clerk-js

#4019 fix(tanstack-start): Fix bug for getAuth
  .changeset/purple-rockets-fetch.md
  packages/tanstack-start/src/server/authenticateRequest.ts
  packages/tanstack-start/src/server/loadOptions.ts
  packages/tanstack-start/src/server/utils/index.ts
Labels: tanstack

#4032 chore(clerk-js): Clean up props for SignInFactorOnePassword
  .changeset/slimy-students-wonder.md
  packages/clerk-js/src/ui/components/SignIn/SignInFactorOne.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInFactorOnePasswordCard.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInFactorTwo.tsx
Labels: clerk-js

#4033 fix(repo): Pin last compatible renovate version
  .changeset/cold-colts-destroy.md
  .github/workflows/validate-renovate-config.yml
Labels: actions

#4036 chore(clerk-js): Add GoogleOneTap to bundlewatch
  .changeset/gorgeous-crabs-judge.md
  packages/clerk-js/bundlewatch.config.json
  packages/clerk-js/src/ui/lazyModules/components.ts
Labels: clerk-js

#4034 fix(clerk-js): Update `createFlexGapPropertyIosCompat` user agent regex check
  .changeset/nine-spies-own.md
  packages/clerk-js/src/ui/primitives/Flex.tsx
  packages/clerk-js/src/ui/primitives/gapPropertyCompat.ts
Labels: clerk-js

#4027 ci(repo): Version packages
  .changeset/calm-rabbits-talk.md
  .changeset/cold-colts-destroy.md
  .changeset/cuddly-mails-lie.md
  .changeset/gorgeous-crabs-judge.md
  .changeset/nine-spies-own.md
  .changeset/old-islands-sing.md
  .changeset/purple-rockets-fetch.md
  .changeset/selfish-dogs-taste.md
  .changeset/slimy-students-wonder.md
  package-lock.json
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/tanstack-start/CHANGELOG.md
  packages/tanstack-start/package.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, sdk-node, expo, chrome-extension, gatsby, themes, elements, express, testing, tanstack

#4030 feat(clerk-js,types): Support connecting Coinbase Wallet via <UserProfile />
  .changeset/purple-rice-tell.md
  packages/clerk-js/src/core/resources/User.ts
  packages/clerk-js/src/ui/components/UserProfile/Web3Form.tsx
  packages/clerk-js/src/utils/web3.ts
  packages/localizations/src/en-US.ts
  packages/types/src/localization.ts
  packages/types/src/user.ts
Labels: types, clerk-js, localizations

#4001 fix(clerk-js): Keep the session cookie while cache is being invalidated
  .changeset/sixty-kids-sparkle.md
  packages/clerk-js/src/core/__tests__/clerk.test.ts
  packages/clerk-js/src/core/clerk.ts
Labels: clerk-js

#4025 chore(localizations): Update he-IL
  .changeset/gentle-mugs-know.md
  packages/localizations/src/he-IL.ts
Labels: localizations

#4038 ci(repo): Version packages
  .changeset/gentle-mugs-know.md
  .changeset/purple-rice-tell.md
  .changeset/sixty-kids-sparkle.md
  package-lock.json
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/tanstack-start/CHANGELOG.md
  packages/tanstack-start/package.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, sdk-node, expo, chrome-extension, gatsby, themes, elements, express, testing, tanstack

#4039 fix(clerk-js,types): Align nullable properties in `__experimental_SessionVerificationResource`
  .changeset/ten-kings-rescue.md
  packages/clerk-js/src/core/resources/SessionVerification.ts
  packages/types/src/json.ts
  packages/types/src/sessionVerification.ts
Labels: types, clerk-js

#4041 chore(types): Update `SAML_IDPS` constant for Microsoft Entra ID
  .changeset/neat-vans-wonder.md
  packages/types/src/saml.ts
Labels: types

#4049 fix(clerk-js): Update `createFlexGapPropertyIosCompat` user agent reg…
  .changeset/nine-spies-own.md
  packages/clerk-js/src/ui/primitives/Flex.tsx
  packages/clerk-js/src/ui/primitives/gapPropertyCompat.ts
Labels: clerk-js

#4045 feat(shared): Move `ClerkRouter` into shared
  .changeset/quiet-lobsters-notice.md
  packages/elements/src/internals/machines/types/router.types.ts
  packages/elements/src/react/router/index.ts
  packages/elements/src/react/router/next.ts
  packages/elements/src/react/router/virtual.ts
  packages/shared/src/router.ts
  packages/shared/src/router/__tests__/router.test.ts
  packages/shared/src/router/react.tsx
  packages/shared/src/router/router.ts
  packages/shared/src/router/types.ts
  packages/shared/src/url.ts
  packages/shared/subpaths.mjs
Labels: elements

#4044 fix(backend): Add missing `deleteSelfEnabled` property in `UpdateUserParams`
  .changeset/quiet-ravens-sneeze.md
  packages/backend/src/api/endpoints/UserApi.ts
Labels: backend

#4050 Version Packages - V4
  .changeset/nine-spies-own.md
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
Labels: clerk-js, expo, chrome-extension

#3982 fix(backend): Sanitize slashes in URL paths
  .changeset/dull-goats-tie.md
  packages/backend/src/tokens/__tests__/clerkRequest.test.ts
  packages/backend/src/tokens/clerkRequest.ts
Labels: backend

#4024 fix(backend): Declare `slug` property in `sms.created` webhook event
  .changeset/fair-worms-joke.md
  packages/backend/src/api/resources/JSON.ts
Labels: backend

#4052 feat(clerk-js,types): Support Coinbase Wallet strategy during sign in/up flows
  .changeset/thin-gorillas-deliver.md
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/resources/SignIn.ts
  packages/clerk-js/src/core/resources/SignUp.ts
  packages/clerk-js/src/ui/components/SignIn/SignInSocialButtons.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpSocialButtons.tsx
  packages/clerk-js/src/utils/web3.ts
  packages/react/src/isomorphicClerk.ts
  packages/types/src/clerk.ts
  packages/types/src/signIn.ts
  packages/types/src/signUp.ts
  packages/types/src/web3Wallet.ts
Labels: types, clerk-js, react

#4053 chore(repo): Improve READMEs
  .changeset/five-fishes-joke.md
  docs/CONTRIBUTING.md
  packages/astro/README.md
  packages/backend/README.md
  packages/backend/TODOs.md
  packages/chrome-extension/README.md
  packages/clerk-js/README.md
  packages/elements/README.md
  packages/expo/README.md
  packages/express/README.md
  packages/fastify/README.md
  packages/localizations/README.md
  packages/nextjs/README.md
  packages/react/README.md
  packages/remix/README.md
  packages/sdk-node/README.md
  packages/tanstack-start/README.md
  packages/testing/README.md
  packages/themes/README.md
  packages/types/README.md
  packages/upgrade/README.md
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, sdk-node, expo, chrome-extension, themes, elements, express, testing, tanstack

#4047 ci(repo): Version packages
  .changeset/dull-goats-tie.md
  .changeset/fair-worms-joke.md
  .changeset/five-fishes-joke.md
  .changeset/neat-vans-wonder.md
  .changeset/old-coins-sit.md
  .changeset/quiet-lobsters-notice.md
  .changeset/quiet-ravens-sneeze.md
  .changeset/sour-hairs-type.md
  .changeset/ten-kings-rescue.md
  .changeset/thin-gorillas-deliver.md
  .changeset/thin-waves-lay.md
  package-lock.json
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/tanstack-start/CHANGELOG.md
  packages/tanstack-start/package.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/upgrade/CHANGELOG.md
  packages/upgrade/package.json
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, sdk-node, expo, chrome-extension, themes, elements, express, testing, tanstack

#4051 feat(elements): Add coinbase on elements package
  .changeset/polite-apricots-search.md
  packages/elements/src/internals/machines/sign-in/start.machine.ts
  packages/elements/src/internals/machines/sign-in/verification.machine.ts
  packages/elements/src/internals/machines/sign-up/start.machine.ts
  packages/elements/src/react/common/loading.tsx
  packages/elements/src/react/hooks/use-third-party-provider.hook.ts
  packages/elements/src/react/utils/map-scope-to-strategy.ts
Labels: elements
