Repository clerk/javascript, pull requests merged in 2024-07, with the labels that each got.

#3645 fix(remix): Fix issues caused by modifying duplex on Request
  .changeset/tall-hairs-dream.md
  packages/remix/src/ssr/utils.ts
Labels: remix

#3627 feat(elements): Add `backup_code` verification strategy
  .changeset/chilled-cougars-type.md
  packages/elements/examples/nextjs/app/sign-in/[[...sign-in]]/page.tsx
  packages/elements/src/internals/machines/sign-in/router.machine.ts
  packages/elements/src/internals/machines/sign-in/verification.machine.ts
  packages/elements/src/react/common/form/index.tsx
  packages/elements/src/react/common/form/types.ts
  packages/elements/src/react/sign-in/choose-strategy.tsx
Labels: elements

#3647 fix(elements): Fallback sign-in factors to empty array
  .changeset/chilled-dots-talk.md
  packages/elements/src/react/sign-in/choose-strategy.tsx
Labels: elements

#3649 refactor(elements): Bring sign-up loading in-line with sign-in
  .changeset/forty-kings-roll.md
  packages/elements/src/internals/machines/sign-up/router.machine.ts
  packages/elements/src/internals/machines/sign-up/router.types.ts
  packages/elements/src/react/common/loading.tsx
  packages/elements/src/react/sign-up/continue.tsx
  packages/elements/src/react/sign-up/start.tsx
  packages/elements/src/react/sign-up/verifications.tsx
Labels: elements

#3648 refactor(elements): Fix loading oddities
  .changeset/forty-kings-roll.md
  .changeset/tricky-hotels-smell.md
  packages/elements/src/internals/machines/sign-in/router.machine.ts
  packages/elements/src/internals/machines/sign-in/router.types.ts
  packages/elements/src/internals/machines/sign-up/router.machine.ts
  packages/elements/src/internals/machines/sign-up/router.types.ts
  packages/elements/src/internals/machines/types/router.types.ts
  packages/elements/src/react/common/loading.tsx
  packages/elements/src/react/sign-in/choose-strategy.tsx
  packages/elements/src/react/sign-in/reset-password.tsx
  packages/elements/src/react/sign-in/start.tsx
  packages/elements/src/react/sign-in/verifications.tsx
  packages/elements/src/react/sign-up/continue.tsx
  packages/elements/src/react/sign-up/start.tsx
  packages/elements/src/react/sign-up/verifications.tsx
  packages/elements/src/react/utils/map-scope-to-strategy.ts
Labels: elements

#3525 feat(nextjs,backend,integration): Introduce dynamic keys from `clerkMiddleware`
  .changeset/young-pigs-live.md
  .github/workflows/ci.yml
  integration/constants.ts
  integration/presets/envs.ts
  integration/tests/dynamic-keys.test.ts
  integration/tests/handshake.test.ts
  packages/backend/src/constants.ts
  packages/fastify/src/__tests__/__snapshots__/constants.test.ts.snap
  packages/nextjs/src/app-router/server/auth.ts
  packages/nextjs/src/app-router/server/currentUser.ts
  packages/nextjs/src/app-router/server/utils.ts
  packages/nextjs/src/server/__tests__/clerkClient.test.ts
  packages/nextjs/src/server/__tests__/clerkMiddleware.test.ts
  packages/nextjs/src/server/authMiddleware.ts
  packages/nextjs/src/server/buildClerkProps.ts
  packages/nextjs/src/server/clerkClient.ts
  packages/nextjs/src/server/clerkMiddleware.ts
  packages/nextjs/src/server/constants.ts
  packages/nextjs/src/server/createGetAuth.ts
  packages/nextjs/src/server/errors.ts
  packages/nextjs/src/server/utils.ts
Labels: nextjs, actions, backend, fastify, integration

#3652 fix(elements): Ensure Sign Up resending resets upon being triggered
  .changeset/ten-islands-add.md
  packages/elements/src/internals/machines/sign-up/verification.machine.ts
Labels: elements

#3631 ci(repo): Version packages
  .changeset/chilled-cougars-type.md
  .changeset/chilled-dots-talk.md
  .changeset/empty-apples-kiss.md
  .changeset/forty-kings-roll.md
  .changeset/forty-pears-lie.md
  .changeset/tall-hairs-dream.md
  .changeset/ten-islands-add.md
  .changeset/tricky-hotels-smell.md
  .changeset/wise-rings-switch.md
  .changeset/young-pigs-live.md
  package-lock.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/tanstack-start/CHANGELOG.md
  packages/tanstack-start/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Labels: nextjs, remix, backend, fastify, sdk-node, gatsby, elements, express

#3658 fix(chrome-extension): Ensure synced client cookie URLs resolve appropriately
  .changeset/perfect-apes-cheer.md
  packages/chrome-extension/src/singleton.ts
  packages/chrome-extension/src/utils/cookies.ts
Labels: chrome-extension

#3659 ci(repo): Version packages
  .changeset/lemon-bobcats-smile.md
  .changeset/perfect-apes-cheer.md
  .changeset/wild-snakes-sip.md
  package-lock.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/gatsby-plugin-clerk/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/tanstack-start/CHANGELOG.md
  packages/tanstack-start/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Labels: nextjs, react, remix, expo, chrome-extension, gatsby, elements

#3661 fix(nextjs): Update imports to avoid Node.js build warnings on edge runtime
  .changeset/yellow-carrots-provide.md
  packages/nextjs/src/server/clerkMiddleware.ts
  packages/nextjs/src/server/utils.ts
Labels: nextjs

#3665 ci(repo): Version packages
  .changeset/unlucky-knives-kiss.md
  .changeset/yellow-carrots-provide.md
  package-lock.json
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
Labels: nextjs

#3666 test(astro, e2e): Create long-running app for Astro
  .changeset/fast-cars-crash.md
  .github/workflows/ci.yml
  integration/presets/astro.ts
  integration/presets/envs.ts
  integration/presets/index.ts
  integration/presets/longRunningApps.ts
  integration/templates/astro-node/.gitignore
  integration/templates/astro-node/README.md
  integration/templates/astro-node/astro.config.mjs
  integration/templates/astro-node/package.json
  integration/templates/astro-node/public/favicon.svg
  integration/templates/astro-node/src/components/Card.astro
  integration/templates/astro-node/src/components/LanguagePicker.tsx
  integration/templates/astro-node/src/components/SignOutReact.tsx
  integration/templates/astro-node/src/components/StreamUser.astro
  integration/templates/astro-node/src/env.d.ts
  integration/templates/astro-node/src/layouts/Layout.astro
  integration/templates/astro-node/src/layouts/Protected.astro
  integration/templates/astro-node/src/layouts/Streaming.astro
  integration/templates/astro-node/src/lib/astro-components/SignOutButton.astro
  integration/templates/astro-node/src/middleware.ts
  integration/templates/astro-node/src/pages/api/auth/me.ts
  integration/templates/astro-node/src/pages/api/protected/current-org.ts
  integration/templates/astro-node/src/pages/api/protected/only-admin.ts
  integration/templates/astro-node/src/pages/discover.astro
  integration/templates/astro-node/src/pages/index.astro
  integration/templates/astro-node/src/pages/only-admins-react.astro
  integration/templates/astro-node/src/pages/only-admins.astro
  integration/templates/astro-node/src/pages/only-members-react.astro
  integration/templates/astro-node/src/pages/only-members.astro
  integration/templates/astro-node/src/pages/organization.astro
  integration/templates/astro-node/src/pages/sign-in.astro
  integration/templates/astro-node/src/pages/user.astro
  integration/templates/astro-node/tailwind.config.cjs
  integration/templates/astro-node/tsconfig.json
  integration/templates/index.ts
  integration/tests/astro.test.ts
  package.json
  packages/astro/package.json
  turbo.json
Labels: actions, integration

#3669 feat(astro): Change prefix for public env variables to `PUBLIC_`.
  .changeset/soft-dragons-thank.md
  integration/presets/astro.ts
  packages/astro/src/env.d.ts
  packages/astro/src/integration/create-integration.ts
  packages/astro/src/server/get-safe-env.ts
Labels: integration

#3674 chore(e2e): Update dynamic keys suit to run on serial mode
  .changeset/tall-garlics-rescue.md
  integration/tests/dynamic-keys.test.ts
Labels: integration

#3671 fix(elements): Correct TS types for verification machine
  .changeset/ninety-geese-drop.md
  packages/elements/src/internals/machines/sign-in/utils/starting-factors.ts
  packages/elements/src/internals/machines/sign-in/verification.machine.ts
  packages/elements/src/internals/machines/sign-in/verification.types.ts
  packages/elements/src/react/sign-in/verifications.tsx
Labels: elements

#3680 chore(e2e,repo): Disable turbo cache for e2e tests
  .changeset/five-lies-smoke.md
  integration/tests/next-account-portal/clerk-v4-ap-core-1.test.ts
  integration/tests/next-account-portal/clerk-v4-ap-core-2.test.ts
  integration/tests/next-account-portal/clerk-v5-ap-core-1.test.ts
  integration/tests/next-account-portal/clerk-v5-ap-core-2.test.ts
  turbo.json
Labels: integration

#3682 chore(astro): Drop convenience Astro wrappers for React
  .changeset/quiet-ways-warn.md
  integration/templates/astro-node/src/pages/index.astro
  integration/templates/astro-node/src/pages/only-admins-react.astro
  integration/templates/astro-node/src/pages/only-members-react.astro
  packages/astro/README.md
  packages/astro/package.json
  packages/astro/src/astro-components/react/OrganizationList.astro
  packages/astro/src/astro-components/react/OrganizationProfile.astro
  packages/astro/src/astro-components/react/OrganizationSwitcher.astro
  packages/astro/src/astro-components/react/Protect.astro
  packages/astro/src/astro-components/react/SignIn.astro
  packages/astro/src/astro-components/react/SignUp.astro
  packages/astro/src/astro-components/react/SignedIn.astro
  packages/astro/src/astro-components/react/SignedOut.astro
  packages/astro/src/astro-components/react/UserButton.astro
  packages/astro/src/astro-components/react/UserProfile.astro
  packages/astro/src/astro-components/react/index.ts
Labels: integration

#3604 fix(clerk-js): Set localhost SameSite=None cookies as Secure
  .changeset/plenty-pandas-leave.md
  packages/clerk-js/src/core/auth/__tests__/getSecureAttribute.test.ts
  packages/clerk-js/src/core/auth/cookies/clientUat.ts
  packages/clerk-js/src/core/auth/cookies/devBrowser.ts
  packages/clerk-js/src/core/auth/cookies/session.ts
  packages/clerk-js/src/core/auth/getSecureAttribute.ts
  packages/clerk-js/src/utils/runtime.ts
Labels: clerk-js

#3685 feat(elements): pre populate signup fields when navigating back to start step
  .changeset/rich-needles-admire.md
  package-lock.json
  packages/elements/src/internals/machines/sign-up/start.machine.ts
  packages/ui/package.json
Labels: elements

#3690 chore(e2e): Update expect statement for db jwt in ap-flows
  .changeset/silly-ties-bake.md
  integration/tests/next-account-portal/clerk-v4-ap-core-1.test.ts
  integration/tests/next-account-portal/clerk-v4-ap-core-2.test.ts
  integration/tests/next-account-portal/clerk-v5-ap-core-1.test.ts
  integration/tests/next-account-portal/clerk-v5-ap-core-2.test.ts
  integration/tests/next-account-portal/common.ts
Labels: integration

#3555 fix(nextjs,backend): Support handshake in iframes
  .changeset/poor-knives-laugh.md
  packages/backend/src/tokens/request.ts
  packages/nextjs/src/server/protect.ts
Labels: nextjs, backend

#3668 ci(repo): Version packages
  .changeset/chatty-feet-battle.md
  .changeset/clean-cobras-heal.md
  .changeset/cool-chairs-swim.md
  .changeset/curly-plums-hug.md
  .changeset/empty-turtles-cheer.md
  .changeset/fast-cars-crash.md
  .changeset/five-lies-smoke.md
  .changeset/honest-days-fetch.md
  .changeset/hungry-pumas-protect.md
  .changeset/metal-weeks-dress.md
  .changeset/ninety-geese-drop.md
  .changeset/olive-foxes-own.md
  .changeset/plenty-pandas-leave.md
  .changeset/poor-knives-laugh.md
  .changeset/quiet-ways-warn.md
  .changeset/rich-needles-admire.md
  .changeset/silly-ties-bake.md
  .changeset/soft-dragons-thank.md
  .changeset/strange-maps-marry.md
  .changeset/tall-garlics-rescue.md
  .changeset/thirty-icons-laugh.md
  .changeset/thirty-lizards-lick.md
  .changeset/violet-spies-eat.md
  package-lock.json
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/tanstack-start/CHANGELOG.md
  packages/tanstack-start/package.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
Labels: clerk-js, nextjs, remix, backend, fastify, sdk-node, expo, chrome-extension, gatsby, elements, express, testing

#3701 chore(astro): Simplify submodules and drop `bundled` variant
  .changeset/four-days-hammer.md
  integration/templates/astro-node/src/components/SignOutReact.tsx
  integration/templates/astro-node/src/components/page-with-user.tsx
  integration/templates/astro-node/src/layouts/react/Layout.astro
  integration/templates/astro-node/src/lib/astro-components/SignOutButton.astro
  integration/templates/astro-node/src/pages/react/index.astro
  integration/templates/astro-node/src/pages/react/only-admins.astro
  integration/templates/astro-node/src/pages/react/only-members.astro
  integration/templates/astro-node/src/pages/react/sign-in.astro
  packages/astro/client/react/package.json
  packages/astro/client/stores/package.json
  packages/astro/package.json
  packages/astro/react/package.json
  packages/astro/src/bundled.ts
  packages/astro/src/client/index.ts
  packages/astro/src/client/stores/index.ts
  packages/astro/src/globals.d.ts
  packages/astro/src/index.ts
  packages/astro/src/integration/bundled.ts
  packages/astro/src/integration/create-integration.ts
  packages/astro/src/integration/index.ts
  packages/astro/src/internal/bundled.ts
  packages/astro/src/internal/create-clerk-instance.ts
  packages/astro/src/internal/create-injection-script-runner.ts
  packages/astro/src/internal/index.ts
  packages/astro/src/internal/mount-clerk-astro-js-components.ts
  packages/astro/src/internal/run-once.ts
  packages/astro/src/internal/types.ts
  packages/astro/src/react/SignInButton.tsx
  packages/astro/src/react/SignOutButton.tsx
  packages/astro/src/react/SignUpButton.tsx
  packages/astro/src/react/controlComponents.tsx
  packages/astro/src/react/hooks.ts
  packages/astro/src/react/index.ts
  packages/astro/src/react/types.ts
  packages/astro/src/react/uiComponents.tsx
  packages/astro/src/react/utils.tsx
  packages/astro/src/server/clerk-middleware.ts
  packages/astro/tsup.config.ts
  playground/nextjs/package.json
Labels: playground, integration

#3706 chore(e2e,astro): Add a test case for `updateClerkOptions`
  .changeset/soft-waves-reflect.md
  integration/tests/astro/components.test.ts
Labels: integration

#3705 chore(astro): Move all *.astro components under /components
  .changeset/fluffy-squids-fly.md
  integration/templates/astro-node/src/layouts/Layout.astro
  integration/templates/astro-node/src/pages/discover.astro
  integration/templates/astro-node/src/pages/index.astro
  integration/templates/astro-node/src/pages/only-admins-react.astro
  integration/templates/astro-node/src/pages/only-admins.astro
  integration/templates/astro-node/src/pages/only-members-react.astro
  integration/templates/astro-node/src/pages/only-members.astro
  integration/templates/astro-node/src/pages/organization.astro
  integration/templates/astro-node/src/pages/sign-in.astro
  integration/templates/astro-node/src/pages/user.astro
  packages/astro/.eslintrc.cjs
  packages/astro/package.json
  packages/astro/src/astro-components/control/index.ts
  packages/astro/src/astro-components/index.ts
  packages/astro/src/astro-components/interactive/index.ts
  packages/astro/src/astro-components/unstyled/index.ts
  packages/astro/tsconfig.json
Labels: integration

#3697 chore(e2e): Test unstyled components for Astro
  .changeset/five-cycles-serve.md
  integration/templates/astro-node/src/lib/astro-components/SignOutButton.astro
  integration/templates/astro-node/src/pages/buttons.astro
  integration/templates/astro-node/src/pages/index.astro
  integration/templates/astro-node/src/pages/react/index.astro
  integration/tests/astro/components.test.ts
Labels: integration

#3678 feat(types,clerk-js): Introduce Custom OAuth providers
  .changeset/unlucky-hornets-roll.md
  packages/clerk-js/src/ui/common/ProviderInitialIcon.tsx
  packages/clerk-js/src/ui/common/index.ts
  packages/clerk-js/src/ui/components/UserProfile/ConnectedAccountsMenu.tsx
  packages/clerk-js/src/ui/components/UserProfile/ConnectedAccountsSection.tsx
  packages/clerk-js/src/ui/customizables/elementDescriptors.ts
  packages/clerk-js/src/ui/elements/SocialButtons.tsx
  packages/clerk-js/src/ui/hooks/__tests__/useEnabledThirdPartyProviders.test.tsx
  packages/clerk-js/src/ui/hooks/useEnabledThirdPartyProviders.tsx
  packages/types/src/appearance.ts
  packages/types/src/oauth.ts
  packages/types/src/strategies.ts
  packages/types/src/userSettings.ts
Labels: types, clerk-js

#3712 fix(clerk-js): ImpersonationFab needs a router to navigate on sign out
  .changeset/strong-mugs-dress.md
  packages/clerk-js/src/ui/lazyModules/providers.tsx
Labels: clerk-js

#3713 chore(clerk-js): Remove unused pathToRegexp util
  .changeset/grumpy-peaches-heal.md
  packages/clerk-js/src/utils/pathToRegexp.ts
Labels: clerk-js

#3702 fix(elements): ensure updated provided values are sent to the machine
  .changeset/metal-chairs-shave.md
  packages/elements/src/react/common/form/index.tsx
Labels: elements

#3711 feat(astro): Support `auth().redirectToSignIn()` at page level
  .changeset/hot-pets-mix.md
  integration/templates/astro-node/src/middleware.ts
  integration/templates/astro-node/src/pages/organization.astro
  integration/tests/astro/redirect.test.ts
  packages/astro/env.d.ts
  packages/astro/src/server/clerk-middleware.ts
  packages/astro/src/server/get-auth.ts
Labels: integration

#3708 fix(elements): Add check for authenticable web3 strategy
  .changeset/plenty-kangaroos-swim.md
  packages/elements/src/react/hooks/use-third-party-provider.hook.ts
  packages/elements/src/utils/third-party-strategies.ts
Labels: elements

#3720 chore(clerk-js): Remove unused file UpdatePasswordForm.tsx
  .changeset/sweet-weeks-repeat.md
  packages/clerk-js/src/ui/components/UserProfile/UpdatePasswordForm.tsx
Labels: clerk-js

#3704 fix(testing): Remove the experimental warning from the Cypress integration
  .changeset/spicy-queens-draw.md
  packages/testing/README.md
  packages/testing/src/cypress/setup.ts
Labels: testing

#3729 chore(repo): Revert accidental change to nextjs playground
  .changeset/swift-bananas-change.md
  playground/nextjs/package.json
Labels: playground

#3724 feat(astro): Introduce Clerk loaded and loading React components
  .changeset/thick-buttons-battle.md
  integration/templates/astro-node/src/pages/utility.astro
  integration/tests/astro/react/components.test.ts
  packages/astro/src/react/controlComponents.tsx
Labels: integration

#3736 fix(elements): Ensure default values are correctly being set
  .changeset/forty-cats-shave.md
  packages/elements/src/internals/machines/form/form.machine.ts
  packages/elements/src/internals/machines/sign-up/start.machine.ts
  packages/elements/src/internals/machines/sign-up/verification.machine.ts
  packages/elements/src/react/common/form/index.tsx
Labels: elements

#3752 chore(repo): Test that handshake is throw if suffixed client_uat is not found
  integration/testUtils/appPageObject.ts
  integration/testUtils/index.ts
  integration/testUtils/signInPageObject.ts
  integration/tests/sessions/root-subdomain-prod-instances.test.ts
Labels: integration

#3741 chore(nextjs): Add tests covering the new middleware matcher
  packages/nextjs/src/utils/__tests__/matcher.test.ts
Labels: nextjs

#3758 chore(nextjs): Introduce build-time error for server-only helpers on client-side
  .changeset/perfect-chairs-work.md
  package-lock.json
  packages/nextjs/package.json
  packages/nextjs/src/app-router/server/auth.ts
  packages/nextjs/src/app-router/server/currentUser.ts
  packages/nextjs/src/server/__tests__/exports.test.ts
Labels: nextjs

#3738 fix(elements): Pass sign up resource directly to child machine
  .changeset/cyan-pets-relax.md
  .changeset/small-bears-yell.md
  .changeset/three-houses-deny.md
  package-lock.json
  packages/elements/package.json
  packages/elements/src/internals/machines/sign-up/router.machine.ts
  packages/elements/src/internals/machines/sign-up/verification.machine.ts
  packages/elements/src/internals/machines/sign-up/verification.types.ts
  packages/elements/src/react/hooks/use-active-tags.hook.ts
Labels: elements

#3761 fix(nextjs): Move `server-only` resolution to runtime
  .changeset/lucky-olives-explode.md
  packages/nextjs/src/app-router/server/auth.ts
  packages/nextjs/src/app-router/server/currentUser.ts
Labels: nextjs

#3762 fix(elements): Add check for `relatedTarget` to avoid validation running immediately after unsuccessful form submission
  .changeset/plenty-snakes-repeat.md
  packages/elements/src/react/common/form/index.tsx
Labels: elements

#3755 feat(testing): Introduce Cypress Custom commands for sign-in and sign-out
  .changeset/cyan-gorillas-live.md
  packages/testing/README.md
  packages/testing/src/cypress/custom-commands.ts
  packages/testing/src/cypress/index.ts
Labels: testing

#3723 fix(clerk-js): Improve UX for recoverable actions in ConnectedAccounts
  .changeset/chilly-pens-grab.md
  .changeset/fair-crabs-remember.md
  .changeset/polite-cheetahs-wait.md
  packages/clerk-js/src/ui/components/UserProfile/ConnectedAccountsSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/__tests__/ConnectedAccountsSection.test.tsx
  packages/localizations/src/ar-SA.ts
  packages/localizations/src/bg-BG.ts
  packages/localizations/src/cs-CZ.ts
  packages/localizations/src/da-DK.ts
  packages/localizations/src/de-DE.ts
  packages/localizations/src/el-GR.ts
  packages/localizations/src/en-US.ts
  packages/localizations/src/es-ES.ts
  packages/localizations/src/es-MX.ts
  packages/localizations/src/fr-FR.ts
  packages/localizations/src/he-IL.ts
  packages/localizations/src/hu-HU.ts
  packages/localizations/src/it-IT.ts
  packages/localizations/src/ja-JP.ts
  packages/localizations/src/ko-KR.ts
  packages/localizations/src/mn-MN.ts
  packages/localizations/src/nb-NO.ts
  packages/localizations/src/nl-NL.ts
  packages/localizations/src/pl-PL.ts
  packages/localizations/src/pt-BR.ts
  packages/localizations/src/pt-PT.ts
  packages/localizations/src/ro-RO.ts
  packages/localizations/src/ru-RU.ts
  packages/localizations/src/sk-SK.ts
  packages/localizations/src/sr-RS.ts
  packages/localizations/src/sv-SE.ts
  packages/localizations/src/th-TH.ts
  packages/localizations/src/tr-TR.ts
  packages/localizations/src/uk-UA.ts
  packages/localizations/src/vi-VN.ts
  packages/localizations/src/zh-CN.ts
  packages/localizations/src/zh-TW.ts
  packages/types/src/localization.ts
Labels: types, clerk-js, localizations

#3770 fix(elements): Reverts addition of `relatedTarget` check within `onFocus` input handler
  .changeset/cold-lobsters-drive.md
  packages/elements/src/react/common/form/index.tsx
Labels: elements

#3775 fix(clerk-js): Update the image alt attribute to fix accessibility issues reported by Lighthouse
  .changeset/cool-pens-film.md
  packages/clerk-js/src/ui/elements/Avatar.tsx
Labels: clerk-js

#3773 fix(nextjs): Remove sourcemaps from bundled server-actions
  .changeset/pretty-lies-joke.md
  .changeset/slow-needles-mate.md
  packages/nextjs/src/app-router/client/ClerkProvider.tsx
  packages/nextjs/src/app-router/server-actions.ts
  packages/nextjs/tsup.config.ts
Labels: nextjs

#3635 chore(localizations): Update sv-SE
  .changeset/ninety-apricots-marry.md
  packages/localizations/src/sv-SE.ts
Labels: localizations

#3634 feat(localizations): Add support for Finnish (fi-FI) localization
  .changeset/silly-otters-greet.md
  packages/localizations/package.json
  packages/localizations/src/fi-FI.ts
  packages/localizations/src/index.ts
  packages/localizations/src/utils/generate.ts
  packages/localizations/subpaths.mjs
Labels: localizations

#3749 feat(elements,ui): Determine SafeIdentifier based on strategy
  .changeset/wet-cherries-develop.md
  packages/elements/src/internals/machines/sign-in/index.ts
  packages/elements/src/internals/machines/sign-in/router.selectors.ts
  packages/elements/src/react/sign-in/choose-strategy.tsx
  packages/elements/src/react/sign-in/context/index.ts
  packages/elements/src/react/sign-in/context/sign-in-strategy.context.ts
  packages/elements/src/react/sign-in/identifiers.tsx
  packages/elements/src/react/sign-in/verifications.tsx
  packages/ui/src/components/sign-in/sign-in.tsx
  packages/ui/src/utils/format-safe-identifier.ts
Labels: elements

#3776 fix(localization): Simple import
  packages/localizations/src/utils/generate.ts
Labels: localizations

#3756 chore(e2e): Attempt to address flakiness for astro tests
  .changeset/tall-coats-dress.md
  .github/workflows/ci.yml
  integration/testUtils/organizationSwitcherPageObject.ts
  integration/tests/astro/components.test.ts
  integration/tests/astro/protect.test.ts
  integration/tests/astro/react/components.test.ts
  integration/tests/astro/react/protect.test.ts
  integration/tests/astro/redirect.test.ts
  turbo.json
Labels: actions, integration

#3774 fix(clerk-js): Set __session and __client_uat before invalidating cache
  .changeset/poor-rockets-peel.md
  packages/clerk-js/src/core/__tests__/clerk.test.ts
  packages/clerk-js/src/core/clerk.ts
Labels: clerk-js

#3778 fix(elements): only validate `onFocus` or `onBlur` when value has changed
  .changeset/strong-beers-compete.md
  packages/elements/src/react/common/form/index.tsx
Labels: elements

#3780 fix(types,elements,clerk-js): Update types to account for null second factors
  .changeset/weak-pumpkins-train.md
  packages/clerk-js/src/core/resources/SignIn.ts
  packages/clerk-js/src/ui/components/SignIn/SignInFactorTwoAlternativeMethods.tsx
  packages/clerk-js/src/ui/components/SignIn/utils.ts
  packages/elements/src/internals/machines/sign-in/utils/starting-factors.ts
  packages/types/src/signIn.ts
Labels: types, clerk-js, elements

#3695 feat(localizations): Add support for German (de-DE) passkey-text localization
  .changeset/wet-games-deliver.md
  packages/localizations/src/de-DE.ts
Labels: localizations

#3789 fix(backend): Fix issue with FAPI suffixed cookies disabled
  .changeset/eleven-suits-flow.md
  packages/backend/src/tokens/authenticateContext.ts
Labels: backend

#3788 fix(chrome-extension): Appropriately handle fulfilled, but null, cookie promises
  .changeset/ninety-toes-fix.md
  packages/chrome-extension/src/utils/cookies.ts
Labels: chrome-extension

#3785 ci(repo): Version packages
  .changeset/eleven-suits-flow.md
  .changeset/nine-terms-repair.md
  .changeset/ninety-toes-fix.md
  .changeset/old-needles-study.md
  .changeset/soft-fans-flash.md
  .changeset/wet-games-deliver.md
  package-lock.json
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/dev-cli/CHANGELOG.md
  packages/dev-cli/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/tanstack-start/CHANGELOG.md
  packages/tanstack-start/package.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
Labels: clerk-js, nextjs, remix, backend, fastify, localizations, sdk-node, expo, chrome-extension, gatsby, express, testing

#3764 fix(backend): Fix `getToken` returning `null` when resolving the handshake payload
  .changeset/dry-yaks-buy.md
  packages/astro/src/server/get-auth.ts
  packages/backend/src/tokens/__tests__/authObjects.test.ts
  packages/backend/src/tokens/__tests__/authStatus.test.ts
  packages/backend/src/tokens/authObjects.ts
  packages/backend/src/tokens/authStatus.ts
  packages/nextjs/src/server/buildClerkProps.ts
  packages/nextjs/src/server/createGetAuth.ts
Labels: nextjs, backend

#3791 feat(elements): Add support for signOutOfOtherSessions checkbox
  .changeset/tasty-brooms-check.md
  packages/elements/src/internals/machines/form/form.machine.ts
  packages/elements/src/internals/machines/form/form.types.ts
  packages/elements/src/internals/machines/sign-in/reset-password.machine.ts
  packages/elements/src/internals/machines/sign-up/utils/__tests__/fields-to-params.test.ts
  packages/elements/src/react/common/form/index.tsx
Labels: elements

#3790 ci(repo): Version packages
  .changeset/chilled-carpets-trade.md
  .changeset/dry-yaks-buy.md
  .changeset/quiet-pans-greet.md
  .changeset/red-ducks-grin.md
  .changeset/tasty-brooms-check.md
  .changeset/tiny-glasses-teach.md
  package-lock.json
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/dev-cli/CHANGELOG.md
  packages/dev-cli/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/tanstack-start/CHANGELOG.md
  packages/tanstack-start/package.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
Labels: nextjs, remix, backend, fastify, sdk-node, gatsby, elements, express, testing

#3803 fix(repo): Ensure unchanged PR on comment actions
  .github/actions/ensure-stable-pr/action.yml
  .github/workflows/preview.yml
  .github/workflows/release-snapshot.yml
Labels: actions

#3809 fix(repo): Check for PR updates
  .github/workflows/preview.yml
  .github/workflows/release-snapshot.yml
Labels: actions

#3815 fix(repo): GHA PR changes check
  .github/workflows/preview.yml
  .github/workflows/release-snapshot.yml
Labels: actions

#3806 feat(clerk-js): Adjust captcha parameter handling for sign ups with Google
  .changeset/rude-wasps-wonder.md
  packages/clerk-js/src/core/resources/SignUp.ts
Labels: clerk-js

#3817 feat(clerk-js): Adjust captcha parameter handling for sign ups with Google (#3806)
  .changeset/rude-wasps-wonder.md
  packages/clerk-js/src/core/resources/SignUp.ts
Labels: clerk-js, cherry

#3818 Version Packages - V4
  .changeset/rude-wasps-wonder.md
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
Labels: clerk-js, expo, chrome-extension

#3732 feat(clerk-js): Support open userProfile and organizationProfile modals to specific navitems
  .changeset/cuddly-spoons-decide.md
  packages/clerk-js/src/ui/Components.tsx
  packages/clerk-js/src/ui/components/OrganizationSwitcher/OrganizationSwitcherPopover.tsx
  packages/clerk-js/src/ui/components/UserButton/useMultisessionActions.tsx
  packages/clerk-js/src/ui/hooks/useNavigateToFlowStart.ts
  packages/types/src/clerk.ts
Labels: types, clerk-js

#3819 chore(types): Add experimental tag on startPath type
  .changeset/young-otters-kneel.md
  packages/types/src/clerk.ts
Labels: types

#3456 feat(clerk-expo)!: React Native >= 0.73 and Expo Web support
  .changeset/two-wombats-confess.md
  .github/workflows/ci.yml
  integration/models/application.ts
  integration/presets/expo.ts
  integration/presets/index.ts
  integration/presets/longRunningApps.ts
  integration/templates/expo-web/.gitignore
  integration/templates/expo-web/README.md
  integration/templates/expo-web/app.json
  integration/templates/expo-web/app/+html.tsx
  integration/templates/expo-web/app/+not-found.tsx
  integration/templates/expo-web/app/_layout.tsx
  integration/templates/expo-web/app/custom-sign-in.tsx
  integration/templates/expo-web/app/custom-sign-up.tsx
  integration/templates/expo-web/app/index.tsx
  integration/templates/expo-web/app/sign-in.tsx
  integration/templates/expo-web/assets/images/icon.png
  integration/templates/expo-web/assets/images/splash.png
  integration/templates/expo-web/babel.config.js
  integration/templates/expo-web/constants/Colors.ts
  integration/templates/expo-web/metro.config.js
  integration/templates/expo-web/package.json
  integration/templates/expo-web/tsconfig.json
  integration/templates/index.ts
  integration/testUtils/commonPageObject.ts
  integration/tests/expo-web/basic.test.ts
  integration/tests/expo-web/custom-flows.test.ts
  package-lock.json
  package.json
  packages/expo/.eslintrc.js
  packages/expo/README.md
  packages/expo/package.json
  packages/expo/src/cache/MemoryTokenCache.ts
  packages/expo/src/cache/index.ts
  packages/expo/src/cache/types.ts
  packages/expo/src/components/controlComponents.tsx
  packages/expo/src/components/index.ts
  packages/expo/src/hooks/index.ts
  packages/expo/src/hooks/useOAuth.ts
  packages/expo/src/index.ts
  packages/expo/src/polyfills/base64Polyfill.ts
  packages/expo/src/provider/ClerkProvider.tsx
  packages/expo/src/provider/singleton/createClerkInstance.ts
  packages/expo/src/provider/singleton/index.ts
  packages/expo/src/provider/singleton/singleton.ts
  packages/expo/src/provider/singleton/singleton.web.ts
  packages/expo/src/provider/singleton/types.ts
  packages/expo/src/runtime.ts
  packages/expo/src/singleton.ts
  packages/expo/src/utils/errors.ts
  packages/expo/src/utils/index.ts
  packages/expo/src/utils/runtime.ts
  packages/expo/src/web/index.ts
  packages/expo/src/web/uiComponents.tsx
  packages/expo/tsconfig.json
  packages/expo/web/package.json
  turbo.json
Labels: actions, expo, integration

#3826 chore(clerk-js,localizations): Add signup start action link translations
  .changeset/six-toys-clap.md
  packages/clerk-js/src/ui/components/SignUp/SignUpForm.tsx
  packages/localizations/src/ar-SA.ts
  packages/localizations/src/bg-BG.ts
  packages/localizations/src/cs-CZ.ts
  packages/localizations/src/da-DK.ts
  packages/localizations/src/de-DE.ts
  packages/localizations/src/el-GR.ts
  packages/localizations/src/en-US.ts
  packages/localizations/src/es-ES.ts
  packages/localizations/src/es-MX.ts
  packages/localizations/src/fi-FI.ts
  packages/localizations/src/fr-FR.ts
  packages/localizations/src/he-IL.ts
  packages/localizations/src/hu-HU.ts
  packages/localizations/src/it-IT.ts
  packages/localizations/src/ja-JP.ts
  packages/localizations/src/ko-KR.ts
  packages/localizations/src/mn-MN.ts
  packages/localizations/src/nb-NO.ts
  packages/localizations/src/nl-NL.ts
  packages/localizations/src/pl-PL.ts
  packages/localizations/src/pt-BR.ts
  packages/localizations/src/pt-PT.ts
  packages/localizations/src/ro-RO.ts
  packages/localizations/src/ru-RU.ts
  packages/localizations/src/sk-SK.ts
  packages/localizations/src/sr-RS.ts
  packages/localizations/src/sv-SE.ts
  packages/localizations/src/th-TH.ts
  packages/localizations/src/tr-TR.ts
  packages/localizations/src/uk-UA.ts
  packages/localizations/src/vi-VN.ts
  packages/localizations/src/zh-CN.ts
  packages/localizations/src/zh-TW.ts
  packages/types/src/localization.ts
Labels: types, clerk-js, localizations

#3828 fix(elements): Update sign in first factor sorting strategies
  .changeset/curly-lemons-rhyme.md
  packages/elements/src/internals/machines/sign-in/utils/starting-factors.ts
Labels: elements

#3748 feat(backend): Add locked property to User object in SDK
  .changeset/mean-jars-explode.md
  packages/backend/src/api/resources/User.ts
Labels: backend

#3832 Replaced "Delete account" with spanish translation "Eliminar cuenta"
  .changeset/famous-tools-thank.md
  packages/localizations/src/es-MX.ts
Labels: localizations

#3839 fix(remix): Fix issue where request body has already been read
  .changeset/bright-crabs-speak.md
  packages/remix/src/ssr/utils.ts
Labels: remix

#3843 fix(elements): Update supported factors based on status
  .changeset/funny-berries-jam.md
  packages/elements/src/react/sign-in/choose-strategy.tsx
  packages/ui/src/components/sign-in/first-factor-connections.tsx
  packages/ui/src/components/sign-in/sign-in.tsx
Labels: elements

#3784 feat(clerk-js,clerk-react,types): Introduce `UserButton` custom menu items
  .changeset/smooth-worms-retire.md
  packages/clerk-js/src/ui/components/OrganizationSwitcher/OtherOrganizationActions.tsx
  packages/clerk-js/src/ui/components/UserButton/SessionActions.tsx
  packages/clerk-js/src/ui/components/UserButton/UserButtonPopover.tsx
  packages/clerk-js/src/ui/constants.ts
  packages/clerk-js/src/ui/contexts/ClerkUIComponentsContext.tsx
  packages/clerk-js/src/ui/customizables/elementDescriptors.ts
  packages/clerk-js/src/ui/elements/Actions.tsx
  packages/clerk-js/src/ui/utils/__tests__/createCustomMenuItems.test.ts
  packages/clerk-js/src/ui/utils/createCustomMenuItems.tsx
  packages/clerk-js/src/ui/utils/createCustomPages.tsx
  packages/clerk-js/src/ui/utils/index.ts
  packages/clerk-js/src/ui/utils/sanitizeCustomLinkURL.ts
  packages/react/src/components/uiComponents.tsx
  packages/react/src/errors/messages.ts
  packages/react/src/types.ts
  packages/react/src/utils/__tests__/useCustomMenuItems.test.tsx
  packages/react/src/utils/componentValidation.ts
  packages/react/src/utils/index.ts
  packages/react/src/utils/useCustomMenuItems.tsx
  packages/react/src/utils/useCustomPages.tsx
  packages/types/src/appearance.ts
  packages/types/src/clerk.ts
  packages/types/src/customMenuItems.ts
  packages/types/src/index.ts
Labels: types, clerk-js, react

#3825 feat(clerk-js): Add ability to set active organization by slug
  .changeset/wicked-seahorses-juggle.md
  packages/clerk-js/src/core/__tests__/clerk.test.ts
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/utils/__tests__/organization.test.ts
  packages/clerk-js/src/utils/index.ts
  packages/clerk-js/src/utils/organization.ts
  packages/types/src/clerk.ts
Labels: types, clerk-js

#3797 fix(localizations): arabic localization for org profile
  .changeset/chilled-swans-work.md
  packages/localizations/src/ar-SA.ts
Labels: localizations

#3821 fix(localizations): Updated missing Arabic localizations
  .changeset/dry-trainers-decide.md
  packages/localizations/src/ar-SA.ts
Labels: localizations

#3853 fix(e2e): Fix Expo Web flaky test
  .changeset/bright-lemons-give.md
  integration/tests/expo-web/basic.test.ts
Labels: integration

#3842 feat(elements): Add SAML support
  .changeset/dirty-dragons-swim.md
  packages/elements/examples/nextjs/app/sign-in/[[...sign-in]]/page.tsx
  packages/elements/examples/nextjs/app/sign-up/[[...sign-up]]/page.tsx
  packages/elements/src/internals/machines/sign-in/router.machine.ts
  packages/elements/src/internals/machines/sign-up/router.machine.ts
  packages/elements/src/react/common/connections.tsx
  packages/elements/src/react/hooks/use-third-party-provider.hook.ts
  packages/elements/src/utils/third-party-strategies.ts
Labels: elements

#3511 feat(clerk-js): Add dev mode notice to components
  .changeset/hungry-clouds-return.md
  packages/clerk-js/src/ui/components/CreateOrganization/CreateOrganizationPage.tsx
  packages/clerk-js/src/ui/customizables/elementDescriptors.ts
  packages/clerk-js/src/ui/elements/Card/CardClerkAndPagesTag.tsx
  packages/clerk-js/src/ui/elements/Card/CardContent.tsx
  packages/clerk-js/src/ui/elements/Card/CardFooter.tsx
  packages/clerk-js/src/ui/elements/DevModeNotice.tsx
  packages/clerk-js/src/ui/elements/Navbar.tsx
  packages/clerk-js/src/ui/elements/PopoverCard.tsx
  packages/clerk-js/src/ui/elements/index.ts
  packages/clerk-js/src/ui/polishedAppearance.ts
  packages/types/src/appearance.ts
Labels: types, clerk-js

#3847 feat(elements,ui): Return password validation error codes with relevant config entries
  packages/elements/src/internals/machines/form/form.types.ts
  packages/elements/src/react/common/form/index.tsx
  packages/elements/src/react/hooks/use-password.hook.ts
  packages/elements/src/react/utils/generate-password-error-text.ts
  packages/ui/src/common/password-field.tsx
  packages/ui/src/utils/makeLocalizable.ts
Labels: elements
