Repository clerk/javascript, pull requests merged in 2024-09, with the labels that each got.

#4059 bug(clerk-js): Use EIP6963 standard to get web3 provider
  .changeset/four-tips-push.md
  packages/clerk-js/bundlewatch.config.json
  packages/clerk-js/src/utils/injectedWeb3Providers.ts
  packages/clerk-js/src/utils/web3.ts
Labels: clerk-js

#4074 chore(clerk-js): Display shortened web3 wallet address on user profile
  .changeset/sixty-drinks-drum.md
  packages/clerk-js/src/ui/components/UserProfile/Web3Section.tsx
Labels: clerk-js

#4079 fix(e2e): Update assertion for 404 browser ui
  .changeset/tricky-lemons-juggle.md
  integration/tests/protect.test.ts
Labels: integration

#4073 chore(clerk-js, types): Move session verification under SessionResource
  .changeset/light-trees-battle.md
  packages/clerk-js/src/core/resources/Session.ts
  packages/clerk-js/src/core/resources/User.ts
  packages/clerk-js/src/ui/components/UserVerification/UVFactorOneCodeForm.tsx
  packages/clerk-js/src/ui/components/UserVerification/UVFactorTwoBackupCodeCard.tsx
  packages/clerk-js/src/ui/components/UserVerification/UVFactorTwoCodeForm.tsx
  packages/clerk-js/src/ui/components/UserVerification/UVFactorTwoPhoneCodeCard.tsx
  packages/clerk-js/src/ui/components/UserVerification/UserVerificationFactorOnePassword.tsx
  packages/clerk-js/src/ui/components/UserVerification/__tests__/UVFactorOne.test.tsx
  packages/clerk-js/src/ui/components/UserVerification/__tests__/UVFactorTwo.test.tsx
  packages/clerk-js/src/ui/components/UserVerification/useUserVerificationSession.tsx
  packages/clerk-js/src/ui/utils/test/createFixtures.tsx
  packages/types/src/session.ts
  packages/types/src/user.ts
Labels: types, clerk-js

#4078 fix(tanstack-start): Fix hard reload flicker
  .changeset/stale-feet-tease.md
  packages/tanstack-start/src/client/ClerkProvider.tsx
  packages/tanstack-start/src/client/useAwaitableNavigate.ts
Labels: tanstack

#4077 chore(clerk-js): Add unverified/primary tag next to web3 wallet address
  .changeset/two-chairs-laugh.md
  packages/clerk-js/src/ui/components/UserProfile/Web3Section.tsx
Labels: clerk-js

#4081 chore(tanstack-start): Fix types for createClerkHandler
  .changeset/four-experts-learn.md
  packages/tanstack-start/src/client/ClerkProvider.tsx
  packages/tanstack-start/src/server/middlewareHandler.ts
Labels: tanstack

#4076 fix(backend): Add missing url property to Invitation object
  .changeset/good-snakes-confess.md
  packages/backend/src/api/resources/Invitation.ts
Labels: backend

#4082 feat(clerk-js,types,clerk-react): Support Coinbase Wallet web3 provider and authentication strategy
  .changeset/chilly-shrimps-stare.md
  package-lock.json
  packages/clerk-js/bundlewatch.config.json
  packages/clerk-js/package.json
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/resources/SignIn.ts
  packages/clerk-js/src/core/resources/SignUp.ts
  packages/clerk-js/src/ui/common/constants.ts
  packages/clerk-js/src/utils/injectedWeb3Providers.ts
  packages/clerk-js/src/utils/web3.ts
  packages/clerk-js/webpack.config.js
  packages/elements/src/react/hooks/use-third-party-provider.hook.ts
  packages/react/src/isomorphicClerk.ts
  packages/types/src/clerk.ts
  packages/types/src/signIn.ts
  packages/types/src/signUp.ts
  packages/types/src/web3.ts
Labels: types, clerk-js, react, elements

#3941 chore(clerk-js): Remove sessions instead of destroying the client
  .changeset/funny-monkeys-brush.md
  integration/presets/envs.ts
  integration/presets/longRunningApps.ts
  integration/templates/next-app-router/src/app/client-id.tsx
  integration/templates/next-app-router/src/app/layout.tsx
  integration/templates/next-app-router/src/app/page.tsx
  integration/templates/react-vite/src/App.tsx
  integration/templates/react-vite/src/client-id.tsx
  integration/templates/react-vite/src/main.tsx
  integration/tests/sign-out-smoke.test.ts
  package.json
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/resources/Client.ts
  packages/types/src/clerk.ts
  packages/types/src/client.ts
Labels: types, clerk-js, integration

#4061 feat(backend,types,clerk-js,clerk-react): Add the `fva` sessionClaim
  .changeset/eleven-apricots-rest.md
  package-lock.json
  packages/backend/src/tokens/authObjects.ts
  packages/clerk-js/src/core/resources/Session.ts
  packages/clerk-js/src/utils/memoizeStateListenerCallback.ts
  packages/react/src/contexts/AuthContext.ts
  packages/react/src/contexts/ClerkContextProvider.tsx
  packages/react/src/utils/deriveState.ts
  packages/types/src/json.ts
  packages/types/src/jwtv2.ts
  packages/types/src/session.ts
  packages/types/src/ssr.ts
Labels: types, clerk-js, react, backend

#4095 fix(clerk-js): Ensure we do not access `addEventListener` and `dispatchEvent` in non-browser environments
  .changeset/modern-foxes-run.md
  packages/clerk-js/src/utils/injectedWeb3Providers.ts
  packages/clerk-js/src/utils/web3.ts
Labels: clerk-js

#4087 fix(clerk-sdk-node): Correctly forward errors to `next()` if request URL is invalid
  .changeset/fast-boxes-knock.md
  packages/express/src/__tests__/clerkMiddleware.test.ts
  packages/express/src/__tests__/requireAuth.test.ts
  packages/sdk-node/src/__tests__/middleware.test.ts
  packages/sdk-node/src/authenticateRequest.ts
  packages/sdk-node/src/clerkExpressRequireAuth.ts
  packages/sdk-node/src/clerkExpressWithAuth.ts
Labels: sdk-node, express

#4090 chore(*): Run unit tests on node 18 only for packages with LTS support
  .changeset/nervous-buses-stare.md
  .github/workflows/ci.yml
Labels: actions

#4085 feat(clerk-js): Support phone_code for firstFactor in UV
  .changeset/ten-pigs-flash.md
  packages/clerk-js/src/ui/components/UserVerification/UVFactorOnePhoneCodeCard.tsx
  packages/clerk-js/src/ui/components/UserVerification/UserVerificationFactorOne.tsx
  packages/clerk-js/src/ui/components/UserVerification/__tests__/UVFactorOne.test.tsx
Labels: clerk-js

#4100 chore(repo): Fix unit tests in CI
  .changeset/afraid-dingos-sip.md
  packages/react/turbo.json
Labels: react

#4098 chore(clerk-react): Improve JSDoc coverage on ClerkProvider
  .changeset/few-schools-invent.md
  packages/react/src/types.ts
  packages/types/src/clerk.ts
  packages/types/src/multiDomain.ts
Labels: types, react

#4103 feat(elements): Add support for Coinbase Wallet Web3 provider
  .changeset/curly-rabbits-appear.md
  packages/elements/src/internals/machines/sign-in/start.machine.ts
  packages/elements/src/internals/machines/sign-in/verification.machine.ts
  packages/elements/src/internals/machines/sign-up/start.machine.ts
  packages/elements/src/react/utils/map-scope-to-strategy.ts
Labels: elements

#4092 chore(clerk-js,types,clerk-react,elements): Drop coinbase web3 provider
  .changeset/light-donuts-shake.md
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/resources/SignIn.ts
  packages/clerk-js/src/core/resources/SignUp.ts
  packages/clerk-js/src/ui/common/constants.ts
  packages/clerk-js/src/utils/injectedWeb3Providers.ts
  packages/clerk-js/src/utils/web3.ts
  packages/elements/src/internals/machines/sign-in/start.machine.ts
  packages/elements/src/internals/machines/sign-in/verification.machine.ts
  packages/elements/src/internals/machines/sign-up/start.machine.ts
  packages/elements/src/react/hooks/use-third-party-provider.hook.ts
  packages/elements/src/react/utils/map-scope-to-strategy.ts
  packages/react/src/isomorphicClerk.ts
  packages/types/src/clerk.ts
  packages/types/src/signIn.ts
  packages/types/src/signUp.ts
  packages/types/src/web3.ts
Labels: types, clerk-js, react, elements

#3976 feat(ui): Initial AppearanceProvider support
  .changeset/ninety-months-bathe.md
  .changeset/stupid-buses-peel.md
  package-lock.json
  packages/clerk-js/jest.setup.ts
  packages/elements/src/internals/machines/sign-in/verification.machine.ts
  packages/ui/package.json
  packages/ui/src/common/connections.tsx
  packages/ui/src/components/sign-in/sign-in.tsx
  packages/ui/src/components/sign-in/steps/choose-session.tsx
  packages/ui/src/components/sign-in/steps/choose-strategy.tsx
  packages/ui/src/components/sign-in/steps/forgot-password.tsx
  packages/ui/src/components/sign-in/steps/get-help.tsx
  packages/ui/src/components/sign-in/steps/reset-password.tsx
  packages/ui/src/components/sign-in/steps/start.tsx
  packages/ui/src/components/sign-in/steps/status.tsx
  packages/ui/src/components/sign-in/steps/verifications.tsx
  packages/ui/src/components/sign-up/steps/continue.tsx
  packages/ui/src/components/sign-up/steps/start.tsx
  packages/ui/src/components/sign-up/steps/status.tsx
  packages/ui/src/components/sign-up/steps/verifications.tsx
  packages/ui/src/contexts/AppearanceContext.test.tsx
  packages/ui/src/contexts/AppearanceContext.tsx
  packages/ui/src/contexts/index.ts
  packages/ui/src/hooks/use-appearance.ts
  packages/ui/src/hooks/use-card.ts
  packages/ui/src/hooks/use-dev-mode-warning.ts
  packages/ui/src/primitives/alert.tsx
  packages/ui/src/primitives/animated.tsx
  packages/ui/src/primitives/card.tsx
  packages/ui/src/themes/buildTheme.ts
  packages/ui/src/themes/full.ts
  packages/ui/src/themes/index.ts
  packages/ui/src/themes/layout.ts
  packages/ui/testSetup.js
  packages/ui/theme-builder/app/components/logo.tsx
  packages/ui/theme-builder/app/page.tsx
  packages/ui/theme-builder/app/theme-builder.tsx
  packages/ui/theme-builder/package-lock.json
  packages/ui/theme-builder/public/clerk-logo-dark-accent.svg
  packages/ui/tsconfig.build.json
  packages/ui/tsconfig.json
  packages/ui/tsup.config.ts
  packages/ui/vitest.config.mts
Labels: clerk-js, elements

#4064 feat(elements): Remove direct reliance on next and clerk-react
  .changeset/good-jeans-call.md
  package-lock.json
  packages/elements/package.json
  packages/elements/src/internals/constants/index.ts
  packages/elements/src/internals/machines/shared/shared.actors.ts
  packages/elements/src/internals/utils/inspector/browser/index.ts
  packages/elements/src/internals/utils/inspector/console/index.ts
  packages/elements/src/react/common/form/input.tsx
  packages/elements/src/react/common/loading.tsx
  packages/elements/src/react/hooks/use-password.hook.ts
  packages/elements/src/react/hooks/use-third-party-provider.hook.ts
  packages/elements/src/react/router/index.ts
  packages/elements/src/react/router/next.ts
  packages/elements/src/react/sign-in/root.tsx
  packages/elements/src/react/sign-in/step.tsx
  packages/elements/src/react/sign-up/root.tsx
  packages/elements/src/react/sign-up/step.tsx
  packages/elements/src/utils/safe-access.ts
  packages/nextjs/src/app-router/client/ClerkProvider.tsx
  packages/shared/src/react/contexts.tsx
  packages/shared/src/react/index.ts
  packages/shared/src/router.ts
  packages/shared/src/router/react.tsx
Labels: nextjs, elements

#4094 fix(ui): Ensure card take up their max available space
  .changeset/famous-singers-care.md
  packages/elements/src/react/sign-in/choose-session/choose-session.tsx
  packages/elements/src/react/sign-in/choose-strategy.tsx
  packages/ui/src/components/sign-in/steps/choose-session.tsx
  packages/ui/src/components/sign-in/steps/choose-strategy.tsx
  packages/ui/src/components/sign-in/steps/forgot-password.tsx
  packages/ui/src/components/sign-in/steps/reset-password.tsx
  packages/ui/src/components/sign-in/steps/start.tsx
  packages/ui/src/components/sign-in/steps/verifications.tsx
  packages/ui/src/components/sign-up/steps/continue.tsx
  packages/ui/src/components/sign-up/steps/start.tsx
  packages/ui/src/components/sign-up/steps/verifications.tsx
  packages/ui/src/primitives/card.tsx
  packages/ui/src/types/utils.ts
Labels: elements

#4107 fix(localizations):Update Simplified Chinese Translation
  .changeset/sweet-birds-nail.md
  packages/localizations/src/zh-CN.ts
Labels: localizations

#4112 fix(clerk-js): Ensure getToken() reads correct organization ID
  .changeset/bright-falcons-move.md
  packages/clerk-js/src/core/resources/Session.ts
  packages/clerk-js/src/core/resources/__tests__/Session.test.ts
Labels: clerk-js

#4063 feat(nextjs): Add support for `basePath` config property
  .changeset/lucky-trains-cover.md
  packages/nextjs/.eslintrc.js
  packages/nextjs/src/app-router/client/useInternalNavFun.ts
  packages/nextjs/src/pages/ClerkProvider.tsx
  packages/nextjs/src/utils/__tests__/removeBasePath.test.ts
  packages/nextjs/src/utils/index.ts
  packages/nextjs/src/utils/removeBasePath.ts
Labels: nextjs

#4093 feat(elements): Allow for Passkey events in verifications
  .changeset/silent-students-vanish.md
  packages/elements/src/internals/machines/sign-in/router.machine.ts
  packages/elements/src/internals/machines/sign-in/verification.machine.ts
Labels: elements

#4119 fix(elements): Form machine error typing
  .changeset/proud-coats-look.md
  packages/elements/src/internals/errors/index.ts
  packages/elements/src/internals/machines/form/form.machine.ts
  packages/shared/src/error.ts
Labels: elements

#4122 chore(astro): Allow child elements in unstyled Astro components
  .changeset/rare-onions-rest.md
  integration/templates/astro-node/src/pages/buttons.astro
  packages/astro/src/astro-components/unstyled/SignInButton.astro
  packages/astro/src/astro-components/unstyled/SignOutButton.astro
  packages/astro/src/astro-components/unstyled/SignUpButton.astro
  packages/astro/src/astro-components/unstyled/utils.ts
  packages/astro/src/types.ts
Labels: integration

#4137 fix(clerk-expo): Ensure correct mobile detection for native requests
  .changeset/moody-donuts-explode.md
  packages/expo/src/provider/singleton/createClerkInstance.ts
Labels: expo

#4128 feat(tanstack-start): Export @clerk/backend from server subpath
  .changeset/poor-months-share.md
  packages/tanstack-start/src/server/clerkClient.ts
  packages/tanstack-start/src/server/constants.ts
  packages/tanstack-start/src/server/index.ts
  packages/tanstack-start/src/server/loadOptions.ts
  packages/tanstack-start/src/utils/env.ts
Labels: tanstack

#4139 fix(backend): Missing `deleteSelfEnabled` from User
  .changeset/angry-phones-nail.md
  packages/backend/src/api/resources/JSON.ts
  packages/backend/src/api/resources/User.ts
Labels: backend

#4130 ci(repo): Version packages
  .changeset/angry-phones-nail.md
  .changeset/moody-clocks-repeat.md
  .changeset/moody-donuts-explode.md
  .changeset/poor-months-share.md
  .changeset/rare-onions-rest.md
  .changeset/thirty-hotels-buy.md
  package-lock.json
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/tanstack-start/CHANGELOG.md
  packages/tanstack-start/package.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, sdk-node, expo, chrome-extension, themes, elements, express, testing, tanstack

#4146 ci(repo): Version packages
  .changeset/clever-moose-return.md
  .changeset/thirty-squids-grow.md
  package-lock.json
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/tanstack-start/CHANGELOG.md
  packages/tanstack-start/package.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
Labels: clerk-js, nextjs, react, remix, backend, fastify, sdk-node, expo, chrome-extension, elements, express, testing, tanstack

#4123 chore(clerk-js,types,localizations): Add translation keys for organizations API errors
  .changeset/silly-carrots-repeat.md
  packages/clerk-js/bundlewatch.config.json
  packages/clerk-js/src/ui/components/OrganizationProfile/InviteMembersForm.tsx
  packages/clerk-js/src/ui/localization/makeLocalizable.tsx
  packages/localizations/src/ar-SA.ts
  packages/localizations/src/bg-BG.ts
  packages/localizations/src/cs-CZ.ts
  packages/localizations/src/da-DK.ts
  packages/localizations/src/de-DE.ts
  packages/localizations/src/el-GR.ts
  packages/localizations/src/en-US.ts
  packages/localizations/src/es-ES.ts
  packages/localizations/src/es-MX.ts
  packages/localizations/src/fi-FI.ts
  packages/localizations/src/fr-FR.ts
  packages/localizations/src/he-IL.ts
  packages/localizations/src/hu-HU.ts
  packages/localizations/src/is-IS.ts
  packages/localizations/src/it-IT.ts
  packages/localizations/src/ja-JP.ts
  packages/localizations/src/ko-KR.ts
  packages/localizations/src/mn-MN.ts
  packages/localizations/src/nb-NO.ts
  packages/localizations/src/nl-NL.ts
  packages/localizations/src/pl-PL.ts
  packages/localizations/src/pt-BR.ts
  packages/localizations/src/pt-PT.ts
  packages/localizations/src/ro-RO.ts
  packages/localizations/src/ru-RU.ts
  packages/localizations/src/sk-SK.ts
  packages/localizations/src/sr-RS.ts
  packages/localizations/src/sv-SE.ts
  packages/localizations/src/th-TH.ts
  packages/localizations/src/tr-TR.ts
  packages/localizations/src/uk-UA.ts
  packages/localizations/src/vi-VN.ts
  packages/localizations/src/zh-CN.ts
  packages/localizations/src/zh-TW.ts
  packages/types/src/localization.ts
Labels: types, clerk-js, localizations

#4148 fix(localizations): update missing field for profile button
  .changeset/yellow-ads-beam.md
  packages/localizations/src/es-ES.ts
Labels: localizations

#4151 chore(localizations): Replace empty strings with undefined
  .changeset/happy-cooks-lie.md
  packages/localizations/src/ar-SA.ts
  packages/localizations/src/bg-BG.ts
  packages/localizations/src/ca-ES.ts
  packages/localizations/src/cs-CZ.ts
  packages/localizations/src/da-DK.ts
  packages/localizations/src/de-DE.ts
  packages/localizations/src/el-GR.ts
  packages/localizations/src/en-US.ts
  packages/localizations/src/es-ES.ts
  packages/localizations/src/es-MX.ts
  packages/localizations/src/fi-FI.ts
  packages/localizations/src/fr-FR.ts
  packages/localizations/src/he-IL.ts
  packages/localizations/src/hu-HU.ts
  packages/localizations/src/is-IS.ts
  packages/localizations/src/it-IT.ts
  packages/localizations/src/ja-JP.ts
  packages/localizations/src/ko-KR.ts
  packages/localizations/src/mn-MN.ts
  packages/localizations/src/nb-NO.ts
  packages/localizations/src/nl-NL.ts
  packages/localizations/src/pl-PL.ts
  packages/localizations/src/pt-BR.ts
  packages/localizations/src/pt-PT.ts
  packages/localizations/src/ro-RO.ts
  packages/localizations/src/ru-RU.ts
  packages/localizations/src/sk-SK.ts
  packages/localizations/src/sr-RS.ts
  packages/localizations/src/sv-SE.ts
  packages/localizations/src/th-TH.ts
  packages/localizations/src/tr-TR.ts
  packages/localizations/src/uk-UA.ts
  packages/localizations/src/vi-VN.ts
  packages/localizations/src/zh-CN.ts
  packages/localizations/src/zh-TW.ts
Labels: localizations

#4153 chore(backend): Add webhook event types for roles and permissions
  .changeset/mean-swans-relax.md
  packages/backend/src/api/resources/JSON.ts
  packages/backend/src/api/resources/Webhooks.ts
Labels: backend

#4155 Vendor path-to-regexp (v4)
  .changeset/young-jeans-prove.md
  package-lock.json
  packages/nextjs/package.json
  packages/nextjs/src/utils/pathMatchers.ts
  packages/nextjs/src/utils/pathToRegexp.ts
Labels: nextjs

#4156 Version Packages - V4
  .changeset/young-jeans-prove.md
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
Labels: nextjs

#4118 feat(clerk-js,clerk-react,types,nextjs): Support assurance in `has()`
  .changeset/red-pens-rest.md
  packages/backend/src/tokens/authObjects.ts
  packages/clerk-js/src/core/resources/Session.ts
  packages/clerk-js/src/core/resources/__tests__/Session.test.ts
  packages/clerk-js/src/core/test/fixtures.ts
  packages/react/src/hooks/__tests__/useAuth.test.ts
  packages/react/src/hooks/useAuth.ts
  packages/shared/src/authorization.ts
  packages/shared/subpaths.mjs
  packages/types/src/session.ts
Labels: types, clerk-js, react, backend

#4056 fix(ui,clerk-js,shared): Make use of parsed localizations in hook
  .changeset/lovely-olives-itch.md
  packages/clerk-js/src/ui/customizables/parseAppearance.ts
  packages/clerk-js/src/ui/localization/parseLocalization.ts
  packages/clerk-js/src/ui/styledSystem/createVariants.ts
  packages/clerk-js/src/ui/utils/index.ts
  packages/shared/src/__tests__/fastDeepMerge.test.ts
  packages/shared/src/fastDeepMerge.ts
  packages/shared/src/index.ts
  packages/ui/src/hooks/use-localizations.ts
Labels: clerk-js

#4152 chore(localizations,types): Add translation keys for new organization name validation error
  .changeset/clever-dots-return.md
  packages/localizations/src/ar-SA.ts
  packages/localizations/src/bg-BG.ts
  packages/localizations/src/cs-CZ.ts
  packages/localizations/src/da-DK.ts
  packages/localizations/src/de-DE.ts
  packages/localizations/src/el-GR.ts
  packages/localizations/src/en-US.ts
  packages/localizations/src/es-ES.ts
  packages/localizations/src/es-MX.ts
  packages/localizations/src/fi-FI.ts
  packages/localizations/src/fr-FR.ts
  packages/localizations/src/he-IL.ts
  packages/localizations/src/hu-HU.ts
  packages/localizations/src/is-IS.ts
  packages/localizations/src/it-IT.ts
  packages/localizations/src/ja-JP.ts
  packages/localizations/src/ko-KR.ts
  packages/localizations/src/mn-MN.ts
  packages/localizations/src/nb-NO.ts
  packages/localizations/src/nl-NL.ts
  packages/localizations/src/pl-PL.ts
  packages/localizations/src/pt-BR.ts
  packages/localizations/src/pt-PT.ts
  packages/localizations/src/ro-RO.ts
  packages/localizations/src/ru-RU.ts
  packages/localizations/src/sk-SK.ts
  packages/localizations/src/sr-RS.ts
  packages/localizations/src/sv-SE.ts
  packages/localizations/src/th-TH.ts
  packages/localizations/src/tr-TR.ts
  packages/localizations/src/uk-UA.ts
  packages/localizations/src/vi-VN.ts
  packages/localizations/src/zh-CN.ts
  packages/localizations/src/zh-TW.ts
  packages/types/src/localization.ts
Labels: types, localizations

#4157 feat(express): Make handshake opt-in
  .changeset/witty-knives-build.md
  package-lock.json
  packages/express/package.json
  packages/express/src/__tests__/clerkMiddleware.test.ts
  packages/express/src/__tests__/helpers.ts
  packages/express/src/clerkMiddleware.ts
  packages/express/src/types.ts
Labels: express

#4158 chore(express): Opt-out of telemetry
  .changeset/cold-actors-trade.md
  packages/express/src/utils.ts
Labels: express

#4159 feat(express): Make `requireAuth` middleware flexible
  .changeset/popular-coats-turn.md
  packages/express/README.md
  packages/express/src/__tests__/__snapshots__/exports.test.ts.snap
  packages/express/src/__tests__/requireAuth.test.ts
  packages/express/src/index.ts
  packages/express/src/requireAuth.ts
Labels: express

#4162 chore(e2e): Add tests for custom pages and items from UserProfile and UserButton
  .changeset/thirty-walls-crash.md
  integration/templates/react-vite/src/PageContext.tsx
  integration/templates/react-vite/src/custom-user-button/index.tsx
  integration/templates/react-vite/src/custom-user-profile/index.tsx
  integration/templates/react-vite/src/main.tsx
  integration/testUtils/index.ts
  integration/testUtils/userButtonPageObject.ts
  integration/tests/custom-pages.test.ts
Labels: integration

#4167 chore(express): Update playground to use correct error handlers
  .changeset/stale-teachers-greet.md
  playground/express/package.json
  playground/express/src/routes/private.ts
Labels: playground

#4171 fix(backend): Do not cache 307 redirects
  .changeset/spotty-students-judge.md
  package-lock.json
  packages/backend/src/constants.ts
  packages/backend/src/tokens/__tests__/request.test.ts
  packages/backend/src/tokens/request.ts
  packages/fastify/src/__tests__/__snapshots__/constants.test.ts.snap
Labels: backend, fastify

#4006 feat(testing): Introduce helpers for Playwright
  .changeset/chilly-seas-boil.md
  packages/testing/src/common/helpers-utils.ts
  packages/testing/src/common/index.ts
  packages/testing/src/common/types.ts
  packages/testing/src/cypress/custom-commands.ts
  packages/testing/src/playwright/helpers.ts
  packages/testing/src/playwright/index.ts
Labels: testing

#4168 Croatian (hr-HR) localization added
  .changeset/ten-avocados-refuse.md
  packages/localizations/package.json
  packages/localizations/src/hr-HR.ts
  packages/localizations/src/index.ts
  packages/localizations/subpaths.mjs
Labels: localizations

#4154 feat(backend): Add support for refresh token flow
  .changeset/wicked-buses-hammer.md
  packages/backend/src/api/endpoints/SessionApi.ts
  packages/backend/src/constants.ts
  packages/backend/src/fixtures/index.ts
  packages/backend/src/tokens/__tests__/request.test.ts
  packages/backend/src/tokens/authenticateContext.ts
  packages/backend/src/tokens/clerkRequest.ts
  packages/backend/src/tokens/factory.ts
  packages/backend/src/tokens/request.ts
  packages/backend/src/tokens/types.ts
  packages/fastify/src/__tests__/__snapshots__/constants.test.ts.snap
  packages/nextjs/src/server/clerkMiddleware.ts
Labels: nextjs, backend, fastify

#4174 fix(localizations): Formatting error in he-IL
  .changeset/ten-olives-knock.md
  packages/localizations/src/he-IL.ts
Labels: localizations

#4173 ci(repo): Version packages
  .changeset/friendly-bottles-sin.md
  .changeset/grumpy-clocks-own.md
  .changeset/quick-hornets-float.md
  .changeset/slow-carrots-fix.md
  .changeset/ten-avocados-refuse.md
  .changeset/ten-olives-knock.md
  .changeset/wicked-buses-hammer.md
  package-lock.json
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/dev-cli/CHANGELOG.md
  packages/dev-cli/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/tanstack-start/CHANGELOG.md
  packages/tanstack-start/package.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
Labels: clerk-js, nextjs, remix, backend, fastify, localizations, sdk-node, expo, chrome-extension, express, testing, tanstack

#4176 fix(clerk-js): Add explicit text color to phone number combobox select option
  .changeset/wild-seals-beg.md
  packages/clerk-js/src/ui/elements/PhoneInput/PhoneInput.tsx
Labels: clerk-js

#4179 ci(repo): Version packages
  .changeset/shaggy-lobsters-film.md
  .changeset/wild-seals-beg.md
  package-lock.json
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/tanstack-start/CHANGELOG.md
  packages/tanstack-start/package.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
Labels: clerk-js, nextjs, react, remix, backend, fastify, sdk-node, expo, chrome-extension, elements, express, testing, tanstack

#4180 chore(repo): QoL for subpaths script
  .changeset/moody-fans-kneel.md
  packages/localizations/subpaths.mjs
  packages/react/subpaths.mjs
  packages/shared/package.json
  packages/shared/subpaths.mjs
Labels: react, localizations

#4160 feat(nextjs): Allows access to `request` object to dynamically define `clerkMiddleware` options
  .changeset/ten-months-kick.md
  packages/nextjs/src/server/__tests__/clerkMiddleware.test.ts
  packages/nextjs/src/server/clerkClient.ts
  packages/nextjs/src/server/clerkMiddleware.ts
Labels: nextjs

#4184 fix(backend): Append the handshake reason as a query param
  .changeset/warm-cows-beam.md
  integration/tests/handshake.test.ts
  packages/backend/src/constants.ts
  packages/backend/src/tokens/request.ts
Labels: backend, integration

#4181 chore(localizations): `nl-NL` updates
  .changeset/silent-buses-carry.md
  packages/localizations/src/nl-NL.ts
Labels: localizations

#4183 ci(repo): Version packages
  .changeset/moody-fans-kneel.md
  .changeset/silent-buses-carry.md
  .changeset/ten-months-kick.md
  .changeset/twenty-weeks-accept.md
  .changeset/warm-cows-beam.md
  package-lock.json
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/tanstack-start/CHANGELOG.md
  packages/tanstack-start/package.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
Labels: clerk-js, nextjs, remix, backend, fastify, localizations, sdk-node, expo, chrome-extension, express, testing, tanstack

#4190 chore(types): Improve ClerkProvider JSDoc
  .changeset/cyan-mirrors-notice.md
  packages/expo/src/provider/ClerkProvider.tsx
  packages/react/src/types.ts
  packages/types/src/clerk.ts
Labels: types, react, expo

#4191 fix(clerk-js): UP/OP footer padding on small screens
  .changeset/nasty-walls-double.md
  packages/clerk-js/src/ui/elements/Card/CardFooter.tsx
Labels: clerk-js

#4189 test(express): Make sure debug headers are not injected by default
  .changeset/four-wolves-float.md
  packages/express/src/__tests__/clerkMiddleware.test.ts
Labels: express

#4188 chore(clerk-js,elements,shared): Move `iconImageUrl` util to shared package
  .changeset/tricky-poems-yell.md
  packages/clerk-js/src/ui/common/constants.ts
  packages/clerk-js/src/ui/elements/IdentityPreview.tsx
  packages/clerk-js/src/ui/hooks/useEnabledThirdPartyProviders.tsx
  packages/clerk-js/src/ui/hooks/useSaml.ts
  packages/elements/src/utils/clerk-js.ts
  packages/elements/src/utils/third-party-strategies.ts
  packages/shared/src/constants.ts
Labels: clerk-js, elements

#4205 fix(backend): Replace `session-token-outdated` error with more specific errors
  .changeset/ninety-comics-scream.md
  packages/backend/src/errors.ts
  packages/backend/src/jwt/assertions.ts
  packages/backend/src/tokens/__tests__/request.test.ts
  packages/backend/src/tokens/authStatus.ts
  packages/backend/src/tokens/request.ts
Labels: backend

#4200 fix(clerk-js): UserButton sign out of all accounts visibility
  .changeset/violet-kangaroos-lay.md
  packages/clerk-js/src/ui/components/UserButton/UserButtonPopover.tsx
Labels: clerk-js

#4193 fix(backend): Add more error reasons for refresh token query param
  .changeset/weak-trees-perform.md
  integration/tests/handshake.test.ts
  packages/backend/src/tokens/request.ts
Labels: backend, integration

#4196 chore(backend): Introduce `include_members_count` parameter to `getOrganization`
  .changeset/light-geckos-allow.md
  packages/backend/src/api/endpoints/OrganizationApi.ts
Labels: backend

#4213 fix(backend): Drop the `__clerk_refresh` debugging query param
  .changeset/tender-apes-smile.md
  integration/tests/handshake.test.ts
  packages/backend/src/constants.ts
  packages/backend/src/tokens/__tests__/request.test.ts
  packages/backend/src/tokens/authStatus.ts
  packages/backend/src/tokens/request.ts
Labels: backend, integration

#4192 ci(repo): Version packages
  .changeset/big-elephants-add.md
  .changeset/cyan-mirrors-notice.md
  .changeset/four-wolves-float.md
  .changeset/green-hairs-drive.md
  .changeset/heavy-planes-smash.md
  .changeset/light-geckos-allow.md
  .changeset/nasty-walls-double.md
  .changeset/ninety-comics-scream.md
  .changeset/orange-scissors-marry.md
  .changeset/quiet-readers-behave.md
  .changeset/tender-apes-smile.md
  .changeset/three-falcons-glow.md
  .changeset/tricky-poems-yell.md
  .changeset/violet-kangaroos-lay.md
  .changeset/weak-trees-perform.md
  package-lock.json
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/tanstack-start/CHANGELOG.md
  packages/tanstack-start/package.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, sdk-node, expo, chrome-extension, themes, elements, express, testing, tanstack

#4210 feat(clerk-js,types): Supports default role on `OrganizationProfile` invitations
  .changeset/large-chefs-move.md
  packages/clerk-js/src/core/resources/OrganizationSettings.ts
  packages/clerk-js/src/ui/components/OrganizationProfile/InviteMembersForm.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/__tests__/InviteMembersPage.test.tsx
  packages/clerk-js/src/ui/utils/test/fixtureHelpers.ts
  packages/types/src/organizationSettings.ts
Labels: types, clerk-js

#4215 fix(clerk-js,types): Add type for __internal_country
  .changeset/lazy-rabbits-fry.md
  packages/clerk-js/src/ui/elements/PhoneInput/PhoneInput.tsx
  packages/types/src/clerk.ts
  packages/ui/src/common/phone-number-field.tsx
Labels: types, clerk-js

#4206 feat(clerk-js,ui,types): Hide sign up url from <SignIn /> component mode is restricted
  .changeset/gold-lamps-appear.md
  packages/clerk-js/bundlewatch.config.json
  packages/clerk-js/src/core/constants.ts
  packages/clerk-js/src/ui/components/SignIn/SignInStart.tsx
  packages/clerk-js/src/ui/components/SignIn/__tests__/SignInStart.test.tsx
  packages/clerk-js/src/ui/utils/test/fixtureHelpers.ts
  packages/types/src/userSettings.ts
  packages/ui/src/components/sign-in/steps/start.tsx
  packages/ui/src/constants/user-settings.ts
Labels: types, clerk-js

#4218 fix(clerk-js): Handle gracefully Coinbase Wallet initial configuration
  .changeset/gold-vans-swim.md
  packages/clerk-js/src/core/resources/SignUp.ts
Labels: clerk-js

#4214 ci(repo): Version packages
  .changeset/gold-lamps-appear.md
  .changeset/gold-vans-swim.md
  .changeset/large-chefs-move.md
  .changeset/lazy-rabbits-fry.md
  .changeset/ninety-timers-serve.md
  .changeset/shiny-turtles-double.md
  package-lock.json
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/tanstack-start/CHANGELOG.md
  packages/tanstack-start/package.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, sdk-node, expo, chrome-extension, themes, elements, express, testing, tanstack

#4211 feat(clerk-js,backend,types): Implement "disable additional identifiers" for SAML connection
  .changeset/fresh-forks-talk.md
  packages/backend/src/api/resources/JSON.ts
  packages/backend/src/api/resources/SamlAccount.ts
  packages/backend/src/api/resources/SamlConnection.ts
  packages/clerk-js/bundlewatch.config.json
  packages/clerk-js/src/core/resources/SamlAccount.ts
  packages/clerk-js/src/ui/components/UserProfile/AccountPage.tsx
  packages/clerk-js/src/ui/components/UserProfile/ConnectedAccountsSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/EmailsSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/PhoneSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/Web3Section.tsx
  packages/clerk-js/src/ui/components/UserProfile/__tests__/AccountPage.test.tsx
  packages/types/src/index.ts
  packages/types/src/json.ts
  packages/types/src/samlAccount.ts
  packages/types/src/samlConnection.ts
Labels: types, clerk-js, backend

#4224 feat(backend,types): Introduces organization domains CRUD API
  .changeset/tame-forks-type.md
  packages/backend/src/api/endpoints/OrganizationApi.ts
  packages/backend/src/api/resources/OrganizationDomain.ts
  packages/backend/src/api/resources/Verification.ts
  packages/backend/src/api/resources/index.ts
  packages/types/src/json.ts
Labels: types, backend

#4227 fix(clerk-js): Update existing `SignUp` object on `SignUpContinue` OAuth [backport]
  .changeset/loud-tables-rush.md
  packages/clerk-js/src/ui/components/SignUp/SignUpContinue.tsx
Labels: clerk-js, cherry

#4228 Version Packages - V4
  .changeset/loud-tables-rush.md
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
Labels: clerk-js, expo, chrome-extension

#4220 feat(clerk-js,types,localizations): Render "Restricted access" screen for restricted signup mode
  .changeset/warm-points-accept.md
  packages/clerk-js/src/ui/components/SignUp/SignUpRestrictedAccess.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpStart.tsx
  packages/clerk-js/src/ui/components/SignUp/__tests__/SignUpStart.test.tsx
  packages/clerk-js/src/ui/icons/block.svg
  packages/clerk-js/src/ui/icons/index.ts
  packages/clerk-js/src/ui/utils/test/fixtureHelpers.ts
  packages/localizations/src/en-US.ts
  packages/types/src/localization.ts
Labels: types, clerk-js, localizations

#4230 chore(nextjs): Remove unused utilities
  .changeset/odd-days-obey.md
  packages/nextjs/src/server/utils.ts
Labels: nextjs

#4232 chore(clerk-js): Handle `sign_up_mode_restricted` error encountered in an oauth flow
  .changeset/honest-falcons-tie.md
  packages/clerk-js/src/core/constants.ts
  packages/clerk-js/src/ui/components/SignIn/SignInStart.tsx
Labels: clerk-js

#4212 feat(clerk-js): Add Rsdoctor support
  .changeset/fast-lies-smell.md
  package-lock.json
  packages/clerk-js/.eslintrc.js
  packages/clerk-js/package.json
  packages/clerk-js/webpack.config.js
Labels: clerk-js

#4233 fix(clerk-js): Pass `defaultOpen` prop within org switcher
  .changeset/cyan-turtles-fly.md
  packages/clerk-js/src/ui/components/OrganizationSwitcher/OrganizationSwitcher.tsx
Labels: clerk-js

#4237 fix(backend): Add a new handshake reason for debug
  .changeset/early-seahorses-warn.md
  packages/backend/src/tokens/request.ts
Labels: backend

#4234 chore(express): Refactor `requireAuth` and `clerkMiddleware` middlewares
  .changeset/wise-dryers-perform.md
  packages/express/README.md
  packages/express/src/__tests__/__snapshots__/exports.test.ts.snap
  packages/express/src/__tests__/clerkMiddleware.test.ts
  packages/express/src/__tests__/helpers.ts
  packages/express/src/__tests__/requireAuth.test.ts
  packages/express/src/authenticateRequest.ts
  packages/express/src/clerkMiddleware.ts
  packages/express/src/errors.ts
  packages/express/src/getAuth.ts
  packages/express/src/index.ts
  packages/express/src/requireAuth.ts
  packages/express/src/types.ts
  packages/express/src/utils.ts
Labels: express

#4240 chore(clerk-js): Preserve password input focus on error
  .changeset/brave-plants-lick.md
  packages/clerk-js/src/ui/components/SignIn/SignInFactorOnePasswordCard.tsx
Labels: clerk-js

#4244 fix(backend): Handle "Cannot convert argument to a ByteString" errors
  .changeset/yellow-lobsters-smile.md
  packages/backend/src/tokens/__tests__/authStatus.test.ts
  packages/backend/src/tokens/authStatus.ts
Labels: backend

#4238 ci(repo): Version packages
  .changeset/brave-plants-lick.md
  .changeset/early-seahorses-warn.md
  .changeset/tricky-bikes-move.md
  .changeset/wise-dryers-perform.md
  .changeset/yellow-lobsters-smile.md
  package-lock.json
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/tanstack-start/CHANGELOG.md
  packages/tanstack-start/package.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
Labels: clerk-js, nextjs, remix, backend, fastify, sdk-node, expo, chrome-extension, express, testing, tanstack

#4243 chore(clerk-js): Allow single-character usernames in `<UserProfile />` validation
  .changeset/cold-mayflies-happen.md
  packages/clerk-js/src/ui/components/UserProfile/UsernameForm.tsx
Labels: clerk-js

#4248 chore(express): Set default `enableHandshake` option value to true
  .changeset/quiet-chicken-cover.md
  packages/express/src/__tests__/clerkMiddleware.test.ts
  packages/express/src/__tests__/requireAuth.test.ts
  packages/express/src/authenticateRequest.ts
  packages/express/src/types.ts
Labels: express

#4203 fix(clerk-js): Navigate to `/choose` when signing out during multi session
  .changeset/three-nails-fetch.md
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/ui/components/UserButton/__tests__/UserButton.test.tsx
  packages/clerk-js/src/ui/utils/test/mockHelpers.ts
Labels: clerk-js
