Repository clerk/javascript, pull requests merged in 2024-01, with the labels that each got.

#2456 chore(clerk-js): Remove unused getClerkQueryParam, decodeBase16, PickSiblingProps
  .changeset/tasty-months-try.md
  packages/clerk-js/src/ui/styledSystem/types.ts
  packages/clerk-js/src/utils/decodeBase16.ts
  packages/clerk-js/src/utils/getClerkQueryParam.ts
  packages/clerk-js/src/utils/index.ts
Labels: clerk-js

#2450 fix(clerk-js): Fetching custom role in OrganizationSwitcher with cache (#2430)
  .changeset/two-crews-talk.md
  packages/clerk-js/src/ui/components/OrganizationProfile/RemoveDomainPage.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/VerifiedDomainPage.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/VerifyDomainPage.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/__tests__/InviteMembersPage.test.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/__tests__/OrganizationMembers.test.tsx
  packages/clerk-js/src/ui/components/OrganizationSwitcher/OrganizationSwitcherPopover.tsx
  packages/clerk-js/src/ui/components/OrganizationSwitcher/OrganizationSwitcherTrigger.tsx
  packages/clerk-js/src/ui/components/OrganizationSwitcher/__tests__/OrganizationSwitcher.test.tsx
  packages/clerk-js/src/ui/elements/OrganizationPreview.tsx
  packages/clerk-js/src/ui/hooks/useFetch.ts
  packages/clerk-js/src/ui/hooks/useFetchRoles.ts
Labels: clerk-js

#2454 chore(localizations): Add missing form_code_incorrect for tr
  packages/localizations/src/tr-TR.ts
Labels: localizations

#2453 chore(elements): Update example app
  .changeset/flat-waves-cheat.md
  packages/elements/examples/nextjs/app/layout.tsx
  packages/elements/examples/nextjs/app/page.tsx
  packages/elements/examples/nextjs/public/clerk.svg
Labels: elements

#2447 feat(clerk-sdk-node): Implement support for the handshake flow
  .changeset/funny-pots-brush.md
  packages/sdk-node/src/__tests__/middleware.test.ts
  packages/sdk-node/src/authenticateRequest.ts
  packages/sdk-node/src/clerkExpressRequireAuth.ts
  packages/sdk-node/src/clerkExpressWithAuth.ts
Labels: sdk-node

#2451 feat(elements): Social auth implementation & clean-up
  .changeset/warm-books-begin.md
  packages/elements/examples/nextjs/app/sign-in/[[...sign-in]]/page.tsx
  packages/elements/examples/nextjs/components/debug.tsx
  packages/elements/src/common/social-providers.tsx
  packages/elements/src/index.tsx
  packages/elements/src/internals/machines/sign-in.actors.ts
  packages/elements/src/internals/machines/sign-in.context.ts
  packages/elements/src/internals/machines/sign-in.machine.ts
  packages/elements/src/internals/machines/sign-in.types.ts
  packages/elements/src/internals/machines/utils/assert.ts
  packages/elements/src/internals/machines/utils/states.ts
  packages/elements/src/sign-in/index.tsx
  packages/elements/src/utils/clerk-js.ts
  packages/elements/src/utils/third-party-strategies.ts
Labels: elements

#2459 fix(clerk-js): Avoid triggering prepare verification twice
  .changeset/flat-bugs-visit.md
  packages/clerk-js/src/ui/components/SignUp/SignUpEmailCodeCard.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpPhoneCodeCard.tsx
  packages/clerk-js/src/ui/components/SignUp/__tests__/SignUpVerifyEmail.test.tsx
  packages/clerk-js/src/ui/components/SignUp/__tests__/SignUpVerifyPhone.test.tsx
  packages/clerk-js/src/ui/hooks/useFetch.ts
Labels: clerk-js

#2458 fix(clerk-js): Avoid triggering prepare verification twice
  .changeset/flat-bugs-visit.md
  packages/clerk-js/src/ui/components/SignUp/SignUpEmailCodeCard.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpPhoneCodeCard.tsx
  packages/clerk-js/src/ui/components/SignUp/__tests__/SignUpVerifyEmail.test.tsx
  packages/clerk-js/src/ui/components/SignUp/__tests__/SignUpVerifyPhone.test.tsx
  packages/clerk-js/src/ui/hooks/useFetch.ts
Labels: clerk-js, cherry

#2460 refactor(elements): Use string states
  .changeset/fluffy-queens-tap.md
  packages/elements/src/internals/machines/sign-in.machine.ts
  packages/elements/src/utils/third-party-strategies.ts
Labels: elements

#2461 chore(clerk-js): Remove unused color utilities
  .changeset/warm-jars-camp.md
  packages/clerk-js/src/ui/utils/colorPredicates.ts
  packages/clerk-js/src/ui/utils/colorTransformations.ts
Labels: clerk-js

#2465 fix(clerk-js): Also align new shades with colorAlphaShade
  .changeset/olive-bags-reflect.md
  packages/clerk-js/src/ui/customizables/colorOptionToHslaScale.ts
  packages/types/src/appearance.ts
Labels: types, clerk-js

#2466 fix(clerk-js): Fix Invite members button on Organization Profile
  .changeset/rotten-rats-protect.md
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationMembers.tsx
  packages/clerk-js/src/ui/elements/Tabs.tsx
Labels: clerk-js

#2462 test(clerk-js): Cleanup act errors
  .changeset/rich-sloths-count.md
  packages/clerk-js/src/ui/components/SignUp/__tests__/SignUpVerifyEmail.test.tsx
  packages/clerk-js/src/ui/components/SignUp/__tests__/SignUpVerifyPhone.test.tsx
Labels: clerk-js

#2469 fix(clerk-js): Aligned username section
  .changeset/gorgeous-stingrays-lay.md
  packages/clerk-js/src/ui/elements/Section.tsx
Labels: clerk-js

#2463 feat(elements): Preserve specific query parameters when routing
  .changeset/thin-fireants-fix.md
  packages/elements/src/internals/machines/sign-in.actors.ts
  packages/elements/src/internals/machines/sign-in.machine.ts
  packages/elements/src/internals/router-react.tsx
  packages/elements/src/internals/router.tsx
  packages/elements/src/sign-in/index.tsx
Labels: elements

#2467 fix(clerk-js): Form cleanups
  .changeset/tall-radios-sing.md
  packages/clerk-js/src/ui/components/CreateOrganization/CreateOrganizationForm.tsx
  packages/clerk-js/src/ui/components/CreateOrganization/CreateOrganizationPage.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/ActionConfirmationPage.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/AddDomainForm.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/InviteMembersScreen.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/VerifiedDomainForm.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/VerifyDomainForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/AddAuthenticatorApp.tsx
  packages/clerk-js/src/ui/components/UserProfile/ConnectedAccountsForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/DeleteUserForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/EmailForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/MfaBackupCodeCreateForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/MfaBackupCodeScreen.tsx
  packages/clerk-js/src/ui/components/UserProfile/MfaPhoneCodeScreen.tsx
  packages/clerk-js/src/ui/components/UserProfile/PasswordForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/UsernameForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/VerifyTOTP.tsx
  packages/clerk-js/src/ui/components/UserProfile/Web3Form.tsx
  packages/clerk-js/src/ui/customizables/elementDescriptors.ts
  packages/clerk-js/src/ui/elements/FormContent.tsx
  packages/types/src/appearance.ts
Labels: types, clerk-js

#2468 fix(clerk-js): Fix phone input select button styles
  .changeset/weak-feet-love.md
  packages/clerk-js/src/ui/elements/PhoneInput/PhoneInput.tsx
  packages/clerk-js/src/ui/elements/Select.tsx
  packages/clerk-js/src/ui/primitives/Button.tsx
Labels: clerk-js

#2404 feat(nextjs): Introduce clerkMiddleware
  .changeset/funny-avocados-shout.md
  integration/constants.ts
  integration/models/longRunningApplication.ts
  integration/scripts/setup.ts
  integration/testUtils/testAgainstRunningApps.ts
  integration/tests/protect.test.ts
  packages/backend/src/constants.ts
  packages/backend/src/tokens/clerkRequest.ts
  packages/backend/src/tokens/clerkUrl.ts
  packages/fastify/src/__snapshots__/constants.test.ts.snap
  packages/nextjs/src/app-router/server/ClerkProvider.tsx
  packages/nextjs/src/app-router/server/auth.ts
  packages/nextjs/src/app-router/server/protect.ts
  packages/nextjs/src/constants.ts
  packages/nextjs/src/pages/__tests__/index.test.tsx
  packages/nextjs/src/server/__tests__/__snapshots__/exports.test.ts.snap
  packages/nextjs/src/server/authMiddleware.test.ts
  packages/nextjs/src/server/authMiddleware.ts
  packages/nextjs/src/server/clerkMiddleware.test.ts
  packages/nextjs/src/server/clerkMiddleware.ts
  packages/nextjs/src/server/index.ts
  packages/nextjs/src/server/protect.ts
  packages/nextjs/src/server/routeMatcher.ts
  packages/nextjs/src/server/types.ts
  packages/nextjs/src/types.ts
  packages/nextjs/src/utils/index.ts
  packages/nextjs/src/utils/serverRedirectWithAuth.ts
  packages/react/src/index.ts
  packages/react/src/types.ts
  packages/remix/src/client/ClerkApp.tsx
  packages/remix/src/client/RemixClerkProvider.tsx
  packages/remix/src/client/types.ts
  packages/types/src/clerk.ts
Labels: types, nextjs, react, remix, backend, fastify, integration

#2464 Update ko-KR.ts
  .changeset/pink-swans-fetch.md
  packages/localizations/src/ko-KR.ts
Labels: localizations

#2449 Version Packages (alpha-v5)
  .changeset/pre.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/CHANGELOG.md
  packages/gatsby-plugin-clerk/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
Labels: clerk-js, nextjs, react, remix, backend, fastify, localizations, sdk-node, expo, chrome-extension, gatsby, elements

#2470 refactor(elements): Prep nested PR
  .changeset/rude-falcons-grow.md
  packages/elements/examples/nextjs/components/debug.tsx
  packages/elements/src/internals/machines/sign-in.actors.ts
  packages/elements/src/internals/machines/sign-in.context.ts
  packages/elements/src/internals/machines/sign-in.machine.ts
  packages/elements/src/internals/machines/sign-in.types.ts
  packages/elements/src/internals/machines/utils/assert.ts
  packages/elements/src/internals/machines/utils/states.ts
Labels: elements

#2471 refactor(elements): Use nested states
  .changeset/fast-hornets-report.md
  packages/elements/src/internals/machines/sign-in.actors.ts
  packages/elements/src/internals/machines/sign-in.context.ts
  packages/elements/src/internals/machines/sign-in.machine.ts
  packages/elements/src/sign-in/index.tsx
Labels: elements

#2472 fix(shared): Invitations depends on wrong options (useOrganization)
  .changeset/thirty-cooks-cheer.md
  packages/clerk-js/src/ui/hooks/__tests__/useCoreOrganization.test.tsx
  packages/shared/src/react/hooks/useOrganization.tsx
Labels: clerk-js

#2419 Create es-MX
  packages/localizations/src/es-MX
Labels: localizations

#2473 fix(clerk-js): Revalidate when user deletes organization
  .changeset/giant-rice-crash.md
  packages/clerk-js/src/ui/components/CreateOrganization/CreateOrganizationForm.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/ActionConfirmationPage.tsx
Labels: clerk-js

#2480 fix(clerk-js): Correctly align buttons in organization members page
  .changeset/brown-pets-smile.md
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationMembersTabInvitations.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationMembersTabRequests.tsx
  packages/types/src/elementIds.ts
Labels: types, clerk-js

#2478 fix(clerk-js): Show error alert inside FormContainer
  .changeset/wicked-suits-remain.md
  packages/clerk-js/src/ui/common/RemoveResourceForm.tsx
  packages/clerk-js/src/ui/components/CreateOrganization/CreateOrganizationForm.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/ActionConfirmationPage.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/AddDomainForm.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/InviteMembersScreen.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/ProfileForm.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/VerifiedDomainForm.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/VerifyDomainForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/AddAuthenticatorApp.tsx
  packages/clerk-js/src/ui/components/UserProfile/ConnectedAccountsForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/DeleteUserForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/EmailForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/MfaBackupCodeCreateForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/MfaBackupCodeScreen.tsx
  packages/clerk-js/src/ui/components/UserProfile/MfaForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/MfaPhoneCodeScreen.tsx
  packages/clerk-js/src/ui/components/UserProfile/PasswordForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/PhoneForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/ProfileForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/UpdatePasswordForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/UsernameForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/VerifyTOTP.tsx
  packages/clerk-js/src/ui/components/UserProfile/Web3Form.tsx
  packages/clerk-js/src/ui/elements/FormContainer.tsx
  packages/clerk-js/src/ui/elements/SuccessPage.tsx
  packages/clerk-js/src/ui/elements/index.ts
Labels: clerk-js

#2481 fix(shared): Invitations depends on wrong options (useOrganization) (#2472)
  .changeset/thirty-cooks-cheer.md
  packages/clerk-js/src/ui/hooks/__tests__/useCoreOrganization.test.tsx
  packages/shared/src/react/hooks/useOrganization.tsx
Labels: clerk-js, cherry

#2483 fix(clerk-js): Fix OrganizationSwitcher inner scrolling
  .changeset/tidy-dots-lick.md
  packages/clerk-js/src/ui/components/OrganizationSwitcher/UserInvitationSuggestionList.tsx
  packages/clerk-js/src/ui/components/OrganizationSwitcher/UserMembershipList.tsx
  packages/clerk-js/src/ui/foundations/sizes.ts
Labels: clerk-js

#2485 feat(elements): Field Errors
  .changeset/tiny-ravens-accept.md
  packages/elements/examples/nextjs/app/sign-in/[[...sign-in]]/page.tsx
  packages/elements/examples/nextjs/components/debug.tsx
  packages/elements/src/common/form.tsx
  packages/elements/src/index.tsx
  packages/elements/src/internals/errors/error.ts
  packages/elements/src/internals/machines/sign-in.context.ts
  packages/elements/src/internals/machines/sign-in.machine.ts
  packages/elements/src/internals/machines/sign-in.types.ts
Labels: elements

#2488 fix(clerk-js): Make shadows work on dark theme
  .changeset/chilled-boxes-kick.md
  packages/clerk-js/src/ui/components/ImpersonationFab/ImpersonationFab.tsx
  packages/clerk-js/src/ui/customizables/colorOptionToHslaScale.ts
  packages/clerk-js/src/ui/elements/Action/ActionCard.tsx
  packages/clerk-js/src/ui/elements/Card/CardRoot.tsx
  packages/clerk-js/src/ui/elements/Footer.tsx
  packages/clerk-js/src/ui/elements/Menu.tsx
  packages/clerk-js/src/ui/elements/Navbar.tsx
  packages/clerk-js/src/ui/elements/PopoverCard.tsx
  packages/clerk-js/src/ui/elements/ProfileCard/ProfileCardContent.tsx
  packages/clerk-js/src/ui/elements/Select.tsx
  packages/clerk-js/src/ui/elements/TagInput.tsx
  packages/clerk-js/src/ui/elements/withAvatarShimmer.tsx
  packages/clerk-js/src/ui/foundations/shadows.ts
  packages/clerk-js/src/ui/primitives/Badge.tsx
  packages/clerk-js/src/ui/primitives/Button.tsx
  packages/clerk-js/src/ui/primitives/Tbody.tsx
  packages/clerk-js/src/ui/styledSystem/common.ts
  packages/themes/src/themes/dark.ts
Labels: clerk-js, themes

#2484 fix(clerk-js): Rename the organizationSettings id to organizationGeneral
  .changeset/light-snakes-type.md
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationGeneralPage.tsx
  packages/types/src/appearance.ts
  packages/types/src/elementIds.ts
Labels: types, clerk-js

#2492 fix(clerk-js): Fix rethemed table to work seamlessly across browser
  .changeset/metal-toes-smell.md
  packages/clerk-js/src/ui/components/OrganizationProfile/MemberListTable.tsx
  packages/clerk-js/src/ui/primitives/Table.tsx
  packages/clerk-js/src/ui/primitives/Tbody.tsx
  packages/clerk-js/src/ui/primitives/Th.tsx
Labels: clerk-js

#2476 feat(elements): Infer input type from name
  .changeset/slow-dancers-watch.md
  packages/elements/examples/nextjs/app/sign-in/[[...sign-in]]/page.tsx
  packages/elements/examples/nextjs/components/debug.tsx
  packages/elements/src/common/form.tsx
  packages/elements/src/index.tsx
  packages/elements/src/internals/machines/form.context.ts
  packages/elements/src/internals/machines/form.machine.ts
  packages/elements/src/internals/machines/form.types.ts
  packages/elements/src/internals/machines/sign-in.context.ts
  packages/elements/src/internals/machines/sign-in.machine.ts
  packages/elements/src/internals/machines/sign-in.types.ts
  packages/elements/src/sign-in/index.tsx
Labels: elements

#2496 feat(elements): Initial implementation of First Factor
  .changeset/tender-peaches-yell.md
  package-lock.json
  packages/elements/examples/nextjs/app/page.tsx
  packages/elements/examples/nextjs/app/sign-in/[[...sign-in]]/page.tsx
  packages/elements/examples/nextjs/package.json
  packages/elements/package.json
  packages/elements/src/internals/errors/error.ts
  packages/elements/src/internals/machines/sign-in.actors.ts
  packages/elements/src/internals/machines/sign-in.context.ts
  packages/elements/src/internals/machines/sign-in.machine.ts
  packages/elements/src/internals/machines/sign-in.utils.ts
  packages/elements/src/sign-in/index.tsx
  packages/elements/src/utils/xstate.ts
  packages/elements/turbo.json
Labels: elements

#2497 chore(elements): Introduce Strategies
  .changeset/soft-apples-chew.md
  packages/elements/examples/nextjs/app/sign-in/[[...sign-in]]/page.tsx
  packages/elements/examples/nextjs/components/debug.tsx
  packages/elements/examples/nextjs/components/design.tsx
  packages/elements/package.json
  packages/elements/src/common/strategy.tsx
  packages/elements/src/index.tsx
  packages/elements/src/internals/machines/sign-in.actors.ts
  packages/elements/src/internals/machines/sign-in.context.ts
  packages/elements/src/internals/machines/sign-in.machine.ts
  packages/elements/src/internals/machines/sign-in.types.ts
  packages/elements/src/internals/machines/sign-in.utils.ts
  packages/elements/src/internals/machines/utils/assert.test.ts
  packages/elements/src/internals/machines/utils/assert.ts
  packages/elements/src/internals/machines/utils/strategies.test.ts
  packages/elements/src/internals/machines/utils/strategies.ts
  packages/elements/src/sign-in/index.tsx
  packages/elements/turbo.json
Labels: elements

#2502 fix(clerk-js): Minor UI fixes to match the redesign
  .changeset/unlucky-socks-heal.md
  packages/clerk-js/src/ui/elements/Card/CardContent.tsx
  packages/clerk-js/src/ui/elements/Card/CardRoot.tsx
  packages/clerk-js/src/ui/styledSystem/common.ts
Labels: clerk-js

#2494 chore(repo): Added paths in app-dir version of NextJS Playground
  playground/nextjs/app/app-dir/create-organization/page.tsx
  playground/nextjs/app/app-dir/organization/page.tsx
  playground/nextjs/app/app-dir/sign-in/page.tsx
  playground/nextjs/app/app-dir/sign-up/page.tsx
  playground/nextjs/app/app-dir/user/page.tsx
Labels: playground

#2421 Fix backend error message details
  .changeset/lucky-snails-help.md
  packages/backend/src/api/factory.test.ts
  packages/backend/src/api/request.ts
Labels: backend

#2504 fix(clerk-js): Revalidate when user deletes organization (#2473)
  .changeset/giant-rice-crash.md
  packages/clerk-js/src/ui/components/CreateOrganization/CreateOrganizationForm.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/ActionConfirmationPage.tsx
Labels: clerk-js

#2505 fix(repo): Add redirectUrl to app-dir in nextjs playground
  playground/nextjs/app/app-dir/page.tsx
  playground/nextjs/app/app-dir/sign-in/page.tsx
  playground/nextjs/app/app-dir/sign-up/page.tsx
Labels: playground

#2486 feat(clerk-js): Redesign Connected Accounts, Web3 and MFA in <UserProfile/>
  .changeset/weak-pants-warn.md
  packages/clerk-js/src/ui/components/UserProfile/ConnectedAccountsForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/ConnectedAccountsMenu.tsx
  packages/clerk-js/src/ui/components/UserProfile/ConnectedAccountsSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/MfaForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/MfaScreens.tsx
  packages/clerk-js/src/ui/components/UserProfile/MfaSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/MfaTOTPScreen.tsx
  packages/clerk-js/src/ui/components/UserProfile/Web3Form.tsx
  packages/clerk-js/src/ui/components/UserProfile/Web3Section.tsx
  packages/clerk-js/src/ui/elements/ArrowBlockButton.tsx
  packages/clerk-js/src/ui/elements/Menu.tsx
  packages/clerk-js/src/ui/elements/ProfileCard/ProfileCardContent.tsx
  packages/clerk-js/src/ui/elements/Section.tsx
  packages/clerk-js/src/ui/elements/TagInput.tsx
  packages/clerk-js/src/ui/elements/contexts/CardStateContext.tsx
  packages/clerk-js/src/ui/hooks/usePopover.ts
  packages/types/src/elementIds.ts
Labels: types, clerk-js

#2507 fix(clerk-js): Fix divider typo
  .changeset/late-wolves-mate.md
  packages/clerk-js/src/ui/components/SignIn/AlternativeMethods.tsx
  packages/clerk-js/src/ui/elements/Divider.tsx
Labels: clerk-js

#2457 Version Packages - V4
  .changeset/flat-bugs-visit.md
  .changeset/giant-rice-crash.md
  .changeset/lucky-snails-help.md
  .changeset/thirty-cooks-cheer.md
  .changeset/two-crews-talk.md
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/CHANGELOG.md
  packages/gatsby-plugin-clerk/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
Labels: clerk-js, nextjs, react, remix, backend, fastify, sdk-node, expo, chrome-extension, gatsby

#2508 fix(nextjs,remix): CustomPages in remix & nextjs SDKs
  .changeset/nine-mayflies-smoke.md
  packages/nextjs/src/client-boundary/uiComponents.tsx
  packages/remix/src/client/uiComponents.tsx
Labels: nextjs, remix

#2500 feat(elements): Add SecondFactor states
  .changeset/wild-cycles-jog.md
  packages/elements/examples/nextjs/app/sign-in/[[...sign-in]]/page.tsx
  packages/elements/src/internals/machines/sign-in.actors.ts
  packages/elements/src/internals/machines/sign-in.machine.ts
Labels: elements

#2498 feat(elements): Implement shared Errors component, and add FieldState
  .changeset/orange-melons-destroy.md
  packages/elements/examples/nextjs/app/sign-in/[[...sign-in]]/page.tsx
  packages/elements/src/common/form.tsx
  packages/elements/src/index.tsx
Labels: elements

#2514 fix(clerk-react): Avoid error on `useRoutingOptions()` when `path` passed from options
  .changeset/spotty-nails-double.md
  packages/react/src/hooks/__tests__/__snapshots__/useRoutingProps.test.tsx.snap
  packages/react/src/hooks/__tests__/useRoutingProps.test.tsx
  packages/react/src/hooks/useRoutingProps.ts
Labels: react, v5-release

#2491 chore(clerk-js): Remove fallback data for paginated endpoint methods
  .changeset/modern-plums-invent.md
  packages/clerk-js/src/core/resources/Organization.ts
  packages/clerk-js/src/core/resources/OrganizationMembership.ts
  packages/clerk-js/src/core/resources/OrganizationSuggestion.ts
  packages/clerk-js/src/core/resources/UserOrganizationInvitation.ts
Labels: clerk-js, v5-release

#2519 fix(clerk-js): Exclude external custom links from route matching
  .changeset/loud-tomatoes-jam.md
  packages/clerk-js/src/ui/elements/Navbar.tsx
Labels: clerk-js

#2522 Telemetry: Append `__clerk_framework_hint` if a known framework is detected
  .changeset/happy-beers-push.md
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/fapiClient.ts
Labels: clerk-js

#2524 Version Packages - V4
  .changeset/happy-beers-push.md
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
Labels: clerk-js, expo, chrome-extension

#2526 Version Packages - V4
  .changeset/hot-parrots-approve.md
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
Labels: clerk-js, expo, chrome-extension

#2516 feat(backend): Replace enums with `as const` objects
  .changeset/many-moons-matter.md
  packages/backend/src/api/resources/JSON.ts
  packages/backend/src/errors.ts
  packages/backend/src/tokens/authStatus.ts
Labels: backend

#2529 fix(clerk-js): Fix OrganizationProfile General page path when reordering
  .changeset/stale-hats-jump.md
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationProfileRoutes.tsx
Labels: clerk-js

#2532 chore(clerk-js): Fix Check icon stroke color
  .changeset/beige-stingrays-explode.md
  packages/clerk-js/src/ui/icons/check.svg
Labels: clerk-js

#2531 chore(clerk-js): Added size hint to the avatar uploader
  .changeset/weak-trees-kneel.md
  packages/clerk-js/src/ui/elements/AvatarUploader.tsx
  packages/localizations/src/en-US.ts
Labels: clerk-js, localizations

#2523 fix(clerk-js): Remove old Navbar from Custom Pages
  .changeset/pretty-owls-switch.md
  packages/clerk-js/src/ui/common/CustomPageContentContainer.tsx
Labels: clerk-js

#2520 feat(clerk-js): Show footer pages along clerk tag
  .changeset/neat-mice-invite.md
  packages/clerk-js/src/ui/components/SignIn/AlternativeMethods.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInFactorOnePasswordCard.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInFactorTwoAlternativeMethods.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInFactorTwoBackupCodeCard.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInStart.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpContinue.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpStart.tsx
  packages/clerk-js/src/ui/elements/Card/CardClerkAndPagesTag.tsx
  packages/clerk-js/src/ui/elements/Card/CardFooter.tsx
  packages/clerk-js/src/ui/elements/Card/index.ts
  packages/clerk-js/src/ui/elements/ErrorCard.tsx
  packages/clerk-js/src/ui/elements/Navbar.tsx
  packages/clerk-js/src/ui/elements/PopoverCard.tsx
  packages/clerk-js/src/ui/elements/PoweredByClerk.tsx
  packages/clerk-js/src/ui/elements/VerificationCodeCard.tsx
  packages/clerk-js/src/ui/elements/VerificationLinkCard.tsx
  packages/clerk-js/src/ui/elements/index.ts
  playground/nextjs/pages/_app.tsx
Labels: clerk-js, playground

#2493 fix(backend): Fix minor misalignment's with the User FAPI and BAPI classes
  .changeset/early-carpets-fly.md
  packages/backend/src/api/resources/User.ts
Labels: backend

#2509 feat(repo): Disable `@canary` from release/v4
  .changeset/long-scissors-trade.md
  .github/workflows/release-canary.yml
Labels: actions

#2510 feat(repo): Enable `@canary` releases on main
  .changeset/olive-beers-scream.md
  .github/workflows/release-canary.yml
Labels: actions

#2533 fix(localizations): Review ko-KR strings
  .changeset/seven-tables-tan.md
  packages/localizations/src/ko-KR.ts
Labels: localizations

#2540 fix(localizations): Fix korean localization code formatting
  .changeset/kind-eagles-hope.md
  packages/localizations/src/ko-KR.ts
Labels: localizations

#2538 fix(clerk-js): Fix edit password icon
  .changeset/ninety-apricots-yell.md
  packages/clerk-js/src/ui/components/UserProfile/PasswordSection.tsx
  packages/clerk-js/src/ui/elements/Section.tsx
Labels: clerk-js

#2534 feat(clerk-js): Set the default `fontSmoothing` variable to undefined
  .changeset/selfish-pugs-repair.md
  packages/clerk-js/src/ui/customizables/parseVariables.ts
  packages/clerk-js/src/ui/foundations/defaultFoundations.ts
Labels: clerk-js

#2528 feat(clerk-expo): Add expo data to request headers
  .changeset/sixty-rats-bathe.md
  package-lock.json
  packages/expo/package.json
  packages/expo/src/singleton.ts
Labels: expo

#2530 fix(clerk-react): Fix routing strategy priority when it's directly passed on the component
  .changeset/tender-phones-explain.md
  packages/react/src/hooks/__tests__/__snapshots__/useRoutingProps.test.tsx.snap
  packages/react/src/hooks/__tests__/useRoutingProps.test.tsx
  packages/react/src/hooks/useRoutingProps.ts
Labels: react

#2541 fix(backend): Fix unhandled handshake error
  .changeset/few-rings-push.md
  integration/tests/handshake.test.ts
  packages/backend/src/tokens/request.ts
Labels: backend, integration

#2517 Version Packages (alpha-v5)
  .changeset/pre.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/CHANGELOG.md
  packages/gatsby-plugin-clerk/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
Labels: clerk-js, nextjs, react, remix, backend, fastify, localizations, sdk-node, expo, chrome-extension, gatsby, elements

#2546 chore(elements): Split out inspector for use on multiple machines
  .changeset/mighty-cooks-admire.md
  packages/elements/src/react/sign-in/index.tsx
  packages/elements/src/react/utils/xstate.ts
  packages/elements/src/utils/xstate.ts
Labels: elements

#2542 refactor(elements): Update types in prep for follow-on work
  .changeset/friendly-swans-clap.md
  package-lock.json
  packages/elements/README.md
  packages/elements/examples/nextjs/app/sign-in/[[...sign-in]]/page.tsx
  packages/elements/package.json
  packages/elements/src/internals/machines/form.machine.ts
  packages/elements/src/internals/machines/form.types.ts
  packages/elements/src/internals/machines/shared.actors.ts
  packages/elements/src/internals/machines/shared.types.ts
  packages/elements/src/internals/machines/sign-in.actors.ts
  packages/elements/src/internals/machines/sign-in.machine.ts
  packages/elements/src/internals/machines/sign-in.types.ts
  packages/elements/src/react/sign-in/index.tsx
  packages/elements/src/types/clerk.d.ts
  packages/elements/tsconfig.json
Labels: elements

#2544 chore: backport #2528
  .changeset/sixty-rats-bathe.md
  package-lock.json
  packages/expo/package.json
  packages/expo/src/singleton.ts
Labels: expo

#2547 fix(clerk-js): Improve spacing for User button with identifier
  .changeset/olive-kings-retire.md
  packages/clerk-js/src/ui/components/UserButton/UserButtonTopLevelIdentifier.tsx
Labels: clerk-js

#2549 Version Packages - V4
  .changeset/long-scissors-trade.md
  .changeset/sixty-rats-bathe.md
  packages/expo/CHANGELOG.md
  packages/expo/package.json
Labels: expo

#2545 fix(clerk-js): Race condition with autoFocus and PasswordInput
  .changeset/old-guests-watch.md
  packages/clerk-js/src/ui/elements/PasswordInput.tsx
  packages/clerk-js/src/ui/icons/pencil.svg
Labels: clerk-js

#2553 feat(nextjs): Export MultisessionAppSupport from @clerk/nextjs/internal
  .changeset/wild-emus-whisper.md
  packages/nextjs/internal/package.json
  packages/nextjs/package.json
  packages/nextjs/src/client-boundary/controlComponents.ts
  packages/nextjs/src/internal.ts
Labels: nextjs

#2515 feat(clerk-react,clerk-js,shared): Dynamically update props based on …
  .changeset/pink-gifts-retire.md
  packages/clerk-js/src/ui/customizables/AppearanceContext.tsx
  packages/clerk-js/src/ui/hooks/index.ts
  packages/react/src/components/uiComponents.tsx
  packages/shared/src/index.ts
  packages/shared/src/object.ts
  packages/shared/src/react/hooks/index.ts
  packages/shared/src/react/hooks/useDeepEqualMemo.ts
Labels: clerk-js, react

#2551 test(clerk-js): Remove skipped tests from SignInFactorOne
  .changeset/afraid-falcons-leave.md
  packages/clerk-js/src/ui/components/CreateOrganization/__tests__/CreateOrganization.test.tsx
  packages/clerk-js/src/ui/components/SignIn/__tests__/SignInFactorOne.test.tsx
  packages/clerk-js/src/ui/elements/Divider.tsx
  packages/clerk-js/src/ui/elements/ErrorCard.tsx
Labels: clerk-js

#2552 test(clerk-js): Remove skipped tests from OrganizationList
  .changeset/dirty-rockets-cheat.md
  packages/clerk-js/src/ui/components/OrganizationList/__tests__/OrganizationList.test.tsx
Labels: clerk-js

#2536 feat(clerk-js): Use borders instead of box shadow borders
  .changeset/quick-poems-sip.md
  packages/clerk-js/src/ui/components/ImpersonationFab/ImpersonationFab.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/MemberListTable.tsx
  packages/clerk-js/src/ui/components/UserButton/SessionActions.tsx
  packages/clerk-js/src/ui/elements/Action/ActionCard.tsx
  packages/clerk-js/src/ui/elements/Actions.tsx
  packages/clerk-js/src/ui/elements/Card/CardContent.tsx
  packages/clerk-js/src/ui/elements/Card/CardRoot.tsx
  packages/clerk-js/src/ui/elements/Menu.tsx
  packages/clerk-js/src/ui/elements/Navbar.tsx
  packages/clerk-js/src/ui/elements/PhoneInput/PhoneInput.tsx
  packages/clerk-js/src/ui/elements/PopoverCard.tsx
  packages/clerk-js/src/ui/elements/ProfileCard/ProfileCardContent.tsx
  packages/clerk-js/src/ui/elements/Select.tsx
  packages/clerk-js/src/ui/elements/TagInput.tsx
  packages/clerk-js/src/ui/elements/withAvatarShimmer.tsx
  packages/clerk-js/src/ui/foundations/shadows.ts
  packages/clerk-js/src/ui/primitives/Badge.tsx
  packages/clerk-js/src/ui/primitives/Button.tsx
  packages/clerk-js/src/ui/primitives/Table.tsx
  packages/clerk-js/src/ui/styledSystem/common.ts
Labels: clerk-js

#2559 fix(clerk-js): Prevent form submission in InviteMembersForm
  .changeset/sweet-chairs-fry.md
  packages/clerk-js/src/ui/components/OrganizationProfile/InviteMembersForm.tsx
Labels: clerk-js

#2556 test(clerk-js): Remove skipped tests from InviteMembersPage
  .changeset/flat-lions-divide.md
  packages/clerk-js/src/ui/components/OrganizationProfile/__tests__/InviteMembersPage.test.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/__tests__/OrganizationMembers.test.tsx
  packages/clerk-js/src/ui/elements/Select.tsx
Labels: clerk-js

#2560 test(clerk-js): Remove skipped tests from LeaveOrganizationPage
  .changeset/ten-taxis-lick.md
  packages/clerk-js/src/ui/components/OrganizationProfile/__tests__/LeaveOrganizationPage.test.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/__tests__/OrganizationGeneralPage.test.tsx
Labels: clerk-js

#2558 feat(backend): Use `User-Agent` header with package name and version in BAPI requests
  .changeset/thin-coats-serve.md
  packages/backend/package.json
  packages/backend/src/api/__tests__/factory.test.ts
  packages/backend/src/api/request.ts
  packages/backend/src/constants.ts
  packages/backend/src/tokens/__tests__/keys.test.ts
  packages/backend/src/tokens/__tests__/verify.test.ts
  packages/backend/tsup.config.test.ts
  packages/fastify/src/__snapshots__/clerkClient.test.ts.snap
  packages/fastify/src/clerkClient.ts
  packages/gatsby-plugin-clerk/src/ssr/clerkClient.ts
  packages/nextjs/src/server/__tests__/clerkClient.test.ts
  packages/nextjs/src/server/clerkClient.ts
  packages/remix/src/ssr/authenticateRequest.ts
  packages/sdk-node/src/clerkClient.ts
Labels: nextjs, remix, backend, fastify, sdk-node, gatsby

#2557 feat(clerk-js): Add more alpha scales to make theme changing easier
  .changeset/friendly-boats-chew.md
  packages/clerk-js/src/ui/components/UserButton/SessionActions.tsx
  packages/clerk-js/src/ui/customizables/parseVariables.ts
  packages/clerk-js/src/ui/foundations/colors.ts
  packages/clerk-js/src/ui/primitives/Alert.tsx
  packages/clerk-js/src/ui/primitives/Badge.tsx
  packages/clerk-js/src/ui/primitives/Button.tsx
  packages/clerk-js/src/ui/utils/colorOptionToHslaScale.ts
  packages/clerk-js/src/ui/utils/index.ts
  playground/nextjs/package.json
Labels: clerk-js, playground

#2539 fix(backend): Fix `getToken()` from `getAuth()` return value in v5
  .changeset/eight-cherries-tan.md
  packages/backend/src/api/endpoints/SessionApi.ts
  packages/backend/src/tokens/authObjects.ts
Labels: bug, backend, v5-release

#2555 feat(backend): Deprecate createEmail
  .changeset/rich-years-help.md
  packages/backend/src/api/endpoints/EmailApi.ts
Labels: backend

#2543 fix(clerk-react): Improve error message and checks for routing strategies
  .changeset/witty-shirts-dream.md
  packages/react/src/errors/messages.ts
  packages/react/src/hooks/__tests__/__snapshots__/useRoutingProps.test.tsx.snap
  packages/react/src/hooks/__tests__/useRoutingProps.test.tsx
  packages/react/src/hooks/useRoutingProps.ts
Labels: react

#2566 chore(elements): Update types & waitForClerk; Remove unused files
  .changeset/brown-mangos-jam.md
  packages/elements/examples/nextjs/components/debug.tsx
  packages/elements/src/internals/machines/shared.actors.ts
  packages/elements/src/internals/machines/sign-in.actors.ts
  packages/elements/src/internals/machines/sign-in.machine.ts
  packages/elements/src/react/common/social-providers.tsx
  packages/elements/src/types/clerk.d.ts
Labels: elements

#2512 fix(clerk-js): UI fixes on <SignIn/> and <SignUp/> to match new design
  .changeset/light-apples-joke.md
  .changeset/soft-rats-grab.md
  .changeset/yellow-frogs-teach.md
  packages/clerk-js/src/ui/elements/Divider.tsx
  packages/clerk-js/src/ui/elements/FieldControl.tsx
  packages/clerk-js/src/ui/primitives/Button.tsx
  packages/clerk-js/src/ui/primitives/Text.tsx
Labels: clerk-js

#2562 test(clerk-js): Remove skipped tests from UserProfileSection, PhoneSection, EmailsSection
  .changeset/selfish-peaches-glow.md
  packages/clerk-js/src/ui/components/UserProfile/__tests__/AccountPage.test.tsx
  packages/clerk-js/src/ui/components/UserProfile/__tests__/EmailsSection.test.tsx
  packages/clerk-js/src/ui/components/UserProfile/__tests__/PhoneSection.test.tsx
  packages/clerk-js/src/ui/components/UserProfile/__tests__/UserProfileSection.test.tsx
Labels: clerk-js

#2567 test(clerk-js): Remove skipped tests from AccountPage, SecurityPage, UserProfile
  .changeset/real-lobsters-flash.md
  packages/clerk-js/src/ui/components/UserProfile/__tests__/AccountPage.test.tsx
  packages/clerk-js/src/ui/components/UserProfile/__tests__/SecurityPage.test.tsx
  packages/clerk-js/src/ui/components/UserProfile/__tests__/UserProfile.test.tsx
Labels: clerk-js

#2537 fix(clerk-js): Revert some localization changes to reduce breaking changes
  .changeset/six-lies-refuse.md
  packages/clerk-js/src/ui/components/OrganizationList/__tests__/OrganizationList.test.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/DomainList.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationGeneralPage.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationProfileAvatarUploader.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInFactorOneCodeForm.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInFactorOneEmailCodeCard.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInFactorOneForgotPasswordCard.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInFactorOnePhoneCodeCard.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInFactorTwoCodeForm.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInFactorTwoPhoneCodeCard.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInFactorTwoTOTPCard.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpPhoneCodeCard.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpVerificationCodeForm.tsx
  packages/clerk-js/src/ui/elements/FormButtons.tsx
  packages/clerk-js/src/ui/elements/VerificationCodeCard.tsx
  packages/clerk-js/src/ui/utils/createCustomPages.tsx
  packages/localizations/.gitignore
  packages/localizations/README.md
  packages/localizations/package.json
  packages/localizations/src/ar-SA.ts
  packages/localizations/src/cs-CZ.ts
  packages/localizations/src/da-DK.ts
  packages/localizations/src/de-DE.ts
  packages/localizations/src/el-GR.ts
  packages/localizations/src/en-US.ts
  packages/localizations/src/es-ES.ts
  packages/localizations/src/es-MX.ts
  packages/localizations/src/fr-FR.ts
  packages/localizations/src/he-IL.ts
  packages/localizations/src/index.ts
  packages/localizations/src/it-IT.ts
  packages/localizations/src/ja-JP.ts
  packages/localizations/src/ko-KR.ts
  packages/localizations/src/nb-NO.ts
  packages/localizations/src/nl-NL.ts
  packages/localizations/src/pl-PL.ts
  packages/localizations/src/pt-BR.ts
  packages/localizations/src/pt-PT.ts
  packages/localizations/src/ro-RO.ts
  packages/localizations/src/ru-RU.ts
  packages/localizations/src/sk-SK.ts
  packages/localizations/src/sv-SE.ts
  packages/localizations/src/tr-TR.ts
  packages/localizations/src/uk-UA.ts
  packages/localizations/src/utils/generate.ts
  packages/localizations/src/vi-VN.ts
  packages/localizations/src/zh-CN.ts
  packages/localizations/src/zh-TW.ts
  packages/types/src/localization.ts
Labels: types, clerk-js, localizations

#2569 test(clerk-js): Remove skipped tests from Organization pages
  .changeset/gentle-toes-obey.md
  packages/clerk-js/src/ui/components/OrganizationProfile/__tests__/OrganizationGeneralPage.test.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/__tests__/ProfileSettingsPage.test.tsx
Labels: clerk-js

#2565 add: add Bulgarian (bg-BG) localization
  .changeset/tiny-crabs-eat.md
  packages/localizations/src/bg-BG.ts
  packages/localizations/src/index.ts
Labels: localizations

#2548 Remove create email api function from backend package
  .changeset/curvy-suns-roll.md
  packages/backend/src/api/__tests__/factory.test.ts
  packages/backend/src/api/endpoints/EmailApi.ts
  packages/backend/src/api/endpoints/index.ts
  packages/backend/src/api/factory.ts
  packages/backend/src/fixtures/email.json
Labels: backend

#2518 fix(nextjs): Fix partial prerendering error nextjs
  .changeset/nervous-kings-deny.md
  packages/nextjs/src/app-router/server/utils.ts
Labels: nextjs

#2572 feat(nextjs): Introduce stable `createRouteMatcher`
  .changeset/hungry-lies-burn.md
  packages/nextjs/src/server/__tests__/__snapshots__/exports.test.ts.snap
  packages/nextjs/src/server/index.ts
  packages/nextjs/src/server/routeMatcher.ts
Labels: nextjs

#2573 chore(repo): Remove sendEmail from Nextjs playground after dropping emails api
  playground/nextjs/pages/api/sendEmail.ts
Labels: playground

#2577 chore(repo): Update READMEs
  .changeset/five-lamps-beam.md
  packages/backend/README.md
  packages/clerk-js/README.md
  packages/gatsby-plugin-clerk/README.md
  packages/nextjs/README.md
  packages/remix/README.md
  packages/sdk-node/README.md
Labels: clerk-js, nextjs, remix, backend, sdk-node, gatsby

#2578 fix(repo): Typo in changeset for MembershipRole
  .changeset/giant-bags-lie.md
  .changeset/orange-files-end.md
  packages/clerk-js/CHANGELOG.md
Labels: clerk-js

#2525 fix(clerk-js): UI fixes on <UserProfile /> to match new design
  .changeset/cuddly-tips-speak.md
  .changeset/four-guests-drive.md
  .changeset/sharp-donuts-drum.md
  .changeset/sixty-pianos-look.md
  packages/clerk-js/src/ui/components/UserProfile/ConnectedAccountsMenu.tsx
  packages/clerk-js/src/ui/components/UserProfile/MfaBackupCodeList.tsx
  packages/clerk-js/src/ui/components/UserProfile/MfaPhoneCodeScreen.tsx
  packages/clerk-js/src/ui/components/UserProfile/PhoneForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/Web3Form.tsx
  packages/clerk-js/src/ui/components/UserProfile/__tests__/PhoneSection.test.tsx
  packages/clerk-js/src/ui/elements/CodeControl.tsx
  packages/clerk-js/src/ui/elements/Section.tsx
  packages/clerk-js/src/ui/elements/SuccessPage.tsx
  packages/clerk-js/src/ui/icons/copy.svg
  packages/clerk-js/src/ui/icons/download.svg
  packages/clerk-js/src/ui/icons/pencil.svg
  packages/clerk-js/src/ui/icons/print.svg
  packages/localizations/src/en-US.ts
  packages/types/src/localization.ts
Labels: types, clerk-js, localizations

#2579 feat(*): Set PACKAGE_NAME and PACKAGE_VERSION as the user-agent header in BAPI requests
  .changeset/fresh-boats-fry.md
  packages/backend/package.json
  packages/backend/src/api/factory.test.ts
  packages/backend/src/api/request.ts
  packages/backend/src/constants.ts
  packages/backend/src/tokens/authObjects.ts
  packages/backend/src/tokens/authStatus.ts
  packages/backend/src/tokens/interstitialRule.ts
  packages/backend/src/tokens/keys.test.ts
  packages/backend/src/tokens/request.test.ts
  packages/backend/src/tokens/verify.test.ts
  packages/backend/tsup.config.test.ts
  packages/fastify/jest.config.js
  packages/fastify/src/__snapshots__/clerkClient.test.ts.snap
  packages/fastify/src/__snapshots__/constants.test.ts.snap
  packages/fastify/src/clerkClient.ts
  packages/gatsby-plugin-clerk/src/ssr/clerkClient.ts
  packages/nextjs/jest.config.js
  packages/nextjs/src/app-router/server/auth.ts
  packages/nextjs/src/server-helpers.server.ts
  packages/nextjs/src/server/__tests__/clerkClient.test.ts
  packages/nextjs/src/server/buildClerkProps.ts
  packages/nextjs/src/server/clerkClient.ts
  packages/nextjs/src/server/createGetAuth.test.ts
  packages/nextjs/src/server/createGetAuth.ts
  packages/nextjs/src/server/getAuth.ts
  packages/nextjs/src/server/index.ts
  packages/nextjs/src/server/utils.ts
  packages/nextjs/src/server/withClerkMiddleware.ts
  packages/remix/src/ssr/authenticateRequest.ts
  packages/remix/src/ssr/utils.ts
Labels: nextjs, remix, backend, fastify, gatsby

#2564 Version Packages - V4
  .changeset/fresh-boats-fry.md
  .changeset/rich-years-help.md
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/CHANGELOG.md
  packages/gatsby-plugin-clerk/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
Labels: nextjs, remix, backend, fastify, sdk-node, gatsby

#2585 fix(clerk-js): sync session cookie from cache
  .changeset/neat-poets-push.md
  packages/clerk-js/src/core/resources/Session.ts
Labels: clerk-js

#2586 Version Packages - V4
  .changeset/neat-poets-push.md
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
Labels: clerk-js, expo, chrome-extension

#2583 fix(clerk-js): Hide backup codes when adding phone_code mfa and instance setting is off
  .changeset/curly-toes-complain.md
  packages/clerk-js/src/ui/components/UserProfile/MfaPhoneCodeScreen.tsx
Labels: clerk-js

#2576 fix(clerk-js): Fix tab accessibility and tabLength
  .changeset/gentle-toys-melt.md
  .changeset/healthy-walls-fold.md
  packages/clerk-js/src/ui/elements/Tabs.tsx
Labels: clerk-js

#2582 test(clerk-js): Remove skipped tests from PasswordSection
  .changeset/twelve-lions-remain.md
  packages/clerk-js/src/ui/components/UserProfile/PasswordForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/__tests__/PasswordSection.test.tsx
  packages/clerk-js/src/ui/components/UserProfile/__tests__/SecurityPage.test.tsx
Labels: clerk-js

#2571 Version Packages (alpha-v5)
  .changeset/pre.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/CHANGELOG.md
  packages/gatsby-plugin-clerk/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
Labels: clerk-js, nextjs, remix, backend, fastify, localizations, sdk-node, expo, chrome-extension, gatsby, elements

#2592 test(clerk-js): Remove skipped tests for MfaPage
  .changeset/hot-fireants-kiss.md
  packages/clerk-js/src/ui/components/UserProfile/__tests__/MfaBackupCodeCreatePage.test.tsx
  packages/clerk-js/src/ui/components/UserProfile/__tests__/MfaPage.test.tsx
  packages/clerk-js/src/ui/components/UserProfile/__tests__/RemoveMfaPhoneCodePage.test.tsx
  packages/clerk-js/src/ui/components/UserProfile/__tests__/SecurityPage.test.tsx
  packages/clerk-js/src/ui/utils/test/fixtureHelpers.ts
Labels: clerk-js

#2575 fix(clerk-js): Use pattern for email input fields
  .changeset/rare-bulldogs-cheer.md
  packages/clerk-js/src/ui/primitives/Input.tsx
Labels: clerk-js

#2589 fix(*): Apply fixes reported before ship week
  .changeset/giant-bags-stare.md
  packages/backend/src/api/request.ts
  packages/clerk-js/src/core/resources/Error.ts
  packages/clerk-js/src/core/resources/Verification.ts
  packages/clerk-js/src/core/warnings.ts
  packages/nextjs/src/server/errors.ts
Labels: clerk-js, nextjs, backend

#2588 feat(clerk-js): Add glass background to cards
  .changeset/spotty-tomatoes-wonder.md
  packages/clerk-js/src/ui/elements/Card/CardFooter.tsx
  packages/clerk-js/src/ui/elements/Navbar.tsx
  packages/clerk-js/src/ui/elements/PopoverCard.tsx
  packages/clerk-js/src/ui/foundations/backdropFilters.ts
  packages/clerk-js/src/ui/foundations/defaultFoundations.ts
  packages/clerk-js/src/ui/styledSystem/animations.ts
  packages/clerk-js/src/ui/styledSystem/common.ts
Labels: clerk-js

#2580 fix(clerk-js): UI fixes on <OrganizationProfile /> to match new design
  .changeset/late-wasps-attack.md
  packages/clerk-js/src/ui/components/CreateOrganization/CreateOrganizationForm.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/InviteMembersForm.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/MemberListTable.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationMembers.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationMembersTabInvitations.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationMembersTabRequests.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationProfileNavbar.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/__tests__/InviteMembersPage.test.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/__tests__/OrganizationMembers.test.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/__tests__/OrganizationProfile.test.tsx
  packages/clerk-js/src/ui/elements/Card/CardRoot.tsx
  packages/clerk-js/src/ui/elements/InputGroup.tsx
  packages/clerk-js/src/ui/elements/Select.tsx
  packages/clerk-js/src/ui/elements/TagInput.tsx
  packages/clerk-js/src/ui/elements/VerificationCodeCard.tsx
  packages/clerk-js/src/ui/primitives/Badge.tsx
  packages/localizations/src/en-US.ts
  packages/types/src/localization.ts
Labels: types, clerk-js, localizations

#2591 fix(clerk-js): UI fixes to match designs for <SignIn/> & <SignUp/>
  .changeset/fuzzy-shoes-battle.md
  packages/clerk-js/src/ui/components/SignIn/AlternativeMethods.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInAccountSwitcher.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInFactorOnePasswordCard.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInStart.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpStart.tsx
  packages/clerk-js/src/ui/elements/ApplicationLogo.tsx
  packages/clerk-js/src/ui/elements/ArrowBlockButton.tsx
  packages/clerk-js/src/ui/elements/Divider.tsx
  packages/clerk-js/src/ui/elements/SocialButtons.tsx
  packages/clerk-js/src/ui/elements/VerificationCodeCard.tsx
  packages/clerk-js/src/ui/foundations/colors.ts
  packages/clerk-js/src/ui/primitives/Button.tsx
  packages/localizations/src/en-US.ts
  packages/types/src/localization.ts
Labels: types, clerk-js, localizations

#2600 fix(clerk-js): Take account custom pages when redirecting inside OrganizationProfile
  .changeset/tough-peas-teach.md
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationMembersTabInvitations.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationMembersTabRequests.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationProfileRoutes.tsx
  packages/clerk-js/src/ui/contexts/ClerkUIComponentsContext.tsx
Labels: clerk-js

#2601 fix(clerk-js): Revert cardBox overflow change
  .changeset/many-onions-travel.md
  packages/clerk-js/src/ui/elements/Card/CardRoot.tsx
Labels: clerk-js

#2597 feat(clerk-js): OrganizationSwitcher style alignments
  .changeset/funny-apricots-buy.md
  packages/clerk-js/src/ui/components/OrganizationSwitcher/OrganizationSwitcherTrigger.tsx
  packages/clerk-js/src/ui/components/UserButton/UserButtonTrigger.tsx
  packages/clerk-js/src/ui/elements/Actions.tsx
Labels: clerk-js

#2599 fix(clerk-js): Open VerifiedDomainForm after addition of domain
  .changeset/silly-bikes-lick.md
  packages/clerk-js/src/ui/components/OrganizationProfile/AddDomainForm.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/VerifiedDomainForm.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/VerifyDomainForm.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/VerifyDomainScreen.tsx
Labels: clerk-js

#2598 Fix(backend,remix): Issues with v5 and resources loading in request object
  .changeset/afraid-experts-eat.md
  .changeset/strange-trains-bow.md
  packages/backend/src/tokens/__tests__/request.test.ts
  packages/backend/src/tokens/authObjects.ts
  packages/remix/src/ssr/authenticateRequest.ts
  packages/remix/src/ssr/getAuth.ts
  packages/remix/src/ssr/loadOptions.ts
  packages/remix/src/ssr/rootAuthLoader.ts
  playground/remix-node/app/entry.server.tsx
  playground/remix-node/app/root.tsx
  playground/remix-node/app/routes/sign-in.$.tsx
  playground/remix-node/package.json
  playground/remix-node/remix.config.js
Labels: remix, backend, playground

#2602 Type clean ups
  .changeset/great-plums-buy.md
  packages/backend/src/api/resources/Enums.ts
  packages/backend/src/api/resources/JSON.ts
  packages/backend/src/api/resources/User.ts
  packages/backend/src/api/resources/index.ts
  packages/types/src/attributes.ts
  packages/types/src/signUp.ts
Labels: types, backend

#2593 feat(clerk-js): Align the UserProfile with the designs
  .changeset/orange-bottles-raise.md
  packages/clerk-js/src/ui/components/UserProfile/AccountPage.tsx
  packages/clerk-js/src/ui/components/UserProfile/ConnectedAccountsSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/DeleteSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/EmailsSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/EnterpriseAccountsSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/PasswordSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/PhoneSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/UserProfileSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/UsernameForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/UsernameSection.tsx
  packages/clerk-js/src/ui/elements/Menu.tsx
  packages/clerk-js/src/ui/elements/Navbar.tsx
  packages/clerk-js/src/ui/elements/Section.tsx
  packages/clerk-js/src/ui/foundations/sizes.ts
  packages/clerk-js/src/ui/icons/threeDots.svg
  packages/localizations/src/en-US.ts
Labels: clerk-js, localizations

#2607 fix(clerk-js): Align Get help screen with the designs
  .changeset/new-dolphins-raise.md
  packages/clerk-js/src/ui/components/SignIn/HavingTrouble.tsx
  packages/clerk-js/src/ui/elements/ErrorCard.tsx
Labels: clerk-js

#2606 chore(elements): SignUp fast-follow clean up
  .changeset/green-rocks-chew.md
  packages/elements/src/index.ts
  packages/elements/src/internals/constants/index.ts
  packages/elements/src/internals/machines/shared.actors.ts
  packages/elements/src/internals/machines/sign-up/sign-up.context.ts
  packages/elements/src/internals/machines/sign-up/sign-up.machine.ts
  packages/elements/src/internals/machines/utils/clerkjs.ts
  packages/elements/src/react/sign-up/index.tsx
Labels: elements

#2590 fix(clerk-js): Improve UI on create org component
  .changeset/brown-trees-sniff.md
  .changeset/eight-plants-melt.md
  .changeset/eleven-clouds-wave.md
  .changeset/four-pandas-grab.md
  .changeset/happy-worms-smell.md
  .changeset/lemon-cameras-talk.md
  .changeset/small-months-sing.md
  packages/clerk-js/src/ui/components/CreateOrganization/CreateOrganizationForm.tsx
  packages/clerk-js/src/ui/components/CreateOrganization/CreateOrganizationPage.tsx
  packages/clerk-js/src/ui/components/CreateOrganization/__tests__/CreateOrganization.test.tsx
  packages/clerk-js/src/ui/elements/AvatarUploader.tsx
  packages/clerk-js/src/ui/elements/Card/CardContent.tsx
  packages/clerk-js/src/ui/elements/FormControl.tsx
  packages/clerk-js/src/ui/foundations/sizes.ts
  packages/clerk-js/src/ui/primitives/Button.tsx
  packages/clerk-js/src/ui/primitives/Icon.tsx
  packages/localizations/src/en-US.ts
Labels: clerk-js, localizations

#2608 chore(elements): Nest machines and associated files
  .changeset/mighty-queens-exist.md
  packages/elements/src/index.ts
  packages/elements/src/internals/machines/form/form.context.ts
  packages/elements/src/internals/machines/form/form.machine.ts
  packages/elements/src/internals/machines/form/form.types.ts
  packages/elements/src/internals/machines/sign-in/sign-in.actors.ts
  packages/elements/src/internals/machines/sign-in/sign-in.context.ts
  packages/elements/src/internals/machines/sign-in/sign-in.machine.ts
  packages/elements/src/internals/machines/sign-in/sign-in.types.ts
  packages/elements/src/internals/machines/sign-in/sign-in.utils.ts
  packages/elements/src/internals/machines/sign-up/sign-up.actors.ts
  packages/elements/src/internals/machines/sign-up/sign-up.machine.ts
  packages/elements/src/react/common/form.tsx
  packages/elements/src/react/sign-in/index.tsx
  packages/elements/src/react/sign-up/index.tsx
Labels: elements

#2609 Fix(clerk-sdk-node): `request.auth` type
  .changeset/neat-crabs-know.md
  packages/sdk-node/src/types.ts
Labels: sdk-node

#2611 v5 redirect improvements
  .changeset/chatty-bottles-rhyme.md
  packages/backend/src/__tests__/createRedirect.test.ts
  packages/backend/src/__tests__/exports.test.ts
  packages/backend/src/constants.ts
  packages/backend/src/createRedirect.ts
  packages/backend/src/internal.ts
  packages/backend/src/redirections.ts
  packages/backend/src/tokens/__tests__/request.test.ts
  packages/backend/src/tokens/authStatus.ts
  packages/backend/src/tokens/request.ts
  packages/backend/tests/suites.ts
  packages/fastify/src/__snapshots__/constants.test.ts.snap
  packages/nextjs/src/app-router/server/auth.ts
  packages/nextjs/src/app-router/server/utils.ts
  packages/nextjs/src/server/__tests__/__snapshots__/exports.test.ts.snap
  packages/nextjs/src/server/authMiddleware.test.ts
  packages/nextjs/src/server/authMiddleware.ts
  packages/nextjs/src/server/buildClerkProps.ts
  packages/nextjs/src/server/clerkMiddleware.ts
  packages/nextjs/src/server/createGetAuth.test.ts
  packages/nextjs/src/server/createGetAuth.ts
  packages/nextjs/src/server/getAuth.ts
  packages/nextjs/src/server/index.ts
  packages/nextjs/src/server/redirect.ts
  packages/nextjs/src/server/utils.ts
Labels: nextjs, backend, fastify

#2596 fix(nextjs,backend): Replace `error` with `errors` for jwt / token helpers return value
  .changeset/unlucky-frogs-tap.md
  packages/backend/src/jwt/__tests__/verifyJwt.test.ts
  packages/backend/src/jwt/signJwt.ts
  packages/backend/src/jwt/types.ts
  packages/backend/src/jwt/verifyJwt.ts
  packages/backend/src/tokens/handshake.ts
  packages/backend/src/tokens/request.ts
  packages/backend/src/tokens/verify.ts
  packages/nextjs/src/server/createGetAuth.ts
Labels: nextjs, backend

#2604 fix(clerk-js): Throw error for unsupported method `OrganizationMembership.reload`
  .changeset/gold-shrimps-behave.md
  packages/clerk-js/src/core/errors.ts
  packages/clerk-js/src/core/resources/OrganizationMembership.ts
Labels: clerk-js

#2594 Version Packages (alpha-v5)
  .changeset/pre.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/CHANGELOG.md
  packages/gatsby-plugin-clerk/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
Labels: clerk-js, nextjs, remix, backend, fastify, sdk-node, expo, chrome-extension, gatsby, elements

#2616 fix(clerk-js): Make the manage org button a perfect square
  .changeset/cold-jars-roll.md
  packages/clerk-js/src/ui/elements/Actions.tsx
Labels: clerk-js

#2614 fix(clerk-js): Throws FAPI errors during dev browser creation
  .changeset/clever-hounds-flow.md
  packages/clerk-js/src/core/devBrowser.test.ts
  packages/clerk-js/src/core/devBrowser.ts
  packages/clerk-js/src/core/errors.ts
Labels: clerk-js

#2618 fix(nextjs): Correct type for Protect
  .changeset/fluffy-olives-boil.md
  packages/nextjs/src/index.ts
Labels: nextjs

#2613 feat(elements): Introduce OTPInput
  .changeset/cuddly-houses-sniff.md
  packages/elements/examples/nextjs/app/sign-in/[[...sign-in]]/page.tsx
  packages/elements/src/internals/machines/form/form.context.ts
  packages/elements/src/react/common/form/index.tsx
  packages/elements/src/react/common/form/types.ts
Labels: elements

#2603 chore(clerk-js): Log warning if org components are mounted and the feature is turned off
  .changeset/light-shirts-lick.md
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/warnings.ts
  packages/clerk-js/src/utils/componentGuards.ts
Labels: clerk-js

#2574 feat(clerk-js): Add button and input default descriptors
  .changeset/soft-donkeys-promise.md
  packages/clerk-js/src/ui/customizables/elementDescriptors.ts
  packages/clerk-js/src/ui/customizables/index.ts
  packages/clerk-js/src/ui/primitives/Button.tsx
  packages/types/src/appearance.ts
Labels: types, clerk-js

#2612 feat(clerk-js): Align UserProfile action cards with designs
  .changeset/empty-lions-pull.md
  packages/clerk-js/src/ui/common/RemoveResourceForm.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInStart.tsx
  packages/clerk-js/src/ui/components/UserProfile/AddAuthenticatorApp.tsx
  packages/clerk-js/src/ui/components/UserProfile/DeleteUserForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/EmailForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/ProfileForm.tsx
  packages/clerk-js/src/ui/elements/Action/ActionCard.tsx
  packages/clerk-js/src/ui/elements/ClipboardInput.tsx
  packages/clerk-js/src/ui/elements/FieldControl.tsx
  packages/clerk-js/src/ui/elements/Form.tsx
  packages/clerk-js/src/ui/elements/FormButtons.tsx
  packages/clerk-js/src/ui/elements/Section.tsx
  packages/clerk-js/src/ui/styledSystem/common.ts
Labels: clerk-js

#2621 fix(clerk-js): Fix email card subtitle
  .changeset/three-planes-tell.md
  packages/clerk-js/src/ui/components/UserProfile/EmailForm.tsx
Labels: clerk-js

#2610 fix(clerk-js): Align <OrganizationProfile/> with designs
  .changeset/gorgeous-camels-mate.md
  packages/clerk-js/src/ui/components/OrganizationProfile/ActionConfirmationPage.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/DomainList.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationGeneralPage.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationMembers.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationMembersTabInvitations.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationMembersTabRequests.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/ProfileForm.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/VerifiedDomainForm.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/__tests__/OrganizationGeneralPage.test.tsx
  packages/clerk-js/src/ui/components/OrganizationSwitcher/OrganizationSwitcherTrigger.tsx
  packages/clerk-js/src/ui/elements/Actions.tsx
  packages/clerk-js/src/ui/elements/FieldControl.tsx
  packages/clerk-js/src/ui/elements/Menu.tsx
  packages/clerk-js/src/ui/elements/Navbar.tsx
  packages/clerk-js/src/ui/elements/Pagination.tsx
  packages/clerk-js/src/ui/elements/PreviewButton.tsx
  packages/clerk-js/src/ui/elements/RadioGroup.tsx
  packages/clerk-js/src/ui/elements/TagInput.tsx
  packages/clerk-js/src/ui/foundations/shadows.ts
  packages/clerk-js/src/ui/primitives/Button.tsx
  packages/clerk-js/src/ui/primitives/Table.tsx
  packages/clerk-js/src/ui/primitives/Th.tsx
Labels: clerk-js

#2623 fix(clerk-js): Remove fill color from auth app icon
  .changeset/young-guests-help.md
  packages/clerk-js/src/ui/icons/auth-app.svg
Labels: clerk-js

#2619 fix(backend): Add UserPasswordHashingParams to updateUser
  .changeset/sweet-ladybugs-sneeze.md
  packages/backend/src/api/endpoints/UserApi.ts
Labels: backend

#2628 fix(backend): Add UserPasswordHashingParams to updateUser [backport]
  .changeset/sweet-ladybugs-sneeze.md
  packages/backend/src/api/endpoints/UserApi.ts
Labels: actions, backend, integration

#2625 fix(clerk-js): UI fixes for <SignIn/> & <SignUp/> to match components
  .changeset/odd-islands-attack.md
  packages/clerk-js/src/ui/components/SignIn/ResetPassword.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInFactorOnePasswordCard.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInFactorTwoAlternativeMethods.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInStart.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpForm.tsx
  packages/clerk-js/src/ui/elements/Card/CardRoot.tsx
  packages/clerk-js/src/ui/elements/CodeControl.tsx
Labels: clerk-js

#2624 fix(clerk-js): Remove handshake paramters when clerk-js loads
  .changeset/tender-wasps-hope.md
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/utils/getClerkQueryParam.ts
Labels: clerk-js

#2631 Version Packages - V4
  .changeset/sweet-ladybugs-sneeze.md
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/CHANGELOG.md
  packages/gatsby-plugin-clerk/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
Labels: nextjs, remix, backend, fastify, sdk-node, gatsby

#2626 chore(clerk-js): Remove FileDropArea
  .changeset/rude-cows-fry.md
  packages/clerk-js/src/ui/components/OrganizationProfile/ProfileForm.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/__tests__/ProfileSettingsPage.test.tsx
  packages/clerk-js/src/ui/components/UserProfile/ProfileForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/__tests__/UserProfileSection.test.tsx
  packages/clerk-js/src/ui/customizables/elementDescriptors.ts
  packages/clerk-js/src/ui/elements/AvatarUploader.tsx
  packages/clerk-js/src/ui/elements/FileDropArea.tsx
  packages/clerk-js/src/ui/elements/index.ts
  packages/localizations/src/ar-SA.ts
  packages/localizations/src/bg-BG.ts
  packages/localizations/src/cs-CZ.ts
  packages/localizations/src/da-DK.ts
  packages/localizations/src/de-DE.ts
  packages/localizations/src/el-GR.ts
  packages/localizations/src/en-US.ts
  packages/localizations/src/es-ES.ts
  packages/localizations/src/es-MX.ts
  packages/localizations/src/fr-FR.ts
  packages/localizations/src/he-IL.ts
  packages/localizations/src/it-IT.ts
  packages/localizations/src/ja-JP.ts
  packages/localizations/src/ko-KR.ts
  packages/localizations/src/nb-NO.ts
  packages/localizations/src/nl-NL.ts
  packages/localizations/src/pl-PL.ts
  packages/localizations/src/pt-BR.ts
  packages/localizations/src/pt-PT.ts
  packages/localizations/src/ro-RO.ts
  packages/localizations/src/ru-RU.ts
  packages/localizations/src/sk-SK.ts
  packages/localizations/src/sv-SE.ts
  packages/localizations/src/tr-TR.ts
  packages/localizations/src/uk-UA.ts
  packages/localizations/src/vi-VN.ts
  packages/localizations/src/zh-CN.ts
  packages/localizations/src/zh-TW.ts
  packages/types/src/appearance.ts
  packages/types/src/localization.ts
Labels: types, clerk-js, localizations

#2630 fix(nextjs,backend): Re-introduce top-level redirectToSignIn and redirectToSignUp helpers
  .changeset/sixty-islands-jump.md
  packages/backend/src/createRedirect.ts
  packages/nextjs/src/server/__tests__/__snapshots__/exports.test.ts.snap
  packages/nextjs/src/server/authMiddleware.test.ts
  packages/nextjs/src/server/authMiddleware.ts
  packages/nextjs/src/server/index.ts
  packages/nextjs/src/server/redirectHelpers.ts
Labels: nextjs, backend
