Repository clerk/javascript, pull requests merged in 2024-12, with the labels that each got.

#4660 chore(clerk-js): Fix transform css rule in outAnimation
  .changeset/real-fans-fry.md
  packages/clerk-js/src/ui/styledSystem/animations.ts
Labels: clerk-js

#4670 chore(backend): Allow to create organizations without initial owner
  .changeset/sharp-crabs-wave.md
  packages/backend/src/api/endpoints/OrganizationApi.ts
  packages/backend/src/api/resources/JSON.ts
  packages/backend/src/api/resources/Organization.ts
Labels: backend

#4671 chore(localizations,types): Translate FAPI error for domains with SSO per org
  .changeset/clean-carrots-jump.md
  packages/localizations/src/ar-SA.ts
  packages/localizations/src/be-BY.ts
  packages/localizations/src/bg-BG.ts
  packages/localizations/src/cs-CZ.ts
  packages/localizations/src/da-DK.ts
  packages/localizations/src/de-DE.ts
  packages/localizations/src/el-GR.ts
  packages/localizations/src/en-US.ts
  packages/localizations/src/es-ES.ts
  packages/localizations/src/es-MX.ts
  packages/localizations/src/fi-FI.ts
  packages/localizations/src/fr-FR.ts
  packages/localizations/src/he-IL.ts
  packages/localizations/src/hu-HU.ts
  packages/localizations/src/is-IS.ts
  packages/localizations/src/it-IT.ts
  packages/localizations/src/ja-JP.ts
  packages/localizations/src/ko-KR.ts
  packages/localizations/src/mn-MN.ts
  packages/localizations/src/nb-NO.ts
  packages/localizations/src/nl-NL.ts
  packages/localizations/src/pl-PL.ts
  packages/localizations/src/pt-BR.ts
  packages/localizations/src/pt-PT.ts
  packages/localizations/src/ro-RO.ts
  packages/localizations/src/ru-RU.ts
  packages/localizations/src/sk-SK.ts
  packages/localizations/src/sr-RS.ts
  packages/localizations/src/sv-SE.ts
  packages/localizations/src/th-TH.ts
  packages/localizations/src/tr-TR.ts
  packages/localizations/src/uk-UA.ts
  packages/localizations/src/vi-VN.ts
  packages/localizations/src/zh-CN.ts
  packages/localizations/src/zh-TW.ts
  packages/types/src/localization.ts
Labels: types, localizations

#4689 chore(nextjs): Remove cyclic module dependency
  .changeset/moody-chicken-kneel.md
  packages/nextjs/src/server/clerkClient.ts
  packages/nextjs/src/server/clerkMiddleware.ts
  packages/nextjs/src/server/createClerkClient.ts
  packages/nextjs/src/server/middleware-storage.ts
Labels: nextjs

#4696 feat(clerk-js,elements,react,types): Support OKW Wallet Web3 provider and authentication strategy
  .changeset/dull-cooks-fry.md
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/resources/SignIn.ts
  packages/clerk-js/src/core/resources/SignUp.ts
  packages/clerk-js/src/ui/common/constants.ts
  packages/clerk-js/src/utils/injectedWeb3Providers.ts
  packages/clerk-js/src/utils/web3.ts
  packages/elements/src/internals/machines/sign-in/start.machine.ts
  packages/elements/src/internals/machines/sign-in/verification.machine.ts
  packages/elements/src/internals/machines/sign-up/start.machine.ts
  packages/elements/src/react/hooks/use-third-party-provider.hook.ts
  packages/elements/src/react/utils/map-scope-to-strategy.ts
  packages/react/src/isomorphicClerk.ts
  packages/types/src/clerk.ts
  packages/types/src/signIn.ts
  packages/types/src/signUp.ts
  packages/types/src/web3.ts
Labels: types, clerk-js, react, elements

#4688 ci(repo): Version packages
  .changeset/clean-carrots-jump.md
  .changeset/dull-cooks-fry.md
  .changeset/many-ads-move.md
  .changeset/moody-chicken-kneel.md
  .changeset/sharp-crabs-wave.md
  .changeset/small-buckets-peel.md
  .changeset/tame-lamps-rule.md
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/expo-passkeys/CHANGELOG.md
  packages/expo-passkeys/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/tanstack-start/CHANGELOG.md
  packages/tanstack-start/package.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, sdk-node, expo, chrome-extension, themes, elements, express, testing, tanstack

#4698 feat(remix): Automatically use dynamic path for OrganizationProfile and UserProfile
  .changeset/four-hats-allow.md
  packages/remix/src/client/index.ts
Labels: remix

#4705 feat(clerk-js): Add allowedRedirectProtocols
  .changeset/blue-teachers-remember.md
  packages/clerk-js/src/core/__tests__/clerk.test.ts
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/utils/windowNavigate.ts
  packages/types/src/clerk.ts
Labels: types, clerk-js

#4691 chore(clerk-js,types): Add experimental `SignInCombinedProps` option
  packages/clerk-js/src/ui/common/redirects.ts
  packages/clerk-js/src/ui/components/SignIn/SignIn.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInStart.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpStart.tsx
  packages/clerk-js/src/ui/contexts/components/SignIn.ts
  packages/types/src/clerk.ts
Labels: types, clerk-js

#4707 test(e2e): Add tests for combined sign in/sign up flow
  integration/presets/envs.ts
  integration/presets/longRunningApps.ts
  integration/templates/next-app-router/src/app/layout.tsx
  integration/templates/next-app-router/src/app/sign-in/[[...catchall]]/page.tsx
  integration/tests/combined-sign-in-flow.test.ts
  integration/tests/combined-sign-up-flow.test.ts
Labels: integration

#4555 fix(clerk-js): No TokenUpdate side-effect on `new Session()`
  .changeset/slow-cougars-burn.md
  packages/clerk-js/src/core/__tests__/clerk.test.ts
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/resources/Session.ts
  packages/clerk-js/src/core/resources/__tests__/Session.test.ts
  packages/clerk-js/src/core/resources/__tests__/__snapshots__/Session.test.ts.snap
Labels: clerk-js

#4701 feat(clerk-expo): Introduce <Waitlist /> component
  .changeset/ten-berries-march.md
  packages/expo/src/web/uiComponents.tsx
Labels: expo

#4706 feat(nextjs): No ezheaders
  .changeset/hungry-bugs-repeat.md
  packages/nextjs/package.json
  packages/nextjs/src/app-router/server-actions.ts
  packages/nextjs/src/app-router/server/ClerkProvider.tsx
  packages/nextjs/src/app-router/server/utils.ts
  pnpm-lock.yaml
Labels: nextjs

#4714 fix(clerk-js): Do not send stale field value when updating username
  packages/clerk-js/src/ui/components/UserProfile/UsernameForm.tsx
Labels: clerk-js

#4713 fix(clerk-js): Do not send stale field value when creating email address and username
  .changeset/lucky-shrimps-switch.md
  packages/clerk-js/src/ui/components/UserProfile/EmailForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/UsernameForm.tsx
Labels: clerk-js

#4708 chore(vue): Add custom pages and links
  .changeset/four-beans-argue.md
  integration/templates/vue-vite/src/components/CustomUserButton.vue
  integration/templates/vue-vite/src/router.ts
  integration/templates/vue-vite/src/views/custom-pages/OrganizationProfile.vue
  integration/templates/vue-vite/src/views/custom-pages/UserProfile.vue
  integration/tests/vue/components.test.ts
  packages/vue/src/components/uiComponents.ts
  packages/vue/src/errors/messages.ts
  packages/vue/src/keys.ts
  packages/vue/src/types.ts
  packages/vue/src/utils/useCustomElementPortal.ts
  packages/vue/src/utils/useCustomPages.ts
Labels: integration

#4703 ci(repo): Version packages
  .changeset/blue-teachers-remember.md
  .changeset/four-beans-argue.md
  .changeset/four-hats-allow.md
  .changeset/hungry-bugs-repeat.md
  .changeset/lucky-shrimps-switch.md
  .changeset/moody-snails-smell.md
  .changeset/silly-days-provide.md
  .changeset/slow-cougars-burn.md
  .changeset/ten-berries-march.md
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/expo-passkeys/CHANGELOG.md
  packages/expo-passkeys/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/tanstack-start/CHANGELOG.md
  packages/tanstack-start/package.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, sdk-node, expo, chrome-extension, themes, elements, express, testing, tanstack

#4717 ci(repo): Version packages
  .changeset/curvy-sloths-dress.md
  .changeset/honest-news-peel.md
  .changeset/quiet-timers-mate.md
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/expo-passkeys/CHANGELOG.md
  packages/expo-passkeys/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/tanstack-start/CHANGELOG.md
  packages/tanstack-start/package.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, sdk-node, expo, chrome-extension, themes, elements, express, testing, tanstack

#4711 fix(clerk-js): Move signup id check into an effect within continue step
  .changeset/clean-rivers-sleep.md
  packages/clerk-js/src/ui/components/SignUp/SignUpContinue.tsx
Labels: clerk-js

#4700 feat(localizations): Update translations for multiple languages
  .changeset/witty-icons-turn.md
  packages/localizations/src/be-BY.ts
  packages/localizations/src/bg-BG.ts
  packages/localizations/src/ca-ES.ts
  packages/localizations/src/cs-CZ.ts
  packages/localizations/src/da-DK.ts
  packages/localizations/src/de-DE.ts
  packages/localizations/src/en-US.ts
  packages/localizations/src/es-ES.ts
  packages/localizations/src/fr-FR.ts
  packages/localizations/src/it-IT.ts
  packages/localizations/src/nl-NL.ts
  packages/localizations/src/pt-BR.ts
  packages/localizations/src/pt-PT.ts
  packages/localizations/src/tr-TR.ts
Labels: localizations

#4695 fix(localizations): Update translations and fix typos in `ru-RU`
  .changeset/young-lemons-marry.md
  packages/localizations/src/ru-RU.ts
Labels: localizations

#4602 feat(nextjs): Support Keyless mode
  .changeset/dry-cats-change.md
  .changeset/grumpy-camels-think.md
  .changeset/itchy-cats-drive.md
  .changeset/warm-spiders-develop.md
  integration/tests/next-build.test.ts
  packages/backend/src/api/endpoints/AccountlessApplicationsAPI.ts
  packages/backend/src/api/endpoints/index.ts
  packages/backend/src/api/factory.ts
  packages/backend/src/api/request.ts
  packages/backend/src/api/resources/AccountlessApplication.ts
  packages/backend/src/api/resources/Deserializer.ts
  packages/backend/src/api/resources/JSON.ts
  packages/backend/src/api/resources/index.ts
  packages/backend/src/index.ts
  packages/clerk-js/jest.setup.ts
  packages/clerk-js/rspack.config.js
  packages/clerk-js/sandbox/app.ts
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/globals.d.ts
  packages/clerk-js/src/ui/Components.tsx
  packages/clerk-js/src/ui/components/KeylessPrompt/index.tsx
  packages/clerk-js/src/ui/lazyModules/components.ts
  packages/nextjs/package.cjs.json
  packages/nextjs/package.esm.json
  packages/nextjs/src/app-router/client/ClerkProvider.tsx
  packages/nextjs/src/app-router/client/keyless-cookie-sync.tsx
  packages/nextjs/src/app-router/client/keyless-creator-reader.tsx
  packages/nextjs/src/app-router/keyless-actions.ts
  packages/nextjs/src/app-router/server/ClerkProvider.tsx
  packages/nextjs/src/runtime/browser/safe-node-apis.js
  packages/nextjs/src/runtime/node/safe-node-apis.js
  packages/nextjs/src/server/clerkMiddleware.ts
  packages/nextjs/src/server/constants.ts
  packages/nextjs/src/server/data/getAuthDataFromRequest.ts
  packages/nextjs/src/server/keyless-node.ts
  packages/nextjs/src/server/keyless.ts
  packages/nextjs/src/server/utils.ts
  packages/nextjs/src/utils/clerk-js-script.tsx
  packages/nextjs/src/utils/feature-flags.ts
  packages/nextjs/src/utils/sdk-versions.ts
  packages/nextjs/tsup.config.ts
  packages/react/src/contexts/ClerkContextProvider.tsx
  packages/react/src/contexts/ClerkProvider.tsx
  packages/react/src/isomorphicClerk.ts
  packages/react/src/types.ts
  packages/types/src/clerk.ts
Labels: types, clerk-js, nextjs, react, backend, integration

#4673 chore(localizations): Improve localizations for `pt-BL`
  .changeset/smooth-colts-shake.md
  packages/localizations/src/pt-BR.ts
Labels: localizations

#4686 fix(localizations): Adds id-ID localization
  .changeset/tasty-paws-agree.md
  packages/localizations/package.json
  packages/localizations/src/id-ID.ts
  packages/localizations/src/index.ts
Labels: localizations

#4313 feat(localization): Add en-GB
  .changeset/fuzzy-carrots-push.md
  packages/localizations/package.json
  packages/localizations/src/en-GB.ts
  packages/localizations/src/index.ts
Labels: localizations

#4607 feat(clerk-js): Add experimental combined flow
  .changeset/loud-balloons-grow.md
  integration/presets/envs.ts
  integration/presets/longRunningApps.ts
  integration/templates/next-app-router/src/app/layout.tsx
  integration/templates/next-app-router/src/app/sign-in/[[...catchall]]/page.tsx
  integration/tests/combined-sign-in-flow.test.ts
  integration/tests/combined-sign-up-flow.test.ts
  packages/clerk-js/sandbox/template.html
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/constants.ts
  packages/clerk-js/src/ui/common/EmailLinkVerify.tsx
  packages/clerk-js/src/ui/common/redirects.ts
  packages/clerk-js/src/ui/components/SignIn/SignIn.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInStart.tsx
  packages/clerk-js/src/ui/components/SignIn/handleCombinedFlowTransfer.ts
  packages/clerk-js/src/ui/components/SignIn/utils.ts
  packages/clerk-js/src/ui/components/SignUp/SignUpContinue.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpStart.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpVerificationCodeForm.tsx
  packages/clerk-js/src/ui/components/Waitlist/Waitlist.tsx
  packages/clerk-js/src/ui/contexts/components/SignIn.ts
  packages/clerk-js/src/ui/contexts/components/Waitlist.ts
  packages/clerk-js/src/utils/completeSignUpFlow.ts
  packages/localizations/src/ar-SA.ts
  packages/localizations/src/be-BY.ts
  packages/localizations/src/bg-BG.ts
  packages/localizations/src/cs-CZ.ts
  packages/localizations/src/da-DK.ts
  packages/localizations/src/de-DE.ts
  packages/localizations/src/el-GR.ts
  packages/localizations/src/en-US.ts
  packages/localizations/src/es-ES.ts
  packages/localizations/src/es-MX.ts
  packages/localizations/src/fi-FI.ts
  packages/localizations/src/fr-FR.ts
  packages/localizations/src/he-IL.ts
  packages/localizations/src/hu-HU.ts
  packages/localizations/src/is-IS.ts
  packages/localizations/src/it-IT.ts
  packages/localizations/src/ja-JP.ts
  packages/localizations/src/ko-KR.ts
  packages/localizations/src/mn-MN.ts
  packages/localizations/src/nb-NO.ts
  packages/localizations/src/nl-NL.ts
  packages/localizations/src/pl-PL.ts
  packages/localizations/src/pt-BR.ts
  packages/localizations/src/pt-PT.ts
  packages/localizations/src/ro-RO.ts
  packages/localizations/src/ru-RU.ts
  packages/localizations/src/sk-SK.ts
  packages/localizations/src/sr-RS.ts
  packages/localizations/src/sv-SE.ts
  packages/localizations/src/th-TH.ts
  packages/localizations/src/tr-TR.ts
  packages/localizations/src/uk-UA.ts
  packages/localizations/src/vi-VN.ts
  packages/localizations/src/zh-CN.ts
  packages/localizations/src/zh-TW.ts
  packages/types/src/clerk.ts
  packages/types/src/localization.ts
Labels: types, clerk-js, localizations, integration

#4724 fix(repo): Fix failing integration tests
  .changeset/funny-fishes-learn.md
  integration/testUtils/commonPageObject.ts
  integration/tests/combined-sign-in-flow.test.ts
  integration/tests/sign-in-flow.test.ts
  packages/localizations/src/en-US.ts
Labels: localizations, integration

#4718 ci(repo): Version packages
  .changeset/clean-rivers-sleep.md
  .changeset/dry-cats-change.md
  .changeset/funny-fishes-learn.md
  .changeset/fuzzy-carrots-push.md
  .changeset/grumpy-camels-think.md
  .changeset/itchy-cats-drive.md
  .changeset/loud-balloons-grow.md
  .changeset/smooth-colts-shake.md
  .changeset/tasty-paws-agree.md
  .changeset/warm-spiders-develop.md
  .changeset/witty-icons-turn.md
  .changeset/young-lemons-marry.md
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/expo-passkeys/CHANGELOG.md
  packages/expo-passkeys/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/tanstack-start/CHANGELOG.md
  packages/tanstack-start/package.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, sdk-node, expo, chrome-extension, themes, elements, express, testing, tanstack

#4709 Refactor clerkjs init
  .changeset/tough-humans-attend.md
  packages/clerk-js/src/core/__tests__/clerk.test.ts
  packages/clerk-js/src/core/auth/AuthCookieService.ts
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/fapiClient.ts
  packages/clerk-js/src/core/fraudProtection.test.ts
  packages/clerk-js/src/core/fraudProtection.ts
  packages/clerk-js/src/core/resources/Base.ts
  packages/clerk-js/src/core/resources/Client.ts
  packages/clerk-js/src/core/resources/Session.ts
  packages/clerk-js/src/ui/localization/applyTokensToString.ts
Labels: clerk-js

#4728 ci(repo): Version packages
  .changeset/dull-melons-move.md
  .changeset/thick-guests-burn.md
  .changeset/tough-humans-attend.md
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/dev-cli/CHANGELOG.md
  packages/dev-cli/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/expo-passkeys/CHANGELOG.md
  packages/expo-passkeys/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/tanstack-start/CHANGELOG.md
  packages/tanstack-start/package.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Labels: clerk-js, nextjs, react, remix, backend, fastify, sdk-node, expo, chrome-extension, elements, express, testing, tanstack

#4730 fix(backend): Add missing `reservedForSecondFactor` property to `PhoneNumberAPI` types
  .changeset/red-rice-attend.md
  packages/backend/src/api/endpoints/PhoneNumberApi.ts
Labels: backend

#4731 fix(localizations): Update translations and fix typos in `es-ES` and `es-MX`
  .changeset/great-seas-relate.md
  packages/localizations/src/es-ES.ts
  packages/localizations/src/es-MX.ts
Labels: localizations

#4729 feat(clerk-js,types): Add `socialButtonsRoot` descriptor
  .changeset/tiny-brooms-learn.md
  packages/clerk-js/bundlewatch.config.json
  packages/clerk-js/src/ui/customizables/elementDescriptors.ts
  packages/clerk-js/src/ui/elements/SocialButtons.tsx
  packages/types/src/appearance.ts
Labels: types, clerk-js

#4721 feat(astro)!: Add Astro v5 support
  .changeset/famous-rings-fix.md
  integration/templates/astro-node/package.json
  integration/templates/astro-node/src/env.d.ts
  integration/templates/astro-node/src/layouts/ViewTransitionsLayout.astro
  packages/astro/README.md
  packages/astro/package.json
  packages/astro/src/integration/create-integration.ts
  pnpm-lock.yaml
Labels: integration

#4735 ci(repo): Version packages
  .changeset/clean-pigs-hope.md
  .changeset/famous-rings-fix.md
  .changeset/great-seas-relate.md
  .changeset/odd-pumas-rule.md
  .changeset/red-rice-attend.md
  .changeset/tiny-brooms-learn.md
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/expo-passkeys/CHANGELOG.md
  packages/expo-passkeys/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/tanstack-start/CHANGELOG.md
  packages/tanstack-start/package.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, sdk-node, expo, chrome-extension, themes, elements, express, testing, tanstack

#4702 ci(repo): Introduce job to check triggering actor permissions
  .changeset/unlucky-buses-perform.md
  .github/workflows/ci.yml
Labels: actions

#4739 ci(repo): Require user permissions check to run jobs
  .changeset/clean-suits-itch.md
  .github/workflows/ci.yml
Labels: actions

#4741 fix(tanstack-start): Export error helpers form @clerk/clerk-react
  .changeset/calm-tools-sneeze.md
  packages/tanstack-start/errors/package.json
  packages/tanstack-start/package.json
  packages/tanstack-start/src/errors.ts
Labels: tanstack

#4658 feat(clerk-js): Add static toast UI for Keyless mode
  .changeset/afraid-pumas-design.md
  packages/clerk-js/src/ui/components/KeylessPrompt/ClerkLogoIcon.tsx
  packages/clerk-js/src/ui/components/KeylessPrompt/KeySlashIcon.tsx
  packages/clerk-js/src/ui/components/KeylessPrompt/index.tsx
Labels: clerk-js

#4664 fix(repo): Use semver ^ for internal dependencies
  .changeset/quick-bobcats-bake.md
  packages/astro/package.json
  packages/backend/package.json
  packages/chrome-extension/package.json
  packages/clerk-js/package.json
  packages/elements/package.json
  packages/expo-passkeys/package.json
  packages/expo/package.json
  packages/fastify/package.json
  packages/localizations/package.json
  packages/nextjs/package.json
  packages/nuxt/package.json
  packages/react-router/package.json
  packages/react/package.json
  packages/remix/package.json
  packages/sdk-node/package.json
  packages/shared/package.json
  packages/tanstack-start/package.json
  packages/testing/package.json
  packages/themes/package.json
  packages/ui/package.json
  packages/vue/package.json
  playground/fastify/package.json
  pnpm-lock.yaml
Labels: clerk-js, nextjs, react, remix, backend, fastify, localizations, sdk-node, expo, chrome-extension, playground, themes, elements, testing, tanstack

#4747 fix(react-router): Add E2E tests & improve redirect URL env var loading
  .changeset/lemon-news-agree.md
  .github/workflows/ci.yml
  integration/templates/react-router-node/app/routes/protected.tsx
  integration/tests/react-router/basic.test.ts
  packages/react-router/src/client/ReactRouterClerkProvider.tsx
  packages/react-router/src/client/types.ts
  packages/react-router/src/ssr/loadOptions.ts
  packages/react-router/src/ssr/types.ts
  packages/react-router/src/utils/env.ts
  packages/react-router/src/utils/errors.ts
Labels: actions, integration

#4715 fix(clerk-react): Use derived state over local state in useAuth
  .changeset/red-cats-approve.md
  packages/react/src/hooks/__tests__/useAuth.test.tsx
  packages/react/src/hooks/__tests__/useAuth.types.test.ts
  packages/react/src/hooks/useAuth.ts
Labels: react

#4749 chore(clerk-js): Monitor bundle size of `<Waitlist/>`
  .changeset/tough-dolls-drum.md
  packages/clerk-js/bundlewatch.config.json
Labels: clerk-js

#4740 fix(clerk-react): Infer React.JSX.Element instead of explicit JSX.Element
  .changeset/lemon-planes-dress.md
  packages/react/src/components/controlComponents.tsx
  packages/react/src/contexts/ClerkContextProvider.tsx
  packages/react/src/contexts/ClerkProvider.tsx
  packages/react/src/utils/useCustomElementPortal.tsx
Labels: react

#4748 ci(repo): Version packages
  .changeset/itchy-mangos-remember.md
  .changeset/lemon-news-agree.md
  .changeset/lemon-planes-dress.md
  .changeset/quick-bobcats-bake.md
  .changeset/red-cats-approve.md
  .changeset/tough-dolls-drum.md
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/expo-passkeys/CHANGELOG.md
  packages/expo-passkeys/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/tanstack-start/CHANGELOG.md
  packages/tanstack-start/package.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Labels: clerk-js, nextjs, react, remix, backend, fastify, localizations, sdk-node, expo, chrome-extension, themes, elements, express, testing, tanstack

#4752 feat(clerk-js): Include a `claimed_at` property inside AuthConfig
  .changeset/slow-cars-worry.md
  packages/clerk-js/src/core/resources/AuthConfig.ts
  packages/types/src/authConfig.ts
  packages/types/src/json.ts
Labels: types, clerk-js

#4755 feat(clerk-js,backend): Url for copying instance keys on Keyless mode
  .changeset/gold-monkeys-collect.md
  .changeset/twelve-spiders-obey.md
  packages/backend/src/api/resources/AccountlessApplication.ts
  packages/backend/src/api/resources/JSON.ts
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/ui/Components.tsx
  packages/clerk-js/src/ui/components/KeylessPrompt/index.tsx
  packages/nextjs/src/app-router/client/keyless-creator-reader.tsx
  packages/nextjs/src/app-router/keyless-actions.ts
  packages/nextjs/src/app-router/server/ClerkProvider.tsx
  packages/types/src/clerk.ts
Labels: types, clerk-js, nextjs, backend

#4756 feat(clerk-js): Add additional UI to claim/keyless flow
  .changeset/beige-eyes-decide.md
  packages/clerk-js/sandbox/app.ts
  packages/clerk-js/src/ui/components/KeylessPrompt/index.tsx
Labels: clerk-js

#4761 feat(clerk-js): Display a prompt on Keyless mode
  .changeset/quick-geckos-unite.md
  packages/clerk-js/bundlewatch.config.json
  packages/clerk-js/jest.setup.ts
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/globals.d.ts
  packages/clerk-js/src/ui/Components.tsx
  packages/clerk-js/src/ui/lazyModules/components.ts
Labels: clerk-js

#4727 fix(nextjs): Support `unstable_rethrow` inside `clerkMiddleware` in next@canary
  .changeset/three-drinks-dance.md
  packages/nextjs/src/server/clerkMiddleware.ts
  packages/nextjs/src/server/nextErrors.ts
Labels: nextjs

#4763 feat(clerk-js,elements): Handle new organization membership quota exceeded error for SSO
  .changeset/two-doors-rush.md
  packages/clerk-js/src/core/constants.ts
  packages/clerk-js/src/ui/components/SignIn/SignInStart.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpStart.tsx
  packages/elements/src/internals/constants/index.ts
  packages/elements/src/internals/machines/sign-in/router.machine.ts
  packages/elements/src/internals/machines/sign-up/router.machine.ts
Labels: clerk-js, elements

#4764 fix(clerk-js): Call openSignIn instead of openSignUp
  .changeset/fresh-turtles-bow.md
  packages/clerk-js/sandbox/app.ts
Labels: clerk-js

#4726 fix(clerk-js): Use `afterSwitchSessionUrl` switching sessions within `UserButton`
  .changeset/neat-donkeys-wave.md
  packages/clerk-js/src/core/__tests__/clerk.test.ts
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/ui/components/SignIn/SignInAccountSwitcher.tsx
  packages/clerk-js/src/ui/components/UserButton/UserButtonPopover.tsx
  packages/clerk-js/src/ui/components/UserButton/useMultisessionActions.tsx
  packages/clerk-js/src/ui/contexts/components/SignOut.ts
  packages/clerk-js/src/ui/contexts/components/UserButton.ts
Labels: clerk-js

#4771 fix(clerk-js,localizations,types): Add min and max lengths to username field error
  .changeset/cold-tomatoes-float.md
  packages/clerk-js/src/core/resources/UserSettings.ts
  packages/clerk-js/src/ui/components/SignUp/SignUpStart.tsx
  packages/clerk-js/src/ui/utils/index.ts
  packages/clerk-js/src/ui/utils/useFormControl.ts
  packages/clerk-js/src/ui/utils/usernameUtils.ts
  packages/localizations/src/en-US.ts
  packages/types/src/userSettings.ts
Labels: types, clerk-js, localizations

#4772 chore(clerk-react): Additional tests with vitest
  .changeset/breezy-foxes-lay.md
  packages/react/.eslintrc.js
  packages/react/jest.config.js
  packages/react/package.json
  packages/react/src/__tests__/isomorphicClerk.test.ts
  packages/react/src/components/__tests__/OrganizationProfile.test.tsx
  packages/react/src/components/__tests__/OrganizationSwitcher.test.tsx
  packages/react/src/components/__tests__/SignIn.test.tsx
  packages/react/src/components/__tests__/SignInButton.test.tsx
  packages/react/src/components/__tests__/SignInWithMetamaskButton.test.tsx
  packages/react/src/components/__tests__/SignOutButton.test.tsx
  packages/react/src/components/__tests__/SignUp.test.tsx
  packages/react/src/components/__tests__/SignUpButton.test.tsx
  packages/react/src/components/__tests__/UserButton.test.tsx
  packages/react/src/components/__tests__/UserProfile.test.tsx
  packages/react/src/components/controlComponents.tsx
  packages/react/src/contexts/__tests__/ClerkProvider.test.tsx
  packages/react/src/hooks/__tests__/__snapshots__/useRoutingProps.test.tsx.snap
  packages/react/src/hooks/__tests__/useAuth.test.tsx
  packages/react/src/hooks/__tests__/useAuth.types.test.ts
  packages/react/src/hooks/__tests__/useRoutingProps.test.tsx
  packages/react/src/hooks/useAuth.ts
  packages/react/src/utils/__tests__/useCustomMenuItems.test.tsx
  packages/react/src/utils/__tests__/useMaxAllowedInstancesGuard.test.tsx
  packages/react/tsup.config.ts
  packages/react/turbo.json
  packages/react/vitest.config.mts
  packages/react/vitest.setup.mts
Labels: react

#4777 fix(clerk-js,types,clerk-expo): Rename `toJSON` to `__internal_toSnapshot` on resources
  .changeset/strong-hounds-train.md
  packages/clerk-js/src/core/resources/AuthConfig.ts
  packages/clerk-js/src/core/resources/Client.ts
  packages/clerk-js/src/core/resources/DisplayConfig.ts
  packages/clerk-js/src/core/resources/EmailAddress.ts
  packages/clerk-js/src/core/resources/EnterpriseAccount.ts
  packages/clerk-js/src/core/resources/Environment.ts
  packages/clerk-js/src/core/resources/ExternalAccount.ts
  packages/clerk-js/src/core/resources/IdentificationLink.ts
  packages/clerk-js/src/core/resources/Organization.ts
  packages/clerk-js/src/core/resources/OrganizationMembership.ts
  packages/clerk-js/src/core/resources/OrganizationSettings.ts
  packages/clerk-js/src/core/resources/Passkey.ts
  packages/clerk-js/src/core/resources/PhoneNumber.ts
  packages/clerk-js/src/core/resources/PublicUserData.ts
  packages/clerk-js/src/core/resources/SamlAccount.ts
  packages/clerk-js/src/core/resources/Session.ts
  packages/clerk-js/src/core/resources/SignIn.ts
  packages/clerk-js/src/core/resources/SignUp.ts
  packages/clerk-js/src/core/resources/Token.ts
  packages/clerk-js/src/core/resources/User.ts
  packages/clerk-js/src/core/resources/UserData.ts
  packages/clerk-js/src/core/resources/UserSettings.ts
  packages/clerk-js/src/core/resources/Verification.ts
  packages/clerk-js/src/core/resources/Web3Wallet.ts
  packages/clerk-js/src/core/resources/__tests__/Client.test.ts
  packages/clerk-js/src/core/resources/__tests__/Environment.test.ts
  packages/clerk-js/src/core/resources/__tests__/__snapshots__/Client.test.ts.snap
  packages/clerk-js/src/core/resources/__tests__/__snapshots__/Environment.test.ts.snap
  packages/clerk-js/src/core/resources/__tests__/__snapshots__/Organization.test.ts.snap
  packages/clerk-js/src/core/resources/__tests__/__snapshots__/OrganizationMembership.test.ts.snap
  packages/clerk-js/src/core/resources/__tests__/__snapshots__/OrganizationMembershipRequest.test.ts.snap
  packages/clerk-js/src/core/resources/__tests__/__snapshots__/Session.test.ts.snap
  packages/expo/src/provider/singleton/createClerkInstance.ts
  packages/types/src/authConfig.ts
  packages/types/src/client.ts
  packages/types/src/displayConfig.ts
  packages/types/src/emailAddress.ts
  packages/types/src/enterpriseAccount.ts
  packages/types/src/environment.ts
  packages/types/src/externalAccount.ts
  packages/types/src/identificationLink.ts
  packages/types/src/organization.ts
  packages/types/src/organizationMembership.ts
  packages/types/src/organizationSettings.ts
  packages/types/src/passkey.ts
  packages/types/src/phoneNumber.ts
  packages/types/src/samlAccount.ts
  packages/types/src/samlConnection.ts
  packages/types/src/session.ts
  packages/types/src/signIn.ts
  packages/types/src/signUp.ts
  packages/types/src/snapshots.ts
  packages/types/src/token.ts
  packages/types/src/user.ts
  packages/types/src/userSettings.ts
  packages/types/src/verification.ts
  packages/types/src/web3Wallet.ts
Labels: types, clerk-js, expo

#4773 ci(repo): Version packages
  .changeset/breezy-foxes-lay.md
  .changeset/cold-tomatoes-float.md
  .changeset/strong-hounds-train.md
  .changeset/wild-planes-swim.md
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/expo-passkeys/CHANGELOG.md
  packages/expo-passkeys/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/tanstack-start/CHANGELOG.md
  packages/tanstack-start/package.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, sdk-node, expo, chrome-extension, themes, elements, express, testing, tanstack

#4782 chore(clerk-js): Add snapshot test for `PublicUserData`
  .changeset/stale-cougars-roll.md
  packages/clerk-js/src/core/resources/__tests__/PublicUserData.test.ts
  packages/clerk-js/src/core/resources/__tests__/__snapshots__/PublicUserData.test.ts.snap
Labels: clerk-js

#4783 chore(remix): Add note about React Router v7 to README
  .changeset/large-hats-clap.md
  packages/remix/README.md
Labels: remix

#4768 fix(clerk-js): Redirect to current page within modal with no redirect url
  .changeset/young-swans-sin.md
  packages/clerk-js/src/ui/components/SignIn/SignIn.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUp.tsx
  packages/clerk-js/src/ui/contexts/components/SignIn.ts
  packages/clerk-js/src/ui/contexts/components/SignUp.ts
  packages/clerk-js/src/utils/__tests__/redirectUrls.test.ts
  packages/clerk-js/src/utils/redirectUrls.ts
Labels: clerk-js

#4757 fix(localizations): Improve `el-GR` localization
  .changeset/loud-keys-smash.md
  packages/localizations/src/el-GR.ts
Labels: localizations

#4781 fix(localizations): Improve `pl-PL` localization
  .changeset/ninety-wasps-rush.md
  packages/localizations/src/pl-PL.ts
Labels: localizations

#4776 fix(clerk-js): Force devBrowser to create suffixed cookies
  .changeset/shy-steaks-tell.md
  packages/clerk-js/src/core/auth/cookies/devBrowser.ts
  packages/clerk-js/src/core/auth/devBrowser.ts
Labels: clerk-js

#4787 chore(nextjs): Improve experience when swapping keys on Keyless mode
  .changeset/young-beans-trade.md
  packages/nextjs/src/server/errors.ts
  packages/nextjs/src/server/utils.ts
Labels: nextjs

#4780 ci(repo): Version packages
  .changeset/fresh-olives-watch.md
  .changeset/large-hats-clap.md
  .changeset/loud-keys-smash.md
  .changeset/ninety-wasps-rush.md
  .changeset/pink-onions-ring.md
  .changeset/shy-steaks-tell.md
  .changeset/stale-cougars-roll.md
  .changeset/young-beans-trade.md
  .changeset/young-swans-sin.md
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Labels: clerk-js, nextjs, remix, localizations, expo, chrome-extension

#4790 chore(clerk-js): Attempt to fix deploy retheme PR
  .changeset/quick-pens-hug.md
  packages/clerk-js/src/ui/primitives/hooks/index.ts
  packages/clerk-js/src/ui/primitives/hooks/useFormField.tsx
Labels: clerk-js

#4797 fix(clerk-js): Revert #4776
  .changeset/wet-jars-tickle.md
  packages/clerk-js/src/core/auth/cookies/devBrowser.ts
  packages/clerk-js/src/core/auth/devBrowser.ts
Labels: clerk-js

#4796 ci(repo): Version packages
  .changeset/long-birds-worry.md
  .changeset/quick-pens-hug.md
  .changeset/tasty-queens-build.md
  .changeset/wet-jars-tickle.md
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/expo-passkeys/CHANGELOG.md
  packages/expo-passkeys/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/tanstack-start/CHANGELOG.md
  packages/tanstack-start/package.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Labels: clerk-js, nextjs, react, remix, backend, fastify, sdk-node, expo, chrome-extension, elements, express, testing, tanstack

#4802 ci(repo): Version packages
  .changeset/twelve-goats-shake.md
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
Labels: clerk-js, expo, chrome-extension

#4789 feat(types): Add `oidcPrompt` and `oidcLoginHint`
  .changeset/old-dryers-approve.md
  packages/types/src/externalAccount.ts
  packages/types/src/factors.ts
  packages/types/src/signIn.ts
  packages/types/src/signUp.ts
  packages/types/src/user.ts
Labels: types

#4792 chore(backend): Introduce SAML connections per org
  .changeset/kind-crews-hear.md
  packages/backend/src/api/endpoints/SamlConnectionApi.ts
  packages/backend/src/api/resources/JSON.ts
  packages/backend/src/api/resources/SamlConnection.ts
Labels: backend

#4805 ci(repo): Version packages
  .changeset/kind-crews-hear.md
  .changeset/old-dryers-approve.md
  .changeset/shiny-pandas-love.md
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/expo-passkeys/CHANGELOG.md
  packages/expo-passkeys/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/tanstack-start/CHANGELOG.md
  packages/tanstack-start/package.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, sdk-node, expo, chrome-extension, themes, elements, express, testing, tanstack

#4808 chore(react-router): Add library mode E2E test
  integration/constants.ts
  integration/presets/index.ts
  integration/presets/longRunningApps.ts
  integration/presets/react-router.ts
  integration/presets/remix.ts
  integration/templates/index.ts
  integration/templates/react-router-library/README.md
  integration/templates/react-router-library/index.html
  integration/templates/react-router-library/package.json
  integration/templates/react-router-library/public/vite.svg
  integration/templates/react-router-library/src/App.css
  integration/templates/react-router-library/src/App.tsx
  integration/templates/react-router-library/src/assets/react.svg
  integration/templates/react-router-library/src/index.css
  integration/templates/react-router-library/src/main.tsx
  integration/templates/react-router-library/src/vite-env.d.ts
  integration/templates/react-router-library/tsconfig.app.json
  integration/templates/react-router-library/tsconfig.json
  integration/templates/react-router-library/tsconfig.node.json
  integration/templates/react-router-library/vite.config.ts
  integration/templates/remix-node/.eslintrc.js
  integration/templates/remix-node/.gitignore
  integration/templates/remix-node/README.md
  integration/templates/remix-node/app/entry.client.tsx
  integration/templates/remix-node/app/entry.server.tsx
  integration/templates/remix-node/app/root.tsx
  integration/templates/remix-node/app/routes/_index.tsx
  integration/templates/remix-node/app/routes/protected.tsx
  integration/templates/remix-node/app/routes/sign-in.$.tsx
  integration/templates/remix-node/app/routes/sign-up.$.tsx
  integration/templates/remix-node/package.json
  integration/templates/remix-node/public/favicon.ico
  integration/templates/remix-node/remix.config.js
  integration/templates/remix-node/remix.env.d.ts
  integration/templates/remix-node/server.ts
  integration/templates/remix-node/tsconfig.json
  integration/tests/react-router/library-mode.test.ts
  package.json
Labels: integration

#4812 fix(clerk-js): Rethrow errors if not requires_captcha during init
  .changeset/ten-taxis-decide.md
  packages/clerk-js/src/core/clerk.ts
Labels: clerk-js

#4809 fix(clerk-js): Fix broken enterprise connection icon for custom SAML provider
  .changeset/friendly-trains-love.md
  packages/clerk-js/src/ui/components/UserProfile/EnterpriseAccountsSection.tsx
Labels: clerk-js

#4815 fix(clerk-expo): Re-export the `isClerkRuntimeError()` utility
  .changeset/light-impalas-visit.md
  packages/expo/src/index.ts
Labels: expo

#4770 chore(repo): Lift common devDeps to root
  .changeset/metal-tables-beg.md
  package.json
  packages/astro/package.json
  packages/backend/package.json
  packages/chrome-extension/package.json
  packages/clerk-js/package.json
  packages/dev-cli/package.json
  packages/elements/package.json
  packages/expo-passkeys/package.json
  packages/expo/package.json
  packages/express/package.json
  packages/fastify/package.json
  packages/localizations/package.json
  packages/nextjs/package.json
  packages/react-router/package.json
  packages/react/package.json
  packages/remix/package.json
  packages/sdk-node/package.json
  packages/shared/package.json
  packages/tanstack-start/package.json
  packages/testing/package.json
  packages/themes/package.json
  packages/types/package.json
  packages/ui/theme-builder/package.json
  packages/vue/package.json
  pnpm-lock.yaml
  renovate.json5
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, sdk-node, expo, chrome-extension, themes, elements, express, testing, tanstack

#4821 fix(localizations): Fix delete account action for `nb-NO` localization
  .changeset/proud-terms-wave.md
  packages/localizations/src/nb-NO.ts
Labels: localizations

#4813 fix(clerk-js): Revalidate environment on window focus for Keyless
  .changeset/bright-mangos-pump.md
  packages/clerk-js/src/ui/components/KeylessPrompt/index.tsx
  packages/clerk-js/src/ui/components/KeylessPrompt/use-revalidate-environment.ts
Labels: clerk-js

#4723 feat(clerk-react): Support for fallback prop
  .changeset/serious-stingrays-learn.md
  integration/templates/next-app-router/src/app/create-organization/page.tsx
  integration/templates/next-app-router/src/app/organization-list/page.tsx
  integration/templates/next-app-router/src/app/organization-profile/page.tsx
  integration/templates/next-app-router/src/app/page.tsx
  integration/templates/next-app-router/src/app/sign-in/[[...catchall]]/page.tsx
  integration/templates/next-app-router/src/app/sign-up/[[...catchall]]/page.tsx
  integration/templates/next-app-router/src/app/switcher/page.tsx
  integration/templates/next-app-router/src/app/user-button/page.tsx
  integration/templates/next-app-router/src/app/user/[[...catchall]]/page.tsx
  integration/templates/next-app-router/src/app/waitlist/page.tsx
  integration/templates/react-vite/src/App.tsx
  integration/templates/react-vite/src/create-organization/index.tsx
  integration/templates/react-vite/src/custom-user-button/index.tsx
  integration/templates/react-vite/src/custom-user-profile/index.tsx
  integration/templates/react-vite/src/main.tsx
  integration/templates/react-vite/src/organization-list/index.tsx
  integration/templates/react-vite/src/organization-profile/index.tsx
  integration/templates/react-vite/src/sign-in/index.tsx
  integration/templates/react-vite/src/sign-up/index.tsx
  integration/templates/react-vite/src/user-button/index.tsx
  integration/templates/react-vite/src/user/index.tsx
  integration/templates/react-vite/src/waitlist/index.tsx
  integration/testUtils/appPageObject.ts
  integration/tests/components.test.ts
  packages/nextjs/src/client-boundary/uiComponents.tsx
  packages/react/src/components/ClerkHostRenderer.tsx
  packages/react/src/components/uiComponents.tsx
  packages/react/src/components/withClerk.tsx
  packages/react/src/errors/messages.ts
  packages/react/src/types.ts
  packages/react/src/utils/useWaitForComponentMount.ts
Labels: nextjs, react, integration

#4810 feat(clerk-react): Render button components before clerk-js load
  .changeset/sixty-moose-jog.md
  packages/react/src/components/SignInButton.tsx
  packages/react/src/components/SignInWithMetamaskButton.tsx
  packages/react/src/components/SignOutButton.tsx
  packages/react/src/components/SignUpButton.tsx
Labels: react

#4814 ci(repo): Version packages
  .changeset/bright-mangos-pump.md
  .changeset/eleven-months-swim.md
  .changeset/friendly-trains-love.md
  .changeset/light-impalas-visit.md
  .changeset/metal-tables-beg.md
  .changeset/proud-terms-wave.md
  .changeset/serious-stingrays-learn.md
  .changeset/sharp-vans-sit.md
  .changeset/shiny-papayas-know.md
  .changeset/shy-mangos-visit.md
  .changeset/sixty-moose-jog.md
  .changeset/ten-taxis-decide.md
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/tanstack-start/CHANGELOG.md
  packages/tanstack-start/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Labels: clerk-js, nextjs, react, remix, localizations, expo, chrome-extension, elements, tanstack
