Repository clerk/javascript, pull requests merged in 2024-05, with the labels that each got.

#3293 fix(elements): Pass resource when the SignInStart machine finishes
  .changeset/tasty-wolves-fly.md
  packages/elements/src/internals/machines/sign-in/start.machine.ts
  packages/elements/src/internals/machines/sign-in/start.types.ts
Labels: elements

#3264 Version Packages - V4
  .changeset/chilly-kings-play.md
  .changeset/grumpy-rings-sleep.md
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/CHANGELOG.md
  packages/gatsby-plugin-clerk/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/shared/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, sdk-node, expo, chrome-extension, gatsby, themes

#3276 fix(backend): Request paginated responses from BAPI
  .changeset/clever-buckets-exist.md
  packages/backend/src/api/__tests__/factory.test.ts
  packages/backend/src/api/endpoints/AllowlistIdentifierApi.ts
  packages/backend/src/api/endpoints/ClientApi.ts
  packages/backend/src/api/endpoints/InvitationApi.ts
  packages/backend/src/api/endpoints/RedirectUrlApi.ts
  packages/backend/src/api/endpoints/SessionApi.ts
  packages/backend/src/api/endpoints/UserApi.ts
Labels: backend

#3285 Version Packages
  .changeset/calm-starfishes-divide.md
  .changeset/chatty-panthers-beam.md
  .changeset/clever-buckets-exist.md
  .changeset/giant-carrots-pay.md
  .changeset/gorgeous-pans-pump.md
  .changeset/happy-spoons-scream.md
  .changeset/metal-bulldogs-destroy.md
  .changeset/new-swans-fix.md
  .changeset/spotty-eels-think.md
  .changeset/tasty-wolves-fly.md
  .changeset/wild-hats-marry.md
  package-lock.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, sdk-node, expo, chrome-extension, gatsby, themes, elements, express, testing

#3291 fix(clerk-js): Show email filed when trying to edit email after trying to sign up
  .changeset/mean-cougars-destroy.md
  packages/clerk-js/src/ui/components/SignUp/__tests__/SignUpContinue.test.tsx
  packages/clerk-js/src/ui/components/SignUp/signUpFormHelpers.ts
  packages/clerk-js/src/ui/utils/test/fixtureHelpers.ts
Labels: clerk-js

#3297 chore(elements): Bump package version
  .changeset/sixty-months-serve.md
  packages/elements/package.json
Labels: elements

#3298 fix(elements): Ensure formRef gets set for sign up
  .changeset/new-otters-sort.md
  packages/elements/package.json
  packages/elements/src/internals/machines/sign-up/router.machine.ts
Labels: elements

#3300 fix(elements): Correct strategy return type
  .changeset/twenty-frogs-draw.md
  packages/elements/package.json
  packages/elements/src/react/sign-up/verifications.tsx
Labels: elements

#3253 chore(elements): Move publishing to normal repo workflow again
  .changeset/config.json
  .changeset/cool-countries-behave.md
  packages/elements/CHANGELOG.md
  packages/elements/README.md
  scripts/canary.mjs
  scripts/common.mjs
  scripts/snapshot.mjs
Labels: elements

#3301 build(elements): Release 0.2.0
  .changeset/three-flies-mix.md
  .github/workflows/ci.yml
  .github/workflows/release.yml
  packages/elements/src/react/sign-in/verifications.tsx
Labels: actions, elements

#3295 Version Packages
  .changeset/cool-countries-behave.md
  .changeset/mean-cougars-destroy.md
  .changeset/new-otters-sort.md
  .changeset/sixty-months-serve.md
  .changeset/three-flies-mix.md
  .changeset/twenty-frogs-draw.md
  package-lock.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
Labels: clerk-js, expo, chrome-extension, elements

#3305 fix(elements): Prevent multiple verification codes from being sent
  .changeset/violet-lobsters-scream.md
  packages/elements/src/internals/machines/sign-in/verification.machine.ts
Labels: elements

#3304 fix(clerk-react): Remove typo in clerkjs script attributes
  .changeset/thin-mails-shake.md
  packages/react/src/utils/loadClerkJsScript.ts
Labels: react

#3303 chore(elements): Add addtional misconfigured instance error messaging
  .changeset/olive-points-own.md
  .changeset/violet-lobsters-scream.md
  packages/elements/examples/nextjs/next.config.js
  packages/elements/src/internals/machines/sign-in/verification.machine.ts
Labels: elements

#3220 chore(e2e): UserProfile E2E tests
  .changeset/eleven-taxis-tan.md
  integration/testUtils/phoneUtils.ts
  integration/testUtils/userProfilePageObject.ts
  integration/tests/user-profile.test.ts
Labels: integration

#3308 fix(elements): Fix sign-in route registration
  .changeset/seven-vans-begin.md
  packages/elements/src/react/sign-in/context/router.context.ts
Labels: elements

#3309 Version Packages
  .changeset/eleven-taxis-tan.md
  .changeset/seven-vans-begin.md
  package-lock.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
Labels: elements

#3311 Improve catch-all detection
  .changeset/empty-wombats-invite.md
  packages/nextjs/src/client-boundary/hooks/useEnforceCatchAllRoute.tsx
  packages/nextjs/src/client-boundary/hooks/useEnforceRoutingProps.tsx
  packages/nextjs/src/client-boundary/uiComponents.tsx
Labels: nextjs

#3312 Emmanouela/sdk 1612 update links to docs in source code
  .changeset/gorgeous-shirts-notice.md
  packages/nextjs/src/server/authMiddleware.ts
Labels: nextjs

#3310 fix(themes): Fix Neobrutalism theme in Core 2
  .changeset/smooth-pugs-deny.md
  packages/themes/src/themes/neobrutalism.ts
Labels: themes

#3313 Version Packages
  .changeset/empty-wombats-invite.md
  .changeset/gorgeous-shirts-notice.md
  .changeset/smooth-pugs-deny.md
  package-lock.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
Labels: nextjs, react, themes

#3317 fix(elements): add clip-path rule to otp input
  .changeset/weak-colts-marry.md
  packages/elements/src/react/common/form/otp.tsx
Labels: elements

#3319 Version Packages
  .changeset/weak-colts-marry.md
  package-lock.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
Labels: elements

#3327 fix(elements): Update sign-up resend type to match sign-in
  .changeset/brown-ties-draw.md
  packages/elements/src/react/sign-up/action/action.tsx
Labels: elements

#3328 Version Packages
  .changeset/brown-ties-draw.md
  .changeset/small-beds-happen.md
  package-lock.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
Labels: elements

#3329 refactor(types,shared,elements): Assign `telemetry` property to main Clerk interface
  .changeset/heavy-kings-fix.md
  packages/clerk-js/src/core/clerk.ts
  packages/elements/src/react/common/form/index.tsx
  packages/elements/src/react/common/loading.tsx
  packages/elements/src/react/sign-in/root.tsx
  packages/elements/src/react/sign-in/step/step.tsx
  packages/elements/src/react/sign-up/root.tsx
  packages/elements/src/react/sign-up/step.tsx
  packages/elements/src/react/utils/telemetry.ts
  packages/shared/src/telemetry/collector.ts
  packages/shared/src/telemetry/events/component-mounted.ts
  packages/shared/src/telemetry/events/method-called.ts
  packages/shared/src/telemetry/throttler.ts
  packages/shared/src/telemetry/types.ts
  packages/types/src/clerk.ts
  packages/types/src/index.ts
  packages/types/src/instance.ts
  packages/types/src/key.ts
  packages/types/src/telemetry.ts
Labels: types, clerk-js, elements

#3307 chore(repo): Remove eslint-config-custom from react's deps
  .changeset/calm-lemons-compare.md
  .changeset/real-books-turn.md
  integration/.eslintrc.js
  package-lock.json
  package.json
  packages/backend/.eslintrc.js
  packages/backend/package.json
  packages/chrome-extension/.eslintrc.js
  packages/chrome-extension/package.json
  packages/clerk-js/.eslintrc.js
  packages/clerk-js/package.json
  packages/elements/.eslintrc.js
  packages/elements/examples/nextjs/.eslintrc.js
  packages/elements/package.json
  packages/eslint-config-custom/package.json
  packages/expo/.eslintrc.js
  packages/expo/package.json
  packages/express/.eslintrc.js
  packages/express/package.json
  packages/fastify/.eslintrc.js
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/.eslintrc.js
  packages/gatsby-plugin-clerk/package.json
  packages/localizations/.eslintrc.js
  packages/localizations/package.json
  packages/nextjs/.eslintrc.js
  packages/nextjs/package.json
  packages/react/.eslintrc.js
  packages/react/package.json
  packages/remix/.eslintrc.js
  packages/remix/package.json
  packages/sdk-node/.eslintrc.js
  packages/sdk-node/package.json
  packages/shared/.eslintrc.js
  packages/shared/package.json
  packages/testing/.eslintrc.js
  packages/testing/package.json
  packages/themes/.eslintrc.js
  packages/themes/package.json
  packages/types/.eslintrc.js
  packages/types/package.json
  scripts/.eslintrc.js
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, sdk-node, expo, chrome-extension, gatsby, themes, elements, express, testing

#3334 fix(nextjs): url-based session syncing for auth() helpers
  .changeset/late-readers-pretend.md
  packages/backend/src/__tests__/createRedirect.test.ts
  packages/backend/src/createRedirect.ts
  packages/nextjs/src/app-router/server/auth.ts
Labels: nextjs, backend

#3335 chore(elements): Fix typos in README
  .changeset/pink-laws-remain.md
  packages/elements/README.md
Labels: elements

#3331 refactor(elements): Reduce Sign Up reliance on useEffect [SDK-1715]
  packages/elements/src/internals/machines/sign-up/continue.machine.ts
  packages/elements/src/internals/machines/sign-up/continue.types.ts
  packages/elements/src/internals/machines/sign-up/router.machine.ts
  packages/elements/src/internals/machines/sign-up/router.types.ts
  packages/elements/src/internals/machines/sign-up/start.machine.ts
  packages/elements/src/internals/machines/sign-up/start.types.ts
  packages/elements/src/internals/machines/sign-up/verification.machine.ts
  packages/elements/src/internals/machines/sign-up/verification.types.ts
  packages/elements/src/internals/machines/types/router.types.ts
  packages/elements/src/react/sign-up/context/index.ts
  packages/elements/src/react/sign-up/context/router.context.ts
  packages/elements/src/react/sign-up/continue.tsx
  packages/elements/src/react/sign-up/start.tsx
  packages/elements/src/react/sign-up/verifications.tsx
Labels: elements

#3320 refactor(elements): Reduce Sign In reliance on `useEffect` [SDK-1714]
  .changeset/neat-eels-wonder.md
  package-lock.json
  packages/elements/package.json
  packages/elements/src/internals/machines/sign-in/reset-password.machine.ts
  packages/elements/src/internals/machines/sign-in/reset-password.types.ts
  packages/elements/src/internals/machines/sign-in/router.machine.ts
  packages/elements/src/internals/machines/sign-in/router.types.ts
  packages/elements/src/internals/machines/sign-in/start.machine.ts
  packages/elements/src/internals/machines/sign-in/start.types.ts
  packages/elements/src/internals/machines/sign-in/verification.machine.ts
  packages/elements/src/internals/machines/sign-in/verification.types.ts
  packages/elements/src/internals/machines/sign-up/continue.machine.ts
  packages/elements/src/internals/machines/sign-up/continue.types.ts
  packages/elements/src/internals/machines/sign-up/router.machine.ts
  packages/elements/src/internals/machines/sign-up/router.types.ts
  packages/elements/src/internals/machines/sign-up/start.machine.ts
  packages/elements/src/internals/machines/sign-up/start.types.ts
  packages/elements/src/internals/machines/sign-up/verification.machine.ts
  packages/elements/src/internals/machines/sign-up/verification.types.ts
  packages/elements/src/internals/machines/types/router.types.ts
  packages/elements/src/react/hooks/use-active-states.hook.ts
  packages/elements/src/react/hooks/use-active-tags.hook.ts
  packages/elements/src/react/sign-in/context/index.ts
  packages/elements/src/react/sign-in/context/router.context.ts
  packages/elements/src/react/sign-in/start.tsx
  packages/elements/src/react/sign-in/step/reset-password.tsx
  packages/elements/src/react/sign-in/verifications.tsx
  packages/elements/src/react/sign-up/context/index.ts
  packages/elements/src/react/sign-up/context/router.context.ts
  packages/elements/src/react/sign-up/continue.tsx
  packages/elements/src/react/sign-up/start.tsx
  packages/elements/src/react/sign-up/verifications.tsx
Labels: elements

#3341 feat(clerk-react,shared): Add telemetry events for React hooks
  .changeset/chatty-jeans-fry.md
  packages/react/src/hooks/useSignIn.ts
  packages/react/src/hooks/useSignUp.ts
  packages/shared/src/react/hooks/useOrganization.tsx
  packages/shared/src/react/hooks/useOrganizationList.tsx
Labels: react

#3344 fix(nextjs): Apply response headers on redirect
  .changeset/fair-months-camp.md
  packages/nextjs/src/server/__tests__/clerkMiddleware.test.ts
  packages/nextjs/src/server/clerkMiddleware.ts
Labels: nextjs

#3345 fix(remix): Ensure headers with the same name do not get overwritten
  .changeset/empty-cobras-sit.md
  packages/remix/src/ssr/utils.ts
Labels: remix

#3346 fix(e2e): Fix integration test user deletion using email
  .changeset/little-windows-tease.md
  integration/testUtils/usersService.ts
Labels: integration

#3318 fix(clerk-js): Set eTLD+1 as the domain for client_uat
  .changeset/thirty-seas-agree.md
  packages/clerk-js/src/utils/__tests__/url.test.ts
  packages/clerk-js/src/utils/cookies/__tests__/getCookieDomain.test.ts
  packages/clerk-js/src/utils/cookies/clientUat.ts
  packages/clerk-js/src/utils/cookies/getCookieDomain.ts
  packages/clerk-js/src/utils/url.ts
Labels: clerk-js

#3302 fix(clerk-js): UI fixes for phone input and OTP inputs
  .changeset/short-llamas-remember.md
  packages/clerk-js/src/ui/elements/CodeControl.tsx
  packages/clerk-js/src/ui/elements/PhoneInput/PhoneInput.tsx
Labels: clerk-js

#3342 feat(localizations): add PL translations
  .changeset/calm-horses-speak.md
  packages/localizations/src/pl-PL.ts
Labels: localizations

#3314 Translated some phrases from English to Italian
  .changeset/curvy-swans-speak.md
  packages/localizations/src/it-IT.ts
Labels: localizations

#3336 Version Packages
  .changeset/calm-horses-speak.md
  .changeset/calm-lemons-compare.md
  .changeset/chatty-cooks-notice.md
  .changeset/chatty-jeans-fry.md
  .changeset/curvy-swans-speak.md
  .changeset/empty-cobras-sit.md
  .changeset/fair-months-camp.md
  .changeset/heavy-kings-fix.md
  .changeset/late-readers-pretend.md
  .changeset/little-windows-tease.md
  .changeset/neat-eels-wonder.md
  .changeset/nine-grapes-add.md
  .changeset/pink-laws-remain.md
  .changeset/real-books-turn.md
  .changeset/short-llamas-remember.md
  .changeset/strong-snakes-search.md
  .changeset/thirty-seas-agree.md
  package-lock.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/eslint-config-custom/CHANGELOG.md
  packages/eslint-config-custom/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, sdk-node, expo, chrome-extension, gatsby, themes, elements, express, testing

#3351 fix(clerk-js): Fix Smart captcha on Sign Up ticket flow
  .changeset/green-eggs-kiss.md
  packages/clerk-js/src/ui/elements/LoadingCard.tsx
  packages/clerk-js/src/utils/captcha.ts
Labels: clerk-js

#3352 Version Packages
  .changeset/green-eggs-kiss.md
  package-lock.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
Labels: clerk-js, expo, chrome-extension

#3245 fix(clerk-js): Use first-party cookies when running on Cypress
  .changeset/rotten-rats-carry.md
  packages/clerk-js/src/utils/runtime.ts
Labels: clerk-js

#3355 fix(backend,nextjs): Replace DevBrowser constant usage for query params
  .changeset/lemon-plums-cheat.md
  packages/backend/src/createRedirect.ts
  packages/backend/src/tokens/authenticateContext.ts
  packages/backend/src/tokens/request.ts
  packages/nextjs/src/app-router/server/auth.ts
Labels: nextjs, backend

#3357 fix(clerk-js): Handle single part hostnames in getCookieDomain()
  .changeset/eighty-pens-chew.md
  packages/clerk-js/src/utils/cookies/__tests__/getCookieDomain.test.ts
  packages/clerk-js/src/utils/cookies/getCookieDomain.ts
Labels: clerk-js

#3354 fix(clerk-expo): Use atob polyfill when using Hermes JS engine
  .changeset/plenty-comics-matter.md
  packages/expo/src/polyfills/base64Polyfill.ts
Labels: expo

#3360 [Core1 Backport] fix(clerk-js): Fix ticket flow on Smart CAPTCHA
  .changeset/green-eggs-kiss.md
  packages/clerk-js/src/ui/elements/LoadingCard.tsx
  packages/clerk-js/src/utils/captcha.ts
Labels: clerk-js

#3365 Version Packages - V4
  .changeset/green-eggs-kiss.md
  .changeset/tough-sloths-turn.md
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
Labels: clerk-js, expo, chrome-extension

#3359 fix(elements): Types for step component
  .changeset/smooth-lobsters-rhyme.md
  packages/elements/examples/nextjs/app/sign-in/[[...sign-in]]/page.tsx
  packages/elements/src/react/sign-in/choose-strategy.tsx
  packages/elements/src/react/sign-in/reset-password.tsx
  packages/elements/src/react/sign-in/step.tsx
  packages/elements/src/react/sign-in/step/index.ts
  packages/elements/src/react/sign-in/verifications.tsx
Labels: elements

#3296 fix(clerk-sdk-node): Inherit verifyToken options from clerkClient
  .changeset/modern-boxes-peel.md
  packages/sdk-node/src/__tests__/authenticateRequest.test.ts
  packages/sdk-node/src/__tests__/verifyToken.test.ts
  packages/sdk-node/src/clerkClient.ts
Labels: sdk-node

#3326 feat(clerk-expo): Remove headers causing CORS errors
  .changeset/sweet-beds-pump.md
  package-lock.json
  packages/expo/package.json
  packages/expo/src/singleton.ts
Labels: expo

#3356 Version Packages
  .changeset/eighty-pens-chew.md
  .changeset/lemon-plums-cheat.md
  .changeset/modern-boxes-peel.md
  .changeset/plenty-comics-matter.md
  .changeset/rotten-rats-carry.md
  .changeset/smooth-lobsters-rhyme.md
  .changeset/sweet-beds-pump.md
  package-lock.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
Labels: clerk-js, nextjs, remix, backend, fastify, sdk-node, expo, chrome-extension, gatsby, elements, express

#3363 fix(chrome-extension): Remove Origin from API mutation request headers
  .changeset/modern-steaks-think.md
  packages/chrome-extension/src/index.ts
Labels: chrome-extension

#3338 feat(localizations): Add srRS localization
  .changeset/apple-wolf-add.md
  packages/localizations/package.json
  packages/localizations/src/sr-RS.ts
  packages/localizations/src/utils/generate.ts
  packages/localizations/subpaths.mjs
Labels: localizations

#3361 fix(clerk-js): Respect props passed to `buildSignInUrl` and `buildSignUpUrl`
  .changeset/wet-peaches-grow.md
  packages/clerk-js/src/core/__tests__/clerk.redirects.test.ts
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/ui/contexts/ClerkUIComponentsContext.tsx
  packages/clerk-js/src/ui/router/RouteContext.tsx
  packages/clerk-js/src/utils/__tests__/redirectUrls.test.ts
  packages/clerk-js/src/utils/__tests__/url.test.ts
  packages/clerk-js/src/utils/querystring.ts
  packages/clerk-js/src/utils/redirectUrls.ts
  packages/clerk-js/src/utils/url.ts
  packages/react/src/components/SignInButton.tsx
  packages/react/src/components/SignUpButton.tsx
  packages/react/src/components/__tests__/SignInButton.test.tsx
  packages/react/src/components/__tests__/SignUpButton.test.tsx
Labels: clerk-js, react

#3375 Revert "fix(chrome-extension): Remove Origin from API mutation request headers"
  .changeset/rotten-mice-juggle.md
  packages/chrome-extension/src/index.ts
Labels: chrome-extension

#3374 fix(clerk-js): Improve logging for CAPTCHA script loading errors
  .changeset/fast-timers-matter.md
  packages/clerk-js/src/utils/captcha.ts
Labels: clerk-js

#3377 fix(elements): Fix follow-on initialization discrepancies
  .changeset/odd-coins-carry.md
  package-lock.json
  packages/elements/package.json
  packages/elements/src/internals/machines/sign-in/router.machine.ts
  packages/elements/src/internals/machines/sign-in/router.types.ts
  packages/elements/src/internals/machines/sign-up/router.machine.ts
  packages/elements/src/internals/machines/sign-up/router.types.ts
  packages/elements/src/internals/machines/types/router.types.ts
  packages/elements/src/react/sign-in/root.tsx
  packages/elements/src/react/sign-in/verifications.tsx
  packages/elements/src/react/sign-up/root.tsx
Labels: elements

#3367 feat(clerk-js,shared,types,localizations): New client_mismatch status for email link sign in/up
  .changeset/chilled-laws-pump.md
  .changeset/tricky-tomatoes-repair.md
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/ui/common/EmailLinkCompleteFlowCard.tsx
  packages/clerk-js/src/ui/common/EmailLinkStatusCard.tsx
  packages/clerk-js/src/ui/common/EmailLinkVerify.tsx
  packages/clerk-js/src/utils/getClerkQueryParam.ts
  packages/localizations/src/en-US.ts
  packages/shared/src/error.ts
  packages/types/src/localization.ts
Labels: types, clerk-js, localizations

#3343 feat(elements): Complete and Reset Updates
  .changeset/odd-coins-carry.md
  package-lock.json
  packages/elements/package.json
  packages/elements/src/internals/machines/sign-in/router.machine.ts
  packages/elements/src/internals/machines/sign-in/router.types.ts
  packages/elements/src/internals/machines/sign-up/router.machine.ts
  packages/elements/src/internals/machines/sign-up/router.types.ts
  packages/elements/src/internals/machines/types/router.types.ts
  packages/elements/src/react/sign-in/root.tsx
  packages/elements/src/react/sign-in/verifications.tsx
  packages/elements/src/react/sign-up/root.tsx
Labels: elements

#3250 feat(clerk-js): Handle PSU and MFA flows for `<GoogleOneTap/>`
  .changeset/breezy-monkeys-develop.md
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/ui/components/GoogleOneTap/one-tap-start.tsx
  packages/clerk-js/src/ui/contexts/ClerkUIComponentsContext.tsx
  packages/clerk-js/src/utils/one-tap.ts
  packages/types/src/clerk.ts
  packages/types/src/signIn.ts
  playground/nextjs/middleware.ts
Labels: types, clerk-js, playground

#3372 Update esMX language module
  .changeset/rotten-feet-thank.md
  packages/localizations/src/es-MX.ts
Labels: localizations

#3380 fix(backend): Add missing hashers to PasswordHasher type
  .changeset/pretty-elephants-kiss.md
  packages/backend/src/api/endpoints/UserApi.ts
Labels: backend

#3362 chore(clerk-js): Reorganize cookies code and fix TokenUpdate event
  .changeset/shaggy-zebras-attend.md
  packages/clerk-js/src/core/__tests__/clerk.redirects.test.ts
  packages/clerk-js/src/core/__tests__/clerk.test.ts
  packages/clerk-js/src/core/auth/AuthCookieService.ts
  packages/clerk-js/src/core/auth/SessionCookiePoller.ts
  packages/clerk-js/src/core/auth/__tests__/devBrowser.test.ts
  packages/clerk-js/src/core/auth/__tests__/getCookieDomain.test.ts
  packages/clerk-js/src/core/auth/cookies/clientUat.ts
  packages/clerk-js/src/core/auth/cookies/devBrowser.ts
  packages/clerk-js/src/core/auth/cookies/session.ts
  packages/clerk-js/src/core/auth/devBrowser.ts
  packages/clerk-js/src/core/auth/getCookieDomain.ts
  packages/clerk-js/src/core/auth/safeLock.ts
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/services/authentication/SessionCookieService.ts
  packages/clerk-js/src/core/services/index.ts
  packages/clerk-js/src/utils/cookies/clientUat.ts
  packages/clerk-js/src/utils/cookies/devBrowser.ts
  packages/clerk-js/src/utils/cookies/session.ts
  packages/clerk-js/src/utils/index.ts
  packages/shared/src/cookie.ts
Labels: clerk-js

#3384 [Core 1 Backport] Fix cookies on Cypress + Improve script loading failure logging
  .changeset/fast-timers-matter.md
  .changeset/rotten-rats-carry.md
  packages/clerk-js/src/utils/captcha.ts
  packages/clerk-js/src/utils/runtime.ts
Labels: clerk-js

#3385 Version Packages - V4
  .changeset/fast-timers-matter.md
  .changeset/rotten-rats-carry.md
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
Labels: clerk-js, expo, chrome-extension

#3382 fix(localizations): Add missing user faced es_ES translations
  .changeset/few-dancers-perform.md
  .changeset/quiet-wombats-search.md
  packages/localizations/src/es-ES.ts
Labels: localizations

#3381 Version Packages
  .changeset/few-dancers-perform.md
  .changeset/long-ladybugs-move.md
  .changeset/pretty-elephants-kiss.md
  .changeset/quiet-wombats-search.md
  .changeset/shaggy-zebras-attend.md
  package-lock.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
Labels: clerk-js, nextjs, react, remix, backend, fastify, localizations, sdk-node, expo, chrome-extension, gatsby, elements, express, testing

#3376 chore(clerk-js): Add a descriptor for Invitation previews
  .changeset/short-mangos-peel.md
  packages/clerk-js/src/ui/components/OrganizationSwitcher/UserInvitationSuggestionList.tsx
  packages/clerk-js/src/ui/customizables/elementDescriptors.ts
  packages/types/src/appearance.ts
Labels: types, clerk-js

#3387 fix(elements): Fix types for GlobalError/FieldError render fns
  .changeset/quiet-games-brake.md
  packages/elements/src/react/common/form/index.tsx
Labels: elements

#3388 Version Packages
  .changeset/quiet-games-brake.md
  .changeset/short-mangos-peel.md
  package-lock.json
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/express/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/package.json
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/package.json
  packages/shared/package.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, sdk-node, expo, chrome-extension, gatsby, themes, elements, express, testing

#3371 fix(clerk-js): Remove session cookie when signing out and `onBeforeSetActive`
  .changeset/fluffy-turtles-applaud.md
  packages/clerk-js/src/core/__tests__/clerk.test.ts
  packages/clerk-js/src/core/clerk.ts
Labels: clerk-js

#3391 fix(elements): Sign-Up `setActive` not firing
  .changeset/ninety-geese-knock.md
  packages/elements/src/internals/machines/sign-up/router.machine.ts
Labels: elements

#3379 feat(clerk-js,clerk-react): Replace mount with open for GoogleOneTap
  .changeset/warm-pumas-fetch.md
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/ui/Components.tsx
  packages/clerk-js/src/ui/components/GoogleOneTap/one-tap-start.tsx
  packages/clerk-js/src/ui/contexts/ClerkUIComponentsContext.tsx
  packages/clerk-js/src/ui/lazyModules/providers.tsx
  packages/clerk-js/src/ui/portal/index.tsx
  packages/clerk-js/src/utils/one-tap.ts
  packages/react/src/components/uiComponents.tsx
  packages/react/src/isomorphicClerk.ts
  packages/react/src/types.ts
  packages/types/src/clerk.ts
Labels: types, clerk-js, react

#3389 fix(localizations): Add missing translations for the Spanish locale (es_ES)
  .changeset/wild-books-heal.md
  packages/localizations/src/es-ES.ts
Labels: localizations

#3390 Version Packages
  .changeset/fluffy-turtles-applaud.md
  .changeset/ninety-geese-knock.md
  .changeset/warm-pumas-fetch.md
  .changeset/wild-books-heal.md
  package-lock.json
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/express/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/package.json
  packages/shared/package.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, sdk-node, expo, chrome-extension, gatsby, themes, elements, express, testing

#3396 refactor(elements): `FieldError` to enable `asChild` usage
  .changeset/fast-singers-dress.md
  packages/elements/src/react/common/form/index.tsx
  packages/elements/src/react/utils/is-react-fragment.ts
Labels: elements

#3398 Version Packages
  .changeset/fast-singers-dress.md
  package-lock.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
Labels: elements

#3395 chore(testing): Add experimental console warning on Cypress setup
  .changeset/grumpy-plants-think.md
  packages/testing/README.md
  packages/testing/src/cypress/setup.ts
Labels: testing

#3405 fix(backend): Expose user saml_accounts property
  .changeset/ten-onions-learn.md
  packages/backend/src/api/resources/JSON.ts
  packages/backend/src/api/resources/SamlAccount.ts
  packages/backend/src/api/resources/User.ts
  packages/backend/src/fixtures/user.json
Labels: backend

#3392 feat(clerk-js,clerk-react,nextjs,types): Drop experimental tag from GoogleOneTap
  .changeset/shiny-yaks-wave.md
  packages/chrome-extension/src/__tests__/__snapshots__/exports.test.ts.snap
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/resources/SignIn.ts
  packages/clerk-js/src/ui/Components.tsx
  packages/clerk-js/src/ui/components/GoogleOneTap/index.tsx
  packages/clerk-js/src/ui/components/GoogleOneTap/one-tap-start.tsx
  packages/clerk-js/src/ui/contexts/ClerkUIComponentsContext.tsx
  packages/clerk-js/src/ui/lazyModules/components.ts
  packages/clerk-js/src/ui/lazyModules/providers.tsx
  packages/clerk-js/src/ui/types.ts
  packages/nextjs/src/client-boundary/uiComponents.tsx
  packages/nextjs/src/index.ts
  packages/react/src/components/index.ts
  packages/react/src/components/uiComponents.tsx
  packages/react/src/isomorphicClerk.ts
  packages/types/src/clerk.ts
  packages/types/src/signIn.ts
  packages/types/src/signUp.ts
  packages/types/src/strategies.ts
Labels: types, clerk-js, nextjs, react, chrome-extension

#3407 chore(repo): Remove commitlint as part of pre-commit checks
  .github/workflows/pr-title-linter.yml
  .husky/commit-msg
Labels: actions

#3411 chore(repo): Update commitlint and use globby
  .eslintignore
  .github/workflows/pr-title-linter.yml
  commitlint.config.ts
  package-lock.json
  package.json
Labels: actions

#3409 Support for `<GoogleOneTap/>`
  .changeset/funny-berries-nail.md
  .changeset/mighty-dolphins-look.md
  .changeset/shaggy-elephants-shop.md
  .changeset/silly-mugs-type.md
  packages/chrome-extension/src/__snapshots__/exports.test.ts.snap
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/resources/SignIn.ts
  packages/clerk-js/src/ui/Components.tsx
  packages/clerk-js/src/ui/components/GoogleOneTap/index.tsx
  packages/clerk-js/src/ui/components/GoogleOneTap/one-tap-start.tsx
  packages/clerk-js/src/ui/contexts/ClerkUIComponentsContext.tsx
  packages/clerk-js/src/ui/lazyModules/components.ts
  packages/clerk-js/src/ui/lazyModules/providers.tsx
  packages/clerk-js/src/ui/portal/index.tsx
  packages/clerk-js/src/ui/types.ts
  packages/clerk-js/src/utils/one-tap.ts
  packages/nextjs/src/client-boundary/uiComponents.tsx
  packages/nextjs/src/index.ts
  packages/react/src/components/index.ts
  packages/react/src/components/uiComponents.tsx
  packages/react/src/isomorphicClerk.ts
  packages/react/src/types.ts
  packages/types/src/clerk.ts
  packages/types/src/signIn.ts
  packages/types/src/signUp.ts
  packages/types/src/strategies.ts
Labels: types, clerk-js, nextjs, react, chrome-extension, cherry

#3413 Version Packages - V4
  .changeset/funny-berries-nail.md
  .changeset/mighty-dolphins-look.md
  .changeset/shaggy-elephants-shop.md
  .changeset/silly-mugs-type.md
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/CHANGELOG.md
  packages/gatsby-plugin-clerk/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/shared/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, sdk-node, expo, chrome-extension, gatsby, themes

#3401 fix(clerk-js): Update existing `SignUp` object on `SignUpContinue` OAuth
  .changeset/loud-tables-rush.md
  packages/clerk-js/src/ui/components/SignUp/SignUpContinue.tsx
Labels: clerk-js

#3414 chore(repo): Update changesets PR title
  .changeset/cuddly-hotels-judge.md
  .github/workflows/release.yml
  docs/CICD.md
  docs/PUBLISH.md
Labels: actions

#3415 chore(repo): Remove GoogleOneTap from nextjs playground
  .changeset/neat-hornets-pump.md
  playground/nextjs/pages/index.tsx
Labels: playground

#3400 ci(repo): Version packages
  .changeset/cuddly-hotels-judge.md
  .changeset/grumpy-plants-think.md
  .changeset/loud-tables-rush.md
  .changeset/neat-hornets-pump.md
  .changeset/shiny-yaks-wave.md
  .changeset/small-tips-eat.md
  .changeset/ten-onions-learn.md
  package-lock.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/package.json
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, sdk-node, expo, chrome-extension, gatsby, themes, elements, express, testing

#3383 feat(clerk-js,shared): Custom logger to enable logging once per session
  .changeset/clean-kings-brake.md
  packages/clerk-js/src/utils/__tests__/url.test.ts
  packages/clerk-js/src/utils/assertNoLegacyProp.ts
  packages/clerk-js/src/utils/url.ts
  packages/shared/package.json
  packages/shared/src/__tests__/logger.test.ts
  packages/shared/src/index.ts
  packages/shared/src/logger.ts
  packages/shared/subpaths.mjs
Labels: clerk-js

#3426 fix(elements): Update `FieldError`/`GlobalError` types to allow render function children while using the `asChild` prop
  .changeset/sharp-apples-think.md
  packages/elements/src/react/common/form/index.tsx
Labels: elements

#3412 fix(localizations): Review PT-BR localization
  .changeset/great-parents-invent.md
  packages/localizations/src/pt-BR.ts
Labels: localizations

#3428 chore(clerk-react,nextjs,shared): Allow react and react-dom 19.0.0-beta
  .changeset/hot-phones-serve.md
  packages/nextjs/package.json
  packages/react/package.json
  packages/shared/package.json
Labels: nextjs, react

#3416 fix(nextjs): Redirect URL fixes
  .changeset/small-frogs-march.md
  packages/nextjs/src/app-router/client/ClerkProvider.tsx
  packages/nextjs/src/app-router/client/useAwaitablePush.ts
  packages/nextjs/src/app-router/client/useAwaitableReplace.ts
  packages/nextjs/src/app-router/client/useInternalNavFun.ts
Labels: nextjs

#3433 fix(e2e): Use correct env variables for app router config
  .changeset/light-swans-decide.md
  integration/presets/next.ts
Labels: integration

#3421 ci(repo): Version packages
  .changeset/clean-kings-brake.md
  .changeset/great-parents-invent.md
  .changeset/hot-phones-serve.md
  .changeset/light-swans-decide.md
  .changeset/sharp-apples-think.md
  .changeset/small-frogs-march.md
  package-lock.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
Labels: clerk-js, nextjs, react, remix, backend, fastify, localizations, sdk-node, expo, chrome-extension, gatsby, elements, express, testing

#3436 ci(repo): Version packages
  .changeset/spicy-pots-help.md
  package-lock.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
Labels: nextjs

#3424 feat(elements): Add & refactor inspectors
  .changeset/khaki-starfishes-allow.md
  package-lock.json
  packages/elements/package.json
  packages/elements/src/internals/machines/form/form.context.ts
  packages/elements/src/internals/utils/inspector/browser.ts
  packages/elements/src/internals/utils/inspector/browser/index.ts
  packages/elements/src/internals/utils/inspector/console/console.ts
  packages/elements/src/internals/utils/inspector/console/index.ts
  packages/elements/src/internals/utils/inspector/index.ts
  packages/elements/src/react/hooks/index.ts
  packages/elements/src/react/hooks/use-browser-inspector.hook.ts
  packages/elements/src/react/sign-in/root.tsx
  packages/elements/src/react/sign-up/root.tsx
  packages/elements/src/types/globals.d.ts
  packages/elements/tsup.config.ts
Labels: elements

#3425 fix(elements): Verification form not submitting after returning from `ChooseStrategy` without a selection
  .changeset/red-gorillas-count.md
  packages/elements/src/internals/machines/sign-in/router.machine.ts
  packages/elements/src/internals/machines/sign-in/verification.machine.ts
Labels: elements

#3437 ci(repo): Version packages
  .changeset/khaki-starfishes-allow.md
  .changeset/red-gorillas-count.md
  package-lock.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
Labels: elements

#3432 chore(repo): Improve E2E docs & QoL improvements
  .github/actions/init/action.yml
  .github/workflows/ci.yml
  integration/README.md
  integration/playwright.config.ts
Labels: actions, integration

#3441 ci(repo): Version packages
  .changeset/healthy-turtles-compete.md
  .changeset/unlucky-pumpkins-learn.md
  package-lock.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
Labels: clerk-js, expo, chrome-extension, elements

#3439 chore(repo): Update navigation.test to use a long running app
  .changeset/serious-turtles-rhyme.md
  .github/workflows/ci.yml
  integration/presets/longRunningApps.ts
  integration/templates/next-app-router/src/app/hash/sign-in/[[...page]]/page.tsx
  integration/testUtils/testAgainstRunningApps.ts
  integration/tests/navigation.test.ts
  package.json
Labels: actions, integration

#3445 fix(elements): Update peerDeps to allow Next 15 and React 19
  .changeset/good-paws-wonder.md
  packages/elements/package.json
  packages/elements/src/index.ts
  packages/elements/src/internals/machines/shared/shared.actors.ts
  packages/elements/src/react/router/__tests__/router.test.ts
Labels: elements

#3446 fix(clerk-js): Add `aria-label` and `aria-expanded` in menu trigger
  .changeset/tall-fans-flow.md
  packages/clerk-js/src/ui/elements/Menu.tsx
  packages/clerk-js/src/ui/elements/ThreeDotsMenu.tsx
Labels: clerk-js

#3410 fix(clerk-js): Use the correct returnBack url when GoogleOneTap remains open across navigations
  .changeset/large-cars-flash.md
  packages/clerk-js/src/ui/components/GoogleOneTap/one-tap-start.tsx
  packages/clerk-js/src/ui/contexts/ClerkUIComponentsContext.tsx
Labels: clerk-js

#3448 Validate protocol before navigation
  .changeset/violet-geese-walk.md
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/utils/windowNavigate.ts
Labels: clerk-js, actions, backend, chrome-extension, integration

#3449 Version Packages - V4
  .changeset/violet-geese-walk.md
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
Labels: clerk-js, expo, chrome-extension

#3443 fix(remix): Deprecate `loadUser`, `loadSession` and `loadOrganization` on rootAuthLoader
  .changeset/hip-pets-run.md
  packages/remix/src/ssr/types.ts
Labels: remix

#3422 feat(clerk-js): Add experimental support for hCaptcha
  .changeset/thick-days-thank.md
  package-lock.json
  package.json
  packages/clerk-js/src/core/resources/DisplayConfig.ts
  packages/clerk-js/src/core/resources/SignUp.ts
  packages/clerk-js/src/ui/elements/CaptchaElement.tsx
  packages/clerk-js/src/utils/__tests__/captcha.test.ts
  packages/clerk-js/src/utils/captcha/constants.ts
  packages/clerk-js/src/utils/captcha/getCaptchaToken.ts
  packages/clerk-js/src/utils/captcha/hcaptcha.ts
  packages/clerk-js/src/utils/captcha/index.ts
  packages/clerk-js/src/utils/captcha/retrieveCaptchaInfo.ts
  packages/clerk-js/src/utils/captcha/turnstile.ts
  packages/clerk-js/src/utils/index.ts
  packages/types/src/displayConfig.ts
Labels: types, clerk-js

#3452 Version Packages - V4
  .changeset/thick-days-thank.md
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/CHANGELOG.md
  packages/gatsby-plugin-clerk/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/shared/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, sdk-node, expo, chrome-extension, gatsby, themes

#3447 ci(repo): Version packages
  .changeset/good-paws-wonder.md
  .changeset/hip-pets-run.md
  .changeset/large-cars-flash.md
  .changeset/serious-turtles-rhyme.md
  .changeset/tall-fans-flow.md
  .changeset/thick-days-thank.md
  package-lock.json
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/express/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/package.json
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/package.json
  packages/shared/package.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, sdk-node, expo, chrome-extension, gatsby, themes, elements, express, testing

#3455 fix(clerk-js): Update props while respecting defaults set by Clerk.load
  .changeset/cold-chicken-drop.md
  integration/templates/react-vite/src/main.tsx
  integration/tests/update-props.test.ts
  packages/clerk-js/src/ui/Components.tsx
Labels: clerk-js, integration

#3459 fix(repo): Adjust flaky sign up test
  integration/tests/sign-up-flow.test.ts
Labels: integration

#3454 fix(localizations): review ko-KR (user profile - navbar)
  .changeset/shy-phones-leave.md
  packages/localizations/src/ko-KR.ts
Labels: localizations

#3453 feat(localizations): Added passkeys localizations for es-mx
  .changeset/unlucky-buckets-roll.md
  packages/localizations/src/es-MX.ts
Labels: localizations

#3431 ci(repo): Add next v13 variant to e2e tests
  .github/workflows/ci.yml
Labels: actions

#3450 fix(repo): Set @clerk/types as normal dep
  .changeset/proud-fans-report.md
  package-lock.json
  packages/backend/package.json
  packages/elements/package.json
  packages/expo/package.json
  packages/express/package.json
  packages/gatsby-plugin-clerk/package.json
  packages/localizations/package.json
  packages/nextjs/package.json
  packages/remix/package.json
  packages/sdk-node/package.json
  packages/shared/package.json
Labels: nextjs, remix, backend, localizations, sdk-node, expo, gatsby, elements, express

#3466 feat(types): Add support for Enstall OAuth provider
  .changeset/tiny-timers-sit.md
  packages/types/src/oauth.ts
Labels: types

#3467 feat(types): Add support for Enstall OAuth provider (#3466)
  .changeset/tiny-timers-sit.md
  .github/actions/init/action.yml
  packages/types/src/oauth.ts
Labels: types

#3465 fix(clerk-js): Add descriptor for formatted dates in tables
  .changeset/warm-candles-thank.md
  packages/clerk-js/src/ui/components/OrganizationProfile/ActiveMembersList.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/InvitedMembersList.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/RequestToJoinList.tsx
  packages/clerk-js/src/ui/customizables/elementDescriptors.ts
  packages/types/src/appearance.ts
Labels: types, clerk-js

#3461 feat(elements): Initial virtual router
  .changeset/lemon-crews-hammer.md
  packages/elements/examples/nextjs/app/modal/page.tsx
  packages/elements/examples/nextjs/app/page.tsx
  packages/elements/examples/nextjs/package.json
  packages/elements/src/internals/constants/index.ts
  packages/elements/src/internals/machines/sign-in/router.machine.ts
  packages/elements/src/internals/machines/sign-up/router.machine.ts
  packages/elements/src/internals/machines/third-party/third-party.actors.ts
  packages/elements/src/internals/machines/third-party/third-party.machine.ts
  packages/elements/src/react/router/__tests__/router.test.ts
  packages/elements/src/react/router/index.ts
  packages/elements/src/react/router/next.ts
  packages/elements/src/react/router/react.tsx
  packages/elements/src/react/router/router.ts
  packages/elements/src/react/router/virtual.ts
  packages/elements/src/react/sign-in/root.tsx
  packages/elements/src/react/sign-up/root.tsx
Labels: elements

#3474 fix(elements): Ensure missing passwordSettings don't throw
  .changeset/strong-weeks-destroy.md
  packages/elements/src/react/hooks/use-password.hook.ts
Labels: elements

#3473 fix(elements): Forms unable to submit on re-mount
  .changeset/itchy-mirrors-decide.md
  packages/elements/examples/nextjs/app/sign-up/[[...sign-up]]/page.tsx
  packages/elements/src/internals/machines/sign-in/router.machine.ts
  packages/elements/src/internals/machines/sign-in/router.types.ts
  packages/elements/src/internals/machines/sign-up/router.machine.ts
  packages/elements/src/internals/machines/sign-up/router.types.ts
  packages/elements/src/internals/machines/types/router.types.ts
  packages/elements/src/react/sign-in/root.tsx
  packages/elements/src/react/sign-up/root.tsx
Labels: elements

#3479 fix(clerk-js): Sms phone code verification lists available phone numbers on cancel
  .changeset/eleven-toes-poke.md
  packages/clerk-js/src/ui/components/UserProfile/MfaPhoneCodeScreen.tsx
Labels: clerk-js
