Repository clerk/javascript, pull requests merged in 2024-03, with the labels that each got.

#2899 fix(nextjs,clerk-js): Make useAwaitableNavigate handle navigations be…
  .changeset/silly-tips-cry.md
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/globals.d.ts
  packages/nextjs/src/app-router/client/ClerkProvider.tsx
  packages/nextjs/src/app-router/client/useAwaitableNavigate.ts
  packages/nextjs/src/global.d.ts
Labels: clerk-js, nextjs

#2886 Version Packages (beta)
  .changeset/pre.json
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/CHANGELOG.md
  packages/gatsby-plugin-clerk/package.json
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/package.json
  packages/shared/package.json
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, sdk-node, expo, chrome-extension, gatsby, themes, elements

#2874 feat(localization): Add Thai (th-TH) localization
  .changeset/chatty-coins-flash.md
  packages/localizations/package.json
  packages/localizations/src/index.ts
  packages/localizations/src/th-TH.ts
  packages/localizations/src/utils/generate.ts
  packages/localizations/subpaths.mjs
Labels: localizations

#2902 chore(elements): Fix peerDeps again
  .changeset/gorgeous-camels-whisper.md
  packages/elements/package.json
Labels: elements

#2844 fix(remix): Get env variables in Cloudflare Pages context
  .changeset/twenty-yaks-behave.md
  packages/remix/src/utils/utils.ts
Labels: remix

#2802 fix(clerk-js): Show custom pages errors when sdks are in dev mode
  .changeset/sour-frogs-type.md
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/ui/contexts/ClerkUIComponentsContext.tsx
  packages/clerk-js/src/ui/utils/__tests__/createCustomPages.test.ts
  packages/clerk-js/src/ui/utils/createCustomPages.tsx
  packages/clerk-js/src/ui/utils/runtimeEnvironment.ts
  packages/fastify/src/__snapshots__/clerkClient.test.ts.snap
  packages/fastify/src/__snapshots__/constants.test.ts.snap
  packages/fastify/src/constants.ts
  packages/gatsby-plugin-clerk/src/constants.ts
  packages/nextjs/src/server/constants.ts
  packages/react/src/isomorphicClerk.ts
  packages/sdk-node/src/utils.ts
  packages/types/src/clerk.ts
Labels: types, clerk-js, nextjs, react, fastify, sdk-node, gatsby

#2903 fix(clerk-js): Fix upload org logo label color
  .changeset/calm-tips-grin.md
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationProfileAvatarUploader.tsx
Labels: clerk-js

#2905 fix(clerk-js): Match alignment of Set username & Set password buttons with the designs
  .changeset/two-countries-invite.md
  packages/clerk-js/src/ui/components/UserProfile/PasswordSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/UsernameSection.tsx
Labels: clerk-js

#2906 fix(remix): Refactor Cloudflare env checks for clarity
  .changeset/calm-humans-suffer.md
  packages/remix/src/utils/utils.ts
Labels: remix

#2907 Port CF Remix changes to v4
  .changeset/calm-humans-suffer.md
  .changeset/twenty-yaks-behave.md
  packages/remix/src/utils.ts
Labels: remix

#2896 chore(elements): Add more unit tests
  .changeset/great-falcons-knock.md
  packages/clerk-js/package.json
  packages/elements/src/internals/machines/sign-up/utils/__tests__/fields-to-params.test.ts
  packages/elements/src/internals/machines/utils/__tests__/assert.test.ts
  packages/elements/src/internals/machines/utils/__tests__/next.test.ts
  packages/elements/src/internals/machines/utils/__tests__/strategies.test.ts
  packages/elements/src/react/hooks/__tests__/use-active-states.hook.test.ts
  packages/elements/src/react/hooks/__tests__/use-active-tags.hook.test.ts
  packages/elements/src/react/hooks/__tests__/use-focus.hook.test.ts
  packages/elements/src/react/router/__tests__/router.test.ts
  packages/elements/src/react/router/router.ts
  packages/shared/src/__tests__/url.test.ts
  packages/shared/src/url.ts
Labels: clerk-js, elements

#2897 fix(clerk-js): Fix custom page rerendering issues
  .changeset/poor-carpets-act.md
  .changeset/tough-fireants-double.md
  packages/clerk-js/src/ui/contexts/ClerkUIComponentsContext.tsx
Labels: clerk-js

#2908 fix(clerk-js): Fix badge misalignment on tables list when title is empty
  .changeset/green-spies-shave.md
  packages/clerk-js/src/ui/elements/UserPreview.tsx
Labels: clerk-js

#2910 fix(clerk-js): Add spacing for subtitle of the Add domain button in OP
  .changeset/two-nails-smash.md
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationGeneralPage.tsx
Labels: clerk-js

#2904 fix(clerk-js): Handle the focus state in polishedAppearance for outline buttons
  .changeset/silent-dolphins-accept.md
  packages/clerk-js/src/ui/polishedAppearance.ts
Labels: clerk-js

#2917 Version Packages - V4
  .changeset/rude-plums-move.md
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/CHANGELOG.md
  packages/gatsby-plugin-clerk/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
Labels: clerk-js, nextjs, react, remix, backend, fastify, sdk-node, expo, chrome-extension, gatsby

#2912 Version Packages (beta)
  .changeset/pre.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/CHANGELOG.md
  packages/gatsby-plugin-clerk/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
Labels: clerk-js, nextjs, react, remix, backend, fastify, sdk-node, expo, chrome-extension, gatsby, elements

#2884 feat(clerk-js): Adds experimental support for registering a passkey
  .changeset/late-insects-doubt.md
  packages/clerk-js/src/core/resources/Passkey.ts
  packages/clerk-js/src/core/resources/User.ts
  packages/clerk-js/src/core/resources/Verification.ts
  packages/clerk-js/src/core/resources/internal.ts
  packages/clerk-js/src/utils/__tests__/passkeys.test.ts
  packages/clerk-js/src/utils/passkeys.ts
  packages/shared/src/error.ts
  packages/types/src/index.ts
  packages/types/src/json.ts
  packages/types/src/passkey.ts
  packages/types/src/user.ts
  packages/types/src/userSettings.ts
  packages/types/src/verification.ts
Labels: types, clerk-js

#2925 Version Packages (beta)
  .changeset/pre.json
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/CHANGELOG.md
  packages/gatsby-plugin-clerk/package.json
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/package.json
  packages/shared/package.json
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, sdk-node, expo, chrome-extension, gatsby, themes, elements

#2931 Version Packages (beta)
  .changeset/pre.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/CHANGELOG.md
  packages/gatsby-plugin-clerk/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
Labels: clerk-js, nextjs, react, remix, backend, fastify, sdk-node, expo, chrome-extension, gatsby, elements

#2928 fix(clerk-js): Show errors when invalid email submitted when inviting members to an Org
  .changeset/thirty-news-mate.md
  packages/clerk-js/src/ui/components/OrganizationProfile/InviteMembersForm.tsx
Labels: clerk-js

#2894 Correct the HTML structure of the UI components to ensure validity
  .changeset/lucky-bees-whisper.md
  packages/clerk-js/src/ui/common/NotificationCountBadge.tsx
  packages/clerk-js/src/ui/components/OrganizationList/OrganizationListPage.tsx
  packages/clerk-js/src/ui/components/OrganizationSwitcher/OrganizationSwitcher.tsx
  packages/clerk-js/src/ui/components/UserButton/UserButton.tsx
  packages/clerk-js/src/ui/components/UserButton/UserButtonTopLevelIdentifier.tsx
  packages/clerk-js/src/ui/components/UserButton/UserButtonTrigger.tsx
  packages/clerk-js/src/ui/components/UserProfile/ConnectedAccountsSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/EmailsSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/EnterpriseAccountsSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/Web3Section.tsx
  packages/clerk-js/src/ui/elements/Actions.tsx
  packages/clerk-js/src/ui/elements/ArrowBlockButton.tsx
  packages/clerk-js/src/ui/elements/Avatar.tsx
  packages/clerk-js/src/ui/elements/OrganizationPreview.tsx
  packages/clerk-js/src/ui/elements/PhoneInput/PhoneInput.tsx
  packages/clerk-js/src/ui/elements/Select.tsx
  packages/clerk-js/src/ui/elements/SocialButtons.tsx
  packages/clerk-js/src/ui/elements/Tabs.tsx
  packages/clerk-js/src/ui/elements/UserPreview.tsx
  packages/clerk-js/src/ui/elements/__tests__/PlainInput.test.tsx
  packages/clerk-js/src/ui/primitives/Input.tsx
Labels: clerk-js

#2933 fix(elements): React StrictMode issues
  .changeset/quiet-toes-hide.md
  packages/elements/package.json
  packages/elements/src/internals/machines/sign-in/machines/router.machine.ts
  packages/elements/src/internals/machines/sign-in/types/router.types.ts
  packages/elements/src/internals/machines/sign-up/machines/router.machine.ts
  packages/elements/src/internals/machines/sign-up/types/router.types.ts
  packages/elements/src/react/sign-in/context/router.context.ts
  packages/elements/src/react/sign-in/root.tsx
  packages/elements/src/react/sign-up/context/router.context.ts
  packages/elements/src/react/sign-up/root.tsx
Labels: elements

#2935 fix(clerk-js): Show counter of members/invitations/requests even if it is 0
  .changeset/sweet-queens-tan.md
  packages/clerk-js/src/ui/common/NotificationCountBadge.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationMembers.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/__tests__/OrganizationMembers.test.tsx
Labels: clerk-js

#2937 fix(elements): Require Core 2 Beta as peerDeps
  .changeset/wicked-bears-laugh.md
  packages/elements/package.json
Labels: elements

#2939 chore(clerk-react): Stricter types for custom pages
  .changeset/rotten-ligers-move.md
  packages/react/src/types.ts
Labels: react

#2926 feat(clerk-js): Experimental CRUD methods for passkeys
  .changeset/wet-carpets-double.md
  packages/clerk-js/src/core/resources/Passkey.ts
  packages/clerk-js/src/core/resources/User.ts
  packages/clerk-js/src/utils/passkeys.ts
  packages/types/src/json.ts
  packages/types/src/passkey.ts
  packages/types/src/user.ts
Labels: types, clerk-js

#2941 fix(repo): Rebuild everything when generating a snapshot release
  .changeset/ten-peas-smile.md
  scripts/snapshot.mjs
Labels: types, clerk-js, nextjs, react, remix, actions, backend, fastify, localizations, sdk-node, expo, chrome-extension, gatsby, themes, integration

#2924 fix(localizations): Updated locals for Danger Section and Delete Page (es-ES)
  .changeset/afraid-eyes-relate.md
  packages/localizations/src/es-ES.ts
Labels: localizations

#2942 fix(nextjs): Middleware protect detects internal navigation in pages router
  .changeset/quiet-kings-relate.md
  packages/nextjs/src/constants.ts
  packages/nextjs/src/server/protect.ts
Labels: nextjs

#2936 fix(clerk-js): Fix the conditional render condition for organizationPreviewSecondaryIdentifier
  .changeset/four-crabs-sneeze.md
  packages/clerk-js/src/ui/elements/OrganizationPreview.tsx
Labels: clerk-js

#2943 fix(elements): Remove Core 2 Beta peerDeps
  .changeset/brown-nails-worry.md
  packages/elements/package.json
Labels: elements

#2934 Version Packages (beta)
  .changeset/pre.json
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/CHANGELOG.md
  packages/gatsby-plugin-clerk/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/package.json
  packages/shared/package.json
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, sdk-node, expo, chrome-extension, gatsby, themes, elements

#2947 chore(*): Fix the preview builds
  .changeset/dry-beds-boil.md
  playground/nextjs/package.json
Labels: playground

#2948 Version Packages (beta)
  .changeset/pre.json
  packages/react/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
Labels: react, themes

#2888 test(repo): Add integration tests for NextJS quickstart guide
  .changeset/rude-falcons-thank.md
  .eslintignore
  .github/workflows/ci.yml
  integration/models/environment.ts
  integration/presets/envs.ts
  integration/presets/longRunningApps.ts
  integration/presets/next.ts
  integration/templates/index.ts
  integration/templates/next-app-router-quickstart/.eslintrc.js
  integration/templates/next-app-router-quickstart/.gitignore
  integration/templates/next-app-router-quickstart/README.md
  integration/templates/next-app-router-quickstart/next.config.js
  integration/templates/next-app-router-quickstart/package.json
  integration/templates/next-app-router-quickstart/public/next.svg
  integration/templates/next-app-router-quickstart/public/vercel.svg
  integration/templates/next-app-router-quickstart/src/app/favicon.ico
  integration/templates/next-app-router-quickstart/src/app/globals.css
  integration/templates/next-app-router-quickstart/src/app/layout.tsx
  integration/templates/next-app-router-quickstart/src/app/page.module.css
  integration/templates/next-app-router-quickstart/src/app/page.tsx
  integration/templates/next-app-router-quickstart/src/middleware.ts
  integration/templates/next-app-router-quickstart/tsconfig.json
  integration/templates/next-app-router/src/middleware.ts
  integration/testUtils/appPageObject.ts
  integration/testUtils/index.ts
  integration/testUtils/userButtonPageObject.ts
  integration/testUtils/userProfilePageObject.ts
  integration/tests/next-quickstart.test.ts
  package.json
Labels: actions, integration

#2946 fix(clerk-js): Fix the input box-shadow on iOS 16 devices
  .changeset/light-doors-teach.md
  packages/clerk-js/src/ui/primitives/Input.tsx
Labels: clerk-js

#2953 fix(remix): Fix issue of creating multiple branches of a single stream on Cloudflare Workers
  .changeset/shiny-ties-complain.md
  packages/remix/src/ssr/utils.ts
Labels: remix

#2951 feat(elements): Expand debugging options
  .changeset/small-cooks-boil.md
  package-lock.json
  packages/elements/package.json
  packages/elements/src/internals/utils/inspector/browser.ts
  packages/elements/src/internals/utils/inspector/console.ts
  packages/elements/src/internals/utils/inspector/index.ts
  packages/elements/src/react/hooks/index.ts
  packages/elements/src/react/hooks/use-browser-inspector.hook.ts
  packages/elements/src/react/hooks/use-console-inspector.hook.ts
  packages/elements/src/react/sign-in/root.tsx
  packages/elements/src/react/sign-up/root.tsx
Labels: elements

#2949 fix(clerk-js): Remove ticket params after they are consumed
  .changeset/witty-pens-arrive.md
  packages/clerk-js/src/ui/components/SignIn/SignInStart.tsx
  packages/clerk-js/src/ui/components/SignIn/__tests__/SignInStart.test.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpStart.tsx
  packages/clerk-js/src/ui/components/SignUp/__tests__/SignUpStart.test.tsx
Labels: clerk-js

#2938 chore(clerk-expo): Update dependencies
  .changeset/eighty-planets-provide.md
  package-lock.json
  packages/expo/package.json
Labels: expo

#2966 fix(clerk-js): Avoid calling `router.matches()` for external routes
  .changeset/mean-ties-talk.md
  packages/clerk-js/src/ui/elements/Navbar.tsx
Labels: clerk-js

#2967 Version Packages - V4
  .changeset/mean-ties-talk.md
  .changeset/ten-peas-smile.md
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
Labels: clerk-js, expo, chrome-extension

#2898 chore(*): Expose requestState.headers to response and populate debug headers only in backend
  .changeset/lemon-starfishes-buy.md
  packages/backend/src/tokens/__tests__/authStatus.test.ts
  packages/backend/src/tokens/authStatus.ts
  packages/backend/tests/suites.ts
  packages/fastify/src/withClerkMiddleware.test.ts
  packages/fastify/src/withClerkMiddleware.ts
  packages/nextjs/src/server/authMiddleware.ts
  packages/nextjs/src/server/clerkMiddleware.ts
  packages/nextjs/src/server/utils.ts
  packages/remix/src/ssr/index.ts
  packages/remix/src/ssr/utils.ts
  packages/sdk-node/src/authenticateRequest.ts
  packages/sdk-node/src/clerkExpressRequireAuth.ts
  packages/sdk-node/src/clerkExpressWithAuth.ts
Labels: nextjs, remix, backend, fastify, sdk-node

#2968 fix(fastify): Re-export @clerk/backend
  .changeset/famous-bugs-tell.md
  packages/fastify/src/__snapshots__/exports.test.ts.snap
  packages/fastify/src/clerkClient.ts
  packages/fastify/src/index.ts
Labels: fastify

#2954 Version Packages (beta)
  .changeset/pre.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/CHANGELOG.md
  packages/gatsby-plugin-clerk/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
Labels: clerk-js, expo, chrome-extension

#2958 feat(clerk-js): List passkeys under security in UP
  .changeset/calm-kings-draw.md
  packages/clerk-js/src/core/resources/Passkey.ts
  packages/clerk-js/src/ui/components/UserProfile/PasskeySection.tsx
  packages/clerk-js/src/ui/components/UserProfile/RemoveResourceForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/SecurityPage.tsx
  packages/clerk-js/src/ui/components/UserProfile/__tests__/PasskeysSection.test.tsx
  packages/clerk-js/src/ui/components/UserProfile/__tests__/SecurityPage.test.tsx
  packages/clerk-js/src/ui/utils/test/fixtureHelpers.ts
  packages/clerk-js/src/ui/utils/test/fixtures.ts
  packages/clerk-js/src/ui/utils/test/mockHelpers.ts
  packages/localizations/src/en-US.ts
  packages/types/src/elementIds.ts
  packages/types/src/localization.ts
Labels: types, clerk-js, localizations

#2977 chore(clerk-sdk-node): Remove stale examples directory
  packages/sdk-node/examples/express/.env.sample
  packages/sdk-node/examples/express/.eslintrc.json
  packages/sdk-node/examples/express/.gitignore
  packages/sdk-node/examples/express/package.json
  packages/sdk-node/examples/express/src/app-level-middleware.ts
  packages/sdk-node/examples/express/src/router-level-middelware.ts
  packages/sdk-node/examples/express/src/runtime-keys-middleware.ts
  packages/sdk-node/examples/express/src/secrets.ts
  packages/sdk-node/examples/express/tsconfig.json
  packages/sdk-node/examples/node/.env.sample
  packages/sdk-node/examples/node/package.json
  packages/sdk-node/examples/node/src/allowlistIdentifiers.ts
  packages/sdk-node/examples/node/src/clients.ts
  packages/sdk-node/examples/node/src/emails.ts
  packages/sdk-node/examples/node/src/invitations.ts
  packages/sdk-node/examples/node/src/organizations.ts
  packages/sdk-node/examples/node/src/sessions.ts
  packages/sdk-node/examples/node/src/users.ts
  packages/sdk-node/examples/node/tsconfig.json
  packages/sdk-node/src/index.ts
Labels: sdk-node

#2963 fix(localizations): Update Norwegian translations
  .changeset/forty-zebras-fold.md
  packages/localizations/src/nb-NO.ts
Labels: localizations

#2961 feat(localizations): add missing translations
  .changeset/big-guests-deny.md
  packages/localizations/src/ru-RU.ts
Labels: localizations

#2978 chore(clerk-js): Remove unused error helpers
  .changeset/polite-avocados-suffer.md
  packages/clerk-js/src/core/errors.ts
Labels: clerk-js

#2979 Port CF Remix issues changes to v4
  .changeset/fifty-flies-greet.md
  packages/remix/src/ssr/utils.ts
Labels: remix

#2982 feat(backend): Add `external_account_id` to OAuth access token response
  .changeset/early-poets-leave.md
  packages/backend/src/api/__tests__/factory.test.ts
  packages/backend/src/api/resources/JSON.ts
  packages/backend/src/api/resources/OauthAccessToken.ts
Labels: backend

#2665 fix(themes): Add tslib and @clerk/types as dependencies to @clerk/themes
  package-lock.json
  packages/themes/package.json
Labels: themes

#2956 chore(clerk-js,types): Remove unused internal components, rename text color schemes
  .changeset/polite-beds-juggle.md
  packages/clerk-js/src/ui/common/CalloutWithAction.tsx
  packages/clerk-js/src/ui/common/EmailLinkStatusCard.tsx
  packages/clerk-js/src/ui/common/RemoveResourceForm.tsx
  packages/clerk-js/src/ui/components/ImpersonationFab/ImpersonationFab.tsx
  packages/clerk-js/src/ui/components/OrganizationList/UserSuggestionList.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/ActionConfirmationPage.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/InvitedMembersList.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/MemberListTable.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationGeneralPage.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationProfileNavbar.tsx
  packages/clerk-js/src/ui/components/OrganizationSwitcher/UserInvitationSuggestionList.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInFactorTwoCodeForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/ActiveDevicesSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/AddAuthenticatorApp.tsx
  packages/clerk-js/src/ui/components/UserProfile/ConnectedAccountsSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/DeleteUserForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/EnterpriseAccountsSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/LinkButtonWithDescription.tsx
  packages/clerk-js/src/ui/components/UserProfile/MfaBackupCodeAccordion.tsx
  packages/clerk-js/src/ui/components/UserProfile/MfaBackupCodeList.tsx
  packages/clerk-js/src/ui/components/UserProfile/MfaPhoneCodeScreen.tsx
  packages/clerk-js/src/ui/components/UserProfile/PhoneForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/UserProfileAccordion.tsx
  packages/clerk-js/src/ui/components/UserProfile/UserProfileNavbar.tsx
  packages/clerk-js/src/ui/customizables/elementDescriptors.ts
  packages/clerk-js/src/ui/elements/Accordion.tsx
  packages/clerk-js/src/ui/elements/Alert.tsx
  packages/clerk-js/src/ui/elements/AvatarUploader.tsx
  packages/clerk-js/src/ui/elements/Breadcrumbs.tsx
  packages/clerk-js/src/ui/elements/Card/CardAction.tsx
  packages/clerk-js/src/ui/elements/Divider.tsx
  packages/clerk-js/src/ui/elements/ErrorCard.tsx
  packages/clerk-js/src/ui/elements/FieldControl.tsx
  packages/clerk-js/src/ui/elements/Header.tsx
  packages/clerk-js/src/ui/elements/IdentityPreview.tsx
  packages/clerk-js/src/ui/elements/InputGroup.tsx
  packages/clerk-js/src/ui/elements/Navbar.tsx
  packages/clerk-js/src/ui/elements/Pagination.tsx
  packages/clerk-js/src/ui/elements/PhoneInput/PhoneInput.tsx
  packages/clerk-js/src/ui/elements/RadioGroup.tsx
  packages/clerk-js/src/ui/elements/Section.tsx
  packages/clerk-js/src/ui/elements/SuccessPage.tsx
  packages/clerk-js/src/ui/elements/VerificationLinkCard.tsx
  packages/clerk-js/src/ui/elements/index.ts
  packages/clerk-js/src/ui/primitives/FormInfoText.tsx
  packages/clerk-js/src/ui/primitives/FormSuccessText.tsx
  packages/clerk-js/src/ui/primitives/FormWarningText.tsx
  packages/clerk-js/src/ui/primitives/Text.tsx
  packages/types/src/appearance.ts
Labels: types, clerk-js

#2986 chore(elements): Improve error message for incorrect Verification component usage
  .changeset/silent-eagles-itch.md
  packages/elements/src/react/sign-in/context/strategies.context.ts
  packages/elements/src/react/sign-up/verifications.tsx
Labels: elements

#2987 fix(themes): Add tslib and @clerk/types as dependencies to @clerk/themes (#2665)
  .changeset/selfish-mugs-love.md
  package-lock.json
  packages/themes/package.json
Labels: themes, cherry

#2974 Version Packages - V4
  .changeset/fifty-flies-greet.md
  .changeset/popular-monkeys-clap.md
  .changeset/selfish-mugs-love.md
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
Labels: clerk-js, remix, expo, chrome-extension, themes

#2988 fix(clerk-js): Set the new value for passkey section text color schemes
  .changeset/fluffy-schools-begin.md
  packages/clerk-js/src/ui/components/UserProfile/PasskeySection.tsx
Labels: clerk-js

#2989 chore(repo): Update lock file on version PR
  .github/workflows/release.yml
  package.json
  scripts/version-info.sh
Labels: actions

#2981 test(repo): Add email code integration test into the generic test suite
  .changeset/moody-rockets-love.md
  integration/testUtils/usersService.ts
  integration/tests/email-code.test.ts
Labels: integration

#2990 fix(clerk-js): Disable emailAdress field in SignUp if `fields.emailAddress.disabled` is true
  .changeset/loud-pianos-compete.md
  packages/clerk-js/src/ui/components/SignUp/SignUpForm.tsx
Labels: clerk-js

#2970 feat(clerk-js): Experimental method for authenticating with a passkey
  .changeset/light-ligers-beam.md
  packages/clerk-js/src/core/errors.ts
  packages/clerk-js/src/core/resources/Passkey.ts
  packages/clerk-js/src/core/resources/SignIn.ts
  packages/clerk-js/src/core/resources/Verification.ts
  packages/clerk-js/src/utils/__tests__/passkeys.test.ts
  packages/clerk-js/src/utils/passkeys.ts
  packages/types/src/factors.ts
  packages/types/src/json.ts
  packages/types/src/passkey.ts
  packages/types/src/signIn.ts
  packages/types/src/strategies.ts
  packages/types/src/verification.ts
Labels: types, clerk-js

#2995 chore(clerk-js): Fix issue where checkbox styling seems broken
  .changeset/forty-cows-attend.md
  packages/clerk-js/src/ui/primitives/Input.tsx
Labels: clerk-js

#2997 fix(clerk-js): Fix button font size for alternative methods on <SignIn/>
  .changeset/great-seals-punch.md
  packages/clerk-js/src/ui/components/SignIn/AlternativeMethods.tsx
  packages/clerk-js/src/ui/elements/ArrowBlockButton.tsx
Labels: clerk-js

#2983 fix(*): Update dependencies to resolve security alerts
  .changeset/short-tigers-breathe.md
  integration/templates/next-app-router/package.json
  package-lock.json
  package.json
  packages/backend/package.json
  packages/elements/package.json
  packages/expo/package.json
  packages/nextjs/package.json
  packages/sdk-node/package.json
Labels: nextjs, backend, sdk-node, expo, integration, elements

#2980 feat(backend): Create SamlConnectionApi and SamlConnection resource
  .changeset/afraid-stingrays-suffer.md
  packages/backend/src/api/endpoints/SamlConnectionApi.ts
  packages/backend/src/api/endpoints/index.ts
  packages/backend/src/api/factory.ts
  packages/backend/src/api/resources/JSON.ts
  packages/backend/src/api/resources/SamlConnection.ts
  packages/backend/src/api/resources/index.ts
Labels: backend

#3003 refactor(elements): Rename `SocialProvider` to `Provider` [SDK-1513]
  .changeset/shy-bats-relax.md
  packages/elements/examples/nextjs/app/sign-in/[[...sign-in]]/page.tsx
  packages/elements/examples/nextjs/app/sign-up/[[...sign-up]]/page.tsx
  packages/elements/examples/nextjs/components/social-providers.tsx
  packages/elements/src/react/common/index.ts
  packages/elements/src/react/common/providers.tsx
  packages/elements/src/react/hooks/use-third-party-provider.hook.ts
  packages/elements/src/react/sign-in/index.ts
  packages/elements/src/react/sign-in/providers.tsx
  packages/elements/src/react/sign-up/index.ts
  packages/elements/src/react/sign-up/providers.tsx
Labels: elements

#3004 feat(elements): Add SafeIdentifier & Salutation [SDK-1501]
  .changeset/kind-hornets-develop.md
  packages/elements/examples/nextjs/app/sign-in/[[...sign-in]]/page.tsx
  packages/elements/package.json
  packages/elements/src/internals/machines/sign-in/selectors/sign-in.selectors.ts
  packages/elements/src/internals/machines/sign-in/types/router.types.ts
  packages/elements/src/internals/machines/utils/__tests__/formatters.test.ts
  packages/elements/src/internals/machines/utils/formatters.ts
  packages/elements/src/react/sign-in/identifiers.tsx
  packages/elements/src/react/sign-in/index.ts
Labels: elements

#3005 feat(elements): Export OTPInputSegmentStatus type [SDK-1502]
  .changeset/chilly-suns-argue.md
  packages/elements/examples/nextjs/components/form.tsx
  packages/elements/src/react/common/form/otp.tsx
  packages/elements/src/react/common/index.ts
  packages/elements/src/react/sign-up/context/router.context.ts
Labels: elements

#3007 refactor(elements): Rename Verification to Strategy [SDK-1522]
  .changeset/tiny-phones-visit.md
  packages/elements/examples/nextjs/app/sign-in/[[...sign-in]]/page.tsx
  packages/elements/examples/nextjs/app/sign-up/[[...sign-up]]/page.tsx
  packages/elements/src/react/sign-in/choose-strategy.tsx
  packages/elements/src/react/sign-in/context/strategies.context.ts
  packages/elements/src/react/sign-in/index.ts
  packages/elements/src/react/sign-in/verifications.tsx
  packages/elements/src/react/sign-up/index.ts
  packages/elements/src/react/sign-up/verifications.tsx
Labels: elements

#3008 feat(elements): Implement Action component [SDK-1530]
  .changeset/mighty-shirts-eat.md
  packages/elements/examples/nextjs/app/sign-in/[[...sign-in]]/page.tsx
  packages/elements/examples/nextjs/app/sign-up/[[...sign-up]]/page.tsx
  packages/elements/examples/nextjs/components/form.tsx
  packages/elements/src/react/sign-in/action.tsx
  packages/elements/src/react/sign-in/index.ts
  packages/elements/src/react/sign-up/action.tsx
  packages/elements/src/react/sign-up/index.ts
  packages/elements/src/react/sign-up/navigation.tsx
Labels: elements

#3009 chore(elements): Bump version
  .changeset/cyan-seas-destroy.md
  packages/elements/package.json
Labels: elements

#2984 feat(clerk-js,localizations): Nav to `reset-password` if `needs_new_password`
  .changeset/four-ties-yawn.md
  packages/clerk-js/src/ui/components/SignIn/SignInFactorOnePasswordCard.tsx
  packages/clerk-js/src/ui/components/SignIn/__tests__/ResetPassword.test.tsx
  packages/clerk-js/src/ui/components/SignIn/__tests__/SignInFactorOne.test.tsx
  packages/localizations/src/cs-CZ.ts
  packages/localizations/src/da-DK.ts
  packages/localizations/src/en-US.ts
  packages/localizations/src/es-ES.ts
  packages/localizations/src/es-MX.ts
  packages/localizations/src/fr-FR.ts
  packages/localizations/src/he-IL.ts
  packages/localizations/src/it-IT.ts
  packages/localizations/src/ko-KR.ts
  packages/localizations/src/nl-NL.ts
  packages/localizations/src/pl-PL.ts
  packages/localizations/src/pt-BR.ts
  packages/localizations/src/pt-PT.ts
  packages/localizations/src/ru-RU.ts
  packages/localizations/src/sk-SK.ts
  packages/localizations/src/sv-SE.ts
  packages/localizations/src/tr-TR.ts
  packages/localizations/src/uk-UA.ts
  packages/localizations/src/utils/enUS_v4.ts
  packages/localizations/src/vi-VN.ts
  packages/localizations/src/zh-CN.ts
  packages/localizations/src/zh-TW.ts
Labels: clerk-js, localizations

#3000 feat(clerk-js): Use passkey as first factor in `<SignIn/>`
  .changeset/weak-adults-juggle.md
  packages/clerk-js/src/core/resources/SignIn.ts
  packages/clerk-js/src/core/resources/UserSettings.ts
  packages/clerk-js/src/ui/common/constants.ts
  packages/clerk-js/src/ui/components/SignIn/AlternativeMethods.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInFactorOne.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInFactorOnePasskey.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInStart.tsx
  packages/clerk-js/src/ui/components/SignIn/shared.ts
  packages/clerk-js/src/ui/components/SignIn/utils.ts
  packages/clerk-js/src/ui/customizables/elementDescriptors.ts
  packages/clerk-js/src/ui/icons/fingerprint.svg
  packages/clerk-js/src/ui/icons/index.ts
  packages/clerk-js/src/ui/utils/factorSorting.ts
  packages/clerk-js/src/ui/utils/test/fixtures.ts
  packages/clerk-js/src/utils/passkeys.ts
  packages/localizations/src/en-US.ts
  packages/types/src/appearance.ts
  packages/types/src/displayConfig.ts
  packages/types/src/elementIds.ts
  packages/types/src/localization.ts
  packages/types/src/signIn.ts
  packages/types/src/userSettings.ts
Labels: types, clerk-js, localizations

#3013 fix(clerk-js): Define priority for strategy passkey when user is missing that first factor
  .changeset/odd-rats-smash.md
  packages/clerk-js/src/ui/components/SignIn/utils.ts
Labels: clerk-js

#3011 fix(localizations): Add missing translation for edit profile button in `de-DE`
  .changeset/kind-eagles-yawn.md
  packages/localizations/src/de-DE.ts
Labels: localizations

#2993 fix(clerk-js): Remove ticket related query params at the end of the flow
  .changeset/tasty-seals-fail.md
  packages/clerk-js/src/ui/components/SignIn/SignInStart.tsx
  packages/clerk-js/src/ui/components/SignIn/__tests__/SignInStart.test.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpStart.tsx
  packages/clerk-js/src/ui/components/SignUp/__tests__/SignUpStart.test.tsx
Labels: clerk-js

#3006 feat(localizations): Added catalan language
  .changeset/sour-trees-glow.md
  packages/localizations/package.json
  packages/localizations/src/ca-ES.ts
  packages/localizations/src/index.ts
Labels: localizations

#3016 fix(localizations): Add ca-ES to subpaths file
  .changeset/cuddly-laws-reply.md
  packages/localizations/subpaths.mjs
Labels: localizations

#2976 feat(clerk-js): Throw errors for invalid mounts/modal opens in development
  .changeset/great-turtles-reply.md
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/warnings.ts
  packages/clerk-js/src/ui/common/index.ts
  packages/clerk-js/src/ui/common/withOrganizationsEnabledGuard.tsx
  packages/clerk-js/src/ui/components/CreateOrganization/CreateOrganization.tsx
  packages/clerk-js/src/ui/components/OrganizationList/OrganizationList.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationProfile.tsx
  packages/clerk-js/src/ui/components/OrganizationSwitcher/OrganizationSwitcher.tsx
Labels: clerk-js

#3015 chore(clerk-js): Improve error handling for autofill resulting in better UX
  .changeset/six-experts-approve.md
  packages/clerk-js/src/ui/components/SignIn/shared.ts
Labels: clerk-js

#3014 fix(elements): Remove "use client" and mark packages as client-only instead
  .changeset/real-flowers-flow.md
  package-lock.json
  packages/elements/package.json
  packages/elements/src/react/common/index.ts
  packages/elements/src/react/router/react.tsx
  packages/elements/src/react/sign-in/choose-strategy.tsx
  packages/elements/src/react/sign-in/index.ts
  packages/elements/src/react/sign-in/navigation.tsx
  packages/elements/src/react/sign-in/providers.tsx
  packages/elements/src/react/sign-in/root.tsx
  packages/elements/src/react/sign-in/start.tsx
  packages/elements/src/react/sign-in/verifications.tsx
  packages/elements/src/react/sign-up/continue.tsx
  packages/elements/src/react/sign-up/index.ts
  packages/elements/src/react/sign-up/navigation.tsx
  packages/elements/src/react/sign-up/providers.tsx
  packages/elements/src/react/sign-up/root.tsx
  packages/elements/src/react/sign-up/start.tsx
  packages/elements/src/react/sign-up/verifications.tsx
Labels: elements

#2969 Version Packages (beta)
  .changeset/pre.json
  package-lock.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/CHANGELOG.md
  packages/gatsby-plugin-clerk/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/shared/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, sdk-node, expo, chrome-extension, gatsby, themes, elements

#3002 feat(elements): `<Loading>` component
  .changeset/violet-windows-turn.md
  packages/elements/examples/nextjs/app/sign-in/[[...sign-in]]/page.tsx
  packages/elements/examples/nextjs/app/sign-up/[[...sign-up]]/page.tsx
  packages/elements/examples/nextjs/components/loader.tsx
  packages/elements/examples/nextjs/components/spinner.tsx
  packages/elements/examples/nextjs/package.json
  packages/elements/package.json
  packages/elements/src/internals/machines/__tests__/shared.actions.test.ts
  packages/elements/src/internals/machines/shared.actions.ts
  packages/elements/src/internals/machines/sign-in/machines/router.machine.ts
  packages/elements/src/internals/machines/sign-in/machines/start.machine.ts
  packages/elements/src/internals/machines/sign-in/machines/verification.machine.ts
  packages/elements/src/internals/machines/sign-in/types/router.types.ts
  packages/elements/src/internals/machines/sign-in/types/start.types.ts
  packages/elements/src/internals/machines/sign-in/types/verification.types.ts
  packages/elements/src/internals/machines/sign-up/machines/continue.machine.ts
  packages/elements/src/internals/machines/sign-up/machines/router.machine.ts
  packages/elements/src/internals/machines/sign-up/machines/start.machine.ts
  packages/elements/src/internals/machines/sign-up/machines/verification.machine.ts
  packages/elements/src/internals/machines/sign-up/types/continue.types.ts
  packages/elements/src/internals/machines/sign-up/types/router.types.ts
  packages/elements/src/internals/machines/sign-up/types/start.types.ts
  packages/elements/src/internals/machines/sign-up/types/verification.types.ts
  packages/elements/src/internals/machines/third-party/machine.ts
  packages/elements/src/internals/machines/third-party/types.ts
  packages/elements/src/internals/machines/types/router.types.ts
  packages/elements/src/react/common/providers.tsx
  packages/elements/src/react/hooks/use-loading.hook.ts
  packages/elements/src/react/sign-in/choose-strategy.tsx
  packages/elements/src/react/sign-in/hooks/use-loading.hook.ts
  packages/elements/src/react/sign-in/index.ts
  packages/elements/src/react/sign-in/loading.tsx
  packages/elements/src/react/sign-in/step.tsx
  packages/elements/src/react/sign-up/index.ts
  packages/elements/src/react/sign-up/loading.tsx
  packages/elements/src/react/sign-up/step.tsx
  packages/elements/src/react/utils/__tests__/map-scope-to-strategy.test.ts
  packages/elements/src/react/utils/create-context-for-dom-validation.ts
  packages/elements/src/react/utils/map-scope-to-strategy.ts
Labels: elements

#3017 feat(elements): Adjust FieldState and Field
  .changeset/young-shoes-sin.md
  packages/elements/examples/nextjs/app/sign-in/[[...sign-in]]/page.tsx
  packages/elements/examples/nextjs/components/form.tsx
  packages/elements/package.json
  packages/elements/src/react/common/form/index.tsx
Labels: elements

#3019 fix(clerk-js): Improve checks for passkey logic in SignInStart
  .changeset/little-spoons-guess.md
  packages/clerk-js/src/ui/components/SignIn/SignInStart.tsx
Labels: clerk-js

#3020 Update es-ES.ts
  .changeset/bright-bats-marry.md
  packages/localizations/src/es-ES.ts
Labels: localizations

#3028 chore(clerk-js): Revert passkey as preferred strategy for sign in
  .changeset/tough-rings-rest.md
  packages/clerk-js/src/ui/common/constants.ts
  packages/clerk-js/src/ui/components/SignIn/utils.ts
  packages/types/src/displayConfig.ts
Labels: types, clerk-js

#3029 fix(clerk-js): Navigation to second factor when visiting from SignInStart
  .changeset/tricky-frogs-fail.md
  packages/clerk-js/src/ui/components/SignIn/SignInFactorOnePasskey.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInStart.tsx
  packages/clerk-js/src/ui/components/SignIn/shared.ts
Labels: clerk-js

#3026 feat(elements): Move <Loading> component to /common subpath
  .changeset/lovely-pears-eat.md
  package-lock.json
  packages/elements/examples/nextjs/app/sign-in/[[...sign-in]]/page.tsx
  packages/elements/examples/nextjs/app/sign-up/[[...sign-up]]/page.tsx
  packages/elements/package.json
  packages/elements/src/react/common/index.ts
  packages/elements/src/react/common/loading.tsx
  packages/elements/src/react/hooks/use-loading.hook.ts
  packages/elements/src/react/sign-in/index.ts
  packages/elements/src/react/sign-in/loading.tsx
  packages/elements/src/react/sign-in/step.tsx
  packages/elements/src/react/sign-up/index.ts
  packages/elements/src/react/sign-up/loading.tsx
  packages/elements/src/react/sign-up/step.tsx
Labels: elements

#3024 feat(localizations): Added Mongolian language
  .changeset/late-kids-push.md
  packages/localizations/package.json
  packages/localizations/src/mn-MN.ts
  packages/localizations/src/utils/generate.ts
  packages/localizations/subpaths.mjs
Labels: localizations

#2992 test(e2e): Update sign in flow tests
  .changeset/mean-ghosts-develop.md
  integration/testUtils/appPageObject.ts
  integration/testUtils/commonPageObject.ts
  integration/testUtils/signInPageObject.ts
  integration/testUtils/usersService.ts
  integration/tests/email-code.test.ts
  integration/tests/navigation.test.ts
  integration/tests/sign-in-flow.test.ts
  integration/tests/sign-in-smoke.test.ts
  integration/tests/user-profile.test.ts
Labels: integration

#3032 fix(elements): Rename internal helper type
  .changeset/curly-students-enjoy.md
  packages/elements/package.json
  packages/elements/src/react/common/loading.tsx
  packages/elements/src/react/sign-in/step.tsx
  packages/elements/src/react/sign-up/step.tsx
Labels: elements

#3036 fix(elements): Ensure Input accepts a ref
  .changeset/three-bulldogs-smile.md
  packages/elements/package.json
  packages/elements/src/react/common/form/index.tsx
Labels: elements

#3037 fix(Elements): forward verification props
  .changeset/spotty-hotels-shout.md
  packages/elements/src/react/sign-in/verifications.tsx
Labels: elements

#3018 fix(elements): Routing for Next 14.1 [SDK-1539]
  .changeset/eight-mangos-do.md
  packages/elements/examples/nextjs/package.json
  packages/elements/package.json
  packages/elements/src/internals/constants/index.ts
  packages/elements/src/internals/machines/form/form.context.ts
  packages/elements/src/internals/machines/utils/__tests__/next.test.ts
  packages/elements/src/internals/machines/utils/next.ts
  packages/elements/src/react/router/next.ts
Labels: elements

#3025 chore(clerk-js): Improve error handling of passkeys
  .changeset/eight-buttons-wink.md
  packages/clerk-js/src/core/errors.ts
  packages/clerk-js/src/core/resources/Passkey.ts
  packages/clerk-js/src/core/resources/SignIn.ts
  packages/clerk-js/src/ui/components/SignIn/shared.ts
  packages/clerk-js/src/utils/passkeys.ts
  packages/localizations/src/en-US.ts
  packages/types/src/localization.ts
Labels: types, clerk-js, localizations

#3042 chore(nextjs): Adds telemetry event to clerkMiddleware initialization
  .changeset/khaki-poems-press.md
  packages/nextjs/src/server/clerkClient.ts
  packages/nextjs/src/server/clerkMiddleware.ts
Labels: nextjs

#3027 Version Packages (beta)
  .changeset/pre.json
  package-lock.json
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/CHANGELOG.md
  packages/gatsby-plugin-clerk/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/package.json
  packages/shared/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, sdk-node, expo, chrome-extension, gatsby, themes, elements

#3030 fix(elements): Improve OTP selection interaction
  .changeset/two-buckets-explain.md
  package-lock.json
  packages/elements/README.md
  packages/elements/examples/nextjs/app/otp-playground/page.tsx
  packages/elements/package.json
  packages/elements/src/react/common/form/otp.tsx
Labels: elements

#3045 fix(elements): destructure onchange prop from passthroughProps
  .changeset/eleven-tables-wash.md
  packages/elements/package.json
  packages/elements/src/react/common/form/index.tsx
Labels: elements

#2998 test(e2e): Add tests for Account Portal flows with both clerk v4 and v5
  .changeset/chilled-apples-exercise.md
  .changeset/fuzzy-months-join.md
  .github/actions/init/action.yml
  .github/actions/verdaccio/action.yml
  .github/workflows/ci.yml
  integration/README.md
  integration/playwright.config.ts
  integration/presets/envs.ts
  integration/presets/next.ts
  integration/templates/next-app-router-quickstart/src/app/page.tsx
  integration/tests/next-account-portal/clerk-v4-ap-core-1.test.ts
  integration/tests/next-account-portal/clerk-v4-ap-core-2.test.ts
  integration/tests/next-account-portal/clerk-v5-ap-core-1.test.ts
  integration/tests/next-account-portal/clerk-v5-ap-core-2.test.ts
  integration/tests/next-account-portal/common.ts
  integration/tests/next-middleware.test.ts
  package.json
  packages/shared/src/devBrowser.ts
  verdaccio.install.yaml
  verdaccio.publish.yaml
  verdaccio.yaml
Labels: actions, integration

#3041 chore(e2e): Change the domain of fictional emails so we can cleanup user corerctly
  .changeset/afraid-meals-remember.md
  integration/testUtils/usersService.ts
Labels: integration

#3048 Version Packages (beta)
  .changeset/pre.json
  package-lock.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/CHANGELOG.md
  packages/gatsby-plugin-clerk/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
Labels: clerk-js, nextjs, react, remix, backend, fastify, sdk-node, expo, chrome-extension, gatsby, elements

#3040 test(clerk-js): Test cases for passkeys in SignInStart
  .changeset/six-ways-press.md
  packages/clerk-js/src/testUtils.ts
  packages/clerk-js/src/ui/components/SignIn/__tests__/SignInFactorOne.test.tsx
  packages/clerk-js/src/ui/components/SignIn/__tests__/SignInStart.test.tsx
  packages/clerk-js/src/ui/hooks/useAlternativeStrategies.ts
  packages/clerk-js/src/ui/utils/test/fixtureHelpers.ts
Labels: clerk-js

#3047 fix(elements): Get TS completions working again
  .changeset/mean-falcons-build.md
  package-lock.json
  packages/elements/package.json
  packages/elements/src/react/sign-in/choose-strategy.tsx
  packages/elements/src/react/sign-in/navigation.tsx
  packages/elements/src/react/sign-in/root.tsx
  packages/elements/src/react/sign-in/verifications.tsx
  packages/elements/src/react/sign-up/navigation.tsx
  packages/elements/src/react/sign-up/root.tsx
  packages/elements/src/react/sign-up/verifications.tsx
  packages/elements/src/react/utils/create-context-for-dom-validation.ts
  packages/elements/src/react/utils/create-context-from-actor-ref.ts
  packages/elements/src/types/common.d.ts
Labels: elements

#3050 fix(clerk-js): Rolling back support for sign_in.needs_new_password on…
  .changeset/strange-zoos-tie.md
  packages/clerk-js/src/ui/components/SignIn/SignInFactorOnePasswordCard.tsx
  packages/clerk-js/src/ui/components/SignIn/__tests__/SignInFactorOne.test.tsx
Labels: clerk-js

#3054 fix(elements): Check for controlled values and handle accordingly
  .changeset/small-meals-swim.md
  packages/elements/package.json
  packages/elements/src/react/common/form/index.tsx
Labels: elements

#3052 chore(clerk-js): Remove credentialId from the PasskeyResource and call `fromJSON` for PasskeyVerification correctly
  .changeset/famous-shirts-itch.md
  packages/clerk-js/src/core/resources/Passkey.ts
  packages/clerk-js/src/core/resources/Verification.ts
  packages/types/src/json.ts
  packages/types/src/passkey.ts
Labels: types, clerk-js

#3057 fix(backend): Fix typo in jwk-remote-missing error message
  .changeset/chilly-tips-compete.md
  packages/backend/src/tokens/__tests__/keys.test.ts
  packages/backend/src/tokens/keys.ts
Labels: backend

#3059 fix(elements): Allow className on action
  .changeset/clean-files-hug.md
  packages/elements/package.json
  packages/elements/src/react/sign-in/action.tsx
  packages/elements/src/react/sign-up/action.tsx
Labels: elements

#3062 fix(clerk-js): Correct chunk loading logic in clerk.headless.browser variant
  .changeset/lazy-games-destroy.md
  packages/clerk-js/src/index.headless.browser.ts
Labels: clerk-js

#3063 fix(clerk-js): Correct chunk loading logic in clerk.headless.browser variant (#3062)
  .changeset/lazy-games-destroy.md
  packages/clerk-js/src/index.headless.browser.ts
Labels: clerk-js, cherry

#3066 fix(clerk-js): Legacy integration tokens should not set __session cookie
  .changeset/large-clouds-flash.md
  packages/clerk-js/src/core/resources/Session.ts
Labels: clerk-js

#3035 chore(clerk-js): Improve Token.create to handle network failures errors
  .changeset/tiny-taxis-smell.md
  packages/clerk-js/src/core/resources/Session.test.ts
  packages/clerk-js/src/core/resources/Session.ts
  packages/clerk-js/src/core/resources/Token.test.ts
  packages/clerk-js/src/core/resources/Token.ts
  packages/clerk-js/src/core/resources/__snapshots__/Session.test.ts.snap
  packages/clerk-js/src/core/services/authentication/SessionCookieService.ts
  packages/clerk-js/src/core/test/fixtures.ts
  packages/clerk-js/src/core/tokenCache.ts
  packages/types/src/token.ts
Labels: types, clerk-js

#3065 Version Packages - V4
  .changeset/large-clouds-flash.md
  .changeset/lazy-games-destroy.md
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
Labels: clerk-js, expo, chrome-extension

#3060 feat(backend): Add scrypt_werkzeug to supported hashers
  .changeset/wet-toes-knock.md
  packages/backend/src/api/endpoints/UserApi.ts
Labels: backend

#3034 feat(clerk-js,localizations,shared,types): Prompt user to reset pwned…
  .changeset/flat-geese-applaud.md
  packages/clerk-js/src/ui/components/SignIn/AlternativeMethods.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInFactorOne.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInFactorOnePasswordCard.tsx
  packages/clerk-js/src/ui/components/SignIn/__tests__/SignInFactorOne.test.tsx
  packages/clerk-js/src/ui/elements/contexts/FlowMetadataContext.tsx
  packages/localizations/src/ar-SA.ts
  packages/localizations/src/bg-BG.ts
  packages/localizations/src/cs-CZ.ts
  packages/localizations/src/da-DK.ts
  packages/localizations/src/de-DE.ts
  packages/localizations/src/el-GR.ts
  packages/localizations/src/en-US.ts
  packages/localizations/src/es-ES.ts
  packages/localizations/src/es-MX.ts
  packages/localizations/src/fr-FR.ts
  packages/localizations/src/he-IL.ts
  packages/localizations/src/it-IT.ts
  packages/localizations/src/ja-JP.ts
  packages/localizations/src/ko-KR.ts
  packages/localizations/src/mn-MN.ts
  packages/localizations/src/nb-NO.ts
  packages/localizations/src/nl-NL.ts
  packages/localizations/src/pl-PL.ts
  packages/localizations/src/pt-BR.ts
  packages/localizations/src/pt-PT.ts
  packages/localizations/src/ro-RO.ts
  packages/localizations/src/ru-RU.ts
  packages/localizations/src/sk-SK.ts
  packages/localizations/src/sv-SE.ts
  packages/localizations/src/th-TH.ts
  packages/localizations/src/tr-TR.ts
  packages/localizations/src/uk-UA.ts
  packages/localizations/src/vi-VN.ts
  packages/localizations/src/zh-CN.ts
  packages/localizations/src/zh-TW.ts
  packages/shared/src/error.ts
  packages/types/src/localization.ts
Labels: types, clerk-js, localizations

#3070 fix(clerk-js): Hide "Add passkey" button in UP when app is satellite
  .changeset/wicked-pumpkins-repair.md
  packages/clerk-js/src/ui/components/UserProfile/PasskeySection.tsx
  packages/clerk-js/src/ui/components/UserProfile/__tests__/PasskeysSection.test.tsx
Labels: clerk-js

#3001 fix(nextjs,shared): Allow manually passed publishable/secret key to middleware
  .changeset/stupid-coats-smell.md
  packages/backend/src/util/assertValidSecretKey.ts
  packages/nextjs/src/server/authMiddleware.test.ts
  packages/nextjs/src/server/authMiddleware.ts
  packages/nextjs/src/server/clerkMiddleware.test.ts
  packages/nextjs/src/server/clerkMiddleware.ts
  packages/nextjs/src/server/errorThrower.ts
  packages/nextjs/src/server/utils.ts
  packages/nextjs/src/utils/serverRedirectWithAuth.ts
  packages/shared/src/error.ts
  playground/nextjs/middleware.ts
Labels: nextjs, backend, playground

#3068 chore(clerk-js): Improve Token.create to handle error due to network failure
  .changeset/gold-flies-attend.md
  packages/clerk-js/src/core/resources/Session.test.ts
  packages/clerk-js/src/core/resources/Session.ts
  packages/clerk-js/src/core/resources/Token.test.ts
  packages/clerk-js/src/core/resources/Token.ts
  packages/clerk-js/src/core/resources/__snapshots__/Session.test.ts.snap
  packages/clerk-js/src/core/services/authentication/SessionCookieService.ts
  packages/clerk-js/src/core/test/fixtures.ts
  packages/clerk-js/src/core/tokenCache.ts
  packages/types/src/token.ts
Labels: types, clerk-js

#3073 feat(types,localizations): Add translation keys for form_identifier_exists error
  .changeset/forty-lizards-cheat.md
  packages/localizations/src/ar-SA.ts
  packages/localizations/src/bg-BG.ts
  packages/localizations/src/cs-CZ.ts
  packages/localizations/src/da-DK.ts
  packages/localizations/src/de-DE.ts
  packages/localizations/src/el-GR.ts
  packages/localizations/src/en-US.ts
  packages/localizations/src/es-ES.ts
  packages/localizations/src/es-MX.ts
  packages/localizations/src/fr-FR.ts
  packages/localizations/src/he-IL.ts
  packages/localizations/src/it-IT.ts
  packages/localizations/src/ja-JP.ts
  packages/localizations/src/ko-KR.ts
  packages/localizations/src/mn-MN.ts
  packages/localizations/src/nb-NO.ts
  packages/localizations/src/nl-NL.ts
  packages/localizations/src/pl-PL.ts
  packages/localizations/src/pt-BR.ts
  packages/localizations/src/pt-PT.ts
  packages/localizations/src/ro-RO.ts
  packages/localizations/src/ru-RU.ts
  packages/localizations/src/sk-SK.ts
  packages/localizations/src/sv-SE.ts
  packages/localizations/src/th-TH.ts
  packages/localizations/src/tr-TR.ts
  packages/localizations/src/uk-UA.ts
  packages/localizations/src/vi-VN.ts
  packages/localizations/src/zh-CN.ts
  packages/localizations/src/zh-TW.ts
  packages/types/src/localization.ts
Labels: types, localizations
