Repository clerk/javascript, pull requests merged in 2024-04, with the labels that each got.

#3075 feat(clerk-js,localizations,shared,types): Prompt user to reset pwned…
  .changeset/sour-kings-fry.md
  package-lock.json
  packages/clerk-js/src/ui/components/SignIn/AlternativeMethods.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInFactorOne.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInFactorOnePasswordCard.tsx
  packages/clerk-js/src/ui/components/SignIn/__tests__/SignInFactorOne.test.tsx
  packages/clerk-js/src/ui/elements/contexts/FlowMetadataContext.tsx
  packages/localizations/src/en-US.ts
  packages/shared/src/error.ts
  packages/types/src/localization.ts
Labels: types, clerk-js, localizations

#3079 fix(backend): Fix pagination params types for invitations.getInvitationList()
  .changeset/wise-geese-rest.md
  packages/backend/src/api/endpoints/InvitationApi.ts
Labels: backend

#3069 feat(backend): Add scrypt_werkzeug to supported hashers (#3060)
  .changeset/wet-toes-knock.md
  packages/backend/src/api/endpoints/UserApi.ts
Labels: backend

#3056 test(e2e): Add sign up flow tests
  .changeset/silly-walls-sit.md
  integration/testUtils/commonPageObject.ts
  integration/testUtils/signUpPageObject.ts
  integration/tests/sign-up-flow.test.ts
Labels: integration

#3071 Fix docs links on main branch
  README.md
  packages/backend/README.md
  packages/chrome-extension/README.md
  packages/clerk-js/README.md
  packages/elements/README.md
  packages/expo/README.md
  packages/fastify/README.md
  packages/gatsby-plugin-clerk/README.md
  packages/localizations/README.md
  packages/nextjs/README.md
  packages/react/README.md
  packages/remix/README.md
  packages/sdk-node/README.md
  packages/themes/README.md
  packages/types/README.md
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, sdk-node, expo, chrome-extension, gatsby, themes, elements

#3072 Version Packages - V4
  .changeset/gold-flies-attend.md
  .changeset/sour-kings-fry.md
  .changeset/wet-toes-knock.md
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/CHANGELOG.md
  packages/gatsby-plugin-clerk/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, sdk-node, expo, chrome-extension, gatsby, themes

#3081 fix(clerk-js): Fix height misalignment of Password section in UP
  .changeset/two-ways-buy.md
  packages/clerk-js/src/ui/components/UserProfile/ConnectedAccountsSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/PasswordSection.tsx
  packages/clerk-js/src/ui/elements/Section.tsx
Labels: clerk-js

#3064 Version Packages (beta)
  .changeset/pre.json
  package-lock.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/CHANGELOG.md
  packages/gatsby-plugin-clerk/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, sdk-node, expo, chrome-extension, gatsby, themes, elements

#3083 [Localization] Improve ptBR locale
  .changeset/cold-ducks-cross.md
  packages/localizations/src/pt-BR.ts
Labels: localizations

#3086 fix(clerk-js,types): Change CreatePortalSessionParams props to camel case
  packages/clerk-js/src/core/resources/Organization.ts
  packages/clerk-js/src/core/resources/User.ts
  packages/types/src/billing.ts
Labels: types, clerk-js

#3087 chore(clerk-js): Add interface implementation for PortalSession and CheckoutSession classes
  packages/clerk-js/src/core/resources/Billing.ts
Labels: clerk-js

#3088 chore(clerk-js): Add dollar icon to icons set
  packages/clerk-js/src/ui/icons/dollar.svg
  packages/clerk-js/src/ui/icons/index.ts
  packages/clerk-js/src/ui/utils/createCustomPages.tsx
Labels: clerk-js

#3093 fix(clerk-js): Allow members with membership read permissions to see memberships count
  .changeset/cuddly-wasps-cheat.md
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationMembers.tsx
Labels: clerk-js

#3089 chore(types): Deprecate `supported_identifiers` and remove `supported_external_accounts`
  .changeset/famous-plums-fold.md
  packages/clerk-js/src/core/test/fixtures.ts
  packages/types/src/json.ts
  packages/types/src/signIn.ts
Labels: types, clerk-js

#3099 feat(clerk-js,types): Add billing property to UserSettings & OrganizationSettings
  packages/clerk-js/src/core/resources/OrganizationSettings.ts
  packages/clerk-js/src/core/resources/UserSettings.ts
  packages/types/src/billing.ts
  packages/types/src/organizationSettings.ts
  packages/types/src/userSettings.ts
Labels: types, clerk-js

#3092 fix(clerk-js): Avoid depending on `count` as it can be zero but invitations may still exist
  .changeset/five-shoes-promise.md
  packages/clerk-js/src/ui/components/OrganizationSwitcher/UserInvitationSuggestionList.tsx
Labels: clerk-js

#3100 chore(localizations): Add Manage plan localization keys
  packages/localizations/src/en-US.ts
  packages/types/src/localization.ts
Labels: types, localizations

#3097 fix(clerk-js): Fix unsafe window.addEventListener() call
  .changeset/ten-pumpkins-begin.md
  packages/clerk-js/src/core/clerk.ts
Labels: clerk-js

#3101 Support older ios 13.3 and 13.4 devices
  .changeset/tender-numbers-push.md
  package-lock.json
  packages/clerk-js/package.json
  packages/clerk-js/src/ui/components/UserProfile/__tests__/MfaPage.test.tsx
  packages/clerk-js/src/ui/components/UserProfile/__tests__/RemoveMfaPhoneCodePage.test.tsx
  packages/clerk-js/src/ui/elements/FormControl.tsx
  packages/clerk-js/src/ui/hooks/usePrefersReducedMotion.ts
  packages/clerk-js/src/ui/primitives/Flex.tsx
  packages/clerk-js/src/ui/primitives/gapPropertyCompat.ts
  packages/clerk-js/tsconfig.json
  packages/clerk-js/webpack.config.js
Labels: clerk-js

#3096 Version Packages - V4
  .changeset/great-scissors-sing.md
  .changeset/tender-numbers-push.md
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
Labels: clerk-js, localizations, expo, chrome-extension

#3102 feat(clerk-js): Hide Billing tab from UserProfile & OrganizationProfile if billing not enabled
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationProfileNavbar.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationProfileRoutes.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/__tests__/OrganizationProfile.test.tsx
  packages/clerk-js/src/ui/components/UserProfile/UserProfileNavbar.tsx
  packages/clerk-js/src/ui/components/UserProfile/UserProfileRoutes.tsx
  packages/clerk-js/src/ui/components/UserProfile/__tests__/UserProfile.test.tsx
  packages/clerk-js/src/ui/utils/test/fixtureHelpers.ts
  packages/localizations/src/en-US.ts
Labels: clerk-js, localizations

#3107 fix(elements): Prevent forceMatch console error from Radix [SDK-1586]
  .changeset/hip-mangos-serve.md
  packages/elements/src/react/common/form/index.tsx
Labels: elements

#3108 chore(clerk-js): Fix misalignment of icons in account switcher
  .changeset/modern-hounds-push.md
  packages/clerk-js/src/ui/components/SignIn/SignInAccountSwitcher.tsx
  packages/clerk-js/src/ui/components/UserButton/SessionActions.tsx
Labels: clerk-js

#3106 fix(localizations): Fix typos from pt-BR localization
  .changeset/quiet-pears-joke.md
  packages/localizations/src/pt-BR.ts
Labels: localizations

#3103 Feat/Manage plan screen
  packages/clerk-js/src/ui/common/Billing.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationBilling.tsx
  packages/clerk-js/src/ui/customizables/elementDescriptors.ts
  packages/localizations/src/en-US.ts
  packages/types/src/localization.ts
Labels: types, clerk-js, localizations

#3113 Switch compilation target to es2019
  .changeset/light-beers-share.md
  package-lock.json
  packages/clerk-js/tsconfig.dev.json
  packages/clerk-js/tsconfig.json
  packages/localizations/tsconfig.json
  packages/nextjs/tsconfig.json
  packages/react/tsconfig.json
  packages/shared/tsconfig.json
Labels: clerk-js, nextjs, react, localizations

#3111 test(clerk-js): Update tests
  packages/clerk-js/src/core/resources/__snapshots__/Organization.test.ts.snap
  packages/clerk-js/src/core/resources/__snapshots__/OrganizationMembership.test.ts.snap
  packages/clerk-js/src/ui/utils/__tests__/createCustomPages.test.ts
Labels: clerk-js

#3114 Version Packages - V4
  .changeset/light-beers-share.md
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/CHANGELOG.md
  packages/gatsby-plugin-clerk/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
Labels: clerk-js, nextjs, react, remix, backend, fastify, localizations, sdk-node, expo, chrome-extension, gatsby

#3125 refactor(clerk-js,types): Add CurrentBillingPlan resource
  packages/clerk-js/src/core/resources/Billing.ts
  packages/clerk-js/src/core/resources/Organization.ts
  packages/clerk-js/src/core/resources/User.ts
  packages/clerk-js/src/ui/common/CurrentPlanSection.tsx
  packages/clerk-js/src/ui/common/PaymentMethodSection.tsx
  packages/types/src/billing.ts
  packages/types/src/json.ts
  packages/types/src/organization.ts
  packages/types/src/user.ts
Labels: types, clerk-js

#3124 Feat/connect manage plans with plan and billing
  packages/clerk-js/src/ui/common/Billing/Billing.tsx
  packages/clerk-js/src/ui/common/Billing/BillingProvider.tsx
  packages/clerk-js/src/ui/common/Billing/ManageBillingPlanScreen.tsx
  packages/clerk-js/src/ui/common/Billing/PlanAndBillingScreen.tsx
  packages/clerk-js/src/ui/common/CurrentPlanSection.tsx
  packages/clerk-js/src/ui/common/PaymentMethodSection.tsx
  packages/clerk-js/src/ui/common/index.ts
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationBilling.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationBillingPage.tsx
  packages/clerk-js/src/ui/components/UserProfile/BillingPage.tsx
Labels: clerk-js

#3127 chore(clerk-js): Pass locale to currency utils
  packages/clerk-js/src/ui/utils/currency.ts
Labels: clerk-js

#3119 chore(*): Replace "Request a feature" link to point our feedback roadmap
  .changeset/sixty-monkeys-punch.md
  packages/backend/README.md
  packages/chrome-extension/README.md
  packages/clerk-js/README.md
  packages/elements/README.md
  packages/expo/README.md
  packages/fastify/README.md
  packages/gatsby-plugin-clerk/README.md
  packages/localizations/README.md
  packages/nextjs/README.md
  packages/react/README.md
  packages/remix/README.md
  packages/sdk-node/README.md
  packages/themes/README.md
  packages/types/README.md
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, sdk-node, expo, chrome-extension, gatsby, themes, elements

#3135 fix(elements): Make otp input attribute consitent
  .changeset/many-penguins-rhyme.md
  packages/elements/package.json
  packages/elements/src/react/common/form/otp.tsx
Labels: elements

#3136 fix(elements): Prevent `asChild` usage when otp input uses render prop
  .changeset/mighty-kings-play.md
  packages/elements/package.json
  packages/elements/src/react/common/form/index.tsx
Labels: elements

#3128 feat(localizations): Added Thai translation keys for pwned password, form identifier, passkey
  .changeset/sharp-months-rule.md
  packages/localizations/src/th-TH.ts
Labels: localizations

#3129 fix(backend,remix): Tweak ClerkRequest initialization to work-around edge-runtime and undici limitations
  .changeset/lovely-planets-suffer.md
  package-lock.json
  package.json
  packages/backend/package.json
  packages/backend/src/tokens/__tests__/clerkRequest.test.ts
  packages/backend/src/tokens/clerkRequest.ts
Labels: backend

#3138 Version Packages - V4
  .changeset/polite-toys-explode.md
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/CHANGELOG.md
  packages/gatsby-plugin-clerk/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/shared/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, sdk-node, expo, chrome-extension, gatsby, themes

#3085 Version Packages (beta)
  .changeset/pre.json
  package-lock.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/CHANGELOG.md
  packages/gatsby-plugin-clerk/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/shared/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, sdk-node, expo, chrome-extension, gatsby, themes, elements, express

#3139 Version Packages (beta)
  .changeset/pre.json
  package-lock.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
Labels: clerk-js, expo, chrome-extension

#3140 Version Packages - V4
  .changeset/plenty-windows-relate.md
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
Labels: clerk-js, expo, chrome-extension

#3134 chore(clerk-js): Remove experimental prefixes for Passkey related apis
  .changeset/gorgeous-schools-drive.md
  packages/clerk-js/src/core/resources/Passkey.ts
  packages/clerk-js/src/core/resources/SignIn.ts
  packages/clerk-js/src/core/resources/User.ts
  packages/clerk-js/src/core/resources/Verification.ts
  packages/clerk-js/src/ui/components/SignIn/__tests__/SignInFactorOne.test.tsx
  packages/clerk-js/src/ui/components/SignIn/__tests__/SignInStart.test.tsx
  packages/clerk-js/src/ui/components/SignIn/shared.ts
  packages/clerk-js/src/ui/components/UserProfile/PasskeySection.tsx
  packages/clerk-js/src/ui/components/UserProfile/RemoveResourceForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/__tests__/PasskeysSection.test.tsx
  packages/clerk-js/src/ui/utils/test/mockHelpers.ts
  packages/clerk-js/src/utils/__tests__/passkeys.test.ts
  packages/clerk-js/src/utils/passkeys.ts
  packages/localizations/src/ar-SA.ts
  packages/localizations/src/bg-BG.ts
  packages/localizations/src/cs-CZ.ts
  packages/localizations/src/da-DK.ts
  packages/localizations/src/de-DE.ts
  packages/localizations/src/el-GR.ts
  packages/localizations/src/en-US.ts
  packages/localizations/src/es-ES.ts
  packages/localizations/src/es-MX.ts
  packages/localizations/src/fr-FR.ts
  packages/localizations/src/he-IL.ts
  packages/localizations/src/it-IT.ts
  packages/localizations/src/ja-JP.ts
  packages/localizations/src/ko-KR.ts
  packages/localizations/src/mn-MN.ts
  packages/localizations/src/nb-NO.ts
  packages/localizations/src/nl-NL.ts
  packages/localizations/src/pl-PL.ts
  packages/localizations/src/pt-BR.ts
  packages/localizations/src/pt-PT.ts
  packages/localizations/src/ro-RO.ts
  packages/localizations/src/ru-RU.ts
  packages/localizations/src/sk-SK.ts
  packages/localizations/src/sv-SE.ts
  packages/localizations/src/th-TH.ts
  packages/localizations/src/tr-TR.ts
  packages/localizations/src/uk-UA.ts
  packages/localizations/src/vi-VN.ts
  packages/localizations/src/zh-CN.ts
  packages/localizations/src/zh-TW.ts
  packages/types/src/factors.ts
  packages/types/src/localization.ts
  packages/types/src/passkey.ts
  packages/types/src/signIn.ts
  packages/types/src/strategies.ts
  packages/types/src/user.ts
  packages/types/src/verification.ts
Labels: types, clerk-js, localizations

#3120 zh-CN translation-updates
  packages/localizations/src/zh-CN.ts
Labels: localizations

#3141 chore(clerk-js,types,localizations): Available plans screen ui enhancements
  packages/clerk-js/src/ui/common/Billing/ManageBillingPlanScreen.tsx
  packages/clerk-js/src/ui/icons/index.ts
  packages/clerk-js/src/ui/icons/information.svg
  packages/clerk-js/src/ui/polishedAppearance.ts
  packages/localizations/src/en-US.ts
  packages/types/src/localization.ts
Labels: types, clerk-js, localizations

#3144 chore(clerk-js,types): Change billingCycle property to nullable
  packages/clerk-js/src/core/resources/Billing.ts
  packages/clerk-js/src/ui/common/Billing/PlanAndBillingScreen.tsx
  packages/types/src/billing.ts
  packages/types/src/json.ts
Labels: types, clerk-js

#3143 Version Packages (beta)
  .changeset/pre.json
  package-lock.json
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/express/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/CHANGELOG.md
  packages/gatsby-plugin-clerk/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/package.json
  packages/shared/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, sdk-node, expo, chrome-extension, gatsby, themes, elements, express

#3149 fix(clerk-js): Add organization id to getAvailablePlans & getCurrentPlan cache keys
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationBillingPage.tsx
Labels: clerk-js

#3150 feat(types,clerk-js,clerk-react,nextjs): Treat `plan` as authorization parameter
  packages/backend/src/tokens/authObjects.ts
  packages/clerk-js/src/core/resources/OrganizationMembership.ts
  packages/clerk-js/src/core/resources/User.ts
  packages/nextjs/src/app-router/server/controlComponents.tsx
  packages/nextjs/src/server/protect.ts
  packages/react/src/components/controlComponents.tsx
  packages/react/src/contexts/AuthContext.ts
  packages/react/src/contexts/ClerkContextProvider.tsx
  packages/react/src/hooks/useAuth.ts
  packages/react/src/utils/deriveState.ts
  packages/types/src/authorization.ts
  packages/types/src/index.ts
  packages/types/src/json.ts
  packages/types/src/jwtv2.ts
  packages/types/src/organizationMembership.ts
  packages/types/src/session.ts
  packages/types/src/ssr.ts
  packages/types/src/user.ts
Labels: types, clerk-js, nextjs, react, backend

#3145 build(repo): External contributor CI updates
  .changeset/soft-bees-bathe.md
  .github/workflows/ci.yml
  .github/workflows/e2e-cleanups.yml
  .github/workflows/lock-threads.yml
  .github/workflows/nightly-checks.yml
  .github/workflows/preview.retheme.yml
  .github/workflows/preview.yml
  .github/workflows/release-canary.yml
  .github/workflows/release-snapshot.yml
  .github/workflows/release.yml
Labels: actions

#3155 chore(*): Update import paths for app-router
  .changeset/early-geese-kiss.md
  playground/app-router/src/app/action/page.tsx
  playground/app-router/src/middleware.ts
Labels: playground

#3160 chore(repo): Resolve node@16 deprecation warnings in GH actions
  .changeset/rude-chefs-train.md
  .github/actions/init/action.yml
  .github/workflows/preview.yml
  .github/workflows/release-canary.yml
  .github/workflows/release-snapshot.yml
  .github/workflows/release.yml
  .github/workflows/semgrep.yml
Labels: actions

#3121 feat(nextjs): Add signature verification of token passed from middleware
  .changeset/clean-deers-mate.md
  package-lock.json
  packages/backend/src/constants.ts
  packages/fastify/src/__tests__/__snapshots__/constants.test.ts.snap
  packages/nextjs/package.json
  packages/nextjs/src/server/__tests__/createGetAuth.test.ts
  packages/nextjs/src/server/authMiddleware.ts
  packages/nextjs/src/server/clerkMiddleware.ts
  packages/nextjs/src/server/createGetAuth.ts
  packages/nextjs/src/server/errors.ts
  packages/nextjs/src/server/utils.ts
Labels: nextjs, backend, fastify

#3154 feat(clerk-js): Support different CAPTCHA widget types
  .changeset/eighty-pens-mix.md
  packages/clerk-js/src/core/resources/DisplayConfig.ts
  packages/clerk-js/src/core/resources/SignUp.ts
  packages/clerk-js/src/ui/components/SignUp/SignUpForm.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpStart.tsx
  packages/clerk-js/src/ui/elements/CaptchaElement.tsx
  packages/clerk-js/src/utils/captcha.ts
  packages/clerk-js/src/utils/retrieveCaptchaInfo.ts
  packages/types/src/displayConfig.ts
Labels: types, clerk-js

#3165 feat(elements): Add `validateRegisteredStrategies` action to verification machine
  .changeset/rude-beers-confess.md
  packages/elements/package.json
  packages/elements/src/internals/machines/sign-in/machines/verification.machine.ts
  packages/elements/src/internals/machines/sign-in/types/verification.types.ts
  packages/elements/src/react/sign-in/verifications.tsx
Labels: elements

#3170 fix(clerk-js): Add payment method redirect fix
  packages/clerk-js/src/ui/common/Billing/PlanAndBillingScreen.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationBillingPage.tsx
  packages/clerk-js/src/ui/hooks/useFetch.ts
Labels: clerk-js

#3105 feat(elements): Sign in resendable verifications [SDK-1582]
  .changeset/breezy-shirts-tell.md
  packages/elements/examples/nextjs/app/sign-in/[[...sign-in]]/page.tsx
  packages/elements/package.json
  packages/elements/src/internals/machines/sign-in/machines/verification.machine.ts
  packages/elements/src/internals/machines/sign-in/types/verification.types.ts
  packages/elements/src/react/sign-in/action.tsx
  packages/elements/src/react/sign-in/verifications.tsx
Labels: elements

#3172 fix(clerk-js): Correctly call __internal_navigateWithError when authenticating with passkey
  .changeset/modern-bobcats-love.md
  packages/clerk-js/src/ui/components/SignIn/shared.ts
Labels: clerk-js

#3173 fix(clerk-js,localizations): Fix typo in error code
  .changeset/unlucky-years-provide.md
  packages/clerk-js/src/core/resources/Passkey.ts
  packages/clerk-js/src/utils/passkeys.ts
  packages/localizations/src/ar-SA.ts
  packages/localizations/src/bg-BG.ts
  packages/localizations/src/cs-CZ.ts
  packages/localizations/src/da-DK.ts
  packages/localizations/src/de-DE.ts
  packages/localizations/src/el-GR.ts
  packages/localizations/src/en-US.ts
  packages/localizations/src/es-ES.ts
  packages/localizations/src/es-MX.ts
  packages/localizations/src/fr-FR.ts
  packages/localizations/src/he-IL.ts
  packages/localizations/src/it-IT.ts
  packages/localizations/src/ja-JP.ts
  packages/localizations/src/ko-KR.ts
  packages/localizations/src/mn-MN.ts
  packages/localizations/src/nb-NO.ts
  packages/localizations/src/nl-NL.ts
  packages/localizations/src/pl-PL.ts
  packages/localizations/src/pt-BR.ts
  packages/localizations/src/pt-PT.ts
  packages/localizations/src/ro-RO.ts
  packages/localizations/src/ru-RU.ts
  packages/localizations/src/sk-SK.ts
  packages/localizations/src/sv-SE.ts
  packages/localizations/src/th-TH.ts
  packages/localizations/src/tr-TR.ts
  packages/localizations/src/uk-UA.ts
  packages/localizations/src/vi-VN.ts
  packages/localizations/src/zh-CN.ts
  packages/localizations/src/zh-TW.ts
  packages/types/src/localization.ts
Labels: types, clerk-js, localizations

#3175 fix(backend): Trigger handshake in dev when no dev browser present
  .changeset/rare-shoes-hunt.md
  integration/tests/handshake.test.ts
  packages/backend/src/tokens/__tests__/request.test.ts
  packages/backend/src/tokens/authStatus.ts
  packages/backend/src/tokens/request.ts
  packages/express/src/__tests__/clerkMiddleware.test.ts
Labels: backend, integration, express

#3168 feat(elements): Support fallback prop for flow roots
  .changeset/witty-schools-occur.md
  packages/elements/examples/nextjs/app/sign-in/[[...sign-in]]/page.tsx
  packages/elements/examples/nextjs/app/sign-up/[[...sign-up]]/page.tsx
  packages/elements/examples/nextjs/package.json
  packages/elements/src/internals/machines/sign-in/machines/router.machine.ts
  packages/elements/src/internals/machines/sign-in/types/router.types.ts
  packages/elements/src/internals/machines/sign-up/machines/router.machine.ts
  packages/elements/src/internals/machines/sign-up/types/router.types.ts
  packages/elements/src/internals/machines/third-party/machine.ts
  packages/elements/src/internals/machines/third-party/types.ts
  packages/elements/src/internals/machines/types/router.types.ts
  packages/elements/src/react/hooks/use-third-party-provider.hook.ts
  packages/elements/src/react/sign-in/root.tsx
  packages/elements/src/react/sign-up/root.tsx
  packages/elements/src/utils/third-party-strategies.ts
Labels: elements

#3174 Version Packages (beta)
  .changeset/pre.json
  package-lock.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/CHANGELOG.md
  packages/gatsby-plugin-clerk/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/shared/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, sdk-node, expo, chrome-extension, gatsby, themes, elements, express

#3179 feat(clerk-js,types): Add protect to billing components
  packages/clerk-js/src/ui/common/Billing/BillingProvider.tsx
  packages/clerk-js/src/ui/common/Billing/PlanAndBillingScreen.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationBillingPage.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationProfileNavbar.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationProfileRoutes.tsx
  packages/types/src/organizationMembership.ts
Labels: types, clerk-js

#3180 chore(clerk-js,types,clerk-react): Resolve `orgPlan` on client
  packages/clerk-js/src/core/resources/Organization.ts
  packages/clerk-js/src/core/resources/OrganizationMembership.ts
  packages/clerk-js/src/core/resources/Session.ts
  packages/react/src/utils/deriveState.ts
  packages/types/src/json.ts
  packages/types/src/organization.ts
Labels: types, clerk-js, react

#3182 fix(elements): Wait for clerk to be set before proceeding to init
  .changeset/dry-rings-reflect.md
  packages/elements/src/internals/machines/sign-in/machines/router.machine.ts
  packages/elements/src/internals/machines/sign-up/machines/router.machine.ts
Labels: elements

#3061 fix(clerk-js,clerk-react): Make UI-triggered redirects default to hash-based routing
  .changeset/two-paws-search.md
  packages/clerk-js/src/ui/common/__tests__/redirects.test.ts
  packages/clerk-js/src/ui/common/redirects.ts
  packages/clerk-js/src/ui/components/SignIn/__tests__/SignInStart.test.tsx
  packages/react/src/errors/messages.ts
Labels: clerk-js, react

#3164 feat(backend): Add orderBy to GetOrganizationListParams
  .changeset/twelve-olives-repair.md
  packages/backend/src/api/endpoints/OrganizationApi.ts
Labels: backend

#3188 fix(*): Support older iOS 13.3 and 13.4 devices
  .changeset/two-snakes-pay.md
  package-lock.json
  packages/clerk-js/package.json
  packages/clerk-js/src/ui/hooks/usePrefersReducedMotion.ts
  packages/clerk-js/src/ui/primitives/Flex.tsx
  packages/clerk-js/src/ui/primitives/gapPropertyCompat.ts
  packages/clerk-js/tsconfig.dev.json
  packages/clerk-js/webpack.config.js
  packages/elements/tsconfig.json
  packages/localizations/tsconfig.json
  packages/nextjs/tsconfig.json
  packages/react/tsconfig.json
  packages/shared/tsconfig.json
Labels: clerk-js, nextjs, react, localizations, elements

#3189 fix(nextjs,backend): Add debug logger to clerkMiddleware
  .changeset/unlucky-cheetahs-suffer.md
  packages/backend/src/tokens/__tests__/clerkRequest.test.ts
  packages/backend/src/tokens/clerkRequest.ts
  packages/nextjs/src/server/clerkMiddleware.ts
Labels: nextjs, backend

#3156 feat(clerk-react,nextjs): Speed up clerk-js loading by using a `<script/>` tag
  .changeset/serious-balloons-eat.md
  packages/nextjs/src/app-router/client/ClerkProvider.tsx
  packages/nextjs/src/pages/ClerkProvider.tsx
  packages/nextjs/src/utils/clerk-js-script.tsx
  packages/react/src/internal.ts
  packages/react/src/utils/loadClerkJsScript.ts
Labels: nextjs, react

#3192 fix(backend): Deprecate Organization.members_count
  .changeset/slimy-games-cover.md
  packages/backend/src/api/resources/Organization.ts
Labels: backend

#3194 fix(clerk-js): Fixed issue that prevented backup codes showing up for TOTP
  .changeset/wise-dogs-swim.md
  packages/clerk-js/src/ui/components/UserProfile/MfaSection.tsx
Labels: clerk-js

#3104 fix(remix): Automatically infer path to where component is mounted
  .changeset/wicked-worms-draw.md
  packages/remix/src/client/uiComponents.tsx
  packages/remix/src/client/usePathnameWithoutSplatRouteParams.tsx
Labels: remix

#3176 feat(clerk-js): Introduce experimental support for Google One Tap
  .changeset/grumpy-maps-hope.md
  packages/chrome-extension/src/__tests__/__snapshots__/exports.test.ts.snap
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/resources/DisplayConfig.ts
  packages/clerk-js/src/core/resources/SignIn.ts
  packages/clerk-js/src/ui/Components.tsx
  packages/clerk-js/src/ui/components/GoogleOneTap/index.tsx
  packages/clerk-js/src/ui/components/GoogleOneTap/one-tap-start.tsx
  packages/clerk-js/src/ui/contexts/ClerkUIComponentsContext.tsx
  packages/clerk-js/src/ui/elements/contexts/FlowMetadataContext.tsx
  packages/clerk-js/src/ui/lazyModules/components.ts
  packages/clerk-js/src/ui/portal/index.tsx
  packages/clerk-js/src/ui/types.ts
  packages/clerk-js/src/utils/one-tap.ts
  packages/nextjs/src/client-boundary/uiComponents.tsx
  packages/nextjs/src/index.ts
  packages/react/src/components/index.ts
  packages/react/src/components/uiComponents.tsx
  packages/react/src/isomorphicClerk.ts
  packages/types/src/appearance.ts
  packages/types/src/clerk.ts
  packages/types/src/displayConfig.ts
  packages/types/src/signIn.ts
  playground/nextjs/pages/index.tsx
Labels: types, clerk-js, nextjs, react, chrome-extension, playground

#3199 fix(clerk-js): Align country code position with phone number input
  .changeset/curly-cheetahs-act.md
  packages/clerk-js/src/ui/elements/PhoneInput/PhoneInput.tsx
Labels: clerk-js

#3200 fix(clerk-js): Align action buttons with user preview in <UserButton/>
  .changeset/violet-buckets-taste.md
  packages/clerk-js/src/ui/components/SignIn/SignInAccountSwitcher.tsx
  packages/clerk-js/src/ui/components/UserButton/SessionActions.tsx
  packages/clerk-js/src/ui/elements/Actions.tsx
Labels: clerk-js

#3201 fix(clerk-js): Removing hoverable state from no-interactive sections in UP
  .changeset/two-bugs-relate.md
  packages/clerk-js/src/ui/components/UserProfile/ActiveDevicesSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/ConnectedAccountsSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/EmailsSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/EnterpriseAccountsSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/PhoneSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/Web3Section.tsx
Labels: clerk-js

#3202 fix(clerk-js): Fix transfer flow when having the Smart Bot Protection enabled
  .changeset/tall-news-invent.md
  packages/clerk-js/src/ui/common/SSOCallback.tsx
Labels: clerk-js

#3190 feat(localizations): Add huHU localization
  .changeset/thin-hats-jump.md
  packages/localizations/src/hu-HU.ts
  packages/localizations/src/index.ts
Labels: localizations

#3198 fix(clerk-js): Reprompt google one tap only when user id changes
  .changeset/two-worms-yawn.md
  packages/clerk-js/src/ui/components/GoogleOneTap/one-tap-start.tsx
Labels: clerk-js

#3203 feat(elements): Introduce shallowPush()
  .changeset/three-nails-turn.md
  packages/elements/src/internals/machines/sign-in/machines/router.machine.ts
  packages/elements/src/internals/machines/sign-up/machines/router.machine.ts
  packages/elements/src/react/router/__tests__/router.test.ts
  packages/elements/src/react/router/next.ts
  packages/elements/src/react/router/router.ts
Labels: elements

#3196 feat(clerk-js): Introduce experimental support for Google One Tap (#3176)
  .changeset/grumpy-maps-hope.md
  .changeset/two-worms-yawn.md
  packages/chrome-extension/src/__snapshots__/exports.test.ts.snap
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/resources/DisplayConfig.ts
  packages/clerk-js/src/core/resources/SignIn.ts
  packages/clerk-js/src/ui/Components.tsx
  packages/clerk-js/src/ui/components/GoogleOneTap/index.tsx
  packages/clerk-js/src/ui/components/GoogleOneTap/one-tap-start.tsx
  packages/clerk-js/src/ui/contexts/ClerkUIComponentsContext.tsx
  packages/clerk-js/src/ui/elements/contexts/FlowMetadataContext.tsx
  packages/clerk-js/src/ui/lazyModules/components.ts
  packages/clerk-js/src/ui/portal/index.tsx
  packages/clerk-js/src/ui/types.ts
  packages/clerk-js/src/utils/one-tap.ts
  packages/nextjs/src/client-boundary/uiComponents.tsx
  packages/nextjs/src/index.ts
  packages/react/src/components/index.ts
  packages/react/src/components/uiComponents.tsx
  packages/react/src/isomorphicClerk.ts
  packages/types/src/appearance.ts
  packages/types/src/clerk.ts
  packages/types/src/displayConfig.ts
  packages/types/src/signIn.ts
Labels: types, clerk-js, nextjs, react, chrome-extension

#3206 fix(localizations): Fix Hungarian language subpath exports
  .changeset/lemon-bats-look.md
  packages/localizations/package.json
  packages/localizations/src/utils/generate.ts
  packages/localizations/subpaths.mjs
Labels: localizations

#3205 fix(clerk-js): Fix SSO callback Turnstile widget alignment
  .changeset/forty-schools-tie.md
  packages/clerk-js/src/ui/elements/CaptchaElement.tsx
Labels: clerk-js

#3191 feat(clerk-js): Fallback to invisible CAPTCHA if the element is not found
  .changeset/itchy-onions-rush.md
  packages/clerk-js/src/core/resources/DisplayConfig.ts
  packages/clerk-js/src/core/resources/SignUp.ts
  packages/clerk-js/src/utils/captcha.ts
  packages/clerk-js/src/utils/retrieveCaptchaInfo.ts
  packages/types/src/displayConfig.ts
Labels: types, clerk-js

#3187 Version Packages (beta)
  .changeset/pre.json
  package-lock.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/CHANGELOG.md
  packages/gatsby-plugin-clerk/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, sdk-node, expo, chrome-extension, gatsby, themes, elements, express

#3209 fix(clerk-js): Respect navigateAfterCreateOrganization in `<OrganizationList/>`
  .changeset/afraid-onions-wonder.md
  packages/clerk-js/src/ui/components/OrganizationList/OrganizationListPage.tsx
  packages/clerk-js/src/ui/components/OrganizationList/__tests__/OrganizationList.test.tsx
  packages/clerk-js/src/ui/utils/test/mockHelpers.ts
Labels: clerk-js

#3207 chore(clerk-js): Plan features layout fixes
  packages/clerk-js/src/ui/common/Billing/ManageBillingPlanScreen.tsx
Labels: clerk-js

#3204 feat(nextjs): Throw when component is mounted on non-catch-all route
  .changeset/five-bees-boil.md
  packages/nextjs/src/app-router/client/ClerkProvider.tsx
  packages/nextjs/src/client-boundary/hooks/useEnforceCatchAllRoute.tsx
  packages/nextjs/src/client-boundary/hooks/useEnforceRoutingProps.tsx
  packages/nextjs/src/client-boundary/hooks/usePagesRouter.tsx
  packages/nextjs/src/client-boundary/hooks/usePathnameWithoutCatchAll.tsx
  packages/nextjs/src/client-boundary/hooks/useSafeLayoutEffect.tsx
  packages/nextjs/src/client-boundary/uiComponents.tsx
  packages/nextjs/src/pages/ClerkProvider.tsx
Labels: nextjs

#3212 feat(elements): Reset machine
  package-lock.json
  packages/elements/examples/nextjs/app/sign-in/[[...sign-in]]/page.tsx
  packages/elements/examples/nextjs/package.json
  packages/elements/package.json
  packages/elements/src/internals/machines/sign-in/machines/reset-password.machine.ts
  packages/elements/src/internals/machines/sign-in/machines/router.machine.ts
  packages/elements/src/internals/machines/sign-up/machines/router.machine.ts
  packages/elements/src/internals/machines/third-party/machine.ts
  packages/elements/src/react/sign-in/context/router.context.ts
  packages/elements/src/react/sign-in/root.tsx
Labels: types, clerk-js, nextjs, react, remix, actions, backend, fastify, localizations, sdk-node, expo, chrome-extension, playground, gatsby, themes, integration, elements, express

#3137 feat(elements): SignIn - forgot password
  .changeset/real-bottles-train.md
  package-lock.json
  packages/elements/examples/nextjs/app/sign-in/[[...sign-in]]/page.tsx
  packages/elements/examples/nextjs/app/sign-up/[[...sign-up]]/page.tsx
  packages/elements/examples/nextjs/package.json
  packages/elements/package.json
  packages/elements/src/internals/machines/shared.actions.ts
  packages/elements/src/internals/machines/sign-in/machines/reset-password.machine.ts
  packages/elements/src/internals/machines/sign-in/machines/router.machine.ts
  packages/elements/src/internals/machines/sign-in/machines/verification.machine.ts
  packages/elements/src/internals/machines/sign-in/types/index.ts
  packages/elements/src/internals/machines/sign-in/types/reset-password.types.ts
  packages/elements/src/internals/machines/sign-in/types/router.types.ts
  packages/elements/src/internals/machines/sign-in/types/verification.types.ts
  packages/elements/src/internals/machines/sign-up/machines/router.machine.ts
  packages/elements/src/internals/machines/third-party/machine.ts
  packages/elements/src/internals/machines/types/router.types.ts
  packages/elements/src/react/common/loading.tsx
  packages/elements/src/react/sign-in/action/action.tsx
  packages/elements/src/react/sign-in/action/index.ts
  packages/elements/src/react/sign-in/action/navigate.tsx
  packages/elements/src/react/sign-in/action/resend.tsx
  packages/elements/src/react/sign-in/choose-strategy.tsx
  packages/elements/src/react/sign-in/context/router.context.ts
  packages/elements/src/react/sign-in/index.ts
  packages/elements/src/react/sign-in/root.tsx
  packages/elements/src/react/sign-in/step/index.ts
  packages/elements/src/react/sign-in/step/reset-password.tsx
  packages/elements/src/react/sign-in/step/step.tsx
  packages/elements/src/react/sign-in/verifications.tsx
Labels: elements

#3162 Introduce force and fallback redirect urls
  .changeset/friendly-masks-obey.md
  .github/workflows/release.yml
  integration/playwright.config.ts
  integration/tests/navigation.test.ts
  package.json
  packages/clerk-js/src/core/__tests__/clerk.redirects.test.ts
  packages/clerk-js/src/core/__tests__/clerk.test.ts
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/constants.ts
  packages/clerk-js/src/ui/components/SignIn/SignIn.tsx
  packages/clerk-js/src/ui/components/SignIn/__tests__/SignInStart.test.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUp.tsx
  packages/clerk-js/src/ui/contexts/ClerkUIComponentsContext.tsx
  packages/clerk-js/src/ui/portal/index.tsx
  packages/clerk-js/src/utils/__tests__/authPropHelpers.test.ts
  packages/clerk-js/src/utils/__tests__/redirectUrls.test.ts
  packages/clerk-js/src/utils/__tests__/url.test.ts
  packages/clerk-js/src/utils/assertNoLegacyProp.ts
  packages/clerk-js/src/utils/authPropHelpers.ts
  packages/clerk-js/src/utils/index.ts
  packages/clerk-js/src/utils/normalizeRoutingOptions.ts
  packages/clerk-js/src/utils/redirectUrls.ts
  packages/clerk-js/src/utils/url.ts
  packages/nextjs/src/global.d.ts
  packages/nextjs/src/utils/mergeNextClerkPropsWithEnv.ts
  packages/react/src/components/SignInButton.tsx
  packages/react/src/components/SignInWithMetamaskButton.tsx
  packages/react/src/components/SignUpButton.tsx
  packages/react/src/components/__tests__/SignInButton.test.tsx
  packages/react/src/components/__tests__/SignUpButton.test.tsx
  packages/react/src/types.ts
  packages/shared/src/object.ts
  packages/types/src/clerk.ts
  packages/types/src/redirects.ts
Labels: types, clerk-js, nextjs, react, actions, integration

#3210 Version Packages (beta)
  .changeset/pre.json
  package-lock.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/CHANGELOG.md
  packages/gatsby-plugin-clerk/package.json
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
Labels: clerk-js, expo, chrome-extension

#3215 Version Packages (beta)
  .changeset/pre.json
  package-lock.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
Labels: clerk-js, expo, chrome-extension

#3208 feat(types,localizations): Add translation keys for form_identifier_exists error
  .changeset/happy-lamps-march.md
  packages/localizations/src/ar-SA.ts
  packages/localizations/src/cs-CZ.ts
  packages/localizations/src/da-DK.ts
  packages/localizations/src/en-US.ts
  packages/localizations/src/es-ES.ts
  packages/localizations/src/he-IL.ts
  packages/localizations/src/it-IT.ts
  packages/localizations/src/ja-JP.ts
  packages/localizations/src/ko-KR.ts
  packages/localizations/src/nb-NO.ts
  packages/localizations/src/nl-NL.ts
  packages/localizations/src/pl-PL.ts
  packages/localizations/src/ru-RU.ts
  packages/localizations/src/sk-SK.ts
  packages/localizations/src/sv-SE.ts
  packages/localizations/src/tr-TR.ts
  packages/localizations/src/uk-UA.ts
  packages/localizations/src/zh-CN.ts
  packages/localizations/src/zh-TW.ts
  packages/types/src/localization.ts
Labels: types, localizations

#3216 Backport to Core 1: feat(clerkjs): Add support for different Bot Protection widget types
  .changeset/eighty-pens-mix.md
  packages/clerk-js/src/core/resources/DisplayConfig.ts
  packages/clerk-js/src/core/resources/SignUp.ts
  packages/clerk-js/src/ui/common/SSOCallback.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpForm.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpStart.tsx
  packages/clerk-js/src/ui/elements/CaptchaElement.tsx
  packages/clerk-js/src/utils/captcha.ts
  packages/clerk-js/src/utils/retrieveCaptchaInfo.ts
  packages/types/src/displayConfig.ts
Labels: types, clerk-js

#3221 fix(elements): Adjust handleRedirectCallback args
  .changeset/ten-onions-eat.md
  .github/workflows/release.yml
  package.json
  packages/elements/src/internals/machines/shared.actors.ts
  packages/elements/src/internals/machines/third-party/actors.ts
Labels: actions, elements

#3116 feat(elements): Password instant validation & more field states
  .changeset/khaki-carrots-crash.md
  package-lock.json
  packages/elements/examples/nextjs/app/sign-up/[[...sign-up]]/page.tsx
  packages/elements/examples/nextjs/components/form.tsx
  packages/elements/package.json
  packages/elements/src/internals/machines/form/form.context.ts
  packages/elements/src/internals/machines/form/form.machine.ts
  packages/elements/src/internals/machines/form/form.types.ts
  packages/elements/src/react/common/form/index.tsx
  packages/elements/src/react/common/form/types.ts
  packages/elements/src/react/hooks/use-password.hook.ts
  packages/elements/src/react/utils/generate-password-error-text.ts
  packages/elements/tsconfig.json
Labels: elements

#3193 Version Packages - V4
  .changeset/eighty-pens-mix.md
  .changeset/gold-pugs-join.md
  .changeset/grumpy-maps-hope.md
  .changeset/happy-lamps-march.md
  .changeset/slimy-games-cover.md
  .changeset/two-worms-yawn.md
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/CHANGELOG.md
  packages/gatsby-plugin-clerk/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/shared/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, sdk-node, expo, chrome-extension, gatsby, themes

#3217 fix(clerk-js): Respect navigateAfterCreateOrganization in `<OrganizationList/>` (#3209)
  .changeset/afraid-onions-wonder.md
  packages/clerk-js/src/ui/components/OrganizationList/OrganizationListPage.tsx
  packages/clerk-js/src/ui/components/OrganizationList/__tests__/OrganizationList.test.tsx
  packages/clerk-js/src/ui/utils/test/mockHelpers.ts
Labels: clerk-js

#3224 fix(clerk-js,types,nextjs): Allow legacy redirect props as a fallback
  .changeset/cold-files-refuse.md
  .changeset/friendly-masks-obey.md
  .github/workflows/ci.yml
  package.json
  packages/clerk-js/src/core/constants.ts
  packages/clerk-js/src/ui/contexts/ClerkUIComponentsContext.tsx
  packages/clerk-js/src/utils/__tests__/redirectUrls.test.ts
  packages/clerk-js/src/utils/assertNoLegacyProp.ts
  packages/clerk-js/src/utils/redirectUrls.ts
  packages/nextjs/src/global.d.ts
  packages/nextjs/src/utils/mergeNextClerkPropsWithEnv.ts
  packages/types/src/clerk.ts
  packages/types/src/redirects.ts
Labels: types, clerk-js, nextjs, actions

#3225 replace beta.clerk.com links with clerk.com
  README.md
  packages/backend/README.md
  packages/chrome-extension/README.md
  packages/clerk-js/README.md
  packages/elements/README.md
  packages/expo/README.md
  packages/express/README.md
  packages/express/src/types.ts
  packages/fastify/README.md
  packages/gatsby-plugin-clerk/README.md
  packages/localizations/README.md
  packages/nextjs/README.md
  packages/nextjs/src/server/clerkMiddleware.ts
  packages/react/README.md
  packages/remix/README.md
  packages/sdk-node/README.md
  packages/themes/README.md
  packages/types/README.md
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, sdk-node, expo, chrome-extension, gatsby, themes, elements, express

#3226 Version Packages (beta)
  .changeset/pre.json
  package-lock.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
Labels: clerk-js, expo, chrome-extension

#3222 Version Packages - V4
  .changeset/afraid-onions-wonder.md
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
Labels: clerk-js, expo, chrome-extension

#3227 Version Packages (beta)
  .changeset/pre.json
  package-lock.json
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/express/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/package.json
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/package.json
  packages/shared/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, sdk-node, expo, chrome-extension, gatsby, themes, elements, express

#3223 fix(repo): Enable OSS contributions to be easily run on CI
  .changeset/strange-ties-look.md
  .github/workflows/ci.yml
  .github/workflows/e2e-cleanups.yml
  .github/workflows/labeler.yml
  .github/workflows/lock-threads.yml
  .github/workflows/nightly-checks.yml
  .github/workflows/preview.retheme.yml
  .github/workflows/preview.yml
  .github/workflows/release-canary.yml
  .github/workflows/release-snapshot.yml
  .github/workflows/release.yml
Labels: actions

#3228 feat(elements): Provide common Connection and Icon exports
  .changeset/nervous-candles-press.md
  packages/elements/examples/nextjs/app/sign-in/[[...sign-in]]/page.tsx
  packages/elements/examples/nextjs/app/sign-up/[[...sign-up]]/page.tsx
  packages/elements/package.json
  packages/elements/src/react/common/connections.tsx
  packages/elements/src/react/common/index.ts
  packages/elements/src/react/common/providers.tsx
  packages/elements/src/react/sign-in/index.ts
  packages/elements/src/react/sign-in/providers.tsx
  packages/elements/src/react/sign-up/index.ts
  packages/elements/src/react/sign-up/providers.tsx
Labels: elements

#3219 feat(clerk-js,types): Hide Manage billing button when stripe billing portal is disabled
  packages/clerk-js/src/core/resources/OrganizationSettings.ts
  packages/clerk-js/src/core/resources/UserSettings.ts
  packages/clerk-js/src/ui/common/Billing/BillingProvider.tsx
  packages/clerk-js/src/ui/common/Billing/PlanAndBillingScreen.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationBillingPage.tsx
  packages/clerk-js/src/ui/components/UserProfile/BillingPage.tsx
  packages/types/src/billing.ts
Labels: types, clerk-js

#3231 chore(e2e): Update NextJS template with clerkMiddleware
  .changeset/smooth-experts-deliver.md
  integration/templates/next-app-router/src/middleware.ts
Labels: integration

#3230 refactor(clerk-js): Billing plans page remove unnecessary code
  packages/clerk-js/src/ui/common/Billing/ManageBillingPlanScreen.tsx
Labels: clerk-js

#3235 feat(elements): Visible Captcha
  .changeset/silly-mice-perform.md
  packages/elements/examples/nextjs/app/sign-up/[[...sign-up]]/page.tsx
  packages/elements/package.json
  packages/elements/src/internals/constants/index.ts
  packages/elements/src/react/sign-up/captcha.tsx
  packages/elements/src/react/sign-up/index.ts
Labels: elements

#3233 chore(clerk-js): Remove experimental references to passkeys
  .changeset/tiny-taxis-scream.md
  packages/clerk-js/src/core/resources/SignIn.ts
  packages/clerk-js/src/core/resources/User.ts
  packages/clerk-js/src/ui/components/UserProfile/PasskeySection.tsx
  packages/localizations/src/ar-SA.ts
  packages/localizations/src/bg-BG.ts
  packages/localizations/src/cs-CZ.ts
  packages/localizations/src/da-DK.ts
  packages/localizations/src/de-DE.ts
  packages/localizations/src/el-GR.ts
  packages/localizations/src/en-US.ts
  packages/localizations/src/es-ES.ts
  packages/localizations/src/es-MX.ts
  packages/localizations/src/fr-FR.ts
  packages/localizations/src/he-IL.ts
  packages/localizations/src/hu-HU.ts
  packages/localizations/src/it-IT.ts
  packages/localizations/src/ja-JP.ts
  packages/localizations/src/ko-KR.ts
  packages/localizations/src/mn-MN.ts
  packages/localizations/src/nb-NO.ts
  packages/localizations/src/nl-NL.ts
  packages/localizations/src/pl-PL.ts
  packages/localizations/src/pt-BR.ts
  packages/localizations/src/pt-PT.ts
  packages/localizations/src/ro-RO.ts
  packages/localizations/src/ru-RU.ts
  packages/localizations/src/sk-SK.ts
  packages/localizations/src/sv-SE.ts
  packages/localizations/src/th-TH.ts
  packages/localizations/src/tr-TR.ts
  packages/localizations/src/uk-UA.ts
  packages/localizations/src/vi-VN.ts
  packages/localizations/src/zh-CN.ts
  packages/localizations/src/zh-TW.ts
  packages/types/src/localization.ts
  packages/types/src/signIn.ts
  packages/types/src/user.ts
  playground/app-router/src/middleware.ts
Labels: types, clerk-js, localizations, playground

#3242 chore(localizations): Rename email id to email address
  .changeset/empty-actors-deliver.md
  packages/clerk-js/src/ui/components/SignIn/__tests__/SignInFactorOne.test.tsx
  packages/localizations/src/en-US.ts
Labels: clerk-js, localizations

#3240 fix(backend): Added missing organizationId to UserCountParams for getUserList
  .changeset/tasty-ghosts-kick.md
  packages/backend/src/api/endpoints/UserApi.ts
Labels: backend

#3243 fix(elements): Remove some public exports
  .changeset/curly-spoons-do.md
  packages/elements/src/react/sign-in/index.ts
  packages/elements/src/react/sign-up/index.ts
Labels: elements

#3248 Export webhook types
  .changeset/mighty-timers-end.md
  packages/backend/src/index.ts
  packages/nextjs/src/server/index.ts
Labels: nextjs, backend

#3249 fix(clerk-js): Hide "Create Organization" on OrganizationList when disabled for user
  .changeset/clean-boats-invite.md
  packages/clerk-js/src/ui/components/OrganizationList/OrganizationListPage.tsx
  packages/clerk-js/src/ui/components/OrganizationList/__tests__/OrganizationList.test.tsx
Labels: clerk-js

#3239 fix(elements): Misc updates (peerDependenciesMeta, typos, docs)
  .changeset/wise-news-matter.md
  package-lock.json
  packages/elements/README.md
  packages/elements/examples/nextjs/app/page.tsx
  packages/elements/package.json
  packages/elements/src/internals/machines/form/form.machine.ts
  packages/elements/src/internals/machines/sign-in/router.machine.ts
  packages/elements/src/internals/machines/sign-up/continue.machine.ts
  packages/elements/src/internals/machines/sign-up/router.machine.ts
  packages/elements/src/internals/machines/sign-up/verification.machine.ts
  packages/elements/src/internals/machines/utils/formatters.ts
  packages/elements/src/react/common/connections.tsx
  packages/elements/src/react/common/form/index.tsx
  packages/elements/src/react/common/loading.tsx
  packages/elements/src/react/sign-in/action/action.tsx
  packages/elements/src/react/sign-in/action/resend.tsx
  packages/elements/src/react/sign-in/choose-strategy.tsx
  packages/elements/src/react/sign-in/context/strategies.context.ts
  packages/elements/src/react/sign-in/identifiers.tsx
  packages/elements/src/react/sign-in/root.tsx
  packages/elements/src/react/sign-in/step/step.tsx
  packages/elements/src/react/sign-in/verifications.tsx
  packages/elements/src/react/sign-up/action/action.tsx
  packages/elements/src/react/sign-up/action/resend.tsx
  packages/elements/src/react/sign-up/captcha.tsx
  packages/elements/src/react/sign-up/root.tsx
  packages/elements/src/react/sign-up/step.tsx
  packages/elements/src/react/sign-up/verifications.tsx
Labels: elements

#3254 fix(clerk-js): Check if legacy property has value before display warning
  .changeset/chilly-tips-smash.md
  packages/clerk-js/src/utils/assertNoLegacyProp.ts
Labels: clerk-js

#3241 Version Packages
  .changeset/chilly-tips-smash.md
  .changeset/clean-boats-invite.md
  .changeset/curly-spoons-do.md
  .changeset/empty-actors-deliver.md
  .changeset/four-teachers-clap.md
  .changeset/gorgeous-carrots-exercise.md
  .changeset/mighty-timers-end.md
  .changeset/perfect-carpets-pump.md
  .changeset/silly-mice-perform.md
  .changeset/smooth-experts-deliver.md
  .changeset/tasty-ghosts-kick.md
  .changeset/tiny-taxis-scream.md
  .changeset/wet-windows-wave.md
  .changeset/wise-news-matter.md
  package-lock.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/shared/package.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, sdk-node, expo, chrome-extension, gatsby, themes, elements, express, testing

#3260 fix(clerk-js): Default to text type for inputs, fix tailwind forms inconsistencies
  .changeset/poor-onions-retire.md
  packages/clerk-js/src/ui/primitives/Input.tsx
Labels: clerk-js

#3255 fix(clerk-js): Set card error on prepare code verification
  .changeset/grumpy-rings-sleep.md
  .vscode/settings.json
  packages/clerk-js/src/ui/components/SignUp/SignUpEmailCodeCard.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpPhoneCodeCard.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpVerificationCodeForm.tsx
Labels: clerk-js

#3256 fix(clerk-js): Set card error on prepare code verification
  .changeset/stale-panthers-compare.md
  packages/clerk-js/src/ui/components/SignUp/SignUpEmailCodeCard.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpPhoneCodeCard.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpVerificationCodeForm.tsx
Labels: clerk-js

#3258 feat(backend): Add support for the Testing Token API
  .changeset/mean-planets-share.md
  packages/backend/src/api/endpoints/TestingTokenApi.ts
  packages/backend/src/api/endpoints/index.ts
  packages/backend/src/api/factory.ts
  packages/backend/src/api/resources/JSON.ts
  packages/backend/src/api/resources/TestingToken.ts
  packages/backend/src/api/resources/index.ts
  packages/backend/src/index.ts
Labels: backend

#3265 fix(clerk-js): Prevent account deletion when confirmation value is incorrect
  .changeset/sharp-lies-dream.md
  packages/clerk-js/src/ui/components/UserProfile/DeleteUserForm.tsx
Labels: clerk-js

#3266 chore(backend): Update types of `orderBy` in OrganizationApi and UserApi
  .changeset/gentle-trainers-marry.md
  packages/backend/src/api/endpoints/OrganizationApi.ts
  packages/backend/src/api/endpoints/UserApi.ts
  packages/backend/src/api/endpoints/util-types.ts
Labels: backend

#3268 fix(elements): OTP input render prop types
  .changeset/violet-seals-rest.md
  packages/elements/package.json
  packages/elements/src/react/common/form/index.tsx
Labels: elements

#3273 chore(localizations,themes): Drop react as peer dependency
  .changeset/mean-snakes-appear.md
  packages/localizations/package.json
  packages/themes/package.json
Labels: localizations, themes

#3270 fix(testing): Use .mjs for esm exports
  .changeset/gorgeous-ladybugs-sit.md
  packages/testing/package.json
  packages/testing/playwright/package.json
  packages/testing/tsup.config.ts
Labels: testing

#3288 chore(repo, clerk-react, clerk-js): Remove references to deprecated clerk_frontend_api key
  .changeset/wild-hats-marry.md
  packages/clerk-js/src/core/clerk.ts
  packages/react/src/types.ts
  playground/vanillajs/index.html
Labels: clerk-js, react, playground

#3286 fix(clerk-js): Passkeys should not be a candidate for the dynamic field
  .changeset/calm-starfishes-divide.md
  packages/clerk-js/src/ui/common/constants.ts
  packages/clerk-js/src/ui/components/SignIn/__tests__/SignInStart.test.tsx
Labels: clerk-js

#3280 fix(clerk-js): Use default value for `signIn.userData`
  .changeset/gorgeous-pans-pump.md
  packages/clerk-js/src/core/resources/SignIn.ts
  packages/clerk-js/src/core/resources/UserData.ts
Labels: clerk-js

#3290 fix(clerk-js): Avoid throwing error for missing an active organization when no user is signed in
  .changeset/chatty-panthers-beam.md
  packages/clerk-js/src/core/clerk.ts
Labels: clerk-js

#3279 feat(elements): Add telemetry
  .changeset/spotty-eels-think.md
  packages/clerk-js/src/core/clerk.ts
  packages/elements/src/react/common/form/index.tsx
  packages/elements/src/react/common/loading.tsx
  packages/elements/src/react/sign-in/root.tsx
  packages/elements/src/react/sign-in/step/step.tsx
  packages/elements/src/react/sign-up/root.tsx
  packages/elements/src/react/sign-up/step.tsx
  packages/elements/src/react/utils/telemetry.ts
  packages/shared/src/telemetry/events/component-mounted.ts
Labels: clerk-js, elements

#3292 fix(elements): Only call useSearchParams() on the client
  .changeset/giant-carrots-pay.md
  package-lock.json
  packages/elements/examples/nextjs/next.config.js
  packages/elements/examples/nextjs/package.json
  packages/elements/package.json
  packages/elements/src/react/router/next.ts
Labels: elements
