Repository clerk/javascript, pull requests merged in 2024-11, with the labels that each got.

#4431 chore(localizations): Update missing Russian translations
  .changeset/modern-snails-obey.md
  packages/localizations/src/ru-RU.ts
Labels: localizations

#4459 fix(upgrade,nextjs): Update broken Clerk documentation references
  .changeset/purple-eels-fix.md
  packages/nextjs/src/server/errors.ts
  packages/upgrade/src/components/SDKWorkflow.js
Labels: nextjs

#4460 fix(clerk-js): Update turbo.json config
  .changeset/honest-impalas-grin.md
  packages/clerk-js/turbo.json
Labels: clerk-js

#4296 feat(backend): Migrate to vitest
  .changeset/modern-chicken-crash.md
  .vscode/launch.json
  docs/CONTRIBUTING.md
  package-lock.json
  package.json
  packages/backend/.eslintrc.js
  packages/backend/README.md
  packages/backend/package.json
  packages/backend/src/__tests__/createRedirect.test.ts
  packages/backend/src/__tests__/exports.test.ts
  packages/backend/src/api/__tests__/factory.test.ts
  packages/backend/src/api/endpoints/OrganizationApi.ts
  packages/backend/src/api/endpoints/UserApi.ts
  packages/backend/src/api/request.ts
  packages/backend/src/global.d.ts
  packages/backend/src/jwt/__tests__/assertions.test.ts
  packages/backend/src/jwt/__tests__/cryptoKeys.test.ts
  packages/backend/src/jwt/__tests__/signJwt.test.ts
  packages/backend/src/jwt/__tests__/verifyJwt.test.ts
  packages/backend/src/jwt/cryptoKeys.ts
  packages/backend/src/jwt/signJwt.ts
  packages/backend/src/jwt/verifyJwt.ts
  packages/backend/src/mock-server.ts
  packages/backend/src/runtime.ts
  packages/backend/src/tokens/__tests__/authObjects.test.ts
  packages/backend/src/tokens/__tests__/authStatus.test.ts
  packages/backend/src/tokens/__tests__/authenticateContext.test.ts
  packages/backend/src/tokens/__tests__/clerkRequest.test.ts
  packages/backend/src/tokens/__tests__/factory.test.ts
  packages/backend/src/tokens/__tests__/keys.test.ts
  packages/backend/src/tokens/__tests__/request.test.ts
  packages/backend/src/tokens/__tests__/verify.test.ts
  packages/backend/src/tokens/authenticateContext.ts
  packages/backend/src/tokens/keys.ts
  packages/backend/src/util/__tests__/path.test.ts
  packages/backend/src/util/testUtils.ts
  packages/backend/tests/cloudflare-miniflare/run.mjs
  packages/backend/tests/cloudflare-miniflare/run.sh
  packages/backend/tests/cloudflare-miniflare/worker.ts
  packages/backend/tests/cloudflare-workerd/run.sh
  packages/backend/tests/cloudflare-workerd/worker.ts
  packages/backend/tests/cloudflare-workerd/workers.capnp
  packages/backend/tests/edge-runtime/bundle.ts
  packages/backend/tests/edge-runtime/run.mjs
  packages/backend/tests/edge-runtime/run.sh
  packages/backend/tests/node/run.sh
  packages/backend/tests/node/run.ts
  packages/backend/tests/runner.ts
  packages/backend/tests/suites.ts
  packages/backend/tsconfig.test.json
  packages/backend/tsup.config.test.ts
  packages/backend/vitest.config.mts
  packages/backend/vitest.setup.mts
  packages/eslint-config-custom/package.json
  packages/eslint-config-custom/qunit.js
  packages/upgrade/package.json
  scripts/vitest-debug.mjs
Labels: backend

#4439 ci(repo): Version packages
  .changeset/bright-ducks-enjoy.md
  .changeset/cool-days-tell.md
  .changeset/early-steaks-yawn.md
  .changeset/honest-impalas-grin.md
  .changeset/metal-mails-explode.md
  .changeset/modern-chicken-crash.md
  .changeset/modern-snails-obey.md
  .changeset/purple-eels-fix.md
  package-lock.json
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/tanstack-start/CHANGELOG.md
  packages/tanstack-start/package.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
  packages/upgrade/CHANGELOG.md
  packages/upgrade/package.json
Labels: clerk-js, nextjs, react, remix, backend, fastify, localizations, sdk-node, expo, chrome-extension, elements, express, testing, tanstack

#4465 ci(repo): Version packages
  .changeset/bright-ducks-enjoy.md
  .changeset/cool-days-tell.md
  .changeset/early-steaks-yawn.md
  .changeset/honest-impalas-grin.md
  .changeset/metal-mails-explode.md
  .changeset/modern-chicken-crash.md
  .changeset/modern-snails-obey.md
  .changeset/purple-eels-fix.md
  package-lock.json
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/tanstack-start/CHANGELOG.md
  packages/tanstack-start/package.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
  packages/upgrade/CHANGELOG.md
  packages/upgrade/package.json
Labels: clerk-js, nextjs, react, remix, backend, fastify, localizations, sdk-node, expo, chrome-extension, elements, express, testing, tanstack

#4466 ci(repo): Version packages
  .changeset/bright-ducks-enjoy.md
  .changeset/cool-days-tell.md
  .changeset/early-steaks-yawn.md
  .changeset/honest-impalas-grin.md
  .changeset/metal-mails-explode.md
  .changeset/modern-chicken-crash.md
  .changeset/modern-snails-obey.md
  .changeset/purple-eels-fix.md
  package-lock.json
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/tanstack-start/CHANGELOG.md
  packages/tanstack-start/package.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
  packages/upgrade/CHANGELOG.md
  packages/upgrade/package.json
Labels: clerk-js, nextjs, react, remix, backend, fastify, localizations, sdk-node, expo, chrome-extension, elements, express, testing, tanstack

#4467 ci(repo): Version packages
  .changeset/bright-ducks-enjoy.md
  .changeset/cool-days-tell.md
  .changeset/early-steaks-yawn.md
  .changeset/honest-impalas-grin.md
  .changeset/metal-mails-explode.md
  .changeset/modern-chicken-crash.md
  .changeset/modern-snails-obey.md
  .changeset/purple-eels-fix.md
  package-lock.json
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/tanstack-start/CHANGELOG.md
  packages/tanstack-start/package.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
  packages/upgrade/CHANGELOG.md
  packages/upgrade/package.json
Labels: clerk-js, nextjs, react, remix, backend, fastify, localizations, sdk-node, expo, chrome-extension, elements, express, testing, tanstack

#4473 chore(repo): Fix retheme preview build
  .changeset/red-points-promise.md
  playground/nextjs/pages/index.tsx
Labels: playground

#4456 feat(elements): Add `<Link />` component
  .changeset/short-mails-brush.md
  .changeset/weak-hornets-hunt.md
  packages/clerk-js/src/core/clerk.ts
  packages/elements/src/react/common/index.ts
  packages/elements/src/react/common/link.tsx
  packages/react/src/isomorphicClerk.ts
  packages/shared/src/router/router.ts
  packages/types/src/clerk.ts
Labels: types, clerk-js, react, elements

#4476 fix(nextjs): Ensure window is defined within `<ClerkProvider />`
  .changeset/friendly-sloths-travel.md
  packages/nextjs/src/app-router/client/ClerkProvider.tsx
  packages/nextjs/src/pages/ClerkProvider.tsx
Labels: nextjs

#4474 chore(repo): Attempt to fix retheme build
  .changeset/fluffy-fans-clap.md
  playground/nextjs/app/app-dir/client/page.tsx
  playground/nextjs/app/app-dir/page.tsx
  playground/nextjs/app/layout.tsx
  playground/nextjs/package.json
  playground/nextjs/pages/_app.tsx
Labels: playground

#4478 fix(nextjs): Do not set cookie during cache invalidation
  .changeset/fair-dots-invite.md
  packages/nextjs/src/app-router/server-actions.ts
Labels: nextjs

#4472 ci(repo): Version packages
  .changeset/fair-dots-invite.md
  .changeset/fluffy-fans-clap.md
  .changeset/four-spiders-glow.md
  .changeset/friendly-sloths-travel.md
  .changeset/nine-squids-buy.md
  .changeset/red-points-promise.md
  .changeset/short-mails-brush.md
  .changeset/weak-hornets-hunt.md
  .changeset/wild-cycles-cough.md
  package-lock.json
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/tanstack-start/CHANGELOG.md
  packages/tanstack-start/package.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, sdk-node, expo, chrome-extension, themes, elements, express, testing, tanstack

#4485 fix(nextjs): Ambient global.d.ts
  .changeset/plenty-snakes-turn.md
  packages/nextjs/src/global.d.ts
Labels: nextjs

#4482 chore(repo): Add workflow to approve integration tests for fork PRs
  .changeset/odd-colts-sing.md
  .github/workflows/ci.yml
  .github/workflows/run-integration-tests.yml
Labels: actions

#4490 chore(clerk-react,shared): Use shared `deriveState` function
  .changeset/wicked-tomatoes-explain.md
  packages/react/src/contexts/ClerkContextProvider.tsx
  packages/react/src/utils/deriveState.ts
  packages/shared/src/deriveState.ts
Labels: react

#4483 fix(clerk-js): Directory traversal relative URL detection
  .changeset/chilled-crabs-stare.md
  packages/clerk-js/src/utils/__tests__/redirectUrls.test.ts
  packages/clerk-js/src/utils/__tests__/url.test.ts
  packages/clerk-js/src/utils/redirectUrls.ts
  packages/clerk-js/src/utils/url.ts
Labels: clerk-js

#4493 ci(repo): Version packages
  .changeset/chilled-crabs-stare.md
  .changeset/odd-colts-sing.md
  .changeset/plenty-snakes-turn.md
  .changeset/wicked-tomatoes-explain.md
  package-lock.json
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/tanstack-start/CHANGELOG.md
  packages/tanstack-start/package.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Labels: clerk-js, nextjs, react, remix, backend, fastify, sdk-node, expo, chrome-extension, elements, express, testing, tanstack

#4496 fix(clerk-js): Handle protocol-relative or path-traversal URLs
  .changeset/chilled-crabs-stare.md
  packages/clerk-js/src/utils/__tests__/url.test.ts
  packages/clerk-js/src/utils/authPropHelpers.ts
  packages/clerk-js/src/utils/url.ts
Labels: clerk-js

#4489 fix(repo): Verify user permissions to run integration tests
  .changeset/famous-shoes-walk.md
  .github/workflows/ci.yml
  .github/workflows/run-integration-tests.yml
Labels: actions

#4498 fix(clerk-js): Init options on updateProps
  .changeset/nine-pets-rhyme.md
  packages/clerk-js/src/core/clerk.ts
Labels: clerk-js

#4497 Version Packages - V4
  .changeset/chilled-crabs-stare.md
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
Labels: clerk-js, expo, chrome-extension

#4499 ci(repo): Version packages
  .changeset/famous-shoes-walk.md
  .changeset/nine-pets-rhyme.md
  package-lock.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
Labels: clerk-js, expo, chrome-extension

#4352 feat(clerk-expo): Support expo passkeys
  .changeset/late-camels-talk.md
  package-lock.json
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/resources/Passkey.ts
  packages/clerk-js/src/core/resources/SignIn.ts
  packages/clerk-js/src/utils/passkeys.ts
  packages/expo-passkeys/README.md
  packages/expo-passkeys/example/App.tsx
  packages/expo-passkeys/example/package-lock.json
  packages/expo-passkeys/example/package.json
  packages/expo-passkeys/package.json
  packages/expo/package.json
  packages/expo/passkeys/package.json
  packages/expo/src/passkeys/index.ts
  packages/expo/src/provider/ClerkProvider.tsx
  packages/expo/src/provider/singleton/createClerkInstance.ts
  packages/expo/src/provider/singleton/types.ts
  packages/shared/src/error.ts
  packages/types/src/passkey.ts
Labels: types, clerk-js, expo

#4495 chore(clerk-js): Use esnext as the target for dev builds
  packages/clerk-js/rspack.config.js
Labels: clerk-js

#4480 chore(nextjs, backend): Re-export reverification backend utilities
  .changeset/grumpy-snakes-approve.md
  .changeset/plenty-seas-hammer.md
  packages/backend/src/__tests__/exports.test.ts
  packages/backend/src/internal.ts
  packages/nextjs/src/server/__tests__/__snapshots__/exports.test.ts.snap
  packages/nextjs/src/server/index.ts
Labels: nextjs, backend

#4479 chore(nextjs): Adds timestamp to debugLogger output
  .changeset/stupid-ants-talk.md
  packages/nextjs/src/utils/debugLogger.ts
Labels: nextjs

#4486 fix(clerk-js): Replace generic ComponentContext with component-specific contexts
  .changeset/poor-countries-count.md
  packages/clerk-js/src/ui/components/CreateOrganization/CreateOrganization.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationProfile.tsx
  packages/clerk-js/src/ui/components/SignIn/SignIn.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUp.tsx
  packages/clerk-js/src/ui/components/UserProfile/UserProfile.tsx
  packages/clerk-js/src/ui/components/UserVerification/index.tsx
  packages/clerk-js/src/ui/components/Waitlist/Waitlist.tsx
  packages/clerk-js/src/ui/contexts/ClerkUIComponentsContext.tsx
  packages/clerk-js/src/ui/portal/index.tsx
  packages/clerk-js/src/ui/types.ts
  packages/clerk-js/src/ui/utils/test/createFixtures.tsx
Labels: clerk-js

#4503 fix(localizations): add German translations for experimental legal content
  .changeset/beige-waves-do.md
  packages/localizations/src/de-DE.ts
Labels: localizations

#4458 feat(backend): Send BAPI version through headers
  .changeset/angry-cycles-cheer.md
  package-lock.json
  package.json
  packages/backend/src/api/__tests__/factory.test.ts
  packages/backend/src/api/request.ts
  packages/backend/src/constants.ts
  packages/backend/src/mock-server.ts
  packages/backend/src/runtime.ts
  packages/backend/src/tokens/__tests__/authStatus.test.ts
  packages/backend/src/tokens/__tests__/keys.test.ts
  packages/backend/src/tokens/__tests__/verify.test.ts
  packages/backend/src/tokens/keys.ts
  packages/backend/vitest.config.mts
Labels: backend

#4517 chore(clerk-js): Update types for Rspack
  .changeset/afraid-lamps-matter.md
  packages/clerk-js/rspack.config.js
Labels: clerk-js

#4513 fix(elements): Fix elements router usage
  .changeset/empty-dots-confess.md
  package-lock.json
  packages/clerk-js/bundlewatch.config.json
  packages/clerk-js/jest.setup.ts
  packages/clerk-js/rspack.config.js
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/global.d.ts
  packages/clerk-js/src/ui/new/index.tsx
  packages/clerk-js/turbo.json
  packages/elements/package.json
  packages/elements/src/internals/machines/third-party/third-party.actors.ts
  packages/elements/src/react/router/index.ts
  packages/elements/src/react/router/next.ts
  packages/elements/src/react/sign-in/root.tsx
  packages/elements/src/react/sign-up/root.tsx
  packages/nextjs/src/app-router/client/ClerkProvider.tsx
  packages/nextjs/src/pages/ClerkProvider.tsx
  packages/types/src/router.ts
Labels: types, clerk-js, nextjs, elements

#4524 chore(clerk-js,types): Add afterJoinWaitlistUrl to DisplayConfig resource
  .changeset/spotty-books-tie.md
  packages/clerk-js/src/core/resources/DisplayConfig.ts
  packages/types/src/displayConfig.ts
Labels: types, clerk-js

#4487 feat(clerk-js,elements,types,localization): Make legal consent stable
  .changeset/twenty-rules-boil.md
  integration/testUtils/commonPageObject.ts
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/resources/SignUp.ts
  packages/clerk-js/src/ui/components/SignUp/SignUpContinue.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpForm.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpSocialButtons.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpStart.tsx
  packages/clerk-js/src/ui/components/SignUp/signUpFormHelpers.ts
  packages/clerk-js/src/ui/elements/LegalConsentCheckbox.tsx
  packages/elements/src/internals/machines/form/form.machine.ts
  packages/elements/src/internals/machines/sign-up/utils/fields-to-params.ts
  packages/elements/src/internals/machines/third-party/third-party.machine.ts
  packages/elements/src/react/common/form/types.ts
  packages/localizations/src/ar-SA.ts
  packages/localizations/src/be-BY.ts
  packages/localizations/src/bg-BG.ts
  packages/localizations/src/cs-CZ.ts
  packages/localizations/src/da-DK.ts
  packages/localizations/src/de-DE.ts
  packages/localizations/src/el-GR.ts
  packages/localizations/src/en-US.ts
  packages/localizations/src/es-ES.ts
  packages/localizations/src/es-MX.ts
  packages/localizations/src/fi-FI.ts
  packages/localizations/src/fr-FR.ts
  packages/localizations/src/he-IL.ts
  packages/localizations/src/hu-HU.ts
  packages/localizations/src/is-IS.ts
  packages/localizations/src/it-IT.ts
  packages/localizations/src/ja-JP.ts
  packages/localizations/src/ko-KR.ts
  packages/localizations/src/mn-MN.ts
  packages/localizations/src/nb-NO.ts
  packages/localizations/src/nl-NL.ts
  packages/localizations/src/pl-PL.ts
  packages/localizations/src/pt-BR.ts
  packages/localizations/src/pt-PT.ts
  packages/localizations/src/ro-RO.ts
  packages/localizations/src/ru-RU.ts
  packages/localizations/src/sk-SK.ts
  packages/localizations/src/sr-RS.ts
  packages/localizations/src/sv-SE.ts
  packages/localizations/src/th-TH.ts
  packages/localizations/src/tr-TR.ts
  packages/localizations/src/uk-UA.ts
  packages/localizations/src/vi-VN.ts
  packages/localizations/src/zh-CN.ts
  packages/localizations/src/zh-TW.ts
  packages/types/src/clerk.ts
  packages/types/src/elementIds.ts
  packages/types/src/localization.ts
  packages/types/src/redirects.ts
  packages/types/src/signUp.ts
  packages/ui/src/common/legal-accepted.tsx
Labels: types, clerk-js, localizations, integration, elements

#4523 feat(elements): Support SignIn.Captcha and sso-callback step
  .changeset/rich-badgers-pump.md
  packages/elements/examples/nextjs/app/sign-in/[[...sign-in]]/page.tsx
  packages/elements/src/internals/machines/third-party/third-party.actors.ts
  packages/elements/src/react/sign-in/captcha.tsx
  packages/elements/src/react/sign-in/sso-callback.tsx
  packages/elements/src/react/sign-in/step.tsx
Labels: elements

#4461 feat(vue): Introduce Vue SDK
  .changeset/silent-snakes-confess.md
  .github/workflows/ci.yml
  package-lock.json
  packages/vue/.eslintrc.cjs
  packages/vue/LICENSE
  packages/vue/README.md
  packages/vue/package.json
  packages/vue/src/components/SignInButton.ts
  packages/vue/src/components/SignInWithMetamaskButton.ts
  packages/vue/src/components/SignOutButton.ts
  packages/vue/src/components/SignUpButton.ts
  packages/vue/src/components/__tests__/SignInButton.test.ts
  packages/vue/src/components/__tests__/SignInWithMetamaskButton.test.ts
  packages/vue/src/components/__tests__/SignOutButton.test.ts
  packages/vue/src/components/__tests__/SignUpButton.test.ts
  packages/vue/src/components/controlComponents.ts
  packages/vue/src/components/index.ts
  packages/vue/src/components/uiComponents.ts
  packages/vue/src/composables/index.ts
  packages/vue/src/composables/useAuth.ts
  packages/vue/src/composables/useClerk.ts
  packages/vue/src/composables/useClerkContext.ts
  packages/vue/src/composables/useOrganization.ts
  packages/vue/src/composables/useSession.ts
  packages/vue/src/composables/useSessionList.ts
  packages/vue/src/composables/useSignIn.ts
  packages/vue/src/composables/useSignUp.ts
  packages/vue/src/composables/useUser.ts
  packages/vue/src/errors/errorThrower.ts
  packages/vue/src/errors/messages.ts
  packages/vue/src/global.d.ts
  packages/vue/src/index.ts
  packages/vue/src/keys.ts
  packages/vue/src/plugin.ts
  packages/vue/src/types.ts
  packages/vue/src/utils/childrenUtils.ts
  packages/vue/src/utils/index.ts
  packages/vue/src/utils/toComputedRefs.ts
  packages/vue/src/utils/useClerkLoaded.ts
  packages/vue/tsconfig.json
  packages/vue/tsup.config.ts
  packages/vue/vitest.config.ts
Labels: actions

#4520 fix(clerk-js): Split component contexts into separate files
  .changeset/tender-hairs-scream.md
  packages/clerk-js/src/ui/contexts/ClerkUIComponentsContext.tsx
  packages/clerk-js/src/ui/contexts/components/CreateOrganization.ts
  packages/clerk-js/src/ui/contexts/components/GoogleOneTap.ts
  packages/clerk-js/src/ui/contexts/components/OrganizationList.ts
  packages/clerk-js/src/ui/contexts/components/OrganizationProfile.ts
  packages/clerk-js/src/ui/contexts/components/OrganizationSwitcher.ts
  packages/clerk-js/src/ui/contexts/components/SignIn.ts
  packages/clerk-js/src/ui/contexts/components/SignOut.ts
  packages/clerk-js/src/ui/contexts/components/SignUp.ts
  packages/clerk-js/src/ui/contexts/components/UserButton.ts
  packages/clerk-js/src/ui/contexts/components/UserProfile.ts
  packages/clerk-js/src/ui/contexts/components/UserVerification.ts
  packages/clerk-js/src/ui/contexts/components/Waitlist.ts
  packages/clerk-js/src/ui/contexts/components/index.ts
  packages/clerk-js/src/ui/contexts/utils.ts
  packages/clerk-js/src/ui/hooks/useWindowEventListener.ts
Labels: clerk-js

#4532 refactor(clerk-js,types): Replace redirectUrl with afterJoinWaitlistUrl in `<Waitlist />` component
  .changeset/spotty-pans-give.md
  packages/clerk-js/src/ui/components/Waitlist/WaitlistForm.tsx
  packages/clerk-js/src/ui/contexts/components/Waitlist.ts
  packages/types/src/clerk.ts
Labels: types, clerk-js

#4511 chore(clerk-js): Use fapi error long message instead of statusText when throwing API errors
  .changeset/nervous-numbers-fix.md
  packages/clerk-js/src/core/resources/Base.ts
Labels: clerk-js

#4529 feat(repo): Run all CI jobs in parallel
  .github/workflows/ci.yml
Labels: actions

#4530 chore(repo): Increase timeouts and retries in CI
  integration/playwright.config.ts
  integration/testUtils/appPageObject.ts
Labels: integration

#4516 fix(clerk-js,backend): Do not depend on _clerk_synced to terminate satellite sync flow
  .changeset/wild-schools-vanish.md
  packages/backend/src/constants.ts
  packages/backend/src/tokens/__tests__/authenticateContext.test.ts
  packages/backend/src/tokens/authenticateContext.ts
  packages/backend/src/tokens/request.ts
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/constants.ts
  packages/clerk-js/src/utils/getClerkQueryParam.ts
Labels: clerk-js, backend

#4543 fix(localizations): Add legal consent translations to `el-GR` localization
  .changeset/few-crews-dress.md
  packages/localizations/src/el-GR.ts
Labels: localizations

#4538 ci(repo): Version packages
  .changeset/few-crews-dress.md
  .changeset/nervous-numbers-fix.md
  .changeset/purple-seals-destroy.md
  .changeset/wild-schools-vanish.md
  package-lock.json
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/tanstack-start/CHANGELOG.md
  packages/tanstack-start/package.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
Labels: clerk-js, nextjs, remix, backend, fastify, localizations, sdk-node, expo, chrome-extension, express, testing, tanstack

#4525 fix(clerk-js,types): Introduce `experimental.rethrowOfflineNetworkErrors` Clerk option to enable rethrowing network errors
  .changeset/fifty-bananas-dress.md
  packages/clerk-js/src/core/resources/Base.ts
  packages/types/src/clerk.ts
Labels: types, clerk-js

#4549 chore(e2e): Skip reverification.test.ts
  .changeset/weak-cobras-buy.md
  integration/tests/reverification.test.ts
Labels: integration

#4547 chore(clerk-js): Add jsdocs to `Customizable` type
  .changeset/large-mangos-lay.md
  packages/clerk-js/src/ui/customizables/makeCustomizable.tsx
Labels: clerk-js

#4548 fix(elements): Export sign-in captcha
  .changeset/swift-camels-explode.md
  packages/elements/src/react/sign-in/index.ts
Labels: elements

#4550 fix(e2e): Use default Playwright reporters
  integration/playwright.config.ts
Labels: integration

#4545 chore(shared,types): Replace `veryStrict` with `strictMfa` configuration for reverification
  .changeset/poor-gorillas-complain.md
  packages/clerk-js/src/core/resources/__tests__/Session.test.ts
  packages/react/src/hooks/__tests__/useAuth.test.ts
  packages/shared/src/authorization.ts
  packages/types/src/sessionVerification.ts
Labels: types, clerk-js, react

#4518 feat(clerk-js,types): Surface enterprise accounts in `UserProfile`
  .changeset/cyan-shirts-prove.md
  packages/clerk-js/src/core/resources/EnterpriseAccount.ts
  packages/clerk-js/src/core/resources/User.ts
  packages/clerk-js/src/core/resources/internal.ts
  packages/clerk-js/src/ui/components/UserProfile/AccountPage.tsx
  packages/clerk-js/src/ui/components/UserProfile/EnterpriseAccountsSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/PasswordForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/ProfileForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/__tests__/AccountPage.test.tsx
  packages/clerk-js/src/ui/components/UserProfile/__tests__/EnterpriseAccountsSection.test.tsx
  packages/clerk-js/src/ui/components/UserProfile/__tests__/PasswordSection.test.tsx
  packages/clerk-js/src/ui/components/UserProfile/__tests__/UserProfileSection.test.tsx
  packages/clerk-js/src/ui/customizables/elementDescriptors.ts
  packages/clerk-js/src/ui/hooks/index.ts
  packages/clerk-js/src/ui/hooks/useSaml.ts
  packages/types/src/appearance.ts
  packages/types/src/enterpriseAccount.ts
  packages/types/src/index.ts
  packages/types/src/json.ts
  packages/types/src/user.ts
Labels: types, clerk-js

#4546 ci(repo): Version packages
  .changeset/cyan-shirts-prove.md
  .changeset/fifty-bananas-dress.md
  .changeset/large-mangos-lay.md
  .changeset/lucky-islands-whisper.md
  .changeset/poor-gorillas-complain.md
  .changeset/swift-camels-explode.md
  .changeset/weak-cobras-buy.md
  package-lock.json
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/expo-passkeys/CHANGELOG.md
  packages/expo-passkeys/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/tanstack-start/CHANGELOG.md
  packages/tanstack-start/package.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, sdk-node, expo, chrome-extension, themes, elements, express, testing, tanstack

#4556 chore(types,shared): Update reverification config values to snake_case
  .changeset/mean-foxes-protect.md
  integration/templates/next-app-router/src/app/(reverification)/actions.ts
  packages/clerk-js/src/core/resources/__tests__/Session.test.ts
  packages/clerk-js/src/ui/components/UserVerification/useUserVerificationSession.tsx
  packages/react/src/hooks/__tests__/useAuth.test.ts
  packages/shared/src/authorization.ts
  packages/types/src/sessionVerification.ts
Labels: types, clerk-js, react, integration

#4559 Protect /tokens with captcha
  .changeset/serious-pigs-speak.md
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/resources/Base.ts
  packages/clerk-js/src/core/resources/Session.ts
  packages/clerk-js/src/ui/Components.tsx
  packages/clerk-js/src/ui/components/BlankCaptchaModal/index.tsx
  packages/clerk-js/src/ui/elements/Modal.tsx
  packages/clerk-js/src/ui/elements/contexts/FlowMetadataContext.tsx
  packages/clerk-js/src/ui/hooks/usePopover.ts
  packages/clerk-js/src/ui/lazyModules/components.ts
  packages/clerk-js/src/ui/lazyModules/providers.tsx
  packages/clerk-js/src/utils/captcha/getCaptchaToken.ts
  packages/clerk-js/src/utils/captcha/hcaptcha.ts
  packages/clerk-js/src/utils/captcha/retrieveCaptchaInfo.ts
  packages/clerk-js/src/utils/captcha/turnstile.ts
  packages/clerk-js/src/utils/captcha/types.ts
  packages/shared/package.json
  packages/shared/src/dom/index.ts
  packages/shared/src/dom/waitForElement.ts
  packages/shared/subpaths.mjs
  packages/shared/tsup.config.ts
Labels: clerk-js

#4558 ci(repo): Version packages
  .changeset/mean-foxes-protect.md
  .changeset/serious-pigs-speak.md
  package-lock.json
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/expo-passkeys/CHANGELOG.md
  packages/expo-passkeys/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/tanstack-start/CHANGELOG.md
  packages/tanstack-start/package.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, sdk-node, expo, chrome-extension, themes, elements, express, testing, tanstack

#4561 chore(clerk-js): Display logo in `<Waitlist />` component
  .changeset/new-forks-flash.md
  packages/clerk-js/src/ui/components/Waitlist/WaitlistForm.tsx
Labels: clerk-js

#4572 fix(repo): PR title linter
  .github/workflows/pr-title-linter.yml
Labels: actions

#4573 ci(repo): Version packages
  .changeset/little-planes-report.md
  .changeset/new-forks-flash.md
  .changeset/real-hounds-sip.md
  .changeset/sour-lemons-cheat.md
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  pnpm-lock.yaml
Labels: clerk-js, expo, chrome-extension

#4575 chore(tanstack-start): Update deps & integration tests
  .changeset/beige-parrots-yawn.md
  integration/templates/tanstack-start/app/client.tsx
  integration/templates/tanstack-start/app/routeTree.gen.ts
  integration/templates/tanstack-start/app/routes/__root.tsx
  integration/templates/tanstack-start/package.json
  packages/tanstack-start/package.json
  pnpm-lock.yaml
Labels: integration, tanstack

#4557 chore(e2e): Add tests for waitlist sign-up mode
  .changeset/good-buckets-cross.md
  integration/presets/envs.ts
  integration/testUtils/index.ts
  integration/testUtils/waitlistPageObject.ts
  integration/tests/waitlist-mode.test.ts
Labels: integration

#4577 fix(repo): PR title linter sparse checkout
  .github/workflows/pr-title-linter.yml
Labels: actions

#4560 fix(clerk-js): Ensure autofill event is triggered during sign-in
  .changeset/spicy-olives-float.md
  packages/clerk-js/src/ui/components/SignIn/SignInStart.tsx
Labels: clerk-js

#4581 feat(clerk-react): Expose `initialValues` within `<SignInButton />`
  .changeset/friendly-melons-argue.md
  packages/react/src/components/SignInButton.tsx
  packages/react/src/types.ts
Labels: react

#4540 feat(repo): Use Blacksmith for CI
  .github/actions/init-blacksmith/action.yml
  .github/workflows/ci.yml
  integration/scripts/proxyServer.ts
  integration/testUtils/index.ts
  integration/tests/protect.test.ts
Labels: actions, integration

#4584 fix(repo): PR linter optimization
  .github/workflows/pr-title-linter.yml
  commitlint.config.ts
Labels: actions

#4588 feat(nextjs): Remove useAuth() error in DEV
  .changeset/spotty-eagles-applaud.md
  packages/nextjs/src/client-boundary/PromisifiedAuthProvider.tsx
Labels: nextjs

#4595 fix(clerk-js): Block /tokens requests until fraud detection completes
  packages/clerk-js/src/core/fraudProtection.ts
  packages/clerk-js/src/core/resources/Session.ts
Labels: clerk-js

#4576 ci(repo): Version packages
  .changeset/beige-parrots-yawn.md
  .changeset/cuddly-tools-live.md
  .changeset/dirty-pens-mix.md
  .changeset/fluffy-tools-live.md
  .changeset/friendly-melons-argue.md
  .changeset/gentle-insects-shave.md
  .changeset/good-buckets-cross.md
  .changeset/heavy-baboons-stare.md
  .changeset/long-plums-float.md
  .changeset/nine-kids-matter.md
  .changeset/spicy-olives-float.md
  .changeset/spotty-eagles-applaud.md
  .changeset/tender-windows-jam.md
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/expo-passkeys/CHANGELOG.md
  packages/expo-passkeys/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/tanstack-start/CHANGELOG.md
  packages/tanstack-start/package.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
  pnpm-lock.yaml
Labels: clerk-js, nextjs, react, remix, backend, fastify, sdk-node, expo, chrome-extension, elements, express, testing, tanstack

#4589 feat(clerk-js): Add sandbox component showcase
  .changeset/ten-jeans-double.md
  packages/clerk-js/package.json
  packages/clerk-js/rspack.config.js
  packages/clerk-js/sandbox/app.js
  packages/clerk-js/sandbox/index.html
Labels: clerk-js

#4603 chore(clerk-js): Handle `sign_up_restricted_waitlist` error encountered in an oauth flow
  .changeset/polite-seals-bake.md
  packages/clerk-js/src/core/constants.ts
  packages/clerk-js/src/ui/components/SignIn/SignInStart.tsx
Labels: clerk-js

#4593 fix(localizations): Improve `el-GR` localization
  .changeset/proud-poems-walk.md
  packages/localizations/src/el-GR.ts
Labels: localizations

#4552 fix(clerk-js): Only apply id to FormFeedback when the type is error
  .changeset/itchy-cycles-sell.md
  packages/clerk-js/src/ui/elements/FieldControl.tsx
  packages/clerk-js/src/ui/elements/FormControl.tsx
Labels: clerk-js

#4600 test(nuxt, e2e): Create long-running app for Nuxt
  .changeset/wet-dryers-pay.md
  .github/workflows/ci.yml
  integration/presets/longRunningApps.ts
  integration/presets/nuxt.ts
  integration/templates/index.ts
  integration/templates/nuxt-node/app.vue
  integration/templates/nuxt-node/middleware/auth.global.js
  integration/templates/nuxt-node/nuxt.config.js
  integration/templates/nuxt-node/package.json
  integration/templates/nuxt-node/pages/index.vue
  integration/templates/nuxt-node/pages/only-admin.vue
  integration/templates/nuxt-node/pages/sign-in.vue
  integration/templates/nuxt-node/pages/user.vue
  integration/templates/nuxt-node/server/api/me.js
  integration/tests/nuxt/basic.test.ts
  package.json
  turbo.json
Labels: actions, integration

#4610 feat(clerk-js): Add sandbox support for persistent component props
  .changeset/rude-lions-know.md
  packages/clerk-js/sandbox/app.js
Labels: clerk-js

#4606 test(nuxt): Fix incorrect env vars
  .changeset/shy-months-invite.md
  integration/presets/nuxt.ts
  integration/templates/nuxt-node/nuxt.config.js
  packages/nuxt/README.md
Labels: integration

#4601 chore(clerk-expo-passkeys): fix breaking changes
  .changeset/fifty-cameras-tease.md
  packages/expo-passkeys/.eslintrc.js
  packages/expo-passkeys/src/utils.ts
  packages/expo/package.json
  pnpm-lock.yaml
Labels: expo

#4616 fix(clerk-js): Fix tokenCache.test.ts
  .changeset/thin-turkeys-turn.md
  packages/clerk-js/src/core/__tests__/tokenCache.test.ts
Labels: clerk-js

#4605 feat(repo): Use catalog: protocol
  .changeset/friendly-mice-pull.md
  .npmrc
  .vscode/settings.json
  integration/presets/nuxt.ts
  package.json
  packages/astro/package.json
  packages/backend/package.json
  packages/chrome-extension/package.json
  packages/clerk-js/package.json
  packages/dev-cli/package.json
  packages/elements/examples/nextjs/package.json
  packages/elements/package.json
  packages/eslint-config-custom/package.json
  packages/expo/package.json
  packages/express/package.json
  packages/fastify/package.json
  packages/localizations/package.json
  packages/nextjs/package.json
  packages/nuxt/package.json
  packages/react/package.json
  packages/remix/package.json
  packages/sdk-node/package.json
  packages/shared/package.json
  packages/tailwindcss-transformer/package.json
  packages/tanstack-start/package.json
  packages/testing/package.json
  packages/themes/package.json
  packages/types/package.json
  packages/ui/theme-builder/package.json
  packages/upgrade/package.json
  packages/vue/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  turbo.json
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, sdk-node, expo, chrome-extension, themes, integration, elements, express, testing, tanstack

#4617 feat(clerk-js): Move sandbox nav to a sidebar
  .changeset/unlucky-teachers-joke.md
  packages/clerk-js/sandbox/app.js
  packages/clerk-js/sandbox/template.html
  packages/clerk-js/vercel.json
Labels: clerk-js

#4618 fix(elements): Use workspace protocol for @clerk/types
  .changeset/few-files-switch.md
  packages/elements/package.json
  pnpm-lock.yaml
Labels: elements

#4615 feat(clerk-js,types): Move to waitlist with email address in combined flow
  packages/clerk-js/sandbox/app.js
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/ui/components/SignIn/SignInStart.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpStart.tsx
  packages/clerk-js/src/ui/components/Waitlist/Waitlist.tsx
  packages/clerk-js/src/ui/contexts/components/Waitlist.ts
  packages/types/src/clerk.ts
Labels: types, clerk-js

#4623 fix(clerk-js): Fix tokenCache.test.ts
  .changeset/long-rabbits-ring.md
  packages/clerk-js/src/core/auth/AuthCookieService.ts
  packages/clerk-js/src/core/clerk.ts
Labels: clerk-js

#4624 ci(repo): Version packages
  .changeset/long-rabbits-ring.md
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
Labels: clerk-js, expo, chrome-extension

#4625 feat(clerk-js): Introduce internal Accountless UI prompt in sandbox
  .changeset/clever-bats-own.md
  .changeset/empty-fans-attack.md
  packages/clerk-js/sandbox/app.js
  packages/clerk-js/sandbox/template.html
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/ui/Components.tsx
  packages/clerk-js/src/ui/components/AccountlessPrompt/index.tsx
  packages/clerk-js/src/ui/lazyModules/components.ts
  packages/types/src/clerk.ts
Labels: types, clerk-js

#4629 fix(clerk-js): Catch and ignore captcha errors during heartbeat
  .changeset/cyan-ducks-accept.md
  packages/clerk-js/src/core/fraudProtection.ts
Labels: clerk-js

#4620 fix(clerk-js): Enable captcha for development instances
  .changeset/early-games-taste.md
  packages/clerk-js/src/utils/captcha/retrieveCaptchaInfo.ts
Labels: clerk-js

#4619 fix(repo): Use patched yalc with support for catalog:
  .changeset/thick-peas-perform.md
  package.json
  packages/astro/package.json
  packages/backend/package.json
  packages/chrome-extension/package.json
  packages/expo-passkeys/package.json
  packages/expo/package.json
  packages/express/package.json
  packages/fastify/package.json
  packages/nextjs/package.json
  packages/nuxt/package.json
  packages/react/package.json
  packages/remix/package.json
  packages/sdk-node/package.json
  packages/shared/package.json
  packages/tanstack-start/package.json
  packages/vue/package.json
  patches/yalc@1.0.0-pre.53.patch
  playground/app-router/package.json
  playground/chrome-extension/package.json
  playground/expo/package.json
  playground/express/package.json
  playground/nextjs/package.json
  playground/remix-cf-pages/package.json
  playground/remix-cf-worker/package.json
  playground/remix-node/package.json
  playground/vite-react-ts/package.json
  pnpm-lock.yaml
Labels: nextjs, react, remix, backend, fastify, sdk-node, expo, chrome-extension, playground, express, tanstack

#4630 fix(clerk-js): Decouple captcha heartbeat from token refresh
  .changeset/fast-wolves-love.md
  packages/clerk-js/src/core/__tests__/tokenCache.test.ts
  packages/clerk-js/src/core/auth/CaptchaHeartbeat.ts
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/fraudProtection.ts
  packages/clerk-js/src/core/resources/Client.ts
  packages/clerk-js/src/core/resources/DisplayConfig.ts
  packages/clerk-js/src/core/resources/Session.ts
  packages/clerk-js/src/core/tokenCache.ts
  packages/clerk-js/src/utils/captcha/CaptchaChallenge.ts
  packages/types/src/client.ts
  packages/types/src/displayConfig.ts
Labels: types, clerk-js

#4627 ci(repo): Version packages
  .changeset/clever-bats-own.md
  .changeset/cyan-ducks-accept.md
  .changeset/early-games-taste.md
  .changeset/empty-fans-attack.md
  .changeset/fast-wolves-love.md
  .changeset/thick-peas-perform.md
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/expo-passkeys/CHANGELOG.md
  packages/expo-passkeys/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/tanstack-start/CHANGELOG.md
  packages/tanstack-start/package.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, sdk-node, expo, chrome-extension, themes, elements, express, testing, tanstack

#4551 fix(clerk-js,clerk-react,chrome-extension): Build and consume packages without remotely hosted code
  .changeset/afraid-toes-sin.md
  .changeset/tidy-garlics-boil.md
  packages/chrome-extension/src/background/clerk.ts
  packages/chrome-extension/src/internal/clerk.ts
  packages/chrome-extension/src/react/ClerkProvider.tsx
  packages/chrome-extension/tsup.config.ts
  packages/clerk-js/no-rhc/index.d.ts
  packages/clerk-js/no-rhc/index.js
  packages/clerk-js/package.json
  packages/clerk-js/rspack.config.js
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/errors.ts
  packages/clerk-js/src/core/resources/SignIn.ts
  packages/clerk-js/src/core/resources/SignUp.ts
  packages/clerk-js/src/globals.d.ts
  packages/clerk-js/src/ui/components/GoogleOneTap/one-tap-start.tsx
  packages/clerk-js/src/utils/captcha/getCaptchaToken.ts
  packages/clerk-js/src/utils/index.ts
  packages/react/src/globals.d.ts
  packages/react/src/isomorphicClerk.ts
  playground/browser-extension/assets/icon.png
  playground/browser-extension/package.json
  playground/browser-extension/pnpm-lock.yaml
  playground/browser-extension/src/background/index.ts
  playground/browser-extension/src/popup/index.tsx
Labels: clerk-js, react, chrome-extension, playground

#4509 feat(clerk-js): Add nonce to theme provider
  .changeset/tricky-rings-divide.md
  packages/clerk-js/src/ui/lazyModules/providers.tsx
  packages/clerk-js/src/ui/styledSystem/InternalThemeProvider.tsx
  packages/clerk-js/src/ui/styledSystem/StyleCacheProvider.tsx
Labels: clerk-js

#4633 ci(repo): Version packages
  .changeset/afraid-cheetahs-smash.md
  .changeset/afraid-toes-sin.md
  .changeset/curly-terms-confess.md
  .changeset/forty-countries-retire.md
  .changeset/friendly-chairs-tie.md
  .changeset/happy-balloons-jog.md
  .changeset/hungry-beds-prove.md
  .changeset/many-bees-mate.md
  .changeset/small-suits-knock.md
  .changeset/smart-cooks-drop.md
  .changeset/strange-days-kneel.md
  .changeset/tidy-garlics-boil.md
  .changeset/tricky-rings-divide.md
  .changeset/wise-spiders-play.md
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/expo-passkeys/CHANGELOG.md
  packages/expo-passkeys/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/tanstack-start/CHANGELOG.md
  packages/tanstack-start/package.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, sdk-node, expo, chrome-extension, themes, elements, express, testing, tanstack

#4626 feat(clerk-js): Add support for combined flow in `buildUrl`
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/constants.ts
  packages/clerk-js/src/ui/components/SignIn/SignIn.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInStart.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpStart.tsx
  packages/types/src/clerk.ts
Labels: types, clerk-js

#4631 chore(react,vue): Add deprecation notice to redirect components
  .changeset/olive-zebras-arrive.md
  packages/react/src/components/controlComponents.tsx
  packages/vue/src/components/controlComponents.ts
Labels: react

#4649 chore(clerk-js): Bundle Accountless only in dev
  .changeset/weak-poets-remember.md
  packages/clerk-js/jest.setup.ts
  packages/clerk-js/rspack.config.js
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/globals.d.ts
  packages/clerk-js/src/ui/Components.tsx
  packages/clerk-js/src/ui/lazyModules/components.ts
Labels: clerk-js

#4653 fix(clerk-js): Persist "this" when revoking a session, from UserProfile
  .changeset/mean-apples-approve.md
  packages/clerk-js/src/ui/components/UserProfile/ActiveDevicesSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/__tests__/SecurityPage.test.tsx
Labels: clerk-js

#4656 chore(clerk-react,nextjs): Re-export `isClerkRuntimeError`
  .changeset/chilly-kids-cry.md
  .changeset/early-mice-marry.md
  packages/nextjs/src/client-boundary/hooks.ts
  packages/nextjs/src/errors.ts
  packages/react/src/errors.ts
Labels: nextjs, react

#4661 fix(clerk-js): Ensure updated session is emitted on user change
  .changeset/bright-carpets-beam.md
  packages/clerk-js/src/utils/memoizeStateListenerCallback.ts
Labels: clerk-js

#4662 feat(clerk-js): Allow persisting Clerk client options
  .changeset/hungry-rivers-kiss.md
  packages/clerk-js/sandbox/app.js
Labels: clerk-js

#4655 chore(nuxt): Allow custom middleware handler and options
  .changeset/thin-students-lick.md
  integration/presets/index.ts
  integration/tests/nuxt/middleware.test.ts
  packages/nuxt/package.json
  packages/nuxt/src/runtime/server/__tests__/clerkMiddleware.test.ts
  packages/nuxt/src/runtime/server/clerkMiddleware.ts
  packages/nuxt/vitest.config.ts
  turbo.json
Labels: integration

#4657 chore(nextjs): Warn for deprecated nextjs versions
  .changeset/smooth-humans-divide.md
  packages/nextjs/src/app-router/client/ClerkProvider.tsx
Labels: nextjs

#4665 feat(clerk-js): Use TypeScript for sandbox
  .changeset/old-peaches-share.md
  packages/clerk-js/rspack.config.js
  packages/clerk-js/sandbox/app.js
  packages/clerk-js/sandbox/app.ts
  packages/clerk-js/sandbox/template.html
Labels: clerk-js

#4666 feat(clerk-js): Add open sign-in/up to sandbox
  .changeset/quiet-mails-attend.md
  packages/clerk-js/sandbox/app.ts
  packages/clerk-js/sandbox/template.html
Labels: clerk-js

#4596 feat(types,clerkjs,backend): Add support for enterprise_sso strategy
  .changeset/clever-cougars-argue.md
  .changeset/famous-experts-begin.md
  .changeset/short-mails-wash.md
  packages/backend/src/constants.ts
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/constants.ts
  packages/clerk-js/src/core/resources/SignIn.ts
  packages/clerk-js/src/core/resources/UserSettings.ts
  packages/clerk-js/src/ui/components/SignIn/SignInStart.tsx
  packages/clerk-js/src/ui/components/SignIn/__tests__/SignInStart.test.tsx
  packages/clerk-js/src/ui/components/UserProfile/AccountPage.tsx
  packages/clerk-js/src/ui/components/UserProfile/__tests__/AccountPage.test.tsx
  packages/clerk-js/src/ui/components/UserProfile/__tests__/EnterpriseAccountsSection.test.tsx
  packages/clerk-js/src/ui/components/UserProfile/__tests__/PasswordSection.test.tsx
  packages/clerk-js/src/ui/components/UserProfile/__tests__/UserProfileSection.test.tsx
  packages/clerk-js/src/ui/utils/test/fixtureHelpers.ts
  packages/clerk-js/src/ui/utils/test/fixtures.ts
  packages/clerk-js/src/utils/__tests__/completeSignUpFlow.test.ts
  packages/clerk-js/src/utils/completeSignUpFlow.ts
  packages/types/src/factors.ts
  packages/types/src/redirects.ts
  packages/types/src/signIn.ts
  packages/types/src/signUp.ts
  packages/types/src/strategies.ts
  packages/types/src/userSettings.ts
Labels: types, clerk-js, backend
