Repository clerk/javascript, pull requests merged in 2024-10, with the labels that each got.

#4263 fix(clerk-js): Handle gracefully yet unknown to our components Web3 providers
  .changeset/hot-pants-change.md
  packages/clerk-js/src/ui/hooks/useEnabledThirdPartyProviders.tsx
Labels: clerk-js

#4264 fix(clerk-js): Handle gracefully yet unknown to our components Web3 providers [backport] (#4263)
  .changeset/hot-pants-change.md
  packages/clerk-js/src/ui/hooks/useEnabledThirdPartyProviders.tsx
Labels: clerk-js, cherry

#4265 Version Packages - V4
  .changeset/hot-pants-change.md
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
Labels: clerk-js, expo, chrome-extension

#4250 feat(clerk-js): Enable persisted clients by default
  .changeset/shy-sloths-laugh.md
  integration/presets/envs.ts
  integration/presets/longRunningApps.ts
  integration/templates/next-app-router/src/app/layout.tsx
  integration/templates/react-vite/src/client-id.tsx
  integration/templates/react-vite/src/main.tsx
  integration/tests/sign-out-smoke.test.ts
  packages/clerk-js/src/core/__tests__/clerk.test.ts
  packages/clerk-js/src/core/clerk.ts
Labels: clerk-js, integration

#4246 chore(e2e): Add tests for restricted sign-up mode
  .changeset/sharp-glasses-clap.md
  integration/presets/envs.ts
  integration/testUtils/index.ts
  integration/testUtils/invitationsService.ts
  integration/tests/restricted-mode.test.ts
Labels: integration

#4127 feat(clerk-js, types): Trigger UserVerification within UserProfile
  .changeset/four-oranges-clap.md
  packages/clerk-js/jest.setup.ts
  packages/clerk-js/src/ui/Components.tsx
  packages/clerk-js/src/ui/common/RemoveResourceForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/AccountPage.tsx
  packages/clerk-js/src/ui/components/UserProfile/ActiveDevicesSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/AddAuthenticatorApp.tsx
  packages/clerk-js/src/ui/components/UserProfile/ConnectedAccountsMenu.tsx
  packages/clerk-js/src/ui/components/UserProfile/ConnectedAccountsSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/DeleteUserForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/EmailForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/MfaBackupCodeCreateForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/MfaPhoneCodeScreen.tsx
  packages/clerk-js/src/ui/components/UserProfile/PasskeySection.tsx
  packages/clerk-js/src/ui/components/UserProfile/PasswordForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/PhoneForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/PhoneSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/UsernameForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/__tests__/PasskeysSection.test.tsx
  packages/clerk-js/src/ui/components/UserProfile/__tests__/PasswordSection.test.tsx
  packages/clerk-js/src/ui/components/UserVerification/UserVerificationFactorOne.tsx
  packages/clerk-js/src/ui/components/UserVerification/use-after-verification.ts
  packages/clerk-js/src/ui/contexts/ClerkUIComponentsContext.tsx
  packages/clerk-js/src/ui/elements/Action/ActionRoot.tsx
  packages/clerk-js/src/ui/elements/Card/CardRoot.tsx
  packages/clerk-js/src/ui/elements/ErrorCard.tsx
  packages/clerk-js/src/ui/hooks/useAssurance.ts
  packages/clerk-js/src/ui/utils/errorHandler.ts
  packages/types/src/clerk.ts
Labels: types, clerk-js

#4266 chore(nextjs,clerk-react,clerk-js): Drop the mounted variant of `UserVerification`
  .changeset/breezy-crabs-crash.md
  packages/chrome-extension/src/__tests__/__snapshots__/exports.test.ts.snap
  packages/clerk-js/src/core/clerk.ts
  packages/nextjs/src/client-boundary/uiComponents.tsx
  packages/nextjs/src/index.ts
  packages/react/src/components/index.ts
  packages/react/src/components/uiComponents.tsx
  packages/react/src/isomorphicClerk.ts
  packages/types/src/clerk.ts
Labels: types, clerk-js, nextjs, react, chrome-extension

#4247 ci(repo): Version packages
  .changeset/breezy-crabs-crash.md
  .changeset/cold-mayflies-happen.md
  .changeset/four-oranges-clap.md
  .changeset/hot-pants-change.md
  .changeset/quiet-chicken-cover.md
  .changeset/sharp-glasses-clap.md
  .changeset/shy-sloths-laugh.md
  .changeset/three-nails-fetch.md
  .changeset/tiny-scissors-punch.md
  package-lock.json
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/tanstack-start/CHANGELOG.md
  packages/tanstack-start/package.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, sdk-node, expo, chrome-extension, themes, elements, express, testing, tanstack

#4268 chore(clerk-js, clerk-react,types): Rename assurance to reverification
  .changeset/purple-goats-applaud.md
  packages/clerk-js/bundlewatch.config.json
  packages/clerk-js/src/core/resources/Session.ts
  packages/clerk-js/src/core/resources/__tests__/Session.test.ts
  packages/clerk-js/src/ui/components/UserVerification/useUserVerificationSession.tsx
  packages/react/src/hooks/__tests__/useAuth.test.ts
  packages/shared/src/authorization.ts
  packages/types/src/clerk.ts
  packages/types/src/session.ts
  packages/types/src/sessionVerification.ts
Labels: types, clerk-js, react

#4272 ci(repo): Version packages
  .changeset/purple-goats-applaud.md
  package-lock.json
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/tanstack-start/CHANGELOG.md
  packages/tanstack-start/package.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, sdk-node, expo, chrome-extension, themes, elements, express, testing, tanstack

#4269 chore(repo): Add major version check workflow
  .changeset/moody-otters-taste.md
  .github/workflows/major-version-check.yml
Labels: actions

#4199 feat(clerk-js): Add bundle-check script
  .changeset/sweet-owls-bake.md
  packages/clerk-js/bundle-check.mjs
Labels: clerk-js

#4281 fix(clerk-js): Initialize default role with form controls
  .changeset/heavy-bulldogs-wash.md
  packages/clerk-js/src/ui/components/OrganizationProfile/InviteMembersForm.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/__tests__/InviteMembersPage.test.tsx
Labels: clerk-js

#4282 chore(elements): Align clerk dependencies
  .changeset/late-kiwis-warn.md
  package-lock.json
  packages/elements/package.json
Labels: elements

#4283 chore(repo): Node 20 / attw change
  .changeset/wicked-bottles-divide.md
  .github/actions/init/action.yml
  .github/workflows/ci.yml
  package-lock.json
  package.json
  packages/astro/package.json
  packages/backend/package.json
  packages/elements/package.json
  packages/nextjs/package.json
  packages/tanstack-start/package.json
  packages/ui/package.json
Labels: nextjs, actions, backend, elements, tanstack

#4284 ci(repo): Version packages
  .changeset/blue-seals-build.md
  .changeset/heavy-bulldogs-wash.md
  .changeset/moody-otters-taste.md
  .changeset/quiet-pumpkins-suffer.md
  .changeset/sweet-owls-bake.md
  .changeset/wicked-bottles-divide.md
  package-lock.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
Labels: clerk-js, expo, chrome-extension

#4286 fix(nextjs): do not build test file declarations
  .changeset/young-llamas-prove.md
  packages/nextjs/tsconfig.declarations.json
Labels: nextjs

#4195 fix(localizations): Update de-DE translation to be GDPR-compliant
  .changeset/shiny-files-smash.md
  packages/localizations/src/de-DE.ts
Labels: localizations

#4280 feat(localizations): Add be-BY localization
  .changeset/unlucky-crabs-hunt.md
  packages/localizations/package.json
  packages/localizations/src/be-BY.ts
  packages/localizations/src/index.ts
  packages/localizations/src/utils/generate.ts
  packages/react/src/contexts/__tests__/ClerkProvider.test.tsx
Labels: react, localizations

#4289 chore(astro): Fix vulnerability caused by `dset` package
  .changeset/stupid-cherries-cry.md
  integration/templates/astro-hybrid/package.json
  integration/templates/astro-node/package.json
  package-lock.json
Labels: integration

#4290 feat(types,ui): Add support for `__experimental.appearance` prop
  .changeset/unlucky-steaks-protect.md
  packages/types/src/clerk.ts
  packages/ui/src/components/sign-in/sign-in.tsx
  packages/ui/src/components/sign-up/sign-up.tsx
  packages/ui/src/contexts/AppearanceContext.tsx
  packages/ui/src/primitives/card.tsx
  packages/ui/src/themes/full.ts
  packages/ui/src/themes/layout.ts
Labels: types

#4291 feat(clerk-js): Add support for loading UI styles as first CSS stylesheet
  packages/clerk-js/global.d.ts
  packages/clerk-js/src/global.d.ts
  packages/clerk-js/src/ui/new/renderer.tsx
  packages/clerk-js/webpack.config.js
Labels: clerk-js

#4302 fix(clerk-js): Handle gracefully Coinbase Wallet use of existing Passkey
  .changeset/khaki-cycles-appear.md
  packages/clerk-js/src/core/resources/SignIn.ts
Labels: clerk-js

#3977 feat(nextjs): Handle URL <> Session Org Mismatch in Middleware
  .changeset/olive-trainers-heal.md
  integration/templates/next-app-router/src/app/organizations-by-id/[id]/page.tsx
  integration/templates/next-app-router/src/app/organizations-by-id/[id]/settings/page.tsx
  integration/templates/next-app-router/src/app/organizations-by-slug/[slug]/page.tsx
  integration/templates/next-app-router/src/app/organizations-by-slug/[slug]/settings/page.tsx
  integration/templates/next-app-router/src/app/personal-account/page.tsx
  integration/testUtils/handshake.ts
  integration/tests/handshake.test.ts
  packages/backend/src/internal.ts
  packages/backend/src/tokens/__tests__/request.test.ts
  packages/backend/src/tokens/authStatus.ts
  packages/backend/src/tokens/request.ts
  packages/backend/src/tokens/types.ts
Labels: backend, integration

#4270 feat(fastify)!: Support Fastify v5
  .changeset/wise-onions-double.md
  .github/workflows/ci.yml
  package-lock.json
  package.json
  packages/fastify/README.md
  packages/fastify/package.json
  packages/fastify/src/clerkPlugin.ts
  playground/fastify/.env.sample
  playground/fastify/README.md
  playground/fastify/package.json
  playground/fastify/src/loadEnv.ts
  playground/fastify/src/routes/public.ts
  playground/fastify/src/templates/home.ejs
  playground/fastify/src/templates/sign-in.ejs
Labels: actions, fastify, playground

#4301 fix(clerk-js): Bundle CSS into CJS and ESM bundles
  packages/clerk-js/src/ui/new/renderer.tsx
  packages/clerk-js/webpack.config.js
Labels: clerk-js

#4300 chore(clerk-js): Remove unused babel dependencies
  .changeset/lovely-carrots-sin.md
  package-lock.json
  packages/clerk-js/package.json
Labels: clerk-js

#4304 chore(clerk-js): Update `OrganizationSwitcher` popover action to include label
  .changeset/lemon-terms-begin.md
  packages/clerk-js/src/ui/components/OrganizationSwitcher/OrganizationSwitcherPopover.tsx
Labels: clerk-js

#4305 chore(clerk-sdk-node): Add transition period notice and migration info
  .changeset/neat-wasps-explain.md
  README.md
  packages/sdk-node/README.md
  packages/sdk-node/src/index.ts
Labels: sdk-node

#4310 fix(backend): Expose permissions field for OrganizationMembership
  .changeset/eight-kids-attack.md
  packages/backend/src/api/resources/OrganizationMembership.ts
Labels: backend

#4307 ci(repo): Version packages
  .changeset/eight-kids-attack.md
  .changeset/lemon-terms-begin.md
  .changeset/little-adults-end.md
  .changeset/lovely-carrots-sin.md
  .changeset/neat-wasps-explain.md
  .changeset/olive-trainers-heal.md
  .changeset/wise-onions-double.md
  package-lock.json
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/tanstack-start/CHANGELOG.md
  packages/tanstack-start/package.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
Labels: clerk-js, nextjs, remix, backend, fastify, sdk-node, expo, chrome-extension, elements, express, testing, tanstack

#4221 feat(elements): Add support for `restricted` mode
  .changeset/three-timers-sneeze.md
  packages/elements/examples/nextjs/app/sign-up/[[...sign-up]]/page.tsx
  packages/elements/src/internals/constants/index.ts
  packages/elements/src/internals/machines/sign-up/router.machine.ts
  packages/elements/src/internals/machines/sign-up/router.types.ts
  packages/elements/src/react/sign-up/restricted.tsx
  packages/elements/src/react/sign-up/step.tsx
Labels: elements

#4315 chore(backend): Update CHANGELOG.md with missing backend feature
  .changeset/cool-kangaroos-kick.md
  packages/backend/CHANGELOG.md
Labels: backend

#4316 chore(repo): Single prettier version and consistent package.json
  .changeset/witty-beds-double.md
  .prettierrc
  integration/templates/astro-hybrid/package.json
  integration/templates/astro-node/package.json
  integration/templates/expo-web/package.json
  integration/templates/tanstack-router/package.json
  package-lock.json
  package.json
  packages/astro/package.json
  packages/dev-cli/package.json
  packages/expo/package.json
  packages/sdk-node/package.json
  packages/ui/package.json
  packages/upgrade/package.json
Labels: sdk-node, expo, integration

#4317 fix(clerk-js): Update isAllowedRedirectOrigin to handle malformed or protocol-relative URLs
  .changeset/blue-pumpkins-travel.md
  packages/clerk-js/src/utils/__tests__/url.test.ts
  packages/clerk-js/src/utils/url.ts
Labels: clerk-js

#4311 ci(repo): Version packages
  .changeset/blue-pumpkins-travel.md
  .changeset/cool-kangaroos-kick.md
  .changeset/three-timers-sneeze.md
  .changeset/witty-beds-double.md
  package-lock.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
Labels: clerk-js, expo, chrome-extension, elements

#4322 feat(types,clerk-js): Bypass captcha for providers dynamically provided in environment
  .changeset/shy-peaches-grow.md
  packages/clerk-js/src/core/resources/DisplayConfig.ts
  packages/clerk-js/src/core/resources/SignUp.ts
  packages/types/src/displayConfig.ts
Labels: types, clerk-js

#4321 fix(clerk-js): Add support for loading Turnstile from Cloudflare host
  .changeset/odd-squids-dress.md
  packages/clerk-js/src/utils/captcha/turnstile.ts
Labels: clerk-js

#4325 fix(clerk-js): Add Clerk docs link when loading Turnstile throws an error
  .changeset/quick-months-rest.md
  packages/clerk-js/src/utils/captcha/turnstile.ts
Labels: clerk-js

#4327 fix(clerk-js): Reload env and retry if authenticateWithRedirect fails
  .changeset/itchy-birds-juggle.md
  packages/clerk-js/src/core/resources/Environment.ts
  packages/clerk-js/src/core/resources/SignUp.ts
Labels: clerk-js

#4318 fix(elements): Progressive sign up ticket flow
  .changeset/tender-badgers-rule.md
  packages/elements/src/internals/machines/form/form.machine.ts
  packages/elements/src/internals/machines/shared/shared.actions.ts
  packages/elements/src/internals/machines/shared/shared.types.ts
  packages/elements/src/internals/machines/sign-up/router.machine.ts
  packages/elements/src/internals/machines/sign-up/start.machine.ts
  packages/elements/src/internals/machines/sign-up/start.types.ts
  packages/elements/src/react/sign-up/context/router.context.ts
Labels: elements

#4329 fix(clerk-js): Only retry oauth if captcha failed
  .changeset/nasty-melons-cross.md
  packages/clerk-js/src/core/resources/SignUp.ts
  packages/shared/src/error.ts
Labels: clerk-js

#4323 ci(repo): Version packages
  .changeset/itchy-birds-juggle.md
  .changeset/nasty-melons-cross.md
  .changeset/odd-squids-dress.md
  .changeset/quick-months-rest.md
  .changeset/shy-peaches-grow.md
  .changeset/tender-badgers-rule.md
  package-lock.json
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/tanstack-start/CHANGELOG.md
  packages/tanstack-start/package.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, sdk-node, expo, chrome-extension, themes, elements, express, testing, tanstack

#4330 [Core 1 backport] Fix script loading and improve bypassing mechanism for Turnstile
  .changeset/itchy-birds-juggle.md
  .changeset/nasty-melons-cross.md
  .changeset/odd-squids-dress.md
  .changeset/quick-months-rest.md
  .changeset/shy-peaches-grow.md
  packages/clerk-js/src/core/resources/DisplayConfig.ts
  packages/clerk-js/src/core/resources/Environment.ts
  packages/clerk-js/src/core/resources/SignUp.ts
  packages/clerk-js/src/utils/captcha/turnstile.ts
  packages/shared/src/error.ts
  packages/types/src/displayConfig.ts
Labels: types, clerk-js

#4332 fix(clerk-js): Add the render query param on the captcha script
  .changeset/serious-moose-design.md
  packages/clerk-js/src/utils/captcha/turnstile.ts
Labels: clerk-js

#4331 Version Packages - V4
  .changeset/itchy-birds-juggle.md
  .changeset/nasty-melons-cross.md
  .changeset/odd-squids-dress.md
  .changeset/quick-months-rest.md
  .changeset/shy-peaches-grow.md
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/CHANGELOG.md
  packages/gatsby-plugin-clerk/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, sdk-node, expo, chrome-extension, gatsby, themes

#4319 fix(translations): Remove typos from pl-PL
  .changeset/loud-birds-grin.md
  packages/localizations/src/pl-PL.ts
Labels: localizations

#4339 fix(e2e): Use new config plugin type
  integration/templates/tanstack-start/app.config.ts
Labels: integration

#4338 chore(clerk-js,types): Drop `maxAgeMinutes` from `__experimental_startVerification`
  .changeset/fluffy-goats-protect.md
  packages/clerk-js/src/core/resources/Session.ts
  packages/types/src/session.ts
  packages/types/src/sessionVerification.ts
Labels: types, clerk-js

#4334 feat(clerk-js,types,backend): Use EIP-4361 message spec for Web3 wallets
  .changeset/violet-games-dream.md
  packages/backend/src/api/resources/JSON.ts
  packages/backend/src/api/resources/Verification.ts
  packages/clerk-js/src/core/resources/SignIn.ts
  packages/clerk-js/src/core/resources/SignUp.ts
  packages/clerk-js/src/core/resources/Verification.ts
  packages/clerk-js/src/ui/components/UserProfile/Web3Form.tsx
  packages/clerk-js/src/utils/web3.ts
  packages/types/src/json.ts
  packages/types/src/verification.ts
Labels: types, clerk-js, backend

#4335 chore(clerk-js,localizations,types): Enhance localization for RestrictedAccess texts,add support btn
  .changeset/new-bananas-complain.md
  integration/tests/restricted-mode.test.ts
  packages/clerk-js/src/ui/components/SignUp/SignUpRestrictedAccess.tsx
  packages/clerk-js/src/ui/components/SignUp/__tests__/SignUpStart.test.tsx
  packages/localizations/src/en-US.ts
  packages/types/src/localization.ts
Labels: types, clerk-js, localizations, integration

#4340 feat(express): Export `authenticateRequest`
  .changeset/gorgeous-teachers-scream.md
  package-lock.json
  packages/express/src/__tests__/__snapshots__/exports.test.ts.snap
  packages/express/src/index.ts
Labels: express

#4341 fix(clerk-js): Add the render query param on the captcha script (#4332) [Core 1 backport]
  .changeset/serious-moose-design.md
  packages/clerk-js/src/utils/captcha/turnstile.ts
Labels: clerk-js

#4350 Version Packages - V4
  .changeset/serious-moose-design.md
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
Labels: clerk-js, expo, chrome-extension

#4320 chore(backend): Organization takes precedence over personal account in organization sync options
  .changeset/stale-pans-clean.md
  packages/backend/src/tokens/__tests__/request.test.ts
  packages/backend/src/tokens/request.ts
  packages/backend/src/tokens/types.ts
Labels: backend

#4336 ci(repo): Version packages
  .changeset/clean-mugs-wave.md
  .changeset/fluffy-goats-protect.md
  .changeset/forty-laws-swim.md
  .changeset/gorgeous-teachers-scream.md
  .changeset/loud-birds-grin.md
  .changeset/new-bananas-complain.md
  .changeset/serious-moose-design.md
  .changeset/shaggy-kids-fail.md
  .changeset/stale-pans-clean.md
  .changeset/violet-games-dream.md
  package-lock.json
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/tanstack-start/CHANGELOG.md
  packages/tanstack-start/package.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, sdk-node, expo, chrome-extension, themes, elements, express, testing, tanstack

#4351 fix(backend): Remove console error message from refresh token flow failures
  .changeset/fair-flies-compare.md
  packages/backend/src/tokens/request.ts
Labels: backend

#4353 ci(repo): Version packages
  .changeset/fair-flies-compare.md
  package-lock.json
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/tanstack-start/CHANGELOG.md
  packages/tanstack-start/package.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
Labels: nextjs, remix, backend, fastify, sdk-node, express, testing, tanstack

#4355 fix(repo): Fix Major Version Check action
  .changeset/beige-spoons-type.md
  .github/workflows/major-version-check.yml
Labels: actions

#4114 feat(clerk-js): Render `@clerk/ui`
  .changeset/late-kiwis-warn.md
  .changeset/nervous-guests-guess.md
  .changeset/unlucky-steaks-protect.md
  package-lock.json
  packages/clerk-js/bundlewatch.config.json
  packages/clerk-js/global.d.ts
  packages/clerk-js/package.json
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/global.d.ts
  packages/clerk-js/src/ui/new/index.tsx
  packages/clerk-js/src/ui/new/renderer.tsx
  packages/clerk-js/src/ui/new/types.ts
  packages/clerk-js/webpack.config.js
  packages/elements/package.json
  packages/elements/src/internals/constants/index.ts
  packages/elements/src/internals/machines/third-party/third-party.actors.ts
  packages/nextjs/src/app-router/client/ClerkProvider.tsx
  packages/nextjs/src/pages/ClerkProvider.tsx
  packages/shared/src/router.ts
  packages/shared/src/router/router.ts
  packages/shared/src/router/types.ts
  packages/types/src/clerk.ts
  packages/types/src/index.ts
  packages/types/src/router.ts
  packages/ui/package.json
  packages/ui/src/common/phone-number-field.tsx
  packages/ui/src/common/router-link.tsx
  packages/ui/src/components/sign-in/sign-in.tsx
  packages/ui/src/components/sign-in/steps/choose-session.tsx
  packages/ui/src/components/sign-in/steps/choose-strategy.tsx
  packages/ui/src/components/sign-in/steps/start.tsx
  packages/ui/src/components/sign-up/sign-up.tsx
  packages/ui/src/components/sign-up/steps/continue.tsx
  packages/ui/src/components/sign-up/steps/start.tsx
  packages/ui/src/components/sign-up/steps/verifications.tsx
  packages/ui/src/contexts/AppearanceContext.tsx
  packages/ui/src/hooks/use-display-config.ts
  packages/ui/src/hooks/use-enabled-connections.ts
  packages/ui/src/hooks/use-environment.ts
  packages/ui/src/hooks/use-options.ts
  packages/ui/src/hooks/use-reset-password-factor.ts
  packages/ui/src/primitives/card.tsx
  packages/ui/src/themes/full.ts
  packages/ui/src/themes/layout.ts
  packages/ui/tsup.config.ts
Labels: types, clerk-js, nextjs, elements

#4359 chore(clerk-js): Invalidate Session Verification when UserVerification unmounts
  .changeset/fair-avocados-tap.md
  packages/clerk-js/src/ui/components/UserVerification/index.tsx
  packages/clerk-js/src/ui/components/UserVerification/useUserVerificationSession.tsx
  packages/clerk-js/src/ui/hooks/useFetch.ts
Labels: clerk-js

#4354 feat(astro): Add support for View Transitions
  .changeset/late-pigs-study.md
  integration/templates/astro-node/src/layouts/ViewTransitionsLayout.astro
  integration/templates/astro-node/src/pages/transitions/index.astro
  integration/templates/astro-node/src/pages/transitions/sign-in.astro
  integration/tests/astro/components.test.ts
  packages/astro/src/integration/create-integration.ts
  packages/astro/src/integration/vite-plugin-astro-config.ts
  packages/astro/src/internal/create-clerk-instance.ts
  packages/astro/src/internal/index.ts
  packages/astro/src/internal/swap-document.ts
  packages/astro/tsup.config.ts
Labels: integration

#4367 feat(backend): Add legal related properties
  .changeset/gorgeous-dingos-knock.md
  packages/backend/src/api/endpoints/UserApi.ts
  packages/backend/src/api/resources/JSON.ts
  packages/backend/src/api/resources/User.ts
Labels: backend

#4278 feat(nextjs): Support async headers()
  .changeset/grumpy-hairs-remember.md
  integration/templates/next-app-router/src/app/api/me/route.ts
  integration/templates/next-app-router/src/app/api/settings/route.ts
  integration/templates/next-app-router/src/app/csp/page.tsx
  integration/templates/next-app-router/src/app/organizations-by-id/[id]/page.tsx
  integration/templates/next-app-router/src/app/organizations-by-id/[id]/settings/page.tsx
  integration/templates/next-app-router/src/app/organizations-by-slug/[slug]/page.tsx
  integration/templates/next-app-router/src/app/organizations-by-slug/[slug]/settings/page.tsx
  integration/templates/next-app-router/src/app/page-protected/page.tsx
  integration/templates/next-app-router/src/app/personal-account/page.tsx
  integration/templates/next-app-router/src/app/settings/auth-has/page.tsx
  integration/templates/next-app-router/src/app/settings/auth-protect/page.tsx
  integration/templates/next-app-router/src/middleware.ts
  integration/tests/dynamic-keys.test.ts
  package-lock.json
  packages/nextjs/MIGRATION.md
  packages/nextjs/src/app-router/server/ClerkProvider.tsx
  packages/nextjs/src/app-router/server/auth.ts
  packages/nextjs/src/app-router/server/controlComponents.tsx
  packages/nextjs/src/app-router/server/currentUser.ts
  packages/nextjs/src/app-router/server/utils.ts
  packages/nextjs/src/client-boundary/hooks/useEnforceCatchAllRoute.tsx
  packages/nextjs/src/server/__tests__/clerkClient.test.ts
  packages/nextjs/src/server/__tests__/clerkMiddleware.test.ts
  packages/nextjs/src/server/clerkClient.ts
  packages/nextjs/src/server/clerkMiddleware.ts
  packages/nextjs/src/server/protect.ts
  packages/upgrade/package.json
  packages/upgrade/src/app.js
  packages/upgrade/src/cli.js
  packages/upgrade/src/codemods/__tests__/__fixtures__/transform-async-request.fixtures.js
  packages/upgrade/src/codemods/__tests__/transform-async-request.test.js
  packages/upgrade/src/codemods/index.js
  packages/upgrade/src/codemods/transform-async-request.cjs
  packages/upgrade/src/components/Codemod.js
  packages/upgrade/src/components/Header.js
  packages/upgrade/src/components/SDKWorkflow.js
  packages/upgrade/src/components/Scan.js
  packages/upgrade/src/util/detect-package-manager.js
  packages/upgrade/src/util/get-clerk-version.js
  packages/upgrade/vitest.config.js
  playground/app-router/src/app/action/page.tsx
  playground/app-router/src/app/protected/page.tsx
  playground/nextjs/app/app-dir/page.tsx
Labels: nextjs, playground, integration

#4356 chore(nextjs)!: Remove deprecated nextjs APIs
  .changeset/ten-worms-report.md
  integration/tests/handshake.test.ts
  integration/tests/next-middleware.test.ts
  packages/nextjs/src/server/__tests__/__snapshots__/exports.test.ts.snap
  packages/nextjs/src/server/__tests__/authMiddleware.test.ts
  packages/nextjs/src/server/authMiddleware.ts
  packages/nextjs/src/server/errors.ts
  packages/nextjs/src/server/index.ts
  packages/nextjs/src/server/redirectHelpers.ts
  packages/nextjs/src/utils/__tests__/matcher.test.ts
  packages/nextjs/src/utils/__tests__/response.test.ts
  packages/nextjs/src/utils/response.ts
  playground/app-router/src/middleware.ts
  playground/nextjs/middleware.ts
Labels: nextjs, playground, integration

#4347 chore(nextjs): Support unstable_rethrow inside clerkMiddleware
  .changeset/shiny-numbers-walk.md
  integration/presets/longRunningApps.ts
  integration/presets/next.ts
  integration/templates/next-app-router/src/app/only-admin/page.tsx
  integration/templates/next-app-router/src/middleware.ts
  integration/tests/protect.test.ts
  packages/nextjs/src/server/__tests__/clerkMiddleware.test.ts
  packages/nextjs/src/server/clerkMiddleware.ts
  packages/nextjs/src/server/nextErrors.ts
Labels: nextjs, integration

#4378 fix(nextjs): Convert middleware auth to async
  packages/nextjs/src/server/__tests__/clerkMiddleware.test.ts
  packages/nextjs/src/server/clerkMiddleware.ts
  packages/upgrade/src/codemods/__tests__/__fixtures__/transform-async-request.fixtures.js
Labels: nextjs

#4377 chore(e2e): Remove unused `appRouter15Rc` config
  integration/presets/longRunningApps.ts
  integration/presets/next.ts
Labels: integration

#4381 fix(nextjs): Fix pages router check
  .changeset/tame-pets-arrive.md
  packages/nextjs/src/client-boundary/PromisifiedAuthProvider.tsx
Labels: nextjs

#4383 fix(nextjs): Improve page detection for Next 15
  .changeset/fluffy-eyes-arrive.md
  packages/nextjs/src/server/nextFetcher.ts
  packages/nextjs/src/server/protect.ts
Labels: nextjs

#4382 chore(repo): Fix integration with async middleware updates
  .changeset/clean-fishes-shout.md
  integration/tests/handshake.test.ts
  packages/react/src/hooks/useAuth.ts
Labels: react, integration

#4337 feat(clerk-js): Legal consent
  .changeset/curvy-ghosts-relax.md
  packages/clerk-js/bundlewatch.config.json
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/resources/DisplayConfig.ts
  packages/clerk-js/src/core/resources/SignUp.ts
  packages/clerk-js/src/core/resources/User.ts
  packages/clerk-js/src/ui/components/SignUp/SignUpContinue.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpForm.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpSocialButtons.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpStart.tsx
  packages/clerk-js/src/ui/components/SignUp/__tests__/SignUpContinue.test.tsx
  packages/clerk-js/src/ui/components/SignUp/__tests__/SignUpStart.test.tsx
  packages/clerk-js/src/ui/components/SignUp/signUpFormHelpers.ts
  packages/clerk-js/src/ui/elements/Form.tsx
  packages/clerk-js/src/ui/elements/LegalConsentCheckbox.tsx
  packages/clerk-js/src/ui/elements/LinkRenderer.tsx
  packages/clerk-js/src/ui/elements/__tests__/LinkRenderer.test.tsx
  packages/clerk-js/src/ui/elements/index.ts
  packages/clerk-js/src/ui/localization/localizationModifiers.ts
  packages/clerk-js/src/ui/polishedAppearance.ts
  packages/clerk-js/src/ui/utils/test/fixtureHelpers.ts
  packages/clerk-js/src/ui/utils/useFormControl.ts
  packages/localizations/src/en-US.ts
  packages/types/src/attributes.ts
  packages/types/src/clerk.ts
  packages/types/src/displayConfig.ts
  packages/types/src/elementIds.ts
  packages/types/src/json.ts
  packages/types/src/localization.ts
  packages/types/src/redirects.ts
  packages/types/src/signUp.ts
  packages/types/src/userSettings.ts
Labels: types, clerk-js, localizations

#4363 fix(backend): Add 'session-token-expired-refresh-unexpected-bapi-error' debug handshake reason
  .changeset/grumpy-rats-cheer.md
  packages/backend/src/tokens/request.ts
Labels: backend

#4396 fix(nextjs): Fix cookies() usage in server action
  .changeset/gentle-numbers-sit.md
  packages/nextjs/src/app-router/server-actions.ts
Labels: nextjs

#4390 ci(repo): Version packages
  .changeset/curvy-ghosts-relax.md
  .changeset/gentle-numbers-sit.md
  .changeset/grumpy-rats-cheer.md
  .changeset/light-cooks-wink.md
  .changeset/wild-guests-occur.md
  package-lock.json
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/tanstack-start/CHANGELOG.md
  packages/tanstack-start/package.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
  packages/upgrade/CHANGELOG.md
  packages/upgrade/package.json
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, sdk-node, expo, chrome-extension, themes, elements, express, testing, tanstack

#4399 fix(clerk-js): Move ui package to devDependencies
  .changeset/khaki-weeks-give.md
  package-lock.json
  packages/clerk-js/package.json
Labels: clerk-js

#4389 fix(ui): If Web3 wallet already claimed preview error on <UserProfile />
  .changeset/two-wasps-dance.md
  packages/clerk-js/src/ui/components/UserProfile/Web3Form.tsx
Labels: clerk-js

#4398 fix(nextjs): Include protect types in `auth`
  .changeset/selfish-pianos-push.md
  packages/nextjs/src/app-router/server/auth.ts
Labels: nextjs

#4401 ci(repo): Version packages
  .changeset/khaki-weeks-give.md
  .changeset/selfish-pianos-push.md
  .changeset/two-wasps-dance.md
  .changeset/unlucky-coins-juggle.md
  package-lock.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
Labels: clerk-js, nextjs, expo, chrome-extension

#4404 chore(repo): Add `workflow_dispatch` trigger to `major-version-check` action
  .changeset/angry-points-attack.md
  .github/workflows/major-version-check.yml
Labels: actions

#4370 chore(localizations): `pl-PL` updates
  .changeset/friendly-nails-nail.md
  packages/localizations/src/pl-PL.ts
Labels: localizations

#4416 chore(express): Expose `AuthObject` type helper
  .changeset/twelve-frogs-study.md
  packages/express/env.d.ts
  packages/express/package.json
Labels: express

#4292 Update sv-SE.ts
  .changeset/three-peas-tell.md
  packages/localizations/src/sv-SE.ts
Labels: localizations

#4402 chore: dedupe package-lock.json
  .changeset/tall-hornets-exercise.md
  package-lock.json
Labels: improvement

#4419 chore(localizations): Fix formatting of sv-SE
  .changeset/rude-ravens-sin.md
  packages/localizations/src/sv-SE.ts
Labels: localizations

#4420 fix(localizations): Ensure confirm delete account text aligns with prompt
  .changeset/thirty-jobs-leave.md
  packages/localizations/src/fr-FR.ts
Labels: localizations

#4407 chore(clerk-js): Remove unused fitTextInOneLine and textWidthForCurrentSize
  .changeset/happy-cooks-guess.md
  packages/clerk-js/src/ui/components/SignIn/utils.ts
Labels: clerk-js

#4423 feat(clerk-js, types): `asStandalone` accepts a callback
  .changeset/few-swans-cough.md
  packages/clerk-js/src/ui/components/OrganizationSwitcher/OrganizationSwitcher.tsx
  packages/clerk-js/src/ui/components/OrganizationSwitcher/OrganizationSwitcherPopover.tsx
  packages/clerk-js/src/ui/components/UserButton/UserButton.tsx
  packages/clerk-js/src/ui/components/UserButton/UserButtonPopover.tsx
  packages/types/src/clerk.ts
Labels: types, clerk-js

#4385 chore(repo): Test task cache, instance cleanup
  .github/workflows/ci.yml
  integration/cleanup/cleanup.setup.ts
  turbo.json
Labels: actions, integration

#4421 chore(repo): Update tests for next 15
  .changeset/cuddly-pears-accept.md
  .changeset/famous-baboons-heal.md
  .github/workflows/ci.yml
  integration/templates/next-app-router-quickstart/package.json
  integration/templates/next-app-router/package.json
  integration/templates/next-app-router/src/app/csp/page.tsx
  integration/templates/next-app-router/src/app/organizations-by-id/[id]/page.tsx
  integration/templates/next-app-router/src/app/organizations-by-id/[id]/settings/page.tsx
  integration/templates/next-app-router/src/app/organizations-by-slug/[slug]/page.tsx
  integration/templates/next-app-router/src/app/organizations-by-slug/[slug]/settings/page.tsx
  integration/templates/next-app-router/src/app/settings/useAuth-has/layout.tsx
  integration/tests/next-build.test.ts
  packages/nextjs/src/app-router/server/ClerkProvider.tsx
  packages/react/src/hooks/useAuth.ts
  turbo.json
Labels: nextjs, react, actions, integration

#4411 test(e2e): Add tests for legal consent
  .changeset/proud-fishes-care.md
  integration/presets/envs.ts
  integration/testUtils/commonPageObject.ts
  integration/testUtils/signUpPageObject.ts
  integration/tests/legal-consent.test.ts
  package-lock.json
Labels: integration

#4426 fix(clerk-js): Improve checkbox label alignment
  .changeset/giant-roses-heal.md
  packages/clerk-js/src/ui/elements/FieldControl.tsx
  packages/clerk-js/src/ui/elements/LegalConsentCheckbox.tsx
Labels: clerk-js

#4425 fix(tanstack-start): Merge router context instead of updating
  .changeset/silly-moose-tease.md
  packages/tanstack-start/src/server/middlewareHandler.ts
Labels: tanstack

#4429 chore(repo): Do not lock old PRs
  .github/workflows/lock-threads.yml
Labels: actions

#4432 fix(tanstack-start): Load router after updating context
  .changeset/mighty-ears-cough.md
  packages/tanstack-start/src/server/middlewareHandler.ts
Labels: tanstack

#4433 fix(clerk-react): Make `signOutOptions` prop functional
  .changeset/beige-bananas-look.md
  packages/react/src/components/SignOutButton.tsx
  packages/react/src/components/__tests__/SignOutButton.test.tsx
Labels: react

#4392 chore(nextjs): Use `ezheaders` to access headers and cookies
  .changeset/nasty-meals-call.md
  package-lock.json
  packages/nextjs/package.json
  packages/nextjs/src/app-router/server-actions.ts
  packages/nextjs/src/app-router/server/ClerkProvider.tsx
  packages/nextjs/src/app-router/server/utils.ts
  playground/app-router/package.json
  playground/app-router/src/app/protected/page.tsx
Labels: nextjs, playground

#4436 fix(nextjs): Correct peerDependencies
  .changeset/rich-moles-glow.md
  packages/nextjs/package.json
  packages/react/package.json
Labels: nextjs, react

#4362 feat(clerk-react,nextjs,shared): Introduce experimental `useReverification`
  .changeset/clever-lions-marry.md
  .changeset/five-insects-grin.md
  .changeset/ninety-rabbits-itch.md
  .changeset/serious-poems-retire.md
  integration/playwright.config.ts
  integration/presets/envs.ts
  integration/presets/longRunningApps.ts
  integration/presets/next.ts
  integration/templates/next-app-router/next.config.js
  integration/templates/next-app-router/src/app/(reverification)/action-with-use-reverification/page.tsx
  integration/templates/next-app-router/src/app/(reverification)/actions.ts
  integration/templates/next-app-router/src/app/(reverification)/button-action.tsx
  integration/templates/next-app-router/src/app/(reverification)/requires-re-verification/page.tsx
  integration/testUtils/index.ts
  integration/testUtils/userVerificationPageObject.ts
  integration/tests/reverification.test.ts
  package-lock.json
  packages/chrome-extension/src/__tests__/__snapshots__/exports.test.ts.snap
  packages/clerk-js/src/ui/common/RemoveResourceForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/ActiveDevicesSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/AddAuthenticatorApp.tsx
  packages/clerk-js/src/ui/components/UserProfile/ConnectedAccountsMenu.tsx
  packages/clerk-js/src/ui/components/UserProfile/ConnectedAccountsSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/DeleteUserForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/EmailForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/MfaBackupCodeCreateForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/MfaPhoneCodeScreen.tsx
  packages/clerk-js/src/ui/components/UserProfile/PasskeySection.tsx
  packages/clerk-js/src/ui/components/UserProfile/PasswordForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/PhoneForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/UsernameForm.tsx
  packages/clerk-js/src/ui/components/UserVerification/use-after-verification.ts
  packages/clerk-js/src/ui/hooks/useAssurance.ts
  packages/clerk-js/src/ui/utils/errorHandler.ts
  packages/nextjs/src/app-router/client/ClerkProvider.tsx
  packages/nextjs/src/client-boundary/hooks.ts
  packages/nextjs/src/index.ts
  packages/react/src/hooks/index.ts
  packages/shared/package.json
  packages/shared/src/authorization-errors.ts
  packages/shared/src/react/hooks/index.ts
  packages/shared/src/react/hooks/useReverification.ts
Labels: clerk-js, nextjs, react, chrome-extension, integration

#4435 fix(repo): Ensure turbo cache is used properly for e2e tests
  .github/workflows/ci.yml
  turbo.json
Labels: actions

#4298 feat(nextjs): Replace jest with vitest for unit tests
  .changeset/small-cougars-protect.md
  .eslintignore
  package-lock.json
  package.json
  packages/nextjs/jest.config.js
  packages/nextjs/jest.setup.js
  packages/nextjs/package.json
  packages/nextjs/src/pages/__tests__/__snapshots__/exports.test.ts.snap
  packages/nextjs/src/pages/__tests__/exports.test.ts
  packages/nextjs/src/pages/__tests__/index.test.tsx
  packages/nextjs/src/server/__tests__/__snapshots__/exports.test.ts.snap
  packages/nextjs/src/server/__tests__/clerkClient.test.ts
  packages/nextjs/src/server/__tests__/clerkMiddleware.test.ts
  packages/nextjs/src/server/__tests__/createGetAuth.test.ts
  packages/nextjs/src/server/__tests__/exports.test.ts
  packages/nextjs/src/utils/__tests__/debugLogger.test.ts
  packages/nextjs/src/utils/__tests__/matcher.test.ts
  packages/nextjs/src/utils/__tests__/removeBasePath.test.ts
  packages/nextjs/vitest.config.mts
  packages/nextjs/vitest.setup.mts
  packages/ui/package.json
  packages/upgrade/package.json
  vitest.workspace.mjs
Labels: nextjs

#4438 chore(repo): Try to fix major version check workflow
  .changeset/small-dodos-grab.md
  .github/workflows/major-version-check.yml
Labels: actions

#4106 chore(clerk-js): Migrate to rspack for building
  .changeset/bright-ducks-enjoy.md
  .changeset/cool-days-tell.md
  package-lock.json
  packages/clerk-js/bundlewatch.config.json
  packages/clerk-js/package.json
  packages/clerk-js/rspack.config.js
  packages/elements/src/react/sign-in/root.tsx
  packages/elements/src/react/sign-up/root.tsx
  verdaccio.install.yaml
  verdaccio.publish.yaml
Labels: clerk-js, elements
