Repository clerk/javascript, pull requests merged in 2024-06, with the labels that each got.

#3498 chore(clerk-expo): Support `EXPO_PUBLIC_` prefixes for env variables
  .changeset/giant-poems-drum.md
  packages/expo/src/ClerkProvider.tsx
Labels: expo

#3497 fix(clerk-js): Only render active sessions in devices section
  .changeset/perfect-penguins-swim.md
  packages/clerk-js/src/ui/components/UserProfile/ActiveDevicesSection.tsx
  packages/clerk-js/src/ui/hooks/useFetch.ts
Labels: clerk-js

#3500 fix(repo): Make vanillaJS playground work
  playground/vanillajs/index.html
Labels: playground

#3504 chore(repo): Speed up PR title linter
  .github/workflows/pr-title-linter.yml
  commitlint.config.ts
Labels: actions

#3501 fix(clerk-js): Do not distort application logo
  .changeset/chilly-garlics-reply.md
  packages/clerk-js/src/ui/elements/ApplicationLogo.tsx
Labels: clerk-js

#3509 chore(repo): Remove changeset check for renovate PRs
  .github/workflows/ci.yml
Labels: actions

#3508 fix(clerk-react): Fix forceRedirectUrl and fallbackRedirectUrl when passed to button components
  .changeset/metal-foxes-raise.md
  .changeset/sixty-ears-rest.md
  integration/templates/next-app-router/src/app/buttons/page.tsx
  integration/tests/redirects.test.ts
  packages/clerk-js/src/ui/elements/Modal.tsx
  packages/react/src/components/SignInButton.tsx
  packages/react/src/components/SignUpButton.tsx
  packages/react/src/components/__tests__/SignInButton.test.tsx
  packages/react/src/components/__tests__/SignUpButton.test.tsx
Labels: clerk-js, react, integration

#3420 feat(clerk-expo): Introduce getClerkInstance to access/create a Clerk instance
  .changeset/calm-wasps-accept.md
  packages/expo/src/ClerkProvider.tsx
  packages/expo/src/errorThrower.ts
  packages/expo/src/index.ts
  packages/expo/src/singleton.ts
Labels: expo

#3480 fix(nextjs): Use separate buffers for each awaitable navigation type
  .changeset/three-eels-battle.md
  integration/tests/navigation.test.ts
  packages/nextjs/src/app-router/client/useAwaitablePush.ts
  packages/nextjs/src/app-router/client/useAwaitableReplace.ts
  packages/nextjs/src/app-router/client/useInternalNavFun.ts
Labels: nextjs, integration

#3516 fix(repo): Actually run Next.js integration for v13 & v14
  .github/workflows/ci.yml
Labels: actions

#3494 chore(localizations): Update profile primary button text and nav text in fr-FR & zh-CN
  .changeset/hot-chefs-cross.md
  packages/localizations/src/fr-FR.ts
  packages/localizations/src/zh-CN.ts
Labels: localizations

#3499 fix: handle ppr error message refactor
  .changeset/small-cycles-hug.md
  packages/nextjs/src/app-router/server/utils.ts
Labels: nextjs

#3427 test(e2e): Testing auth().protect() for unauthenticated users in soft navigations
  .changeset/wise-chairs-carry.md
  integration/templates/next-app-router/src/app/page-protected/page.tsx
  integration/templates/next-app-router/src/app/page.tsx
  integration/testUtils/index.ts
  integration/tests/protect.test.ts
Labels: integration

#3517 fix(elements): Display `assertIsDefined` errors during development
  .changeset/violet-insects-ring.md
  packages/elements/src/internals/machines/sign-in/verification.machine.ts
Labels: elements

#3442 feat(remix): Support new redirect urls as environment variables or options to rootAuthLoader
  .changeset/eighty-rabbits-yawn.md
  packages/remix/src/client/RemixClerkProvider.tsx
  packages/remix/src/client/types.ts
  packages/remix/src/ssr/loadOptions.ts
  packages/remix/src/ssr/rootAuthLoader.ts
  packages/remix/src/ssr/types.ts
  packages/remix/src/ssr/utils.ts
Labels: remix

#3519 chore(clerk-js): Lazily load VirtualBodyRootPortal
  .changeset/soft-beers-hunt.md
  packages/clerk-js/src/ui/lazyModules/providers.tsx
Labels: clerk-js

#3523 fix(repo): Missing ESLint rules
  .changeset/rude-fishes-think.md
  .changeset/tough-glasses-listen.md
  packages/clerk-js/src/ui/components/UserProfile/utils.ts
  packages/clerk-js/src/ui/elements/Card/CardFooter.tsx
  packages/clerk-js/src/ui/elements/PasswordInput.tsx
  packages/clerk-js/src/ui/elements/Section.tsx
  packages/clerk-js/src/ui/elements/utils.ts
  packages/elements/src/internals/machines/form/form.machine.ts
  packages/elements/src/internals/machines/sign-in/router.machine.ts
  packages/elements/src/internals/machines/sign-up/router.machine.ts
  packages/elements/src/internals/machines/sign-up/verification.machine.ts
  packages/elements/src/internals/utils/inspector/console/console.ts
  packages/elements/src/react/common/form/index.tsx
  packages/elements/src/react/common/loading.tsx
  packages/elements/src/react/hooks/use-focus.hook.ts
  packages/elements/src/react/hooks/use-third-party-provider.hook.ts
  packages/elements/src/react/sign-in/choose-strategy.tsx
  packages/elements/src/react/sign-in/root.tsx
  packages/elements/src/react/sign-up/root.tsx
  packages/eslint-config-custom/react.js
  packages/nextjs/src/app-router/server/currentUser.ts
  packages/nextjs/src/app-router/server/utils.ts
  packages/shared/src/telemetry/collector.ts
  packages/shared/src/underscore.ts
Labels: clerk-js, nextjs, elements

#3332 fix(backend): Remove cache timer to fix empty cache bug
  .changeset/cyan-gifts-cheer.md
  packages/backend/src/tokens/keys.test.ts
  packages/backend/src/tokens/keys.ts
Labels: backend

#3526 ci(repo): Version packages
  .changeset/chilled-baboons-decide.md
  .changeset/rude-fishes-think.md
  .changeset/tough-glasses-listen.md
  package-lock.json
  packages/eslint-config-custom/CHANGELOG.md
  packages/eslint-config-custom/package.json
Labels: clerk-js, nextjs, react, remix, backend, fastify, sdk-node, expo, chrome-extension, gatsby, elements, express, testing

#3527 Version Packages - V4
  .changeset/cyan-gifts-cheer.md
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/CHANGELOG.md
  packages/gatsby-plugin-clerk/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
Labels: nextjs, remix, backend, fastify, sdk-node, gatsby

#3472 feat(elements): Add support for sign in with passkey
  .changeset/fuzzy-bees-doubt.md
  .changeset/plenty-eels-pay.md
  packages/clerk-js/src/core/resources/Passkey.ts
  packages/clerk-js/src/core/resources/SignIn.ts
  packages/clerk-js/src/ui/components/SignIn/SignInStart.tsx
  packages/clerk-js/src/ui/components/SignIn/utils.ts
  packages/clerk-js/src/ui/hooks/useAlternativeStrategies.ts
  packages/clerk-js/src/utils/passkeys.ts
  packages/elements/examples/nextjs/app/sign-in/[[...sign-in]]/page.tsx
  packages/elements/src/internals/machines/sign-in/router.machine.ts
  packages/elements/src/internals/machines/sign-in/router.types.ts
  packages/elements/src/internals/machines/sign-in/start.machine.ts
  packages/elements/src/internals/machines/sign-in/start.types.ts
  packages/elements/src/internals/machines/sign-in/utils/starting-factors.ts
  packages/elements/src/internals/machines/sign-in/verification.machine.ts
  packages/elements/src/react/common/form/index.tsx
  packages/elements/src/react/sign-in/context/router.context.ts
  packages/elements/src/react/sign-in/index.ts
  packages/elements/src/react/sign-in/passkey.tsx
  packages/shared/package.json
  packages/shared/src/webauthn.ts
  packages/shared/subpaths.mjs
Labels: clerk-js, elements

#3538 feat(tanstack-start): Introduce @clerk/tanstack-start
  .changeset/sharp-ties-grab.md
  .github/workflows/ci.yml
  package-lock.json
  packages/tanstack-start/.eslintrc.cjs
  packages/tanstack-start/.gitignore
  packages/tanstack-start/LICENSE
  packages/tanstack-start/README.md
  packages/tanstack-start/package.json
  packages/tanstack-start/server/package.json
  packages/tanstack-start/src/client/ClerkProvider.tsx
  packages/tanstack-start/src/client/OptionsContext.tsx
  packages/tanstack-start/src/client/index.ts
  packages/tanstack-start/src/client/types.ts
  packages/tanstack-start/src/client/uiComponents.tsx
  packages/tanstack-start/src/client/useAwaitableNavigate.ts
  packages/tanstack-start/src/globals.d.ts
  packages/tanstack-start/src/index.ts
  packages/tanstack-start/src/server/authenticateRequest.ts
  packages/tanstack-start/src/server/index.ts
  packages/tanstack-start/src/server/loadOptions.ts
  packages/tanstack-start/src/server/middlewareHandler.ts
  packages/tanstack-start/src/server/types.ts
  packages/tanstack-start/src/server/utils/index.ts
  packages/tanstack-start/src/utils/index.ts
  packages/tanstack-start/tsconfig.declarations.json
  packages/tanstack-start/tsconfig.json
  packages/tanstack-start/tsup.config.ts
Labels: actions

#3518 fix(nextjs): Replace router.refresh() with cookies().delete()
  .changeset/smooth-carrots-hear.md
  packages/nextjs/src/app-router/client/ClerkProvider.tsx
  packages/nextjs/src/app-router/server-actions/invalidateCache.ts
Labels: nextjs

#3554 ci(repo): Version packages
  .changeset/clean-beds-count.md
  .changeset/dull-students-matter.md
  .changeset/eight-snakes-rescue.md
  .changeset/funny-months-guess.md
  .changeset/fuzzy-bees-doubt.md
  .changeset/grumpy-rules-kick.md
  .changeset/late-falcons-sell.md
  .changeset/loud-experts-rush.md
  .changeset/neat-colts-knock.md
  .changeset/plenty-eels-pay.md
  .changeset/seven-starfishes-bow.md
  .changeset/sharp-ties-grab.md
  .changeset/smooth-carrots-hear.md
  .changeset/sour-dolls-suffer.md
  .changeset/ten-mails-exist.md
  .changeset/thick-emus-shop.md
  package-lock.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/tanstack-start/CHANGELOG.md
  packages/tanstack-start/package.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Labels: clerk-js, nextjs, react, remix, backend, fastify, sdk-node, expo, chrome-extension, gatsby, elements, express, testing

#3430 chore(clerk-js): Replace qs library with custom implementation
  .changeset/silent-countries-jump.md
  package-lock.json
  packages/clerk-js/bundlewatch.config.json
  packages/clerk-js/package.json
  packages/clerk-js/src/core/__tests__/fapiClient.test.ts
  packages/clerk-js/src/core/fapiClient.ts
  packages/clerk-js/src/ui/contexts/ClerkUIComponentsContext.tsx
  packages/clerk-js/src/ui/router/BaseRouter.tsx
  packages/clerk-js/src/ui/router/index.tsx
  packages/clerk-js/src/utils/__tests__/querystring.test.ts
  packages/clerk-js/src/utils/querystring.ts
Labels: clerk-js

#3522 feat(clerk-js): Add title attribute to organization preview
  .changeset/warm-shoes-dance.md
  packages/clerk-js/src/ui/elements/OrganizationPreview.tsx
Labels: clerk-js

#3550 chore(repo): Update Turbo & skip unaffected integration tests
  .changeset/angry-pigs-beam.md
  .github/actions/init/action.yml
  .github/workflows/ci.yml
  package-lock.json
  package.json
  packages/clerk-js/turbo.json
  packages/elements/turbo.json
  packages/eslint-config-custom/package.json
  packages/express/turbo.json
  packages/sdk-node/turbo.json
  packages/tailwindcss-transformer/turbo.json
  packages/ui/package.json
  packages/ui/turbo.json
  turbo.json
Labels: clerk-js, actions, sdk-node, elements, express

#3564 fix(clerk-js): Allow wails protocol
  .changeset/tricky-rabbits-sparkle.md
  packages/clerk-js/src/utils/windowNavigate.ts
Labels: clerk-js

#3568 chore(repo): Bump next version in app-router playground
  .changeset/old-weeks-hammer.md
  playground/app-router/package.json
Labels: playground

#3557 feat(elements): Infer base path
  .changeset/six-lobsters-happen.md
  packages/elements/src/react/sign-in/root.tsx
  packages/elements/src/react/sign-up/root.tsx
  packages/elements/src/react/utils/path-inference/__tests__/next.test.ts
  packages/elements/src/react/utils/path-inference/__tests__/utils.test.ts
  packages/elements/src/react/utils/path-inference/next.tsx
  packages/elements/src/react/utils/path-inference/utils.ts
  packages/elements/tsup.config.ts
Labels: elements

#3495 fix(remix): RequestInit.duplex now is required if body is provided in undici
  .changeset/fifty-parents-juggle.md
  packages/remix/src/ssr/authenticateRequest.ts
  packages/remix/src/ssr/loadOptions.ts
  packages/remix/src/ssr/utils.ts
Labels: remix

#3575 refactor(elements): Render resendable button at the 0 tick
  .changeset/stale-students-love.md
  packages/elements/src/internals/machines/sign-up/verification.machine.ts
Labels: elements

#3566 chore(repo): Update CI caching strategy
  .changeset/new-geese-watch.md
  .github/actions/init/action.yml
  .github/workflows/ci.yml
Labels: actions

#3586 Revert "chore(repo): Update CI caching strategy"
  .changeset/new-geese-watch.md
  .github/actions/init/action.yml
  .github/workflows/ci.yml
Labels: actions

#3584 fix(clerk-js): Allow chrome-extension protocol
  .changeset/tasty-ravens-exist.md
  packages/clerk-js/src/utils/windowNavigate.ts
Labels: clerk-js

#3578 fix(clerk-js): Avoid sending password when saml is enabled
  .changeset/nine-radios-tap.md
  packages/clerk-js/src/ui/components/SignIn/SignInStart.tsx
  packages/upgrade/package.json
Labels: clerk-js

#3593 fix(nextjs): Make exported server action async
  .changeset/smart-pants-rule.md
  packages/nextjs/src/app-router/client/ClerkProvider.tsx
  packages/nextjs/src/app-router/server-actions/invalidateCache.ts
Labels: nextjs

#3591 chore(repo): Document interaction with img.clerk.com
  .changeset/tricky-moose-cross.md
  packages/clerk-js/src/ui/customizables/makeResponsive.tsx
Labels: clerk-js

#3597 fix(clerk-js): Improve solution for saml and hidden password field
  .changeset/twenty-maps-train.md
  packages/clerk-js/src/ui/components/SignIn/SignInStart.tsx
  packages/clerk-js/src/ui/utils/test/fixtures.ts
Labels: clerk-js

#3596 fix(clerk-js): Add descriptor for "Create Organization" logo box
  .changeset/seven-feet-beam.md
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationProfileAvatarUploader.tsx
  packages/clerk-js/src/ui/customizables/elementDescriptors.ts
  packages/types/src/appearance.ts
Labels: types, clerk-js

#3599 test(clerk-js): Upgrade @testing-library packages
  .changeset/cold-singers-suffer.md
  package-lock.json
  package.json
  packages/clerk-js/src/ui/components/UserProfile/__tests__/EmailsSection.test.tsx
  packages/clerk-js/src/ui/elements/__tests__/PlainInput.test.tsx
Labels: clerk-js

#3601 fix(elements): Sign-in/up root fallbacks not rendering properly
  .changeset/friendly-dots-join.md
  packages/elements/examples/nextjs/app/sign-up/[[...sign-up]]/page.tsx
  packages/elements/src/react/common/form/index.tsx
  packages/elements/src/react/sign-in/root.tsx
  packages/elements/src/react/sign-up/root.tsx
Labels: elements

#3594 feat(elements): Consider ValidityState in FieldState
  .changeset/grumpy-dancers-thank.md
  packages/elements/examples/nextjs/app/sign-in/[[...sign-in]]/page.tsx
  packages/elements/src/react/common/form/index.tsx
Labels: elements

#3605 fix(clerk-js): Correctly use allowlist for protocol extensions in all codepaths
  .changeset/polite-poems-cross.md
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/utils/windowNavigate.ts
Labels: clerk-js

#3606 chore(elements): Update Radix deps
  .changeset/metal-shrimps-repeat.md
  package-lock.json
  packages/elements/examples/nextjs/package.json
  packages/elements/package.json
Labels: elements

#3612 chore(elements,ui): Update Radix
  .changeset/proud-books-switch.md
  package-lock.json
  packages/elements/examples/nextjs/package.json
  packages/ui/package.json
  packages/ui/theme-builder/package.json
Labels: elements

#3620 fix(repo): Bump Node to latest version
  .github/actions/init/action.yml
  .github/actions/verdaccio/action.yml
  .github/workflows/ci.yml
Labels: actions

#3616 feat(chrome-extension): Poll for new active sessions
  .changeset/smart-ravens-taste.md
  packages/chrome-extension/src/singleton.ts
  packages/chrome-extension/src/utils/jwt-handler.ts
  playground/chrome-extension/package.json
Labels: chrome-extension, playground

#3608 chore(localizations): Localization of the Italian translation
  .changeset/plenty-trees-repeat.md
  packages/localizations/src/it-IT.ts
Labels: localizations

#3602 ci(repo): Version packages
  .changeset/afraid-humans-notice.md
  .changeset/cold-lemons-beg.md
  .changeset/cold-singers-suffer.md
  .changeset/friendly-dots-join.md
  .changeset/grumpy-dancers-thank.md
  .changeset/healthy-vans-care.md
  .changeset/large-carrots-roll.md
  .changeset/large-frogs-collect.md
  .changeset/metal-shrimps-repeat.md
  .changeset/nine-ways-poke.md
  .changeset/plenty-trees-repeat.md
  .changeset/polite-poems-cross.md
  .changeset/proud-books-switch.md
  .changeset/smart-ravens-taste.md
  .changeset/strange-toys-taste.md
  .changeset/twelve-tips-heal.md
  .changeset/violet-kings-care.md
  package-lock.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Labels: clerk-js, localizations, expo, chrome-extension, elements

#3609 fix(elements): Show warning on used, but not activated verifications
  .changeset/dirty-peas-smile.md
  packages/elements/examples/nextjs/app/sign-in/[[...sign-in]]/page.tsx
  packages/elements/src/internals/machines/sign-in/verification.machine.ts
  packages/elements/src/react/hooks/use-third-party-provider.hook.ts
  packages/elements/src/react/sign-in/action/navigate.tsx
  packages/elements/src/react/sign-up/action/navigate.tsx
Labels: elements

#3622 ci(repo): Version packages
  .changeset/dirty-peas-smile.md
  package-lock.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Labels: elements

#3624 fix(clerk-js): Update cache key for roles when organization changes
  .changeset/wise-bags-kneel.md
  packages/clerk-js/src/ui/components/OrganizationSwitcher/__tests__/OrganizationSwitcher.test.tsx
  packages/clerk-js/src/ui/hooks/useFetchRoles.ts
Labels: clerk-js

#3626 fix(clerk-js): Discard orgId param when calling fetching roles
  .changeset/stupid-peas-guess.md
  packages/clerk-js/src/ui/hooks/useFetchRoles.ts
Labels: clerk-js

#3544 fix(clerk-js): Deprecate `afterSignOutUrl` from UserButton
  .changeset/selfish-ladybugs-smile.md
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/ui/components/ImpersonationFab/ImpersonationFab.tsx
  packages/clerk-js/src/ui/components/UserButton/useMultisessionActions.tsx
  packages/clerk-js/src/ui/components/UserProfile/DeleteUserForm.tsx
  packages/clerk-js/src/ui/contexts/ClerkUIComponentsContext.tsx
  packages/clerk-js/src/ui/hooks/useMultipleSessions.ts
  packages/types/src/clerk.ts
  packages/types/src/redirects.ts
Labels: types, clerk-js

#3630 fix(clerk-js): Update querystring to properly handle false value
  .changeset/violet-rocks-swim.md
  packages/clerk-js/src/utils/__tests__/querystring.test.ts
  packages/clerk-js/src/utils/querystring.ts
Labels: clerk-js

#3580 feat(remix): Add support for Remix SPA Mode
  .changeset/empty-apples-kiss.md
  packages/remix/src/client/ClerkApp.tsx
  packages/remix/src/client/RemixClerkProvider.tsx
  packages/remix/src/client/types.ts
  packages/remix/src/utils/errors.ts
  packages/remix/src/utils/utils.ts
Labels: remix

#3625 ci(repo): Version packages
  .changeset/selfish-ladybugs-smile.md
  .changeset/stupid-peas-guess.md
  .changeset/violet-rocks-swim.md
  .changeset/wise-bags-kneel.md
  package-lock.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/tanstack-start/CHANGELOG.md
  packages/tanstack-start/package.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, sdk-node, expo, chrome-extension, gatsby, themes, elements, express, testing
