Repository clerk/javascript, pull requests merged in 2024-02, with the labels that each got.

#2699 test(clerk-js): Remove skipped tests from ConnectedAccountsSection
  .changeset/strong-melons-sort.md
  packages/clerk-js/src/ui/components/UserProfile/Web3Section.tsx
  packages/clerk-js/src/ui/components/UserProfile/__tests__/AccountPage.test.tsx
  packages/clerk-js/src/ui/components/UserProfile/__tests__/ConnectedAccountsSection.test.tsx
Labels: clerk-js

#2672 feat(nextjs): Replace redirectUrl of protect with `unauthorizedUrl` and `unauthenticatedUrl`
  .changeset/pink-eggs-enjoy.md
  packages/nextjs/src/server/clerkMiddleware.test.ts
  packages/nextjs/src/server/protect.ts
Labels: nextjs

#2703 test(clerk-js): Remove skipped tests from SignUp/SignIn/ResetPassword
  .changeset/stale-nails-deny.md
  packages/clerk-js/src/ui/components/SignIn/__tests__/ResetPassword.test.tsx
  packages/clerk-js/src/ui/components/SignIn/__tests__/SignInFactorTwo.test.tsx
  packages/clerk-js/src/ui/components/SignUp/__tests__/SignUpContinue.test.tsx
  packages/clerk-js/src/ui/components/SignUp/__tests__/SignUpStart.test.tsx
Labels: clerk-js

#2680 fix(clerk-js): Fix color usage
  .changeset/violet-roses-look.md
  packages/clerk-js/src/ui/components/CreateOrganization/CreateOrganizationForm.tsx
  packages/clerk-js/src/ui/components/OrganizationList/shared.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/MemberListTable.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationGeneralPage.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationProfileAvatarUploader.tsx
  packages/clerk-js/src/ui/components/OrganizationSwitcher/OrganizationSwitcherTrigger.tsx
  packages/clerk-js/src/ui/components/OrganizationSwitcher/OtherOrganizationActions.tsx
  packages/clerk-js/src/ui/components/OrganizationSwitcher/UserInvitationSuggestionList.tsx
  packages/clerk-js/src/ui/components/OrganizationSwitcher/UserMembershipList.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInAccountSwitcher.tsx
  packages/clerk-js/src/ui/components/UserButton/SessionActions.tsx
  packages/clerk-js/src/ui/components/UserButton/UserButtonPopover.tsx
  packages/clerk-js/src/ui/components/UserProfile/AccountPage.tsx
  packages/clerk-js/src/ui/components/UserProfile/ConnectedAccountsSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/EmailsSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/EnterpriseAccountsSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/PhoneSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/UserProfileSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/UsernameSection.tsx
  packages/clerk-js/src/ui/customizables/__tests__/parseAppearance.test.tsx
  packages/clerk-js/src/ui/customizables/parseVariables.ts
  packages/clerk-js/src/ui/elements/Actions.tsx
  packages/clerk-js/src/ui/elements/AvatarUploader.tsx
  packages/clerk-js/src/ui/elements/Card/CardClerkAndPagesTag.tsx
  packages/clerk-js/src/ui/elements/FieldControl.tsx
  packages/clerk-js/src/ui/elements/InformationBox.tsx
  packages/clerk-js/src/ui/elements/Navbar.tsx
  packages/clerk-js/src/ui/elements/Pagination.tsx
  packages/clerk-js/src/ui/elements/PreviewButton.tsx
  packages/clerk-js/src/ui/elements/UserPreview.tsx
  packages/clerk-js/src/ui/foundations/colors.ts
  packages/clerk-js/src/ui/foundations/transitions.ts
  packages/clerk-js/src/ui/primitives/Button.tsx
  packages/themes/src/themes/dark.ts
  packages/themes/src/themes/neobrutalism.ts
  packages/types/src/appearance.ts
  playground/nextjs/pages/_app.tsx
Labels: types, clerk-js, playground, themes

#2696 fix(clerk-js): Typography fixes and improvements in forms, cards and sections
  .changeset/green-vans-sniff.md
  packages/clerk-js/src/ui/components/UserProfile/AddAuthenticatorApp.tsx
  packages/clerk-js/src/ui/components/UserProfile/__tests__/MfaPage.test.tsx
  packages/clerk-js/src/ui/elements/Form.tsx
  packages/clerk-js/src/ui/elements/FormButtons.tsx
  packages/clerk-js/src/ui/elements/Header.tsx
  packages/clerk-js/src/ui/elements/IdentityPreview.tsx
  packages/clerk-js/src/ui/elements/SuccessPage.tsx
  packages/clerk-js/src/ui/elements/TimerButton.tsx
  packages/clerk-js/src/ui/primitives/Button.tsx
  packages/localizations/src/en-US.ts
  packages/types/src/localization.ts
Labels: types, clerk-js, localizations

#2692 fix(clerk-js): Align enterprise accounts section with designs
  .changeset/fifty-clocks-act.md
  packages/clerk-js/src/ui/components/UserProfile/EnterpriseAccountsSection.tsx
Labels: clerk-js

#2708 fix(clerk-js): Fix border-radius usage across the components
  .changeset/large-needles-sparkle.md
  packages/clerk-js/src/ui/components/UserProfile/MfaBackupCodeList.tsx
  packages/clerk-js/src/ui/customizables/parseVariables.ts
  packages/clerk-js/src/ui/elements/Card/CardRoot.tsx
  packages/clerk-js/src/ui/elements/Navbar.tsx
  packages/clerk-js/src/ui/elements/PopoverCard.tsx
  packages/clerk-js/src/ui/foundations/sizes.ts
  packages/types/src/appearance.ts
Labels: types, clerk-js

#2694 fix(clerk-js): Fix same site in ClerkJS cookies
  .changeset/slow-carrots-eat.md
  packages/clerk-js/src/utils/cookies/handler.ts
Labels: clerk-js

#2702 fix(clerk-js): Fix FAPI initiated redirect flow for OAuth2 IDP flow with email_link verification (#2677)
  .changeset/twenty-lamps-rule.md
  packages/clerk-js/src/core/clerk.ts
Labels: clerk-js, cherry

#2712 fix(clerk-js): Escape characters in pattern for inputs of [type="email"]
  .changeset/spotty-penguins-admire.md
  packages/clerk-js/src/ui/primitives/Input.tsx
Labels: clerk-js

#2691 v5: NextJS improvements
  .changeset/chilled-bikes-rule.md
  integration/templates/next-app-router/package.json
  packages/backend/src/constants.ts
  packages/backend/src/createRedirect.ts
  packages/fastify/src/__snapshots__/constants.test.ts.snap
  packages/nextjs/src/app-router/server/auth.ts
  packages/nextjs/src/server/authMiddleware.ts
  packages/nextjs/src/server/clerkMiddleware.test.ts
  packages/nextjs/src/server/clerkMiddleware.ts
  packages/nextjs/src/server/protect.ts
  packages/nextjs/src/server/utils.ts
  packages/nextjs/src/utils/response.ts
Labels: nextjs, backend, fastify, integration

#2651 chore(nextjs): Remove useSearchParams usage
  .changeset/eight-dolphins-float.md
  integration/templates/next-app-router/package.json
  packages/nextjs/src/app-router/client/useAwaitableNavigate.ts
Labels: nextjs, integration

#2700 fix(clerk-js): User/org profile spacing adjustments
  .changeset/serious-doors-reflect.md
  integration/tests/navigation.test.ts
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationGeneralPage.tsx
  packages/clerk-js/src/ui/components/UserProfile/ActiveDevicesSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/EmailsSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/PasswordSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/__tests__/EmailsSection.test.tsx
  packages/clerk-js/src/ui/components/UserProfile/__tests__/PhoneSection.test.tsx
  packages/clerk-js/src/ui/elements/ArrowBlockButton.tsx
  packages/clerk-js/src/ui/elements/ProfileCard/ProfileCardContent.tsx
  packages/clerk-js/src/ui/elements/Section.tsx
  packages/clerk-js/src/ui/elements/ThreeDotsMenu.tsx
  packages/clerk-js/src/ui/elements/UserPreview.tsx
  packages/clerk-js/src/ui/foundations/sizes.ts
  packages/localizations/src/en-US.ts
Labels: clerk-js, localizations, integration

#2705 feat(elements): Initial continue/verification paths
  .changeset/four-cats-poke.md
  packages/elements/examples/nextjs/app/page.tsx
  packages/elements/src/internals/machines/shared.actors.ts
  packages/elements/src/internals/machines/sign-up/sign-up.actors.ts
  packages/elements/src/internals/machines/sign-up/sign-up.machine.ts
Labels: elements

#2698 Version Packages - V4
  .changeset/eight-dolphins-float.md
  .changeset/slow-carrots-eat.md
  .changeset/smooth-numbers-shout.md
  .changeset/twenty-lamps-rule.md
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/CHANGELOG.md
  packages/gatsby-plugin-clerk/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/shared/package.json
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, sdk-node, expo, chrome-extension, gatsby, themes

#2713 feat(clerk-js): Accept `skipInvitationScreen` as a prop from OrganizationSwitcher
  .changeset/late-geckos-impress.md
  packages/clerk-js/src/ui/components/OrganizationSwitcher/OrganizationSwitcherPopover.tsx
  packages/clerk-js/src/ui/contexts/ClerkUIComponentsContext.tsx
  packages/types/src/clerk.ts
Labels: types, clerk-js

#2722 chore(repo): Remove elements alpha workflow
  .github/workflows/alpha.elements.yml
Labels: actions

#2714 fix(backend): BAPIClients list methods should return `{ data, totalCount }`
  .changeset/curvy-chefs-sneeze.md
  .changeset/healthy-eyes-marry.md
  packages/backend/src/api/__tests__/factory.test.ts
  packages/backend/src/api/endpoints/AllowlistIdentifierApi.ts
  packages/backend/src/api/endpoints/ClientApi.ts
  packages/backend/src/api/endpoints/InvitationApi.ts
  packages/backend/src/api/endpoints/RedirectUrlApi.ts
  packages/backend/src/api/endpoints/SessionApi.ts
  packages/backend/src/api/endpoints/UserApi.ts
  packages/clerk-js/src/core/fapiClient.ts
  packages/clerk-js/src/core/resources/Organization.ts
  packages/clerk-js/src/core/resources/OrganizationMembership.ts
  packages/clerk-js/src/core/resources/OrganizationSuggestion.ts
  packages/clerk-js/src/core/resources/UserOrganizationInvitation.ts
  packages/clerk-js/src/utils/convertPageToOffsetSearchParams.ts
  packages/clerk-js/src/utils/pagesToOffset.ts
  packages/types/src/pagination.ts
Labels: types, clerk-js, backend

#2717 fix(clerk-js): Fix profile card footer on mobile
  .changeset/healthy-fans-move.md
  packages/clerk-js/src/ui/elements/Card/CardClerkAndPagesTag.tsx
  packages/clerk-js/src/ui/elements/Card/CardFooter.tsx
  packages/clerk-js/src/ui/elements/ProfileCard/ProfileCardRoot.tsx
Labels: clerk-js

#2716 fix(clerk-js): SignIn/SignUp component spacing adjustment
  .changeset/thin-trees-poke.md
  packages/clerk-js/src/ui/components/SignIn/AlternativeMethods.tsx
  packages/clerk-js/src/ui/components/SignIn/ResetPassword.tsx
  packages/clerk-js/src/ui/components/SignIn/ResetPasswordSuccess.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInAccountSwitcher.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInFactorOnePasswordCard.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInFactorTwoAlternativeMethods.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInFactorTwoBackupCodeCard.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInStart.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpContinue.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpStart.tsx
  packages/clerk-js/src/ui/elements/ApplicationLogo.tsx
  packages/clerk-js/src/ui/elements/Card/CardContent.tsx
  packages/clerk-js/src/ui/elements/ErrorCard.tsx
  packages/clerk-js/src/ui/elements/Header.tsx
  packages/clerk-js/src/ui/elements/PhoneInput/PhoneInput.tsx
  packages/clerk-js/src/ui/elements/SocialButtons.tsx
  packages/clerk-js/src/ui/elements/VerificationCodeCard.tsx
  packages/clerk-js/src/ui/elements/VerificationLinkCard.tsx
Labels: clerk-js

#2724 fix(clerk-js): Add padding to app logo inside OrganizationList
  .changeset/friendly-dryers-rush.md
  packages/clerk-js/src/ui/components/OrganizationList/OrganizationListPage.tsx
  packages/clerk-js/src/ui/elements/Card.tsx
Labels: clerk-js

#2726 fix(nextjs): Use shared subpath import in server related utils to avoid bundling unused helpers
  packages/nextjs/src/utils/serverRedirectWithAuth.ts
Labels: nextjs

#2723 test(clerk-js): Remove skipped integration tests related to navigation
  .changeset/early-dryers-lay.md
  integration/testUtils/userProfilePageObject.ts
  integration/tests/navigation.test.ts
  integration/tests/user-profile.test.ts
Labels: integration

#2731 chore(clerk-js): Use data-1p-ignore for better UX in Clerk Components with 1password
  .changeset/curly-cycles-march.md
  packages/clerk-js/src/ui/components/CreateOrganization/CreateOrganizationForm.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/AddDomainForm.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/ProfileForm.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/VerifyDomainForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/DeleteUserForm.tsx
  packages/clerk-js/src/ui/primitives/Input.tsx
  packages/clerk-js/src/ui/primitives/hooks/useFormControl.tsx
  packages/clerk-js/src/ui/utils/useFormControl.ts
Labels: clerk-js

#2729 fix(clerk-js): Fix clipped phone input in <UserProfile/>
  .changeset/spotty-boxes-fold.md
  packages/clerk-js/src/ui/elements/Action/ActionCard.tsx
Labels: clerk-js

#2732 fix(remix,nextjs,clerk-react): Export EmailLinkErrorCode from /errors
  .changeset/hungry-bottles-flow.md
  .changeset/light-buckets-check.md
  packages/nextjs/src/client-boundary/hooks.ts
  packages/nextjs/src/errors.ts
  packages/react/src/errors.ts
  packages/remix/api.server/package.json
  packages/remix/errors/package.json
  packages/remix/package.json
  packages/remix/src/errors.ts
  packages/remix/src/ssr/getAuth.ts
  packages/remix/src/ssr/loadOptions.ts
  packages/remix/src/ssr/rootAuthLoader.ts
  packages/remix/src/ssr/utils.ts
  packages/remix/src/utils/errors.ts
  packages/remix/src/utils/index.ts
  packages/remix/src/utils/utils.ts
  packages/remix/ssr.server/package.json
Labels: nextjs, react, remix

#2725 feat(elements): Remove hardcoded /sign-in path
  .changeset/thirty-kings-trade.md
  package-lock.json
  packages/elements/examples/nextjs/app/otp-playground/page.tsx
  packages/elements/examples/nextjs/app/page.tsx
  packages/elements/examples/nextjs/app/sign-in/[[...sign-in]]/page.tsx
  packages/elements/examples/nextjs/app/sign-up/[[...sign-up]]/page.tsx
  packages/elements/examples/nextjs/components/form.tsx
  packages/elements/package.json
  packages/elements/src/internals/machines/sign-in/sign-in.machine.ts
  packages/elements/src/internals/machines/sign-up/sign-up.actors.ts
  packages/elements/src/internals/machines/sign-up/sign-up.machine.ts
  packages/elements/src/react/common/form/index.tsx
  packages/elements/src/react/router/router.ts
  packages/elements/src/react/sign-in/root.tsx
  packages/elements/src/react/sign-up/verifications.tsx
  packages/shared/src/__tests__/url.test.ts
  packages/shared/src/url.ts
Labels: elements

#2737 fix(clerk-js): Remove the `shadowShimmer` appearance variable
  .changeset/grumpy-laws-play.md
  packages/clerk-js/src/ui/customizables/parseAppearance.ts
  packages/clerk-js/src/ui/customizables/parseVariables.ts
  packages/clerk-js/src/ui/elements/Avatar.tsx
  packages/clerk-js/src/ui/elements/withAvatarShimmer.tsx
  packages/clerk-js/src/ui/foundations/shadows.ts
  packages/themes/src/themes/dark.ts
  packages/themes/src/themes/neobrutalism.ts
  packages/themes/src/themes/shadesOfPurple.ts
  packages/types/src/appearance.ts
Labels: types, clerk-js, themes

#2733 fix(clerk-js): Cache active sessions with `useFetch`
  .changeset/ten-dryers-share.md
  packages/clerk-js/src/ui/components/UserProfile/ActiveDevicesSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/__tests__/SecurityPage.test.tsx
  packages/clerk-js/src/ui/hooks/useFetch.ts
  playground/nextjs/package.json
Labels: clerk-js, playground

#2711 fix(clerk-js): Button variants and color alignments
  .changeset/funny-pianos-double.md
  packages/clerk-js/src/ui/common/RemoveResourceForm.tsx
  packages/clerk-js/src/ui/components/OrganizationList/OrganizationListPage.tsx
  packages/clerk-js/src/ui/components/OrganizationList/shared.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/ActionConfirmationPage.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationGeneralPage.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/RequestToJoinList.tsx
  packages/clerk-js/src/ui/components/OrganizationSwitcher/OrganizationSwitcherTrigger.tsx
  packages/clerk-js/src/ui/components/OrganizationSwitcher/OtherOrganizationActions.tsx
  packages/clerk-js/src/ui/components/OrganizationSwitcher/UserInvitationSuggestionList.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInAccountSwitcher.tsx
  packages/clerk-js/src/ui/components/UserButton/SessionActions.tsx
  packages/clerk-js/src/ui/components/UserButton/UserButtonPopover.tsx
  packages/clerk-js/src/ui/components/UserProfile/AddAuthenticatorApp.tsx
  packages/clerk-js/src/ui/components/UserProfile/DeleteSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/DeleteUserForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/MfaPhoneCodeScreen.tsx
  packages/clerk-js/src/ui/components/UserProfile/VerifyWithCode.tsx
  packages/clerk-js/src/ui/customizables/parseVariables.ts
  packages/clerk-js/src/ui/elements/Actions.tsx
  packages/clerk-js/src/ui/elements/ArrowBlockButton.tsx
  packages/clerk-js/src/ui/elements/AvatarUploader.tsx
  packages/clerk-js/src/ui/elements/ErrorCard.tsx
  packages/clerk-js/src/ui/elements/FieldControl.tsx
  packages/clerk-js/src/ui/elements/Menu.tsx
  packages/clerk-js/src/ui/elements/Navbar.tsx
  packages/clerk-js/src/ui/elements/OrganizationPreview.tsx
  packages/clerk-js/src/ui/elements/Pagination.tsx
  packages/clerk-js/src/ui/elements/PreviewButton.tsx
  packages/clerk-js/src/ui/elements/Section.tsx
  packages/clerk-js/src/ui/elements/Select.tsx
  packages/clerk-js/src/ui/elements/SocialButtons.tsx
  packages/clerk-js/src/ui/elements/TileButton.tsx
  packages/clerk-js/src/ui/elements/UserPreview.tsx
  packages/clerk-js/src/ui/foundations/colors.ts
  packages/clerk-js/src/ui/foundations/shadows.ts
  packages/clerk-js/src/ui/primitives/Button.tsx
  packages/clerk-js/src/ui/primitives/FormLabel.tsx
  packages/clerk-js/src/ui/utils/colors.ts
  packages/types/src/appearance.ts
Labels: types, clerk-js

#2730 fix(clerk-js): UI fixes for mobile devices in UP/OP
  .changeset/nervous-wombats-sin.md
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationGeneralPage.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationMembers.tsx
  packages/clerk-js/src/ui/components/UserProfile/ActiveDevicesSection.tsx
  packages/clerk-js/src/ui/elements/Header.tsx
  packages/clerk-js/src/ui/elements/Section.tsx
Labels: clerk-js

#2735 fix(clerk-js): Give application logo correct CSS width
  .changeset/witty-eggs-punch.md
  packages/clerk-js/src/ui/elements/ApplicationLogo.tsx
Labels: clerk-js

#2741 fix(clerk-js): Give application logo correct CSS width (#2735)
  .changeset/witty-eggs-punch.md
  packages/clerk-js/src/ui/elements/ApplicationLogo.tsx
Labels: clerk-js, cherry

#2740 feat(clerk-js): Accept skipInvitationScreen as a prop from OrganizationSwitcher #2713
  .changeset/late-geckos-impress.md
  packages/clerk-js/src/ui/components/OrganizationSwitcher/OrganizationSwitcherPopover.tsx
  packages/clerk-js/src/ui/contexts/ClerkUIComponentsContext.tsx
  packages/types/src/clerk.ts
Labels: types, clerk-js, cherry

#2746 feat(clerk-js): Rename colorAlphaShade to colorNeutral
  .changeset/rare-ladybugs-mate.md
  packages/clerk-js/src/ui/common/CalloutWithAction.tsx
  packages/clerk-js/src/ui/common/EmailLinkStatusCard.tsx
  packages/clerk-js/src/ui/components/CreateOrganization/CreateOrganizationForm.tsx
  packages/clerk-js/src/ui/components/OrganizationList/OrganizationListPage.tsx
  packages/clerk-js/src/ui/components/OrganizationList/shared.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/BillingWidget.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/MemberListTable.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/MembershipWidget.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationMembersTabInvitations.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationMembersTabRequests.tsx
  packages/clerk-js/src/ui/components/OrganizationSwitcher/OrganizationSwitcherPopover.tsx
  packages/clerk-js/src/ui/components/OrganizationSwitcher/UserInvitationSuggestionList.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInAccountSwitcher.tsx
  packages/clerk-js/src/ui/components/UserButton/SessionActions.tsx
  packages/clerk-js/src/ui/components/UserProfile/ActiveDevicesSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/MfaBackupCodeAccordion.tsx
  packages/clerk-js/src/ui/components/UserProfile/MfaBackupCodeList.tsx
  packages/clerk-js/src/ui/components/UserProfile/MfaSection.tsx
  packages/clerk-js/src/ui/customizables/parseVariables.ts
  packages/clerk-js/src/ui/elements/Accordion.tsx
  packages/clerk-js/src/ui/elements/Action/ActionCard.tsx
  packages/clerk-js/src/ui/elements/Actions.tsx
  packages/clerk-js/src/ui/elements/ArrowBlockButton.tsx
  packages/clerk-js/src/ui/elements/BlockWithTrailingComponent.tsx
  packages/clerk-js/src/ui/elements/Card/CardFooter.tsx
  packages/clerk-js/src/ui/elements/Divider.tsx
  packages/clerk-js/src/ui/elements/FieldControl.tsx
  packages/clerk-js/src/ui/elements/Form.tsx
  packages/clerk-js/src/ui/elements/Gauge.tsx
  packages/clerk-js/src/ui/elements/IconCircle.tsx
  packages/clerk-js/src/ui/elements/InformationBox.tsx
  packages/clerk-js/src/ui/elements/Menu.tsx
  packages/clerk-js/src/ui/elements/Navbar.tsx
  packages/clerk-js/src/ui/elements/PasswordInput.tsx
  packages/clerk-js/src/ui/elements/PhoneInput/PhoneInput.tsx
  packages/clerk-js/src/ui/elements/PopoverCard.tsx
  packages/clerk-js/src/ui/elements/PreviewButton.tsx
  packages/clerk-js/src/ui/elements/Section.tsx
  packages/clerk-js/src/ui/elements/Select.tsx
  packages/clerk-js/src/ui/elements/SocialButtons.tsx
  packages/clerk-js/src/ui/elements/Tabs.tsx
  packages/clerk-js/src/ui/elements/TagInput.tsx
  packages/clerk-js/src/ui/elements/TileButton.tsx
  packages/clerk-js/src/ui/foundations/colors.ts
  packages/clerk-js/src/ui/foundations/index.ts
  packages/clerk-js/src/ui/primitives/Alert.tsx
  packages/clerk-js/src/ui/primitives/Button.tsx
  packages/clerk-js/src/ui/primitives/Icon.tsx
  packages/clerk-js/src/ui/primitives/Spinner.tsx
  packages/clerk-js/src/ui/primitives/Table.tsx
  packages/clerk-js/src/ui/styledSystem/common.ts
  packages/themes/src/themes/dark.ts
  packages/types/src/appearance.ts
Labels: types, clerk-js, themes

#2745 fix(backend): Preserve url protocol when joining paths
  .changeset/yellow-walls-worry.md
  packages/backend/src/util/__tests__/path.test.ts
  packages/backend/src/util/path.ts
Labels: backend

#2748 fix(clerk-js): Handle undefined props when mounting UI components
  .changeset/chatty-years-hope.md
  packages/clerk-js/src/ui/portal/index.tsx
Labels: clerk-js

#2754 fix(backend): Preserve url protocol when joining paths (#2745)
  .changeset/yellow-walls-worry.md
  packages/backend/src/util/path.test.ts
  packages/backend/src/util/path.ts
Labels: backend, cherry

#2738 chore(clerk-js): Add Turnstile retry for all 300xxx error codes
  .changeset/many-bottles-watch.md
  packages/clerk-js/src/utils/__tests__/captcha.test.ts
  packages/clerk-js/src/utils/captcha.ts
Labels: clerk-js

#2753 feat(clerk-js,themes): Introduce internal polished theme and a clerk theme that enables opt out
  .changeset/quick-walls-share.md
  packages/clerk-js/src/ui/customizables/__tests__/parseAppearance.test.tsx
  packages/clerk-js/src/ui/customizables/parseAppearance.ts
  packages/clerk-js/src/ui/customizables/parseVariables.ts
  packages/clerk-js/src/ui/foundations/colors.ts
  packages/clerk-js/src/ui/polishedAppearance.ts
  packages/clerk-js/src/ui/primitives/Button.tsx
  packages/clerk-js/src/ui/primitives/Input.tsx
  packages/themes/src/themes/index.ts
  packages/themes/src/themes/reset.ts
  playground/nextjs/pages/_app.tsx
Labels: clerk-js, playground, themes

#2747 fix(clerk-js): Use border-top for actions to improve scroll view
  .changeset/cuddly-oranges-ring.md
  packages/clerk-js/src/ui/components/OrganizationList/OrganizationListPage.tsx
  packages/clerk-js/src/ui/components/OrganizationList/shared.tsx
  packages/clerk-js/src/ui/components/OrganizationSwitcher/OrganizationSwitcherPopover.tsx
  packages/clerk-js/src/ui/components/OrganizationSwitcher/OtherOrganizationActions.tsx
  packages/clerk-js/src/ui/components/OrganizationSwitcher/UserMembershipList.tsx
  packages/clerk-js/src/ui/components/UserButton/SessionActions.tsx
  packages/clerk-js/src/ui/elements/Actions.tsx
  packages/clerk-js/src/ui/elements/PreviewButton.tsx
Labels: clerk-js

#2758 fix(clerk-js): Set navbutton color scheme to primary if active
  .changeset/smooth-forks-flash.md
  packages/clerk-js/src/ui/elements/Navbar.tsx
Labels: clerk-js

#2760 fix(clerk-react): Replace semver with custom regex in versionSelector
  .changeset/shiny-games-buy.md
  package-lock.json
  packages/clerk-js/package.json
  packages/react/package.json
  packages/react/src/utils/__tests__/versionSelector.test.ts
  packages/react/src/utils/versionSelector.ts
Labels: clerk-js, react

#2750 fix(clerk-js): Fix neutral alpha shades generation
  .changeset/new-wasps-impress.md
  packages/clerk-js/src/ui/customizables/parseVariables.ts
  packages/clerk-js/src/ui/utils/colorOptionToHslaScale.ts
  packages/types/src/appearance.ts
Labels: types, clerk-js

#2762 fix(clerk-js): Set box-sizing to border-box by default
  .changeset/light-doors-invent.md
  packages/clerk-js/src/ui/primitives/Box.tsx
  packages/clerk-js/src/ui/primitives/Input.tsx
Labels: clerk-js

#2761 fix(clerk-js): Finalize all text colors
  .changeset/proud-frogs-confess.md
  packages/clerk-js/src/ui/components/CreateOrganization/CreateOrganizationForm.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/MemberListTable.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationGeneralPage.tsx
  packages/clerk-js/src/ui/components/UserProfile/ConnectedAccountsSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/EnterpriseAccountsSection.tsx
  packages/clerk-js/src/ui/customizables/__tests__/parseAppearance.test.tsx
  packages/clerk-js/src/ui/customizables/parseVariables.ts
  packages/clerk-js/src/ui/elements/AvatarUploader.tsx
  packages/clerk-js/src/ui/elements/Card/CardContent.tsx
  packages/clerk-js/src/ui/elements/FieldControl.tsx
  packages/clerk-js/src/ui/elements/Pagination.tsx
  packages/clerk-js/src/ui/elements/PreviewButton.tsx
  packages/clerk-js/src/ui/elements/ProfileCard/ProfileCardRoot.tsx
  packages/clerk-js/src/ui/elements/TagInput.tsx
  packages/clerk-js/src/ui/foundations/colors.ts
  packages/clerk-js/src/ui/primitives/FormLabel.tsx
  packages/clerk-js/src/ui/primitives/Text.tsx
  packages/themes/src/themes/dark.ts
  packages/types/src/appearance.ts
Labels: types, clerk-js, themes

#2764 fix(clerk-js): Fix paddings in UserProfile
  .changeset/brown-foxes-own.md
  packages/clerk-js/src/ui/components/UserProfile/DeleteSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/PasswordSection.tsx
  packages/clerk-js/src/ui/elements/Tabs.tsx
Labels: clerk-js

#2757 fix(clerk-react): Properly fire onLoad event when clerk-js is already loaded
  .changeset/brown-lemons-film.md
  packages/react/src/contexts/ClerkContextProvider.tsx
  packages/react/src/isomorphicClerk.ts
Labels: react

#2767 fix(clerk-react): Properly fire onLoad event when clerk-js is already loaded (#2757)
  .changeset/brown-lemons-film.md
  packages/react/src/contexts/ClerkContextProvider.tsx
  packages/react/src/isomorphicClerk.ts
Labels: react, cherry

#2742 Version Packages - V4
  .changeset/brown-lemons-film.md
  .changeset/late-geckos-impress.md
  .changeset/many-bottles-watch.md
  .changeset/witty-eggs-punch.md
  .changeset/yellow-walls-worry.md
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/CHANGELOG.md
  packages/gatsby-plugin-clerk/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/shared/package.json
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
Labels: clerk-js, expo, chrome-extension

#2765 fix(nextjs,clerk-js,types): Stop Clerk component flickering when used in App Router
  .changeset/olive-files-listen.md
  packages/clerk-js/src/core/clerk.redirects.test.ts
  packages/clerk-js/src/core/clerk.test.ts
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/ui/router/BaseRouter.tsx
  packages/nextjs/src/app-router/client/useAwaitableNavigate.ts
  packages/nextjs/src/client-boundary/usePathnameWithoutCatchAll.tsx
  packages/types/src/clerk.ts
Labels: types, clerk-js, nextjs

#2768 fix(clerk-js): Override border inside variants in polishedAppearance
  .changeset/many-starfishes-warn.md
  packages/clerk-js/src/ui/polishedAppearance.ts
Labels: clerk-js

#2769 chore(themes): Rename reset theme to simple
  .changeset/giant-donuts-hear.md
  packages/themes/src/themes/index.ts
  packages/themes/src/themes/simple.ts
  playground/nextjs/pages/_app.tsx
Labels: playground, themes

#2772 fix(clerk-js): Use theme for polished outline button shadow
  .changeset/great-moons-suffer.md
  packages/clerk-js/src/ui/polishedAppearance.ts
Labels: clerk-js

#2776 fix(clerk-js): Fix error on MenuTrigger
  .changeset/calm-carrots-beg.md
  packages/clerk-js/src/ui/elements/Section.tsx
Labels: clerk-js

#2777 fix(clerk-js): Hide card footer when it's empty on mobile devices
  .changeset/warm-apricots-design.md
  packages/clerk-js/src/ui/elements/Card/CardFooter.tsx
Labels: clerk-js

#2779 fix(clerk-js): Remove unused db_jwt safeguard
  .changeset/forty-suits-care.md
  packages/clerk-js/src/core/devBrowser.ts
Labels: clerk-js

#2766 feat(backend): Add `banUser` to `UserApi`
  .changeset/soft-trees-battle.md
  packages/backend/src/api/endpoints/UserApi.ts
Labels: backend

#2774 feat(fastify): Introduce handshake
  .changeset/dull-seals-type.md
  packages/fastify/src/withClerkMiddleware.test.ts
  packages/fastify/src/withClerkMiddleware.ts
Labels: fastify

#2780 feat(backend): Add `unbanUser`, `lockUser`,`unlockUser` to UserApi
  .changeset/brown-masks-wonder.md
  packages/backend/src/api/endpoints/UserApi.ts
Labels: backend

#2773 feat(clerk-js): Use shadow border for inputs in polished theme
  .changeset/orange-hats-approve.md
  packages/clerk-js/src/ui/elements/FieldControl.tsx
  packages/clerk-js/src/ui/elements/PhoneInput/PhoneInput.tsx
  packages/clerk-js/src/ui/foundations/shadows.ts
  packages/clerk-js/src/ui/polishedAppearance.ts
  packages/clerk-js/src/ui/primitives/Input.tsx
  packages/clerk-js/src/ui/styledSystem/common.ts
Labels: clerk-js

#2744 feat(clerk-js): Scroll the card into view when opening in UP/OP
  .changeset/poor-rats-pump.md
  packages/clerk-js/src/testUtils.ts
  packages/clerk-js/src/ui/elements/Action/ActionOpen.tsx
Labels: clerk-js

#2783 feat(clerk-js): Add descriptors and translations for account switcher actions
  .changeset/friendly-apricots-camp.md
  packages/clerk-js/src/ui/components/OrganizationList/shared.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInAccountSwitcher.tsx
  packages/clerk-js/src/ui/components/UserButton/SessionActions.tsx
  packages/clerk-js/src/ui/customizables/elementDescriptors.ts
  packages/clerk-js/src/ui/elements/Card/CardAction.tsx
  packages/localizations/src/en-US.ts
  packages/types/src/appearance.ts
  packages/types/src/localization.ts
Labels: types, clerk-js, localizations

#2784 fix(clerk-js): Show the long error message on Connected Accounts
  .changeset/perfect-hairs-vanish.md
  packages/clerk-js/src/ui/components/UserProfile/ConnectedAccountsSection.tsx
  packages/clerk-js/src/ui/elements/ThreeDotsMenu.tsx
  packages/localizations/src/en-US.ts
  packages/types/src/localization.ts
Labels: types, clerk-js, localizations

#2791 feat(elements): Handle SSO callbacks
  packages/elements/src/internals/machines/sign-in/machines/router.machine.ts
  packages/elements/src/internals/machines/sign-up/machines/router.machine.ts
  packages/elements/src/internals/machines/third-party/machine.ts
  packages/elements/src/react/sign-in/root.tsx
Labels: elements

#2788 fix(clerk-js): Fix danger solid button box-shadow
  .changeset/shy-eggs-smell.md
  packages/clerk-js/src/ui/polishedAppearance.ts
Labels: clerk-js

#2787 fix(clerk-js): Fix radio checkbox box-shadow
  .changeset/cyan-insects-travel.md
  packages/clerk-js/src/ui/polishedAppearance.ts
Labels: clerk-js

#2786 fix(clerk-js): Fix tag input box-shadow
  .changeset/lucky-houses-exercise.md
  packages/clerk-js/src/ui/polishedAppearance.ts
Labels: clerk-js

#2789 fix(clerk-js): Fix border issue for invitation previews in OrganizationList
  .changeset/six-walls-fry.md
  packages/clerk-js/src/ui/components/OrganizationList/shared.tsx
Labels: clerk-js

#2663 Version Packages (beta-v5)
  .changeset/pre.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/CHANGELOG.md
  packages/gatsby-plugin-clerk/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, sdk-node, expo, chrome-extension, gatsby, themes, elements

#2792 fix(localizations): Update localizations according to the latest `en-US`
  .changeset/light-chairs-impress.md
  packages/clerk-js/src/ui/elements/CodeControl.tsx
  packages/localizations/package.json
  packages/localizations/src/ar-SA.ts
  packages/localizations/src/bg-BG.ts
  packages/localizations/src/cs-CZ.ts
  packages/localizations/src/da-DK.ts
  packages/localizations/src/de-DE.ts
  packages/localizations/src/el-GR.ts
  packages/localizations/src/en-US.ts
  packages/localizations/src/es-ES.ts
  packages/localizations/src/es-MX.ts
  packages/localizations/src/fr-FR.ts
  packages/localizations/src/he-IL.ts
  packages/localizations/src/index.ts
  packages/localizations/src/it-IT.ts
  packages/localizations/src/ja-JP.ts
  packages/localizations/src/ko-KR.ts
  packages/localizations/src/nb-NO.ts
  packages/localizations/src/nl-BE.ts
  packages/localizations/src/nl-NL.ts
  packages/localizations/src/pl-PL.ts
  packages/localizations/src/pt-BR.ts
  packages/localizations/src/pt-PT.ts
  packages/localizations/src/ro-RO.ts
  packages/localizations/src/ru-RU.ts
  packages/localizations/src/sk-SK.ts
  packages/localizations/src/sv-SE.ts
  packages/localizations/src/tr-TR.ts
  packages/localizations/src/uk-UA.ts
  packages/localizations/src/utils/generate.ts
  packages/localizations/src/vi-VN.ts
  packages/localizations/src/zh-CN.ts
  packages/localizations/src/zh-TW.ts
  packages/localizations/subpaths.mjs
  packages/types/src/localization.ts
Labels: types, clerk-js, localizations

#2785 fix(clerk-js): Fix clipped phone number picker in SignIn/SignUp
  .changeset/wet-seals-breathe.md
  packages/clerk-js/src/ui/elements/PhoneInput/PhoneInput.tsx
  packages/clerk-js/src/ui/elements/Select.tsx
  packages/clerk-js/src/ui/hooks/usePopover.ts
Labels: clerk-js

#2795 chore(repo): Adjust stale bot action
  .github/workflows/lock-threads.yml
Labels: actions

#2798 fix(clerk-js): Move Invite button to be aligned with members table in OP
  .changeset/unlucky-foxes-itch.md
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationMembers.tsx
Labels: clerk-js

#2751 feat(elements): Add temporary useIsLoading hook
  .changeset/hip-monkeys-boil.md
  packages/elements/examples/nextjs/app/sign-in/[[...sign-in]]/page.tsx
  packages/elements/examples/nextjs/components/loader.tsx
  packages/elements/src/react/sign-in/hooks/use-loading.hook.ts
  packages/elements/src/react/sign-in/index.ts
  packages/elements/src/react/utils/xstate.ts
Labels: elements

#2797 fix(elements): Misc stuff
  .changeset/lovely-students-occur.md
  packages/elements/package.json
  packages/elements/src/react/common/form/index.tsx
  packages/elements/src/react/common/index.ts
Labels: elements

#2794 feat(clerk-js,types): Ability to enable/disable animations
  .changeset/nervous-books-ring.md
  packages/clerk-js/src/ui/customizables/parseAppearance.ts
  packages/clerk-js/src/ui/elements/Animated.tsx
  packages/clerk-js/src/ui/elements/FormControl.tsx
  packages/types/src/appearance.ts
  playground/nextjs/pages/_app.tsx
Labels: types, clerk-js, playground

#2799 feat(elements): Forward refs and update types
  .changeset/tame-rings-add.md
  packages/elements/examples/nextjs/app/sign-in/[[...sign-in]]/page.tsx
  packages/elements/examples/nextjs/app/sign-up/[[...sign-up]]/page.tsx
  packages/elements/examples/nextjs/components/form.tsx
  packages/elements/examples/nextjs/components/loader.tsx
  packages/elements/examples/nextjs/components/sign-in-debug.tsx
  packages/elements/examples/nextjs/components/sign-up-debug.tsx
  packages/elements/package.json
  packages/elements/src/react/common/form/index.tsx
  packages/elements/src/react/common/form/otp.tsx
  packages/elements/src/react/common/index.ts
  packages/elements/src/react/sign-in/index.ts
  packages/elements/src/react/sign-in/start.tsx
  packages/elements/src/react/sign-in/verifications.tsx
  packages/elements/src/react/sign-up/continue.tsx
  packages/elements/src/react/sign-up/index.ts
  packages/elements/src/react/sign-up/start.tsx
  packages/elements/src/react/sign-up/verifications.tsx
Labels: elements

#2801 chore(repo): Adjust canary script
  .changeset/tender-pets-wash.md
  packages/elements/package.json
  scripts/canary.mjs
  scripts/common.mjs
Labels: elements

#2800 fix(clerk-js): Dynamic table border
  .changeset/six-experts-itch.md
  packages/clerk-js/src/ui/customizables/elementDescriptors.ts
  packages/clerk-js/src/ui/customizables/index.ts
  packages/clerk-js/src/ui/foundations/shadows.ts
  packages/clerk-js/src/ui/polishedAppearance.ts
  packages/clerk-js/src/ui/primitives/Table.tsx
  packages/types/src/appearance.ts
  playground/nextjs/pages/_app.tsx
Labels: types, clerk-js, playground

#2806 fix(elements): Fix typing of children props
  .changeset/nervous-cups-push.md
  packages/elements/package.json
  packages/elements/src/react/sign-in/root.tsx
  packages/elements/src/react/sign-in/verifications.tsx
  packages/elements/src/react/sign-up/root.tsx
  packages/elements/src/react/sign-up/verifications.tsx
  packages/elements/src/react/utils/create-context-from-actor-ref.ts
  packages/elements/src/types/clerk.d.ts
  packages/elements/src/types/common.d.ts
Labels: elements

#2804 fix(clerk-js): Move Invite button above the table in every tab for members page in OP
  .changeset/rude-needles-nail.md
  packages/clerk-js/src/ui/components/OrganizationProfile/MembersActions.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationMembers.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationMembersTabInvitations.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationMembersTabRequests.tsx
  packages/clerk-js/src/ui/elements/Tabs.tsx
  packages/localizations/src/ar-SA.ts
  packages/localizations/src/bg-BG.ts
  packages/localizations/src/cs-CZ.ts
  packages/localizations/src/da-DK.ts
  packages/localizations/src/de-DE.ts
  packages/localizations/src/el-GR.ts
  packages/localizations/src/en-US.ts
  packages/localizations/src/es-ES.ts
  packages/localizations/src/es-MX.ts
  packages/localizations/src/fr-FR.ts
  packages/localizations/src/he-IL.ts
  packages/localizations/src/it-IT.ts
  packages/localizations/src/ja-JP.ts
  packages/localizations/src/ko-KR.ts
  packages/localizations/src/nb-NO.ts
  packages/localizations/src/nl-NL.ts
  packages/localizations/src/pl-PL.ts
  packages/localizations/src/pt-BR.ts
  packages/localizations/src/pt-PT.ts
  packages/localizations/src/ro-RO.ts
  packages/localizations/src/ru-RU.ts
  packages/localizations/src/sk-SK.ts
  packages/localizations/src/sv-SE.ts
  packages/localizations/src/tr-TR.ts
  packages/localizations/src/uk-UA.ts
  packages/localizations/src/vi-VN.ts
  packages/localizations/src/zh-CN.ts
  packages/localizations/src/zh-TW.ts
  packages/types/src/localization.ts
Labels: types, clerk-js, localizations

#2809 Nikos/bunch of v5 changes
  .changeset/neat-poets-push.md
  .changeset/pre.json
  packages/clerk-js/src/core/resources/Session.ts
  packages/nextjs/src/server/authMiddleware.test.ts
  packages/nextjs/src/server/authMiddleware.ts
  packages/nextjs/src/server/clerkMiddleware.test.ts
  packages/nextjs/src/server/clerkMiddleware.ts
Labels: clerk-js, nextjs

#2810 fix(clerk-js): Fix country code to mach the rest of the text color when phone input it's disabled
  .changeset/quick-countries-notice.md
  packages/clerk-js/src/ui/elements/PhoneInput/PhoneInput.tsx
Labels: clerk-js

#2808 feat(elements): Support more Sign-In/Sign-Up stuff, fix MFA, add tests
  .changeset/ten-crews-rhyme.md
  packages/elements/examples/nextjs/app/sign-in/[[...sign-in]]/page.tsx
  packages/elements/examples/nextjs/app/sign-up/[[...sign-up]]/page.tsx
  packages/elements/jest.config.js
  packages/elements/src/internals/constants/index.ts
  packages/elements/src/internals/machines/sign-in/machines/index.ts
  packages/elements/src/internals/machines/sign-in/machines/router.machine.ts
  packages/elements/src/internals/machines/sign-in/machines/start.machine.ts
  packages/elements/src/internals/machines/sign-in/machines/verification.machine.ts
  packages/elements/src/internals/machines/sign-up/machines/router.machine.ts
  packages/elements/src/internals/machines/sign-up/machines/verification.machine.ts
  packages/elements/src/internals/machines/sign-up/sign-up.actors.ts
  packages/elements/src/internals/machines/sign-up/sign-up.machine.ts
  packages/elements/src/internals/machines/sign-up/utils/fields-to-params.ts
  packages/elements/src/internals/machines/utils/next.test.ts
  packages/elements/src/internals/machines/utils/next.ts
  packages/elements/src/react/common/index.ts
  packages/elements/src/react/hooks/use-active-tags.hook.test.ts
  packages/elements/src/react/hooks/use-active-tags.hook.ts
  packages/elements/src/react/sign-in/verifications.tsx
  packages/elements/src/react/sign-up/verifications.tsx
  packages/elements/src/react/utils/xstate.ts
  packages/elements/src/types/common.d.ts
  packages/elements/src/utils/test-utils.ts
  packages/elements/tsconfig.json
Labels: elements

#2756 Apply email link change to sign up
  .changeset/heavy-phones-rest.md
  .changeset/tiny-beds-yell.md
  packages/clerk-js/src/ui/contexts/ClerkUIComponentsContext.tsx
Labels: clerk-js

#2815 fix(clerk-js): Convert menu item button color scheme to neutral
  .changeset/sharp-zebras-warn.md
  packages/clerk-js/src/ui/elements/Menu.tsx
  packages/clerk-js/src/ui/elements/Section.tsx
Labels: clerk-js

#2816 fix(clerk-js): Correct focus order for popovers
  .changeset/brown-candles-rule.md
  packages/clerk-js/src/ui/elements/Popover.tsx
  packages/clerk-js/src/ui/elements/PopoverCard.tsx
Labels: clerk-js

#2812 fix(clerk-js): Fix padding for active device item in UP
  .changeset/seven-lizards-deliver.md
  packages/clerk-js/src/ui/components/UserProfile/ActiveDevicesSection.tsx
  packages/clerk-js/src/ui/elements/ThreeDotsMenu.tsx
Labels: clerk-js

#2814 fix(clerk-js): Align some sections in User Profile with the designs
  .changeset/nine-mangos-look.md
  packages/clerk-js/src/ui/components/OrganizationProfile/DomainList.tsx
  packages/clerk-js/src/ui/components/UserProfile/ActiveDevicesSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/ConnectedAccountsSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/EmailsSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/EnterpriseAccountsSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/MfaSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/PhoneSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/Web3Section.tsx
  packages/clerk-js/src/ui/elements/ArrowBlockButton.tsx
  packages/clerk-js/src/ui/elements/Section.tsx
  packages/clerk-js/src/ui/elements/ThreeDotsMenu.tsx
Labels: clerk-js

#2811 Version Packages (beta)
  .changeset/pre.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/CHANGELOG.md
  packages/gatsby-plugin-clerk/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, sdk-node, expo, chrome-extension, gatsby, themes, elements

#2819 chore(elements): Bump version
  .changeset/wicked-wasps-retire.md
  packages/elements/package.json
Labels: elements

#2817 fix(types): Update `docsUrl` for social auth providers
  .changeset/purple-ligers-wave.md
  packages/types/src/oauth.ts
Labels: types

#2813 fix(clerk-js): Removed animation for active devices
  .changeset/many-pillows-fold.md
  packages/clerk-js/src/ui/components/UserProfile/ActiveDevicesSection.tsx
  packages/clerk-js/src/ui/elements/Section.tsx
Labels: clerk-js

#2823 fix(elements): Improve OTP a11y
  .changeset/honest-onions-wink.md
  packages/elements/package.json
  packages/elements/src/react/common/form/index.tsx
  packages/elements/src/react/common/form/otp.tsx
  packages/elements/src/react/hooks/index.ts
  packages/elements/src/react/hooks/use-focus.hook.ts
Labels: elements

#2820 Version Packages (beta)
  .changeset/pre.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/CHANGELOG.md
  packages/gatsby-plugin-clerk/package.json
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/shared/package.json
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, sdk-node, expo, chrome-extension, gatsby, themes, elements

#2827 chore(elements): Clean up old code; Update XState deps
  .changeset/nasty-spies-yawn.md
  package-lock.json
  packages/elements/package.json
  packages/elements/src/internals/machines/sign-in/sign-in.actors.ts
  packages/elements/src/internals/machines/sign-in/sign-in.machine.ts
  packages/elements/src/internals/machines/sign-in/sign-in.types.ts
  packages/elements/src/internals/machines/sign-in/sign-in.utils.ts
  packages/elements/src/internals/machines/sign-up/sign-up.actors.ts
  packages/elements/src/internals/machines/sign-up/sign-up.machine.ts
  packages/elements/src/react/sign-up/context/sign-up.context.ts
Labels: elements

#2825 feat(elements): Add Step component [SDK-1364]
  .changeset/unlucky-bags-peel.md
  package-lock.json
  packages/elements/examples/nextjs/app/layout.tsx
  packages/elements/examples/nextjs/app/sign-in/[[...sign-in]]/page.tsx
  packages/elements/examples/nextjs/app/sign-up/[[...sign-up]]/page.tsx
  packages/elements/examples/nextjs/components/design.tsx
  packages/elements/examples/nextjs/components/form.tsx
  packages/elements/examples/nextjs/package.json
  packages/elements/examples/nextjs/tailwind.config.ts
  packages/elements/package.json
  packages/elements/src/internals/constants/index.ts
  packages/elements/src/internals/machines/sign-in/machines/router.machine.ts
  packages/elements/src/internals/machines/sign-in/machines/start.machine.ts
  packages/elements/src/internals/machines/sign-in/sign-in.actors.ts
  packages/elements/src/internals/machines/sign-in/sign-in.machine.ts
  packages/elements/src/internals/machines/sign-in/sign-in.types.ts
  packages/elements/src/internals/machines/sign-in/sign-in.utils.ts
  packages/elements/src/internals/machines/sign-in/types/router.types.ts
  packages/elements/src/internals/machines/sign-in/types/start.types.ts
  packages/elements/src/internals/machines/sign-up/machines/router.machine.ts
  packages/elements/src/internals/machines/sign-up/machines/start.machine.ts
  packages/elements/src/internals/machines/sign-up/sign-up.actors.ts
  packages/elements/src/internals/machines/sign-up/sign-up.machine.ts
  packages/elements/src/internals/machines/sign-up/types/router.types.ts
  packages/elements/src/internals/machines/third-party/machine.ts
  packages/elements/src/internals/machines/third-party/types.ts
  packages/elements/src/internals/machines/types/router.types.ts
  packages/elements/src/react/hooks/use-third-party-provider.hook.ts
  packages/elements/src/react/sign-in/index.ts
  packages/elements/src/react/sign-in/social-providers.tsx
  packages/elements/src/react/sign-in/step.tsx
  packages/elements/src/react/sign-in/verifications.tsx
  packages/elements/src/react/sign-up/context/sign-up.context.ts
  packages/elements/src/react/sign-up/index.ts
  packages/elements/src/react/sign-up/social-providers.tsx
  packages/elements/src/react/sign-up/step.tsx
Labels: elements

#2829 fix(clerk-js): Align email and phone verification cancel behaviour
  .changeset/eight-geese-hang.md
  packages/clerk-js/src/ui/components/UserProfile/PhoneForm.tsx
Labels: clerk-js

#2826 fix(clerk-js): Fix polished theme & some style changes for phone input
  .changeset/orange-bears-return.md
  packages/clerk-js/src/ui/elements/PhoneInput/PhoneInput.tsx
  packages/clerk-js/src/ui/elements/Select.tsx
  packages/clerk-js/src/ui/polishedAppearance.ts
Labels: clerk-js

#2831 fix(clerk-js): Fix close button spacing in modals
  .changeset/khaki-seahorses-compete.md
  packages/clerk-js/src/ui/elements/Card/CardContent.tsx
  packages/clerk-js/src/ui/elements/ProfileCard/ProfileCardRoot.tsx
Labels: clerk-js

#2832 fix(clerk-js): Fix tag pill shadow in polished theme
  .changeset/fluffy-olives-listen.md
  packages/clerk-js/src/ui/polishedAppearance.ts
Labels: clerk-js

#2834 fix(clerk-js): Fix 'Already have an account?' inconsistency in `<SignUp/>` screens
  .changeset/odd-tigers-trade.md
  packages/clerk-js/src/ui/components/SignUp/SignUpContinue.tsx
Labels: clerk-js

#2835 fix(clerk-js): Align mfa button behaviour with the rest of the profile sections
  .changeset/odd-snakes-study.md
  packages/clerk-js/src/ui/components/UserProfile/MfaSection.tsx
Labels: clerk-js

#2837 feat(elements): Add `autoSubmit` prop to OTP input
  .changeset/cyan-pumpkins-try.md
  packages/elements/examples/nextjs/app/otp-playground/page.tsx
  packages/elements/examples/nextjs/app/sign-in/[[...sign-in]]/page.tsx
  packages/elements/examples/nextjs/components/form.tsx
  packages/elements/package.json
  packages/elements/src/react/common/form/otp.tsx
Labels: elements

#2836 fix(clerk-js): Change the sign out of all devices info text
  .changeset/metal-days-float.md
  packages/clerk-js/src/ui/components/UserProfile/PasswordForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/UpdatePasswordForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/__tests__/PasswordSection.test.tsx
  packages/localizations/src/ar-SA.ts
  packages/localizations/src/bg-BG.ts
  packages/localizations/src/cs-CZ.ts
  packages/localizations/src/da-DK.ts
  packages/localizations/src/de-DE.ts
  packages/localizations/src/el-GR.ts
  packages/localizations/src/en-US.ts
  packages/localizations/src/es-ES.ts
  packages/localizations/src/es-MX.ts
  packages/localizations/src/fr-FR.ts
  packages/localizations/src/he-IL.ts
  packages/localizations/src/it-IT.ts
  packages/localizations/src/ja-JP.ts
  packages/localizations/src/ko-KR.ts
  packages/localizations/src/nb-NO.ts
  packages/localizations/src/nl-NL.ts
  packages/localizations/src/pl-PL.ts
  packages/localizations/src/pt-BR.ts
  packages/localizations/src/pt-PT.ts
  packages/localizations/src/ro-RO.ts
  packages/localizations/src/ru-RU.ts
  packages/localizations/src/sk-SK.ts
  packages/localizations/src/sv-SE.ts
  packages/localizations/src/tr-TR.ts
  packages/localizations/src/uk-UA.ts
  packages/localizations/src/vi-VN.ts
  packages/localizations/src/zh-CN.ts
  packages/localizations/src/zh-TW.ts
  packages/types/src/localization.ts
Labels: types, clerk-js, localizations

#2830 chore(elements): Add JSDoc comments to public API
  .changeset/nine-yaks-buy.md
  packages/elements/package.json
  packages/elements/src/react/common/form/index.tsx
  packages/elements/src/react/hooks/use-third-party-provider.hook.ts
  packages/elements/src/react/sign-in/social-providers.tsx
  packages/elements/src/react/sign-in/step.tsx
  packages/elements/src/react/sign-up/social-providers.tsx
  packages/elements/src/react/sign-up/step.tsx
Labels: elements

#2838 feat(elements): Go Back Component [SDK-1384]
  .changeset/fresh-kings-join.md
  packages/elements/src/react/sign-in/go-back.tsx
  packages/elements/src/react/sign-in/index.ts
  packages/elements/src/react/sign-up/go-back.tsx
  packages/elements/src/react/sign-up/index.ts
Labels: elements

#2842 chore(clerk-js): Remove duplication of factor comparators
  .changeset/clever-bananas-turn.md
  packages/clerk-js/src/ui/components/SignIn/strategies/factorSortingUtils.tsx
  packages/clerk-js/src/ui/components/SignIn/utils.ts
  packages/clerk-js/src/ui/utils/__tests__/factorSorting.test.ts
Labels: clerk-js

#2843 fix(clerk-js,localizations): Improve text on username, password screens
  .changeset/good-dogs-attack.md
  packages/clerk-js/src/ui/components/OrganizationProfile/VerifiedDomainForm.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/__tests__/OrganizationGeneralPage.test.tsx
  packages/clerk-js/src/ui/components/UserProfile/PasswordForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/PasswordSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/UpdatePasswordForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/UsernameForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/UsernameSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/__tests__/AccountPage.test.tsx
  packages/clerk-js/src/ui/components/UserProfile/__tests__/PasswordSection.test.tsx
  packages/clerk-js/src/ui/components/UserProfile/__tests__/UserProfileSection.test.tsx
  packages/clerk-js/src/ui/components/UserProfile/__tests__/UsernameSection.test.tsx
  packages/localizations/src/ar-SA.ts
  packages/localizations/src/bg-BG.ts
  packages/localizations/src/cs-CZ.ts
  packages/localizations/src/da-DK.ts
  packages/localizations/src/de-DE.ts
  packages/localizations/src/el-GR.ts
  packages/localizations/src/en-US.ts
  packages/localizations/src/es-ES.ts
  packages/localizations/src/es-MX.ts
  packages/localizations/src/fr-FR.ts
  packages/localizations/src/he-IL.ts
  packages/localizations/src/it-IT.ts
  packages/localizations/src/ja-JP.ts
  packages/localizations/src/ko-KR.ts
  packages/localizations/src/nb-NO.ts
  packages/localizations/src/nl-NL.ts
  packages/localizations/src/pl-PL.ts
  packages/localizations/src/pt-BR.ts
  packages/localizations/src/pt-PT.ts
  packages/localizations/src/ro-RO.ts
  packages/localizations/src/ru-RU.ts
  packages/localizations/src/sk-SK.ts
  packages/localizations/src/sv-SE.ts
  packages/localizations/src/tr-TR.ts
  packages/localizations/src/uk-UA.ts
  packages/localizations/src/vi-VN.ts
  packages/localizations/src/zh-CN.ts
  packages/localizations/src/zh-TW.ts
  packages/types/src/localization.ts
Labels: types, clerk-js, localizations

#2847 feat(elements): Progressive sign up [SDK-1383]
  .changeset/lemon-steaks-sin.md
  packages/elements/examples/nextjs/app/sign-up/[[...sign-up]]/page.tsx
  packages/elements/examples/nextjs/components/form.tsx
  packages/elements/src/internals/machines/form/form.machine.ts
  packages/elements/src/internals/machines/form/form.types.ts
  packages/elements/src/internals/machines/sign-up/machines/continue.machine.ts
  packages/elements/src/react/common/form/index.tsx
Labels: elements

#2846 perf(elements): Reduces the overall weight of the machines [SDK-1391] [SDK-1390]
  .changeset/slimy-lions-applaud.md
  packages/elements/examples/nextjs/app/sign-up/[[...sign-up]]/page.tsx
  packages/elements/examples/nextjs/components/form.tsx
  packages/elements/package.json
  packages/elements/src/internals/machines/form/form.machine.ts
  packages/elements/src/internals/machines/form/form.types.ts
  packages/elements/src/internals/machines/sign-in/machines/router.machine.ts
  packages/elements/src/internals/machines/sign-in/machines/start.machine.ts
  packages/elements/src/internals/machines/sign-in/machines/verification.machine.ts
  packages/elements/src/internals/machines/sign-in/types/start.types.ts
  packages/elements/src/internals/machines/sign-in/types/verification.types.ts
  packages/elements/src/internals/machines/sign-up/machines/continue.machine.ts
  packages/elements/src/internals/machines/sign-up/machines/router.machine.ts
  packages/elements/src/internals/machines/sign-up/machines/start.machine.ts
  packages/elements/src/internals/machines/sign-up/machines/verification.machine.ts
  packages/elements/src/internals/machines/sign-up/types/continue.types.ts
  packages/elements/src/internals/machines/sign-up/types/start.types.ts
  packages/elements/src/internals/machines/sign-up/types/verification.types.ts
  packages/elements/src/internals/machines/third-party/actors.ts
  packages/elements/src/internals/machines/third-party/machine.ts
  packages/elements/src/internals/machines/third-party/types.ts
  packages/elements/src/react/common/form/index.tsx
  packages/elements/src/react/hooks/use-third-party-provider.hook.ts
  packages/elements/src/react/sign-in/index.ts
  packages/elements/src/react/sign-up/index.ts
Labels: elements

#2839 feat(clerk-js): Add count badges to tabs in Members page in OP
  .changeset/light-cherries-build.md
  packages/clerk-js/src/ui/common/NotificationCountBadge.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationMembers.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/__tests__/OrganizationMembers.test.tsx
  packages/clerk-js/src/ui/primitives/NotificationBadge.tsx
  packages/clerk-js/src/ui/utils/__tests__/intl.test.ts
  packages/clerk-js/src/ui/utils/intl.ts
Labels: clerk-js

#2848 fix(clerk-js): Avoid using border-(dir) styles
  .changeset/spotty-hotels-cheat.md
  packages/clerk-js/src/ui/components/CreateOrganization/CreateOrganizationForm.tsx
  packages/clerk-js/src/ui/components/OrganizationList/OrganizationListPage.tsx
  packages/clerk-js/src/ui/components/OrganizationList/shared.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationMembersTabInvitations.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationMembersTabRequests.tsx
  packages/clerk-js/src/ui/components/OrganizationSwitcher/OrganizationSwitcherPopover.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInAccountSwitcher.tsx
  packages/clerk-js/src/ui/components/UserButton/SessionActions.tsx
  packages/clerk-js/src/ui/components/UserProfile/MfaBackupCodeList.tsx
  packages/clerk-js/src/ui/elements/Accordion.tsx
  packages/clerk-js/src/ui/elements/Action/ActionCard.tsx
  packages/clerk-js/src/ui/elements/Avatar.tsx
  packages/clerk-js/src/ui/elements/Card/CardContent.tsx
  packages/clerk-js/src/ui/elements/Card/CardFooter.tsx
  packages/clerk-js/src/ui/elements/Card/CardRoot.tsx
  packages/clerk-js/src/ui/elements/Form.tsx
  packages/clerk-js/src/ui/elements/InputGroup.tsx
  packages/clerk-js/src/ui/elements/Menu.tsx
  packages/clerk-js/src/ui/elements/Navbar.tsx
  packages/clerk-js/src/ui/elements/PhoneInput/PhoneInput.tsx
  packages/clerk-js/src/ui/elements/PopoverCard.tsx
  packages/clerk-js/src/ui/elements/ProfileCard/ProfileCardContent.tsx
  packages/clerk-js/src/ui/elements/Section.tsx
  packages/clerk-js/src/ui/elements/Tabs.tsx
  packages/clerk-js/src/ui/elements/TagInput.tsx
  packages/clerk-js/src/ui/foundations/borders.ts
  packages/clerk-js/src/ui/foundations/defaultFoundations.ts
  packages/clerk-js/src/ui/polishedAppearance.ts
  packages/clerk-js/src/ui/primitives/Badge.tsx
  packages/clerk-js/src/ui/primitives/Button.tsx
  packages/clerk-js/src/ui/primitives/Input.tsx
  packages/clerk-js/src/ui/primitives/NotificationBadge.tsx
  packages/clerk-js/src/ui/primitives/Table.tsx
  packages/clerk-js/src/ui/styledSystem/common.ts
Labels: clerk-js

#2851 chore(repo): Add github action for semgrep to run security scans in monitoring mode
  .github/workflows/semgrep.yml
Labels: actions

#2852 fix(themes): Rename the `simple` theme to `__unstable_simple`
  .changeset/tall-seahorses-cheat.md
  packages/themes/src/themes/simple.ts
  playground/nextjs/pages/_app.tsx
Labels: playground, themes

#2853 fix(clerk-js): Use a fixed border radius value for OrganizationAvatar
  .changeset/lovely-teachers-hammer.md
  packages/clerk-js/src/ui/elements/Avatar.tsx
  packages/clerk-js/src/ui/foundations/sizes.ts
Labels: clerk-js

#2855 feat(elements): OTP Improvements
  .changeset/thick-poems-play.md
  package-lock.json
  packages/elements/examples/nextjs/app/otp-playground/page.tsx
  packages/elements/src/react/common/form/otp.tsx
  packages/elements/src/react/hooks/use-focus.hook.ts
Labels: elements

#2849 fix(clerk-js): Fix outline border for Phone input
  .changeset/famous-waves-tie.md
  packages/clerk-js/src/ui/elements/PhoneInput/PhoneInput.tsx
  packages/clerk-js/src/ui/polishedAppearance.ts
Labels: clerk-js

#2861 fix(clerk-js): Fix gap for Forgot password screen
  .changeset/small-dodos-marry.md
  packages/clerk-js/src/ui/components/SignIn/AlternativeMethods.tsx
Labels: clerk-js

#2860 chore(themes): Rename `__unstable_simple` to `experimental__simple`
  .changeset/serious-rivers-repeat.md
  packages/themes/src/themes/simple.ts
  playground/nextjs/pages/_app.tsx
Labels: playground, themes

#2862 fix(clerk-js): Change the opacity of the generated `colorTextSecondary` color
  .changeset/sixty-boats-stare.md
  packages/clerk-js/src/ui/customizables/parseVariables.ts
Labels: clerk-js

#2858 fix(clerk-js,shared): Remove __clerk_db_jwt from hash on clerk-js init
  .changeset/happy-points-relax.md
  packages/clerk-js/src/core/devBrowser.ts
  packages/shared/src/__tests__/devbrowser.test.ts
  packages/shared/src/devBrowser.ts
  packages/shared/src/index.ts
Labels: clerk-js

#2857 fix(clerk-js,types): Always append db jwt as a searchParams
  .changeset/tasty-emus-exist.md
  packages/clerk-js/src/core/clerk.redirects.test.ts
  packages/clerk-js/src/core/clerk.test.ts
  packages/clerk-js/src/core/clerk.ts
  packages/nextjs/src/server/authMiddleware.ts
  packages/nextjs/src/server/url.ts
  packages/react/src/isomorphicClerk.ts
  packages/shared/src/__tests__/devbrowser.test.ts
  packages/shared/src/devBrowser.ts
  packages/types/src/clerk.ts
Labels: types, clerk-js, nextjs, react

#2854 feat(elements): Choose alternate strategy [SDK-1171]
  .changeset/thick-paws-beg.md
  .changeset/warm-dragons-think.md
  package-lock.json
  packages/elements/examples/nextjs/app/sign-in/[[...sign-in]]/page.tsx
  packages/elements/examples/nextjs/components/form.tsx
  packages/elements/package.json
  packages/elements/src/internals/machines/sign-in/machines/router.machine.ts
  packages/elements/src/internals/machines/sign-in/machines/start.machine.ts
  packages/elements/src/internals/machines/sign-in/machines/verification.machine.ts
  packages/elements/src/internals/machines/sign-in/types/router.types.ts
  packages/elements/src/internals/machines/sign-in/types/verification.types.ts
  packages/elements/src/internals/machines/sign-up/machines/continue.machine.ts
  packages/elements/src/internals/machines/sign-up/machines/router.machine.ts
  packages/elements/src/internals/machines/sign-up/machines/start.machine.ts
  packages/elements/src/internals/machines/sign-up/machines/verification.machine.ts
  packages/elements/src/internals/machines/sign-up/types/router.types.ts
  packages/elements/src/internals/machines/types/router.types.ts
  packages/elements/src/react/common/form/index.tsx
  packages/elements/src/react/common/form/types.ts
  packages/elements/src/react/sign-in/choose-strategy.tsx
  packages/elements/src/react/sign-in/go-back.tsx
  packages/elements/src/react/sign-in/index.ts
  packages/elements/src/react/sign-in/navigation.tsx
  packages/elements/src/react/sign-in/step.tsx
  packages/elements/src/react/sign-in/verifications.tsx
  packages/elements/src/react/sign-up/go-back.tsx
  packages/elements/src/react/sign-up/index.ts
  packages/elements/src/react/sign-up/navigation.tsx
  packages/elements/src/react/sign-up/step.tsx
Labels: elements

#2863 Version Packages (beta)
  .changeset/pre.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/CHANGELOG.md
  packages/gatsby-plugin-clerk/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
Labels: clerk-js, nextjs, react, remix, backend, fastify, sdk-node, expo, chrome-extension, gatsby, elements

#2866 fix(elements): Improve `determineInputTypeFromName`
  .changeset/late-jobs-sort.md
  packages/elements/package.json
  packages/elements/src/react/common/form/index.tsx
  packages/elements/src/react/sign-in/choose-strategy.tsx
  packages/elements/src/react/sign-up/navigation.tsx
Labels: elements

#2865 Version Packages - V4
  .changeset/tasty-emus-exist.md
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/CHANGELOG.md
  packages/gatsby-plugin-clerk/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, sdk-node, expo, chrome-extension, gatsby, themes

#2870 Version Packages (beta)
  .changeset/pre.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/CHANGELOG.md
  packages/gatsby-plugin-clerk/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
Labels: clerk-js, nextjs, react, remix, backend, fastify, sdk-node, expo, chrome-extension, gatsby, elements

#2871 fix(clerk-js): Add missing border on <UserButton/> popover footer
  .changeset/rotten-cougars-refuse.md
  packages/clerk-js/src/ui/elements/PopoverCard.tsx
Labels: clerk-js

#2878 fix(clerk-js): Avoid duplicate global errors in OrganizationList
  .changeset/gentle-masks-retire.md
  packages/clerk-js/src/ui/components/OrganizationList/OrganizationListPage.tsx
Labels: clerk-js

#2877 fix(clerk-js): Remove handshake related query params in clerk-js
  .changeset/short-bikes-kneel.md
  package-lock.json
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/utils/getClerkQueryParam.ts
Labels: clerk-js

#2876 chore(localizations): Change the generate script to add `undefined` on new keys
  .changeset/polite-comics-cheer.md
  packages/localizations/src/ar-SA.ts
  packages/localizations/src/bg-BG.ts
  packages/localizations/src/cs-CZ.ts
  packages/localizations/src/da-DK.ts
  packages/localizations/src/de-DE.ts
  packages/localizations/src/el-GR.ts
  packages/localizations/src/en-US.ts
  packages/localizations/src/es-ES.ts
  packages/localizations/src/es-MX.ts
  packages/localizations/src/fr-FR.ts
  packages/localizations/src/he-IL.ts
  packages/localizations/src/it-IT.ts
  packages/localizations/src/ja-JP.ts
  packages/localizations/src/ko-KR.ts
  packages/localizations/src/nb-NO.ts
  packages/localizations/src/nl-NL.ts
  packages/localizations/src/pl-PL.ts
  packages/localizations/src/pt-BR.ts
  packages/localizations/src/pt-PT.ts
  packages/localizations/src/ro-RO.ts
  packages/localizations/src/ru-RU.ts
  packages/localizations/src/sk-SK.ts
  packages/localizations/src/sv-SE.ts
  packages/localizations/src/tr-TR.ts
  packages/localizations/src/uk-UA.ts
  packages/localizations/src/utils/enUS_v4.ts
  packages/localizations/src/utils/generate.ts
  packages/localizations/src/utils/utils.ts
  packages/localizations/src/vi-VN.ts
  packages/localizations/src/zh-CN.ts
  packages/localizations/src/zh-TW.ts
Labels: localizations

#2881 fix(clerk-js): Trim emails, usernames and identifiers
  .changeset/warm-news-wonder.md
  .changeset/wet-bats-tickle.md
  packages/clerk-js/src/ui/components/SignIn/SignInStart.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpStart.tsx
  packages/clerk-js/src/ui/primitives/Input.tsx
  packages/clerk-js/src/ui/utils/useFormControl.ts
Labels: clerk-js

#2859 fix(clerk-js): Cleanup input related styles for polished appearance
  .changeset/grumpy-rats-laugh.md
  packages/clerk-js/src/ui/customizables/elementDescriptors.ts
  packages/clerk-js/src/ui/customizables/index.ts
  packages/clerk-js/src/ui/elements/FieldControl.tsx
  packages/clerk-js/src/ui/elements/RadioGroup.tsx
  packages/clerk-js/src/ui/elements/Select.tsx
  packages/clerk-js/src/ui/elements/TagInput.tsx
  packages/clerk-js/src/ui/elements/__tests__/RadioGroup.test.tsx
  packages/clerk-js/src/ui/polishedAppearance.ts
  packages/clerk-js/src/ui/primitives/Input.tsx
  packages/types/src/appearance.ts
Labels: types, clerk-js

#2887 fix(types): Fix the `appearance.baseTheme` type to accept array of `BaseTheme`
  .changeset/curvy-kids-sip.md
  packages/types/src/appearance.ts
Labels: types

#2892 fix(clerk-js): Include transformer props in sanitization
  .changeset/quiet-jokes-travel.md
  packages/clerk-js/src/ui/primitives/hooks/useFormControl.tsx
Labels: clerk-js
