Repository clerk/javascript, pull requests merged in 2025-02, with the labels that each got.

#5068 Revert "fix(tanstack-start): Fix event handler return type mismatch"
  .changeset/quiet-ties-walk.md
  packages/tanstack-start/package.json
  packages/tanstack-start/src/server/middlewareHandler.ts
  pnpm-lock.yaml
Labels: tanstack

#5067 chore(nuxt): Add `<Waitlist />` component to auto-imported components
  .changeset/serious-candles-obey.md
  packages/nuxt/src/module.ts
Labels: nuxt

#4945 chore(clerk-js): Bump Coinbase sdk version
  .changeset/green-panthers-act.md
  packages/clerk-js/bundlewatch.config.json
  packages/clerk-js/package.json
  packages/clerk-js/rspack.config.js
  packages/clerk-js/src/utils/web3.ts
  playground/app-router/src/app/page.tsx
  pnpm-lock.yaml
Labels: clerk-js, playground

#5073 fix(nextjs): Fix infinite redirect loop when page does not exist
  .changeset/twenty-doors-glow.md
  integration/tests/next-quickstart-keyless.test.ts
  packages/nextjs/src/app-router/client/keyless-cookie-sync.tsx
  packages/nextjs/src/app-router/client/keyless-creator-reader.tsx
  packages/nextjs/src/app-router/keyless-actions.ts
Labels: nextjs, integration

#4898 feat(nextjs): Enable Keyless by default
  .changeset/new-lemons-try.md
  packages/nextjs/src/server/constants.ts
  packages/nextjs/src/utils/feature-flags.ts
Labels: nextjs

#5070 ci(repo): Version packages
  .changeset/green-panthers-act.md
  .changeset/new-lemons-try.md
  .changeset/quiet-ties-walk.md
  .changeset/serious-candles-obey.md
  .changeset/twenty-doors-glow.md
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/tanstack-start/CHANGELOG.md
  packages/tanstack-start/package.json
Labels: clerk-js, nextjs, expo, chrome-extension, tanstack, nuxt

#5075 fix(testing): Fix captcha triggering issue in Playwright tests
  .changeset/smooth-insects-perform.md
  packages/testing/src/playwright/setupClerkTestingToken.ts
  packages/types/src/json.ts
Labels: types, testing

#5076 ci(repo): Version packages
  .changeset/smooth-insects-perform.md
  packages/testing/CHANGELOG.md
  packages/testing/package.json
Labels: testing

#5078 chore(e2e): Run keyless e2e tests in staging database
  integration/models/applicationConfig.ts
  integration/presets/envs.ts
  integration/tests/next-quickstart-keyless.test.ts
Labels: integration

#5054 fix(e2e): Always navigate to `/protected` after account creation in Oauth flow tests
  .changeset/tame-roses-rule.md
  integration/templates/next-app-router/src/app/buttons/page.tsx
Labels: integration

#5080 Update the browser extension playground
  .changeset/fair-pianos-provide.md
  playground/browser-extension/README.md
  playground/browser-extension/package.json
  playground/browser-extension/src/assets/chrome-extension-sdk-2.jpg
  playground/browser-extension/src/assets/dark-logo.png
  playground/browser-extension/src/assets/icon.png
  playground/browser-extension/src/assets/light-logo.png
  playground/browser-extension/src/background/index.ts
  playground/browser-extension/src/components/nav-bar.tsx
  playground/browser-extension/src/components/ui/button.tsx
  playground/browser-extension/src/popup/index.tsx
  playground/browser-extension/src/popup/layouts/root-layout.tsx
  playground/browser-extension/src/popup/routes/home.tsx
  playground/browser-extension/src/popup/routes/index.tsx
  playground/browser-extension/src/popup/routes/sdk-features.tsx
  playground/browser-extension/src/popup/routes/settings.tsx
  playground/browser-extension/src/popup/routes/sign-in.tsx
  playground/browser-extension/src/popup/routes/sign-up.tsx
  playground/browser-extension/src/sidepanel/index.tsx
  playground/browser-extension/src/tabs/background-worker-demo.tsx
  playground/browser-extension/src/utils/components.ts
Labels: playground

#5072 chore(clerk-js): Add virtual routing deprecation warning
  .changeset/friendly-ears-bow.md
  packages/clerk-js/src/ui/lazyModules/providers.tsx
Labels: clerk-js

#5030 fix(clerk-js): Ensure only one action is present in UserProfile sections
  .changeset/seven-games-arrive.md
  packages/clerk-js/src/ui/components/UserProfile/ConnectedAccountsMenu.tsx
  packages/clerk-js/src/ui/components/UserProfile/ConnectedAccountsSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/EmailsSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/MfaSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/PasskeySection.tsx
  packages/clerk-js/src/ui/components/UserProfile/PhoneSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/Web3Form.tsx
  packages/clerk-js/src/ui/components/UserProfile/Web3Section.tsx
  packages/clerk-js/src/ui/components/UserProfile/__tests__/ConnectedAccountsSection.test.tsx
  packages/clerk-js/src/ui/components/UserProfile/__tests__/EmailsSection.test.tsx
  packages/clerk-js/src/ui/components/UserProfile/__tests__/MfaPage.test.tsx
  packages/clerk-js/src/ui/components/UserProfile/__tests__/PasskeysSection.test.tsx
  packages/clerk-js/src/ui/components/UserProfile/__tests__/PhoneSection.test.tsx
  packages/clerk-js/src/ui/elements/Action/ActionRoot.tsx
  packages/clerk-js/src/ui/elements/Section.tsx
Labels: clerk-js

#5069 fix(clerk-react): Re-render `<UserButton />` when `<UserButton />` props change
  .changeset/healthy-panthers-shave.md
  integration/templates/react-vite/src/custom-user-button/with-dynamic-labels.tsx
  integration/templates/react-vite/src/main.tsx
  integration/tests/custom-pages.test.ts
  packages/react/src/components/ClerkHostRenderer.tsx
Labels: react, integration

#5083 fix(clerk-js): Prevent infinite loop when client is blocked
  .changeset/tasty-socks-hide.md
  packages/clerk-js/src/core/clerk.ts
Labels: clerk-js

#5082 ci(repo): Version packages
  .changeset/fair-pianos-provide.md
  .changeset/friendly-ears-bow.md
  .changeset/healthy-panthers-shave.md
  .changeset/seven-games-arrive.md
  .changeset/tame-roses-rule.md
  .changeset/tasty-socks-hide.md
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/tanstack-start/CHANGELOG.md
  packages/tanstack-start/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Labels: clerk-js, nextjs, react, remix, expo, chrome-extension, elements, tanstack, react-router

#5085 fix(nextjs): Pass keyless credentials to request data only missing explicit keys
  .changeset/chilled-starfishes-jam.md
  packages/nextjs/src/server/clerkMiddleware.ts
  packages/nextjs/src/server/utils.ts
Labels: nextjs

#4767 feat(clerk-js): Add Frontend API URL to allowed redirect origins
  .changeset/silver-dodos-invite.md
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/utils/__tests__/url.test.ts
  packages/clerk-js/src/utils/url.ts
Labels: clerk-js

#4985 chore(shared,react-router,tanstack-start): Create shared environment variable retrieval function
  .changeset/eleven-cougars-film.md
  .changeset/unlucky-gifts-obey.md
  packages/react-router/src/ssr/loadOptions.ts
  packages/react-router/src/utils/env.ts
  packages/shared/global.d.ts
  packages/shared/package.json
  packages/shared/src/getEnvVariable.ts
  packages/shared/src/index.ts
  packages/shared/tsup.config.ts
  packages/tanstack-start/src/server/constants.ts
  packages/tanstack-start/src/server/loadOptions.ts
  packages/tanstack-start/src/server/utils/index.ts
  packages/tanstack-start/src/utils/env.ts
Labels: tanstack, react-router

#5094 chore(clerk-js): Remove unused dev dependencies
  .changeset/nervous-humans-repeat.md
  packages/clerk-js/package.json
  pnpm-lock.yaml
Labels: clerk-js

#5081 chore(localizations): Update "profile" treatment on latin-american spanish
  .changeset/shaggy-rocks-look.md
  packages/localizations/src/es-MX.ts
Labels: localizations

#5100 fix(themes): Invert OKX Wallet icon in dark theme
  .changeset/metal-jokes-notice.md
  packages/themes/src/themes/dark.ts
Labels: themes

#5095 fix(clerk-js): Avoid triggering email code verification twice on React strict mode
  .changeset/witty-cougars-tickle.md
  packages/clerk-js/src/ui/components/SignIn/SignInFactorOneCodeForm.tsx
Labels: clerk-js

#5090 feat(clerk-js,types): Add `menuButtonEllipsis` descriptor
  .changeset/heavy-eggs-deliver.md
  packages/clerk-js/src/ui/customizables/elementDescriptors.ts
  packages/clerk-js/src/ui/elements/ThreeDotsMenu.tsx
  packages/types/src/appearance.ts
Labels: types, clerk-js

#5101 chore(vue): Remove `customPages` prop types from UI components
  .changeset/curvy-flowers-whisper.md
  packages/vue/src/components/ui-components/OrganizationProfile/OrganizationProfile.vue
  packages/vue/src/components/ui-components/UserButton/UserButton.vue
  packages/vue/src/components/ui-components/UserProfile/UserProfile.vue
Labels: vue

#5097 chore(backend): Deprecate usage of the `oauth_` prefix in `getUserOauthAccessToken()`
  .changeset/violet-seas-speak.md
  packages/backend/src/api/__tests__/factory.test.ts
  packages/backend/src/api/endpoints/UserApi.ts
Labels: backend

#5119 chore(clerk-js, ui): Replace usage of deprecated providers
  .changeset/curly-apes-hide.md
  packages/clerk-js/src/ui/components/SignIn/__tests__/SignInStart.test.tsx
  packages/clerk-js/src/ui/components/SignUp/__tests__/SignUpStart.test.tsx
  packages/clerk-js/src/ui/hooks/__tests__/useEnabledThirdPartyProviders.test.tsx
  packages/ui/src/hooks/use-enabled-connections.ts
Labels: clerk-js

#5120 chore(clerk-js): Bump Coinbase sdk version to `4.3.0`
  .changeset/forty-tools-jump.md
  packages/clerk-js/bundlewatch.config.json
  packages/clerk-js/package.json
  pnpm-lock.yaml
Labels: clerk-js

#5102 fix(clerk-expo): Accept custom redirect URL for SSO callback
  .changeset/flat-horses-battle.md
  packages/expo/src/hooks/useSSO.ts
Labels: expo

#5128 fix(vue): Include missing `UserProfileLink` component inside `<UserButton />` component
  .changeset/grumpy-kangaroos-ring.md
  integration/templates/vue-vite/src/components/CustomUserButton.vue
  integration/tests/vue/components.test.ts
  packages/vue/src/components/ui-components/UserButton/index.ts
Labels: integration, vue

#5123 Fix typos
  docs/PUBLISH.md
  integration/README.md
  integration/certs/README.md
  packages/astro/CHANGELOG.md
  packages/backend/CHANGELOG.md
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/README.md
  packages/clerk-js/CHANGELOG.md
  packages/elements/CHANGELOG.md
  packages/expo/CHANGELOG.md
  packages/localizations/CHANGELOG.md
  packages/nextjs/CHANGELOG.md
  packages/react/CHANGELOG.md
  packages/remix/CHANGELOG.md
  packages/shared/CHANGELOG.md
  packages/themes/CHANGELOG.md
  packages/types/CHANGELOG.md
  packages/ui/CHANGELOG.md
  packages/upgrade/src/versions/core-2/chrome-extension/clerkprovider-tokencache.md
  playground/browser-extension/README.md
Labels: types, clerk-js, nextjs, react, remix, backend, localizations, expo, chrome-extension, playground, themes, integration, elements, astro

#5104 feat(astro): Add support for type-safe environment variables
  .changeset/chilly-suns-beg.md
  packages/astro/package.json
  packages/astro/src/integration/create-integration.ts
  packages/astro/tsconfig.json
  pnpm-lock.yaml
Labels: astro

#5134 feat(astro): Add appearance option to Astro unstyled components
  packages/astro/src/astro-components/unstyled/SignInButton.astro
  packages/astro/src/astro-components/unstyled/SignOutButton.astro
  packages/astro/src/astro-components/unstyled/SignUpButton.astro
  packages/astro/src/types.ts
Labels: astro

#5131 Add legal consent localizations for hr-HR
  .changeset/soft-flowers-tan.md
  packages/localizations/src/hr-HR.ts
Labels: localizations

#5129 feat(vue): `<OrganizationProfile>` custom pages and links through `<OrganizationSwitcher>`
  .changeset/unlucky-readers-sleep.md
  integration/templates/vue-vite/src/App.vue
  integration/templates/vue-vite/src/views/Home.vue
  integration/templates/vue-vite/src/views/custom-pages/OrganizationProfile.vue
  integration/tests/vue/components.test.ts
  packages/vue/src/components/index.ts
  packages/vue/src/components/ui-components/OrganizationSwitcher.vue
  packages/vue/src/components/ui-components/OrganizationSwitcher/OrganizationSwitcher.vue
  packages/vue/src/components/ui-components/OrganizationSwitcher/index.ts
Labels: integration, vue

#5091 fix(nextjs): Shallow routing for in-component navigations
  .changeset/quiet-ladybugs-reply.md
  packages/nextjs/src/app-router/client/ClerkProvider.tsx
  packages/nextjs/src/app-router/client/useInternalNavFun.ts
  packages/nextjs/src/global.d.ts
  packages/types/src/snapshots.ts
  packages/types/src/utils.ts
Labels: types, nextjs

#5141 fix(clerk-js): Update web3 `signUpContinueUrl` when in combined flow
  .changeset/angry-ravens-grin.md
  packages/clerk-js/bundlewatch.config.json
  packages/clerk-js/src/ui/components/SignIn/SignInSocialButtons.tsx
Labels: clerk-js

#5152 chore(clerk-js): Remove `@clerk/ui` dependency
  .changeset/chilled-dogs-live.md
  packages/clerk-js/package.json
  pnpm-lock.yaml
Labels: clerk-js

#5154 fix(nextjs): Update `clerkMiddleware` request callback to accept an async function
  .changeset/fast-teachers-attack.md
  packages/nextjs/src/server/__tests__/clerkMiddleware.test.ts
  packages/nextjs/src/server/clerkMiddleware.ts
Labels: nextjs

#5155 chore(nuxt,vue): Re-export error handling utilities from `@clerk/shared`
  .changeset/strong-onions-roll.md
  packages/nuxt/package.json
  packages/nuxt/src/runtime/errors.ts
  packages/nuxt/tsup.config.ts
  packages/vue/package.json
  packages/vue/src/errors.ts
  packages/vue/tsup.config.ts
Labels: nuxt, vue

#5158 feat(nuxt): Introduce `getAuth()` helper
  .changeset/spicy-turtles-tease.md
  integration/tests/nuxt/middleware.test.ts
  packages/nuxt/src/runtime/server/errors.ts
  packages/nuxt/src/runtime/server/getAuth.ts
  packages/nuxt/src/runtime/server/index.ts
Labels: integration, nuxt

#5161 fix(clerk-js): Pass unsafeMetadata to nested sign-up context in combined flow
  .changeset/small-llamas-love.md
  integration/templates/next-app-router/src/app/sign-in-or-up/[[...catchall]]/page.tsx
  integration/templates/next-app-router/src/app/sign-up/[[...catchall]]/page.tsx
  integration/testUtils/usersService.ts
  integration/tests/sign-in-or-up-component.test.ts
  integration/tests/unsafeMetadata.test.ts
  packages/clerk-js/src/ui/components/SignIn/SignIn.tsx
Labels: clerk-js, integration

#5150 fix(clerk-js): Ensure withSignUp is collected in telemetry
  .changeset/good-olives-unite.md
  packages/clerk-js/src/core/clerk.ts
  packages/shared/src/telemetry/events/component-mounted.ts
  packages/types/src/telemetry.ts
Labels: types, clerk-js

#5162 fix(clerk-js): Trigger re-verification when changing primary email
  .changeset/early-beans-notice.md
  packages/clerk-js/src/ui/components/UserProfile/EmailsSection.tsx
Labels: clerk-js

#5163 fix(clerk-js): Track usage of custom pages and custom items
  .changeset/unlucky-doors-yawn.md
  packages/clerk-js/src/core/clerk.ts
Labels: clerk-js

#5169 fix(clerk-js): Remove logo from verification alternative methods card
  .changeset/dirty-crabs-happen.md
  packages/clerk-js/src/ui/components/UserVerification/AlternativeMethods.tsx
Labels: clerk-js

#5168 chore(vue,shared): Move `getCurrentOrganizationMembership` helper to shared package
  .changeset/rotten-jokes-destroy.md
  packages/shared/package.json
  packages/shared/src/__tests__/organization.test.ts
  packages/shared/src/organization.ts
  packages/shared/src/react/hooks/useOrganization.tsx
  packages/vue/src/composables/useOrganization.ts
Labels: vue

#5170 chore(clerk-js,types): Initialize `tasks` on `Session` resource
  .changeset/plenty-peas-pretend.md
  packages/clerk-js/src/core/resources/Session.ts
  packages/types/src/json.ts
  packages/types/src/session.ts
Labels: types, clerk-js

#5136 feat(clerk-js): Handle new session `pending` status as authenticated state
  .changeset/nasty-mangos-live.md
  .changeset/proud-cycles-roll.md
  packages/astro/src/stores/internal.ts
  packages/clerk-js/src/core/__tests__/clerk.redirects.test.ts
  packages/clerk-js/src/core/__tests__/clerk.test.ts
  packages/clerk-js/src/core/auth/cookies/clientUat.ts
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/resources/Client.ts
  packages/clerk-js/src/ui/components/ImpersonationFab/ImpersonationFab.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInAccountSwitcher.tsx
  packages/clerk-js/src/ui/components/UserButton/SessionActions.tsx
  packages/clerk-js/src/ui/components/UserButton/UserButtonPopover.tsx
  packages/clerk-js/src/ui/components/UserButton/useMultisessionActions.tsx
  packages/clerk-js/src/ui/components/UserProfile/ActiveDevicesSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/__tests__/SecurityPage.test.tsx
  packages/clerk-js/src/ui/hooks/useMultipleSessions.ts
  packages/elements/src/react/sign-in/choose-session/__tests__/choose-session.test.tsx
  packages/elements/src/react/sign-in/choose-session/choose-session.hooks.ts
  packages/elements/src/react/sign-in/choose-session/choose-session.tsx
  packages/expo/src/provider/singleton/createClerkInstance.ts
  packages/react/src/components/controlComponents.tsx
  packages/react/src/isomorphicClerk.ts
  packages/shared/src/deriveState.ts
  packages/shared/src/react/contexts.tsx
  packages/types/src/clerk.ts
  packages/types/src/client.ts
  packages/types/src/hooks.ts
  packages/types/src/session.ts
  packages/vue/src/components/controlComponents.ts
  packages/vue/src/types.ts
Labels: types, clerk-js, react, expo, elements, astro, vue

#5188 fix(*): Update some package.json conditional exports
  .changeset/olive-elephants-share.md
  packages/agent-toolkit/package.json
  packages/astro/package.json
  packages/nuxt/package.json
  packages/react-router/package.json
  packages/vue/package.json
Labels: astro, react-router, nuxt, vue, agent-toolkit

#5198 chore(repo): Use `--profile` flag for attw
  .changeset/sour-dryers-shave.md
  package.json
  packages/agent-toolkit/package.json
  packages/astro/package.json
  packages/backend/package.json
  packages/chrome-extension/package.json
  packages/clerk-js/package.json
  packages/elements/package.json
  packages/express/package.json
  packages/fastify/package.json
  packages/localizations/package.json
  packages/nextjs/package.json
  packages/nuxt/package.json
  packages/react-router/package.json
  packages/react/package.json
  packages/remix/package.json
  packages/shared/package.json
  packages/tanstack-start/package.json
  packages/themes/package.json
  packages/types/package.json
  packages/vue/package.json
  pnpm-lock.yaml
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, chrome-extension, themes, elements, express, tanstack, astro, react-router, nuxt, vue, agent-toolkit

#5133 fix(clerk-js): Broadcast sign out to all tabs on long lived clients
  .changeset/new-fishes-rescue.md
  integration/testUtils/index.ts
  integration/tests/sign-out-smoke.test.ts
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/events.ts
  packages/clerk-js/src/core/resources/Client.ts
  packages/clerk-js/src/core/resources/User.ts
Labels: clerk-js, integration

#5191 feat(repo): Add viewport meta tag to template
  .changeset/tall-hounds-smell.md
  packages/clerk-js/sandbox/template.html
Labels: clerk-js

#5199 chore(clerk-js): Utilize the `action` property of Turnstile
  .changeset/sixty-ways-melt.md
  packages/clerk-js/src/core/auth/CaptchaHeartbeat.ts
  packages/clerk-js/src/core/fraudProtection.ts
  packages/clerk-js/src/core/resources/SignUp.ts
  packages/clerk-js/src/utils/captcha/CaptchaChallenge.ts
  packages/clerk-js/src/utils/captcha/turnstile.ts
  packages/clerk-js/src/utils/captcha/types.ts
Labels: clerk-js

#5126 fix(clerk-js): Update org member search alignment
  .changeset/heavy-seas-complain.md
  packages/clerk-js/src/ui/components/OrganizationProfile/MembersActions.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/MembersSearch.tsx
Labels: clerk-js

#5200 chore(clerk-js): Split email link types and types for `__clerk_status`
  .changeset/witty-penguins-end.md
  packages/clerk-js/src/ui/common/EmailLinkStatusCard.tsx
  packages/clerk-js/src/ui/common/EmailLinkVerify.tsx
  packages/clerk-js/src/utils/getClerkQueryParam.ts
Labels: clerk-js

#5211 chore(react-router): Internal environment variables clean up
  .changeset/healthy-ladybugs-drum.md
  packages/react-router/src/utils/env.ts
Labels: react-router

#5197 chore(clerk-react): Align types between Clerk and IsomorphicClerk
  .changeset/new-pots-itch.md
  packages/react/src/isomorphicClerk.ts
Labels: react

#5226 chore(backend): Remove unused `JWKS_CACHE_TTL_MS`
  .changeset/rude-meals-grab.md
  packages/backend/src/constants.ts
  packages/backend/src/tokens/keys.ts
Labels: backend

#5185 feat(clerk-js): Track usage of UI modals
  .changeset/poor-cobras-sin.md
  packages/clerk-js/src/core/clerk.ts
  packages/shared/src/telemetry/events/component-mounted.ts
Labels: clerk-js

#5228 fix(clerk-js): Transform node_modules with swc
  .changeset/moody-owls-return.md
  packages/clerk-js/bundlewatch.config.json
  packages/clerk-js/rspack.config.js
Labels: clerk-js

#5189 chore(repo): Add DTS generation as separate script
  .changeset/chilled-bananas-poke.md
  package.json
  packages/backend/tsconfig.json
  packages/elements/package.json
  packages/nextjs/tsconfig.json
  packages/react/package.json
  packages/react/tsconfig.declarations.json
  packages/react/tsconfig.json
  packages/shared/package.json
  packages/shared/tsconfig.declarations.json
  packages/shared/tsconfig.json
  packages/types/package.json
  packages/types/tsconfig.declarations.json
  turbo.json
Labels: types, nextjs, react, backend, elements

#5144 feat(shared): Replace `callWithRetry` and `runWithExponentialBackoff` with `retry`
  .changeset/metal-bobcats-wash.md
  packages/backend/src/tokens/keys.ts
  packages/backend/src/util/shared.ts
  packages/clerk-js/src/core/fapiClient.ts
  packages/clerk-js/src/core/resources/Session.ts
  packages/shared/package.json
  packages/shared/src/__tests__/callWithRetry.test.ts
  packages/shared/src/__tests__/retry.test.ts
  packages/shared/src/callWithRetry.ts
  packages/shared/src/index.ts
  packages/shared/src/loadScript.ts
  packages/shared/src/retry.ts
  packages/shared/src/utils/__tests__/runWithExponentialBackOff.test.ts
  packages/shared/src/utils/index.ts
  packages/shared/src/utils/runWithExponentialBackOff.ts
Labels: clerk-js, backend

#5230 chore(clerk-js): Fix bundlewatch size
  .changeset/shaggy-pandas-joke.md
  packages/clerk-js/bundlewatch.config.json
Labels: clerk-js

#5227 fix(nuxt): Resolve duplicated imports warning
  .changeset/lemon-zebras-film.md
  packages/nuxt/src/module.ts
Labels: nuxt

#5231 fix(clerk-js): Update headless bundle size
  .changeset/sour-walls-camp.md
  packages/clerk-js/bundlewatch.config.json
Labels: clerk-js

#5232 fix(repo): Run pnpm without --preserve-env
  .github/workflows/ci.yml
  .gitignore
  integration/README.md
  integration/certs/README.md
  integration/scripts/proxyServer.ts
  integration/tests/non-secure-context.test.ts
  integration/tests/sessions/root-subdomain-prod-instances.test.ts
Labels: actions, integration

#5234 chore(tanstack-start): Migrate to `@tanstack/react-start`
  .changeset/rude-hats-chew.md
  integration/templates/next-app-router-quickstart/src/app/globals.css
  integration/templates/next-app-router/src/app/globals.css
  integration/templates/react-cra/src/index.css
  integration/templates/tanstack-router/package.json
  integration/templates/tanstack-start/app.config.ts
  integration/templates/tanstack-start/app/client.tsx
  integration/templates/tanstack-start/app/routes/__root.tsx
  integration/templates/tanstack-start/app/ssr.tsx
  integration/templates/tanstack-start/package.json
  packages/tanstack-start/package.json
  pnpm-lock.yaml
Labels: integration, tanstack

#5184 feat(clerk-js,types): Introduce `captcha` appearance property for the CAPTCHA widget
  .changeset/fluffy-hairs-thank.md
  packages/clerk-js/bundlewatch.config.json
  packages/clerk-js/src/ui/components/BlankCaptchaModal/index.tsx
  packages/clerk-js/src/ui/customizables/__tests__/parseAppearance.test.tsx
  packages/clerk-js/src/ui/customizables/parseAppearance.ts
  packages/clerk-js/src/ui/elements/CaptchaElement.tsx
  packages/clerk-js/src/utils/captcha/turnstile.ts
  packages/types/src/appearance.ts
Labels: types, clerk-js

#5233 fix(clerk-js): Correctly handle scroll lock for multiple modals
  .changeset/eight-goats-suffer.md
  packages/clerk-js/bundlewatch.config.json
  packages/clerk-js/src/ui/elements/Modal.tsx
  packages/clerk-js/src/ui/hooks/index.ts
  packages/clerk-js/src/ui/hooks/useScrollLock.ts
Labels: clerk-js

#5236 feat(nextjs): Track usage of pages and app router
  .changeset/eighty-emus-smile.md
  .changeset/tricky-rings-trade.md
  packages/nextjs/src/app-router/client/ClerkProvider.tsx
  packages/nextjs/src/pages/ClerkProvider.tsx
  packages/nextjs/src/utils/router-telemetry.ts
  packages/shared/src/telemetry/collector.ts
  packages/shared/src/telemetry/events/framework-metadata.ts
  packages/shared/src/telemetry/events/index.ts
Labels: nextjs

#5235 feat(vue,nuxt): Add function to dynamically update Clerk options
  .changeset/fast-bananas-visit.md
  integration/presets/vue.ts
  integration/templates/vue-vite/src/App.vue
  integration/templates/vue-vite/src/components/LanguagePicker.vue
  integration/tests/vue/components.test.ts
  packages/nuxt/src/module.ts
  packages/nuxt/src/runtime/client/index.ts
  packages/vue/src/index.ts
  packages/vue/src/utils/index.ts
  packages/vue/src/utils/updateClerkOptions.ts
Labels: integration, nuxt, vue

#5190 chore(repo): Dispatch events to sdk-infra-workers
  .github/workflows/release-canary.yml
  .github/workflows/release.yml
Labels: actions

#5206 Update zh-TW.ts
  packages/localizations/src/zh-TW.ts
Labels: localizations

#5244 fix(clerk-js): Issue with scroll locking on modals
  .changeset/mean-roses-dress.md
  packages/clerk-js/src/ui/elements/Modal.tsx
  packages/clerk-js/src/ui/hooks/useScrollLock.ts
Labels: clerk-js

#5247 ci(repo): Version packages
  .changeset/itchy-pigs-learn.md
  .changeset/mean-roses-dress.md
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/dev-cli/CHANGELOG.md
  packages/dev-cli/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
Labels: clerk-js, expo, chrome-extension

#5171 fix(clerk-js): Remove setActive() call from signOut()
  .changeset/dry-tigers-mate.md
  .changeset/silver-masks-knock.md
  integration/templates/next-app-router/src/app/page.tsx
  integration/templates/next-app-router/src/app/protected/page.tsx
  integration/templates/react-vite/src/App.tsx
  integration/templates/react-vite/src/protected/index.tsx
  integration/tests/sign-out-smoke.test.ts
  packages/clerk-js/src/core/__tests__/clerk.test.ts
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/global.d.ts
  packages/clerk-js/src/utils/beforeUnloadTracker.ts
  packages/nextjs/src/app-router/client/ClerkProvider.tsx
  packages/nextjs/src/global.d.ts
Labels: clerk-js, nextjs, integration
