Repository clerk/javascript, pull requests merged in 2025-08, with the labels that each got.

#6455 fix(clerk-js): Always prefer oauth popup flow in an iframe
  .changeset/slow-loops-mix.md
  packages/clerk-js/src/ui/utils/__tests__/originPrefersPopup.spec.ts
  packages/clerk-js/src/ui/utils/originPrefersPopup.ts
  packages/clerk-js/src/utils/runtime.ts
Labels: clerk-js

#6458 fix(clerk-js): Pass valid DOM property to input
  .changeset/shaky-baboons-taste.md
  packages/clerk-js/src/ui/primitives/Input.tsx
Labels: clerk-js

#6459 chore(vue): Remove `treatPendingAsSignedOut` from `useSession`
  .changeset/sixty-dogs-film.md
  packages/vue/src/composables/useSession.ts
Labels: vue

#6461 fix(clerk-js): Fix multi-session navigation for hash routing
  .changeset/warm-lies-dance.md
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/ui/components/SignIn/SignInAccountSwitcher.tsx
Labels: clerk-js

#6473 fix(clerk-js, shared, nextjs): Improve typesafety of `useCheckout`
  .changeset/brown-wings-shake.md
  packages/clerk-js/src/ui/components/Checkout/CheckoutForm.tsx
  packages/clerk-js/src/ui/components/Checkout/CheckoutPage.tsx
  packages/shared/src/react/hooks/__tests__/useCheckout.type.spec.ts
  packages/shared/src/react/hooks/useCheckout.ts
Labels: clerk-js

#6477 fix(nextjs): Propagate `treatPendingAsSignedOut` to `auth` from `clerkMiddleware`
  .changeset/tricky-planets-cry.md
  packages/nextjs/src/server/clerkMiddleware.ts
Labels: nextjs

#6476 fix(e2e): Refactor redirect URL check for workspace-selection
  .changeset/strong-games-dream.md
  integration/tests/next-quickstart-keyless.test.ts
Labels: integration

#6454 ci(repo): Version packages
  .changeset/brown-wings-shake.md
  .changeset/eager-cats-attend.md
  .changeset/eighty-bobcats-act.md
  .changeset/four-coins-film.md
  .changeset/nasty-shirts-behave.md
  .changeset/rare-laws-stop.md
  .changeset/shaky-baboons-taste.md
  .changeset/sixty-dogs-film.md
  .changeset/slow-loops-mix.md
  .changeset/strong-games-dream.md
  .changeset/tricky-planets-cry.md
  .changeset/warm-lies-dance.md
  .changeset/yellow-radios-stop.md
  packages/agent-toolkit/CHANGELOG.md
  packages/agent-toolkit/package.json
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/expo-passkeys/CHANGELOG.md
  packages/expo-passkeys/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/tanstack-react-start/CHANGELOG.md
  packages/tanstack-react-start/package.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, expo, chrome-extension, themes, elements, express, testing, tanstack, astro, react-router, nuxt, vue, agent-toolkit

#6446 feat(clerk-js,clerk-react,types): Introduce `TaskChooseOrganization`
  .changeset/brown-garlics-boil.md
  integration/tests/session-tasks-eject-flow.test.ts
  packages/clerk-js/bundlewatch.config.json
  packages/clerk-js/sandbox/app.ts
  packages/clerk-js/sandbox/template.html
  packages/clerk-js/src/core/__tests__/clerk.test.ts
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/warnings.ts
  packages/clerk-js/src/ui/common/organizations/OrganizationPreview.tsx
  packages/clerk-js/src/ui/components/CreateOrganization/CreateOrganizationForm.tsx
  packages/clerk-js/src/ui/components/OrganizationList/OrganizationListPage.tsx
  packages/clerk-js/src/ui/components/OrganizationList/UserMembershipList.tsx
  packages/clerk-js/src/ui/components/OrganizationList/shared.tsx
  packages/clerk-js/src/ui/components/SessionTasks/index.tsx
  packages/clerk-js/src/ui/components/SessionTasks/tasks/TaskChooseOrganization/ChooseOrganizationScreen.tsx
  packages/clerk-js/src/ui/components/SessionTasks/tasks/TaskChooseOrganization/CreateOrganizationScreen.tsx
  packages/clerk-js/src/ui/components/SessionTasks/tasks/TaskChooseOrganization/__tests__/TaskChooseOrganization.test.tsx
  packages/clerk-js/src/ui/components/SessionTasks/tasks/TaskChooseOrganization/index.tsx
  packages/clerk-js/src/ui/components/SessionTasks/tasks/TaskSelectOrganization.tsx
  packages/clerk-js/src/ui/components/SessionTasks/tasks/withTaskGuard.ts
  packages/clerk-js/src/ui/contexts/ClerkUIComponentsContext.tsx
  packages/clerk-js/src/ui/contexts/components/SessionTasks.ts
  packages/clerk-js/src/ui/customizables/elementDescriptors.ts
  packages/clerk-js/src/ui/elements/contexts/index.tsx
  packages/clerk-js/src/ui/hooks/useOrganizationListInView.ts
  packages/clerk-js/src/ui/lazyModules/components.ts
  packages/clerk-js/src/ui/types.ts
  packages/clerk-js/src/ui/utils/test/fixtureHelpers.ts
  packages/localizations/src/en-US.ts
  packages/nextjs/src/client-boundary/uiComponents.tsx
  packages/nextjs/src/index.ts
  packages/react-router/src/__tests__/__snapshots__/exports.test.ts.snap
  packages/react/src/components/index.ts
  packages/react/src/components/uiComponents.tsx
  packages/react/src/isomorphicClerk.ts
  packages/remix/src/__tests__/__snapshots__/exports.test.ts.snap
  packages/tanstack-react-start/src/__tests__/__snapshots__/exports.test.ts.snap
  packages/testing/src/playwright/unstable/page-objects/sessionTask.ts
  packages/types/src/appearance.ts
  packages/types/src/clerk.ts
  packages/types/src/elementIds.ts
  packages/types/src/localization.ts
Labels: types, clerk-js, nextjs, react, remix, localizations, integration, testing, tanstack, react-router

#6472 fix(clerk-js, shared, clerk-react): Make props of PlanDetails stricter
  .changeset/shaky-sloths-unite.md
  packages/clerk-js/src/ui/components/Plans/__tests__/PlanDetails.test.tsx
  packages/clerk-js/src/ui/lazyModules/providers.tsx
  packages/react/src/components/PlanDetailsButton.tsx
  packages/types/src/clerk.ts
Labels: types, clerk-js, react

#6478 chore(nextjs): Add machine secret key environment variable to BAPI client init
  .changeset/pink-countries-hunt.md
  packages/astro/src/env.d.ts
  packages/astro/src/integration/create-integration.ts
  packages/astro/src/server/clerk-client.ts
  packages/astro/src/server/get-safe-env.ts
  packages/express/src/utils.ts
  packages/fastify/src/clerkClient.ts
  packages/fastify/src/constants.ts
  packages/nextjs/src/server/constants.ts
  packages/nextjs/src/server/createClerkClient.ts
  packages/nuxt/src/global.d.ts
  packages/nuxt/src/module.ts
  packages/nuxt/src/runtime/server/clerkClient.ts
  packages/react-router/src/ssr/authenticateRequest.ts
  packages/react-router/src/ssr/loadOptions.ts
  packages/react-router/src/ssr/types.ts
  packages/remix/src/ssr/authenticateRequest.ts
  packages/remix/src/ssr/loadOptions.ts
  packages/remix/src/ssr/types.ts
  packages/tanstack-react-start/src/server/authenticateRequest.ts
  packages/tanstack-react-start/src/server/clerkClient.ts
  packages/tanstack-react-start/src/server/constants.ts
  packages/tanstack-react-start/src/server/loadOptions.ts
  packages/tanstack-react-start/src/server/types.ts
Labels: nextjs, remix, fastify, express, tanstack, astro, react-router, nuxt

#6489 fix(e2e): Narrow range of fake phone numbers
  .changeset/afraid-planets-fly.md
  integration/testUtils/usersService.ts
Labels: integration

#6450 feat(clerk-js,clerk-react,types): Introduce state signals
  .changeset/dull-cups-accept.md
  packages/clerk-js/bundlewatch.config.json
  packages/clerk-js/package.json
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/events.ts
  packages/clerk-js/src/core/resources/SignIn.ts
  packages/clerk-js/src/core/signals.ts
  packages/clerk-js/src/core/state.ts
  packages/react/src/experimental.ts
  packages/react/src/hooks/useClerkSignal.ts
  packages/react/src/isomorphicClerk.ts
  packages/types/src/clerk.ts
  packages/types/src/index.ts
  packages/types/src/signIn.ts
  packages/types/src/state.ts
  pnpm-lock.yaml
Labels: types, clerk-js, react

#6481 ci(repo): Version packages
  .changeset/afraid-planets-fly.md
  .changeset/brown-garlics-boil.md
  .changeset/dull-cups-accept.md
  .changeset/early-bats-shout.md
  .changeset/hot-tables-worry.md
  .changeset/pink-countries-hunt.md
  .changeset/shaky-papers-push.md
  .changeset/shaky-sloths-unite.md
  .changeset/strong-chicken-lie.md
  .changeset/twenty-poems-push.md
  packages/agent-toolkit/CHANGELOG.md
  packages/agent-toolkit/package.json
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/expo-passkeys/CHANGELOG.md
  packages/expo-passkeys/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/tanstack-react-start/CHANGELOG.md
  packages/tanstack-react-start/package.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, expo, chrome-extension, themes, elements, express, testing, tanstack, astro, react-router, nuxt, vue, agent-toolkit

#6514 chore(clerk-js,shared): Increase sampling for ui components on keyless
  .changeset/bitter-waves-burn.md
  .changeset/slow-shoes-give.md
  packages/clerk-js/bundlewatch.config.json
  packages/clerk-js/src/core/clerk.ts
  packages/shared/src/__tests__/telemetry.test.ts
  packages/shared/src/telemetry/collector.ts
  packages/shared/src/telemetry/events/component-mounted.ts
  packages/shared/src/telemetry/types.ts
Labels: clerk-js

#6519 chore(clerk-js): Add new v0 domain to popup preferred origins
  .changeset/twelve-breads-repair.md
  packages/clerk-js/src/ui/utils/originPrefersPopup.ts
Labels: clerk-js

#6518 refactor(clerk-js): Expand ApplicationLogo usage for oAuth logo
  .changeset/chilly-ravens-cover.md
  packages/clerk-js/src/ui/components/OAuthConsent/OAuthConsent.tsx
  packages/clerk-js/src/ui/elements/ApplicationLogo.tsx
  packages/clerk-js/src/ui/primitives/Link.tsx
Labels: clerk-js

#6513 chore(clerk-js, types): Cleanup naming inconsistencies in billing dates
  .changeset/brown-news-unite.md
  packages/clerk-js/src/core/resources/CommerceSubscription.ts
  packages/clerk-js/src/ui/components/PricingTable/PricingTable.tsx
  packages/clerk-js/src/ui/components/PricingTable/PricingTableDefault.tsx
  packages/clerk-js/src/ui/components/SubscriptionDetails/__tests__/SubscriptionDetails.test.tsx
  packages/clerk-js/src/ui/components/SubscriptionDetails/index.tsx
  packages/clerk-js/src/ui/components/Subscriptions/SubscriptionsList.tsx
  packages/clerk-js/src/ui/contexts/components/Plans.tsx
  packages/types/src/commerce.ts
  packages/types/src/json.ts
Labels: types, clerk-js

#6510 ci(repo): Version packages
  .changeset/bitter-waves-burn.md
  .changeset/brown-news-unite.md
  .changeset/chilly-ravens-cover.md
  .changeset/eight-walls-flash.md
  .changeset/evil-ideas-stop.md
  .changeset/happy-dodos-sneeze.md
  .changeset/mean-jobs-stare.md
  .changeset/shiny-pants-jump.md
  .changeset/slow-shoes-give.md
  .changeset/twelve-breads-repair.md
  .changeset/wild-loops-write.md
  packages/agent-toolkit/CHANGELOG.md
  packages/agent-toolkit/package.json
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/expo-passkeys/CHANGELOG.md
  packages/expo-passkeys/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/tanstack-react-start/CHANGELOG.md
  packages/tanstack-react-start/package.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, expo, chrome-extension, themes, elements, express, testing, tanstack, astro, react-router, nuxt, vue, agent-toolkit

#6527 chore(localizations): Add `taskChooseOrganization` to all locales
  .changeset/thin-wolves-study.md
  packages/localizations/src/ar-SA.ts
  packages/localizations/src/be-BY.ts
  packages/localizations/src/bg-BG.ts
  packages/localizations/src/bn-IN.ts
  packages/localizations/src/ca-ES.ts
  packages/localizations/src/cs-CZ.ts
  packages/localizations/src/da-DK.ts
  packages/localizations/src/de-DE.ts
  packages/localizations/src/el-GR.ts
  packages/localizations/src/en-GB.ts
  packages/localizations/src/en-US.ts
  packages/localizations/src/es-CR.ts
  packages/localizations/src/es-ES.ts
  packages/localizations/src/es-MX.ts
  packages/localizations/src/es-UY.ts
  packages/localizations/src/fa-IR.ts
  packages/localizations/src/fi-FI.ts
  packages/localizations/src/fr-FR.ts
  packages/localizations/src/he-IL.ts
  packages/localizations/src/hi-IN.ts
  packages/localizations/src/hr-HR.ts
  packages/localizations/src/hu-HU.ts
  packages/localizations/src/id-ID.ts
  packages/localizations/src/is-IS.ts
  packages/localizations/src/it-IT.ts
  packages/localizations/src/ja-JP.ts
  packages/localizations/src/kk-KZ.ts
  packages/localizations/src/ko-KR.ts
  packages/localizations/src/mn-MN.ts
  packages/localizations/src/ms-MY.ts
  packages/localizations/src/nb-NO.ts
  packages/localizations/src/nl-BE.ts
  packages/localizations/src/nl-NL.ts
  packages/localizations/src/pl-PL.ts
  packages/localizations/src/pt-BR.ts
  packages/localizations/src/pt-PT.ts
  packages/localizations/src/ro-RO.ts
  packages/localizations/src/ru-RU.ts
  packages/localizations/src/sk-SK.ts
  packages/localizations/src/sr-RS.ts
  packages/localizations/src/sv-SE.ts
  packages/localizations/src/ta-IN.ts
  packages/localizations/src/te-IN.ts
  packages/localizations/src/th-TH.ts
  packages/localizations/src/tr-TR.ts
  packages/localizations/src/uk-UA.ts
  packages/localizations/src/vi-VN.ts
  packages/localizations/src/zh-CN.ts
  packages/localizations/src/zh-TW.ts
Labels: localizations

#6493 chore(clerk-js,types): Update PricingTable with trial info
  .changeset/tender-planets-win.md
  packages/clerk-js/src/core/resources/CommercePlan.ts
  packages/clerk-js/src/core/resources/CommerceSubscription.ts
  packages/clerk-js/src/ui/components/PricingTable/PricingTableDefault.tsx
  packages/clerk-js/src/ui/components/PricingTable/__tests__/PricingTable.test.tsx
  packages/clerk-js/src/ui/contexts/components/Plans.tsx
  packages/localizations/src/ar-SA.ts
  packages/localizations/src/be-BY.ts
  packages/localizations/src/bg-BG.ts
  packages/localizations/src/bn-IN.ts
  packages/localizations/src/ca-ES.ts
  packages/localizations/src/cs-CZ.ts
  packages/localizations/src/da-DK.ts
  packages/localizations/src/de-DE.ts
  packages/localizations/src/el-GR.ts
  packages/localizations/src/en-GB.ts
  packages/localizations/src/en-US.ts
  packages/localizations/src/es-CR.ts
  packages/localizations/src/es-ES.ts
  packages/localizations/src/es-MX.ts
  packages/localizations/src/es-UY.ts
  packages/localizations/src/fa-IR.ts
  packages/localizations/src/fi-FI.ts
  packages/localizations/src/fr-FR.ts
  packages/localizations/src/he-IL.ts
  packages/localizations/src/hi-IN.ts
  packages/localizations/src/hr-HR.ts
  packages/localizations/src/hu-HU.ts
  packages/localizations/src/id-ID.ts
  packages/localizations/src/is-IS.ts
  packages/localizations/src/it-IT.ts
  packages/localizations/src/ja-JP.ts
  packages/localizations/src/kk-KZ.ts
  packages/localizations/src/ko-KR.ts
  packages/localizations/src/mn-MN.ts
  packages/localizations/src/ms-MY.ts
  packages/localizations/src/nb-NO.ts
  packages/localizations/src/nl-BE.ts
  packages/localizations/src/nl-NL.ts
  packages/localizations/src/pl-PL.ts
  packages/localizations/src/pt-BR.ts
  packages/localizations/src/pt-PT.ts
  packages/localizations/src/ro-RO.ts
  packages/localizations/src/ru-RU.ts
  packages/localizations/src/sk-SK.ts
  packages/localizations/src/sr-RS.ts
  packages/localizations/src/sv-SE.ts
  packages/localizations/src/ta-IN.ts
  packages/localizations/src/te-IN.ts
  packages/localizations/src/th-TH.ts
  packages/localizations/src/tr-TR.ts
  packages/localizations/src/uk-UA.ts
  packages/localizations/src/vi-VN.ts
  packages/localizations/src/zh-CN.ts
  packages/localizations/src/zh-TW.ts
  packages/react/src/components/__tests__/PlanDetailsButton.test.tsx
  packages/types/src/commerce.ts
  packages/types/src/json.ts
  packages/types/src/localization.ts
Labels: types, clerk-js, react, localizations

#6490 chore(clerk-js,types): Switch to fees for plan prices
  .changeset/rich-drinks-ring.md
  .typedoc/__tests__/__snapshots__/file-structure.test.ts.snap
  packages/backend/src/api/resources/CommercePlan.ts
  packages/backend/src/api/resources/JSON.ts
  packages/clerk-js/src/core/resources/CommercePayment.ts
  packages/clerk-js/src/core/resources/CommercePlan.ts
  packages/clerk-js/src/core/resources/CommerceSubscription.ts
  packages/clerk-js/src/ui/components/Checkout/CheckoutForm.tsx
  packages/clerk-js/src/ui/components/PaymentAttempts/PaymentAttemptPage.tsx
  packages/clerk-js/src/ui/components/Plans/PlanDetails.tsx
  packages/clerk-js/src/ui/components/Plans/__tests__/PlanDetails.test.tsx
  packages/clerk-js/src/ui/components/PricingTable/PricingTableDefault.tsx
  packages/clerk-js/src/ui/components/PricingTable/PricingTableMatrix.tsx
  packages/clerk-js/src/ui/components/PricingTable/__tests__/PricingTable.test.tsx
  packages/clerk-js/src/ui/components/SubscriptionDetails/__tests__/SubscriptionDetails.test.tsx
  packages/clerk-js/src/ui/components/SubscriptionDetails/index.tsx
  packages/clerk-js/src/ui/components/Subscriptions/SubscriptionsList.tsx
  packages/clerk-js/src/ui/contexts/components/Plans.tsx
  packages/clerk-js/src/utils/commerce.ts
  packages/react/src/components/__tests__/PlanDetailsButton.test.tsx
  packages/types/src/commerce.ts
  packages/types/src/json.ts
Labels: types, clerk-js, react, backend

#6522 feat(nextjs): Environment drift telemetry event for keyless applications
  .changeset/bright-parks-search.md
  packages/nextjs/src/app-router/server/ClerkProvider.tsx
  packages/nextjs/src/server/keyless-telemetry.ts
Labels: nextjs

#6503 chore(localizations): Added missing `pt-BR` translations
  .changeset/forty-bottles-accept.md
  packages/localizations/src/pt-BR.ts
Labels: localizations

#6525 ci(repo): Version packages
  .changeset/bright-parks-search.md
  .changeset/complete-persian-localization.md
  .changeset/eighty-plums-listen.md
  .changeset/forty-bottles-accept.md
  .changeset/full-times-wear.md
  .changeset/nasty-colts-travel.md
  .changeset/rich-drinks-ring.md
  .changeset/rotten-lines-cough.md
  .changeset/sad-turkeys-rhyme.md
  .changeset/small-schools-yell.md
  .changeset/sour-lemons-talk.md
  .changeset/tender-planets-win.md
  .changeset/thin-wolves-study.md
  .changeset/wise-hornets-sneeze.md
  packages/agent-toolkit/CHANGELOG.md
  packages/agent-toolkit/package.json
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/expo-passkeys/CHANGELOG.md
  packages/expo-passkeys/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/tanstack-react-start/CHANGELOG.md
  packages/tanstack-react-start/package.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, expo, chrome-extension, themes, elements, express, testing, tanstack, astro, react-router, nuxt, vue, agent-toolkit

#6486 feat(clerk-js): Introduce `navigate` for `setActive`
  .changeset/rich-donuts-agree.md
  .changeset/warm-rocks-flow.md
  integration/tests/session-tasks-sign-in.test.ts
  integration/tests/session-tasks-sign-up.test.ts
  packages/clerk-js/bundlewatch.config.json
  packages/clerk-js/src/core/__tests__/clerk.test.ts
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/resources/SignIn.ts
  packages/clerk-js/src/core/resources/SignUp.ts
  packages/clerk-js/src/core/sessionTasks.ts
  packages/clerk-js/src/ui/common/redirects.ts
  packages/clerk-js/src/ui/common/withRedirect.tsx
  packages/clerk-js/src/ui/components/SessionTasks/index.tsx
  packages/clerk-js/src/ui/components/SessionTasks/tasks/TaskChooseOrganization/ChooseOrganizationScreen.tsx
  packages/clerk-js/src/ui/components/SessionTasks/tasks/TaskChooseOrganization/CreateOrganizationScreen.tsx
  packages/clerk-js/src/ui/components/SessionTasks/tasks/withTaskGuard.ts
  packages/clerk-js/src/ui/components/SignIn/SignInAccountSwitcher.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInFactorOne.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInFactorOneAlternativeChannelCodeForm.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInFactorOneCodeForm.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInFactorOnePasswordCard.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInFactorTwo.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInFactorTwoBackupCodeCard.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInFactorTwoCodeForm.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInSSOCallback.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInStart.tsx
  packages/clerk-js/src/ui/components/SignIn/__tests__/handleCombinedFlowTransfer.test.ts
  packages/clerk-js/src/ui/components/SignIn/handleCombinedFlowTransfer.ts
  packages/clerk-js/src/ui/components/SignIn/index.tsx
  packages/clerk-js/src/ui/components/SignIn/shared.ts
  packages/clerk-js/src/ui/components/SignUp/SignUpContinue.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpEmailLinkCard.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpSSOCallback.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpStart.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpVerificationCodeForm.tsx
  packages/clerk-js/src/ui/components/SignUp/index.tsx
  packages/clerk-js/src/ui/components/UserButton/useMultisessionActions.tsx
  packages/clerk-js/src/ui/contexts/ClerkUIComponentsContext.tsx
  packages/clerk-js/src/ui/contexts/components/SignIn.ts
  packages/clerk-js/src/ui/contexts/components/SignUp.ts
  packages/clerk-js/src/ui/lazyModules/components.ts
  packages/clerk-js/src/ui/types.ts
  packages/clerk-js/src/utils/componentGuards.ts
  packages/nextjs/src/client-boundary/controlComponents.ts
  packages/nextjs/src/index.ts
  packages/react-router/src/__tests__/__snapshots__/exports.test.ts.snap
  packages/react/src/components/controlComponents.tsx
  packages/react/src/components/index.ts
  packages/react/src/isomorphicClerk.ts
  packages/remix/src/__tests__/__snapshots__/exports.test.ts.snap
  packages/tanstack-react-start/src/__tests__/__snapshots__/exports.test.ts.snap
  packages/types/src/clerk.ts
  packages/vue/src/components/controlComponents.ts
Labels: types, clerk-js, nextjs, react, remix, integration, tanstack, react-router, vue

#6536 chore(backend): Rename M2M `secret` -> `token`
  .changeset/small-adults-crash.md
  integration/tests/machine-auth/m2m.test.ts
  packages/backend/src/api/__tests__/M2MTokenApi.test.ts
  packages/backend/src/api/__tests__/factory.test.ts
  packages/backend/src/api/endpoints/M2MTokenApi.ts
  packages/backend/src/api/resources/JSON.ts
  packages/backend/src/api/resources/M2MToken.ts
  packages/backend/src/tokens/verify.ts
Labels: backend, integration

#6542 chore(backend): Remove `secret` in favor of `token` in m2m response
  .changeset/chatty-kings-raise.md
  packages/backend/src/api/__tests__/M2MTokenApi.test.ts
  packages/backend/src/api/resources/JSON.ts
  packages/backend/src/api/resources/M2MToken.ts
Labels: backend

#6544 chore(backend): Rename M2M namespace from `m2mTokens` to `m2m` in api client
  .changeset/serious-chicken-report.md
  integration/tests/machine-auth/m2m.test.ts
  packages/backend/src/api/__tests__/M2MTokenApi.test.ts
  packages/backend/src/api/__tests__/factory.test.ts
  packages/backend/src/api/endpoints/M2MTokenApi.ts
  packages/backend/src/api/factory.ts
  packages/backend/src/tokens/verify.ts
Labels: backend, integration

#6534 fix(clerk-js,shared,types): Support calling password without identifier
  .changeset/young-cats-retire.md
  packages/clerk-js/src/core/resources/SignIn.ts
  packages/shared/src/error.ts
  packages/types/src/signIn.ts
Labels: types, clerk-js

#6548 ci(repo): Version packages
  .changeset/easy-parrots-slide.md
  .changeset/few-eagles-grab.md
  .changeset/fresh-breads-fall.md
  .changeset/hot-toys-poke.md
  .changeset/young-cats-retire.md
  packages/agent-toolkit/CHANGELOG.md
  packages/agent-toolkit/package.json
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/expo-passkeys/CHANGELOG.md
  packages/expo-passkeys/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/tanstack-react-start/CHANGELOG.md
  packages/tanstack-react-start/package.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, expo, chrome-extension, themes, elements, express, testing, tanstack, astro, react-router, nuxt, vue, agent-toolkit

#6539 fix(nextjs): Keyless environment drift telemetry event works client-side and only in dev mode
  .changeset/fine-weeks-give.md
  packages/backend/src/index.ts
  packages/nextjs/src/app-router/client/ClerkProvider.tsx
  packages/nextjs/src/app-router/keyless-actions.ts
  packages/nextjs/src/server/keyless-telemetry.ts
Labels: nextjs, backend

#6555 fix(nextjs): Use nodeFsOrThrow instead of directly importing fs module in keyless-telemetry
  .changeset/itchy-queens-cough.md
  packages/nextjs/src/server/keyless-telemetry.ts
Labels: nextjs

#6550 fix(clerk-js): Add error handling for `setActive` with stale organization data
  .changeset/tall-ears-worry.md
  packages/clerk-js/src/ui/components/OrganizationList/OrganizationListPage.tsx
  packages/clerk-js/src/ui/components/OrganizationList/UserMembershipList.tsx
  packages/clerk-js/src/ui/components/SessionTasks/tasks/TaskChooseOrganization/ChooseOrganizationScreen.tsx
  packages/clerk-js/src/ui/components/SessionTasks/tasks/TaskChooseOrganization/CreateOrganizationScreen.tsx
  packages/localizations/src/ar-SA.ts
  packages/localizations/src/be-BY.ts
  packages/localizations/src/bg-BG.ts
  packages/localizations/src/bn-IN.ts
  packages/localizations/src/ca-ES.ts
  packages/localizations/src/cs-CZ.ts
  packages/localizations/src/da-DK.ts
  packages/localizations/src/de-DE.ts
  packages/localizations/src/el-GR.ts
  packages/localizations/src/en-GB.ts
  packages/localizations/src/en-US.ts
  packages/localizations/src/es-CR.ts
  packages/localizations/src/es-ES.ts
  packages/localizations/src/es-MX.ts
  packages/localizations/src/es-UY.ts
  packages/localizations/src/fa-IR.ts
  packages/localizations/src/fi-FI.ts
  packages/localizations/src/fr-FR.ts
  packages/localizations/src/he-IL.ts
  packages/localizations/src/hi-IN.ts
  packages/localizations/src/hr-HR.ts
  packages/localizations/src/hu-HU.ts
  packages/localizations/src/id-ID.ts
  packages/localizations/src/is-IS.ts
  packages/localizations/src/it-IT.ts
  packages/localizations/src/ja-JP.ts
  packages/localizations/src/kk-KZ.ts
  packages/localizations/src/ko-KR.ts
  packages/localizations/src/mn-MN.ts
  packages/localizations/src/ms-MY.ts
  packages/localizations/src/nb-NO.ts
  packages/localizations/src/nl-BE.ts
  packages/localizations/src/nl-NL.ts
  packages/localizations/src/pl-PL.ts
  packages/localizations/src/pt-BR.ts
  packages/localizations/src/pt-PT.ts
  packages/localizations/src/ro-RO.ts
  packages/localizations/src/ru-RU.ts
  packages/localizations/src/sk-SK.ts
  packages/localizations/src/sr-RS.ts
  packages/localizations/src/sv-SE.ts
  packages/localizations/src/ta-IN.ts
  packages/localizations/src/te-IN.ts
  packages/localizations/src/th-TH.ts
  packages/localizations/src/tr-TR.ts
  packages/localizations/src/uk-UA.ts
  packages/localizations/src/vi-VN.ts
  packages/localizations/src/zh-CN.ts
  packages/localizations/src/zh-TW.ts
  packages/shared/src/react/hooks/useOrganizationList.tsx
  packages/types/src/localization.ts
Labels: types, clerk-js, localizations

#6569 feat(clerk-js): Update SubscriptionDetails to support free trials
  .changeset/cruel-bears-sniff.md
  packages/clerk-js/bundlewatch.config.json
  packages/clerk-js/src/ui/components/SubscriptionDetails/__tests__/SubscriptionDetails.test.tsx
  packages/clerk-js/src/ui/components/SubscriptionDetails/index.tsx
  packages/localizations/src/en-US.ts
  packages/types/src/localization.ts
Labels: types, clerk-js, localizations

#6571 feat(clerk-js,types): Signal SignUp APIs
  .changeset/big-queens-tap.md
  packages/clerk-js/src/core/resources/SignUp.ts
  packages/types/src/signUp.ts
Labels: types, clerk-js

#6573 chore(e2e): Add test cases for billing buttons
  .changeset/legal-ants-flow.md
  .changeset/little-seals-hang.md
  integration/templates/next-app-router/src/app/billing/checkout-btn/page.tsx
  integration/templates/next-app-router/src/app/billing/plan-details-btn/page.tsx
  integration/templates/next-app-router/src/app/billing/subscription-details-btn/page.tsx
  integration/templates/next-app-router/tsconfig.json
  integration/tests/pricing-table.test.ts
  packages/clerk-js/src/ui/components/Plans/PlanDetails.tsx
  packages/clerk-js/src/ui/elements/contexts/index.tsx
  packages/testing/src/playwright/unstable/page-objects/index.ts
  packages/testing/src/playwright/unstable/page-objects/planDetails.ts
Labels: clerk-js, integration, testing

#6582 chore(clerk-js): Update notice when cancelling a trial
  .changeset/afraid-waves-bow.md
  .changeset/thick-frogs-hope.md
  packages/clerk-js/src/ui/components/SubscriptionDetails/__tests__/SubscriptionDetails.test.tsx
  packages/clerk-js/src/ui/components/SubscriptionDetails/index.tsx
  packages/localizations/src/ar-SA.ts
  packages/localizations/src/be-BY.ts
  packages/localizations/src/bg-BG.ts
  packages/localizations/src/bn-IN.ts
  packages/localizations/src/ca-ES.ts
  packages/localizations/src/cs-CZ.ts
  packages/localizations/src/da-DK.ts
  packages/localizations/src/de-DE.ts
  packages/localizations/src/el-GR.ts
  packages/localizations/src/en-GB.ts
  packages/localizations/src/en-US.ts
  packages/localizations/src/es-CR.ts
  packages/localizations/src/es-ES.ts
  packages/localizations/src/es-MX.ts
  packages/localizations/src/es-UY.ts
  packages/localizations/src/fa-IR.ts
  packages/localizations/src/fi-FI.ts
  packages/localizations/src/fr-FR.ts
  packages/localizations/src/he-IL.ts
  packages/localizations/src/hi-IN.ts
  packages/localizations/src/hr-HR.ts
  packages/localizations/src/hu-HU.ts
  packages/localizations/src/id-ID.ts
  packages/localizations/src/is-IS.ts
  packages/localizations/src/it-IT.ts
  packages/localizations/src/ja-JP.ts
  packages/localizations/src/kk-KZ.ts
  packages/localizations/src/ko-KR.ts
  packages/localizations/src/mn-MN.ts
  packages/localizations/src/ms-MY.ts
  packages/localizations/src/nb-NO.ts
  packages/localizations/src/nl-BE.ts
  packages/localizations/src/nl-NL.ts
  packages/localizations/src/pl-PL.ts
  packages/localizations/src/pt-BR.ts
  packages/localizations/src/pt-PT.ts
  packages/localizations/src/ro-RO.ts
  packages/localizations/src/ru-RU.ts
  packages/localizations/src/sk-SK.ts
  packages/localizations/src/sr-RS.ts
  packages/localizations/src/sv-SE.ts
  packages/localizations/src/ta-IN.ts
  packages/localizations/src/te-IN.ts
  packages/localizations/src/th-TH.ts
  packages/localizations/src/tr-TR.ts
  packages/localizations/src/uk-UA.ts
  packages/localizations/src/vi-VN.ts
  packages/localizations/src/zh-CN.ts
  packages/localizations/src/zh-TW.ts
  packages/types/src/localization.ts
Labels: types, clerk-js, localizations

#6579 feat(clerk-js): Add /oauth/authorize-with-immediate-redirect to frontendApiRedirectPathsNoUserInput
  .changeset/shaky-foxes-doubt.md
  packages/clerk-js/src/utils/__tests__/url.spec.ts
  packages/clerk-js/src/utils/url.ts
Labels: clerk-js

#6578 fix(clerk-js): Add a development warning when missing both custom router options
  .changeset/true-mirrors-check.md
  packages/clerk-js/bundlewatch.config.json
  packages/clerk-js/src/core/clerk.ts
Labels: clerk-js

#6585 feat(clerk-js): Hide passkeys section when enterprise account disables additional identifications
  .changeset/rotten-baths-wish.md
  packages/clerk-js/bundlewatch.config.json
  packages/clerk-js/src/ui/components/UserProfile/AccountPage.tsx
  packages/clerk-js/src/ui/components/UserProfile/SecurityPage.tsx
  packages/clerk-js/src/ui/components/UserProfile/__tests__/SecurityPage.test.tsx
  packages/clerk-js/src/ui/contexts/components/UserProfile.ts
Labels: clerk-js

#6586 chore(clerk-js,types): Replace redirectUrl with navigate in checkout.finalize()
  .changeset/tall-dryers-hide.md
  packages/clerk-js/src/core/modules/checkout/instance.ts
  packages/shared/src/react/hooks/__tests__/useCheckout.type.spec.ts
  packages/shared/src/react/hooks/useCheckout.ts
  packages/types/src/clerk.ts
Labels: types, clerk-js

#6597 chore(nextjs): Improve type safety of #safe-node-apis
  .changeset/sharp-suits-lay.md
  packages/nextjs/src/server/fs/utils.ts
  packages/nextjs/src/server/keyless-telemetry.ts
  packages/nextjs/src/types/safe-node-apis.d.ts
Labels: nextjs

#6595 chore(tanstack-react-start): Reuse existing auth object from server handler
  .changeset/itchy-zoos-shake.md
  integration/templates/tanstack-react-router/package.json
  integration/templates/tanstack-react-start/package.json
  integration/templates/tanstack-react-start/src/server.tsx
  packages/tanstack-react-start/README.md
  packages/tanstack-react-start/package.json
  packages/tanstack-react-start/src/server/authenticateRequest.ts
  packages/tanstack-react-start/src/server/getAuth.ts
  packages/tanstack-react-start/src/server/middlewareHandler.ts
  packages/tanstack-react-start/src/utils/errors.ts
  pnpm-lock.yaml
Labels: integration, tanstack

#6599 fix(clerk-js): If password is enabled, instanceIsPasswordBased is true
  .changeset/khaki-ravens-cheer.md
  packages/clerk-js/src/core/resources/UserSettings.ts
  packages/clerk-js/src/core/resources/__tests__/UserSettings.spec.ts
  packages/clerk-js/src/ui/components/SignIn/__tests__/SignInStart.test.tsx
  packages/clerk-js/src/ui/components/UserProfile/__tests__/SecurityPage.test.tsx
Labels: clerk-js

#6612 chore(tanstack-react-start,nuxt): Pass `treatPendingAsSignedOut` to auth functions
  .changeset/ninety-wombats-think.md
  packages/nuxt/src/runtime/server/clerkMiddleware.ts
  packages/nuxt/src/runtime/server/types.ts
  packages/tanstack-react-start/src/server/getAuth.ts
  packages/tanstack-react-start/src/server/middlewareHandler.ts
Labels: tanstack, nuxt

#6615 refactor(clerk-js): Remove unused debugLogger functionality
  .changeset/dull-rules-dance.md
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/modules/debug/__tests__/logger.spec.ts
  packages/clerk-js/src/core/modules/debug/index.ts
  packages/clerk-js/src/core/modules/debug/logger.ts
  packages/clerk-js/src/core/modules/debug/transports/__tests__/telemetry.spec.ts
  packages/clerk-js/src/core/modules/debug/transports/composite.ts
  packages/clerk-js/src/core/modules/debug/transports/console.ts
  packages/clerk-js/src/core/modules/debug/transports/telemetry.ts
  packages/clerk-js/src/core/modules/debug/types.ts
  packages/clerk-js/src/utils/debug.ts
Labels: clerk-js

#6600 fix(backend): Update logic for cross origin sync handshake
  .changeset/yellow-vans-walk.md
  packages/backend/src/tokens/__tests__/request.test.ts
  packages/backend/src/tokens/authenticateContext.ts
  packages/backend/src/tokens/request.ts
Labels: backend

#6605 feat(clerk-js,clerk-react,types): Update signal hooks to always return values
  .changeset/rotten-falcons-cover.md
  packages/clerk-js/src/core/resources/SignIn.ts
  packages/clerk-js/src/core/resources/SignUp.ts
  packages/react/src/hooks/useClerkSignal.ts
  packages/react/src/isomorphicClerk.ts
  packages/react/src/stateProxy.ts
  packages/types/src/clerk.ts
  packages/types/src/signIn.ts
  packages/types/src/signUp.ts
Labels: types, clerk-js, react

#6635 fix(backend): Prevent excessive handshakes
  .changeset/grumpy-groups-run.md
  integration/tests/handshake.test.ts
  packages/backend/src/tokens/handshake.ts
  packages/backend/src/tokens/request.ts
Labels: backend, integration

#6639 fix(clerk-js): Add support for user_banned error in OAuth flows
  .changeset/two-pots-beam.md
  packages/clerk-js/src/core/constants.ts
  packages/clerk-js/src/ui/components/SignIn/SignInStart.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpStart.tsx
Labels: clerk-js

#6647 chore(shared,types): Update jsdoc `useUser()` examples
  .changeset/dark-tips-serve.md
  packages/localizations/src/ro-RO.ts
  packages/shared/docs/use-user.md
  packages/shared/src/react/hooks/useUser.ts
  packages/types/src/clerk.ts
Labels: types, localizations

#6556 feat(clerk-js,clerk-react): Support Base authentication
  .changeset/silent-insects-cheat.md
  packages/clerk-js/bundlewatch.config.json
  packages/clerk-js/package.json
  packages/clerk-js/rspack.config.js
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/resources/SignIn.ts
  packages/clerk-js/src/core/resources/SignUp.ts
  packages/clerk-js/src/utils/web3.ts
  packages/clerk-js/vitest.config.mts
  packages/elements/src/internals/machines/sign-in/start.machine.ts
  packages/elements/src/react/hooks/use-third-party-provider.hook.ts
  packages/elements/src/react/utils/map-scope-to-strategy.ts
  packages/react/src/isomorphicClerk.ts
  packages/shared/src/web3.ts
  packages/types/src/clerk.ts
  packages/types/src/signIn.ts
  packages/types/src/signUp.ts
  packages/types/src/web3.ts
  pnpm-lock.yaml
Labels: types, clerk-js, react, elements

#6638 refactor(clerk-js): Using snakeToCamel for signal field errors
  .changeset/rotten-tomatoes-listen.md
  packages/clerk-js/src/core/signals.ts
Labels: clerk-js

#6656 chore(clerk-js): Display free trial badge `<PricingTable/>`
  .changeset/eighty-bananas-listen.md
  integration/tests/pricing-table.test.ts
  packages/clerk-js/src/ui/components/PricingTable/PricingTableDefault.tsx
  packages/testing/src/playwright/unstable/page-objects/pricingTable.ts
Labels: clerk-js, integration, testing

#6645 refactor(types,clerk-js): Extract SignInFuture and SignUpFuture method params into types
  .changeset/lovely-bananas-allow.md
  packages/clerk-js/src/core/resources/SignIn.ts
  packages/clerk-js/src/core/resources/SignUp.ts
  packages/types/src/index.ts
  packages/types/src/json.ts
  packages/types/src/signIn.ts
  packages/types/src/signInCommon.ts
  packages/types/src/signInFuture.ts
  packages/types/src/signUp.ts
  packages/types/src/signUpCommon.ts
  packages/types/src/signUpFuture.ts
  packages/types/src/state.ts
Labels: types, clerk-js

#6650 feat(clerk-js,clerk-react,types): Signal phone code support
  .changeset/hungry-dogs-stick.md
  packages/clerk-js/src/core/resources/SignIn.ts
  packages/clerk-js/src/core/resources/SignUp.ts
  packages/react/src/stateProxy.ts
  packages/types/src/factors.ts
  packages/types/src/signInFuture.ts
  packages/types/src/signUpFuture.ts
Labels: types, clerk-js, react

#6616 feat(localizations): Add Japanese translations for waitlist and resticted access
  packages/localizations/src/hideokamoto-changeset.md
  packages/localizations/src/ja-JP.ts
Labels: localizations

#6667 chore(backend): Get user's subscription via BillingApi
  .changeset/wild-rice-carry.md
  packages/backend/src/api/endpoints/BillingApi.ts
Labels: backend

#6649 chore(backend,types): Update JSDoc comments & export Feature type
  .changeset/three-knives-play.md
  .typedoc/__tests__/__snapshots__/file-structure.test.ts.snap
  .typedoc/custom-plugin.mjs
  packages/backend/src/api/resources/CommercePlan.ts
  packages/backend/src/api/resources/CommerceSubscription.ts
  packages/backend/src/api/resources/CommerceSubscriptionItem.ts
  packages/backend/src/api/resources/Feature.ts
  packages/backend/src/api/resources/index.ts
  packages/backend/src/index.ts
  packages/types/src/commerce.ts
Labels: types, backend

#6670 chore(e2e): Test for downgrading/upgrading/resubscribing on free trial
  .changeset/silent-bees-wear.md
  integration/tests/pricing-table.test.ts
Labels: integration

#6672 fix(localizations): Typo in subscription details
  .changeset/smooth-clouds-fetch.md
  packages/clerk-js/src/ui/components/SubscriptionDetails/__tests__/SubscriptionDetails.test.tsx
  packages/localizations/src/en-US.ts
Labels: clerk-js, localizations
