Repository clerk/javascript, pull requests merged in 2025-06, with the labels that each got.

#5980 chore(clerk-js): Refactor CheckoutForm and AddPaymentSource
  .changeset/plenty-files-sit.md
  integration/tests/pricing-table.test.ts
  packages/clerk-js/bundlewatch.config.json
  packages/clerk-js/src/ui/common/DevOnly.tsx
  packages/clerk-js/src/ui/components/Checkout/CheckoutForm.tsx
  packages/clerk-js/src/ui/components/Checkout/CheckoutPage.tsx
  packages/clerk-js/src/ui/components/PaymentSources/AddPaymentSource.tsx
  packages/clerk-js/src/ui/components/PaymentSources/PaymentSources.tsx
  packages/clerk-js/src/ui/components/PaymentSources/TestPaymentSource.tsx
  packages/testing/src/playwright/unstable/page-objects/checkout.ts
Labels: clerk-js, integration, testing

#6051 chore(e2e): Add scenarios to commerce AIO for the free plan
  .changeset/fifty-friends-occur.md
  .changeset/tired-horses-type.md
  integration/tests/pricing-table.test.ts
  packages/testing/src/playwright/unstable/page-objects/pricingTable.ts
Labels: integration, testing

#6035 chore(nextjs): Updated URL for `auth` cant detect usage of `clerkMiddleware`
  .changeset/brown-melons-listen.md
  packages/nextjs/src/server/errors.ts
Labels: nextjs, blocked

#6021 feat(clerk-js): Add OAuthConsent component
  .changeset/six-crabs-carry.md
  packages/clerk-js/bundlewatch.config.json
  packages/clerk-js/sandbox/app.ts
  packages/clerk-js/sandbox/template.html
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/ui/components/OAuthConsent/OAuthConsent.tsx
  packages/clerk-js/src/ui/contexts/ClerkUIComponentsContext.tsx
  packages/clerk-js/src/ui/contexts/components/OAuthConsent.ts
  packages/clerk-js/src/ui/contexts/components/index.ts
  packages/clerk-js/src/ui/elements/Tooltip.tsx
  packages/clerk-js/src/ui/elements/contexts/index.tsx
  packages/clerk-js/src/ui/icons/index.ts
  packages/clerk-js/src/ui/icons/lock-dotted-circle.svg
  packages/clerk-js/src/ui/lazyModules/components.ts
  packages/clerk-js/src/ui/primitives/Input.tsx
  packages/clerk-js/src/ui/styledSystem/types.ts
  packages/clerk-js/src/ui/types.ts
  packages/react/src/isomorphicClerk.ts
  packages/types/src/appearance.ts
  packages/types/src/clerk.ts
Labels: types, clerk-js, react

#6048 Fix(localizations): Update Spanish (es-ES) password validation messages to match new English (en-US) format
  .changeset/long-coins-run.md
  packages/localizations/src/es-ES.ts
Labels: localizations

#6019 fix(react-router): Simplify types for `LoaderFunctionArgs`
  .changeset/every-glasses-shave.md
  packages/react-router/package.json
  packages/react-router/src/client/ReactRouterClerkProvider.tsx
  packages/react-router/src/client/types.ts
  packages/react-router/src/ssr/authenticateRequest.ts
  packages/react-router/src/ssr/getAuth.ts
  packages/react-router/src/ssr/loadOptions.ts
  packages/react-router/src/ssr/rootAuthLoader.ts
  packages/react-router/src/ssr/types.ts
  pnpm-lock.yaml
Labels: react-router

#6057 fix(tanstack-react-start): Apply response headers
  .changeset/puny-brooms-grab.md
  integration/tests/tanstack-start/basic.test.ts
  packages/tanstack-react-start/src/server/middlewareHandler.ts
Labels: integration, tanstack

#6059 fix(backend): Remove peerDep of `svix` for `verifyWebhook()`
  .changeset/hungry-mangos-shout.md
  packages/backend/package.json
  packages/backend/src/webhooks.ts
  pnpm-lock.yaml
Labels: backend

#6065 test(tanstack-react-start): Use correct test matcher for checking headers
  integration/tests/tanstack-start/basic.test.ts
Labels: integration

#6009 feat(clerk-js): Initiate enterprise SSO from ticket flows
  .changeset/nasty-items-jog.md
  packages/clerk-js/src/ui/components/SignIn/SignInStart.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpStart.tsx
Labels: clerk-js

#6068 chore(backend): Fix link in JSDoc comment
  .changeset/hungry-eagles-doubt.md
  packages/backend/src/tokens/types.ts
Labels: backend

#6067 feat(express,fastify,tanstack-react-start,react-router): Support machine auth tokens in `getAuth()`
  .changeset/free-times-refuse.md
  .changeset/large-adults-juggle.md
  .changeset/sour-onions-wear.md
  .changeset/two-trains-pull.md
  .changeset/yummy-socks-join.md
  .typedoc/__tests__/__snapshots__/file-structure.test.ts.snap
  packages/backend/src/__tests__/exports.test.ts
  packages/backend/src/internal.ts
  packages/backend/src/tokens/authObjects.ts
  packages/backend/src/tokens/types.ts
  packages/express/src/__tests__/getAuth.test.ts
  packages/express/src/__tests__/helpers.ts
  packages/express/src/authenticateRequest.ts
  packages/express/src/clerkMiddleware.ts
  packages/express/src/getAuth.ts
  packages/express/src/requireAuth.ts
  packages/fastify/src/__tests__/getAuth.test.ts
  packages/fastify/src/__tests__/withClerkMiddleware.test.ts
  packages/fastify/src/getAuth.ts
  packages/fastify/src/withClerkMiddleware.ts
  packages/nextjs/src/app-router/server/auth.ts
  packages/nextjs/src/server/protect.ts
  packages/nextjs/src/server/types.ts
  packages/react-router/src/ssr/getAuth.ts
  packages/tanstack-react-start/src/server/authenticateRequest.ts
  packages/tanstack-react-start/src/server/getAuth.ts
  packages/tanstack-react-start/src/server/middlewareHandler.ts
Labels: nextjs, backend, fastify, express, tanstack, react-router

#6069 test(clerk-js): Add initial support for vitest
  .changeset/every-cows-think.md
  package.json
  packages/clerk-js/package.json
  packages/clerk-js/src/ui/router/__tests__/HashRouter.spec.tsx
  packages/clerk-js/src/utils/__tests__/email.spec.ts
  packages/clerk-js/vitest.config.mts
  packages/clerk-js/vitest.setup.mts
  pnpm-lock.yaml
Labels: clerk-js

#6097 chore(clerk-js,types): Display info tooltip for past due amounts in checkout
  .changeset/tiny-cameras-battle.md
  .changeset/violet-views-sip.md
  packages/clerk-js/src/ui/components/Checkout/CheckoutForm.tsx
  packages/clerk-js/src/ui/elements/LineItems.tsx
  packages/localizations/src/en-US.ts
  packages/types/src/localization.ts
Labels: types, clerk-js, localizations

#6099 chore(backend): Improve subject handling for machine auth objects
  .changeset/mean-items-retire.md
  packages/backend/src/api/endpoints/IdPOAuthAccessTokenApi.ts
  packages/backend/src/fixtures/machine.ts
  packages/backend/src/tokens/__tests__/authObjects.test.ts
  packages/backend/src/tokens/__tests__/getAuth.test-d.ts
  packages/backend/src/tokens/__tests__/verify.test.ts
  packages/backend/src/tokens/authObjects.ts
  packages/backend/src/tokens/verify.ts
  packages/express/src/__tests__/getAuth.test.ts
  packages/fastify/src/__tests__/getAuth.test.ts
  packages/nextjs/src/server/__tests__/getAuthDataFromRequest.test.ts
Labels: nextjs, backend, fastify, express

#6104 chore(repo): Pin non-breaking TanStack Start version in integration tests
  .changeset/green-peaches-sneeze.md
  integration/templates/tanstack-react-router/package.json
  integration/templates/tanstack-react-start/package.json
  packages/tanstack-react-start/package.json
  pnpm-lock.yaml
Labels: integration, tanstack

#6103 fix(clerk-js): Preserve active organization when attempting to switch to personal workspace
  .changeset/dark-cougars-burn.md
  packages/clerk-js/src/core/__tests__/clerk.test.ts
  packages/clerk-js/src/core/clerk.ts
Labels: clerk-js

#6102 chore(clerk-js): Use error metadata for invalid change plan screen on `<Checkout />`
  .changeset/itchy-keys-shake.md
  .changeset/rotten-ghosts-build.md
  .changeset/sad-lines-share.md
  integration/tests/pricing-table.test.ts
  packages/clerk-js/bundlewatch.config.json
  packages/clerk-js/src/ui/components/Checkout/CheckoutPage.tsx
  packages/clerk-js/src/ui/components/Checkout/index.tsx
  packages/clerk-js/src/ui/components/Checkout/parts.tsx
  packages/shared/src/error.ts
  packages/testing/src/playwright/unstable/page-objects/pricingTable.ts
  packages/types/src/api.ts
  packages/types/src/json.ts
Labels: types, clerk-js, integration, testing

#6116 chore(clerk-js): Add borders to color inputs
  .changeset/tangy-garlics-say.md
  packages/clerk-js/sandbox/template.html
Labels: clerk-js

#6118 chore(clerk-js): Prefer popup for `v0.dev` domain
  .changeset/evil-jobs-boil.md
  packages/clerk-js/src/ui/utils/originPrefersPopup.ts
Labels: clerk-js

#6119 fix(backend): Use proxy url if available for handshake URL
  .changeset/happy-tools-cry.md
  packages/backend/src/tokens/__tests__/handshake.test.ts
  packages/backend/src/tokens/handshake.ts
Labels: backend

#6135 fix(localizations): Add ToS & privacy links
  .changeset/tiny-snails-wonder.md
  packages/localizations/src/be-BY.ts
  packages/localizations/src/bg-BG.ts
  packages/localizations/src/cs-CZ.ts
  packages/localizations/src/es-ES.ts
  packages/localizations/src/it-IT.ts
  packages/localizations/src/nl-BE.ts
  packages/localizations/src/nl-NL.ts
  packages/localizations/src/pt-PT.ts
  packages/localizations/src/tr-TR.ts
Labels: localizations

#6137 feat(clerk-js): Switch to `subscription_items` endpoints
  .changeset/beige-aliens-wish.md
  packages/clerk-js/bundlewatch.config.json
  packages/clerk-js/src/core/modules/commerce/CommerceBilling.ts
  packages/clerk-js/src/core/resources/CommerceSubscription.ts
  packages/clerk-js/src/core/resources/Organization.ts
Labels: clerk-js

#6134 fix(clerk-js): Remove duplicate prepare first factor calls
  .changeset/real-bees-post.md
  packages/clerk-js/bundlewatch.config.json
  packages/clerk-js/src/ui/components/SignIn/SignInFactorOneCodeForm.tsx
  packages/clerk-js/src/ui/components/SignIn/__tests__/SignInFactorOneCodeForm.spec.tsx
Labels: clerk-js

#6132 chore(vue,nuxt): Make `initialState` prop public and bump dependencies
  .changeset/tame-poems-impress.md
  packages/nextjs/src/__tests__/webhooks.test.ts
  packages/nuxt/package.json
  packages/nuxt/src/global.d.ts
  packages/nuxt/src/module.ts
  packages/nuxt/src/runtime/plugin.ts
  packages/vue/package.json
  packages/vue/src/plugin.ts
  pnpm-lock.yaml
Labels: nextjs, nuxt, vue

#6139 Revert "feat(clerk-js): Switch to `subscription_items` endpoints"
  .changeset/beige-aliens-wish.md
  .changeset/great-memes-nail.md
  packages/clerk-js/src/core/modules/commerce/CommerceBilling.ts
  packages/clerk-js/src/core/resources/CommerceSubscription.ts
  packages/clerk-js/src/core/resources/Organization.ts
Labels: clerk-js

#6149 fix(clerk-js): Update `usePrefersReducedMotion` initial value
  .changeset/tiny-lands-retire.md
  packages/clerk-js/bundlewatch.config.json
  packages/clerk-js/src/ui/hooks/usePrefersReducedMotion.ts
Labels: clerk-js

#6144 fix(clerk-js): Emit a TokenUpdate event on Session.touch()
  .changeset/wide-bags-mate.md
  packages/clerk-js/bundlewatch.config.json
  packages/clerk-js/src/core/resources/Session.ts
  packages/clerk-js/src/core/resources/__tests__/Session.spec.ts
Labels: clerk-js

#6142 feat(clerk-js): Add sandbox visual diffing
  .changeset/dry-lemons-cough.md
  packages/clerk-js/.gitignore
  packages/clerk-js/package.json
  packages/clerk-js/playwright.config.ts
  packages/clerk-js/rspack.config.js
  packages/clerk-js/sandbox/integration/helpers.ts
  packages/clerk-js/sandbox/integration/sign-in.spec.ts
  packages/clerk-js/sandbox/integration/sign-in.spec.ts-snapshots/sign-in-chromium-darwin.png
  packages/clerk-js/vitest.config.mts
  pnpm-lock.yaml
Labels: clerk-js

#6166 chore(e2e): Adding the new url path for keyless claim flow in dashboard
  .changeset/strong-cougars-fix.md
  integration/tests/next-quickstart-keyless.test.ts
Labels: integration

#6165 chore(repo): Fix TanStack Start integration tests
  .changeset/long-llamas-tickle.md
  integration/templates/tanstack-react-router/package.json
  integration/templates/tanstack-react-start/package.json
  packages/tanstack-react-start/package.json
  pnpm-lock.yaml
Labels: integration, tanstack

#6117 fix(clerk-js): Do not display organization list after creating organization throw tasks flow
  .changeset/common-mice-ring.md
  packages/clerk-js/bundlewatch.config.json
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/ui/components/CreateOrganization/CreateOrganizationForm.tsx
  packages/clerk-js/src/ui/components/OrganizationList/OrganizationListPage.tsx
  packages/clerk-js/src/ui/components/SessionTasks/index.tsx
  packages/clerk-js/src/ui/components/SessionTasks/tasks/ForceOrganizationSelection.tsx
  packages/testing/src/playwright/unstable/page-objects/sessionTask.ts
Labels: clerk-js, testing

#6150 feat(backend): Support ExpiresInSeconds param
  .changeset/evil-paws-learn.md
  .typedoc/__tests__/__snapshots__/file-structure.test.ts.snap
  packages/backend/src/api/__tests__/SessionApi.test.ts
  packages/backend/src/api/endpoints/SessionApi.ts
  packages/backend/src/tokens/__tests__/authObjects.test.ts
  packages/backend/src/tokens/authObjects.ts
  packages/types/src/ssr.ts
Labels: types, backend

#6169 chore(backend,nextjs): Introduce API keys methods and integration tests
  .changeset/eighty-frogs-return.md
  .changeset/weak-adults-clean.md
  integration/.keys.json.sample
  integration/presets/envs.ts
  integration/presets/longRunningApps.ts
  integration/testUtils/index.ts
  integration/testUtils/usersService.ts
  integration/tests/machine-auth/api-keys.test.ts
  packages/backend/src/api/endpoints/APIKeysApi.ts
  packages/backend/src/index.ts
  packages/nextjs/src/app-router/server/auth.ts
  packages/nextjs/src/server/clerkMiddleware.ts
  packages/nextjs/src/server/data/getAuthDataFromRequest.ts
Labels: nextjs, backend, integration

#6179 fix(chrome-extension): Enable support for `Metamask` & `OKX`; Mark unsupported components
  .changeset/twelve-ducks-refuse.md
  packages/chrome-extension/src/index.ts
  packages/chrome-extension/src/react/NotSupported.tsx
  packages/chrome-extension/src/react/index.ts
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/resources/SignIn.ts
  packages/clerk-js/src/core/resources/SignUp.ts
  packages/clerk-js/src/utils/web3.ts
Labels: clerk-js, chrome-extension

#6181 fix(localizations): Outdated structure in es-CR
  .changeset/red-sites-crash.md
  packages/localizations/src/es-CR.ts
Labels: localizations

#6058 feat(localizations): add pt-BR locales for billing elements
  .changeset/giant-comics-argue.md
  packages/localizations/src/pt-BR.ts
Labels: localizations

#6159 chore(clerk-js, shared): Use experimental paginated hooks for querying commerce data
  .changeset/smart-pandas-carry.md
  .changeset/violet-terms-fix.md
  packages/clerk-js/src/ui/components/Checkout/CheckoutForm.tsx
  packages/clerk-js/src/ui/components/PaymentAttempts/PaymentAttemptsList.tsx
  packages/clerk-js/src/ui/components/PaymentSources/PaymentSources.tsx
  packages/clerk-js/src/ui/components/PricingTable/PricingTable.tsx
  packages/clerk-js/src/ui/components/Statements/StatementsList.tsx
  packages/clerk-js/src/ui/contexts/components/PaymentAttempts.tsx
  packages/clerk-js/src/ui/contexts/components/Plans.tsx
  packages/clerk-js/src/ui/contexts/components/Statements.tsx
  packages/shared/src/react/hooks/createCommerceHook.tsx
  packages/shared/src/react/hooks/index.ts
  packages/shared/src/react/hooks/usePagesOrInfinite.ts
  packages/shared/src/react/hooks/usePaymentAttempts.tsx
  packages/shared/src/react/hooks/usePaymentMethods.tsx
  packages/shared/src/react/hooks/useStatements.tsx
  packages/shared/src/react/hooks/useSubscriptionItems.tsx
  packages/shared/src/react/types.ts
Labels: clerk-js

#6072 test(e2e): Add an e2e test for Handshake (prod)
  integration/README.md
  integration/presets/envs.ts
  integration/presets/longRunningApps.ts
  integration/testUtils/index.ts
  integration/testUtils/usersService.ts
  integration/tests/handshake/handshake.test.ts
  integration/tests/sessions/prod-app-migration.test.ts
  package.json
Labels: integration

#6191 fix(clerk-js): Do not switch after-auth screens on org invites revalidation
  .changeset/warm-parents-take.md
  packages/clerk-js/src/ui/components/SessionTasks/tasks/ForceOrganizationSelection.tsx
Labels: clerk-js

#6190 fix(clerk-js): Broken svg mask on Safari and Firefox on checkout complete
  .changeset/sad-mangos-double.md
  packages/clerk-js/bundlewatch.config.json
  packages/clerk-js/src/ui/components/Checkout/CheckoutComplete.tsx
Labels: clerk-js

#6192 chore(repo,testing): Add API keys component e2e tests
  .changeset/shiny-candles-sneeze.md
  integration/templates/next-app-router/src/app/api-keys/page.tsx
  integration/tests/machine-auth/component.test.ts
  packages/testing/src/playwright/unstable/page-objects/apiKeys.ts
  packages/testing/src/playwright/unstable/page-objects/index.ts
Labels: integration, testing

#6196 fix(backend): Clear `__clerk_synced` when page is protected via middleware
  .changeset/witty-hotels-add.md
  packages/backend/src/__tests__/createRedirect.test.ts
  packages/backend/src/createRedirect.ts
Labels: backend

#5905 feat(backend): Signal support for handshake nonce
  .changeset/six-ears-wash.md
  packages/backend/src/constants.ts
  packages/backend/src/tokens/__tests__/handshake.test.ts
  packages/backend/src/tokens/handshake.ts
Labels: backend, do not merge

#6184 ci(repo): Version packages
  .changeset/cool-geckos-stick.md
  .changeset/easy-papers-hug.md
  .changeset/fair-ways-create.md
  .changeset/giant-comics-argue.md
  .changeset/grumpy-lamps-study.md
  .changeset/real-grapes-occur.md
  .changeset/sad-mangos-double.md
  .changeset/shiny-candles-sneeze.md
  .changeset/six-ears-wash.md
  .changeset/smart-pandas-carry.md
  .changeset/violet-terms-fix.md
  .changeset/warm-parents-take.md
  .changeset/witty-hotels-add.md
  packages/agent-toolkit/CHANGELOG.md
  packages/agent-toolkit/package.json
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/dev-cli/CHANGELOG.md
  packages/dev-cli/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/expo-passkeys/CHANGELOG.md
  packages/expo-passkeys/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/tanstack-react-start/CHANGELOG.md
  packages/tanstack-react-start/package.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, expo, chrome-extension, themes, elements, express, testing, tanstack, astro, react-router, nuxt, vue, agent-toolkit

#6194 feat(repo): Add component visual diffing tests
  .changeset/floppy-taxis-change.md
  packages/clerk-js/playwright.config.ts
  packages/clerk-js/sandbox/integration/create-organization.spec.ts
  packages/clerk-js/sandbox/integration/create-organization.spec.ts-snapshots/create-organization-chromium-darwin.png
  packages/clerk-js/sandbox/integration/global.setup.ts
  packages/clerk-js/sandbox/integration/helpers.ts
  packages/clerk-js/sandbox/integration/oauth-consent.spec.ts
  packages/clerk-js/sandbox/integration/oauth-consent.spec.ts-snapshots/oauth-consent-chromium-darwin.png
  packages/clerk-js/sandbox/integration/org-switcher.spec.ts
  packages/clerk-js/sandbox/integration/org-switcher.spec.ts-snapshots/organization-switcher-action-hover-chromium-darwin.png
  packages/clerk-js/sandbox/integration/org-switcher.spec.ts-snapshots/organization-switcher-popover-chromium-darwin.png
  packages/clerk-js/sandbox/integration/organization-list.spec.ts
  packages/clerk-js/sandbox/integration/organization-list.spec.ts-snapshots/organization-list-chromium-darwin.png
  packages/clerk-js/sandbox/integration/sign-in-modal.spec.ts
  packages/clerk-js/sandbox/integration/sign-in-modal.spec.ts-snapshots/sign-in-modal-chromium-darwin.png
  packages/clerk-js/sandbox/integration/sign-in.spec.ts
  packages/clerk-js/sandbox/integration/sign-in.spec.ts-snapshots/sign-in-action-link-hover-chromium-darwin.png
  packages/clerk-js/sandbox/integration/sign-in.spec.ts-snapshots/sign-in-chromium-darwin.png
  packages/clerk-js/sandbox/integration/sign-in.spec.ts-snapshots/sign-in-primary-button-hover-chromium-darwin.png
  packages/clerk-js/sandbox/integration/sign-in.spec.ts-snapshots/sign-in-secondary-button-hover-chromium-darwin.png
  packages/clerk-js/sandbox/integration/sign-up.spec.ts
  packages/clerk-js/sandbox/integration/sign-up.spec.ts-snapshots/sign-up-chromium-darwin.png
  packages/clerk-js/sandbox/integration/user-button.spec.ts
  packages/clerk-js/sandbox/integration/user-button.spec.ts-snapshots/user-button-popover-chromium-darwin.png
  packages/clerk-js/sandbox/integration/user-profile.spec.ts
  packages/clerk-js/sandbox/integration/user-profile.spec.ts-snapshots/user-profile-chromium-darwin.png
  pnpm-lock.yaml
Labels: clerk-js

#6205 chore(chrome-extension): Control re-exports from clerk-react
  .changeset/great-bees-teach.md
  packages/chrome-extension/src/index.ts
  packages/chrome-extension/src/react/re-exports.ts
Labels: chrome-extension

#6208 fix(clerk-js): Do not display invitation if membership is active
  .changeset/yummy-laws-hunt.md
  packages/clerk-js/src/ui/components/OrganizationSwitcher/UserInvitationSuggestionList.tsx
Labels: clerk-js

#6202 ci(repo): Version packages
  .changeset/eleven-days-sniff.md
  .changeset/floppy-taxis-change.md
  .changeset/great-bees-teach.md
  .changeset/slick-llamas-sneeze.md
  .changeset/wet-foxes-attend.md
  .changeset/yummy-laws-hunt.md
  packages/agent-toolkit/CHANGELOG.md
  packages/agent-toolkit/package.json
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/expo-passkeys/CHANGELOG.md
  packages/expo-passkeys/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/tanstack-react-start/CHANGELOG.md
  packages/tanstack-react-start/package.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, expo, chrome-extension, themes, elements, express, testing, tanstack, astro, react-router, nuxt, vue, agent-toolkit

#6223 chore(localizations): Generate missing API keys locales
  .changeset/eleven-pigs-juggle.md
  packages/localizations/src/ar-SA.ts
  packages/localizations/src/be-BY.ts
  packages/localizations/src/bg-BG.ts
  packages/localizations/src/ca-ES.ts
  packages/localizations/src/cs-CZ.ts
  packages/localizations/src/da-DK.ts
  packages/localizations/src/de-DE.ts
  packages/localizations/src/el-GR.ts
  packages/localizations/src/en-GB.ts
  packages/localizations/src/en-US.ts
  packages/localizations/src/es-CR.ts
  packages/localizations/src/es-ES.ts
  packages/localizations/src/es-MX.ts
  packages/localizations/src/fi-FI.ts
  packages/localizations/src/fr-FR.ts
  packages/localizations/src/he-IL.ts
  packages/localizations/src/hr-HR.ts
  packages/localizations/src/hu-HU.ts
  packages/localizations/src/id-ID.ts
  packages/localizations/src/is-IS.ts
  packages/localizations/src/it-IT.ts
  packages/localizations/src/ja-JP.ts
  packages/localizations/src/ko-KR.ts
  packages/localizations/src/mn-MN.ts
  packages/localizations/src/nb-NO.ts
  packages/localizations/src/nl-BE.ts
  packages/localizations/src/nl-NL.ts
  packages/localizations/src/pl-PL.ts
  packages/localizations/src/pt-BR.ts
  packages/localizations/src/pt-PT.ts
  packages/localizations/src/ro-RO.ts
  packages/localizations/src/ru-RU.ts
  packages/localizations/src/sk-SK.ts
  packages/localizations/src/sr-RS.ts
  packages/localizations/src/sv-SE.ts
  packages/localizations/src/th-TH.ts
  packages/localizations/src/tr-TR.ts
  packages/localizations/src/uk-UA.ts
  packages/localizations/src/vi-VN.ts
  packages/localizations/src/zh-CN.ts
  packages/localizations/src/zh-TW.ts
Labels: localizations
