Repository clerk/javascript, pull requests merged in 2025-04, with the labels that each got.

#5496 fix(repo): Unblock nightly nextjs integration tests
  .github/workflows/nightly-checks.yml
Labels: actions

#5499 fix(repo): Extending timeout for nightly-checks action
  .github/workflows/nightly-checks.yml
Labels: actions

#5492 feat(clerk-js): Add payment source tab to `UserProfile`
  .changeset/spicy-taxes-kick.md
  packages/clerk-js/bundlewatch.config.json
  packages/clerk-js/rspack.config.js
  packages/clerk-js/src/core/modules/commerce/Commerce.ts
  packages/clerk-js/src/core/resources/CommercePaymentSource.ts
  packages/clerk-js/src/ui/components/Checkout/CheckoutComplete.tsx
  packages/clerk-js/src/ui/components/Checkout/CheckoutForm.tsx
  packages/clerk-js/src/ui/components/Checkout/CheckoutPage.tsx
  packages/clerk-js/src/ui/components/PaymentSources/AddPaymentSource.tsx
  packages/clerk-js/src/ui/components/PaymentSources/PaymentSources.tsx
  packages/clerk-js/src/ui/components/PaymentSources/index.ts
  packages/clerk-js/src/ui/components/UserProfile/BillingPage.tsx
  packages/clerk-js/src/ui/elements/FormButtons.tsx
  packages/localizations/src/en-US.ts
  packages/types/src/clerk.ts
  packages/types/src/commerce.ts
  packages/types/src/elementIds.ts
  packages/types/src/json.ts
  packages/types/src/localization.ts
Labels: types, clerk-js, localizations

#5500 fix(repo): Updating the timeout for nightly-checks job
  .github/workflows/nightly-checks.yml
Labels: actions

#5501 chore(nextjs): Remove telemetry event from `clerkMiddleware()`
  .changeset/spotty-schools-juggle.md
  packages/astro/src/server/clerk-middleware.ts
  packages/nextjs/src/server/clerkMiddleware.ts
  packages/nuxt/src/runtime/server/clerkMiddleware.ts
Labels: nextjs, astro, nuxt

#5502 chore(clerk-js): Add v0 preview domain to popup preferred list
  .changeset/old-roses-wave.md
  packages/clerk-js/src/ui/utils/originPrefersPopup.ts
Labels: clerk-js

#5504 chore(clerk-js): Update secured by clerk link URL
  .changeset/tall-needles-drive.md
  packages/clerk-js/src/ui/elements/Card/CardClerkAndPagesTag.tsx
Labels: clerk-js

#5510 chore(types): Add `publish:local` script
  .changeset/fluffy-tips-sort.md
  packages/types/package.json
Labels: types

#5494 chore(clerk-js): Remove non-actionable error from Session poller
  .changeset/fresh-numbers-sink.md
  packages/clerk-js/src/core/auth/AuthCookieService.ts
  packages/clerk-js/src/core/errors.ts
Labels: clerk-js

#5513 chore(nuxt): Expose `event.context.auth()` as function
  .changeset/chatty-loops-watch.md
  integration/templates/nuxt-node/server/api/me.js
  packages/nuxt/src/module.ts
  packages/nuxt/src/runtime/server/__tests__/clerkMiddleware.test.ts
  packages/nuxt/src/runtime/server/clerkMiddleware.ts
  packages/nuxt/src/runtime/server/getAuth.ts
Labels: integration, nuxt

#5505 chore(clerk-js,types): Handle pending sessions as signed-out in `isSignedIn` for custom flows
  .changeset/new-showers-appear.md
  packages/clerk-js/src/core/clerk.ts
  packages/types/src/clerk.ts
  packages/types/src/session.ts
Labels: types, clerk-js

#5468 feat(backend,react-router,nuxt,astro,nextjs,tanstack-react-start,express,fastify): Add verify webhook function
  .changeset/brave-turkeys-burn.md
  .changeset/bright-crabs-fold.md
  .changeset/curly-chicken-lick.md
  .changeset/forty-radios-drive.md
  .changeset/fruity-ghosts-scream.md
  .changeset/olive-apples-return.md
  .changeset/quick-jars-give.md
  .changeset/upset-vans-do.md
  packages/astro/package.json
  packages/astro/src/webhooks.ts
  packages/astro/tsup.config.ts
  packages/astro/webhooks/package.json
  packages/backend/package.json
  packages/backend/src/__tests__/webhooks.test.ts
  packages/backend/src/webhooks.ts
  packages/backend/tsup.config.ts
  packages/backend/webhooks/package.json
  packages/express/package.json
  packages/express/src/authenticateRequest.ts
  packages/express/src/utils.ts
  packages/express/src/webhooks.ts
  packages/express/tsup.config.ts
  packages/express/webhooks/package.json
  packages/fastify/package.json
  packages/fastify/src/utils.ts
  packages/fastify/src/webhooks.ts
  packages/fastify/tsup.config.ts
  packages/fastify/webhooks/package.json
  packages/nextjs/package.json
  packages/nextjs/src/webhooks.ts
  packages/nextjs/webhooks/package.json
  packages/nuxt/package.json
  packages/nuxt/src/module.ts
  packages/nuxt/src/runtime/webhooks.ts
  packages/nuxt/tsup.config.ts
  packages/react-router/package.json
  packages/react-router/src/webhooks.ts
  packages/tanstack-react-start/package.json
  packages/tanstack-react-start/src/webhooks.ts
  packages/tanstack-react-start/webhooks/package.json
  pnpm-lock.yaml
Labels: nextjs, backend, fastify, express, tanstack, astro, react-router, nuxt

#5440 feat(nextjs,astro,backend): Redirect to tasks on `auth.protect` and `auth.redirectToSignIn`
  .changeset/tiny-planes-lead.md
  integration/tests/session-tasks-sign-in.test.ts
  integration/tests/session-tasks-sign-up.test.ts
  packages/astro/src/server/clerk-middleware.ts
  packages/backend/src/__tests__/createRedirect.test.ts
  packages/backend/src/createRedirect.ts
  packages/nextjs/src/app-router/server/auth.ts
  packages/nextjs/src/server/clerkMiddleware.ts
  packages/nextjs/src/server/protect.ts
Labels: nextjs, backend, integration, astro

#5522 chore(clerk-js): Add locale support to sandbox
  .changeset/bright-suits-cut.md
  packages/clerk-js/sandbox/app.ts
  packages/clerk-js/sandbox/template.html
Labels: clerk-js

#5515 fix(clerk-js): Use __internal_setActiveInProgress to prevent navigations
  .changeset/dry-lamps-sneeze.md
  .changeset/nice-clubs-lead.md
  packages/clerk-js/bundlewatch.config.json
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/ui/common/SSOCallback.tsx
  packages/clerk-js/src/ui/common/__tests__/redirects.test.ts
  packages/clerk-js/src/ui/common/redirects.ts
  packages/clerk-js/src/ui/components/SignUp/SignUpContinue.tsx
  packages/react/src/isomorphicClerk.ts
  packages/types/src/clerk.ts
Labels: types, clerk-js, react

#5481 feat(clerk-js,types,clerk-react): Add internal open/close checkout methods
  .changeset/fancy-lies-sell.md
  packages/clerk-js/bundlewatch.config.json
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/ui/Components.tsx
  packages/clerk-js/src/ui/components/Checkout/Checkout.tsx
  packages/clerk-js/src/ui/components/Checkout/CheckoutComplete.tsx
  packages/clerk-js/src/ui/components/PricingTable/PricingTable.tsx
  packages/clerk-js/src/ui/components/PricingTable/SubscriptionDetailDrawer.tsx
  packages/clerk-js/src/ui/elements/Drawer.tsx
  packages/clerk-js/src/ui/lazyModules/components.ts
  packages/clerk-js/src/ui/lazyModules/providers.tsx
  packages/clerk-js/src/ui/types.ts
  packages/react/src/isomorphicClerk.ts
  packages/types/src/clerk.ts
Labels: types, clerk-js, react

#5521 feat(backend,clerk-js,types): JWT versioning
  .changeset/major-spoons-fold.md
  packages/backend/src/tokens/authObjects.ts
  packages/clerk-js/src/core/jwt-client.ts
  packages/types/src/jwtv2.ts
Labels: types, clerk-js, backend

#5527 fix(clerk-js): Wrap Checkout in VirtualRouter
  .changeset/mighty-cloths-brush.md
  packages/clerk-js/src/ui/lazyModules/providers.tsx
Labels: clerk-js

#5507 chore(shared,vue,nextjs,astro,clerk-react): Update `useAuth` to handle pending session as signed-out
  .changeset/common-teams-do.md
  .changeset/early-boats-help.md
  .changeset/modern-paws-mate.md
  packages/astro/src/env.d.ts
  packages/astro/src/integration/create-integration.ts
  packages/astro/src/react/hooks.ts
  packages/nextjs/src/client-boundary/PromisifiedAuthProvider.tsx
  packages/react/src/hooks/__tests__/useAuth.test.tsx
  packages/react/src/hooks/__tests__/useAuth.type.test.ts
  packages/react/src/hooks/useAuth.ts
  packages/react/src/isomorphicClerk.ts
  packages/shared/src/authorization.ts
  packages/vue/src/composables/useAuth.ts
  packages/vue/src/plugin.ts
  packages/vue/src/types.ts
Labels: nextjs, react, astro, vue

#5529 fix(backend): Update user fixture
  .changeset/real-cloths-brake.md
  packages/backend/src/fixtures/user.json
Labels: backend

#5525 chore(vue,clerk-react): Update `useSession` to handle pending session as signed-out
  .changeset/big-regions-worry.md
  .changeset/flat-insects-share.md
  packages/shared/src/react/hooks/useSession.ts
  packages/types/src/session.ts
  packages/vue/src/composables/useSession.ts
Labels: types, vue

#5512 chore(clerk-react,astro,vue): Introduce `treatPendingAsSignedOut` prop to client control components
  .changeset/red-ducks-hide.md
  packages/astro/src/react/controlComponents.tsx
  packages/react/src/components/controlComponents.tsx
  packages/vue/src/components/controlComponents.ts
Labels: react, astro, vue

#5506 feat(clerk-js): Add commerce support for Apple Pay
  .changeset/big-chairs-smile.md
  packages/clerk-js/src/ui/components/Checkout/CheckoutForm.tsx
  packages/clerk-js/src/ui/components/PaymentSources/AddPaymentSource.tsx
Labels: clerk-js

#5535 chore(clerk-js): Trigger navigation to tasks on `setActive` for internal routing only
  .changeset/salty-zebras-matter.md
  packages/clerk-js/src/core/__tests__/clerk.test.ts
  packages/clerk-js/src/core/clerk.ts
Labels: clerk-js

#5493 feat(nextjs): Add CSP in middleware
  .changeset/poor-singers-camp.md
  .changeset/vast-clubs-speak.md
  packages/backend/src/constants.ts
  packages/fastify/src/__tests__/__snapshots__/constants.test.ts.snap
  packages/fastify/src/__tests__/constants.test.ts
  packages/nextjs/src/app-router/server/ClerkProvider.tsx
  packages/nextjs/src/server/__tests__/content-security-policy.test.ts
  packages/nextjs/src/server/clerkMiddleware.ts
  packages/nextjs/src/server/content-security-policy.ts
Labels: nextjs, backend, fastify

#5536 fix(clerk-js): Add optional `resourceId` to `useFetch` hook
  .changeset/lucky-emus-share.md
  packages/clerk-js/src/ui/hooks/useFetch.ts
Labels: clerk-js

#5548 chore(types): Mark `ver` claim as experimental
  .changeset/smart-pianos-know.md
  packages/types/src/jwtv2.ts
Labels: types

#5508 feat: Add missing German localization strings
  .changeset/tough-lions-leave.md
  packages/localizations/src/de-DE.ts
Labels: localizations

#5392 feat(localizations): Add waitlist values for es-MX
  .changeset/long-toys-boil.md
  packages/localizations/src/es-MX.ts
Labels: localizations

#5533 feat(nextjs): Support `auth().redirectToSignUp()`
  .changeset/spicy-lizards-take.md
  packages/backend/src/createRedirect.ts
  packages/nextjs/src/app-router/server/auth.ts
  packages/nextjs/src/server/__tests__/clerkMiddleware.test.ts
  packages/nextjs/src/server/clerkMiddleware.ts
  packages/nextjs/src/server/nextErrors.ts
Labels: nextjs, backend

#5551 chore(clerk-js): Avoid bundling swr in the main chunk
  .changeset/true-tables-sleep.md
  packages/clerk-js/bundlewatch.config.json
  packages/clerk-js/src/ui/Components.tsx
  packages/clerk-js/src/ui/elements/Drawer.tsx
Labels: clerk-js

#5556 fix(clerk-react): Type error in `__experimental_nextTask`
  .changeset/new-moons-kiss.md
  packages/react/src/isomorphicClerk.ts
Labels: react

#5558 chore(e2e): Pin `14.2.26` as next14 to avoid e2e test failing
  .changeset/whole-women-grab.md
  .github/workflows/ci.yml
  integration/tests/next-build.test.ts
Labels: actions, integration

#5352 fix(clerk-js): Handle two factor redirect when authenticate with web3
  .changeset/new-plants-lick.md
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/ui/components/SignIn/SignInSocialButtons.tsx
  packages/types/src/clerk.ts
Labels: types, clerk-js

#5526 fix(clerk-js): Stop retrying on `/verify` if the client cannot solve the challenge
  .changeset/fresh-apples-add.md
  packages/clerk-js/src/core/fraudProtection.ts
  packages/clerk-js/src/utils/captcha/CaptchaChallenge.ts
  packages/clerk-js/src/utils/captcha/turnstile.ts
Labels: clerk-js

#5559 ci(repo): Version packages
  .changeset/breezy-mirrors-think.md
  .changeset/fresh-apples-add.md
  .changeset/new-moons-kiss.md
  .changeset/new-plants-lick.md
  .changeset/true-tables-sleep.md
  .changeset/whole-women-grab.md
  packages/agent-toolkit/CHANGELOG.md
  packages/agent-toolkit/package.json
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/expo-passkeys/CHANGELOG.md
  packages/expo-passkeys/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/tanstack-react-start/CHANGELOG.md
  packages/tanstack-react-start/package.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, expo, chrome-extension, themes, elements, express, testing, tanstack, astro, react-router, nuxt, vue, agent-toolkit

#5553 fix(clerk-js,types): Use intent parameter to reload resource
  .changeset/tidy-dolls-join.md
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/resources/SignIn.ts
  packages/clerk-js/src/core/resources/SignUp.ts
  packages/clerk-js/src/ui/common/SSOCallback.tsx
  packages/clerk-js/src/utils/authenticateWithPopup.ts
  packages/types/src/clerk.ts
Labels: types, clerk-js

#5554 feat(clerk-js): Add payment sources to `OrgProfile`, org-specific commerce endpoints
  .changeset/great-moons-occur.md
  packages/clerk-js/bundlewatch.config.json
  packages/clerk-js/src/core/modules/commerce/Commerce.ts
  packages/clerk-js/src/core/modules/commerce/CommerceBilling.ts
  packages/clerk-js/src/core/resources/CommerceCheckout.ts
  packages/clerk-js/src/core/resources/CommercePaymentSource.ts
  packages/clerk-js/src/core/resources/CommerceSubscription.ts
  packages/clerk-js/src/core/resources/Organization.ts
  packages/clerk-js/src/ui/Components.tsx
  packages/clerk-js/src/ui/components/Checkout/Checkout.tsx
  packages/clerk-js/src/ui/components/Checkout/CheckoutForm.tsx
  packages/clerk-js/src/ui/components/Checkout/CheckoutPage.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationBillingPage.tsx
  packages/clerk-js/src/ui/components/PaymentSources/AddPaymentSource.tsx
  packages/clerk-js/src/ui/components/PaymentSources/PaymentSources.tsx
  packages/clerk-js/src/ui/components/PricingTable/PricingTable.tsx
  packages/clerk-js/src/ui/components/PricingTable/SubscriptionDetailDrawer.tsx
  packages/clerk-js/src/ui/components/UserProfile/BillingPage.tsx
  packages/clerk-js/src/ui/contexts/components/PaymentSources.ts
  packages/clerk-js/src/ui/contexts/components/PricingTable.ts
  packages/clerk-js/src/ui/contexts/components/index.ts
  packages/clerk-js/src/ui/hooks/useCheckout.ts
  packages/clerk-js/src/ui/hooks/usePlans.ts
  packages/clerk-js/src/ui/icons/apple-pay.svg
  packages/clerk-js/src/ui/icons/index.ts
  packages/clerk-js/src/ui/types.ts
  packages/shared/src/react/hooks/useOrganization.tsx
  packages/types/src/clerk.ts
  packages/types/src/commerce.ts
  packages/types/src/json.ts
Labels: types, clerk-js

#5566 chore(e2e): Remove Next.js 14 pin
  .github/workflows/ci.yml
Labels: actions

#5549 feat(types,shared): JWT v2 - Support new organization claims structure
  .changeset/cool-socks-invite.md
  .changeset/cyan-hairs-share.md
  packages/backend/src/tokens/authObjects.ts
  packages/clerk-js/bundlewatch.config.json
  packages/clerk-js/src/core/jwt-client.ts
  packages/shared/package.json
  packages/shared/src/__tests__/jwtPayloadParser.test.ts
  packages/shared/src/jwtPayloadParser.ts
  packages/types/src/authObject.ts
  packages/types/src/index.ts
  packages/types/src/jwtv2.ts
Labels: types, clerk-js, backend

#5567 fix(astro): Construct derived state when als is empty
  .changeset/deep-moose-slide.md
  packages/astro/src/react/hooks.ts
Labels: astro

#5561 feat(repo,testing): Apply testing tokens to E2E tests
  .changeset/cute-berries-design.md
  .changeset/rich-breads-play.md
  integration/models/longRunningApplication.ts
  integration/testUtils/appPageObject.ts
  integration/testUtils/index.ts
  integration/tests/email-link.test.ts
  integration/tests/localhost/localhost-different-port-different-instance.test.ts
  integration/tests/localhost/localhost-different-port-same-instance.test.ts
  integration/tests/localhost/localhost-switch-instance.test.ts
  integration/tests/next-account-portal/common.ts
  integration/tests/non-secure-context.test.ts
  integration/tests/resiliency.test.ts
  integration/tests/restricted-mode.test.ts
  integration/tests/sessions/prod-app-migration.test.ts
  integration/tests/sessions/root-subdomain-prod-instances.test.ts
  integration/tests/sign-in-or-up-email-links-flow.test.ts
  integration/tests/waitlist-mode.test.ts
  package.json
  packages/testing/src/common/setup.ts
  packages/testing/src/common/types.ts
  pnpm-lock.yaml
Labels: integration, testing

#5560 chore(clerk-js): Add truncation option to line items description text
  .changeset/light-roses-design.md
  packages/clerk-js/bundlewatch.config.json
  packages/clerk-js/src/ui/components/Checkout/CheckoutComplete.tsx
  packages/clerk-js/src/ui/customizables/elementDescriptors.ts
  packages/clerk-js/src/ui/elements/LineItems.tsx
  packages/clerk-js/src/ui/utils/__tests__/truncateTextWithEndVisible.test.ts
  packages/clerk-js/src/ui/utils/truncateTextWithEndVisible.ts
  packages/types/src/appearance.ts
Labels: types, clerk-js

#5563 ci(repo): Version packages
  .changeset/cool-socks-invite.md
  .changeset/cute-berries-design.md
  .changeset/cyan-hairs-share.md
  .changeset/deep-moose-slide.md
  .changeset/free-knives-boil.md
  .changeset/great-moons-occur.md
  .changeset/hot-cats-smell.md
  .changeset/light-roses-design.md
  .changeset/metal-meals-cover.md
  .changeset/rich-breads-play.md
  .changeset/tidy-dolls-join.md
  packages/agent-toolkit/CHANGELOG.md
  packages/agent-toolkit/package.json
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/expo-passkeys/CHANGELOG.md
  packages/expo-passkeys/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/tanstack-react-start/CHANGELOG.md
  packages/tanstack-react-start/package.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, expo, chrome-extension, themes, elements, express, testing, tanstack, astro, react-router, nuxt, vue, agent-toolkit

#5571 test(e2e): Add tests for transfer sign up with legal consent
  integration/presets/longRunningApps.ts
  integration/tests/oauth-flows.test.ts
Labels: integration

#5574 chore(repo): Add tests for Typedoc
  .github/workflows/ci.yml
  .typedoc/__tests__/__snapshots__/file-structure.test.ts.snap
  .typedoc/__tests__/file-structure.test.ts
  package.json
Labels: actions

#5576 chore(repo): Notify generated-typedoc of new release
  .github/workflows/release.yml
Labels: actions

#5572 feat(elements): Upgrade xstate and @xstate/react
  .changeset/fine-ducks-love.md
  packages/elements/package.json
  packages/elements/src/internals/machines/sign-in/router.types.ts
  packages/elements/src/internals/machines/sign-in/verification.machine.ts
  packages/elements/src/internals/machines/sign-up/continue.machine.ts
  packages/elements/src/internals/machines/sign-up/router.types.ts
  packages/elements/src/internals/machines/sign-up/verification.machine.ts
  packages/elements/src/internals/utils/inspector/console/console.ts
  packages/elements/src/react/hooks/use-active-states.hook.ts
  packages/elements/src/react/hooks/use-active-tags.hook.ts
  packages/elements/src/react/sign-in/context/router.context.ts
  packages/elements/src/react/sign-up/context/router.context.ts
  pnpm-lock.yaml
Labels: elements

#5577 fix(localizations): Improve the CAPTCHA error message to better assist users
  .changeset/new-peas-win.md
  packages/localizations/src/en-GB.ts
  packages/localizations/src/en-US.ts
Labels: localizations

#5565 feat(clerk-js,clerk-react): Introduce `sessionClaims` in `useAuth()`
  .changeset/cuddly-cars-stop.md
  packages/clerk-js/bundlewatch.config.json
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/events.ts
  packages/clerk-js/src/core/resources/Session.ts
  packages/clerk-js/src/core/resources/__tests__/Session.test.ts
  packages/clerk-js/src/core/resources/__tests__/__snapshots__/Session.test.ts.snap
  packages/clerk-js/src/utils/memoizeStateListenerCallback.ts
  packages/react/src/contexts/AuthContext.ts
  packages/react/src/contexts/ClerkContextProvider.tsx
  packages/react/src/hooks/__tests__/useAuth.test.tsx
  packages/shared/src/authorization.ts
  packages/shared/src/deriveState.ts
  packages/types/src/hooks.ts
  packages/vue/src/plugin.ts
  packages/vue/src/types.ts
Labels: types, clerk-js, react, vue

#5573 ci(repo): Version packages
  .changeset/chatty-dolls-work.md
  .changeset/cuddly-cars-stop.md
  .changeset/fine-ducks-love.md
  .changeset/good-bats-wave.md
  .changeset/hip-nights-itch.md
  .changeset/new-peas-win.md
  .changeset/old-breads-check.md
  .changeset/sweet-cases-heal.md
  packages/agent-toolkit/CHANGELOG.md
  packages/agent-toolkit/package.json
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/expo-passkeys/CHANGELOG.md
  packages/expo-passkeys/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/tanstack-react-start/CHANGELOG.md
  packages/tanstack-react-start/package.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, expo, chrome-extension, themes, elements, express, testing, tanstack, astro, react-router, nuxt, vue, agent-toolkit

#5594 fix(clerk-js,chrome-extension): Externalize StripeJS (Non-RHC only)
  .changeset/open-papers-cross.md
  packages/clerk-js/rspack.config.js
  packages/clerk-js/src/ui/components/PaymentSources/AddPaymentSource.tsx
  scripts/search-for-rhc.mjs
Labels: clerk-js

#5593 feat(backend): Adds user-centric functionality to Backend API client
  .changeset/thin-foxes-exist.md
  packages/backend/src/api/endpoints/UserApi.ts
  packages/backend/src/api/resources/JSON.ts
  packages/backend/src/api/resources/OrganizationInvitation.ts
Labels: backend

#5588 feat(backend): Add JWKS BAPI endpoint
  .changeset/bright-spoons-fix.md
  packages/backend/src/api/__tests__/factory.test.ts
  packages/backend/src/api/endpoints/JwksApi.ts
  packages/backend/src/api/endpoints/index.ts
  packages/backend/src/api/factory.ts
  packages/backend/src/api/resources/JSON.ts
  packages/backend/src/fixtures/jwks.json
Labels: backend

#5592 feat(backend): Adds `createSession` to the Backend API client
  .changeset/rich-jobs-serve.md
  packages/backend/src/api/endpoints/SessionApi.ts
Labels: backend

#5579 chore(repo): Improve Typedoc pnpm scripts
  .github/workflows/ci.yml
  package.json
Labels: actions

#5578 chore(repo): Improve Typedoc MDX output
  .changeset/giant-bats-leave.md
  .typedoc/__tests__/__snapshots__/file-structure.test.ts.snap
  .typedoc/__tests__/file-structure.test.ts
  .typedoc/custom-plugin.mjs
  .typedoc/custom-router.mjs
  .typedoc/custom-theme.mjs
  package.json
  packages/react/src/hooks/useAuth.ts
  packages/shared/src/react/hooks/useOrganization.tsx
  packages/shared/src/react/hooks/useOrganizationList.tsx
  packages/types/src/clerk.ts
  packages/types/src/hooks.ts
  packages/types/src/organizationDomain.ts
  packages/types/src/organizationInvitation.ts
  packages/types/src/organizationMembership.ts
  packages/types/src/organizationSuggestion.ts
  packages/types/src/session.ts
  packages/types/src/signIn.ts
  packages/types/src/user.ts
  packages/types/src/utils.ts
  pnpm-lock.yaml
Labels: types, react

#5583 feat(backend): Add support for md5_phpass and ldap_ssha hashers
  .changeset/busy-ducks-strive.md
  packages/backend/src/api/endpoints/UserApi.ts
Labels: backend

#5589 feat(backend): Adds the ability to verify proxy checks to the Backend API client
  .changeset/fresh-bears-unite.md
  packages/backend/src/api/endpoints/ProxyCheckApi.ts
  packages/backend/src/api/endpoints/index.ts
  packages/backend/src/api/factory.ts
  packages/backend/src/api/resources/Deserializer.ts
  packages/backend/src/api/resources/JSON.ts
  packages/backend/src/api/resources/ProxyCheck.ts
  packages/backend/src/api/resources/index.ts
  packages/backend/src/index.ts
Labels: backend

#5582 feat(clerk-react,backend,shared,types): Introduce `has({ feature | plan })`
  .changeset/angry-nights-smash.md
  .changeset/cold-bears-go.md
  .changeset/every-feet-brush.md
  .changeset/flat-cougars-mate.md
  .changeset/four-doors-attack.md
  .changeset/four-streets-join.md
  .changeset/hip-sides-kick.md
  packages/backend/src/jwt/verifyJwt.ts
  packages/backend/src/tokens/__tests__/authObjects.test.ts
  packages/backend/src/tokens/authObjects.ts
  packages/clerk-js/bundlewatch.config.json
  packages/clerk-js/src/core/resources/Session.ts
  packages/nextjs/src/app-router/server/controlComponents.tsx
  packages/react/src/components/controlComponents.tsx
  packages/react/src/hooks/__tests__/useAuth.type.test.ts
  packages/react/src/hooks/useAuth.ts
  packages/shared/src/__tests__/jwtPayloadParser.test.ts
  packages/shared/src/authorization.ts
  packages/shared/src/jwtPayloadParser.ts
  packages/types/src/jwtv2.ts
  packages/types/src/session.ts
Labels: types, clerk-js, react, backend

#5570 feat(clerk-js,types): Add `PaymentSourceRow` for displaying payment sources
  .changeset/tall-clocks-call.md
  packages/clerk-js/bundlewatch.config.json
  packages/clerk-js/src/ui/components/Checkout/CheckoutForm.tsx
  packages/clerk-js/src/ui/components/PaymentSources/PaymentSourceRow.tsx
  packages/clerk-js/src/ui/components/PaymentSources/PaymentSources.tsx
  packages/clerk-js/src/ui/components/PaymentSources/index.ts
  packages/clerk-js/src/ui/customizables/elementDescriptors.ts
  packages/types/src/appearance.ts
  packages/types/src/elementIds.ts
Labels: clerk-js

#5586 fix(clerk-js): Ensure Organization slug includes alphanumeric characters
  .changeset/grumpy-queens-make.md
  packages/clerk-js/src/ui/components/CreateOrganization/CreateOrganizationForm.tsx
Labels: clerk-js

#5581 fix(clerk-js): Rename the `sendCaptchaToken` to `__internal_sendCaptchaToken`
  .changeset/eight-wombats-hunt.md
  packages/clerk-js/src/core/auth/CaptchaHeartbeat.ts
  packages/clerk-js/src/core/fraudProtection.test.ts
  packages/clerk-js/src/core/fraudProtection.ts
  packages/clerk-js/src/core/resources/Client.ts
  packages/clerk-js/src/core/resources/__tests__/Client.test.ts
  packages/types/src/client.ts
Labels: types, clerk-js

#5612 chore(clerk-js): Nest existing commerce settings under `billing`
  .changeset/clear-lights-talk.md
  packages/clerk-js/bundlewatch.config.json
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/resources/CommerceSettings.ts
  packages/clerk-js/src/core/resources/__tests__/__snapshots__/Environment.test.ts.snap
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationProfileRoutes.tsx
  packages/clerk-js/src/ui/components/PaymentSources/AddPaymentSource.tsx
  packages/clerk-js/src/ui/components/UserProfile/UserProfileRoutes.tsx
  packages/clerk-js/src/ui/utils/createCustomPages.tsx
  packages/clerk-js/src/utils/componentGuards.ts
  packages/types/src/commerceSettings.ts
Labels: types, clerk-js

#5614 fix(e2e): Replace `admin` with `org:admin`
  .changeset/tame-bugs-end.md
  integration/templates/astro-hybrid/src/pages/only-admins.astro
  integration/templates/astro-node/src/pages/api/protected/only-admin.ts
  integration/templates/astro-node/src/pages/only-admins.astro
  integration/templates/astro-node/src/pages/react/only-admins.astro
  integration/templates/astro-node/src/pages/server-islands.astro
  integration/templates/next-app-router/src/app/api/settings/route.ts
  integration/templates/next-app-router/src/app/settings/auth-protect/page.tsx
  integration/templates/next-app-router/src/app/settings/rsc-protect/page.tsx
  integration/templates/next-app-router/src/app/settings/useAuth-has/page.tsx
  integration/templates/next-app-router/src/middleware.ts
Labels: integration

#5596 chore(repo): Add `@unionReturnHeadings` Typedoc blockTag
  .changeset/whole-wasps-know.md
  .typedoc/__tests__/__snapshots__/file-structure.test.ts.snap
  .typedoc/custom-plugin.mjs
  .typedoc/custom-theme.mjs
  packages/backend/src/tokens/types.ts
  packages/backend/src/tokens/verify.ts
  packages/nextjs/src/app-router/server/currentUser.ts
  packages/react/src/components/controlComponents.tsx
  packages/react/src/hooks/useAuth.ts
  packages/react/src/hooks/useSignIn.ts
  packages/react/src/hooks/useSignUp.ts
  packages/shared/src/react/hooks/useSession.ts
  packages/shared/src/react/hooks/useSessionList.ts
  packages/shared/src/react/hooks/useUser.ts
  packages/types/src/clerk.ts
  packages/types/src/hooks.ts
  packages/types/src/organization.ts
  packages/types/src/organizationDomain.ts
  packages/types/src/organizationInvitation.ts
  packages/types/src/organizationMembership.ts
  packages/types/src/organizationMembershipRequest.ts
  packages/types/src/organizationSuggestion.ts
  packages/types/src/userOrganizationInvitation.ts
  packages/vue/src/composables/useSignIn.ts
  packages/vue/src/composables/useSignUp.ts
  typedoc.config.mjs
Labels: types, nextjs, react, backend, vue

#5616 fix(clerk-js): Reduce line truncation maxLength
  .changeset/silly-bats-open.md
  packages/clerk-js/src/ui/elements/LineItems.tsx
  packages/clerk-js/src/ui/utils/truncateTextWithEndVisible.ts
Labels: clerk-js

#5617 feat(backend): Add Blocklist Identifiers to Backend API client
  .changeset/fuzzy-chefs-change.md
  packages/backend/src/api/endpoints/AllowlistIdentifierApi.ts
  packages/backend/src/api/endpoints/BlocklistIdentifierApi.ts
  packages/backend/src/api/endpoints/index.ts
  packages/backend/src/api/factory.ts
  packages/backend/src/api/resources/AllowlistIdentifier.ts
  packages/backend/src/api/resources/BlocklistIdentifier.ts
  packages/backend/src/api/resources/Deserializer.ts
  packages/backend/src/api/resources/Enums.ts
  packages/backend/src/api/resources/JSON.ts
  packages/backend/src/api/resources/index.ts
  packages/backend/src/index.ts
Labels: backend

#5618 chore(nextjs): Add support for pages router when verifying webhooks
  .changeset/free-actors-prove.md
  packages/nextjs/src/__tests__/webhooks.test.ts
  packages/nextjs/src/webhooks.ts
Labels: nextjs

#5624 fix(localizations): German "Delete account" confirmation
  .changeset/tired-experts-dig.md
  packages/localizations/src/de-DE.ts
Labels: localizations

#5630 chore(*): Improve `@default`, `@deprecated` JSDoc
  .changeset/fast-lands-smash.md
  .typedoc/custom-plugin.mjs
  .typedoc/custom-theme.mjs
  package.json
  packages/astro/src/types.ts
  packages/backend/src/api/endpoints/UserApi.ts
  packages/backend/src/api/request.ts
  packages/backend/src/jwt/verifyJwt.ts
  packages/backend/src/tokens/keys.ts
  packages/backend/src/tokens/types.ts
  packages/clerk-js/src/core/resources/Client.ts
  packages/expo/src/hooks/useOAuth.ts
  packages/expo/src/provider/singleton/createClerkInstance.ts
  packages/expo/src/provider/singleton/singleton.ts
  packages/expo/src/provider/singleton/singleton.web.ts
  packages/react-router/src/ssr/types.ts
  packages/react/src/components/controlComponents.tsx
  packages/react/src/types.ts
  packages/remix/src/ssr/types.ts
  packages/shared/src/error.ts
  packages/shared/src/handleValueOrFn.ts
  packages/shared/src/react/hooks/useSession.ts
  packages/shared/src/react/types.ts
  packages/types/src/authConfig.ts
  packages/types/src/clerk.ts
  packages/types/src/client.ts
  packages/types/src/json.ts
  packages/types/src/jwt.ts
  packages/types/src/localization.ts
  packages/types/src/oauth.ts
  packages/types/src/pagination.ts
  packages/types/src/redirects.ts
  packages/types/src/signIn.ts
  packages/types/src/signUp.ts
  packages/types/src/strategies.ts
  packages/types/src/user.ts
  packages/types/src/userSettings.ts
  packages/types/src/web3.ts
  packages/vue/src/components/controlComponents.ts
  pnpm-lock.yaml
Labels: types, clerk-js, react, remix, backend, expo, astro, react-router, vue

#5621 feat(backend): Add Domain endpoints to the Backend API client
  .changeset/many-carpets-rush.md
  packages/backend/src/api/endpoints/DomainApi.ts
  packages/backend/src/api/endpoints/index.ts
  packages/backend/src/api/factory.ts
  packages/backend/src/api/resources/CnameTarget.ts
  packages/backend/src/api/resources/Deserializer.ts
  packages/backend/src/api/resources/Domain.ts
  packages/backend/src/api/resources/JSON.ts
  packages/backend/src/api/resources/index.ts
  packages/backend/src/index.ts
Labels: backend

#5585 feat(backend): Add `/actor_token` API endpoints
  .changeset/three-badgers-hunt.md
  packages/backend/src/api/endpoints/ActorTokenApi.ts
  packages/backend/src/api/endpoints/index.ts
  packages/backend/src/api/factory.ts
  packages/backend/src/api/resources/ActorToken.ts
  packages/backend/src/api/resources/Deserializer.ts
  packages/backend/src/api/resources/Enums.ts
  packages/backend/src/api/resources/JSON.ts
  packages/backend/src/api/resources/index.ts
  packages/backend/src/index.ts
Labels: backend

#5599 feat(backend): Add OAuth Application endpoints to Backend API client
  .changeset/lucky-planets-drive.md
  packages/backend/src/api/endpoints/OAuthApplicationsApi.ts
  packages/backend/src/api/endpoints/index.ts
  packages/backend/src/api/factory.ts
  packages/backend/src/api/resources/Deserializer.ts
  packages/backend/src/api/resources/JSON.ts
  packages/backend/src/api/resources/OAuthApplication.ts
  packages/backend/src/api/resources/index.ts
  packages/backend/src/index.ts
Labels: backend

#5600 feat(backend): Add Instance endpoints to Backend API client
  .changeset/heavy-foxes-check.md
  packages/backend/src/api/endpoints/InstanceApi.ts
  packages/backend/src/api/endpoints/index.ts
  packages/backend/src/api/factory.ts
  packages/backend/src/api/resources/Deserializer.ts
  packages/backend/src/api/resources/Enums.ts
  packages/backend/src/api/resources/Instance.ts
  packages/backend/src/api/resources/InstanceRestrictions.ts
  packages/backend/src/api/resources/InstanceSettings.ts
  packages/backend/src/api/resources/JSON.ts
  packages/backend/src/api/resources/OrganizationSettings.ts
  packages/backend/src/api/resources/index.ts
  packages/backend/src/index.ts
Labels: backend

#5591 feat(backend): Add Waitlist Entry endpoints to Backend API client
  .changeset/thick-showers-drop.md
  packages/backend/src/api/endpoints/WaitlistEntryApi.ts
  packages/backend/src/api/endpoints/index.ts
  packages/backend/src/api/factory.ts
  packages/backend/src/api/resources/Deserializer.ts
  packages/backend/src/api/resources/Enums.ts
  packages/backend/src/api/resources/JSON.ts
  packages/backend/src/api/resources/WaitlistEntry.ts
  packages/backend/src/api/resources/index.ts
Labels: backend

#5632 chore(clerk-js,types): Add billing profile route check for paid user and org plans
  .changeset/shy-shrimps-drive.md
  packages/clerk-js/bundlewatch.config.json
  packages/clerk-js/src/core/resources/__tests__/__snapshots__/Environment.test.ts.snap
  packages/clerk-js/src/ui/utils/createCustomPages.tsx
  packages/clerk-js/src/utils/componentGuards.ts
  packages/types/src/commerceSettings.ts
Labels: types, clerk-js

#5633 feat(backend): Add ability to change domain to Backend API client
  .changeset/swift-ducks-flash.md
  packages/backend/src/api/endpoints/BetaFeaturesApi.ts
  packages/backend/src/api/endpoints/index.ts
  packages/backend/src/api/factory.ts
Labels: backend

#5628 chore(clerk-js): Hide Billing tabs from UP and OP when no paid plans exist for an instance
  .changeset/wicked-hornets-fry.md
  packages/clerk-js/bundlewatch.config.json
  packages/clerk-js/src/core/resources/CommerceSettings.ts
  packages/clerk-js/src/core/resources/__tests__/__snapshots__/Environment.test.ts.snap
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationProfileRoutes.tsx
  packages/clerk-js/src/ui/components/UserProfile/UserProfileRoutes.tsx
  packages/clerk-js/src/ui/utils/createCustomPages.tsx
  packages/clerk-js/src/utils/componentGuards.ts
  packages/types/src/commerceSettings.ts
Labels: types, clerk-js, do not merge

#5636 fix(backend): Update typing of Organization.slug
  .changeset/solid-heads-turn.md
  packages/backend/src/api/resources/Organization.ts
Labels: backend

#5637 fix(clerk-js): Add `payer_type` param default to plans call
  .changeset/cool-mugs-drop.md
  packages/clerk-js/src/ui/contexts/components/Plans.tsx
Labels: clerk-js

#5615 chore(e2e): Run existing protect tests with a JWT v2 instance
  .changeset/purple-falcons-behave.md
  .changeset/silly-spies-cut.md
  integration/models/longRunningApplication.ts
  integration/presets/envs.ts
  integration/presets/longRunningApps.ts
  integration/tests/protect.test.ts
  packages/testing/src/common/setup.ts
Labels: integration, testing

#5631 feat(backend): Include expiresAt in OauthAccessToken resource
  .changeset/red-rivers-call.md
  packages/backend/src/api/resources/JSON.ts
  packages/backend/src/api/resources/OauthAccessToken.ts
Labels: backend

#5644 chore(clerk-js,types,localizations): Tidy up checkout complete state
  .changeset/tender-chefs-punch.md
  packages/clerk-js/bundlewatch.config.json
  packages/clerk-js/src/ui/components/Checkout/CheckoutComplete.tsx
  packages/localizations/src/en-US.ts
  packages/types/src/localization.ts
Labels: types, clerk-js, localizations

#5625 feat(backend): Add sign ups to Backend API client
  .changeset/smooth-ways-arrive.md
  packages/backend/src/api/endpoints/SignUpApi.ts
  packages/backend/src/api/endpoints/index.ts
  packages/backend/src/api/factory.ts
  packages/backend/src/api/resources/Deserializer.ts
  packages/backend/src/api/resources/Enums.ts
  packages/backend/src/api/resources/JSON.ts
  packages/backend/src/api/resources/SignUpAttempt.ts
  packages/backend/src/api/resources/index.ts
  packages/backend/src/index.ts
Labels: backend

#5646 fix(backend,types): Append `expired` status to invitation types
  .changeset/cute-ghosts-decide.md
  packages/backend/src/api/endpoints/InvitationApi.ts
  packages/backend/src/api/resources/Enums.ts
  packages/types/src/organizationInvitation.ts
Labels: types, backend

#5645 fix(clerk-js): Disambiguate redirect url options between flows
  .changeset/cruel-baths-sleep.md
  integration/tests/oauth-flows.test.ts
  packages/clerk-js/src/ui/Components.tsx
  packages/clerk-js/src/ui/components/SignIn/SignIn.tsx
  packages/clerk-js/src/ui/contexts/components/SignIn.ts
  packages/clerk-js/src/ui/contexts/components/SignUp.ts
  packages/clerk-js/src/ui/types.ts
  packages/clerk-js/src/utils/disambiguateRedirectOptions.ts
Labels: clerk-js, integration

#5648 feat(nextjs): Use strict param in CSP generation
  .changeset/free-crews-sin.md
  packages/nextjs/src/server/__tests__/content-security-policy.test.ts
  packages/nextjs/src/server/clerkMiddleware.ts
  packages/nextjs/src/server/content-security-policy.ts
Labels: nextjs

#5650 fix(clerk-js,types): Display correct total in checkout complete page
  .changeset/smart-parrots-lead.md
  packages/clerk-js/src/core/resources/CommerceCheckout.ts
  packages/clerk-js/src/ui/components/Checkout/CheckoutComplete.tsx
  packages/types/src/commerce.ts
  packages/types/src/json.ts
Labels: types, clerk-js

#5652 fix(nextjs): Make strict CSP param optional and default to false
  .changeset/wild-cases-wash.md
  packages/nextjs/src/server/clerkMiddleware.ts
Labels: nextjs

#5653 fix(clerk-js): Reset definition list components margins
  .changeset/eighty-suns-argue.md
  packages/clerk-js/src/ui/elements/Header.tsx
  packages/clerk-js/src/ui/primitives/Dd.tsx
  packages/clerk-js/src/ui/primitives/Dl.tsx
  packages/clerk-js/src/ui/primitives/Dt.tsx
Labels: clerk-js

#5654 chore(clerk-js): Improve checkout error handling
  .changeset/rude-mirrors-jog.md
  packages/clerk-js/src/ui/components/Checkout/CheckoutForm.tsx
  packages/clerk-js/src/ui/components/PricingTable/SubscriptionDetailDrawer.tsx
Labels: clerk-js

#5657 chore(localizations): Update `es-MX` translations
  .changeset/dirty-ads-heal.md
  packages/localizations/src/es-MX.ts
Labels: localizations

#5655 refactor(clerk-js): Invoice page title
  .changeset/forty-peaches-stay.md
  packages/clerk-js/bundlewatch.config.json
  packages/clerk-js/src/ui/components/Invoices/InvoicePage.tsx
  packages/clerk-js/src/ui/customizables/elementDescriptors.ts
  packages/types/src/appearance.ts
Labels: types, clerk-js

#5647 feat(e2e): Add ensureBapiUserExists method
  integration/testUtils/usersService.ts
  integration/tests/oauth-flows.test.ts
Labels: integration

#5651 ci(repo): Version packages
  .changeset/dirty-ads-heal.md
  .changeset/eighty-suns-argue.md
  .changeset/forty-peaches-stay.md
  .changeset/free-crews-sin.md
  .changeset/pretty-wasps-press.md
  .changeset/rude-mirrors-jog.md
  .changeset/silent-snails-reply.md
  .changeset/smart-parrots-lead.md
  .changeset/wild-cases-wash.md
  packages/agent-toolkit/CHANGELOG.md
  packages/agent-toolkit/package.json
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/expo-passkeys/CHANGELOG.md
  packages/expo-passkeys/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/tanstack-react-start/CHANGELOG.md
  packages/tanstack-react-start/package.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, expo, chrome-extension, themes, elements, express, testing, tanstack, astro, react-router, nuxt, vue, agent-toolkit

#5660 feat(e2e): Test impersonation with actor tokens
  integration/testUtils/impersonationPageObjects.ts
  integration/testUtils/index.ts
  integration/tests/impersonation-flow.test.ts
Labels: integration

#5662 chore(e2e): Speed up reverification tests
  .changeset/short-experts-show.md
  integration/tests/reverification.test.ts
Labels: integration

#5659 chore(e2e): Add e2e tests for has() with JWT v2 format
  integration/templates/next-app-router/src/app/jwt-v2-organizations/(tests)/conditionals.tsx
  integration/templates/next-app-router/src/app/jwt-v2-organizations/(tests)/has-client/page.tsx
  integration/templates/next-app-router/src/app/jwt-v2-organizations/(tests)/has-server/page.tsx
  integration/templates/next-app-router/src/app/jwt-v2-organizations/(tests)/has-ssr/client.tsx
  integration/templates/next-app-router/src/app/jwt-v2-organizations/(tests)/has-ssr/page.tsx
  integration/templates/next-app-router/src/app/jwt-v2-organizations/(tests)/layout.tsx
  integration/templates/next-app-router/src/app/jwt-v2-organizations/(tests)/page.tsx
  integration/templates/next-app-router/src/app/jwt-v2-organizations/client-jwt.tsx
  integration/templates/next-app-router/src/app/jwt-v2-organizations/server-jwt.tsx
  integration/tests/protect-jwt-v2.test.ts
Labels: integration

#5664 fix(clerk-js): Fix duplicate checkout calls
  .changeset/eight-friends-fail.md
  packages/clerk-js/src/ui/lazyModules/providers.tsx
Labels: clerk-js

#5476 feat(clerk-react,clerk-js, types,shared): Introduce `Clerk.status`
  .changeset/cool-showers-admire.md
  .changeset/olive-onions-do.md
  .typedoc/__tests__/__snapshots__/file-structure.test.ts.snap
  integration/templates/react-vite/src/clerk-status/index.tsx
  integration/templates/react-vite/src/main.tsx
  integration/testUtils/index.ts
  integration/tests/resiliency.test.ts
  packages/chrome-extension/src/__tests__/__snapshots__/exports.test.ts.snap
  packages/clerk-js/bundlewatch.config.json
  packages/clerk-js/src/core/auth/AuthCookieService.ts
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/constants.ts
  packages/nextjs/src/client-boundary/controlComponents.ts
  packages/nextjs/src/index.ts
  packages/react-router/src/__tests__/__snapshots__/exports.test.ts.snap
  packages/react/src/components/controlComponents.tsx
  packages/react/src/components/index.ts
  packages/react/src/contexts/ClerkContextProvider.tsx
  packages/react/src/hooks/utils.ts
  packages/react/src/isomorphicClerk.ts
  packages/shared/package.json
  packages/shared/src/clerkEventBus.ts
  packages/shared/src/deriveState.ts
  packages/types/src/clerk.ts
Labels: types, clerk-js, nextjs, react, chrome-extension, integration, react-router

#5666 chore(clerk-js): Removes experimental commerce flag
  .changeset/fuzzy-pears-win.md
  packages/clerk-js/sandbox/app.ts
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationProfileRoutes.tsx
  packages/clerk-js/src/ui/components/UserProfile/UserProfileRoutes.tsx
  packages/clerk-js/src/ui/utils/createCustomPages.tsx
Labels: clerk-js

#5669 chore(repo): Skip flaky test
  integration/tests/resiliency.test.ts
Labels: integration

#5670 fix(clerk-js): Rollback drawer suspense change
  .changeset/mean-impalas-reply.md
  packages/clerk-js/src/ui/lazyModules/providers.tsx
Labels: clerk-js

#5673 fix(testing): Better route interception hierarchy
  .changeset/fruity-areas-train.md
  integration/testUtils/index.ts
  integration/tests/non-secure-context.test.ts
  integration/tests/resiliency.test.ts
  integration/tests/reverification.test.ts
  packages/testing/src/playwright/helpers.ts
  packages/testing/src/playwright/setupClerkTestingToken.ts
  pnpm-lock.yaml
Labels: integration, testing

#5671 feat(clerk-js,types,localizations): Collect user email when needed during checkout
  .changeset/grumpy-carrots-love.md
  packages/clerk-js/bundlewatch.config.json
  packages/clerk-js/src/core/modules/commerce/CommerceBilling.ts
  packages/clerk-js/src/ui/components/Checkout/CheckoutPage.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationProfile.tsx
  packages/clerk-js/src/ui/components/PricingTable/PricingTable.tsx
  packages/clerk-js/src/ui/components/PricingTable/PricingTableDefault.tsx
  packages/clerk-js/src/ui/components/PricingTable/PricingTableMatrix.tsx
  packages/clerk-js/src/ui/components/Subscriptions/SubscriptionsList.tsx
  packages/clerk-js/src/ui/components/UserProfile/EmailForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/UserProfile.tsx
  packages/clerk-js/src/ui/constants.ts
  packages/clerk-js/src/ui/contexts/components/Plans.tsx
  packages/clerk-js/src/ui/elements/Drawer.tsx
  packages/clerk-js/src/ui/elements/ProfileCard/ProfileCardContent.tsx
  packages/clerk-js/src/ui/hooks/useCheckout.ts
  packages/clerk-js/src/ui/hooks/useFetch.ts
  packages/clerk-js/src/ui/types.ts
  packages/localizations/src/en-US.ts
  packages/types/src/localization.ts
Labels: types, clerk-js, localizations

#5688 chore(localizations): Account for all possible cases from `not_allowed_access` error codes
  .changeset/curly-candles-dance.md
  packages/localizations/src/en-GB.ts
  packages/localizations/src/en-US.ts
Labels: localizations

#5665 ci(repo): Version packages
  .changeset/cool-showers-admire.md
  .changeset/curly-candles-dance.md
  .changeset/eight-friends-fail.md
  .changeset/fruity-areas-train.md
  .changeset/fuzzy-pears-win.md
  .changeset/grumpy-carrots-love.md
  .changeset/mean-impalas-reply.md
  .changeset/olive-onions-do.md
  .changeset/red-peaches-fold.md
  .changeset/short-experts-show.md
  .changeset/social-pandas-return.md
  packages/agent-toolkit/CHANGELOG.md
  packages/agent-toolkit/package.json
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/expo-passkeys/CHANGELOG.md
  packages/expo-passkeys/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/tanstack-react-start/CHANGELOG.md
  packages/tanstack-react-start/package.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, expo, chrome-extension, themes, elements, express, testing, tanstack, astro, react-router, nuxt, vue, agent-toolkit

#5692 chore(tanstack-react-start): Add export snapshots
  .changeset/smart-rooms-refuse.md
  packages/tanstack-react-start/package.json
  packages/tanstack-react-start/src/__tests__/__snapshots__/exports.test.ts.snap
  packages/tanstack-react-start/src/__tests__/exports.test.ts
  packages/tanstack-react-start/vitest.config.mts
  packages/tanstack-react-start/vitest.setup.mts
Labels: tanstack

#5690 fix(clerk-js): Minor UI fixes for commerce
  .changeset/icy-lemons-fall.md
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationBillingPage.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationProfileRoutes.tsx
  packages/clerk-js/src/ui/components/Subscriptions/SubscriptionsList.tsx
  packages/clerk-js/src/ui/components/UserProfile/BillingPage.tsx
  packages/clerk-js/src/ui/components/UserProfile/UserProfileRoutes.tsx
  packages/clerk-js/src/ui/contexts/components/Plans.tsx
  packages/clerk-js/src/ui/hooks/useFetch.ts
Labels: clerk-js

#5695 fix(clerk-react): Add details to `UserButton.*` error message
  .changeset/shaky-crabs-show.md
  packages/react/src/errors/messages.ts
Labels: react

#5691 feat(clerk-react,nextjs): Export `<__experimental_PricingTable />`
  .changeset/upset-taxes-marry.md
  packages/chrome-extension/src/__tests__/__snapshots__/exports.test.ts.snap
  packages/expo/src/web/uiComponents.tsx
  packages/nextjs/src/client-boundary/uiComponents.tsx
  packages/nextjs/src/index.ts
  packages/react-router/src/__tests__/__snapshots__/exports.test.ts.snap
  packages/react/src/components/index.ts
  packages/react/src/components/uiComponents.tsx
  packages/tanstack-react-start/src/__tests__/__snapshots__/exports.test.ts.snap
Labels: nextjs, react, expo, chrome-extension, tanstack, react-router

#5702 feat(nextjs): CSP reporting mode
  .changeset/cool-roses-scream.md
  packages/backend/src/constants.ts
  packages/nextjs/src/server/__tests__/content-security-policy.test.ts
  packages/nextjs/src/server/clerkMiddleware.ts
  packages/nextjs/src/server/content-security-policy.ts
Labels: nextjs, backend

#5694 ci(repo): Version packages
  .changeset/cool-roses-scream.md
  .changeset/icy-lemons-fall.md
  .changeset/major-terms-travel.md
  .changeset/shaky-crabs-show.md
  .changeset/smart-rooms-refuse.md
  .changeset/thick-beers-wave.md
  .changeset/upset-taxes-marry.md
  packages/agent-toolkit/CHANGELOG.md
  packages/agent-toolkit/package.json
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/expo-passkeys/CHANGELOG.md
  packages/expo-passkeys/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/tanstack-react-start/CHANGELOG.md
  packages/tanstack-react-start/package.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, expo, chrome-extension, themes, elements, express, testing, tanstack, astro, react-router, nuxt, vue, agent-toolkit

#5706 fix(clerk-js): Use the same cache key for payment sources across checkout and profiles
  .changeset/dull-peaches-camp.md
  packages/clerk-js/src/ui/components/PaymentSources/PaymentSources.tsx
Labels: clerk-js

#5705 fix(clerk-js): Incremental improvements for account funds
  .changeset/silver-symbols-worry.md
  packages/clerk-js/src/ui/components/Checkout/CheckoutForm.tsx
  packages/clerk-js/src/ui/components/PricingTable/PricingTable.tsx
Labels: clerk-js

#5701 feat(localizations): Remove `not_allowed_access` from `en_*` files
  .changeset/pretty-chicken-visit.md
  packages/clerk-js/src/ui/localization/__tests__/makeLocalizable.test.tsx
  packages/localizations/src/ar-SA.ts
  packages/localizations/src/be-BY.ts
  packages/localizations/src/bg-BG.ts
  packages/localizations/src/ca-ES.ts
  packages/localizations/src/cs-CZ.ts
  packages/localizations/src/da-DK.ts
  packages/localizations/src/de-DE.ts
  packages/localizations/src/el-GR.ts
  packages/localizations/src/en-GB.ts
  packages/localizations/src/en-US.ts
  packages/localizations/src/es-ES.ts
  packages/localizations/src/es-MX.ts
  packages/localizations/src/es-UY.ts
  packages/localizations/src/fi-FI.ts
  packages/localizations/src/fr-FR.ts
  packages/localizations/src/he-IL.ts
  packages/localizations/src/hr-HR.ts
  packages/localizations/src/hu-HU.ts
  packages/localizations/src/id-ID.ts
  packages/localizations/src/is-IS.ts
  packages/localizations/src/it-IT.ts
  packages/localizations/src/ja-JP.ts
  packages/localizations/src/ko-KR.ts
  packages/localizations/src/mn-MN.ts
  packages/localizations/src/nb-NO.ts
  packages/localizations/src/nl-BE.ts
  packages/localizations/src/nl-NL.ts
  packages/localizations/src/pl-PL.ts
  packages/localizations/src/pt-BR.ts
  packages/localizations/src/pt-PT.ts
  packages/localizations/src/ro-RO.ts
  packages/localizations/src/ru-RU.ts
  packages/localizations/src/sk-SK.ts
  packages/localizations/src/sr-RS.ts
  packages/localizations/src/sv-SE.ts
  packages/localizations/src/th-TH.ts
  packages/localizations/src/tr-TR.ts
  packages/localizations/src/uk-UA.ts
  packages/localizations/src/utils/enUS_v4.ts
  packages/localizations/src/vi-VN.ts
  packages/localizations/src/zh-CN.ts
  packages/localizations/src/zh-TW.ts
Labels: clerk-js, localizations

#5700 chore(localizations): Simplify `form_identifier_not_found` localization
  .changeset/large-tires-win.md
  integration/tests/sign-in-or-up-restricted-mode.test.ts
  packages/localizations/src/ar-SA.ts
  packages/localizations/src/be-BY.ts
  packages/localizations/src/ca-ES.ts
  packages/localizations/src/cs-CZ.ts
  packages/localizations/src/da-DK.ts
  packages/localizations/src/de-DE.ts
  packages/localizations/src/el-GR.ts
  packages/localizations/src/en-GB.ts
  packages/localizations/src/en-US.ts
  packages/localizations/src/es-MX.ts
  packages/localizations/src/es-UY.ts
  packages/localizations/src/fi-FI.ts
  packages/localizations/src/fr-FR.ts
  packages/localizations/src/he-IL.ts
  packages/localizations/src/hr-HR.ts
  packages/localizations/src/hu-HU.ts
  packages/localizations/src/id-ID.ts
  packages/localizations/src/is-IS.ts
  packages/localizations/src/ja-JP.ts
  packages/localizations/src/ko-KR.ts
  packages/localizations/src/nb-NO.ts
  packages/localizations/src/nl-BE.ts
  packages/localizations/src/nl-NL.ts
  packages/localizations/src/pt-PT.ts
  packages/localizations/src/ro-RO.ts
  packages/localizations/src/ru-RU.ts
  packages/localizations/src/sk-SK.ts
  packages/localizations/src/sr-RS.ts
  packages/localizations/src/sv-SE.ts
  packages/localizations/src/tr-TR.ts
  packages/localizations/src/uk-UA.ts
  packages/localizations/src/utils/enUS_v4.ts
  packages/localizations/src/vi-VN.ts
  packages/localizations/src/zh-CN.ts
  packages/localizations/src/zh-TW.ts
Labels: localizations, integration

#5709 fix(clerk-js): Revalidate payment sources from `<Checkout />`
  .changeset/fluffy-snails-sort.md
  packages/clerk-js/src/ui/components/PaymentSources/AddPaymentSource.tsx
Labels: clerk-js

#5711 fix(clerk-js): Avoid laggy ui when closing drawer after canceling subscription
  .changeset/easy-zebras-wave.md
  packages/clerk-js/src/ui/components/Subscriptions/SubscriptionDetails.tsx
  packages/clerk-js/src/ui/contexts/components/Plans.tsx
Labels: clerk-js

#5712 fix(clerk-js): Use userId in cache keys of private commerce resources
  .changeset/floppy-cities-warn.md
  packages/clerk-js/bundlewatch.config.json
  packages/clerk-js/src/ui/components/Checkout/CheckoutForm.tsx
  packages/clerk-js/src/ui/components/PaymentSources/AddPaymentSource.tsx
  packages/clerk-js/src/ui/components/PaymentSources/PaymentSources.tsx
  packages/clerk-js/src/ui/components/PricingTable/PricingTable.tsx
  packages/clerk-js/src/ui/contexts/components/Invoices.tsx
  packages/clerk-js/src/ui/contexts/components/Plans.tsx
  packages/clerk-js/src/ui/hooks/useCheckout.ts
Labels: clerk-js

#5718 fix(clerk-js): Add support for 2 new OAuth error codes
  .changeset/tough-cameras-lie.md
  packages/clerk-js/src/core/constants.ts
  packages/clerk-js/src/ui/components/SignIn/SignInStart.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpStart.tsx
Labels: clerk-js

#5708 ci(repo): Version packages
  .changeset/dull-peaches-camp.md
  .changeset/easy-zebras-wave.md
  .changeset/floppy-cities-warn.md
  .changeset/fluffy-snails-sort.md
  .changeset/large-tires-win.md
  .changeset/nasty-emus-give.md
  .changeset/pretty-chicken-visit.md
  .changeset/silver-symbols-worry.md
  .changeset/tasty-parrots-teach.md
  .changeset/ten-taxes-float.md
  .changeset/tough-cameras-lie.md
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
Labels: clerk-js, localizations, expo, chrome-extension

#5721 fix(clerk-js,types,localizations): Use "Payment methods" terminology
  .changeset/small-berries-sneeze.md
  packages/clerk-js/src/ui/components/Checkout/CheckoutForm.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationBillingPage.tsx
  packages/clerk-js/src/ui/components/UserProfile/BillingPage.tsx
  packages/localizations/src/ar-SA.ts
  packages/localizations/src/be-BY.ts
  packages/localizations/src/bg-BG.ts
  packages/localizations/src/ca-ES.ts
  packages/localizations/src/cs-CZ.ts
  packages/localizations/src/da-DK.ts
  packages/localizations/src/de-DE.ts
  packages/localizations/src/el-GR.ts
  packages/localizations/src/en-GB.ts
  packages/localizations/src/en-US.ts
  packages/localizations/src/es-ES.ts
  packages/localizations/src/es-MX.ts
  packages/localizations/src/fi-FI.ts
  packages/localizations/src/fr-FR.ts
  packages/localizations/src/he-IL.ts
  packages/localizations/src/hr-HR.ts
  packages/localizations/src/hu-HU.ts
  packages/localizations/src/id-ID.ts
  packages/localizations/src/is-IS.ts
  packages/localizations/src/it-IT.ts
  packages/localizations/src/ja-JP.ts
  packages/localizations/src/ko-KR.ts
  packages/localizations/src/mn-MN.ts
  packages/localizations/src/nb-NO.ts
  packages/localizations/src/nl-BE.ts
  packages/localizations/src/nl-NL.ts
  packages/localizations/src/pl-PL.ts
  packages/localizations/src/pt-BR.ts
  packages/localizations/src/pt-PT.ts
  packages/localizations/src/ro-RO.ts
  packages/localizations/src/ru-RU.ts
  packages/localizations/src/sk-SK.ts
  packages/localizations/src/sr-RS.ts
  packages/localizations/src/sv-SE.ts
  packages/localizations/src/th-TH.ts
  packages/localizations/src/tr-TR.ts
  packages/localizations/src/uk-UA.ts
  packages/localizations/src/vi-VN.ts
  packages/localizations/src/zh-CN.ts
  packages/localizations/src/zh-TW.ts
  packages/types/src/localization.ts
Labels: types, clerk-js, localizations

#5722 fix(clerk-js): Display "Switch to this plan" when a subscription already exists
  .changeset/clear-trains-rhyme.md
  packages/clerk-js/src/ui/components/Subscriptions/SubscriptionsList.tsx
  packages/clerk-js/src/ui/contexts/components/Plans.tsx
Labels: clerk-js

#5725 chore(repo): Delete unused page object
  integration/testUtils/impersonationPageObjects.ts
Labels: integration

#5724 fix(clerk-js,types): Exclude matrix variant from the public api
  .changeset/clean-doodles-thank.md
  packages/clerk-js/src/ui/components/PricingTable/PricingTable.tsx
  packages/clerk-js/src/ui/components/PricingTable/PricingTableDefault.tsx
  packages/types/src/clerk.ts
Labels: types, clerk-js

#5726 chore(clerk-js,types): Split shared `CommerceTotals`
  .changeset/nine-pets-learn.md
  packages/clerk-js/src/core/resources/CommerceCheckout.ts
  packages/clerk-js/src/core/resources/CommerceInvoice.ts
  packages/clerk-js/src/utils/commerce.ts
  packages/types/src/commerce.ts
  packages/types/src/json.ts
Labels: types, clerk-js

#5514 feat(clerk-js): __session cookie Partitioned attribute
  .changeset/plain-crabs-move.md
  packages/clerk-js/jest.config.js
  packages/clerk-js/rspack.config.js
  packages/clerk-js/src/core/auth/cookies/session.ts
  packages/clerk-js/src/global.d.ts
  packages/clerk-js/src/index.chips.ts
Labels: clerk-js

#5738 chore(clerk-js): Remove stale invoice properties
  .changeset/shy-items-grow.md
  packages/clerk-js/src/core/resources/CommerceInvoice.ts
  packages/types/src/commerce.ts
  packages/types/src/json.ts
Labels: types, clerk-js

#5741 fix(clerk-js): Replace commerce with billing when components cannot render
  .changeset/shy-chairs-speak.md
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/warnings.ts
Labels: clerk-js

#5743 fix(clerk-js): Force re-mount drawers on session switch
  .changeset/puny-dancers-worry.md
  packages/clerk-js/src/ui/Components.tsx
  packages/clerk-js/src/ui/lazyModules/MountedCheckoutDrawer.tsx
  packages/clerk-js/src/ui/lazyModules/MountedSubscriptionDetailDrawer.tsx
  packages/clerk-js/src/ui/lazyModules/drawers.tsx
Labels: clerk-js

#5744 chore(clerk-js): Track size of `clerk.legacy.browser`
  .changeset/loud-moments-look.md
  packages/clerk-js/bundlewatch.config.json
Labels: clerk-js

#5742 feat(clerk-js): Add retry if 500 errors for confirmation checkout request
  .changeset/soft-schools-bake.md
  packages/clerk-js/src/core/resources/CommerceCheckout.ts
Labels: clerk-js

#5745 feat(commerce): Checkout confirm request handles both new/existing payment sources
  .changeset/breezy-hairs-smell.md
  packages/clerk-js/bundlewatch.config.json
  packages/clerk-js/src/ui/components/Checkout/CheckoutForm.tsx
  packages/clerk-js/src/ui/components/PaymentSources/AddPaymentSource.tsx
  packages/clerk-js/src/ui/components/PaymentSources/PaymentSources.tsx
  packages/types/src/commerce.ts
Labels: types, clerk-js

#5727 chore(clerk-js,types,localizations): Break out subscriptions and plans within User/OrgProfile
  .changeset/orange-moles-wish.md
  packages/clerk-js/bundlewatch.config.json
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationBillingPage.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationPlansPage.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationProfileRoutes.tsx
  packages/clerk-js/src/ui/components/PricingTable/FreePlanRow.tsx
  packages/clerk-js/src/ui/components/PricingTable/PricingTable.tsx
  packages/clerk-js/src/ui/components/PricingTable/PricingTableDefault.tsx
  packages/clerk-js/src/ui/components/Subscriptions/SubscriptionDetails.tsx
  packages/clerk-js/src/ui/components/Subscriptions/SubscriptionsList.tsx
  packages/clerk-js/src/ui/components/UserProfile/BillingPage.tsx
  packages/clerk-js/src/ui/components/UserProfile/PlansPage.tsx
  packages/clerk-js/src/ui/components/UserProfile/UserProfileRoutes.tsx
  packages/clerk-js/src/ui/contexts/components/Plans.tsx
  packages/clerk-js/src/ui/customizables/elementDescriptors.ts
  packages/clerk-js/src/ui/icons/index.ts
  packages/clerk-js/src/ui/icons/plans.svg
  packages/clerk-js/src/ui/polishedAppearance.ts
  packages/localizations/src/en-US.ts
  packages/types/src/appearance.ts
  packages/types/src/clerk.ts
  packages/types/src/localization.ts
Labels: types, clerk-js, localizations

#5749 chore(clerk-js,types): Rename SubscriptionDetails to PlanDetails
  .changeset/cruel-berries-flow.md
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/warnings.ts
  packages/clerk-js/src/ui/Components.tsx
  packages/clerk-js/src/ui/components/Plans/PlanDetails.tsx
  packages/clerk-js/src/ui/components/Plans/index.tsx
  packages/clerk-js/src/ui/components/PricingTable/FreePlanRow.tsx
  packages/clerk-js/src/ui/components/PricingTable/PricingTableDefault.tsx
  packages/clerk-js/src/ui/components/Subscriptions/index.tsx
  packages/clerk-js/src/ui/contexts/components/Plans.tsx
  packages/clerk-js/src/ui/customizables/elementDescriptors.ts
  packages/clerk-js/src/ui/elements/contexts/FlowMetadataContext.tsx
  packages/clerk-js/src/ui/lazyModules/MountedPlanDetailDrawer.tsx
  packages/clerk-js/src/ui/lazyModules/MountedSubscriptionDetailDrawer.tsx
  packages/clerk-js/src/ui/lazyModules/components.ts
  packages/clerk-js/src/ui/lazyModules/drawers.tsx
  packages/clerk-js/src/ui/types.ts
  packages/react/src/isomorphicClerk.ts
  packages/types/src/appearance.ts
  packages/types/src/clerk.ts
Labels: types, clerk-js, react

#5739 fix(clerk-js): Add the CAPTCHA element on the SignIn component
  .changeset/tricky-chicken-sell.md
  packages/clerk-js/src/ui/components/SignIn/SignInStart.tsx
Labels: clerk-js

#5753 fix(clerk-js): Fix layout shift caused by the invisible captcha mechanism
  .changeset/clean-walls-invite.md
  packages/clerk-js/src/utils/captcha/turnstile.ts
Labels: clerk-js

#5754 refactor(backend): Introduce HandshakeService
  packages/backend/src/tokens/__tests__/handshake.test.ts
  packages/backend/src/tokens/handshake.ts
  packages/backend/src/tokens/request.ts
Labels: backend

#5755 fix(clerk-js): Reset ul list styling within pricing table and plan details
  .changeset/rare-memes-count.md
  packages/clerk-js/src/ui/components/Plans/PlanDetails.tsx
  packages/clerk-js/src/ui/components/PricingTable/PricingTableDefault.tsx
Labels: clerk-js

#5748 feat(e2e): Add initial Billing tests
  .github/workflows/ci.yml
  integration/presets/envs.ts
  integration/presets/longRunningApps.ts
  integration/templates/next-app-router/src/app/pricing-table/page.tsx
  integration/tests/pricing-table.test.ts
  package.json
  turbo.json
Labels: actions, integration

#5758 fix(clerk-js): Correct chips entry point
  .changeset/eighty-singers-poke.md
  packages/clerk-js/rspack.config.js
  packages/clerk-js/src/index.chips.browser.ts
  packages/clerk-js/src/index.chips.ts
Labels: clerk-js

#5761 fix(clerk-js): Update bundlesize for clerk.headless.browser.js
  .changeset/giant-dots-design.md
  packages/clerk-js/bundlewatch.config.json
Labels: clerk-js

#5760 chore(clerk-js): Update qrcode.react to 4.2.0
  .changeset/stale-waves-rhyme.md
  packages/clerk-js/package.json
  pnpm-lock.yaml
Labels: clerk-js

#5759 ci(repo): Version packages
  .changeset/eighty-singers-poke.md
  .changeset/giant-dots-design.md
  .changeset/stale-waves-rhyme.md
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
Labels: clerk-js, expo, chrome-extension

#5746 feat(clerk-js): Display proration in `<Checkout />`
  .changeset/moody-corners-wish.md
  packages/clerk-js/bundlewatch.config.json
  packages/clerk-js/src/ui/components/Checkout/CheckoutForm.tsx
  packages/clerk-js/src/ui/customizables/elementDescriptors.ts
  packages/clerk-js/src/ui/elements/LineItems.tsx
  packages/clerk-js/src/utils/commerce.ts
  packages/types/src/appearance.ts
  packages/types/src/commerce.ts
  packages/types/src/json.ts
Labels: types, clerk-js

#5764 fix(clerk-js): Conditionally render downgrade notice
  .changeset/bumpy-badgers-trade.md
  packages/clerk-js/src/ui/components/Checkout/CheckoutForm.tsx
Labels: clerk-js

#5765 fix(clerk-js): Avoid opening checkout from pricing table without a session
  .changeset/honest-pears-bet.md
  integration/tests/pricing-table.test.ts
  packages/clerk-js/src/ui/components/PricingTable/PricingTable.tsx
Labels: clerk-js, integration

#5772 feat(clerk-js): Add isImmediatePlanChange to handle immediate plan changes
  packages/clerk-js/src/core/resources/CommerceCheckout.ts
  packages/clerk-js/src/ui/components/Checkout/CheckoutForm.tsx
  packages/types/src/commerce.ts
  packages/types/src/json.ts
Labels: types, clerk-js
