Repository clerk/javascript, pull requests merged in 2025-07, with the labels that each got.

#6227 test(backend): Remove mocked svix module
  .changeset/hungry-penguins-join.md
  packages/backend/src/__tests__/webhooks.test.ts
Labels: backend

#6228 fix(repo): Mock browser-tabs-lock in tests
  .changeset/fine-bars-hug.md
  packages/clerk-js/vitest.setup.mts
Labels: clerk-js

#6183 chore(clerk-js): Address leftover commerce TODOs
  .changeset/silent-zebras-refuse.md
  packages/clerk-js/bundlewatch.config.json
  packages/clerk-js/src/ui/components/Checkout/parts.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationProfileRoutes.tsx
  packages/clerk-js/src/ui/components/PaymentSources/AddPaymentSource.tsx
  packages/clerk-js/src/ui/components/UserProfile/UserProfileRoutes.tsx
Labels: clerk-js

#6241 feat(clerk-js): Remove CSS variables when modern color isn't supported
  packages/clerk-js/src/ui/customizables/__tests__/parseVariables.spec.ts
  packages/clerk-js/src/ui/customizables/parseVariables.ts
Labels: clerk-js

#6243 chore(repo): Update sandbox to use Tailwind CSS v4 from CDN
  .changeset/shaggy-insects-act.md
  packages/clerk-js/sandbox/template.html
Labels: clerk-js

#6239 fix(clerk-js): Patch flaky unit test for PasswordSection
  .changeset/free-zebras-fail.md
  packages/clerk-js/src/ui/components/UserProfile/__tests__/PasswordSection.test.tsx
Labels: clerk-js

#6250 Bug fix: signIn() test helper was incorrectly throwing a validation error for valid test phone numbers
  .changeset/cold-forks-stop.md
  packages/testing/src/common/helpers-utils.ts
Labels: testing

#6246 chore(backend): Add optional secret property in api key response
  .changeset/hungry-chairs-shake.md
  packages/backend/src/api/resources/APIKey.ts
  packages/backend/src/api/resources/JSON.ts
Labels: backend

#6251 chore(types): Fix link for OrganizationCustomRoleKey
  .changeset/red-eggs-itch.md
  packages/types/src/organizationMembership.ts
Labels: types

#6254 chore(clerk-js): Add tests for `CodeControl` component
  packages/clerk-js/src/ui/elements/__tests__/CodeControl.spec.tsx
Labels: clerk-js

#6265 fix(clerk-js): Fix layout shift when navigating after task resolution
  .changeset/ripe-months-stay.md
  packages/clerk-js/src/ui/components/SessionTasks/index.tsx
  packages/clerk-js/src/ui/components/SessionTasks/tasks/ForceOrganizationSelection.tsx
  packages/clerk-js/src/ui/types.ts
Labels: clerk-js

#6264 fix(clerk-js): Browser back/forward nav for tabs
  .changeset/all-doors-sing.md
  packages/clerk-js/src/ui/hooks/useTabState.ts
Labels: clerk-js

#6187 feat(clerk-js): Update color logic utils to support CSS variable usage
  .changeset/chubby-parts-try.md
  packages/clerk-js/bundlewatch.config.json
  packages/clerk-js/src/ui/components/OrganizationSwitcher/OrganizationSwitcherTrigger.tsx
  packages/clerk-js/src/ui/components/PaymentSources/AddPaymentSource.tsx
  packages/clerk-js/src/ui/customizables/__tests__/parseVariables.spec.ts
  packages/clerk-js/src/ui/customizables/parseVariables.ts
  packages/clerk-js/src/ui/elements/Card/CardFooter.tsx
  packages/clerk-js/src/ui/elements/CodeControl.tsx
  packages/clerk-js/src/ui/elements/Navbar.tsx
  packages/clerk-js/src/ui/elements/PopoverCard.tsx
  packages/clerk-js/src/ui/foundations/colors.ts
  packages/clerk-js/src/ui/utils/__tests__/colors.test.ts
  packages/clerk-js/src/ui/utils/__tests__/cssSupports.test.ts
  packages/clerk-js/src/ui/utils/__tests__/cssVariables.spec.ts
  packages/clerk-js/src/ui/utils/__tests__/normalizeColorString.spec.ts
  packages/clerk-js/src/ui/utils/colorOptionToHslaScale.ts
  packages/clerk-js/src/ui/utils/colors/README.md
  packages/clerk-js/src/ui/utils/colors/__tests__/constants.spec.ts
  packages/clerk-js/src/ui/utils/colors/__tests__/index.spec.ts
  packages/clerk-js/src/ui/utils/colors/__tests__/legacy.spec.ts
  packages/clerk-js/src/ui/utils/colors/__tests__/modern.spec.ts
  packages/clerk-js/src/ui/utils/colors/__tests__/scales.spec.ts
  packages/clerk-js/src/ui/utils/colors/__tests__/utils.spec.ts
  packages/clerk-js/src/ui/utils/colors/constants.ts
  packages/clerk-js/src/ui/utils/colors/index.ts
  packages/clerk-js/src/ui/utils/colors/legacy.ts
  packages/clerk-js/src/ui/utils/colors/modern.ts
  packages/clerk-js/src/ui/utils/colors/scales.ts
  packages/clerk-js/src/ui/utils/colors/utils.ts
  packages/clerk-js/src/ui/utils/cssSupports.ts
  packages/clerk-js/src/ui/utils/cssVariables.ts
  packages/clerk-js/src/ui/utils/normalizeColorString.ts
Labels: clerk-js

#6256 ci(repo): Version packages
  .changeset/all-doors-sing.md
  .changeset/bumpy-jobs-flow.md
  .changeset/chubby-parts-try.md
  .changeset/cuddly-kiwis-rush.md
  .changeset/great-bees-teach.md
  .changeset/happy-kiwis-peel.md
  .changeset/hot-seas-rhyme.md
  .changeset/lemon-walls-brush.md
  .changeset/lovely-bats-learn.md
  .changeset/many-mirrors-vanish.md
  .changeset/olive-streets-fall.md
  .changeset/polite-pants-talk.md
  .changeset/quick-items-jog.md
  .changeset/ripe-months-stay.md
  .changeset/smooth-papayas-try.md
  .changeset/witty-parks-attack.md
  packages/agent-toolkit/CHANGELOG.md
  packages/agent-toolkit/package.json
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/expo-passkeys/CHANGELOG.md
  packages/expo-passkeys/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/tanstack-react-start/CHANGELOG.md
  packages/tanstack-react-start/package.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, expo, chrome-extension, themes, elements, express, testing, tanstack, astro, react-router, nuxt, vue, agent-toolkit

#6274 chore(testing): Relax cypress peer dependency to support v14
  .changeset/seven-aliens-lie.md
  package.json
  packages/testing/README.md
  packages/testing/package.json
  pnpm-lock.yaml
Labels: testing

#6162 feat(backend): Add event_attributes to Webhook type
  .changeset/sixty-regions-camp.md
  packages/backend/src/__tests__/webhooks.test.ts
  packages/backend/src/api/resources/Webhooks.ts
  packages/backend/src/webhooks.ts
Labels: backend

#6280 chore(repo): Update nightly checks and integration test configurations
  .github/ISSUE_TEMPLATE/BUG_REPORT.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/actions/init-blacksmith/action.yml
  .github/actions/verdaccio/action.yml
  .github/actions/version-prepatch/action.yml
  .github/workflows/ci.yml
  .github/workflows/nightly-checks.yml
  .github/workflows/pr-title-linter.yml
  .prettierignore
  integration/models/applicationConfig.ts
  integration/models/stateFile.ts
  integration/presets/envs.ts
  integration/presets/longRunningApps.ts
  integration/templates/next-app-router/next.config.js
  integration/tests/protect-jwt-v2.test.ts
  integration/tests/protect.test.ts
Labels: actions, integration

#6259 fix(clerk-js): Require email or phone when password field is visible
  .changeset/fair-olives-wish.md
  packages/clerk-js/bundlewatch.config.json
  packages/clerk-js/src/ui/components/SignUp/__tests__/SignUpStart.spec.tsx
  packages/clerk-js/src/ui/components/SignUp/__tests__/signUpFormHelpers.test.ts
  packages/clerk-js/src/ui/components/SignUp/signUpFormHelpers.ts
Labels: clerk-js

#6289 feat(clerk-js): Expose CSS variables for clerk appearance variables
  packages/clerk-js/src/ui/components/PaymentAttempts/PaymentAttemptPage.tsx
  packages/clerk-js/src/ui/components/Statements/Statement.tsx
  packages/clerk-js/src/ui/customizables/parseVariables.ts
  packages/clerk-js/src/ui/elements/LineItems.tsx
  packages/clerk-js/src/ui/foundations/colors.ts
  packages/clerk-js/src/ui/polishedAppearance.ts
  packages/clerk-js/src/ui/styledSystem/common.ts
  packages/types/src/appearance.ts
Labels: types, clerk-js

#6285 chore(types): Add notice for experimental commerce apis
  .changeset/curly-rules-fall.md
  .typedoc/__tests__/__snapshots__/file-structure.test.ts.snap
  packages/types/src/clerk.ts
  packages/types/src/commerce.ts
  packages/types/src/json.ts
Labels: types

#6273 fix(clerk-js): Navigate to tasks when switching sessions
  .changeset/tall-dolls-wish.md
  integration/templates/next-app-router/src/app/page.tsx
  integration/tests/session-tasks-multi-session.test.ts
  integration/tests/session-tasks-sign-in.test.ts
  integration/tests/session-tasks-sign-up.test.ts
  packages/clerk-js/bundlewatch.config.json
  packages/clerk-js/src/core/clerk.ts
  packages/testing/src/playwright/unstable/page-objects/userButton.ts
Labels: clerk-js, integration, testing

#6303 chore(e2e): Skip test case to unblock ci
  integration/tests/session-tasks-multi-session.test.ts
Labels: integration

#6290 feat(clerk-js): Add `colorShadow` variable option
  packages/clerk-js/src/ui/customizables/parseAppearance.ts
  packages/clerk-js/src/ui/customizables/parseVariables.ts
  packages/clerk-js/src/ui/foundations/shadows.ts
  packages/types/src/appearance.ts
Labels: types, clerk-js

#6272 chore(clerk-js,types): Use `subscriptionItems` on commerce payments responses
  .changeset/short-stars-start.md
  packages/clerk-js/src/ui/components/Statements/StatementPage.tsx
Labels: clerk-js

#6309 fix(clerk-js): Display past due subscriptions properly
  .changeset/salty-spiders-end.md
  packages/clerk-js/src/core/resources/CommerceSubscription.ts
  packages/clerk-js/src/ui/components/PricingTable/PricingTableDefault.tsx
  packages/clerk-js/src/ui/components/SubscriptionDetails/__tests__/SubscriptionDetails.test.tsx
  packages/clerk-js/src/ui/components/SubscriptionDetails/index.tsx
  packages/clerk-js/src/ui/components/Subscriptions/SubscriptionsList.tsx
  packages/clerk-js/src/ui/components/Subscriptions/badge.tsx
  packages/clerk-js/src/ui/contexts/components/Plans.tsx
  packages/localizations/src/en-US.ts
  packages/types/src/commerce.ts
  packages/types/src/json.ts
  packages/types/src/localization.ts
Labels: types, clerk-js, localizations

#6306 chore(e2e): Fix flaky tests for multi-session with tasks
  integration/tests/session-tasks-multi-session.test.ts
Labels: integration

#6312 feat(clerk-js): Add `colorModalBackdrop` variable option
  packages/clerk-js/src/ui/customizables/parseVariables.ts
  packages/clerk-js/src/ui/elements/Modal.tsx
  packages/clerk-js/src/ui/foundations/colors.ts
  packages/types/src/appearance.ts
Labels: types, clerk-js

#6311 feat(clerk-js): Enhanced password manager detection
  .changeset/twenty-camels-drum.md
  packages/clerk-js/src/ui/elements/CodeControl.tsx
  packages/clerk-js/src/ui/elements/__tests__/CodeControl.spec.tsx
  packages/elements/src/react/common/form/hooks/use-input.tsx
Labels: clerk-js, elements

#6320 chore(e2e): Remove turbopack from `next-app-router`
  integration/templates/next-app-router/package.json
  integration/tests/pricing-table.test.ts
Labels: integration

#6308 ci(repo): Version packages
  .changeset/cuddly-heads-battle.md
  .changeset/salty-spiders-end.md
  .changeset/short-stars-start.md
  .changeset/tangy-toes-dress.md
  .changeset/twenty-camels-drum.md
  packages/agent-toolkit/CHANGELOG.md
  packages/agent-toolkit/package.json
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/expo-passkeys/CHANGELOG.md
  packages/expo-passkeys/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/tanstack-react-start/CHANGELOG.md
  packages/tanstack-react-start/package.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, expo, chrome-extension, themes, elements, express, testing, tanstack, astro, react-router, nuxt, vue, agent-toolkit

#6318 chore(shared): Add experimental JSDoc for `org.getSubscriptions`
  .changeset/happy-apes-open.md
  packages/shared/src/react/hooks/useOrganization.tsx
  packages/types/src/organization.ts
Labels: types

#6321 ci(repo): Version packages
  .changeset/happy-apes-open.md
  .changeset/smart-socks-refuse.md
  packages/agent-toolkit/CHANGELOG.md
  packages/agent-toolkit/package.json
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/expo-passkeys/CHANGELOG.md
  packages/expo-passkeys/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/tanstack-react-start/CHANGELOG.md
  packages/tanstack-react-start/package.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, expo, chrome-extension, themes, elements, express, testing, tanstack, astro, react-router, nuxt, vue, agent-toolkit

#6323 fix(clerk-js): Do not trigger after-auth navigation from `useMultisessionActions`
  .changeset/deep-poems-sneeze.md
  packages/clerk-js/src/core/clerk.ts
  packages/react/src/isomorphicClerk.ts
  packages/types/src/clerk.ts
Labels: types, clerk-js, react

#6325 chore(express): Add usage example to verifyWebhook JSDoc
  .changeset/beige-months-tease.md
  packages/express/src/webhooks.ts
Labels: express

#6267 chore(repo): Switch typedocs to being generated in `clerk-docs` directly
  .github/workflows/release.yml
  package.json
  typedoc.config.mjs
Labels: actions

#6248 fix(clerk-js,types,localizations): Adjust invalid plan change alert wording
  .changeset/orange-doors-notice.md
  integration/tests/pricing-table.test.ts
  packages/clerk-js/bundlewatch.config.json
  packages/clerk-js/src/ui/components/Checkout/parts.tsx
  packages/localizations/src/en-US.ts
  packages/shared/src/error.ts
  packages/types/src/api.ts
  packages/types/src/json.ts
  packages/types/src/localization.ts
Labels: types, clerk-js, localizations, integration

#6333 chore(clerk-js,e2e): Test case for cancelling a plan
  .changeset/lovely-ghosts-fall.md
  .changeset/slow-zoos-work.md
  integration/tests/pricing-table.test.ts
  packages/clerk-js/src/ui/components/SubscriptionDetails/index.tsx
  packages/testing/src/playwright/unstable/page-objects/index.ts
  packages/testing/src/playwright/unstable/page-objects/subscriptionDetails.ts
Labels: clerk-js, integration, testing

#6255 chore(backend): Bump `snakecase-keys` to ESM version
  .changeset/rude-bikes-occur.md
  packages/backend/package.json
  packages/backend/tsup.config.ts
  pnpm-lock.yaml
Labels: backend

#6327 chore(shared,clerk-js): Introduce experimental `usePlans`
  .changeset/eight-socks-lead.md
  packages/clerk-js/src/core/modules/commerce/CommerceBilling.ts
  packages/clerk-js/src/ui/contexts/components/Plans.tsx
  packages/shared/src/react/hooks/createCommerceHook.tsx
  packages/shared/src/react/hooks/index.ts
  packages/shared/src/react/hooks/usePlans.tsx
  packages/types/src/commerce.ts
Labels: types, clerk-js

#6337 ci(repo): Version packages
  .changeset/cyan-pots-attack.md
  .changeset/eight-socks-lead.md
  .changeset/eleven-cats-greet.md
  .changeset/lovely-ghosts-fall.md
  .changeset/nine-worms-count.md
  .changeset/orange-doors-notice.md
  .changeset/rude-bikes-occur.md
  .changeset/slow-zoos-work.md
  .changeset/thirty-experts-knock.md
  .changeset/young-steaks-chew.md
  packages/agent-toolkit/CHANGELOG.md
  packages/agent-toolkit/package.json
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/expo-passkeys/CHANGELOG.md
  packages/expo-passkeys/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/tanstack-react-start/CHANGELOG.md
  packages/tanstack-react-start/package.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, expo, chrome-extension, themes, elements, express, testing, tanstack, astro, react-router, nuxt, vue, agent-toolkit

#6185 chore(localizations): Update localizations vi-VN
  .changeset/fifty-yaks-create.md
  packages/localizations/src/vi-VN.ts
Labels: localizations

#6346 fix(localizations): Merge issues
  .changeset/little-lies-peel.md
  packages/localizations/src/vi-VN.ts
Labels: localizations

#5497 feat(localizations): Update Slovak localization
  .changeset/gold-shirts-raise.md
  packages/localizations/src/sk-SK.ts
Labels: localizations

#5684 feat(kk-KZ.ts): add Kazakh (kk-KZ) language
  .changeset/slick-mangos-turn.md
  packages/localizations/src/index.ts
  packages/localizations/src/kk-KZ.ts
  packages/localizations/src/utils/generate.ts
Labels: localizations

#6063 feat(localizations): Add `fa-IR` (Persian) language
  .changeset/clever-waves-wait.md
  packages/localizations/src/fa-IR.ts
  packages/localizations/src/index.ts
  packages/localizations/src/utils/generate.ts
Labels: localizations

#5800 chore(clerk-js,localizations): align en-US strings for danger zone with other translations
  .changeset/rude-poets-obey.md
  packages/localizations/src/utils/enUS_v4.ts
Labels: localizations

#6284 chore(express): Improve webhook verification DX
  .changeset/four-stingrays-cheat.md
  packages/express/src/webhooks.ts
Labels: express

#6369 chore(repo): Pin TanStack router and start versions to 1.128.0 in integration tests
  .changeset/calm-pears-camp.md
  integration/templates/tanstack-react-router/package.json
  integration/templates/tanstack-react-start/package.json
Labels: integration

#6261 feat(shared): Detect clerk-js loading failure
  .changeset/cold-trees-hammer.md
  integration/tests/resiliency.test.ts
  packages/shared/src/__tests__/loadClerkJsScript.test.ts
  packages/shared/src/loadClerkJsScript.ts
  packages/shared/src/telemetry/collector.ts
Labels: integration

#6370 fix(clerk-js): Use `isSignedIn` to determine auth state on checkout instance creation
  .changeset/big-sides-go.md
  packages/clerk-js/src/core/modules/checkout/instance.ts
Labels: clerk-js

#6322 feat(themes): Add shadcn theme
  .changeset/heavy-keys-bow.md
  .changeset/ready-hats-vanish.md
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/utils/__tests__/appearance.spec.ts
  packages/clerk-js/src/utils/appearance.ts
  packages/clerk-js/src/utils/index.ts
  packages/themes/src/createTheme.ts
  packages/themes/src/themes/index.ts
  packages/themes/src/themes/shadcn.ts
  packages/types/src/appearance.ts
Labels: types, clerk-js, themes

#6375 fix(themes): Add dark invert style to provider icons in shadcn theme
  .changeset/stupid-roses-call.md
  packages/themes/src/themes/shadcn.ts
Labels: themes

#6317 chore(clerk-js,shared): Expose experimental `useSubscription`
  .changeset/rare-readers-cough.md
  .changeset/wide-loops-decide.md
  .typedoc/__tests__/__snapshots__/file-structure.test.ts.snap
  packages/clerk-js/src/core/modules/commerce/CommerceBilling.ts
  packages/clerk-js/src/core/resources/CommercePayment.ts
  packages/clerk-js/src/core/resources/CommerceSubscription.ts
  packages/clerk-js/src/core/resources/Organization.ts
  packages/clerk-js/src/ui/components/PricingTable/PricingTable.tsx
  packages/clerk-js/src/ui/components/SubscriptionDetails/__tests__/SubscriptionDetails.test.tsx
  packages/clerk-js/src/ui/components/SubscriptionDetails/index.tsx
  packages/clerk-js/src/ui/components/Subscriptions/SubscriptionsList.tsx
  packages/clerk-js/src/ui/components/Subscriptions/badge.tsx
  packages/clerk-js/src/ui/contexts/components/Plans.tsx
  packages/shared/src/react/hooks/createCommerceHook.tsx
  packages/shared/src/react/hooks/index.ts
  packages/shared/src/react/hooks/useOrganization.tsx
  packages/shared/src/react/hooks/usePaymentAttempts.tsx
  packages/shared/src/react/hooks/usePaymentMethods.tsx
  packages/shared/src/react/hooks/usePlans.tsx
  packages/shared/src/react/hooks/useStatements.tsx
  packages/shared/src/react/hooks/useSubscription.tsx
  packages/shared/src/react/hooks/useSubscriptionItems.tsx
  packages/types/src/commerce.ts
  packages/types/src/json.ts
  packages/types/src/organization.ts
Labels: types, clerk-js

#6377 ci(repo): Version packages
  .changeset/curly-jeans-sleep.md
  .changeset/dark-coins-shake.md
  .changeset/eight-impalas-fetch.md
  .changeset/rare-readers-cough.md
  .changeset/wide-loops-decide.md
  packages/agent-toolkit/CHANGELOG.md
  packages/agent-toolkit/package.json
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/expo-passkeys/CHANGELOG.md
  packages/expo-passkeys/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/tanstack-react-start/CHANGELOG.md
  packages/tanstack-react-start/package.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, expo, chrome-extension, themes, elements, express, testing, tanstack, astro, react-router, nuxt, vue, agent-toolkit

#6338 chore(backend): Add webhook event types for Commerce related events
  .changeset/lucky-papers-act.md
  packages/backend/src/api/resources/JSON.ts
  packages/backend/src/api/resources/Webhooks.ts
  packages/backend/src/index.ts
Labels: backend

#6389 fix(clerk-js): Remove cache revalidation hooks from pending session handling
  .changeset/full-impalas-wonder.md
  packages/clerk-js/src/core/clerk.ts
Labels: clerk-js

#6376 feat(clerk-js,clerk-react,nextjs): Introduce `<TaskSelectOrganization />` component
  .changeset/bright-cats-lay.md
  .changeset/vast-places-tap.md
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/sessionTasks.ts
  packages/clerk-js/src/core/warnings.ts
  packages/clerk-js/src/ui/components/CreateOrganization/CreateOrganizationForm.tsx
  packages/clerk-js/src/ui/components/OrganizationList/UserMembershipList.tsx
  packages/clerk-js/src/ui/components/SessionTasks/index.tsx
  packages/clerk-js/src/ui/components/SessionTasks/tasks/ForceOrganizationSelection.tsx
  packages/clerk-js/src/ui/components/SessionTasks/tasks/TaskSelectOrganization.tsx
  packages/clerk-js/src/ui/components/SessionTasks/tasks/withTaskGuard.ts
  packages/clerk-js/src/ui/contexts/ClerkUIComponentsContext.tsx
  packages/clerk-js/src/ui/contexts/components/SessionTasks.ts
  packages/clerk-js/src/ui/elements/contexts/index.tsx
  packages/clerk-js/src/ui/lazyModules/components.ts
  packages/clerk-js/src/ui/types.ts
  packages/nextjs/src/client-boundary/uiComponents.tsx
  packages/nextjs/src/index.ts
  packages/react-router/src/__tests__/__snapshots__/exports.test.ts.snap
  packages/react/src/components/index.ts
  packages/react/src/components/uiComponents.tsx
  packages/react/src/isomorphicClerk.ts
  packages/remix/src/__tests__/__snapshots__/exports.test.ts.snap
  packages/tanstack-react-start/src/__tests__/__snapshots__/exports.test.ts.snap
  packages/types/src/appearance.ts
  packages/types/src/clerk.ts
Labels: types, clerk-js, nextjs, react, remix, tanstack, react-router

#6385 ci(repo): Version packages
  .changeset/bright-cats-lay.md
  .changeset/five-birds-cheer.md
  .changeset/full-impalas-wonder.md
  .changeset/lucky-papers-act.md
  .changeset/pretty-poets-smile.md
  .changeset/vast-places-tap.md
  packages/agent-toolkit/CHANGELOG.md
  packages/agent-toolkit/package.json
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/expo-passkeys/CHANGELOG.md
  packages/expo-passkeys/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/tanstack-react-start/CHANGELOG.md
  packages/tanstack-react-start/package.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, expo, chrome-extension, themes, elements, express, testing, tanstack, astro, react-router, nuxt, vue, agent-toolkit

#6388 fix(nextjs): Return NextResponse instead of native Response
  .changeset/olive-sides-allow.md
  packages/nextjs/src/server/clerkMiddleware.ts
Labels: nextjs

#6387 chore(shared): Improve layout shift in payment element fallback
  .changeset/fair-bars-agree.md
  .changeset/vast-hoops-teach.md
  packages/clerk-js/src/ui/components/PaymentSources/AddPaymentSource.tsx
  packages/clerk-js/src/ui/components/PaymentSources/PaymentElementSkeleton.tsx
  packages/shared/src/react/commerce.tsx
  packages/shared/src/react/stripe-react/index.tsx
Labels: clerk-js

#6413 chore(repo): Switch Express unit tests to Vitest
  .changeset/twelve-rocks-refuse.md
  packages/express/jest.config.js
  packages/express/jest.setup.js
  packages/express/package.json
  packages/express/src/__tests__/__snapshots__/exports.test.ts.snap
  packages/express/src/__tests__/clerkMiddleware.test.ts
  packages/express/src/__tests__/helpers.ts
  packages/express/src/__tests__/requireAuth.test.ts
  packages/express/tsconfig.test.json
  packages/express/vitest.config.mts
  packages/express/vitest.setup.mts
Labels: express

#6368 fix(clerk-js): Ensure cookies get unset on sign out
  .changeset/famous-news-judge.md
  packages/clerk-js/src/core/auth/AuthCookieService.ts
  packages/clerk-js/src/core/auth/cookies/__tests__/session.test.ts
  packages/clerk-js/src/core/auth/cookies/devBrowser.ts
  packages/clerk-js/src/core/auth/cookies/session.ts
  packages/clerk-js/src/core/clerk.ts
  packages/shared/src/cookie.ts
Labels: clerk-js

#6418 fix(backend): Ability to convert bodyParam keys recursively
  .changeset/silver-singers-train.md
  packages/backend/src/api/__tests__/SamlConnectionApi.test.ts
  packages/backend/src/api/endpoints/SamlConnectionApi.ts
  packages/backend/src/api/request.ts
Labels: backend

#6417 chore(backend): Add scoping and secret key retrieval to machines BAPI
  .changeset/five-jokes-clap.md
  packages/backend/src/api/__tests__/MachineApi.test.ts
  packages/backend/src/api/endpoints/MachineApi.ts
  packages/backend/src/api/resources/Deserializer.ts
  packages/backend/src/api/resources/JSON.ts
  packages/backend/src/api/resources/Machine.ts
  packages/backend/src/api/resources/MachineScope.ts
  packages/backend/src/api/resources/MachineSecretKey.ts
  packages/backend/src/api/resources/index.ts
Labels: backend

#6371 refactor(clerk-js,types): Refactor base theme approach
  .changeset/yummy-plants-jog.md
  packages/clerk-js/sandbox/app.ts
  packages/clerk-js/src/ui/baseTheme.ts
  packages/clerk-js/src/ui/components/OrganizationSwitcher/OrganizationSwitcherPopover.tsx
  packages/clerk-js/src/ui/components/PricingTable/PricingTableDefault.tsx
  packages/clerk-js/src/ui/components/UserButton/SessionActions.tsx
  packages/clerk-js/src/ui/customizables/__tests__/parseAppearance.test.tsx
  packages/clerk-js/src/ui/customizables/parseAppearance.ts
  packages/clerk-js/src/ui/elements/Action/ActionCard.tsx
  packages/clerk-js/src/ui/elements/Card/CardContent.tsx
  packages/clerk-js/src/ui/elements/Card/CardRoot.tsx
  packages/clerk-js/src/ui/elements/Drawer.tsx
  packages/clerk-js/src/ui/elements/Menu.tsx
  packages/clerk-js/src/ui/elements/PopoverCard.tsx
  packages/clerk-js/src/ui/elements/ProfileCard/ProfileCardContent.tsx
  packages/clerk-js/src/ui/elements/SocialButtons.tsx
  packages/clerk-js/src/ui/primitives/Button.tsx
  packages/clerk-js/src/ui/primitives/Table.tsx
  packages/clerk-js/src/utils/appearance.ts
  packages/types/src/appearance.ts
Labels: types, clerk-js

#6425 fix(clerk-js): Invalidate server cache for after-auth custom flows
  .changeset/modern-clocks-sip.md
  packages/clerk-js/bundlewatch.config.json
  packages/clerk-js/src/core/clerk.ts
Labels: clerk-js

#6397 ci(repo): Version packages
  .changeset/cool-guests-trade.md
  .changeset/cyan-hoops-bow.md
  .changeset/fair-bars-agree.md
  .changeset/famous-news-judge.md
  .changeset/five-jokes-clap.md
  .changeset/fuzzy-views-pay.md
  .changeset/lovely-buttons-say.md
  .changeset/modern-clocks-sip.md
  .changeset/rare-rockets-begin.md
  .changeset/silver-singers-train.md
  .changeset/slick-suns-hammer.md
  .changeset/some-parents-begin.md
  .changeset/tidy-windows-travel.md
  .changeset/twelve-rocks-refuse.md
  .changeset/vast-hoops-teach.md
  .changeset/yummy-plants-jog.md
  packages/agent-toolkit/CHANGELOG.md
  packages/agent-toolkit/package.json
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/expo-passkeys/CHANGELOG.md
  packages/expo-passkeys/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/tanstack-react-start/CHANGELOG.md
  packages/tanstack-react-start/package.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, expo, chrome-extension, themes, elements, express, testing, tanstack, astro, react-router, nuxt, vue, agent-toolkit

#6431 fix(clerk-js): Add check for error on Statement page and Payment Attempt page
  .changeset/new-lands-make.md
  packages/clerk-js/src/ui/components/PaymentAttempts/PaymentAttemptPage.tsx
  packages/clerk-js/src/ui/components/Statements/StatementPage.tsx
Labels: clerk-js

#6433 fix(clerk-js): Allow modal closing after a new connected account
  .changeset/poor-chicken-occur.md
  packages/clerk-js/src/ui/Components.tsx
Labels: clerk-js

#6426 fix(localizations): Add jaJP translations in User Profile Update
  .changeset/fluffy-jeans-care.md
  packages/localizations/src/ja-JP.ts
Labels: localizations

#6438 chore(types,clerk-js): Update prefix for checkout status
  .changeset/fluffy-beers-bet.md
  packages/clerk-js/src/core/modules/checkout/__tests__/manager.spec.ts
  packages/clerk-js/src/core/modules/checkout/manager.ts
  packages/clerk-js/src/ui/components/Checkout/index.tsx
  packages/types/src/clerk.ts
Labels: types, clerk-js

#6437 fix(types,clerk-js): Remove `statement_id` from the checkout resource
  .changeset/wicked-cases-sink.md
  packages/clerk-js/src/core/modules/checkout/__tests__/manager.spec.ts
  packages/clerk-js/src/core/resources/CommerceCheckout.ts
  packages/shared/src/react/hooks/__tests__/useCheckout.type.spec.ts
  packages/shared/src/react/hooks/useCheckout.ts
  packages/types/src/commerce.ts
  packages/types/src/json.ts
Labels: types, clerk-js

#6441 fix(backend): Move snakecase-keys to dev dependencies
  .changeset/loud-feet-bathe.md
  packages/backend/package.json
  pnpm-lock.yaml
Labels: backend

#6287 fix(astro): fix async_hooks import for Cloudflare compatibility
  .changeset/rotten-vans-leave.md
  packages/astro/src/async-local-storage.client.ts
Labels: astro

#6451 chore(clerk-js): Add temporary API keys limit query for pagination compatibility
  .changeset/tired-lines-rhyme.md
  packages/clerk-js/src/core/modules/apiKeys/index.ts
Labels: clerk-js
