Repository clerk/javascript, pull requests merged in 2025-03, with the labels that each got.

#5261 fix(clerk-react): Enhance RedirectToSignIn session check for compatibility with older clerk-js versions
  .changeset/cold-gifts-add.md
  packages/react/src/components/controlComponents.tsx
Labels: react

#5259 ci(repo): Version packages
  .changeset/cold-gifts-add.md
  .changeset/dry-tigers-mate.md
  .changeset/silver-masks-knock.md
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/tanstack-start/CHANGELOG.md
  packages/tanstack-start/package.json
Labels: clerk-js, nextjs, react, remix, expo, chrome-extension, elements, tanstack, react-router

#5272 fix(localizations): Update `waitlist.start` values for `nl-NL`
  .changeset/wise-cameras-clean.md
  packages/localizations/src/nl-NL.ts
Labels: localizations

#5165 feat(localizations): Introduce `es-UY` localization
  .changeset/grumpy-pandas-bathe.md
  packages/localizations/package.json
  packages/localizations/src/es-UY.js
  packages/localizations/src/index.ts
Labels: localizations

#5096 feat(localizations): Update all Polish (pl-PL) localization strings
  .changeset/young-papayas-change.md
  packages/localizations/src/pl-PL.ts
Labels: localizations

#5255 fix(backend): Update `inviterUserId` type to optional
  .changeset/rude-pumas-jog.md
  packages/backend/src/api/endpoints/OrganizationApi.ts
Labels: backend

#5208 fix(localizations): Improve translation of "Update profile" in `es-ES`
  .changeset/slow-yaks-cough.md
  packages/localizations/src/es-ES.ts
Labels: localizations

#5243 fix(clerk-js): Display emailAddress validation errors in `<Waitlist />` component
  .changeset/poor-insects-yell.md
  packages/clerk-js/src/ui/components/Waitlist/WaitlistForm.tsx
Labels: clerk-js

#5275 fix(localizations): Rename to `en-UY.ts`
  .changeset/grumpy-penguins-own.md
  packages/localizations/src/es-UY.js
  packages/localizations/src/es-UY.ts
Labels: localizations

#5277 fix(localizations): Format `pl-PL`
  .changeset/pink-owls-tie.md
  packages/localizations/src/pl-PL.ts
Labels: localizations

#5148 chore(backend): Added types to webhook json for waitlist entry
  .changeset/green-starfishes-hear.md
  .changeset/tender-suits-rush.md
  packages/backend/src/api/resources/JSON.ts
  packages/backend/src/api/resources/Webhooks.ts
  packages/backend/src/api/resources/index.ts
  packages/backend/src/index.ts
  packages/nextjs/src/server/index.ts
Labels: nextjs, backend

#5237 feat(clerk-js): Lazy load Sign up on Combined flow
  .changeset/olive-humans-leave.md
  packages/clerk-js/bundlewatch.config.json
  packages/clerk-js/rspack.config.js
  packages/clerk-js/src/ui/components/SignIn/SignIn.tsx
  packages/clerk-js/src/ui/components/SignIn/handleCombinedFlowTransfer.ts
  packages/clerk-js/src/ui/components/SignIn/lazy-sign-up.ts
  packages/clerk-js/src/ui/components/SignUp/SignUp.tsx
  packages/clerk-js/src/ui/hooks/useFetch.ts
Labels: clerk-js

#5252 fix(backend): Remove `Authorization` header when `secretKey` is not required
  .changeset/tricky-hats-sort.md
  packages/backend/src/api/request.ts
Labels: backend

#5273 fix(repo): Run sessions tests with disabled web security
  .github/workflows/ci.yml
  integration/playwright.config.ts
  integration/scripts/proxyServer.ts
  integration/tests/localhost/localhost-different-port-different-instance.test.ts
  integration/tests/localhost/localhost-different-port-same-instance.test.ts
  integration/tests/localhost/localhost-switch-instance.test.ts
  integration/tests/sessions/root-subdomain-prod-instances.test.ts
  package.json
  turbo.json
Labels: actions, integration

#5276 ci(repo): Version packages
  .changeset/eighty-trains-attend.md
  .changeset/green-starfishes-hear.md
  .changeset/grumpy-pandas-bathe.md
  .changeset/grumpy-penguins-own.md
  .changeset/olive-humans-leave.md
  .changeset/pink-owls-tie.md
  .changeset/poor-insects-yell.md
  .changeset/rude-pumas-jog.md
  .changeset/slow-yaks-cough.md
  .changeset/tender-suits-rush.md
  .changeset/tricky-hats-sort.md
  .changeset/wise-cameras-clean.md
  .changeset/young-papayas-change.md
  packages/agent-toolkit/CHANGELOG.md
  packages/agent-toolkit/package.json
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/tanstack-start/CHANGELOG.md
  packages/tanstack-start/package.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
Labels: clerk-js, nextjs, remix, backend, fastify, localizations, expo, chrome-extension, express, testing, tanstack, astro, react-router, nuxt, agent-toolkit

#5281 chore(localizations): Sync missing keys for all locales
  .changeset/olive-kings-retire.md
  packages/localizations/src/ar-SA.ts
  packages/localizations/src/be-BY.ts
  packages/localizations/src/bg-BG.ts
  packages/localizations/src/ca-ES.ts
  packages/localizations/src/cs-CZ.ts
  packages/localizations/src/da-DK.ts
  packages/localizations/src/de-DE.ts
  packages/localizations/src/el-GR.ts
  packages/localizations/src/en-GB.ts
  packages/localizations/src/en-US.ts
  packages/localizations/src/es-ES.ts
  packages/localizations/src/es-MX.ts
  packages/localizations/src/fi-FI.ts
  packages/localizations/src/fr-FR.ts
  packages/localizations/src/he-IL.ts
  packages/localizations/src/hr-HR.ts
  packages/localizations/src/hu-HU.ts
  packages/localizations/src/id-ID.ts
  packages/localizations/src/is-IS.ts
  packages/localizations/src/it-IT.ts
  packages/localizations/src/ja-JP.ts
  packages/localizations/src/ko-KR.ts
  packages/localizations/src/mn-MN.ts
  packages/localizations/src/nb-NO.ts
  packages/localizations/src/nl-BE.ts
  packages/localizations/src/nl-NL.ts
  packages/localizations/src/pl-PL.ts
  packages/localizations/src/pt-BR.ts
  packages/localizations/src/pt-PT.ts
  packages/localizations/src/ro-RO.ts
  packages/localizations/src/ru-RU.ts
  packages/localizations/src/sk-SK.ts
  packages/localizations/src/sr-RS.ts
  packages/localizations/src/sv-SE.ts
  packages/localizations/src/th-TH.ts
  packages/localizations/src/tr-TR.ts
  packages/localizations/src/uk-UA.ts
  packages/localizations/src/vi-VN.ts
  packages/localizations/src/zh-CN.ts
  packages/localizations/src/zh-TW.ts
Labels: localizations

#5282 ci(repo): Version packages
  .changeset/large-bags-play.md
  .changeset/olive-kings-retire.md
  .changeset/shy-hounds-melt.md
  packages/agent-toolkit/CHANGELOG.md
  packages/agent-toolkit/package.json
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/tanstack-start/CHANGELOG.md
  packages/tanstack-start/package.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
Labels: clerk-js, nextjs, remix, backend, fastify, localizations, expo, chrome-extension, express, testing, tanstack, astro, react-router, nuxt, agent-toolkit

#5290 chore(clerk-js): Remove unused `experimental.combinedFlow`
  .changeset/tame-seahorses-jump.md
  packages/types/src/clerk.ts
Labels: types

#5024 fix(nextjs): replace crypto-js with crypto-es, precompile and inline
  .changeset/rich-trees-smoke.md
  integration/tests/next-build.test.ts
  packages/nextjs/package.json
  packages/nextjs/src/app-router/keyless-actions.ts
  packages/nextjs/src/server/__tests__/createGetAuth.test.ts
  packages/nextjs/src/server/clerkMiddleware.ts
  packages/nextjs/src/server/keyless.ts
  packages/nextjs/src/server/utils.ts
  packages/nextjs/src/vendor/README.md
  packages/nextjs/src/vendor/crypto-es.js
  packages/nextjs/tsup.config.ts
  pnpm-lock.yaml
Labels: nextjs, integration

#5164 fix(clerk-js): Correctly show alternative re-verification methods
  .changeset/sharp-sheep-reflect.md
  packages/clerk-js/src/ui/components/UserVerification/AlternativeMethods.tsx
  packages/clerk-js/src/ui/components/UserVerification/UVFactorOnePhoneCodeCard.tsx
  packages/clerk-js/src/ui/components/UserVerification/UVFactorTwoCodeForm.tsx
  packages/clerk-js/src/ui/components/UserVerification/UVFactorTwoPhoneCodeCard.tsx
  packages/clerk-js/src/ui/components/UserVerification/UserVerificationFactorOne.tsx
  packages/clerk-js/src/ui/components/UserVerification/UserVerificationFactorTwo.tsx
  packages/clerk-js/src/ui/components/UserVerification/UserVerificationFactorTwoTOTP.tsx
  packages/clerk-js/src/ui/components/UserVerification/__tests__/UVFactorOne.test.tsx
  packages/clerk-js/src/ui/components/UserVerification/__tests__/UVFactorTwo.test.tsx
  packages/clerk-js/src/ui/components/UserVerification/useReverificationAlternativeStrategies.ts
Labels: clerk-js

#5284 feat(clerk-js,types): Do not require current password if Reverifaction enabled
  .changeset/heavy-hornets-yawn.md
  packages/clerk-js/src/core/resources/AuthConfig.ts
  packages/clerk-js/src/core/resources/__tests__/Environment.test.ts
  packages/clerk-js/src/core/resources/__tests__/__snapshots__/Environment.test.ts.snap
  packages/clerk-js/src/ui/components/UserProfile/PasswordForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/__tests__/PasswordSection.test.tsx
  packages/clerk-js/src/ui/utils/test/fixtureHelpers.ts
  packages/expo/src/cache/dummy-data/environment-resource.ts
  packages/types/src/authConfig.ts
  packages/types/src/json.ts
Labels: types, clerk-js, expo

#5286 fix(clerk-js): Add explicit check for `withSignUp` being false
  .changeset/serious-mice-approve.md
  packages/clerk-js/src/ui/contexts/components/SignIn.ts
Labels: clerk-js

#5289 fix(clerk-js): Remove extra legal consent checkbox
  .changeset/afraid-cats-study.md
  packages/clerk-js/src/ui/components/SignUp/SignUpStart.tsx
Labels: clerk-js

#5300 fix(nuxt): Add TypeScript support for auth object in event handlers
  .changeset/soft-walls-speak.md
  packages/nuxt/package.json
  packages/nuxt/src/module.ts
  packages/nuxt/src/runtime/server/clerkMiddleware.ts
  pnpm-lock.yaml
Labels: nuxt

#5254 chore(repo): Remove eslint from precommit hooks
  .lintstagedrc.json
Labels: improvement

#5297 chore(backend): Change telemetry sampling rate from 1 to 0.1
  .changeset/blue-owls-beam.md
  packages/backend/src/index.ts
Labels: backend

#5257 fix(localizations): Update Turkish translations and remove English and Portuguese phrases
  .changeset/neat-geese-flow.md
  packages/localizations/src/tr-TR.ts
Labels: localizations

#5302 feat(clerk-js): `<LineItems />` component
  packages/clerk-js/src/ui/components/Checkout/CheckoutComplete.tsx
  packages/clerk-js/src/ui/components/Checkout/CheckoutPage.tsx
  packages/clerk-js/src/ui/customizables/elementDescriptors.ts
  packages/clerk-js/src/ui/customizables/index.ts
  packages/clerk-js/src/ui/elements/LineItems.tsx
  packages/clerk-js/src/ui/elements/index.ts
  packages/clerk-js/src/ui/primitives/Dd.tsx
  packages/clerk-js/src/ui/primitives/Dl.tsx
  packages/clerk-js/src/ui/primitives/Dt.tsx
  packages/clerk-js/src/ui/primitives/index.ts
  packages/clerk-js/src/ui/styledSystem/types.ts
  packages/types/src/appearance.ts
Labels: types, clerk-js

#5301 chore(nextjs): Include nextjs version to framework metadata
  .changeset/famous-actors-provide.md
  packages/nextjs/src/global.d.ts
  packages/nextjs/src/utils/router-telemetry.ts
Labels: nextjs

#5317 chore(clerk-js,types): Remove hCaptcha implementation [Core 1]
  .changeset/curly-candles-love.md
  .github/workflows/ci.yml
  package-lock.json
  package.json
  packages/clerk-js/src/utils/captcha/getCaptchaToken.ts
  packages/clerk-js/src/utils/captcha/hcaptcha.ts
  packages/clerk-js/src/utils/captcha/retrieveCaptchaInfo.ts
  packages/types/src/displayConfig.ts
Labels: types, clerk-js, actions

#5318 Version Packages - V4
  .changeset/curly-candles-love.md
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/gatsby-plugin-clerk/CHANGELOG.md
  packages/gatsby-plugin-clerk/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/shared/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, sdk-node, expo, chrome-extension, themes, gatsby

#5298 feat(clerk-js): Handle pwned password in SignInStart first party submit
  .changeset/wise-stingrays-protect.md
  packages/clerk-js/src/core/constants.ts
  packages/clerk-js/src/ui/components/SignIn/SignInStart.tsx
  packages/clerk-js/src/ui/components/SignIn/__tests__/SignInStart.test.tsx
Labels: clerk-js

#5319 chore(clerk-js): Remove `primaryWeb3Wallet` from `<UserPreview />` in `UserProfileSection`
  .changeset/sixty-hornets-drop.md
  packages/clerk-js/src/ui/components/UserProfile/UserProfileSection.tsx
Labels: clerk-js

#5321 fix(clerk-js): Standardize internal component naming
  .changeset/shaggy-onions-hang.md
  packages/clerk-js/src/ui/components/CreateOrganization/CreateOrganization.tsx
  packages/clerk-js/src/ui/components/GoogleOneTap/one-tap-start.tsx
  packages/clerk-js/src/ui/components/ImpersonationFab/ImpersonationFab.tsx
  packages/clerk-js/src/ui/components/KeylessPrompt/index.tsx
  packages/clerk-js/src/ui/components/OrganizationList/OrganizationList.tsx
  packages/clerk-js/src/ui/components/SignIn/ResetPassword.tsx
  packages/clerk-js/src/ui/components/SignIn/ResetPasswordSuccess.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInAccountSwitcher.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInFactorOne.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInFactorTwo.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInStart.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpContinue.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpStart.tsx
Labels: clerk-js

#5242 feat(clerk-js,localizations,types): Support passkeys for first factor re-verification
  .changeset/purple-hounds-tie.md
  packages/clerk-js/src/core/resources/Session.ts
  packages/clerk-js/src/ui/components/UserVerification/AlternativeMethods.tsx
  packages/clerk-js/src/ui/components/UserVerification/UVFactorOnePasskeysCard.tsx
  packages/clerk-js/src/ui/components/UserVerification/UserVerificationFactorOne.tsx
  packages/clerk-js/src/ui/components/UserVerification/useReverificationAlternativeStrategies.ts
  packages/localizations/src/en-US.ts
  packages/types/src/localization.ts
  packages/types/src/session.ts
  packages/types/src/sessionVerification.ts
Labels: types, clerk-js, localizations

#5156 refactor(clerk-js): Make use of browser navigator locks property
  .changeset/giant-ducks-bow.md
  packages/clerk-js/src/core/auth/safeLock.ts
Labels: clerk-js

#5326 feat(agent-toolkit): Add MCP support
  .changeset/curvy-eggs-float.md
  packages/agent-toolkit/README.md
  packages/agent-toolkit/package.json
  packages/agent-toolkit/src/ai-sdk/adapter.ts
  packages/agent-toolkit/src/ai-sdk/index.ts
  packages/agent-toolkit/src/langchain/adapter.ts
  packages/agent-toolkit/src/langchain/index.ts
  packages/agent-toolkit/src/lib/clerk-tool.ts
  packages/agent-toolkit/src/lib/constants.ts
  packages/agent-toolkit/src/lib/inject-session-claims.ts
  packages/agent-toolkit/src/lib/tools/index.ts
  packages/agent-toolkit/src/lib/tools/invitations.ts
  packages/agent-toolkit/src/lib/tools/organizations.ts
  packages/agent-toolkit/src/lib/tools/users.ts
  packages/agent-toolkit/src/lib/types.ts
  packages/agent-toolkit/src/lib/utils.ts
  packages/agent-toolkit/src/lib/utilts.test.ts
  packages/agent-toolkit/src/modelcontextprotocol/adapter.ts
  packages/agent-toolkit/src/modelcontextprotocol/index.ts
  packages/agent-toolkit/src/modelcontextprotocol/local-server.ts
  packages/agent-toolkit/tsup.config.ts
  pnpm-lock.yaml
Labels: agent-toolkit

#5329 ci(repo): Version packages
  .changeset/strange-crabs-walk.md
  packages/agent-toolkit/CHANGELOG.md
  packages/agent-toolkit/package.json
Labels: agent-toolkit

#5330 ci(repo): Version packages
  .changeset/brown-trees-film.md
  packages/agent-toolkit/CHANGELOG.md
  packages/agent-toolkit/package.json
Labels: agent-toolkit

#5328 fix(repo): Handle errors in E2E proxy server
  integration/scripts/proxyServer.ts
Labels: integration

#5280 feat(clerk-js,clerk-react,types): Navigate to tasks on after sign-in/sign-up
  .changeset/brave-pears-add.md
  integration/.keys.json.sample
  integration/presets/envs.ts
  integration/presets/longRunningApps.ts
  integration/templates/next-app-router/src/app/layout.tsx
  integration/tests/session-tasks-sign-in.test.ts
  integration/tests/session-tasks-sign-up.test.ts
  packages/clerk-js/bundlewatch.config.json
  packages/clerk-js/src/core/__tests__/clerk.test.ts
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/resources/Session.ts
  packages/clerk-js/src/core/sessionTasks.ts
  packages/clerk-js/src/core/warnings.ts
  packages/clerk-js/src/ui/common/redirects.ts
  packages/clerk-js/src/ui/common/withRedirect.tsx
  packages/clerk-js/src/ui/components/SessionTask/SessionTask.tsx
  packages/clerk-js/src/ui/components/SessionTask/index.ts
  packages/clerk-js/src/ui/components/SignIn/SignIn.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUp.tsx
  packages/clerk-js/src/ui/contexts/components/SignIn.ts
  packages/clerk-js/src/ui/contexts/components/SignUp.ts
  packages/clerk-js/src/ui/lazyModules/components.ts
  packages/react/src/isomorphicClerk.ts
  packages/types/src/clerk.ts
  packages/types/src/session.ts
Labels: types, clerk-js, react, integration

#5327 chore(tanstack-start): Add deprecation warning for package renaming
  .changeset/cuddly-cups-sip.md
  packages/tanstack-start/src/errors.ts
  packages/tanstack-start/src/index.ts
  packages/tanstack-start/src/server/index.ts
  packages/tanstack-start/src/utils/errors.ts
Labels: tanstack

#5338 test(e2e): Adding tests for handling reverification for AIO components
  .changeset/mighty-falcons-fly.md
  integration/testUtils/userVerificationPageObject.ts
  integration/testUtils/usersService.ts
  integration/tests/reverification.test.ts
  pnpm-lock.yaml
Labels: integration

#5341 chore(clerk-js): Bump floating-ui packages to latest
  .changeset/neat-hotels-brush.md
  packages/clerk-js/bundlewatch.config.json
  packages/clerk-js/package.json
  packages/clerk-js/src/ui/elements/Popover.tsx
  packages/clerk-js/src/ui/hooks/usePopover.ts
  pnpm-lock.yaml
Labels: clerk-js

#5348 fix(clerk-js): Conditionally render avatar
  .changeset/purple-lamps-beg.md
  packages/clerk-js/src/ui/components/PricingTable/PlanCard.tsx
  packages/clerk-js/src/ui/customizables/elementDescriptors.ts
  packages/types/src/appearance.ts
Labels: types, clerk-js

#5349 feat(clerk-js): PlanCard redirect to sign in when not signed in
  .changeset/serious-badgers-lie.md
  packages/clerk-js/src/ui/components/PricingTable/PlanCard.tsx
Labels: clerk-js

#5207 feat(repo): Add appearance variables to sandbox
  .changeset/witty-yaks-poke.md
  packages/clerk-js/sandbox/app.ts
  packages/clerk-js/sandbox/template.html
Labels: clerk-js

#5337 feat(clerk-js, types): `<Drawer />` component
  .changeset/lucky-cobras-cough.md
  packages/clerk-js/bundlewatch.config.json
  packages/clerk-js/src/ui/common/CommerceBlade.tsx
  packages/clerk-js/src/ui/common/index.ts
  packages/clerk-js/src/ui/components/Checkout/Checkout.tsx
  packages/clerk-js/src/ui/components/Checkout/CheckoutComplete.tsx
  packages/clerk-js/src/ui/components/Checkout/CheckoutPage.tsx
  packages/clerk-js/src/ui/components/PricingTable/PlanCard.tsx
  packages/clerk-js/src/ui/components/PricingTable/PlanDetailBlade.tsx
  packages/clerk-js/src/ui/components/PricingTable/PlanDetailDrawer.tsx
  packages/clerk-js/src/ui/components/PricingTable/PricingTable.tsx
  packages/clerk-js/src/ui/constants.ts
  packages/clerk-js/src/ui/customizables/elementDescriptors.ts
  packages/clerk-js/src/ui/elements/Avatar.tsx
  packages/clerk-js/src/ui/elements/Disclosure.tsx
  packages/clerk-js/src/ui/elements/Drawer.tsx
  packages/clerk-js/src/ui/elements/Modal.tsx
  packages/clerk-js/src/ui/elements/Popover.tsx
  packages/clerk-js/src/ui/elements/ProfileCard/ProfileCardContent.tsx
  packages/clerk-js/src/ui/elements/index.ts
  packages/clerk-js/src/ui/foundations/defaultFoundations.ts
  packages/clerk-js/src/ui/foundations/transitions.ts
  packages/clerk-js/src/ui/hooks/index.ts
  packages/clerk-js/src/ui/polishedAppearance.ts
  packages/clerk-js/src/ui/primitives/Dd.tsx
  packages/clerk-js/src/ui/primitives/Dl.tsx
  packages/clerk-js/src/ui/primitives/Dt.tsx
  packages/clerk-js/src/ui/styledSystem/animations.ts
  packages/clerk-js/src/ui/types.ts
  packages/types/src/appearance.ts
Labels: types, clerk-js

#5358 chore(clerk-expo): Export `TokenCache` type
  .changeset/tidy-llamas-matter.md
  packages/expo/src/index.ts
Labels: expo

#5356 fix(clerk-js): Fix `<CheckoutForm />` select positioning and option text color
  .changeset/chatty-lobsters-approve.md
  packages/clerk-js/src/ui/components/Checkout/CheckoutForm.tsx
Labels: clerk-js

#5354 chore(types): Deprecate old jwt types
  .changeset/thick-bags-promise.md
  packages/astro/src/react/hooks.ts
  packages/clerk-js/src/core/resources/Session.ts
  packages/clerk-js/src/core/resources/SessionWithActivities.ts
  packages/clerk-js/src/utils/jwt.ts
  packages/react/src/contexts/AuthContext.ts
  packages/types/src/hooks.ts
  packages/types/src/json.ts
  packages/types/src/jwt.ts
  packages/types/src/jwtv2.ts
  packages/types/src/session.ts
  packages/vue/src/types.ts
Labels: types, clerk-js, react, astro, vue

#5357 fix(clerk-js): Update plan fee rendering within `<PlanCard />`
  .changeset/soft-houses-camp.md
  packages/clerk-js/src/ui/components/PricingTable/PlanCard.tsx
Labels: clerk-js

#5355 refactor(clerk-js,types): Simplify plan card avatar badge container styling
  .changeset/five-hounds-judge.md
  packages/clerk-js/src/ui/components/PricingTable/PlanCard.tsx
  packages/clerk-js/src/ui/customizables/elementDescriptors.ts
  packages/types/src/appearance.ts
Labels: types, clerk-js

#5353 fix(clerk-js,types,localizations): Allow user set primary web3 wallet in `<UserProfile />`
  .changeset/strong-chefs-travel.md
  packages/clerk-js/src/ui/components/UserProfile/Web3Section.tsx
  packages/clerk-js/src/ui/components/UserProfile/utils.ts
  packages/localizations/src/ar-SA.ts
  packages/localizations/src/be-BY.ts
  packages/localizations/src/bg-BG.ts
  packages/localizations/src/ca-ES.ts
  packages/localizations/src/cs-CZ.ts
  packages/localizations/src/da-DK.ts
  packages/localizations/src/de-DE.ts
  packages/localizations/src/el-GR.ts
  packages/localizations/src/en-GB.ts
  packages/localizations/src/en-US.ts
  packages/localizations/src/es-ES.ts
  packages/localizations/src/es-MX.ts
  packages/localizations/src/fi-FI.ts
  packages/localizations/src/fr-FR.ts
  packages/localizations/src/he-IL.ts
  packages/localizations/src/hr-HR.ts
  packages/localizations/src/hu-HU.ts
  packages/localizations/src/id-ID.ts
  packages/localizations/src/is-IS.ts
  packages/localizations/src/it-IT.ts
  packages/localizations/src/ja-JP.ts
  packages/localizations/src/ko-KR.ts
  packages/localizations/src/mn-MN.ts
  packages/localizations/src/nb-NO.ts
  packages/localizations/src/nl-BE.ts
  packages/localizations/src/nl-NL.ts
  packages/localizations/src/pl-PL.ts
  packages/localizations/src/pt-BR.ts
  packages/localizations/src/pt-PT.ts
  packages/localizations/src/ro-RO.ts
  packages/localizations/src/ru-RU.ts
  packages/localizations/src/sk-SK.ts
  packages/localizations/src/sr-RS.ts
  packages/localizations/src/sv-SE.ts
  packages/localizations/src/th-TH.ts
  packages/localizations/src/tr-TR.ts
  packages/localizations/src/uk-UA.ts
  packages/localizations/src/vi-VN.ts
  packages/localizations/src/zh-CN.ts
  packages/localizations/src/zh-TW.ts
  packages/types/src/localization.ts
Labels: types, clerk-js, localizations

#5373 fix(clerk-expo): Add console error for disabled Native API
  .changeset/eight-paws-add.md
  packages/expo/src/provider/singleton/createClerkInstance.ts
Labels: expo

#5369 refactor(clerk-js): `<Drawer />` animation timing/easing adjustments
  .changeset/tough-nails-explain.md
  packages/clerk-js/src/ui/elements/Drawer.tsx
  packages/clerk-js/src/ui/foundations/sizes.ts
  packages/clerk-js/src/ui/foundations/transitions.ts
Labels: clerk-js

#5376 refactor(clerk-js): Introduce `<Drawer.Confirmation />` component
  .changeset/forty-ladybugs-tie.md
  packages/clerk-js/bundlewatch.config.json
  packages/clerk-js/src/ui/components/PricingTable/PlanDetailDrawer.tsx
  packages/clerk-js/src/ui/customizables/elementDescriptors.ts
  packages/clerk-js/src/ui/elements/Drawer.tsx
  packages/types/src/appearance.ts
Labels: types, clerk-js

#5345 feat(clerk-js): Allow token refresh when Client failed to resolve
  .changeset/good-penguins-agree.md
  integration/testUtils/index.ts
  integration/tests/resiliency.test.ts
  integration/tests/reverification.test.ts
  packages/clerk-js/bundlewatch.config.json
  packages/clerk-js/src/core/auth/AuthCookieService.ts
  packages/clerk-js/src/core/auth/SessionCookiePoller.ts
  packages/clerk-js/src/core/auth/cookies/session.ts
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/jwt-client.ts
  packages/clerk-js/src/core/resources/Client.ts
  packages/clerk-js/src/core/resources/Organization.ts
  packages/clerk-js/src/core/resources/OrganizationMembership.ts
  packages/clerk-js/src/core/resources/PublicUserData.ts
  packages/clerk-js/src/core/resources/Session.ts
  packages/clerk-js/src/core/resources/User.ts
  packages/clerk-js/src/core/resources/__tests__/__snapshots__/Client.test.ts.snap
  packages/types/src/json.ts
Labels: types, clerk-js, integration

#5335 fix(backend): Missing invitation status `expired`
  .changeset/calm-files-confess.md
  packages/backend/src/api/resources/Enums.ts
Labels: backend

#5382 chore(repo): Do not pin Renovate version
  .github/workflows/validate-renovate-config.yml
Labels: actions

#5372 chore(shared,clerk-react,types): Improve Typedoc
  .changeset/green-donuts-press.md
  .typedoc/custom-plugin.mjs
  .typedoc/custom-theme.mjs
  .typedoc/typedoc-prettier-config.json
  package.json
  packages/react/.gitignore
  packages/react/docs/use-auth.md
  packages/react/docs/use-sign-in.md
  packages/react/docs/use-sign-up.md
  packages/react/src/hooks/useAuth.ts
  packages/react/src/hooks/useSignIn.ts
  packages/react/src/hooks/useSignUp.ts
  packages/shared/.gitignore
  packages/shared/docs/use-clerk.md
  packages/shared/docs/use-session-list.md
  packages/shared/docs/use-session.md
  packages/shared/docs/use-user.md
  packages/shared/src/react/hooks/useClerk.ts
  packages/shared/src/react/hooks/useOrganization.tsx
  packages/shared/src/react/hooks/useOrganizationList.tsx
  packages/shared/src/react/hooks/useSession.ts
  packages/shared/src/react/hooks/useSessionList.ts
  packages/shared/src/react/hooks/useUser.ts
  packages/shared/src/react/types.ts
  packages/shared/typedoc.json
  packages/types/src/clerk.ts
  packages/types/src/pagination.ts
  typedoc.config.mjs
Labels: types, react

#5387 chore(e2e): Compare tokens on client recovery
  .changeset/serious-tools-jump.md
  integration/tests/resiliency.test.ts
Labels: integration

#5383 refactor(clerk-js): Default `<Drawer.Confirmation />` to `alertdialog` role
  .changeset/fast-rocks-repeat.md
  packages/clerk-js/src/ui/elements/Drawer.tsx
Labels: clerk-js

#5287 feat(clerk-js): Allow Environment init with defaults
  .changeset/dirty-lizards-count.md
  integration/tests/reverification.test.ts
  packages/clerk-js/bundlewatch.config.json
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/resources/AuthConfig.ts
  packages/clerk-js/src/core/resources/Base.ts
  packages/clerk-js/src/core/resources/CommerceSettings.ts
  packages/clerk-js/src/core/resources/DisplayConfig.ts
  packages/clerk-js/src/core/resources/Environment.ts
  packages/clerk-js/src/core/resources/OrganizationSettings.ts
  packages/clerk-js/src/core/resources/UserSettings.ts
  packages/clerk-js/src/core/resources/__tests__/AuthConfig.test.ts
  packages/clerk-js/src/core/resources/__tests__/Environment.test.ts
  packages/clerk-js/src/core/resources/__tests__/UserSettings.test.ts
  packages/clerk-js/src/core/resources/__tests__/__snapshots__/Environment.test.ts.snap
  packages/clerk-js/src/core/resources/__tests__/__snapshots__/UserSettings.test.ts.snap
  packages/clerk-js/src/ui/components/SignIn/SignInStart.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpVerifyEmail.tsx
  packages/clerk-js/src/ui/components/SignUp/signUpFormHelpers.ts
  packages/clerk-js/src/ui/components/UserProfile/AccountPage.tsx
  packages/clerk-js/src/ui/components/UserProfile/EmailForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/MfaPhoneCodeScreen.tsx
  packages/clerk-js/src/ui/components/UserProfile/ProfileForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/SecurityPage.tsx
  packages/clerk-js/src/ui/components/UserProfile/UsernameForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/utils.ts
Labels: clerk-js, integration

#5390 refactor(clerk-js): Add localization support to commerce components
  .changeset/chilled-garlics-knock.md
  packages/clerk-js/src/ui/components/Checkout/CheckoutComplete.tsx
  packages/clerk-js/src/ui/components/Checkout/CheckoutForm.tsx
  packages/clerk-js/src/ui/components/PricingTable/PlanCard.tsx
  packages/clerk-js/src/ui/elements/Disclosure.tsx
  packages/clerk-js/src/ui/elements/Drawer.tsx
  packages/clerk-js/src/ui/elements/LineItems.tsx
  packages/clerk-js/src/ui/elements/SegmentedControl.tsx
Labels: clerk-js

#5391 chore(clerk-js,types): Hide personal workspace options when organization selection is enforced
  .changeset/fresh-plums-run.md
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/resources/OrganizationSettings.ts
  packages/clerk-js/src/core/resources/__tests__/Environment.test.ts
  packages/clerk-js/src/core/resources/__tests__/__snapshots__/Environment.test.ts.snap
  packages/clerk-js/src/ui/components/OrganizationList/__tests__/OrganizationList.test.tsx
  packages/clerk-js/src/ui/components/OrganizationSwitcher/__tests__/OrganizationSwitcher.test.tsx
  packages/clerk-js/src/ui/components/SessionTask/SessionTask.tsx
  packages/clerk-js/src/ui/contexts/components/OrganizationList.ts
  packages/clerk-js/src/ui/contexts/components/OrganizationSwitcher.ts
  packages/clerk-js/src/ui/utils/test/fixtureHelpers.ts
  packages/clerk-js/src/ui/utils/test/fixtures.ts
  packages/types/src/organizationSettings.ts
Labels: types, clerk-js

#5395 fix(backend): Handle Basic auth gracefully
  .changeset/ninety-bugs-jam.md
  packages/backend/src/tokens/__tests__/request.test.ts
  packages/backend/src/tokens/authenticateContext.ts
  packages/nextjs/src/server/clerkMiddleware.ts
Labels: bug, nextjs, backend

#5400 test(vue): Get exact selector when testing Organization Profile custom pages and links
  integration/tests/vue/components.test.ts
Labels: integration

#5401 fix(clerk-js): Add color to bundlewatch output
  .changeset/sharp-sloths-stick.md
  packages/clerk-js/package.json
Labels: clerk-js

#5406 fix(clerk-js): Ensure window.Clerk is only ever assigned once
  .changeset/late-cheetahs-raise.md
  packages/clerk-js/src/index.browser.ts
  packages/clerk-js/src/index.headless.browser.ts
Labels: clerk-js

#5377 feat(clerk-js,clerk-react,types): Navigate to next task
  .changeset/purple-balloons-join.md
  integration/testUtils/index.ts
  integration/testUtils/organizationsService.ts
  integration/testUtils/sessionTaskPageObject.ts
  integration/tests/session-tasks-sign-in.test.ts
  integration/tests/session-tasks-sign-up.test.ts
  packages/clerk-js/bundlewatch.config.json
  packages/clerk-js/src/core/__tests__/clerk.test.ts
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/sessionTasks.ts
  packages/clerk-js/src/ui/components/OrganizationList/OrganizationListPage.tsx
  packages/clerk-js/src/ui/components/OrganizationList/UserMembershipList.tsx
  packages/clerk-js/src/ui/components/SessionTask/SessionTask.tsx
  packages/clerk-js/src/ui/components/SignIn/SignIn.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUp.tsx
  packages/clerk-js/src/ui/contexts/components/SessionTask.ts
  packages/clerk-js/src/ui/types.ts
  packages/clerk-js/src/utils/beforeUnloadTracker.ts
  packages/react/src/isomorphicClerk.ts
  packages/types/src/clerk.ts
Labels: types, clerk-js, react, integration

#5389 chore(nextjs): Refactor keyless orchestration
  .changeset/smooth-feet-juggle.md
  packages/nextjs/src/app-router/server/ClerkProvider.tsx
  packages/nextjs/src/app-router/server/keyless-provider.tsx
Labels: nextjs

#5396 feat(clerk-js,shared): Refactor useReverification to support custom UIs
  .changeset/pretty-months-wonder.md
  .changeset/tricky-deers-know.md
  integration/templates/next-app-router/src/app/(reverification)/action-with-use-reverification/page.tsx
  integration/tests/reverification.test.ts
  packages/clerk-js/bundlewatch.config.json
  packages/clerk-js/src/ui/common/RemoveResourceForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/ActiveDevicesSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/AddAuthenticatorApp.tsx
  packages/clerk-js/src/ui/components/UserProfile/ConnectedAccountsMenu.tsx
  packages/clerk-js/src/ui/components/UserProfile/ConnectedAccountsSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/DeleteUserForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/EmailForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/EmailsSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/MfaBackupCodeCreateForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/MfaPhoneCodeScreen.tsx
  packages/clerk-js/src/ui/components/UserProfile/PasskeySection.tsx
  packages/clerk-js/src/ui/components/UserProfile/PasswordForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/PhoneForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/UsernameForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/Web3Form.tsx
  packages/clerk-js/src/ui/components/UserProfile/Web3Section.tsx
  packages/nextjs/src/client-boundary/hooks.ts
  packages/nextjs/src/errors.ts
  packages/react-router/src/errors.ts
  packages/react/src/errors.ts
  packages/remix/src/errors.ts
  packages/shared/src/error.ts
  packages/shared/src/react/__tests__/useReverification.test.ts
  packages/shared/src/react/hooks/useReverification.ts
  packages/tanstack-start/src/errors.ts
Labels: clerk-js, nextjs, react, remix, integration, tanstack, react-router

#5411 fix(clerk-js): Create client from jwt only on network errors or 5xx
  .changeset/small-ads-rescue.md
  integration/tests/resiliency.test.ts
  packages/clerk-js/src/core/clerk.ts
Labels: clerk-js, integration

#5409 fix(clerk-js): Lazily load BillingPage in UserProfile
  .changeset/breezy-walls-tease.md
  packages/clerk-js/bundlewatch.config.json
  packages/clerk-js/src/ui/components/UserProfile/UserProfileRoutes.tsx
Labels: clerk-js

#5398 ci(repo): Version packages
  .changeset/all-buckets-admire.md
  .changeset/breezy-walls-tease.md
  .changeset/late-cheetahs-raise.md
  .changeset/ninety-bugs-jam.md
  .changeset/plenty-poems-bow.md
  .changeset/pretty-months-wonder.md
  .changeset/purple-balloons-join.md
  .changeset/sharp-sloths-stick.md
  .changeset/small-ads-rescue.md
  .changeset/smooth-feet-juggle.md
  .changeset/tricky-deers-know.md
  packages/agent-toolkit/CHANGELOG.md
  packages/agent-toolkit/package.json
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/expo-passkeys/CHANGELOG.md
  packages/expo-passkeys/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, expo, chrome-extension, themes, elements, express, testing, astro, react-router, nuxt, vue, agent-toolkit

#5393 feat(clerk-js): Introduce `matrix` layout option for `<PricingTable />`
  .changeset/wet-trams-arrive.md
  packages/clerk-js/bundlewatch.config.json
  packages/clerk-js/src/ui/components/PricingTable/PlanCard.tsx
  packages/clerk-js/src/ui/components/PricingTable/PricingTable.tsx
  packages/clerk-js/src/ui/components/PricingTable/PricingTableDefault.tsx
  packages/clerk-js/src/ui/components/PricingTable/PricingTableMatrix.tsx
  packages/clerk-js/src/ui/components/PricingTable/index.tsx
  packages/clerk-js/src/ui/customizables/elementDescriptors.ts
  packages/clerk-js/src/ui/elements/SegmentedControl.tsx
  packages/types/src/appearance.ts
  packages/types/src/clerk.ts
Labels: types, clerk-js

#5416 feat(backend,shared): Move buildAccountsBaseUrl to shared utility
  .changeset/clever-walls-shave.md
  .changeset/spicy-radios-happen.md
  packages/backend/src/createRedirect.ts
  packages/shared/src/__tests__/buildAccountsBaseUrl.test.ts
  packages/shared/src/buildAccountsBaseUrl.ts
Labels: backend

#5415 fix(clerk-js): Use a new signUp attempt on SignUpStart component when there is no ticket flow
  .changeset/stale-boxes-attend.md
  packages/clerk-js/bundlewatch.config.json
  packages/clerk-js/src/ui/components/SignUp/SignUpStart.tsx
Labels: clerk-js

#5417 fix(clerk-js): Add background color to `<PricingTableMatrix />` component
  .changeset/sad-feet-fail.md
  packages/clerk-js/src/ui/components/PricingTable/PricingTableMatrix.tsx
Labels: clerk-js

#5412 ci(repo): Version packages
  .changeset/clever-walls-shave.md
  .changeset/sad-feet-fail.md
  .changeset/spicy-radios-happen.md
  .changeset/stale-boxes-attend.md
  .changeset/wet-trams-arrive.md
  packages/agent-toolkit/CHANGELOG.md
  packages/agent-toolkit/package.json
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/expo-passkeys/CHANGELOG.md
  packages/expo-passkeys/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Labels: clerk-js, nextjs, react, remix, backend, fastify, expo, chrome-extension, elements, express, testing, astro, react-router, nuxt, vue, agent-toolkit

#5346 feat(clerk-js): Pass appearance variables to stripe elements.
  .changeset/many-forks-burn.md
  packages/clerk-js/bundlewatch.config.json
  packages/clerk-js/src/ui/components/Checkout/CheckoutForm.tsx
  packages/clerk-js/src/ui/utils/__tests__/normalizeColorString.test.ts
  packages/clerk-js/src/ui/utils/index.ts
  packages/clerk-js/src/ui/utils/normalizeColorString.ts
Labels: clerk-js

#5426 fix(nextjs): Update peerDependencies to only allow patched versions
  .changeset/stale-students-care.md
  packages/nextjs/package.json
Labels: nextjs

#5428 fix(nextjs): Update peerDependencies to only allow patched versions
  .changeset/nasty-apricots-hang.md
  packages/nextjs/package.json
Labels: nextjs

#5419 ci(repo): Version packages
  .changeset/many-forks-burn.md
  .changeset/stale-students-care.md
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
Labels: clerk-js, nextjs, expo, chrome-extension

#5438 Version Packages - V4
  .changeset/nasty-apricots-hang.md
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
Labels: nextjs

#5038 chore(repo): Disallow non-null assertions
  .changeset/healthy-balloons-flash.md
  .changeset/wise-pianos-ring.md
  eslint.config.mjs
  packages/astro/src/internal/invoke-clerk-astro-js-functions.ts
  packages/astro/src/internal/mount-clerk-astro-js-components.ts
  packages/astro/src/react/hooks.ts
  packages/astro/src/server/build-clerk-hotload-script.ts
  packages/astro/src/server/clerk-middleware.ts
  packages/astro/src/server/server-redirect-with-auth.ts
  packages/astro/src/stores/external.ts
  packages/backend/src/tokens/request.ts
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/resources/SignUp.ts
  packages/clerk-js/src/core/tokenCache.ts
  packages/clerk-js/src/ui/components/GoogleOneTap/one-tap-start.tsx
  packages/clerk-js/src/ui/components/ImpersonationFab/ImpersonationFab.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/ActionConfirmationPage.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/__tests__/OrganizationMembers.test.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInStart.tsx
  packages/clerk-js/src/ui/components/UserProfile/ActiveDevicesSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/ConnectedAccountsSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/__tests__/ConnectedAccountsSection.test.tsx
  packages/clerk-js/src/ui/components/UserProfile/__tests__/EmailsSection.test.tsx
  packages/clerk-js/src/ui/components/UserProfile/__tests__/MfaPage.test.tsx
  packages/clerk-js/src/ui/components/UserProfile/__tests__/PasskeysSection.test.tsx
  packages/clerk-js/src/ui/components/UserProfile/__tests__/PhoneSection.test.tsx
  packages/clerk-js/src/ui/components/UserProfile/__tests__/SecurityPage.test.tsx
  packages/clerk-js/src/ui/components/UserVerification/UVFactorOneCodeForm.tsx
  packages/clerk-js/src/ui/components/UserVerification/UVFactorTwoBackupCodeCard.tsx
  packages/clerk-js/src/ui/components/UserVerification/UVFactorTwoCodeForm.tsx
  packages/clerk-js/src/ui/components/UserVerification/UVFactorTwoPhoneCodeCard.tsx
  packages/clerk-js/src/ui/components/UserVerification/UserVerificationFactorOne.tsx
  packages/clerk-js/src/ui/foundations/colors.ts
  packages/clerk-js/src/ui/hooks/useFetch.ts
  packages/clerk-js/src/ui/hooks/useFetchRoles.ts
  packages/clerk-js/src/ui/utils/errorHandler.ts
  packages/clerk-js/src/ui/utils/phoneUtils.ts
  packages/clerk-js/src/utils/memoizeStateListenerCallback.ts
  packages/elements/package.json
  packages/elements/src/internals/machines/sign-up/router.machine.ts
  packages/elements/src/react/common/connections.tsx
  packages/elements/src/react/common/link.tsx
  packages/expo/src/cache/ResourceCache.ts
  packages/expo/src/hooks/useOAuth.ts
  packages/nextjs/package.json
  packages/nextjs/src/server/__tests__/clerkMiddleware.test.ts
  packages/react/src/isomorphicClerk.ts
  packages/shared/src/react/hooks/useOrganization.tsx
  packages/shared/src/telemetry/collector.ts
  packages/vue/src/components/controlComponents.ts
  packages/vue/src/composables/useOrganization.ts
  packages/vue/src/composables/useSessionList.ts
  packages/vue/src/utils/__tests__/useCustomElementPortal.test.ts
  packages/vue/src/utils/useCustomMenuItems.ts
  packages/vue/src/utils/useCustomPages.ts
Labels: clerk-js, nextjs, react, backend, expo, elements, astro, vue

#5421 chore(repo): Track bundle size of all headless variants
  .changeset/moody-women-brake.md
  packages/clerk-js/bundlewatch.config.json
Labels: clerk-js

#5445 fix(clerk-js): Fix lazy-loading of `BillingPage` within `UserProfile`
  .changeset/common-melons-camp.md
  packages/clerk-js/src/ui/components/UserProfile/UserProfileRoutes.tsx
Labels: clerk-js

#5446 chore(clerk-js): Remove paypal button from `<CheckoutForm />`
  .changeset/rare-buckets-move.md
  packages/clerk-js/src/ui/components/Checkout/CheckoutForm.tsx
Labels: clerk-js

#5448 fix(backend): Update `RevokeOrganizationInvitationParams.requestUserId` param to optional
  .changeset/cool-suits-sell.md
  packages/backend/src/api/endpoints/OrganizationApi.ts
Labels: backend

#5449 chore(repo): Do not use deprecated Turbo env var
  .github/actions/init-blacksmith/action.yml
  .github/actions/init/action.yml
  .github/workflows/release-canary.yml
Labels: actions

#5444 ci(repo): Version packages
  .changeset/big-parents-relate.md
  .changeset/common-melons-camp.md
  .changeset/cool-suits-sell.md
  .changeset/healthy-balloons-flash.md
  .changeset/moody-women-brake.md
  .changeset/rare-buckets-move.md
  .changeset/rare-rules-fly.md
  .changeset/wise-pianos-ring.md
  .changeset/yummy-days-sit.md
  packages/agent-toolkit/CHANGELOG.md
  packages/agent-toolkit/package.json
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/expo-passkeys/CHANGELOG.md
  packages/expo-passkeys/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/tanstack-react-start/CHANGELOG.md
  packages/tanstack-react-start/package.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, expo, chrome-extension, themes, elements, express, testing, tanstack, astro, react-router, nuxt, vue, agent-toolkit

#5239 feat(clerk-js): Authenticate with popup
  .changeset/serious-tools-double.md
  integration/templates/next-app-router/src/app/buttons/page.tsx
  integration/tests/oauth-flows.test.ts
  packages/clerk-js/bundlewatch.config.json
  packages/clerk-js/src/core/__tests__/clerk.test.ts
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/resources/SignIn.ts
  packages/clerk-js/src/core/resources/SignUp.ts
  packages/clerk-js/src/core/resources/__tests__/__snapshots__/Client.test.ts.snap
  packages/clerk-js/src/ui/components/SignIn/SignInSocialButtons.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpSocialButtons.tsx
  packages/clerk-js/src/ui/contexts/components/SignIn.ts
  packages/clerk-js/src/ui/contexts/components/SignUp.ts
  packages/clerk-js/src/ui/elements/SocialButtons.tsx
  packages/clerk-js/src/ui/elements/contexts/FlowMetadataContext.tsx
  packages/clerk-js/src/ui/utils/index.ts
  packages/clerk-js/src/ui/utils/originPrefersPopup.ts
  packages/clerk-js/src/utils/authenticateWithPopup.ts
  packages/react/src/components/SignInButton.tsx
  packages/react/src/components/SignUpButton.tsx
  packages/types/src/clerk.ts
  packages/types/src/redirects.ts
  packages/types/src/signIn.ts
  packages/types/src/signUp.ts
Labels: types, clerk-js, react, integration

#5455 fix(localizations): Define that you have to enter the current password
  .changeset/tame-clowns-brush.md
  packages/clerk-js/src/ui/components/UserVerification/__tests__/UVFactorOne.test.tsx
  packages/localizations/src/bg-BG.ts
  packages/localizations/src/en-GB.ts
  packages/localizations/src/en-US.ts
Labels: clerk-js, localizations

#5410 fix(clerk-js): Handle empty 204 responses from FAPI
  .changeset/ninety-bobcats-train.md
  packages/clerk-js/src/core/__tests__/fapiClient.test.ts
  packages/clerk-js/src/core/fapiClient.ts
  packages/clerk-js/src/core/resources/__tests__/Client.test.ts
Labels: clerk-js

#5453 chore(repo): Update Typedoc to 0.28
  .changeset/seven-squids-bet.md
  .typedoc/custom-plugin.mjs
  .typedoc/custom-router.mjs
  .typedoc/custom-theme.mjs
  package.json
  packages/react/src/components/controlComponents.tsx
  packages/shared/src/react/hooks/useClerk.ts
  packages/shared/src/react/hooks/useReverification.ts
  packages/shared/src/react/hooks/useSession.ts
  packages/shared/src/react/hooks/useSessionList.ts
  packages/shared/src/underscore.ts
  pnpm-lock.yaml
  typedoc.config.mjs
Labels: react

#5422 chore(clerk-js,types): Load tasks based on environment settings
  .changeset/lazy-impalas-clean.md
  integration/templates/next-app-router/src/app/layout.tsx
  packages/clerk-js/bundlewatch.config.json
  packages/clerk-js/src/core/__tests__/clerk.test.ts
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/sessionTasks.ts
  packages/clerk-js/src/ui/common/redirects.ts
  packages/clerk-js/src/ui/components/OrganizationList/OrganizationListPage.tsx
  packages/clerk-js/src/ui/components/OrganizationList/UserMembershipList.tsx
  packages/clerk-js/src/ui/components/SessionTask/SessionTask.tsx
  packages/clerk-js/src/ui/components/SessionTask/index.ts
  packages/clerk-js/src/ui/components/SessionTasks/index.tsx
  packages/clerk-js/src/ui/components/SignIn/SignIn.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUp.tsx
  packages/clerk-js/src/ui/contexts/components/SessionTask.ts
  packages/clerk-js/src/ui/contexts/components/SessionTasks.ts
  packages/clerk-js/src/ui/contexts/components/SignIn.ts
  packages/clerk-js/src/ui/contexts/components/SignUp.ts
  packages/clerk-js/src/ui/hooks/usePreloadTasks.ts
  packages/clerk-js/src/ui/lazyModules/components.ts
  packages/clerk-js/src/ui/types.ts
  packages/types/src/clerk.ts
Labels: types, clerk-js, integration

#5458 chore(vue): Make plugin installation type-safe
  .changeset/modern-rings-relax.md
  packages/nuxt/src/global.d.ts
  packages/nuxt/src/module.ts
  packages/nuxt/src/runtime/plugin.ts
  packages/vue/src/index.ts
  packages/vue/src/plugin.ts
Labels: nuxt, vue

#5452 ci(repo): Version packages
  .changeset/lazy-impalas-clean.md
  .changeset/modern-rings-relax.md
  .changeset/ninety-bobcats-train.md
  .changeset/polite-pillows-report.md
  .changeset/serious-tools-double.md
  .changeset/seven-squids-bet.md
  .changeset/tame-clowns-brush.md
  .changeset/twelve-bees-cough.md
  packages/agent-toolkit/CHANGELOG.md
  packages/agent-toolkit/package.json
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/expo-passkeys/CHANGELOG.md
  packages/expo-passkeys/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/tanstack-react-start/CHANGELOG.md
  packages/tanstack-react-start/package.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, expo, chrome-extension, themes, elements, express, testing, tanstack, astro, react-router, nuxt, vue, agent-toolkit

#5420 chore(clerk-js): Use local environment on outage
  .changeset/cool-times-divide.md
  packages/clerk-js/bundlewatch.config.json
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/events.ts
  packages/clerk-js/src/core/resources/Environment.ts
  packages/clerk-js/src/ui/hooks/index.ts
  packages/clerk-js/src/ui/hooks/useLocalStorage.ts
  packages/clerk-js/src/utils/__tests__/localStorage.test.ts
  packages/clerk-js/src/utils/localStorage.ts
Labels: clerk-js

#5450 chore(clerk-js,types): Refactor PricingTableDefault sub components
  .changeset/yummy-ducks-win.md
  packages/clerk-js/bundlewatch.config.json
  packages/clerk-js/src/ui/components/PricingTable/PricingTableDefault.tsx
  packages/clerk-js/src/ui/customizables/elementDescriptors.ts
  packages/clerk-js/src/ui/polishedAppearance.ts
  packages/types/src/appearance.ts
Labels: types, clerk-js

#5462 fix(clerk-js): Remove console.error from transfer flow
  .changeset/tender-ghosts-smell.md
  packages/clerk-js/src/core/clerk.ts
Labels: clerk-js

#5463 fix(clerk-js): Fix Turnstile console warning when locale is used
  .changeset/smart-chefs-fail.md
  packages/clerk-js/src/ui/elements/CaptchaElement.tsx
Labels: clerk-js

#5464 chore(clerk-js): Add comment for Turnstile locale
  .changeset/quick-things-heal.md
  packages/clerk-js/src/ui/elements/CaptchaElement.tsx
Labels: clerk-js

#5461 ci(repo): Version packages
  .changeset/cool-times-divide.md
  .changeset/quick-things-heal.md
  .changeset/smart-chefs-fail.md
  .changeset/tender-ghosts-smell.md
  .changeset/thick-rooms-repeat.md
  .changeset/yellow-hairs-refuse.md
  .changeset/yummy-ducks-win.md
  packages/agent-toolkit/CHANGELOG.md
  packages/agent-toolkit/package.json
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/expo-passkeys/CHANGELOG.md
  packages/expo-passkeys/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/tanstack-react-start/CHANGELOG.md
  packages/tanstack-react-start/package.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, expo, chrome-extension, themes, elements, express, testing, tanstack, astro, react-router, nuxt, vue, agent-toolkit

#5397 chore(clerk-js): Improve session refresh retry logic
  .changeset/chubby-lies-report.md
  .changeset/five-towns-start.md
  packages/clerk-js/bundlewatch.config.json
  packages/clerk-js/src/core/auth/AuthCookieService.ts
  packages/clerk-js/src/core/auth/SessionCookiePoller.ts
  packages/clerk-js/src/core/auth/safeLock.ts
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/fapiClient.ts
  packages/clerk-js/src/core/resources/Session.ts
  packages/shared/src/retry.ts
Labels: clerk-js

#5469 chore(clerk-js,types): Remove `<PlanCard />` from commerce components
  .changeset/shaggy-garlics-remain.md
  packages/clerk-js/src/ui/components/PricingTable/PlanCard.tsx
  packages/clerk-js/src/ui/components/PricingTable/PricingTableMatrix.tsx
  packages/clerk-js/src/ui/components/PricingTable/SubscriptionDetailDrawer.tsx
  packages/clerk-js/src/ui/customizables/elementDescriptors.ts
  packages/clerk-js/src/ui/polishedAppearance.ts
  packages/types/src/appearance.ts
Labels: types, clerk-js

#5470 fix(nextjs): Update clerkMiddleware type
  .changeset/cool-houses-bake.md
  packages/nextjs/src/server/clerkMiddleware.ts
Labels: nextjs

#5474 fix(clerk-js): Using the same identifier and strategy not triggers prepare after sign out
  .changeset/poor-lights-look.md
  packages/clerk-js/src/ui/components/SignIn/SignInFactorOneCodeForm.tsx
Labels: clerk-js

#5475 chore(clerk-js): Filters out non supported strategies for reverification
  .changeset/wide-glasses-wink.md
  packages/clerk-js/src/ui/components/UserVerification/UserVerificationFactorOne.tsx
  packages/clerk-js/src/ui/components/UserVerification/UserVerificationFactorTwo.tsx
Labels: clerk-js

#5480 feat(clerk-js,backend,shared): Expose retryAfter header on ClerkAPIResponseError
  .changeset/fair-ants-invent.md
  packages/backend/src/api/__tests__/factory.test.ts
  packages/backend/src/api/request.ts
  packages/clerk-js/bundlewatch.config.json
  packages/clerk-js/src/core/resources/Base.ts
  packages/clerk-js/src/core/resources/__tests__/Base.test.ts
  packages/shared/src/error.ts
Labels: clerk-js, backend

#5457 chore(react,types): Update typedoc comments for react hooks and clerkprovider
  .changeset/rare-ladybugs-chew.md
  packages/react/src/hooks/useAuth.ts
  packages/react/src/types.ts
  packages/types/src/clerk.ts
  packages/types/src/hooks.ts
  packages/types/src/jwt.ts
  packages/types/src/jwtv2.ts
  packages/types/src/multiDomain.ts
  packages/types/src/redirects.ts
Labels: types, react
