Repository clerk/javascript, pull requests merged in 2025-01, with the labels that each got.

#4840 fix(clerk-js): Add createUsernameError to sign-up continue flow
  .changeset/rotten-berries-jog.md
  packages/clerk-js/src/ui/components/SignUp/SignUpContinue.tsx
Labels: clerk-js

#4843 chore(types,nextjs): Handle types in `protect()`
  packages/nextjs/src/app-router/server/auth.ts
  packages/nextjs/src/server/__tests__/clerkMiddleware.test.ts
  packages/nextjs/src/server/protect.ts
  packages/types/src/session.ts
Labels: types, nextjs

#4806 fix(clerk-js): Improve keyless prompt accessibility
  .changeset/short-news-enjoy.md
  packages/clerk-js/bundlewatch.config.json
  packages/clerk-js/src/ui/components/KeylessPrompt/index.tsx
Labels: clerk-js

#4847 chore(repo): OrganizationSwitcher component tests
  .changeset/tiny-cups-change.md
  integration/templates/next-app-router/src/app/organization-switcher/page.tsx
  integration/templates/next-app-router/src/app/page.tsx
  integration/templates/react-vite/src/main.tsx
  integration/templates/react-vite/src/organization-switcher/index.tsx
  integration/tests/components.test.ts
Labels: integration

#4817 fix(clerk-js): Combined flow routing
  .changeset/flat-actors-clean.md
  integration/tests/combined-sign-up-flow.test.ts
  packages/clerk-js/src/ui/common/redirects.ts
  packages/clerk-js/src/ui/components/SignIn/SignIn.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInStart.tsx
  packages/clerk-js/src/ui/components/SignIn/handleCombinedFlowTransfer.ts
  packages/clerk-js/src/ui/components/SignUp/SignUpEmailLinkCard.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpSocialButtons.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpStart.tsx
  packages/clerk-js/src/ui/contexts/components/SignIn.ts
  packages/clerk-js/src/ui/contexts/components/SignUp.ts
  packages/clerk-js/src/ui/types.ts
Labels: clerk-js, integration

#4845 chore(clerk-js,types,localizations): Improve error handling when web3 wallet is not installed
  .changeset/nasty-adults-shave.md
  packages/clerk-js/src/ui/components/SignIn/SignInSocialButtons.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpSocialButtons.tsx
  packages/clerk-js/src/ui/utils/index.ts
  packages/clerk-js/src/ui/utils/web3CallbackErrorHandler.ts
  packages/clerk-js/src/utils/web3.ts
  packages/localizations/src/en-US.ts
  packages/types/src/localization.ts
Labels: types, clerk-js, localizations

#4841 ci(repo): Version packages
  .changeset/flat-actors-clean.md
  .changeset/nasty-adults-shave.md
  .changeset/rotten-berries-jog.md
  .changeset/short-news-enjoy.md
  .changeset/tame-wolves-sit.md
  .changeset/tiny-cups-change.md
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/expo-passkeys/CHANGELOG.md
  packages/expo-passkeys/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/tanstack-start/CHANGELOG.md
  packages/tanstack-start/package.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, sdk-node, expo, chrome-extension, themes, elements, express, testing, tanstack

#4828 fix(localizations): Improve `el-GR` localization for profile modal
  .changeset/khaki-emus-whisper.md
  packages/localizations/src/el-GR.ts
Labels: localizations

#4844 fix(clerk-react,nextjs): Type checking in vitest unit tests
  .changeset/afraid-deers-decide.md
  packages/nextjs/src/server/__tests__/clerkMiddleware.test.ts
  packages/nextjs/vitest.config.mts
  packages/react/src/hooks/__tests__/useAuth.test.tsx
  packages/react/src/hooks/__tests__/useAuth.type.test.ts
  packages/react/tsconfig.test.json
  packages/react/vitest.config.mts
Labels: nextjs, react

#4807 chore(clerk-js): Refactor `FraudProtection` singleton mechanism
  .changeset/silly-moose-invite.md
  packages/clerk-js/src/core/fraudProtection.test.ts
  packages/clerk-js/src/core/fraudProtection.ts
  packages/clerk-js/src/core/resources/Base.ts
Labels: clerk-js

#4849 chore(types): Use explicit relative paths in imports
  .changeset/pretty-countries-suffer.md
  packages/types/src/authConfig.ts
  packages/types/src/clerk.ts
  packages/types/src/client.ts
  packages/types/src/displayConfig.ts
  packages/types/src/emailAddress.ts
  packages/types/src/enterpriseAccount.ts
  packages/types/src/environment.ts
  packages/types/src/externalAccount.ts
  packages/types/src/identificationLink.ts
  packages/types/src/organization.ts
  packages/types/src/organizationMembership.ts
  packages/types/src/organizationSettings.ts
  packages/types/src/passkey.ts
  packages/types/src/phoneNumber.ts
  packages/types/src/samlAccount.ts
  packages/types/src/samlConnection.ts
  packages/types/src/session.ts
  packages/types/src/signIn.ts
  packages/types/src/signUp.ts
  packages/types/src/token.ts
  packages/types/src/user.ts
  packages/types/src/userSettings.ts
  packages/types/src/verification.ts
  packages/types/src/web3Wallet.ts
Labels: types

#4851 fix: 2 typos in pt-BR translation
  packages/localizations/src/pt-BR.ts
Labels: localizations

#4852 fix(clerk-js): Keyless button to open new tab
  .changeset/brave-sloths-fail.md
  packages/clerk-js/src/ui/components/KeylessPrompt/index.tsx
Labels: clerk-js

#4850 fix(clerk-js): Post captcha tokens to /client/verify instead of PATCH…
  .changeset/wise-bottles-kneel.md
  packages/clerk-js/src/core/resources/Base.ts
  packages/clerk-js/src/core/resources/Client.ts
  packages/clerk-js/src/core/resources/__tests__/Client.test.ts
Labels: clerk-js

#4816 chore(backend,nextjs,types): Prevent system permissions usage in server-side
  .changeset/fair-bobcats-pull.md
  packages/backend/src/tokens/authObjects.ts
  packages/nextjs/src/app-router/server/auth.ts
  packages/nextjs/src/server/__tests__/clerkMiddleware.test.ts
  packages/nextjs/src/server/protect.ts
  packages/react/src/hooks/__tests__/useAuth.test.tsx
  packages/types/src/jwtv2.ts
  packages/types/src/organizationMembership.ts
  packages/types/src/session.ts
Labels: types, nextjs, react, backend

#4855 fix(clerk-js): Keyless toast's collapse behavior
  .changeset/shaggy-otters-hug.md
  packages/clerk-js/src/ui/components/KeylessPrompt/index.tsx
Labels: clerk-js

#4848 ci(repo): Version packages
  .changeset/afraid-deers-decide.md
  .changeset/brave-sloths-fail.md
  .changeset/fair-bobcats-pull.md
  .changeset/fluffy-peas-beam.md
  .changeset/khaki-emus-whisper.md
  .changeset/large-phones-peel.md
  .changeset/pretty-countries-suffer.md
  .changeset/shaggy-otters-hug.md
  .changeset/silly-moose-invite.md
  .changeset/wise-bottles-kneel.md
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/expo-passkeys/CHANGELOG.md
  packages/expo-passkeys/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/tanstack-start/CHANGELOG.md
  packages/tanstack-start/package.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, sdk-node, expo, chrome-extension, themes, elements, express, testing, tanstack, astro, react-router, nuxt, vue

#4856 fix(nextjs): Always use nextUrl to build rewritten URLs
  .changeset/brave-steaks-press.md
  packages/nextjs/src/server/clerkMiddleware.ts
Labels: nextjs

#4859 ci(repo): Version packages
  .changeset/brave-steaks-press.md
  .changeset/hip-spiders-punch.md
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
Labels: clerk-js, nextjs, expo, chrome-extension

#4860 fix(clerk-js): Improve UX when adding adding phone MFA
  .changeset/big-tables-watch.md
  packages/clerk-js/src/ui/components/UserProfile/MfaPhoneCodeScreen.tsx
  packages/clerk-js/src/ui/components/UserProfile/__tests__/MfaPage.test.tsx
Labels: clerk-js

#4863 fix(nextjs): Redirect to sign-up based on clerk_status
  .changeset/eighty-jars-destroy.md
  packages/clerk-js/src/ui/components/SignIn/SignInStart.tsx
  packages/clerk-js/src/utils/getClerkQueryParam.ts
Labels: clerk-js

#4861 chore(repo): Remove `sdk-node` references and dependencies
  .changeset/ten-tools-exist.md
  .github/labeler.yml
  .github/workflows/ci.yml
  .jit/config.yml
  .prettierignore
  integration/presets/express.ts
  integration/templates/express-vite/package.json
  integration/templates/express-vite/src/server/main.ts
  packages/sdk-node/.eslintrc.js
  packages/sdk-node/.gitignore
  packages/sdk-node/.npmignore
  packages/sdk-node/CHANGELOG.md
  packages/sdk-node/LICENSE
  packages/sdk-node/README.md
  packages/sdk-node/jest.config.js
  packages/sdk-node/jest.setup.js
  packages/sdk-node/package.json
  packages/sdk-node/src/__tests__/__snapshots__/exports.test.ts.snap
  packages/sdk-node/src/__tests__/authenticateRequest.test.ts
  packages/sdk-node/src/__tests__/exports.test.ts
  packages/sdk-node/src/__tests__/middleware.test.ts
  packages/sdk-node/src/__tests__/verifyToken.test.ts
  packages/sdk-node/src/authenticateRequest.ts
  packages/sdk-node/src/clerkClient.ts
  packages/sdk-node/src/clerkExpressRequireAuth.ts
  packages/sdk-node/src/clerkExpressWithAuth.ts
  packages/sdk-node/src/globals.d.ts
  packages/sdk-node/src/index.ts
  packages/sdk-node/src/requireAuth.ts
  packages/sdk-node/src/types.ts
  packages/sdk-node/src/utils.ts
  packages/sdk-node/src/withAuth.ts
  packages/sdk-node/tsconfig.declarations.json
  packages/sdk-node/tsconfig.json
  packages/sdk-node/tsconfig.lint.json
  packages/sdk-node/tsconfig.test.json
  packages/sdk-node/tsup.config.ts
  packages/sdk-node/turbo.json
  playground/express/README.md
  pnpm-lock.yaml
  renovate.json5
  scripts/canary.mjs
  scripts/snapshot.mjs
  turbo.json
Labels: actions, sdk-node, playground, integration

#4864 fix(backend): Satellite domains dev sync
  .changeset/grumpy-foxes-sneeze.md
  packages/backend/src/tokens/__tests__/request.test.ts
  packages/backend/src/tokens/request.ts
Labels: backend

#4869 fix(backend): Align Session resource with OpenAPI spec
  .changeset/bright-mangos-grow.md
  packages/backend/src/api/resources/JSON.ts
  packages/backend/src/api/resources/Session.ts
Labels: backend

#4879 fix(nextjs): Detect middlware usage to avoid infinite loop on Keyless mode
  .changeset/thirty-fireants-cough.md
  packages/nextjs/src/app-router/keyless-actions.ts
  packages/nextjs/src/app-router/server/auth.ts
  packages/nextjs/src/server/clerkClient.ts
  packages/nextjs/src/server/createGetAuth.ts
  packages/nextjs/src/server/data/getAuthDataFromRequest.ts
  packages/nextjs/src/server/headers-utils.ts
  packages/nextjs/src/server/utils.ts
Labels: nextjs

#4867 ci(repo): Version packages
  .changeset/big-tables-watch.md
  .changeset/bright-mangos-grow.md
  .changeset/curvy-actors-breathe.md
  .changeset/eighty-jars-destroy.md
  .changeset/flat-knives-impress.md
  .changeset/grumpy-foxes-sneeze.md
  .changeset/sixty-students-perform.md
  .changeset/ten-tools-exist.md
  .changeset/thirty-fireants-cough.md
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/tanstack-start/CHANGELOG.md
  packages/tanstack-start/package.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
Labels: clerk-js, nextjs, remix, backend, fastify, expo, chrome-extension, express, testing, tanstack, astro, react-router, nuxt

#4873 fix(e2e): Runs email-link tests
  .changeset/lazy-mice-roll.md
  integration/testUtils/emailService.ts
  integration/tests/email-link.test.ts
  package.json
  turbo.json
Labels: integration

#4883 chore(vue,nuxt): Add quickstart links to README
  .changeset/healthy-bats-rhyme.md
  packages/nuxt/README.md
  packages/vue/README.md
Labels: nuxt, vue

#4876 fix(clerk-js): Only call ensureMounted() if necessary
  .changeset/tame-glasses-smoke.md
  packages/clerk-js/src/core/clerk.ts
Labels: clerk-js

#4804 fix(backend): Add `query` to `GetInvitationListParams`
  .changeset/spotty-berries-bake.md
  packages/backend/src/api/endpoints/InvitationApi.ts
Labels: backend

#4872 refactor(e2e): Update sign-in-or-up tests
  integration/presets/envs.ts
  integration/presets/longRunningApps.ts
  integration/tests/combined-sign-in-flow.test.ts
  integration/tests/combined-sign-up-flow.test.ts
  integration/tests/sign-in-flow.test.ts
  integration/tests/sign-in-or-up-email-links-flow.test.ts
  integration/tests/sign-in-or-up-flow.test.ts
Labels: integration

#4836 fix(nextjs): Handle dynamicIO errors when request apis are accessed on prerender
  .changeset/brown-kids-camp.md
  packages/nextjs/src/app-router/server/ClerkProvider.tsx
  packages/nextjs/src/app-router/server/utils.ts
Labels: nextjs

#4892 fix(clerk-js): Use correct email link redirect_url based on intent
  packages/clerk-js/src/ui/common/__tests__/redirects.test.ts
  packages/clerk-js/src/ui/common/redirects.ts
  packages/clerk-js/src/ui/components/SignIn/SignInFactorOneEmailLinkCard.tsx
  packages/clerk-js/src/ui/components/UserProfile/VerifyWithLink.tsx
Labels: clerk-js

#4887 fix(localizations): Force interpolation for `socialButtonsBlockButtonManyInView`
  .changeset/lemon-ducks-hug.md
  packages/localizations/src/be-BY.ts
  packages/localizations/src/cs-CZ.ts
  packages/localizations/src/da-DK.ts
  packages/localizations/src/de-DE.ts
  packages/localizations/src/es-ES.ts
  packages/localizations/src/fr-FR.ts
  packages/localizations/src/it-IT.ts
  packages/localizations/src/pt-PT.ts
  packages/types/src/localization.ts
Labels: types, localizations

#4899 fix(chrome-extension): Bundle @clerk/shared to properly tree-shake
  .changeset/friendly-news-fix.md
  packages/chrome-extension/tsup.config.ts
Labels: chrome-extension

#4743 fix(tanstack-start): Fix environment variable loading in runtime contexts
  .changeset/loud-melons-hope.md
  packages/tanstack-start/src/server/clerkClient.ts
  packages/tanstack-start/src/server/constants.ts
  packages/tanstack-start/src/server/loadOptions.ts
  packages/tanstack-start/src/utils/env.ts
  packages/tanstack-start/tsconfig.json
  packages/tanstack-start/tsup.config.ts
  packages/tanstack-start/vite-env.d.ts
Labels: tanstack

#4868 fix(clerk-js): Adjust toast UI interactions
  .changeset/cool-windows-drop.md
  packages/clerk-js/src/ui/components/KeylessPrompt/index.tsx
Labels: clerk-js

#4900 chore(nextjs): Remove unused utility function
  .changeset/chatty-cycles-glow.md
  packages/nextjs/src/server/utils.ts
Labels: nextjs

#4895 chore(backend): Remove unused code
  .changeset/slow-elephants-cover.md
  packages/backend/src/util/testUtils.ts
Labels: backend

#4903 fix(clerk-js): Preserve __clerk_ticket for internal sign-in navigation
  packages/clerk-js/src/ui/components/SignIn/SignInStart.tsx
  packages/clerk-js/src/ui/components/SignIn/handleCombinedFlowTransfer.ts
  packages/clerk-js/src/ui/router/Route.tsx
  packages/clerk-js/src/ui/router/RouteContext.tsx
Labels: clerk-js

#4884 feat(backend): Set cookies from the refresh token flow
  .changeset/good-eggs-retire.md
  packages/backend/src/api/endpoints/SessionApi.ts
  packages/backend/src/api/resources/Cookies.ts
  packages/backend/src/api/resources/Deserializer.ts
  packages/backend/src/api/resources/JSON.ts
  packages/backend/src/api/resources/index.ts
  packages/backend/src/tokens/__tests__/request.test.ts
  packages/backend/src/tokens/request.ts
Labels: backend

#4885 ci(repo): Version packages
  .changeset/brown-kids-camp.md
  .changeset/chatty-cycles-glow.md
  .changeset/cool-windows-drop.md
  .changeset/friendly-news-fix.md
  .changeset/good-eggs-retire.md
  .changeset/healthy-bats-rhyme.md
  .changeset/lazy-mice-roll.md
  .changeset/lemon-ducks-hug.md
  .changeset/loud-melons-hope.md
  .changeset/proud-readers-kiss.md
  .changeset/slow-elephants-cover.md
  .changeset/spotty-berries-bake.md
  .changeset/tame-glasses-smoke.md
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/expo-passkeys/CHANGELOG.md
  packages/expo-passkeys/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/tanstack-start/CHANGELOG.md
  packages/tanstack-start/package.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, expo, chrome-extension, themes, elements, express, testing, tanstack, astro, react-router, nuxt, vue

#4907 fix(clerk-js,types): Skip fraud protection if client has bypass enabled
  .changeset/healthy-bees-turn.md
  packages/clerk-js/src/core/auth/CaptchaHeartbeat.ts
  packages/clerk-js/src/core/fraudProtection.test.ts
  packages/clerk-js/src/core/fraudProtection.ts
  packages/clerk-js/src/core/resources/Client.ts
  packages/clerk-js/src/core/resources/SignUp.ts
  packages/clerk-js/src/core/resources/__tests__/__snapshots__/Client.test.ts.snap
  packages/clerk-js/src/utils/captcha/CaptchaChallenge.ts
  packages/types/src/client.ts
  packages/types/src/json.ts
Labels: types, clerk-js

#4906 chore(chrome-extension): Add postbuild script to verify no RHC
  .changeset/sixty-eggs-hug.md
  packages/chrome-extension/package.json
  scripts/search-for-rhc.mjs
Labels: chrome-extension

#4888 fix(nuxt): Support async middleware handler
  .changeset/heavy-suns-turn.md
  packages/nuxt/src/runtime/server/clerkMiddleware.ts
Labels: nuxt

#4909 Revert "fix(e2e): Runs email-link tests"
  integration/testUtils/emailService.ts
  integration/tests/email-link.test.ts
  package.json
  turbo.json
Labels: integration

#4912 fix(repo): Update actions/upload-artifacts to v4
  .github/workflows/ci.yml
Labels: actions

#4911 feat(repo): Ensure lockfile is deduped
  .github/workflows/ci.yml
  pnpm-lock.yaml
Labels: actions

#4902 chore(vue,types): Add initial support for SFC files to improve runtime prop checking
  .changeset/dry-pears-approve.md
  packages/types/src/clerk.ts
  packages/vue/package.json
  packages/vue/src/components/SignInButton.ts
  packages/vue/src/components/SignInButton.vue
  packages/vue/src/components/__tests__/SignInButton.test.ts
  packages/vue/src/components/index.ts
  packages/vue/src/components/ui-components/SignIn.vue
  packages/vue/src/components/uiComponents.ts
  packages/vue/src/env.d.ts
  packages/vue/tsconfig.build.json
  packages/vue/tsconfig.json
  packages/vue/tsup.config.ts
  packages/vue/vitest.config.ts
  pnpm-lock.yaml
Labels: types, vue

#4913 chore(repo): Update to keyless
  .changeset/brown-snakes-yawn.md
  packages/clerk-js/sandbox/app.ts
  packages/clerk-js/sandbox/template.html
Labels: clerk-js

#4914 chore(clerk-js): Combined flow telemetry
  .changeset/new-mails-protect.md
  packages/clerk-js/src/core/clerk.ts
Labels: clerk-js

#4916 chore(elements,types): Support `enterprise_sso` strategy
  .changeset/quiet-dingos-laugh.md
  packages/elements/src/internals/machines/sign-in/router.machine.ts
  packages/elements/src/internals/machines/sign-up/router.machine.ts
  packages/elements/src/internals/machines/sign-up/start.types.ts
  packages/elements/src/internals/machines/types/router.types.ts
  packages/elements/src/react/common/connections.tsx
  packages/elements/src/react/common/loading.tsx
  packages/elements/src/react/hooks/use-third-party-provider.hook.ts
  packages/elements/src/react/utils/map-scope-to-strategy.ts
  packages/elements/src/utils/third-party-strategies.ts
  packages/types/src/signUp.ts
Labels: types, elements

#4917 chore(react-router): Bump `react-router` peer dependency
  .changeset/thin-laws-lie.md
  integration/templates/react-router-library/package.json
  integration/templates/react-router-node/package.json
  packages/react-router/README.md
  packages/react-router/package.json
  playground/react-router/package.json
  pnpm-lock.yaml
Labels: playground, integration, react-router

#4922 fix(clerk-js): Do not use CF proxy as fallback for challenges.cloudflare.com
  .changeset/yellow-cycles-invent.md
  packages/clerk-js/src/utils/captcha/CaptchaChallenge.ts
  packages/clerk-js/src/utils/captcha/retrieveCaptchaInfo.ts
  packages/clerk-js/src/utils/captcha/turnstile.ts
  packages/clerk-js/src/utils/captcha/types.ts
Labels: clerk-js

#4926 fix(clerk-js): Fix Smart Bot Protection in development instances
  .changeset/brown-feet-perform.md
  packages/clerk-js/src/utils/captcha/retrieveCaptchaInfo.ts
Labels: clerk-js

#4927 Version Packages - V4
  .changeset/brown-feet-perform.md
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
Labels: clerk-js, expo, chrome-extension

#4923 fix(clerk-js): Keyless UI shadows and copy improvement
  .changeset/chilled-beds-smash.md
  packages/clerk-js/src/ui/components/KeylessPrompt/index.tsx
Labels: clerk-js

#4929 chore(repo): Update Vitest to 3.0
  .changeset/two-icons-begin.md
  .gitignore
  package.json
  packages/backend/package.json
  packages/backend/vitest.config.mts
  packages/expo/package.json
  packages/nextjs/package.json
  packages/nuxt/package.json
  packages/react-router/package.json
  packages/react/package.json
  packages/ui/package.json
  packages/upgrade/package.json
  packages/vue/package.json
  pnpm-lock.yaml
Labels: nextjs, react, backend, expo, react-router, nuxt, vue

#4915 ci(repo): Version packages
  .changeset/brown-snakes-yawn.md
  .changeset/chilled-beds-smash.md
  .changeset/new-mails-protect.md
  .changeset/quiet-dingos-laugh.md
  .changeset/thin-laws-lie.md
  .changeset/two-icons-begin.md
  .changeset/yellow-cycles-invent.md
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/expo-passkeys/CHANGELOG.md
  packages/expo-passkeys/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/tanstack-start/CHANGELOG.md
  packages/tanstack-start/package.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, expo, chrome-extension, themes, elements, express, testing, tanstack, astro, react-router, nuxt, vue

#4866 feat(localizations): Complete undefined Thai translations for auth flows & error messages
  .changeset/empty-scissors-impress.md
  packages/localizations/src/th-TH.ts
Labels: localizations

#4934 fix(clerk-js): Ensure callback is called when adding a MFA phone number
  .changeset/friendly-owls-jump.md
  packages/clerk-js/src/ui/components/UserProfile/MfaPhoneCodeScreen.tsx
Labels: clerk-js

#4924 fix(clerk-js): Fix layout shift when Smart CAPTCHA executes an interactive challenge
  .changeset/tough-suns-sparkle.md
  packages/clerk-js/src/ui/elements/CaptchaElement.tsx
  packages/clerk-js/src/utils/captcha/turnstile.ts
Labels: clerk-js

#4932 fix(nextjs): [Keyless] Prevent successful build when keys are not explicitly set
  .changeset/real-kings-help.md
  packages/nextjs/src/app-router/client/ClerkProvider.tsx
  packages/nextjs/src/app-router/client/keyless-cookie-sync.tsx
  packages/nextjs/src/app-router/keyless-actions.ts
  packages/nextjs/src/app-router/server/ClerkProvider.tsx
  packages/nextjs/src/server/clerkMiddleware.ts
  packages/nextjs/src/server/keyless.ts
  packages/nextjs/src/server/utils.ts
  packages/nextjs/src/utils/feature-flags.ts
Labels: nextjs

#4930 ci(repo): Version packages
  .changeset/empty-scissors-impress.md
  .changeset/friendly-owls-jump.md
  .changeset/real-kings-help.md
  .changeset/tough-suns-sparkle.md
  .changeset/weak-rivers-clean.md
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/expo-passkeys/CHANGELOG.md
  packages/expo-passkeys/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/tanstack-start/CHANGELOG.md
  packages/tanstack-start/package.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Labels: clerk-js, nextjs, react, remix, backend, fastify, localizations, expo, chrome-extension, elements, express, testing, tanstack, astro, react-router, nuxt, vue

#4935 fix(types): Remove experimental prefix from combined title
  .changeset/popular-trains-end.md
  packages/clerk-js/src/ui/components/SignIn/SignInStart.tsx
  packages/localizations/src/ar-SA.ts
  packages/localizations/src/be-BY.ts
  packages/localizations/src/bg-BG.ts
  packages/localizations/src/cs-CZ.ts
  packages/localizations/src/da-DK.ts
  packages/localizations/src/de-DE.ts
  packages/localizations/src/el-GR.ts
  packages/localizations/src/en-US.ts
  packages/localizations/src/es-ES.ts
  packages/localizations/src/es-MX.ts
  packages/localizations/src/fi-FI.ts
  packages/localizations/src/fr-FR.ts
  packages/localizations/src/he-IL.ts
  packages/localizations/src/hu-HU.ts
  packages/localizations/src/is-IS.ts
  packages/localizations/src/it-IT.ts
  packages/localizations/src/ja-JP.ts
  packages/localizations/src/ko-KR.ts
  packages/localizations/src/mn-MN.ts
  packages/localizations/src/nb-NO.ts
  packages/localizations/src/nl-NL.ts
  packages/localizations/src/pl-PL.ts
  packages/localizations/src/pt-BR.ts
  packages/localizations/src/pt-PT.ts
  packages/localizations/src/ro-RO.ts
  packages/localizations/src/ru-RU.ts
  packages/localizations/src/sk-SK.ts
  packages/localizations/src/sr-RS.ts
  packages/localizations/src/sv-SE.ts
  packages/localizations/src/th-TH.ts
  packages/localizations/src/tr-TR.ts
  packages/localizations/src/uk-UA.ts
  packages/localizations/src/vi-VN.ts
  packages/localizations/src/zh-CN.ts
  packages/localizations/src/zh-TW.ts
  packages/types/src/localization.ts
Labels: types, clerk-js, localizations

#4925 chore(repo): Add Typedoc
  .changeset/shiny-schools-search.md
  .eslintignore
  .gitignore
  package.json
  packages/astro/src/react/hooks.ts
  packages/astro/src/stores/external.ts
  packages/backend/src/api/endpoints/InvitationApi.ts
  packages/backend/src/tokens/authObjects.ts
  packages/clerk-js/src/ui/customizables/makeCustomizable.tsx
  packages/clerk-js/src/utils/url.ts
  packages/elements/src/react/common/form/field-state.tsx
  packages/expo/src/provider/ClerkProvider.tsx
  packages/expo/src/provider/singleton/types.ts
  packages/nextjs/src/client-boundary/PromisifiedAuthProvider.tsx
  packages/react/src/components/uiComponents.tsx
  packages/react/src/hooks/useAuth.ts
  packages/shared/src/react/hooks/useSession.ts
  packages/shared/src/react/hooks/useUser.ts
  packages/types/src/clerk.ts
  packages/types/src/json.ts
  packages/types/src/jwtv2.ts
  packages/types/src/localization.ts
  packages/types/src/session.ts
  packages/vue/src/composables/useAuth.ts
  packages/vue/src/composables/useClerk.ts
  packages/vue/src/composables/useOrganization.ts
  packages/vue/src/composables/useSession.ts
  packages/vue/src/composables/useSessionList.ts
  packages/vue/src/composables/useSignIn.ts
  packages/vue/src/composables/useSignUp.ts
  packages/vue/src/composables/useUser.ts
  packages/vue/src/plugin.ts
  pnpm-lock.yaml
  tsconfig.typedoc.json
  typedoc.config.mjs
Labels: types, clerk-js, nextjs, react, backend, expo, elements, astro, vue

#4928 fix(clerk-js): Add success state to Keyless UI
  .changeset/new-teachers-reflect.md
  packages/clerk-js/src/ui/components/KeylessPrompt/index.tsx
Labels: clerk-js

#4941 fix(clerk-js): Fix interactive bot protection widget not appearing on transfer flow
  .changeset/short-tomatoes-shake.md
  packages/clerk-js/src/ui/components/SignUp/SignUpForm.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpStart.tsx
  packages/clerk-js/src/ui/elements/CaptchaElement.tsx
Labels: clerk-js

#4937 ci(repo): Version packages
  .changeset/new-teachers-reflect.md
  .changeset/popular-trains-end.md
  .changeset/shiny-schools-search.md
  .changeset/short-tomatoes-shake.md
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/expo-passkeys/CHANGELOG.md
  packages/expo-passkeys/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/tanstack-start/CHANGELOG.md
  packages/tanstack-start/package.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, expo, chrome-extension, themes, elements, express, testing, tanstack, astro, react-router, nuxt, vue

#4944 chore(clerk-js): Keyless prompt revalidate environment at most every 10 seconds
  .changeset/soft-pumpkins-rescue.md
  packages/clerk-js/src/ui/components/KeylessPrompt/index.tsx
  packages/clerk-js/src/ui/components/KeylessPrompt/use-revalidate-environment.ts
Labels: clerk-js

#4950 chore(clerk-js): Remove new UI renderer
  .changeset/little-rivers-push.md
  packages/clerk-js/jest.setup.ts
  packages/clerk-js/rspack.config.js
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/global.d.ts
  packages/clerk-js/src/ui/new/index.tsx
  packages/clerk-js/src/ui/new/renderer.tsx
  packages/clerk-js/src/ui/new/types.ts
  packages/clerk-js/turbo.json
  packages/types/src/clerk.ts
Labels: types, clerk-js

#4949 fix(clerk-js): Remove text shimmer animation from Keyless prompt UI
  .changeset/dirty-students-hang.md
  packages/clerk-js/src/ui/components/KeylessPrompt/index.tsx
Labels: clerk-js

#4947 chore(clerk-js): Refactor fapiClient to not rely on Clerk instance
  .changeset/sour-mugs-nail.md
  packages/clerk-js/jest.config.js
  packages/clerk-js/jest.setup.ts
  packages/clerk-js/src/core/__tests__/fapiClient.test.ts
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/fapiClient.ts
  packages/clerk-js/src/core/resources/__tests__/Session.test.ts
  packages/clerk-js/src/core/resources/__tests__/Token.test.ts
Labels: clerk-js

#4952 chore(repo): Use npm for snapshot release for compatibility with Core 1
  .changeset/fifty-bottles-drop.md
  .github/workflows/release-snapshot.yml
Labels: actions

#4955 chore(repo): Core 1 snapshot fix
  .changeset/short-buckets-matter.md
  .github/workflows/release-snapshot.yml
Labels: actions

#4940 chore(nextjs): Display keyless prompt until `.clerk/` is removed
  .changeset/thin-wolves-camp.md
  packages/clerk-js/bundlewatch.config.json
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/ui/Components.tsx
  packages/clerk-js/src/ui/components/KeylessPrompt/index.tsx
  packages/nextjs/src/app-router/keyless-actions.ts
  packages/nextjs/src/app-router/server/ClerkProvider.tsx
  packages/nextjs/src/server/keyless-node.ts
  packages/types/src/clerk.ts
Labels: types, clerk-js, nextjs

#4943 [Core 1 backport] fix(clerk-js): Improvements on Smart bot protection
  .changeset/eighty-tigers-doubt.md
  package.json
  packages/clerk-js/src/ui/components/SignUp/SignUpForm.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpStart.tsx
  packages/clerk-js/src/ui/elements/CaptchaElement.tsx
  packages/clerk-js/src/utils/captcha/turnstile.ts
Labels: clerk-js

#4956 Version Packages - V4
  .changeset/eighty-tigers-doubt.md
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
Labels: clerk-js, expo, chrome-extension

#4954 chore(clerk-js): #4947 follow-up
  .changeset/tidy-spies-develop.md
  packages/clerk-js/jest.config.js
  packages/clerk-js/src/core/fapiClient.ts
Labels: clerk-js

#4953 chore(nextjs): Decrease frequency of logs related to Keyless
  .changeset/eighty-clocks-dance.md
  packages/nextjs/src/app-router/keyless-actions.ts
  packages/nextjs/src/app-router/server/ClerkProvider.tsx
  packages/nextjs/src/global.d.ts
  packages/nextjs/src/server/keyless-log-cache.ts
  packages/nextjs/src/server/keyless-node.ts
Labels: nextjs

#4959 fix(clerk-js): Add "Go to dashboard" link in Keyless popover
  .changeset/unlucky-horses-brush.md
  packages/clerk-js/src/ui/components/KeylessPrompt/index.tsx
Labels: clerk-js

#4961 fix(clerk-js): Use authQueryString when building callback URLs
  .changeset/five-plants-sin.md
  packages/clerk-js/src/ui/contexts/components/SignIn.ts
  packages/clerk-js/src/ui/contexts/components/SignUp.ts
Labels: clerk-js

#4964 fix(*): Correct type for authorizedParties
  .changeset/dirty-cooks-pay.md
  packages/react-router/src/ssr/types.ts
  packages/remix/src/ssr/types.ts
  packages/tanstack-start/src/server/types.ts
Labels: remix, tanstack, react-router

#4946 ci(repo): Version packages
  .changeset/dirty-cooks-pay.md
  .changeset/dirty-students-hang.md
  .changeset/eighty-clocks-dance.md
  .changeset/fifty-bottles-drop.md
  .changeset/five-plants-sin.md
  .changeset/gorgeous-suns-cheer.md
  .changeset/little-rivers-push.md
  .changeset/short-buckets-matter.md
  .changeset/silent-yaks-wonder.md
  .changeset/soft-pumpkins-rescue.md
  .changeset/sour-mugs-nail.md
  .changeset/thin-wolves-camp.md
  .changeset/tidy-spies-develop.md
  .changeset/unlucky-horses-brush.md
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/expo-passkeys/CHANGELOG.md
  packages/expo-passkeys/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/tanstack-start/CHANGELOG.md
  packages/tanstack-start/package.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, expo, chrome-extension, themes, elements, express, testing, tanstack, astro, react-router, nuxt, vue

#4967 fix(clerk-js): Improve error handling for invalid captcha during sign-up
  .changeset/breezy-scissors-flash.md
  packages/clerk-js/src/core/constants.ts
  packages/clerk-js/src/ui/components/SignUp/SignUpStart.tsx
Labels: clerk-js

#4969 fix(clerk-js): Expand Keyless UI if user is signed-in
  .changeset/strange-rings-applaud.md
  packages/clerk-js/src/ui/components/KeylessPrompt/index.tsx
Labels: clerk-js

#4958 chore(nextjs): Append `return_url` when logging the claimUrl for on Keyless
  .changeset/wet-donuts-tap.md
  packages/nextjs/src/app-router/server/ClerkProvider.tsx
Labels: nextjs

#4962 feat(chrome-extension): Add onChange cookie listeners
  .changeset/green-bikes-end.md
  packages/chrome-extension/src/internal/clerk.ts
  packages/chrome-extension/src/internal/constants.ts
  packages/chrome-extension/src/internal/utils/cookies.ts
  packages/chrome-extension/src/internal/utils/jwt-handler.ts
  packages/chrome-extension/src/react/ClerkProvider.tsx
  playground/browser-extension/README.md
  playground/browser-extension/package.json
  playground/browser-extension/pnpm-lock.yaml
  playground/browser-extension/src/popup/layouts/root-layout.tsx
  playground/browser-extension/src/sidepanel/index.tsx
Labels: chrome-extension, playground

#4970 Update nl-NL.ts
  .changeset/silver-lions-deny.md
  packages/localizations/src/nl-NL.ts
Labels: localizations

#4975 (PR #4970) Additional changes to waitlist component translations nlNL
  .changeset/red-planes-exercise.md
  packages/localizations/src/nl-NL.ts
Labels: localizations

#4974 fix(clerk-js): Always pass domain to createFapiClient()
  .changeset/chatty-lemons-hug.md
  packages/clerk-js/src/core/__tests__/clerk.test.ts
  packages/clerk-js/src/core/__tests__/fapiClient.test.ts
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/fapiClient.ts
Labels: clerk-js

#4976 fix(backend): Add `orderBy` to `getOrganizationMembershipList`
  .changeset/dull-ravens-fix.md
  packages/backend/src/api/endpoints/OrganizationApi.ts
  packages/backend/src/api/endpoints/OrganizationPermissionApi.ts
  packages/backend/src/api/endpoints/OrganizationRoleApi.ts
Labels: backend

#4720 fix(clerk-js,types): Reuse existing sign-up if available
  .changeset/purple-foxes-develop.md
  packages/clerk-js/src/core/resources/SignUp.ts
  packages/clerk-js/src/ui/components/SignUp/SignUpStart.tsx
  packages/types/src/signUp.ts
Labels: types, clerk-js

#4978 fix(clerk-js): Removed nested <p> from Keyless popover
  .changeset/wet-beers-compete.md
  packages/clerk-js/src/ui/components/KeylessPrompt/index.tsx
Labels: clerk-js

#4968 ci(repo): Version packages
  .changeset/breezy-scissors-flash.md
  .changeset/chatty-lemons-hug.md
  .changeset/cyan-beds-cross.md
  .changeset/dull-ravens-fix.md
  .changeset/green-bikes-end.md
  .changeset/popular-mails-jam.md
  .changeset/purple-foxes-develop.md
  .changeset/red-planes-exercise.md
  .changeset/shiny-crabs-exercise.md
  .changeset/silver-lions-deny.md
  .changeset/strange-rings-applaud.md
  .changeset/wet-beers-compete.md
  .changeset/wet-donuts-tap.md
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/expo-passkeys/CHANGELOG.md
  packages/expo-passkeys/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/tanstack-start/CHANGELOG.md
  packages/tanstack-start/package.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, expo, chrome-extension, themes, elements, express, testing, tanstack, astro, react-router, nuxt, vue

#4406 feat(clerk-js,localizations,types): Enable email verification in `UserProfile` via enterprise SSO
  .changeset/eighty-jobs-impress.md
  .changeset/funny-camels-chew.md
  .changeset/ninety-colts-bathe.md
  packages/clerk-js/src/core/resources/EmailAddress.ts
  packages/clerk-js/src/ui/common/__tests__/redirects.test.ts
  packages/clerk-js/src/ui/common/redirects.ts
  packages/clerk-js/src/ui/components/SignIn/SignInFactorOneEmailLinkCard.tsx
  packages/clerk-js/src/ui/components/UserProfile/ConnectedAccountsSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/EmailForm.tsx
  packages/clerk-js/src/ui/components/UserProfile/EnterpriseAccountsSection.tsx
  packages/clerk-js/src/ui/components/UserProfile/VerifyWithEnterpriseConnection.tsx
  packages/clerk-js/src/ui/components/UserProfile/VerifyWithLink.tsx
  packages/clerk-js/src/ui/components/UserProfile/__tests__/EmailsSection.test.tsx
  packages/clerk-js/src/ui/components/UserProfile/utils.ts
  packages/clerk-js/src/ui/hooks/index.ts
  packages/clerk-js/src/ui/hooks/useEnterpriseSSOLink.ts
  packages/localizations/src/ar-SA.ts
  packages/localizations/src/be-BY.ts
  packages/localizations/src/bg-BG.ts
  packages/localizations/src/cs-CZ.ts
  packages/localizations/src/da-DK.ts
  packages/localizations/src/de-DE.ts
  packages/localizations/src/el-GR.ts
  packages/localizations/src/en-US.ts
  packages/localizations/src/es-ES.ts
  packages/localizations/src/es-MX.ts
  packages/localizations/src/fi-FI.ts
  packages/localizations/src/fr-FR.ts
  packages/localizations/src/he-IL.ts
  packages/localizations/src/hu-HU.ts
  packages/localizations/src/is-IS.ts
  packages/localizations/src/it-IT.ts
  packages/localizations/src/ja-JP.ts
  packages/localizations/src/ko-KR.ts
  packages/localizations/src/mn-MN.ts
  packages/localizations/src/nb-NO.ts
  packages/localizations/src/nl-NL.ts
  packages/localizations/src/pl-PL.ts
  packages/localizations/src/pt-BR.ts
  packages/localizations/src/pt-PT.ts
  packages/localizations/src/ro-RO.ts
  packages/localizations/src/ru-RU.ts
  packages/localizations/src/sk-SK.ts
  packages/localizations/src/sr-RS.ts
  packages/localizations/src/sv-SE.ts
  packages/localizations/src/th-TH.ts
  packages/localizations/src/tr-TR.ts
  packages/localizations/src/uk-UA.ts
  packages/localizations/src/vi-VN.ts
  packages/localizations/src/zh-CN.ts
  packages/localizations/src/zh-TW.ts
  packages/types/src/emailAddress.ts
  packages/types/src/json.ts
  packages/types/src/localization.ts
  packages/types/src/verification.ts
Labels: types, clerk-js, localizations

#4980 chore(nextjs): Remove unused code
  .changeset/cold-radios-invent.md
  packages/nextjs/src/server/createGetAuth.ts
  packages/nextjs/src/server/errors.ts
  packages/nextjs/src/server/index.ts
  packages/nextjs/src/server/url.ts
  packages/nextjs/src/server/utils.ts
  packages/nextjs/src/utils/response.ts
Labels: nextjs

#4981 fix(nextjs): Avoid calling `safeParseClerkFile` before checking if keyless is allowed
  .changeset/weak-monkeys-approve.md
  packages/nextjs/src/app-router/server/ClerkProvider.tsx
Labels: nextjs

#4983 feat(clerk-js,localizations,types): Add optional combined flow signup start title
  .changeset/wicked-squids-judge.md
  packages/clerk-js/src/ui/components/SignUp/SignUpStart.tsx
  packages/localizations/src/ar-SA.ts
  packages/localizations/src/be-BY.ts
  packages/localizations/src/bg-BG.ts
  packages/localizations/src/ca-ES.ts
  packages/localizations/src/cs-CZ.ts
  packages/localizations/src/da-DK.ts
  packages/localizations/src/de-DE.ts
  packages/localizations/src/el-GR.ts
  packages/localizations/src/en-GB.ts
  packages/localizations/src/en-US.ts
  packages/localizations/src/es-ES.ts
  packages/localizations/src/es-MX.ts
  packages/localizations/src/fi-FI.ts
  packages/localizations/src/fr-FR.ts
  packages/localizations/src/he-IL.ts
  packages/localizations/src/hr-HR.ts
  packages/localizations/src/hu-HU.ts
  packages/localizations/src/id-ID.ts
  packages/localizations/src/is-IS.ts
  packages/localizations/src/it-IT.ts
  packages/localizations/src/ja-JP.ts
  packages/localizations/src/ko-KR.ts
  packages/localizations/src/mn-MN.ts
  packages/localizations/src/nb-NO.ts
  packages/localizations/src/nl-NL.ts
  packages/localizations/src/pl-PL.ts
  packages/localizations/src/pt-BR.ts
  packages/localizations/src/pt-PT.ts
  packages/localizations/src/ro-RO.ts
  packages/localizations/src/ru-RU.ts
  packages/localizations/src/sk-SK.ts
  packages/localizations/src/sr-RS.ts
  packages/localizations/src/sv-SE.ts
  packages/localizations/src/th-TH.ts
  packages/localizations/src/tr-TR.ts
  packages/localizations/src/uk-UA.ts
  packages/localizations/src/vi-VN.ts
  packages/localizations/src/zh-CN.ts
  packages/localizations/src/zh-TW.ts
  packages/types/src/localization.ts
Labels: types, clerk-js, localizations

#4990 fix(clerk-js): Pass proxyUrl to createFapiClient
  .changeset/mighty-otters-remain.md
  packages/clerk-js/src/core/__tests__/clerk.test.ts
  packages/clerk-js/src/core/clerk.ts
  pnpm-lock.yaml
Labels: clerk-js

#4982 ci(repo): Version packages
  .changeset/cold-radios-invent.md
  .changeset/eighty-jobs-impress.md
  .changeset/funny-camels-chew.md
  .changeset/mighty-otters-remain.md
  .changeset/ninety-colts-bathe.md
  .changeset/purple-jobs-refuse.md
  .changeset/weak-monkeys-approve.md
  .changeset/wicked-squids-judge.md
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/expo-passkeys/CHANGELOG.md
  packages/expo-passkeys/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/tanstack-start/CHANGELOG.md
  packages/tanstack-start/package.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, expo, chrome-extension, themes, elements, express, testing, tanstack, astro, react-router, nuxt, vue

#4942 feat(clerk-js,types,localizations): Search members on `OrganizationProfile`
  .changeset/poor-rockets-look.md
  packages/clerk-js/src/ui/common/NotificationCountBadge.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/ActiveMembersList.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/MembersActions.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/MembersSearch.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationMembers.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/__tests__/OrganizationMembers.test.tsx
  packages/clerk-js/src/ui/customizables/elementDescriptors.ts
  packages/clerk-js/src/ui/elements/Action/ActionTrigger.tsx
  packages/clerk-js/src/ui/elements/InputWithIcon.tsx
  packages/localizations/src/ar-SA.ts
  packages/localizations/src/be-BY.ts
  packages/localizations/src/bg-BG.ts
  packages/localizations/src/cs-CZ.ts
  packages/localizations/src/da-DK.ts
  packages/localizations/src/de-DE.ts
  packages/localizations/src/el-GR.ts
  packages/localizations/src/en-US.ts
  packages/localizations/src/es-ES.ts
  packages/localizations/src/es-MX.ts
  packages/localizations/src/fi-FI.ts
  packages/localizations/src/fr-FR.ts
  packages/localizations/src/he-IL.ts
  packages/localizations/src/hu-HU.ts
  packages/localizations/src/is-IS.ts
  packages/localizations/src/it-IT.ts
  packages/localizations/src/ja-JP.ts
  packages/localizations/src/ko-KR.ts
  packages/localizations/src/mn-MN.ts
  packages/localizations/src/nb-NO.ts
  packages/localizations/src/nl-NL.ts
  packages/localizations/src/pl-PL.ts
  packages/localizations/src/pt-BR.ts
  packages/localizations/src/pt-PT.ts
  packages/localizations/src/ro-RO.ts
  packages/localizations/src/ru-RU.ts
  packages/localizations/src/sk-SK.ts
  packages/localizations/src/sr-RS.ts
  packages/localizations/src/sv-SE.ts
  packages/localizations/src/th-TH.ts
  packages/localizations/src/tr-TR.ts
  packages/localizations/src/uk-UA.ts
  packages/localizations/src/vi-VN.ts
  packages/localizations/src/zh-CN.ts
  packages/localizations/src/zh-TW.ts
  packages/shared/src/react/hooks/useOrganization.tsx
  packages/types/src/appearance.ts
  packages/types/src/localization.ts
  packages/types/src/organization.ts
Labels: types, clerk-js, localizations

#4880 feat(clerk-expo): Introduce SAML support
  .changeset/selfish-worms-switch.md
  packages/expo/src/hooks/index.ts
  packages/expo/src/hooks/useOAuth.ts
  packages/expo/src/hooks/useSSO.ts
Labels: expo

#4988 feat(clerk-js,localizations,types): Add sign in or up subtitle localizations
  .changeset/neat-jokes-remember.md
  packages/clerk-js/src/ui/components/SignIn/SignInStart.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpStart.tsx
  packages/localizations/src/ar-SA.ts
  packages/localizations/src/be-BY.ts
  packages/localizations/src/bg-BG.ts
  packages/localizations/src/ca-ES.ts
  packages/localizations/src/cs-CZ.ts
  packages/localizations/src/da-DK.ts
  packages/localizations/src/de-DE.ts
  packages/localizations/src/el-GR.ts
  packages/localizations/src/en-GB.ts
  packages/localizations/src/en-US.ts
  packages/localizations/src/es-ES.ts
  packages/localizations/src/es-MX.ts
  packages/localizations/src/fi-FI.ts
  packages/localizations/src/fr-FR.ts
  packages/localizations/src/he-IL.ts
  packages/localizations/src/hr-HR.ts
  packages/localizations/src/hu-HU.ts
  packages/localizations/src/id-ID.ts
  packages/localizations/src/is-IS.ts
  packages/localizations/src/it-IT.ts
  packages/localizations/src/ja-JP.ts
  packages/localizations/src/ko-KR.ts
  packages/localizations/src/mn-MN.ts
  packages/localizations/src/nb-NO.ts
  packages/localizations/src/nl-BE.ts
  packages/localizations/src/nl-NL.ts
  packages/localizations/src/pl-PL.ts
  packages/localizations/src/pt-BR.ts
  packages/localizations/src/pt-PT.ts
  packages/localizations/src/ro-RO.ts
  packages/localizations/src/ru-RU.ts
  packages/localizations/src/sk-SK.ts
  packages/localizations/src/sr-RS.ts
  packages/localizations/src/sv-SE.ts
  packages/localizations/src/th-TH.ts
  packages/localizations/src/tr-TR.ts
  packages/localizations/src/uk-UA.ts
  packages/localizations/src/utils/generate.ts
  packages/localizations/src/vi-VN.ts
  packages/localizations/src/zh-CN.ts
  packages/localizations/src/zh-TW.ts
  packages/types/src/localization.ts
Labels: types, clerk-js, localizations

#4984 feat(e2e): Add OAuth provider flow e2e tests
  .changeset/nervous-falcons-argue.md
  integration/templates/next-app-router/src/app/layout.tsx
  integration/tests/oauth-flows.test.ts
Labels: integration

#4997 fix(repo): Additional ESLint resolvers
  .changeset/orange-wolves-eat.md
  eslint.config.mjs
  package.json
  packages/nextjs/src/app-router/client/ClerkProvider.tsx
  packages/nextjs/src/app-router/client/keyless-cookie-sync.tsx
  packages/nextjs/src/app-router/keyless-actions.ts
  packages/nextjs/src/app-router/server/ClerkProvider.tsx
  packages/nextjs/src/server/__tests__/clerkMiddleware.test.ts
  packages/nuxt/src/module.ts
  packages/nuxt/src/runtime/plugin.ts
  packages/tanstack-start/src/server/constants.ts
  packages/tanstack-start/src/server/loadOptions.ts
  pnpm-lock.yaml
Labels: nextjs, tanstack, nuxt

#4998 fix(astro): Correct typing for #async-local-storage
  .changeset/giant-needles-bathe.md
  packages/astro/src/global.d.ts
  packages/astro/src/react/hooks.ts
  packages/astro/src/server/clerk-middleware.ts
Labels: astro

#5013 fix(clerk-js): Navigate to specific instance for configuration after keyless
  .changeset/thirty-badgers-hammer.md
  packages/clerk-js/bundlewatch.config.json
  packages/clerk-js/src/ui/components/KeylessPrompt/index.tsx
Labels: clerk-js

#4979 feat(nextjs): Hint correct middleware location when missing clerkMiddleware
  .changeset/fuzzy-rockets-smash.md
  packages/nextjs/src/app-router/server/ClerkProvider.tsx
  packages/nextjs/src/app-router/server/auth.ts
  packages/nextjs/src/app-router/server/utils.ts
  packages/nextjs/src/server/__tests__/createGetAuth.test.ts
  packages/nextjs/src/server/createGetAuth.ts
  packages/nextjs/src/server/errors.ts
  packages/nextjs/src/server/keyless-node.ts
  packages/nextjs/src/utils/only-try.ts
Labels: nextjs

#5017 chore(nextjs): Lift global type augmentations
  .changeset/khaki-parrots-sniff.md
  packages/nextjs/src/app-router/client/ClerkProvider.tsx
  packages/nextjs/src/app-router/client/useInternalNavFun.ts
  packages/nextjs/src/global.d.ts
Labels: nextjs

#4992 ci(repo): Version packages
  .changeset/fuzzy-rockets-smash.md
  .changeset/giant-needles-bathe.md
  .changeset/green-ravens-bathe.md
  .changeset/khaki-parrots-sniff.md
  .changeset/neat-jokes-remember.md
  .changeset/nervous-falcons-argue.md
  .changeset/orange-wolves-eat.md
  .changeset/poor-rockets-look.md
  .changeset/selfish-worms-switch.md
  .changeset/sour-pears-drop.md
  .changeset/thirty-badgers-hammer.md
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/expo-passkeys/CHANGELOG.md
  packages/expo-passkeys/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/tanstack-start/CHANGELOG.md
  packages/tanstack-start/package.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, expo, chrome-extension, themes, elements, express, testing, tanstack, astro, react-router, nuxt, vue

#4977 refactor(clerk-js,types): Remove virtual routing option from component types
  .changeset/silent-ducks-wait.md
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationProfile.tsx
  packages/clerk-js/src/ui/components/SignIn/SignIn.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUp.tsx
  packages/clerk-js/src/ui/components/UserProfile/UserProfile.tsx
  packages/clerk-js/src/ui/components/UserVerification/index.tsx
  packages/clerk-js/src/ui/types.ts
  packages/types/src/clerk.ts
Labels: types, clerk-js

#5015 chore(nextjs): Gracefully handle failure to create keyless
  .changeset/kind-crabs-unite.md
  packages/nextjs/src/app-router/client/ClerkProvider.tsx
  packages/nextjs/src/app-router/client/keyless-creator-reader.tsx
  packages/nextjs/src/app-router/keyless-actions.ts
  packages/nextjs/src/app-router/server/ClerkProvider.tsx
  packages/nextjs/src/server/keyless-node.ts
Labels: nextjs

#4394 fix(clerk-js): Use a cookie instead of localStorage for active org
  .changeset/eleven-pants-juggle.md
  packages/clerk-js/src/core/auth/AuthCookieService.ts
Labels: clerk-js

#5026 Revert "feat(nextjs): Hint correct middleware location when missing clerkMiddleware (#4979)
  .changeset/orange-clouds-relax.md
  packages/nextjs/src/app-router/server/ClerkProvider.tsx
  packages/nextjs/src/app-router/server/auth.ts
  packages/nextjs/src/app-router/server/utils.ts
  packages/nextjs/src/server/__tests__/createGetAuth.test.ts
  packages/nextjs/src/server/createGetAuth.ts
  packages/nextjs/src/server/errors.ts
  packages/nextjs/src/server/keyless-node.ts
  packages/nextjs/src/utils/only-try.ts
Labels: nextjs

#5019 chore(clerk-js): Update Rspack and enable persistent cache
  .changeset/brown-jeans-search.md
  eslint.config.mjs
  packages/clerk-js/package.json
  packages/clerk-js/rspack.config.js
  pnpm-lock.yaml
Labels: clerk-js

#4971 feat(nextjs): Mark keyless onboarding as complete when stored keys match explicit keys
  .changeset/fuzzy-ghosts-kneel.md
  packages/backend/src/api/endpoints/AccountlessApplicationsAPI.ts
  packages/clerk-js/src/ui/components/KeylessPrompt/index.tsx
  packages/nextjs/src/app-router/keyless-actions.ts
  packages/nextjs/src/app-router/server/ClerkProvider.tsx
  packages/nextjs/src/global.d.ts
  packages/nextjs/src/server/keyless-log-cache.ts
  packages/types/src/clerk.ts
Labels: types, clerk-js, nextjs, backend

#5020 feat(clerk-js): Opt out of combined flow when in restricted mode
  .changeset/early-apples-return.md
  integration/presets/envs.ts
  integration/tests/sign-in-or-up-restricted-mode.test.ts
  packages/clerk-js/src/ui/contexts/components/SignIn.ts
  packages/clerk-js/src/ui/contexts/components/SignUp.ts
Labels: clerk-js, integration

#5031 chore(tanstack-start): Bump Vinxi to 0.5 and TanStack minimum version
  .changeset/nasty-houses-boil.md
  integration/templates/tanstack-router/package.json
  integration/templates/tanstack-start/package.json
  packages/tanstack-start/package.json
  pnpm-lock.yaml
Labels: integration, tanstack

#5028 feat(nextjs): [improved] Hint correct middleware location when missing clerkMiddleware
  .changeset/orange-clouds-relax.md
  .changeset/weak-phones-retire.md
  packages/nextjs/src/app-router/keyless-actions.ts
  packages/nextjs/src/app-router/server/ClerkProvider.tsx
  packages/nextjs/src/app-router/server/auth.ts
  packages/nextjs/src/app-router/server/utils.ts
  packages/nextjs/src/runtime/browser/safe-node-apis.js
  packages/nextjs/src/runtime/node/safe-node-apis.js
  packages/nextjs/src/server/__tests__/createGetAuth.test.ts
  packages/nextjs/src/server/createGetAuth.ts
  packages/nextjs/src/server/errors.ts
  packages/nextjs/src/server/fs/middleware-location.ts
  packages/nextjs/src/server/fs/utils.ts
  packages/nextjs/src/server/keyless-node.ts
  packages/nextjs/src/utils/only-try.ts
Labels: nextjs

#5034 test(nextjs): Check for import trace logs
  .changeset/nine-ears-jump.md
  integration/tests/next-build.test.ts
Labels: integration

#5033 chore(repo): Cleanup orgs during test cleanup
  .changeset/angry-crabs-arrive.md
  integration/cleanup/cleanup.setup.ts
Labels: integration

#5039 fix(clerk-js): Remove RHC for unsupported environments
  .changeset/cool-teachers-join.md
  packages/clerk-js/src/utils/captcha/getCaptchaToken.ts
  packages/clerk-js/src/utils/captcha/turnstile.ts
Labels: clerk-js

#5036 feat(clerk-js): Remove web3 providers from sign up continue step
  .changeset/new-adults-admire.md
  packages/clerk-js/src/ui/components/SignUp/SignUpContinue.tsx
  packages/clerk-js/src/ui/components/SignUp/__tests__/SignUpContinue.test.tsx
Labels: clerk-js

#5040 chore(clerk-js,chrome-extension): Check for RHC
  .changeset/cyan-kids-boil.md
  packages/chrome-extension/package.json
  packages/clerk-js/package.json
  scripts/search-for-rhc.mjs
Labels: clerk-js, chrome-extension

#5042 fix(clerk-js): Pass signInUrl to sign up context when in combined flow
  .changeset/violet-years-dream.md
  packages/clerk-js/src/ui/components/SignIn/SignIn.tsx
Labels: clerk-js

#5043 chore(nextjs,astro,shared): Move path matcher logic to shared
  .changeset/brown-suns-clap.md
  packages/astro/src/server/route-matcher.ts
  packages/nextjs/src/server/routeMatcher.ts
  packages/shared/package.json
  packages/shared/src/__tests__/pathMatcher.test.ts
  packages/shared/src/index.ts
  packages/shared/src/pathMatcher.ts
Labels: nextjs, astro

#5037 test(nextjs): E2E tests for middleware file placement
  .changeset/selfish-news-invent.md
  integration/models/application.ts
  integration/models/applicationConfig.ts
  integration/tests/middleware-placement.test.ts
Labels: integration

#5049 fix(clerk-js): Fix captcha layout shift on invisible and custom flows
  .changeset/fast-kiwis-visit.md
  packages/clerk-js/src/ui/components/SignUp/SignUpForm.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpStart.tsx
  packages/clerk-js/src/ui/elements/CaptchaElement.tsx
  packages/clerk-js/src/utils/captcha/turnstile.ts
Labels: clerk-js

#5053 chore(clerk-react): Improve JSDoc comments
  .changeset/witty-ladybugs-fix.md
  packages/nextjs/src/app-router/server/currentUser.ts
  packages/nextjs/src/server/buildClerkProps.ts
  packages/nextjs/src/server/createGetAuth.ts
  packages/react/src/hooks/__tests__/useRoutingProps.test.tsx
  packages/react/src/hooks/useAuth.ts
  packages/react/src/hooks/useSignIn.ts
  packages/react/src/hooks/useSignUp.ts
  packages/react/src/isomorphicClerk.ts
  packages/react/typedoc.json
  packages/shared/src/react/hooks/useClerk.ts
  packages/shared/src/react/hooks/useOrganization.tsx
  packages/shared/src/react/hooks/useOrganizationList.tsx
  packages/shared/src/react/hooks/useReverification.ts
  packages/shared/src/react/hooks/useSession.ts
  packages/shared/src/react/hooks/useSessionList.ts
  packages/shared/src/react/hooks/useUser.ts
  packages/shared/src/react/types.ts
  packages/types/src/appearance.ts
  packages/types/src/hooks.ts
  packages/types/typedoc.json
  tsconfig.typedoc.json
  typedoc.config.mjs
Labels: types, nextjs, react

#5050 feat(nuxt): Add `createRouteMatcher()` helper
  .changeset/sour-foxes-sort.md
  integration/templates/nuxt-node/middleware/auth.global.js
  integration/tests/nuxt/middleware.test.ts
  packages/nuxt/src/module.ts
  packages/nuxt/src/runtime/client/index.ts
  packages/nuxt/src/runtime/client/routeMatcher.ts
  packages/nuxt/src/runtime/server/index.ts
  packages/nuxt/src/runtime/server/routeMatcher.ts
  packages/nuxt/tsup.config.ts
Labels: integration, nuxt

#5047 ci(repo): Version packages
  .changeset/brown-suns-clap.md
  .changeset/fast-kiwis-visit.md
  .changeset/selfish-news-invent.md
  .changeset/sour-foxes-sort.md
  .changeset/witty-ladybugs-fix.md
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/expo-passkeys/CHANGELOG.md
  packages/expo-passkeys/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/tanstack-start/CHANGELOG.md
  packages/tanstack-start/package.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, expo, chrome-extension, themes, elements, express, testing, tanstack, astro, react-router, nuxt, vue

#5046 feat(e2e): Tests for Keyless mode
  .changeset/strong-apricots-ring.md
  integration/models/application.ts
  integration/models/applicationConfig.ts
  integration/presets/envs.ts
  integration/testUtils/index.ts
  integration/testUtils/keylessPopoverPageObject.ts
  integration/tests/next-quickstart-keyless.test.ts
Labels: integration

#5052 feat(clerk-js,elements): Pass params through `build*Url()` methods
  .changeset/neat-planets-raise.md
  integration/tests/elements/next-sign-in.test.ts
  integration/tests/elements/next-sign-up.test.ts
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/utils/redirectUrls.ts
  packages/elements/src/internals/machines/sign-in/router.machine.ts
  packages/elements/src/internals/machines/sign-up/router.machine.ts
  packages/types/src/clerk.ts
Labels: types, clerk-js, integration, elements

#5051 fix(tanstack-start): Fix event handler return type mismatch
  .changeset/great-peaches-yell.md
  packages/tanstack-start/package.json
  packages/tanstack-start/src/server/middlewareHandler.ts
  pnpm-lock.yaml
Labels: tanstack

#5057 Revert "refactor(clerk-js,types): Remove virtual routing option from component types"
  .changeset/smart-worms-collect.md
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationProfile.tsx
  packages/clerk-js/src/ui/components/SignIn/SignIn.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUp.tsx
  packages/clerk-js/src/ui/components/UserProfile/UserProfile.tsx
  packages/clerk-js/src/ui/components/UserVerification/index.tsx
  packages/clerk-js/src/ui/types.ts
  packages/types/src/clerk.ts
Labels: types, clerk-js

#5056 ci(repo): Version packages
  .changeset/great-peaches-yell.md
  .changeset/neat-planets-raise.md
  .changeset/smart-worms-collect.md
  .changeset/strong-apricots-ring.md
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/expo-passkeys/CHANGELOG.md
  packages/expo-passkeys/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/tanstack-start/CHANGELOG.md
  packages/tanstack-start/package.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, expo, chrome-extension, themes, elements, express, testing, tanstack, astro, react-router, nuxt, vue
