Repository clerk/javascript, pull requests merged in 2025-05, with the labels that each got.

#5750 feat(backend): Initial handshake nonce pre-work
  .changeset/better-vans-obey.md
  packages/backend/src/api/endpoints/HandshakePayloadApi.ts
  packages/backend/src/api/resources/HandshakePayload.ts
  packages/backend/src/constants.ts
  packages/backend/src/tokens/__tests__/handshake.test.ts
  packages/backend/src/tokens/__tests__/organizationMatcher.test.ts
  packages/backend/src/tokens/__tests__/request.test.ts
  packages/backend/src/tokens/authenticateContext.ts
  packages/backend/src/tokens/handshake.ts
  packages/backend/src/tokens/organizationMatcher.ts
  packages/backend/src/tokens/request.ts
  packages/backend/src/tokens/types.ts
Labels: backend

#5782 fix(backend): import match util
  .changeset/silent-knives-sort.md
  packages/backend/src/tokens/__tests__/organizationMatcher.test.ts
Labels: backend

#5780 fix(backend): Pass __clerk_api_version to handshake redirect
  .changeset/cuddly-numbers-hear.md
  integration/tests/handshake.test.ts
  packages/backend/src/tokens/handshake.ts
Labels: backend, integration

#5778 ci(repo): Version packages
  .changeset/beige-rockets-stand.md
  .changeset/better-vans-obey.md
  .changeset/clever-parts-build.md
  .changeset/cuddly-numbers-hear.md
  .changeset/silent-knives-sort.md
  packages/agent-toolkit/CHANGELOG.md
  packages/agent-toolkit/package.json
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/tanstack-react-start/CHANGELOG.md
  packages/tanstack-react-start/package.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
Labels: clerk-js, nextjs, remix, backend, fastify, expo, chrome-extension, express, testing, tanstack, astro, react-router, nuxt, agent-toolkit

#5779 fix(clerk-js,types): Ensure proper checkout plandetails drawer is opened within profile components
  .changeset/odd-bears-decide.md
  packages/clerk-js/src/ui/components/Plans/PlanDetails.tsx
  packages/clerk-js/src/ui/components/PricingTable/FreePlanRow.tsx
  packages/clerk-js/src/ui/components/PricingTable/PricingTable.tsx
  packages/clerk-js/src/ui/components/PricingTable/PricingTableDefault.tsx
  packages/clerk-js/src/ui/components/PricingTable/PricingTableMatrix.tsx
  packages/clerk-js/src/ui/components/Subscriptions/SubscriptionsList.tsx
  packages/clerk-js/src/ui/contexts/components/Plans.tsx
  packages/clerk-js/src/ui/elements/ProfileCard/ProfileCardContent.tsx
  packages/clerk-js/src/ui/lazyModules/MountedCheckoutDrawer.tsx
  packages/clerk-js/src/ui/lazyModules/MountedPlanDetailDrawer.tsx
  packages/clerk-js/src/ui/lazyModules/providers.tsx
  packages/clerk-js/src/ui/utils/getClosestProfileScrollBox.ts
  packages/clerk-js/src/ui/utils/index.ts
  packages/types/src/clerk.ts
Labels: types, clerk-js

#5787 feat(clerk-js): Bring back free plan card
  .changeset/deep-otters-swim.md
  packages/clerk-js/src/ui/components/PricingTable/FreePlanRow.tsx
  packages/clerk-js/src/ui/components/PricingTable/PricingTable.tsx
  packages/clerk-js/src/ui/components/PricingTable/PricingTableDefault.tsx
Labels: clerk-js

#5784 feat(e2e): Use Turbopack in Next.js app router e2e
  .changeset/funny-hotels-stand.md
  integration/presets/next.ts
  integration/templates/next-app-router/next.config.js
  integration/templates/next-app-router/package.json
  integration/tests/next-account-portal/common.ts
  packages/testing/src/playwright/unstable/page-objects/common.ts
  packages/testing/src/playwright/unstable/page-objects/signIn.ts
Labels: integration, testing

#5762 chore(clerk-js): Hide add / select payment method UI
  .changeset/two-doodles-shave.md
  packages/clerk-js/bundlewatch.config.json
  packages/clerk-js/src/ui/components/Checkout/CheckoutForm.tsx
  packages/clerk-js/src/ui/components/PaymentSources/AddPaymentSource.tsx
  packages/clerk-js/src/ui/elements/SegmentedControl.tsx
Labels: clerk-js

#5788 ci(repo): Version packages
  .changeset/deep-otters-swim.md
  .changeset/funny-hotels-stand.md
  .changeset/odd-bears-decide.md
  .changeset/two-doodles-shave.md
  packages/agent-toolkit/CHANGELOG.md
  packages/agent-toolkit/package.json
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/expo-passkeys/CHANGELOG.md
  packages/expo-passkeys/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/tanstack-react-start/CHANGELOG.md
  packages/tanstack-react-start/package.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, expo, chrome-extension, themes, elements, express, testing, tanstack, astro, react-router, nuxt, vue, agent-toolkit

#5785 fix(clerk-js): Add Partitioned to __client_uat in CHIPS build
  .changeset/giant-owls-cut.md
  packages/clerk-js/src/core/auth/cookies/__tests__/clientUat.test.ts
  packages/clerk-js/src/core/auth/cookies/__tests__/session.test.ts
  packages/clerk-js/src/core/auth/cookies/clientUat.ts
Labels: clerk-js

#5769 feat(vue,nuxt): Introduce <experimental_PricingTable/>
  .changeset/twelve-ideas-exist.md
  integration/presets/longRunningApps.ts
  integration/templates/nuxt-node/pages/pricing-table.vue
  integration/templates/vue-vite/src/router.ts
  integration/templates/vue-vite/src/views/PricingTable.vue
  integration/testUtils/index.ts
  integration/tests/pricing-table.test.ts
  package.json
  packages/nuxt/src/module.ts
  packages/nuxt/src/runtime/components/index.ts
  packages/vue/src/components/index.ts
  packages/vue/src/components/ui-components/PricingTable.vue
Labels: integration, nuxt, vue

#5792 fix(clerk-js): Use the credit amount from FAPI for credit proration checkout flow
  .changeset/fuzzy-donkeys-post.md
  packages/clerk-js/src/ui/components/Checkout/CheckoutForm.tsx
  packages/clerk-js/src/utils/commerce.ts
  packages/types/src/commerce.ts
Labels: types, clerk-js

#5795 fix(clerk-js): Fix credits section show check
  .changeset/seven-bikes-poke.md
  packages/clerk-js/src/ui/components/Checkout/CheckoutForm.tsx
Labels: clerk-js

#5794 fix(clerk-js): User total due now in checkout flows instead of grand total
  .changeset/shaky-parents-type.md
  packages/clerk-js/src/ui/components/Checkout/CheckoutComplete.tsx
  packages/clerk-js/src/ui/components/Checkout/CheckoutForm.tsx
  packages/clerk-js/src/utils/commerce.ts
Labels: clerk-js

#5797 fix(clerk-js): Bring back grand tax total on `commerceTotalsFromJSON`
  .changeset/wise-crabs-lay.md
  packages/clerk-js/src/utils/commerce.ts
Labels: clerk-js

#5790 ci(repo): Version packages
  .changeset/chubby-geese-arrive.md
  .changeset/fuzzy-donkeys-post.md
  .changeset/giant-owls-cut.md
  .changeset/late-papayas-drive.md
  .changeset/seven-bikes-poke.md
  .changeset/shaky-parents-type.md
  .changeset/tall-vans-tease.md
  .changeset/twelve-ideas-exist.md
  .changeset/wise-crabs-lay.md
  packages/agent-toolkit/CHANGELOG.md
  packages/agent-toolkit/package.json
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/expo-passkeys/CHANGELOG.md
  packages/expo-passkeys/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/tanstack-react-start/CHANGELOG.md
  packages/tanstack-react-start/package.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, expo, chrome-extension, themes, elements, express, testing, tanstack, astro, react-router, nuxt, vue, agent-toolkit

#5798 fix(clerk-js): Always revalidate checkout checkout when drawer opens
  .changeset/mighty-years-learn.md
  packages/clerk-js/src/ui/components/Checkout/CheckoutPage.tsx
Labels: clerk-js

#5715 chore(clerk-js): Rename `__experimental_nextTask` to `__experimental_navigateToTask`
  .changeset/happy-radios-juggle.md
  packages/clerk-js/src/core/__tests__/clerk.test.ts
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/ui/components/SessionTasks/index.tsx
  packages/react/src/isomorphicClerk.ts
  packages/types/src/clerk.ts
Labels: types, clerk-js, react

#5801 fix(clerk-js): Improve error handling for unexpected errors in checkout process
  packages/clerk-js/src/ui/components/Checkout/CheckoutPage.tsx
  packages/clerk-js/src/ui/hooks/useCheckout.ts
Labels: clerk-js

#5804 chore(clerk-js): Adjust the checkout line item rows
  .changeset/stupid-animals-taste.md
  packages/clerk-js/src/ui/components/Checkout/CheckoutComplete.tsx
  packages/clerk-js/src/ui/components/Checkout/CheckoutForm.tsx
Labels: clerk-js

#5805 fix(clerk-js): Improve error handling for unexpected errors in checkout process
  .changeset/mighty-worms-watch.md
  packages/clerk-js/bundlewatch.config.json
  packages/clerk-js/src/ui/components/Checkout/CheckoutPage.tsx
  packages/clerk-js/src/ui/hooks/useCheckout.ts
Labels: clerk-js

#5802 feat(clerk-js): Add transition animations into checkout complete state
  .changeset/purple-cities-study.md
  packages/clerk-js/bundlewatch.config.json
  packages/clerk-js/src/ui/components/Checkout/CheckoutComplete.tsx
  packages/clerk-js/src/ui/components/Checkout/CheckoutPage.tsx
  packages/clerk-js/src/ui/elements/Drawer.tsx
Labels: clerk-js

#5806 feat(clerk-js): Implement Statement UI
  packages/clerk-js/src/ui/components/SignUp/SignUpRestrictedAccess.tsx
  packages/clerk-js/src/ui/components/Statements/Statement.tsx
  packages/clerk-js/src/ui/components/Statements/StatementPage.tsx
  packages/clerk-js/src/ui/customizables/elementDescriptors.ts
  packages/clerk-js/src/ui/icons/block.svg
  packages/clerk-js/src/ui/primitives/Heading.tsx
  packages/types/src/appearance.ts
Labels: types, clerk-js

#5810 feat(clerk-js,types): Support switching to free plan
  .changeset/eager-goats-vanish.md
  packages/clerk-js/src/ui/components/Checkout/CheckoutComplete.tsx
  packages/clerk-js/src/ui/components/Plans/PlanDetails.tsx
  packages/clerk-js/src/ui/components/PricingTable/PricingTableDefault.tsx
  packages/clerk-js/src/ui/contexts/components/Plans.tsx
  packages/clerk-js/src/ui/customizables/elementDescriptors.ts
  packages/types/src/appearance.ts
Labels: types, clerk-js

#5811 feat(clerk-js,localizations): Switching monthly to annual for existing subscription
  .changeset/sad-teeth-argue.md
  packages/clerk-js/src/ui/components/Plans/PlanDetails.tsx
  packages/localizations/src/en-US.ts
  packages/types/src/localization.ts
Labels: types, clerk-js, localizations

#5807 feat(clerk-js,types): Add __experiemental_checkoutContinueUrl option
  .changeset/metal-zebras-jog.md
  packages/clerk-js/bundlewatch.config.json
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/ui/components/Checkout/CheckoutComplete.tsx
  packages/clerk-js/src/ui/contexts/components/Checkout.ts
  packages/clerk-js/src/ui/hooks/useCheckout.ts
  packages/clerk-js/src/ui/lazyModules/MountedCheckoutDrawer.tsx
  packages/clerk-js/src/ui/types.ts
  packages/nextjs/src/utils/mergeNextClerkPropsWithEnv.ts
  packages/react-router/src/utils/env.ts
  packages/react/src/isomorphicClerk.ts
  packages/remix/src/ssr/loadOptions.ts
  packages/remix/src/ssr/types.ts
  packages/remix/src/ssr/utils.ts
  packages/tanstack-react-start/src/utils/env.ts
  packages/types/src/clerk.ts
  packages/types/src/redirects.ts
  pnpm-lock.yaml
Labels: types, clerk-js, nextjs, react, remix, tanstack, react-router

#5783 fix(clerk-js): Fix interactive turnstile layout issue on SSO callback
  .changeset/honest-garlics-flow.md
  packages/clerk-js/src/utils/captcha/turnstile.ts
Labels: clerk-js

#5827 fix(clerk-js): Fix turnstile language fallback warning on captcha modal
  .changeset/shiny-olives-worry.md
  packages/clerk-js/src/ui/components/BlankCaptchaModal/index.tsx
Labels: clerk-js

#5825 chore(clerk-js,localizations): Move `<__experimental_PaymentSources />` under `Subscriptions` tab
  .changeset/full-webs-beam.md
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationBillingPage.tsx
  packages/clerk-js/src/ui/components/PaymentSources/PaymentSources.tsx
  packages/clerk-js/src/ui/components/UserProfile/BillingPage.tsx
  packages/localizations/src/ar-SA.ts
  packages/localizations/src/be-BY.ts
  packages/localizations/src/bg-BG.ts
  packages/localizations/src/ca-ES.ts
  packages/localizations/src/cs-CZ.ts
  packages/localizations/src/da-DK.ts
  packages/localizations/src/de-DE.ts
  packages/localizations/src/el-GR.ts
  packages/localizations/src/en-GB.ts
  packages/localizations/src/en-US.ts
  packages/localizations/src/es-ES.ts
  packages/localizations/src/es-MX.ts
  packages/localizations/src/fi-FI.ts
  packages/localizations/src/fr-FR.ts
  packages/localizations/src/he-IL.ts
  packages/localizations/src/hr-HR.ts
  packages/localizations/src/hu-HU.ts
  packages/localizations/src/id-ID.ts
  packages/localizations/src/is-IS.ts
  packages/localizations/src/it-IT.ts
  packages/localizations/src/ja-JP.ts
  packages/localizations/src/ko-KR.ts
  packages/localizations/src/mn-MN.ts
  packages/localizations/src/nb-NO.ts
  packages/localizations/src/nl-BE.ts
  packages/localizations/src/nl-NL.ts
  packages/localizations/src/pl-PL.ts
  packages/localizations/src/pt-BR.ts
  packages/localizations/src/pt-PT.ts
  packages/localizations/src/ro-RO.ts
  packages/localizations/src/ru-RU.ts
  packages/localizations/src/sk-SK.ts
  packages/localizations/src/sr-RS.ts
  packages/localizations/src/sv-SE.ts
  packages/localizations/src/th-TH.ts
  packages/localizations/src/tr-TR.ts
  packages/localizations/src/uk-UA.ts
  packages/localizations/src/vi-VN.ts
  packages/localizations/src/zh-CN.ts
  packages/localizations/src/zh-TW.ts
  packages/types/src/localization.ts
Labels: types, clerk-js, localizations

#5826 refactor(repo): Rename __experimental_checkoutContinueUrl to checkoutContinueUrl
  .changeset/tidy-pots-sin.md
  packages/clerk-js/package.json
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/ui/components/Checkout/CheckoutComplete.tsx
  packages/clerk-js/src/ui/contexts/components/Checkout.ts
  packages/clerk-js/src/ui/types.ts
  packages/nextjs/src/utils/mergeNextClerkPropsWithEnv.ts
  packages/react-router/src/utils/env.ts
  packages/react/src/isomorphicClerk.ts
  packages/remix/src/ssr/loadOptions.ts
  packages/remix/src/ssr/types.ts
  packages/remix/src/ssr/utils.ts
  packages/tanstack-react-start/src/utils/env.ts
  packages/types/src/clerk.ts
  packages/types/src/redirects.ts
Labels: types, clerk-js, nextjs, react, remix, tanstack, react-router

#5693 feat(shared): Allow for `has({ role | permission})` without scope
  .changeset/salty-worms-attack.md
  integration/templates/next-app-router/src/app/jwt-v2-organizations/(tests)/conditionals.tsx
  integration/templates/next-app-router/src/app/jwt-v2-organizations/(tests)/has-client/page.tsx
  integration/templates/next-app-router/src/app/jwt-v2-organizations/(tests)/has-server/page.tsx
  integration/templates/next-app-router/src/app/jwt-v2-organizations/(tests)/has-ssr/client.tsx
  integration/tests/protect-jwt-v2.test.ts
  packages/backend/src/tokens/__tests__/authObjects.test.ts
  packages/shared/src/authorization.ts
Labels: backend, integration

#5809 chore: Rely on API-based errors for `en-US` messaging
  .changeset/soft-snakes-roll.md
  integration/tests/sign-in-flow.test.ts
  integration/tests/sign-in-or-up-flow.test.ts
  integration/tests/sign-in-or-up-restricted-mode.test.ts
  packages/clerk-js/src/ui/components/SignUp/__tests__/SignUpContinue.test.tsx
  packages/localizations/src/en-US.ts
Labels: clerk-js, localizations, integration

#5831 feat(clerk-js,localizations,types): `Pay with test card` button on `<AddPaymentSource />` component
  .changeset/tiny-wolves-battle.md
  packages/clerk-js/bundlewatch.config.json
  packages/clerk-js/src/ui/components/Checkout/CheckoutComplete.tsx
  packages/clerk-js/src/ui/components/Checkout/CheckoutForm.tsx
  packages/clerk-js/src/ui/components/PaymentSources/AddPaymentSource.tsx
  packages/localizations/src/ar-SA.ts
  packages/localizations/src/be-BY.ts
  packages/localizations/src/bg-BG.ts
  packages/localizations/src/ca-ES.ts
  packages/localizations/src/cs-CZ.ts
  packages/localizations/src/da-DK.ts
  packages/localizations/src/de-DE.ts
  packages/localizations/src/el-GR.ts
  packages/localizations/src/en-GB.ts
  packages/localizations/src/en-US.ts
  packages/localizations/src/es-ES.ts
  packages/localizations/src/es-MX.ts
  packages/localizations/src/fi-FI.ts
  packages/localizations/src/fr-FR.ts
  packages/localizations/src/he-IL.ts
  packages/localizations/src/hr-HR.ts
  packages/localizations/src/hu-HU.ts
  packages/localizations/src/id-ID.ts
  packages/localizations/src/is-IS.ts
  packages/localizations/src/it-IT.ts
  packages/localizations/src/ja-JP.ts
  packages/localizations/src/ko-KR.ts
  packages/localizations/src/mn-MN.ts
  packages/localizations/src/nb-NO.ts
  packages/localizations/src/nl-BE.ts
  packages/localizations/src/nl-NL.ts
  packages/localizations/src/pl-PL.ts
  packages/localizations/src/pt-BR.ts
  packages/localizations/src/pt-PT.ts
  packages/localizations/src/ro-RO.ts
  packages/localizations/src/ru-RU.ts
  packages/localizations/src/sk-SK.ts
  packages/localizations/src/sr-RS.ts
  packages/localizations/src/sv-SE.ts
  packages/localizations/src/th-TH.ts
  packages/localizations/src/tr-TR.ts
  packages/localizations/src/uk-UA.ts
  packages/localizations/src/vi-VN.ts
  packages/localizations/src/zh-CN.ts
  packages/localizations/src/zh-TW.ts
  packages/testing/src/playwright/unstable/page-objects/checkout.ts
  packages/types/src/commerce.ts
  packages/types/src/localization.ts
Labels: types, clerk-js, localizations, testing

#5828 refactor(repo): Replace __experimental_PricingTable with PricingTable
  .changeset/wicked-baboons-pump.md
  integration/templates/next-app-router/src/app/pricing-table/page.tsx
  packages/chrome-extension/src/__tests__/__snapshots__/exports.test.ts.snap
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/ui/components/Checkout/CheckoutComplete.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationBillingPage.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationPlansPage.tsx
  packages/clerk-js/src/ui/components/PricingTable/PricingTable.tsx
  packages/clerk-js/src/ui/components/PricingTable/PricingTableDefault.tsx
  packages/clerk-js/src/ui/components/UserProfile/BillingPage.tsx
  packages/clerk-js/src/ui/components/UserProfile/PlansPage.tsx
  packages/clerk-js/src/ui/contexts/ClerkUIComponentsContext.tsx
  packages/clerk-js/src/ui/contexts/components/Checkout.ts
  packages/clerk-js/src/ui/contexts/components/PricingTable.ts
  packages/clerk-js/src/ui/lazyModules/components.ts
  packages/clerk-js/src/ui/types.ts
  packages/expo/src/web/uiComponents.tsx
  packages/nextjs/src/client-boundary/uiComponents.tsx
  packages/nextjs/src/index.ts
  packages/nextjs/src/utils/mergeNextClerkPropsWithEnv.ts
  packages/react-router/src/__tests__/__snapshots__/exports.test.ts.snap
  packages/react-router/src/utils/env.ts
  packages/react/src/components/index.ts
  packages/react/src/components/uiComponents.tsx
  packages/react/src/isomorphicClerk.ts
  packages/remix/src/ssr/loadOptions.ts
  packages/remix/src/ssr/types.ts
  packages/remix/src/ssr/utils.ts
  packages/tanstack-react-start/src/__tests__/__snapshots__/exports.test.ts.snap
  packages/tanstack-react-start/src/utils/env.ts
  packages/types/src/clerk.ts
  packages/types/src/redirects.ts
  packages/vue/src/components/ui-components/PricingTable.vue
Labels: types, clerk-js, nextjs, react, remix, expo, chrome-extension, integration, tanstack, react-router, vue

#5824 chore(clerk-js,types,localizations): New layout for PricingTable plan cards
  .changeset/old-cobras-change.md
  integration/tests/pricing-table.test.ts
  packages/clerk-js/bundlewatch.config.json
  packages/clerk-js/src/ui/components/PricingTable/PricingTableDefault.tsx
  packages/clerk-js/src/ui/contexts/components/Plans.tsx
  packages/clerk-js/src/ui/customizables/elementDescriptors.ts
  packages/clerk-js/src/ui/elements/Switch.tsx
  packages/clerk-js/src/ui/elements/index.ts
  packages/clerk-js/src/ui/foundations/shadows.ts
  packages/clerk-js/src/ui/styledSystem/common.ts
  packages/localizations/src/en-US.ts
  packages/testing/src/playwright/unstable/page-objects/pricingTable.ts
  packages/types/src/appearance.ts
  packages/types/src/localization.ts
Labels: types, clerk-js, localizations, integration, testing

#5837 chore(clerk-js,types,localizations): Update checkout downgrade notice
  .changeset/thin-owls-draw.md
  packages/clerk-js/src/ui/components/Checkout/CheckoutForm.tsx
  packages/localizations/src/ar-SA.ts
  packages/localizations/src/be-BY.ts
  packages/localizations/src/bg-BG.ts
  packages/localizations/src/ca-ES.ts
  packages/localizations/src/cs-CZ.ts
  packages/localizations/src/da-DK.ts
  packages/localizations/src/de-DE.ts
  packages/localizations/src/el-GR.ts
  packages/localizations/src/en-GB.ts
  packages/localizations/src/en-US.ts
  packages/localizations/src/es-ES.ts
  packages/localizations/src/es-MX.ts
  packages/localizations/src/fi-FI.ts
  packages/localizations/src/fr-FR.ts
  packages/localizations/src/he-IL.ts
  packages/localizations/src/hr-HR.ts
  packages/localizations/src/hu-HU.ts
  packages/localizations/src/id-ID.ts
  packages/localizations/src/is-IS.ts
  packages/localizations/src/it-IT.ts
  packages/localizations/src/ja-JP.ts
  packages/localizations/src/ko-KR.ts
  packages/localizations/src/mn-MN.ts
  packages/localizations/src/nb-NO.ts
  packages/localizations/src/nl-BE.ts
  packages/localizations/src/nl-NL.ts
  packages/localizations/src/pl-PL.ts
  packages/localizations/src/pt-BR.ts
  packages/localizations/src/pt-PT.ts
  packages/localizations/src/ro-RO.ts
  packages/localizations/src/ru-RU.ts
  packages/localizations/src/sk-SK.ts
  packages/localizations/src/sr-RS.ts
  packages/localizations/src/sv-SE.ts
  packages/localizations/src/th-TH.ts
  packages/localizations/src/tr-TR.ts
  packages/localizations/src/uk-UA.ts
  packages/localizations/src/vi-VN.ts
  packages/localizations/src/zh-CN.ts
  packages/localizations/src/zh-TW.ts
  packages/types/src/localization.ts
Labels: types, clerk-js, localizations

#5838 refactor(types): Rename CheckoutProps and PlanDetailsProps to __internal_CheckoutProps and __internal_PlanDetailsProps
  .changeset/shiny-impalas-occur.md
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/ui/Components.tsx
  packages/clerk-js/src/ui/components/Checkout/Checkout.tsx
  packages/clerk-js/src/ui/components/Checkout/CheckoutPage.tsx
  packages/clerk-js/src/ui/components/Plans/PlanDetails.tsx
  packages/clerk-js/src/ui/hooks/useCheckout.ts
  packages/clerk-js/src/ui/lazyModules/MountedCheckoutDrawer.tsx
  packages/clerk-js/src/ui/lazyModules/MountedPlanDetailDrawer.tsx
  packages/clerk-js/src/ui/types.ts
  packages/react/src/isomorphicClerk.ts
  packages/types/src/clerk.ts
Labels: types, clerk-js, react

#5839 chore(vue,nuxt): Add default SDK Metadata and fix integration tests
  .changeset/cold-impalas-peel.md
  integration/presets/index.ts
  integration/presets/nuxt.ts
  integration/presets/vue.ts
  integration/templates/vue-vite/src/main.ts
  packages/nuxt/src/runtime/plugin.ts
  packages/vue/src/plugin.ts
Labels: integration, nuxt, vue

#5845 fix(clerk-js): Require label for Switch
  .changeset/upset-ravens-love.md
  packages/clerk-js/src/ui/components/PricingTable/PricingTableDefault.tsx
  packages/clerk-js/src/ui/elements/Switch.tsx
Labels: clerk-js

#5774 feat(astro): Add `<PricingTable />` component
  .changeset/public-files-throw.md
  integration/presets/longRunningApps.ts
  integration/templates/astro-node/src/pages/pricing-table.astro
  packages/astro/src/astro-components/index.ts
  packages/astro/src/astro-components/interactive/InternalUIComponentRenderer.astro
  packages/astro/src/astro-components/interactive/PricingTable.astro
  packages/astro/src/internal/mount-clerk-astro-js-components.ts
  packages/astro/src/react/uiComponents.tsx
Labels: integration, astro

#5848 chore(astro): Small QoL improvement for internal UI component IDs
  .changeset/eager-bananas-write.md
  packages/astro/src/astro-components/interactive/InternalUIComponentRenderer.astro
  packages/astro/src/internal/mount-clerk-astro-js-components.ts
  packages/astro/src/types.ts
Labels: astro

#5710 feat(nextjs): Introduce machine authentication
  packages/nextjs/src/app-router/server/auth.ts
  packages/nextjs/src/server/__tests__/clerkMiddleware.test.ts
  packages/nextjs/src/server/__tests__/getAuthDataFromRequest.test.ts
  packages/nextjs/src/server/buildClerkProps.ts
  packages/nextjs/src/server/clerkMiddleware.ts
  packages/nextjs/src/server/createGetAuth.ts
  packages/nextjs/src/server/data/getAuthDataFromRequest.ts
  packages/nextjs/src/server/index.ts
  packages/nextjs/src/server/nextErrors.ts
  packages/nextjs/src/server/protect.ts
  packages/nextjs/src/server/types.ts
Labels: nextjs

#5835 fix(clerk-js): Allow only members with manage billing permission to manage billing in OP
  .changeset/eager-lions-tell.md
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationBillingPage.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationPlansPage.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationProfileNavbar.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationProfileRoutes.tsx
  packages/clerk-js/src/ui/components/Plans/PlanDetails.tsx
  packages/clerk-js/src/ui/components/PricingTable/PricingTableDefault.tsx
  packages/clerk-js/src/ui/components/Subscriptions/SubscriptionsList.tsx
  packages/clerk-js/src/ui/contexts/components/Plans.tsx
  packages/clerk-js/src/ui/elements/Alert.tsx
  packages/clerk-js/src/ui/primitives/Alert.tsx
  packages/clerk-js/src/ui/primitives/AlertIcon.tsx
  packages/localizations/src/ar-SA.ts
  packages/localizations/src/be-BY.ts
  packages/localizations/src/bg-BG.ts
  packages/localizations/src/ca-ES.ts
  packages/localizations/src/cs-CZ.ts
  packages/localizations/src/da-DK.ts
  packages/localizations/src/de-DE.ts
  packages/localizations/src/el-GR.ts
  packages/localizations/src/en-GB.ts
  packages/localizations/src/en-US.ts
  packages/localizations/src/es-ES.ts
  packages/localizations/src/es-MX.ts
  packages/localizations/src/fi-FI.ts
  packages/localizations/src/fr-FR.ts
  packages/localizations/src/he-IL.ts
  packages/localizations/src/hr-HR.ts
  packages/localizations/src/hu-HU.ts
  packages/localizations/src/id-ID.ts
  packages/localizations/src/is-IS.ts
  packages/localizations/src/it-IT.ts
  packages/localizations/src/ja-JP.ts
  packages/localizations/src/ko-KR.ts
  packages/localizations/src/mn-MN.ts
  packages/localizations/src/nb-NO.ts
  packages/localizations/src/nl-BE.ts
  packages/localizations/src/nl-NL.ts
  packages/localizations/src/pl-PL.ts
  packages/localizations/src/pt-BR.ts
  packages/localizations/src/pt-PT.ts
  packages/localizations/src/ro-RO.ts
  packages/localizations/src/ru-RU.ts
  packages/localizations/src/sk-SK.ts
  packages/localizations/src/sr-RS.ts
  packages/localizations/src/sv-SE.ts
  packages/localizations/src/th-TH.ts
  packages/localizations/src/tr-TR.ts
  packages/localizations/src/uk-UA.ts
  packages/localizations/src/vi-VN.ts
  packages/localizations/src/zh-CN.ts
  packages/localizations/src/zh-TW.ts
  packages/types/src/elementIds.ts
  packages/types/src/localization.ts
Labels: types, clerk-js, localizations

#5847 refactor(clerk-js,types): Update subscriptions listing UI
  .changeset/smooth-signs-type.md
  integration/tests/pricing-table.test.ts
  packages/clerk-js/bundlewatch.config.json
  packages/clerk-js/src/ui/components/Checkout/CheckoutForm.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationBillingPage.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationPlansPage.tsx
  packages/clerk-js/src/ui/components/PaymentSources/PaymentSources.tsx
  packages/clerk-js/src/ui/components/UserProfile/BillingPage.tsx
  packages/clerk-js/src/ui/elements/PhoneInput/PhoneInput.tsx
  packages/clerk-js/src/ui/icons/arrows-up-down.svg
  packages/clerk-js/src/ui/icons/chevron-up-down.svg
  packages/clerk-js/src/ui/icons/index.ts
  packages/localizations/src/ar-SA.ts
  packages/localizations/src/be-BY.ts
  packages/localizations/src/bg-BG.ts
  packages/localizations/src/ca-ES.ts
  packages/localizations/src/cs-CZ.ts
  packages/localizations/src/da-DK.ts
  packages/localizations/src/de-DE.ts
  packages/localizations/src/el-GR.ts
  packages/localizations/src/en-GB.ts
  packages/localizations/src/en-US.ts
  packages/localizations/src/es-ES.ts
  packages/localizations/src/es-MX.ts
  packages/localizations/src/fi-FI.ts
  packages/localizations/src/fr-FR.ts
  packages/localizations/src/he-IL.ts
  packages/localizations/src/hr-HR.ts
  packages/localizations/src/hu-HU.ts
  packages/localizations/src/id-ID.ts
  packages/localizations/src/is-IS.ts
  packages/localizations/src/it-IT.ts
  packages/localizations/src/ja-JP.ts
  packages/localizations/src/ko-KR.ts
  packages/localizations/src/mn-MN.ts
  packages/localizations/src/nb-NO.ts
  packages/localizations/src/nl-BE.ts
  packages/localizations/src/nl-NL.ts
  packages/localizations/src/pl-PL.ts
  packages/localizations/src/pt-BR.ts
  packages/localizations/src/pt-PT.ts
  packages/localizations/src/ro-RO.ts
  packages/localizations/src/ru-RU.ts
  packages/localizations/src/sk-SK.ts
  packages/localizations/src/sr-RS.ts
  packages/localizations/src/sv-SE.ts
  packages/localizations/src/th-TH.ts
  packages/localizations/src/tr-TR.ts
  packages/localizations/src/uk-UA.ts
  packages/localizations/src/vi-VN.ts
  packages/localizations/src/zh-CN.ts
  packages/localizations/src/zh-TW.ts
  packages/types/src/elementIds.ts
  packages/types/src/localization.ts
Labels: types, clerk-js, localizations, integration

#5846 chore(clerk-js): Remove Clerk.commerce
  .changeset/proud-donuts-shop.md
  .changeset/witty-doors-hear.md
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/modules/commerce/Commerce.ts
  packages/clerk-js/src/core/modules/commerce/index.ts
  packages/clerk-js/src/core/modules/commerce/payment-source-methods.ts
  packages/clerk-js/src/core/resources/Organization.ts
  packages/clerk-js/src/core/resources/User.ts
  packages/clerk-js/src/core/resources/__tests__/__snapshots__/Organization.test.ts.snap
  packages/clerk-js/src/core/resources/__tests__/__snapshots__/OrganizationMembership.test.ts.snap
  packages/clerk-js/src/ui/components/Checkout/CheckoutForm.tsx
  packages/clerk-js/src/ui/components/PaymentSources/AddPaymentSource.tsx
  packages/clerk-js/src/ui/components/PaymentSources/PaymentSources.tsx
  packages/clerk-js/src/ui/components/PricingTable/PricingTable.tsx
  packages/clerk-js/src/ui/contexts/components/Checkout.ts
  packages/clerk-js/src/ui/contexts/components/Invoices.tsx
  packages/clerk-js/src/ui/contexts/components/Plans.tsx
  packages/clerk-js/src/ui/hooks/useCheckout.ts
  packages/react/src/isomorphicClerk.ts
  packages/types/src/clerk.ts
  packages/types/src/commerce.ts
  packages/types/src/organization.ts
  packages/types/src/user.ts
Labels: types, clerk-js, react

#5841 feat(clerk-js,types): Introduce `<Tooltip />` primitive
  .changeset/four-clowns-read.md
  packages/clerk-js/bundlewatch.config.json
  packages/clerk-js/src/ui/customizables/elementDescriptors.ts
  packages/clerk-js/src/ui/elements/Tooltip.tsx
  packages/clerk-js/src/ui/elements/index.ts
  packages/types/src/appearance.ts
Labels: types, clerk-js

#5851 fix(clerk-js): Display generic payment icon in payment source row when payment method is not card
  .changeset/tame-foxes-add.md
  packages/clerk-js/src/ui/components/PaymentSources/PaymentSourceRow.tsx
  packages/clerk-js/src/ui/icons/generic-pay.svg
  packages/clerk-js/src/ui/icons/index.ts
Labels: clerk-js

#5853 fix(clerk-js): Replace Toggle button with Switch component in active subscription drawer
  .changeset/few-pans-repeat.md
  packages/clerk-js/src/ui/components/Plans/PlanDetails.tsx
  packages/localizations/src/ar-SA.ts
  packages/localizations/src/be-BY.ts
  packages/localizations/src/bg-BG.ts
  packages/localizations/src/ca-ES.ts
  packages/localizations/src/cs-CZ.ts
  packages/localizations/src/da-DK.ts
  packages/localizations/src/de-DE.ts
  packages/localizations/src/el-GR.ts
  packages/localizations/src/en-GB.ts
  packages/localizations/src/en-US.ts
  packages/localizations/src/es-ES.ts
  packages/localizations/src/es-MX.ts
  packages/localizations/src/fi-FI.ts
  packages/localizations/src/fr-FR.ts
  packages/localizations/src/he-IL.ts
  packages/localizations/src/hr-HR.ts
  packages/localizations/src/hu-HU.ts
  packages/localizations/src/id-ID.ts
  packages/localizations/src/is-IS.ts
  packages/localizations/src/it-IT.ts
  packages/localizations/src/ja-JP.ts
  packages/localizations/src/ko-KR.ts
  packages/localizations/src/mn-MN.ts
  packages/localizations/src/nb-NO.ts
  packages/localizations/src/nl-BE.ts
  packages/localizations/src/nl-NL.ts
  packages/localizations/src/pl-PL.ts
  packages/localizations/src/pt-BR.ts
  packages/localizations/src/pt-PT.ts
  packages/localizations/src/ro-RO.ts
  packages/localizations/src/ru-RU.ts
  packages/localizations/src/sk-SK.ts
  packages/localizations/src/sr-RS.ts
  packages/localizations/src/sv-SE.ts
  packages/localizations/src/th-TH.ts
  packages/localizations/src/tr-TR.ts
  packages/localizations/src/uk-UA.ts
  packages/localizations/src/vi-VN.ts
  packages/localizations/src/zh-CN.ts
  packages/localizations/src/zh-TW.ts
  packages/types/src/localization.ts
Labels: types, clerk-js, localizations

#5849 refactor(clerk-js): Move credit out of proration object
  .changeset/all-tigers-learn.md
  packages/clerk-js/src/ui/components/Checkout/CheckoutForm.tsx
  packages/clerk-js/src/utils/commerce.ts
  packages/types/src/commerce.ts
  packages/types/src/json.ts
Labels: types, clerk-js

#5854 chore(clerk-js): Sort subscriptions list by status
  .changeset/tender-glasses-post.md
  packages/clerk-js/bundlewatch.config.json
  packages/clerk-js/src/ui/components/Subscriptions/SubscriptionsList.tsx
  packages/localizations/src/en-US.ts
Labels: clerk-js, localizations

#5855 chore(clerk-js): Update organization subscription endpoints
  .changeset/afraid-tigers-swim.md
  packages/clerk-js/src/core/modules/commerce/CommerceBilling.ts
  packages/clerk-js/src/core/resources/Organization.ts
Labels: clerk-js

#5857 fix(clerk-js,types,localizations): Update `<Checkout />` header to have `x12` prefix when is annual
  .changeset/twenty-clouds-rest.md
  packages/clerk-js/src/ui/components/Checkout/CheckoutForm.tsx
  packages/clerk-js/src/ui/elements/LineItems.tsx
  packages/localizations/src/ar-SA.ts
  packages/localizations/src/be-BY.ts
  packages/localizations/src/bg-BG.ts
  packages/localizations/src/ca-ES.ts
  packages/localizations/src/cs-CZ.ts
  packages/localizations/src/da-DK.ts
  packages/localizations/src/de-DE.ts
  packages/localizations/src/el-GR.ts
  packages/localizations/src/en-GB.ts
  packages/localizations/src/en-US.ts
  packages/localizations/src/es-ES.ts
  packages/localizations/src/es-MX.ts
  packages/localizations/src/fi-FI.ts
  packages/localizations/src/fr-FR.ts
  packages/localizations/src/he-IL.ts
  packages/localizations/src/hr-HR.ts
  packages/localizations/src/hu-HU.ts
  packages/localizations/src/id-ID.ts
  packages/localizations/src/is-IS.ts
  packages/localizations/src/it-IT.ts
  packages/localizations/src/ja-JP.ts
  packages/localizations/src/ko-KR.ts
  packages/localizations/src/mn-MN.ts
  packages/localizations/src/nb-NO.ts
  packages/localizations/src/nl-BE.ts
  packages/localizations/src/nl-NL.ts
  packages/localizations/src/pl-PL.ts
  packages/localizations/src/pt-BR.ts
  packages/localizations/src/pt-PT.ts
  packages/localizations/src/ro-RO.ts
  packages/localizations/src/ru-RU.ts
  packages/localizations/src/sk-SK.ts
  packages/localizations/src/sr-RS.ts
  packages/localizations/src/sv-SE.ts
  packages/localizations/src/th-TH.ts
  packages/localizations/src/tr-TR.ts
  packages/localizations/src/uk-UA.ts
  packages/localizations/src/vi-VN.ts
  packages/localizations/src/zh-CN.ts
  packages/localizations/src/zh-TW.ts
  packages/types/src/localization.ts
Labels: types, clerk-js, localizations

#5859 fix(clerk-js): Ensure drawer works corrrectly in safari
  .changeset/icy-papers-hunt.md
  packages/clerk-js/src/ui/elements/Drawer.tsx
Labels: clerk-js

#5861 chore(clerk-js): Add gap between no-permissions notice and pricing table
  .changeset/fuzzy-hotels-lay.md
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationBillingPage.tsx
Labels: clerk-js

#5863 chore(repo): Show annual amount in the subscriptions list if the subscription has annual plan period
  .changeset/thin-poems-listen.md
  packages/clerk-js/src/core/resources/CommercePlan.ts
  packages/clerk-js/src/ui/components/Subscriptions/SubscriptionsList.tsx
  packages/localizations/src/ar-SA.ts
  packages/localizations/src/be-BY.ts
  packages/localizations/src/bg-BG.ts
  packages/localizations/src/ca-ES.ts
  packages/localizations/src/cs-CZ.ts
  packages/localizations/src/da-DK.ts
  packages/localizations/src/de-DE.ts
  packages/localizations/src/el-GR.ts
  packages/localizations/src/en-GB.ts
  packages/localizations/src/en-US.ts
  packages/localizations/src/es-ES.ts
  packages/localizations/src/es-MX.ts
  packages/localizations/src/fi-FI.ts
  packages/localizations/src/fr-FR.ts
  packages/localizations/src/he-IL.ts
  packages/localizations/src/hr-HR.ts
  packages/localizations/src/hu-HU.ts
  packages/localizations/src/id-ID.ts
  packages/localizations/src/is-IS.ts
  packages/localizations/src/it-IT.ts
  packages/localizations/src/ja-JP.ts
  packages/localizations/src/ko-KR.ts
  packages/localizations/src/mn-MN.ts
  packages/localizations/src/nb-NO.ts
  packages/localizations/src/nl-BE.ts
  packages/localizations/src/nl-NL.ts
  packages/localizations/src/pl-PL.ts
  packages/localizations/src/pt-BR.ts
  packages/localizations/src/pt-PT.ts
  packages/localizations/src/ro-RO.ts
  packages/localizations/src/ru-RU.ts
  packages/localizations/src/sk-SK.ts
  packages/localizations/src/sr-RS.ts
  packages/localizations/src/sv-SE.ts
  packages/localizations/src/th-TH.ts
  packages/localizations/src/tr-TR.ts
  packages/localizations/src/uk-UA.ts
  packages/localizations/src/vi-VN.ts
  packages/localizations/src/zh-CN.ts
  packages/localizations/src/zh-TW.ts
  packages/types/src/commerce.ts
  packages/types/src/json.ts
  packages/types/src/localization.ts
Labels: types, clerk-js, localizations

#5864 chore(clerk-js): Remove top border from checkout form
  .changeset/rare-tips-dream.md
  packages/clerk-js/src/ui/components/Checkout/CheckoutForm.tsx
Labels: clerk-js

#5862 fix(clerk-js): Render long message for submitError within CheckoutForm
  .changeset/spotty-pugs-laugh.md
  packages/clerk-js/src/ui/components/Checkout/CheckoutForm.tsx
Labels: clerk-js

#5867 fix(clerk-js): Handle invalid_plan_change error with custom UI
  .changeset/pink-bats-share.md
  packages/clerk-js/bundlewatch.config.json
  packages/clerk-js/src/ui/components/Checkout/CheckoutPage.tsx
  packages/clerk-js/src/ui/contexts/components/Plans.tsx
Labels: clerk-js

#5866 fix(clerk-js): Ensure statements ui is scrollable
  .changeset/cute-moose-unite.md
  packages/clerk-js/src/ui/components/Statements/Statement.tsx
Labels: clerk-js

#5856 ci(repo): Version packages
  .changeset/afraid-tigers-swim.md
  .changeset/crazy-things-send.md
  .changeset/cute-moose-unite.md
  .changeset/fuzzy-hotels-lay.md
  .changeset/icy-papers-hunt.md
  .changeset/olive-cooks-shout.md
  .changeset/pink-bats-share.md
  .changeset/pretty-chairs-spend.md
  .changeset/rare-tips-dream.md
  .changeset/spotty-pugs-laugh.md
  .changeset/thin-poems-listen.md
  .changeset/tidy-ducks-study.md
  .changeset/twenty-clouds-rest.md
  packages/agent-toolkit/CHANGELOG.md
  packages/agent-toolkit/package.json
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/expo-passkeys/CHANGELOG.md
  packages/expo-passkeys/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/tanstack-react-start/CHANGELOG.md
  packages/tanstack-react-start/package.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, expo, chrome-extension, themes, elements, express, testing, tanstack, astro, react-router, nuxt, vue, agent-toolkit

#5869 fix(clerk-js): Fix PricingTable plan button display logic
  .changeset/violet-poets-move.md
  packages/clerk-js/src/ui/components/PricingTable/PricingTableDefault.tsx
  packages/clerk-js/src/ui/contexts/components/Plans.tsx
Labels: clerk-js

#5870 ci(repo): Version packages
  .changeset/violet-poets-move.md
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
Labels: clerk-js, expo, chrome-extension

#5873 chore(clerk-js): Remove no manage billing permissions alert from the of start billing page
  .changeset/red-corners-show.md
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationBillingPage.tsx
Labels: clerk-js

#5875 fix(clerk-js): Sort payment sources by default attribute
  .changeset/polite-hands-film.md
  packages/clerk-js/src/ui/components/PaymentSources/PaymentSources.tsx
Labels: clerk-js

#5878 chore(clerk-js,types): Add descriptor to user preview idetifier text
  .changeset/purple-ghosts-win.md
  packages/clerk-js/src/ui/customizables/elementDescriptors.ts
  packages/clerk-js/src/ui/elements/UserPreview.tsx
  packages/types/src/appearance.ts
Labels: types, clerk-js

#5882 fix(clerk-js): Add default value to payment method segment
  .changeset/nine-bats-design.md
  packages/clerk-js/src/ui/components/Checkout/CheckoutForm.tsx
Labels: clerk-js

#5879 refactor(clerk-js): Add loading state to <PaymentSources /> component
  .changeset/two-keys-act.md
  packages/clerk-js/src/ui/components/PaymentSources/PaymentSources.tsx
Labels: clerk-js

#5881 chore(clerk-js,types): Add descriptor ids to UserMembershipList and OrganizationSwitcherTrigger
  .changeset/smart-horses-wish.md
  packages/clerk-js/src/ui/components/OrganizationSwitcher/OrganizationSwitcherTrigger.tsx
  packages/clerk-js/src/ui/components/OrganizationSwitcher/UserMembershipList.tsx
  packages/types/src/appearance.ts
Labels: types, clerk-js

#5852 feat(clerk-js,localization): Add notice when member does not have permissions to manage billing
  .changeset/chubby-memes-pull.md
  packages/clerk-js/src/ui/components/PricingTable/PricingTableDefault.tsx
  packages/clerk-js/src/ui/contexts/components/Plans.tsx
  packages/clerk-js/src/ui/elements/Tooltip.tsx
  packages/localizations/src/en-US.ts
Labels: clerk-js, localizations

#5880 fix(clerk-js): Improve mobile `<Drawer />` sizing
  .changeset/rude-friends-create.md
  packages/clerk-js/src/ui/elements/Drawer.tsx
Labels: clerk-js

#5889 fix(clerk-js,types,localizations): Update plans page title
  .changeset/pink-wolves-juggle.md
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationPlansPage.tsx
  packages/clerk-js/src/ui/components/PricingTable/PricingTableDefault.tsx
  packages/clerk-js/src/ui/components/UserProfile/PlansPage.tsx
  packages/localizations/src/ar-SA.ts
  packages/localizations/src/be-BY.ts
  packages/localizations/src/bg-BG.ts
  packages/localizations/src/ca-ES.ts
  packages/localizations/src/cs-CZ.ts
  packages/localizations/src/da-DK.ts
  packages/localizations/src/de-DE.ts
  packages/localizations/src/el-GR.ts
  packages/localizations/src/en-GB.ts
  packages/localizations/src/en-US.ts
  packages/localizations/src/es-ES.ts
  packages/localizations/src/es-MX.ts
  packages/localizations/src/fi-FI.ts
  packages/localizations/src/fr-FR.ts
  packages/localizations/src/he-IL.ts
  packages/localizations/src/hr-HR.ts
  packages/localizations/src/hu-HU.ts
  packages/localizations/src/id-ID.ts
  packages/localizations/src/is-IS.ts
  packages/localizations/src/it-IT.ts
  packages/localizations/src/ja-JP.ts
  packages/localizations/src/ko-KR.ts
  packages/localizations/src/mn-MN.ts
  packages/localizations/src/nb-NO.ts
  packages/localizations/src/nl-BE.ts
  packages/localizations/src/nl-NL.ts
  packages/localizations/src/pl-PL.ts
  packages/localizations/src/pt-BR.ts
  packages/localizations/src/pt-PT.ts
  packages/localizations/src/ro-RO.ts
  packages/localizations/src/ru-RU.ts
  packages/localizations/src/sk-SK.ts
  packages/localizations/src/sr-RS.ts
  packages/localizations/src/sv-SE.ts
  packages/localizations/src/th-TH.ts
  packages/localizations/src/tr-TR.ts
  packages/localizations/src/uk-UA.ts
  packages/localizations/src/vi-VN.ts
  packages/localizations/src/zh-CN.ts
  packages/localizations/src/zh-TW.ts
  packages/types/src/localization.ts
Labels: types, clerk-js, localizations

#5888 fix(clerk-js,types): Correctly pass Checkout appearance prop through PricingTable
  .changeset/famous-fans-create.md
  packages/clerk-js/bundlewatch.config.json
  packages/clerk-js/src/ui/components/PricingTable/PricingTable.tsx
  packages/clerk-js/src/ui/contexts/components/Plans.tsx
  packages/clerk-js/src/ui/lazyModules/MountedCheckoutDrawer.tsx
  packages/clerk-js/src/ui/lazyModules/MountedPlanDetailDrawer.tsx
  packages/types/src/clerk.ts
Labels: types, clerk-js

#5893 fix(clerk-js): Add planPeriodStart to CommerceCheckout
  .changeset/twenty-monkeys-camp.md
  packages/clerk-js/src/core/resources/CommerceCheckout.ts
  packages/clerk-js/src/ui/components/Checkout/CheckoutComplete.tsx
  packages/types/src/commerce.ts
  packages/types/src/json.ts
Labels: types, clerk-js

#5890 feat(vue): Introduce billing in `useAuth()` and `<Protect>`
  .changeset/five-tips-own.md
  packages/vue/src/components/controlComponents.ts
  packages/vue/src/composables/useAuth.ts
  packages/vue/src/plugin.ts
  packages/vue/src/types.ts
Labels: vue

#5865 feat(backend): handle handshake nonce payload
  .changeset/eight-heads-act.md
  packages/backend/src/api/__tests__/ClientApi.test.ts
  packages/backend/src/api/endpoints/ClientApi.ts
  packages/backend/src/api/endpoints/HandshakePayloadApi.ts
  packages/backend/src/api/resources/HandshakePayload.ts
  packages/backend/src/tokens/__tests__/handshake.test.ts
  packages/backend/src/tokens/handshake.ts
  packages/backend/src/tokens/request.ts
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/utils/getClerkQueryParam.ts
Labels: clerk-js, backend

#5874 ci(repo): Version packages
  .changeset/chubby-memes-pull.md
  .changeset/eight-heads-act.md
  .changeset/famous-fans-create.md
  .changeset/five-tips-own.md
  .changeset/lazy-frogs-breathe.md
  .changeset/nine-bats-design.md
  .changeset/pink-wolves-juggle.md
  .changeset/polite-hands-film.md
  .changeset/purple-ghosts-win.md
  .changeset/red-corners-show.md
  .changeset/rude-friends-create.md
  .changeset/smart-horses-wish.md
  .changeset/ten-forks-shout.md
  .changeset/twenty-monkeys-camp.md
  .changeset/two-keys-act.md
  packages/agent-toolkit/CHANGELOG.md
  packages/agent-toolkit/package.json
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/expo-passkeys/CHANGELOG.md
  packages/expo-passkeys/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/tanstack-react-start/CHANGELOG.md
  packages/tanstack-react-start/package.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, expo, chrome-extension, themes, elements, express, testing, tanstack, astro, react-router, nuxt, vue, agent-toolkit

#5883 refactor(clerk-js): Improve switching between plans flows
  .changeset/little-cases-knock.md
  packages/clerk-js/bundlewatch.config.json
  packages/clerk-js/src/ui/components/PricingTable/PricingTableDefault.tsx
  packages/clerk-js/src/ui/contexts/components/Plans.tsx
Labels: clerk-js

#5907 fix(localizations): Export `mn-Mn`
  .changeset/good-wasps-find.md
  packages/localizations/src/index.ts
Labels: localizations

#5892 chore(localizations): Add Billing to de-DE
  .changeset/bright-wombats-invite.md
  packages/localizations/src/de-DE.ts
  packages/localizations/src/en-US.ts
Labels: localizations

#5887 fix(clerk-js): Remove navbar icon shift in safari
  .changeset/stupid-gifts-juggle.md
  packages/clerk-js/src/ui/elements/Navbar.tsx
Labels: clerk-js

#5910 chore(tanstack-react-start): Make `clerkClient()` options parameter optional
  .changeset/breezy-pillows-marry.md
  packages/tanstack-react-start/src/server/clerkClient.ts
Labels: tanstack

#5913 fix(clerk-js): Revalidate payment methods after checking out with test card
  .changeset/lovely-waves-beg.md
  .changeset/purple-mice-pay.md
  integration/tests/pricing-table.test.ts
  packages/clerk-js/bundlewatch.config.json
  packages/clerk-js/src/ui/components/Checkout/CheckoutForm.tsx
  packages/clerk-js/src/ui/components/PaymentSources/AddPaymentSource.tsx
  packages/clerk-js/src/ui/hooks/useFetch.ts
  packages/testing/src/playwright/unstable/page-objects/checkout.ts
Labels: clerk-js, integration, testing

#5914 chore(clerk-js): Bundle `useCheckout` with the Checkout component
  .changeset/pink-games-run.md
  packages/clerk-js/bundlewatch.config.json
  packages/clerk-js/src/ui/components/Checkout/CheckoutPage.tsx
  packages/clerk-js/src/ui/components/Checkout/useCheckout.ts
  packages/clerk-js/src/ui/hooks/index.ts
Labels: clerk-js

#5911 chore(vue,nuxt): Add satellite application types
  .changeset/four-mangos-punch.md
  packages/nuxt/src/module.ts
  packages/vue/src/plugin.ts
Labels: nuxt, vue

#5906 fix(clerk-js): Ensure RTL is supported within Drawer component
  .changeset/slick-pets-love.md
  packages/clerk-js/bundlewatch.config.json
  packages/clerk-js/src/ui/components/Plans/PlanDetails.tsx
  packages/clerk-js/src/ui/components/PricingTable/PricingTableDefault.tsx
  packages/clerk-js/src/ui/elements/Drawer.tsx
  packages/clerk-js/src/ui/hooks/__tests__/useDirection.test.ts
  packages/clerk-js/src/ui/hooks/index.ts
  packages/clerk-js/src/ui/hooks/useDirection.ts
Labels: clerk-js

#5909 fix(clerk-js): Correctly pass newSubscriptionRedirectUrl to checkout drawer
  .changeset/tangy-facts-poke.md
  integration/templates/astro-node/src/pages/pricing-table.astro
  integration/templates/next-app-router/src/app/pricing-table/page.tsx
  integration/templates/nuxt-node/pages/pricing-table.vue
  integration/templates/vue-vite/src/views/PricingTable.vue
  integration/tests/pricing-table.test.ts
  packages/clerk-js/bundlewatch.config.json
  packages/clerk-js/src/ui/components/PricingTable/PricingTable.tsx
  packages/clerk-js/src/ui/contexts/components/Plans.tsx
  packages/clerk-js/src/ui/lazyModules/MountedCheckoutDrawer.tsx
Labels: clerk-js, integration

#5912 chore(clerk-js,types,localizations): Clean up empty subscription list
  .changeset/hip-dancers-write.md
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationBillingPage.tsx
  packages/clerk-js/src/ui/components/Subscriptions/SubscriptionsList.tsx
  packages/clerk-js/src/ui/components/UserProfile/BillingPage.tsx
  packages/localizations/src/en-US.ts
  packages/types/src/localization.ts
Labels: types, clerk-js, localizations

#5918 fix(clerk-js): PlanDetails heading spacing
  .changeset/fresh-lamps-serve.md
  packages/clerk-js/src/ui/components/Plans/PlanDetails.tsx
Labels: clerk-js

#5917 chore(repo): Use type checker from Vitest
  .changeset/hot-spies-breathe.md
  packages/nextjs/src/pages/__tests__/index.test.tsx
  packages/nextjs/src/utils/__tests__/debugLogger.test.ts
  packages/react/src/components/__tests__/OrganizationProfile.test.tsx
  packages/react/src/components/__tests__/OrganizationSwitcher.test.tsx
  packages/react/src/components/__tests__/SignIn.test.tsx
  packages/react/src/components/__tests__/SignUp.test.tsx
  packages/react/src/components/__tests__/UserButton.test.tsx
  packages/react/src/components/__tests__/UserProfile.test.tsx
  packages/react/src/contexts/__tests__/ClerkProvider.test.tsx
Labels: nextjs, react

#5894 feat(clerk-js): Introduce `WhatsApp` as an alternative phone code provider
  .changeset/cold-pianos-return.md
  packages/clerk-js/bundlewatch.config.json
  packages/clerk-js/src/core/resources/SignIn.ts
  packages/clerk-js/src/core/resources/UserSettings.ts
  packages/clerk-js/src/core/resources/Verification.ts
  packages/clerk-js/src/core/resources/__tests__/__snapshots__/Client.test.ts.snap
  packages/clerk-js/src/ui/common/ProviderInitialIcon.tsx
  packages/clerk-js/src/ui/components/SignIn/AlternativeMethods.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInAlternativePhoneCodePhoneNumberCard.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInFactorOne.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInFactorOneCodeForm.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInFactorOnePhoneCodeCard.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInSocialButtons.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInStart.tsx
  packages/clerk-js/src/ui/components/SignIn/handleCombinedFlowTransfer.ts
  packages/clerk-js/src/ui/components/SignUp/SignUpAlternativePhoneCodePhoneNumberCard.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpContinue.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpPhoneCodeCard.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpSocialButtons.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpStart.tsx
  packages/clerk-js/src/ui/customizables/elementDescriptors.ts
  packages/clerk-js/src/ui/elements/Divider.tsx
  packages/clerk-js/src/ui/elements/Header.tsx
  packages/clerk-js/src/ui/elements/SocialButtons.tsx
  packages/clerk-js/src/ui/hooks/useEnabledThirdPartyProviders.tsx
  packages/localizations/src/en-US.ts
  packages/shared/package.json
  packages/shared/src/alternativePhoneCode.ts
  packages/types/src/appearance.ts
  packages/types/src/factors.ts
  packages/types/src/index.ts
  packages/types/src/json.ts
  packages/types/src/localization.ts
  packages/types/src/phoneCodeChannel.ts
  packages/types/src/phoneNumber.ts
  packages/types/src/signUp.ts
  packages/types/src/userSettings.ts
  packages/types/src/verification.ts
Labels: types, clerk-js, localizations

#5904 ci(repo): Version packages
  .changeset/breezy-pillows-marry.md
  .changeset/bright-wombats-invite.md
  .changeset/cold-pianos-return.md
  .changeset/cute-lemons-press.md
  .changeset/four-mangos-punch.md
  .changeset/fresh-lamps-serve.md
  .changeset/good-wasps-find.md
  .changeset/hip-dancers-write.md
  .changeset/hot-spies-breathe.md
  .changeset/little-cases-knock.md
  .changeset/lovely-waves-beg.md
  .changeset/pink-games-run.md
  .changeset/purple-mice-pay.md
  .changeset/slick-pets-love.md
  .changeset/stupid-gifts-juggle.md
  .changeset/tangy-facts-poke.md
  packages/agent-toolkit/CHANGELOG.md
  packages/agent-toolkit/package.json
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/expo-passkeys/CHANGELOG.md
  packages/expo-passkeys/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/tanstack-react-start/CHANGELOG.md
  packages/tanstack-react-start/package.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, expo, chrome-extension, themes, elements, express, testing, tanstack, astro, react-router, nuxt, vue, agent-toolkit

#5916 fix(clerk-js): Call setActive after closing checkout drawer
  .changeset/full-bushes-heal.md
  .changeset/long-bananas-agree.md
  integration/templates/next-app-router/src/app/pricing-table/page.tsx
  integration/tests/pricing-table.test.ts
  packages/clerk-js/bundlewatch.config.json
  packages/clerk-js/src/ui/Components.tsx
  packages/clerk-js/src/ui/components/Checkout/useCheckout.ts
  packages/clerk-js/src/ui/contexts/components/Plans.tsx
  packages/types/src/clerk.ts
Labels: types, clerk-js, integration

#5924 chore(clerk-js,types): Add drawer root descriptor
  .changeset/mighty-forks-joke.md
  packages/clerk-js/src/ui/customizables/elementDescriptors.ts
  packages/clerk-js/src/ui/elements/Drawer.tsx
  packages/clerk-js/src/ui/elements/Switch.tsx
  packages/types/src/appearance.ts
Labels: types, clerk-js

#5922 chore(clerk-js,types,localizations): Finish adding billing localizations
  .changeset/ready-places-arrive.md
  packages/clerk-js/bundlewatch.config.json
  packages/clerk-js/src/ui/components/Checkout/Checkout.tsx
  packages/clerk-js/src/ui/components/Checkout/CheckoutForm.tsx
  packages/clerk-js/src/ui/components/Checkout/CheckoutPage.tsx
  packages/clerk-js/src/ui/components/PaymentSources/AddPaymentSource.tsx
  packages/clerk-js/src/ui/components/Plans/PlanDetails.tsx
  packages/clerk-js/src/ui/components/PricingTable/PricingTableMatrix.tsx
  packages/clerk-js/src/ui/localization/localizationModifiers.ts
  packages/localizations/src/ar-SA.ts
  packages/localizations/src/be-BY.ts
  packages/localizations/src/bg-BG.ts
  packages/localizations/src/ca-ES.ts
  packages/localizations/src/cs-CZ.ts
  packages/localizations/src/da-DK.ts
  packages/localizations/src/de-DE.ts
  packages/localizations/src/el-GR.ts
  packages/localizations/src/en-GB.ts
  packages/localizations/src/en-US.ts
  packages/localizations/src/es-ES.ts
  packages/localizations/src/es-MX.ts
  packages/localizations/src/fi-FI.ts
  packages/localizations/src/fr-FR.ts
  packages/localizations/src/he-IL.ts
  packages/localizations/src/hr-HR.ts
  packages/localizations/src/hu-HU.ts
  packages/localizations/src/id-ID.ts
  packages/localizations/src/is-IS.ts
  packages/localizations/src/it-IT.ts
  packages/localizations/src/ja-JP.ts
  packages/localizations/src/ko-KR.ts
  packages/localizations/src/mn-MN.ts
  packages/localizations/src/nb-NO.ts
  packages/localizations/src/nl-BE.ts
  packages/localizations/src/nl-NL.ts
  packages/localizations/src/pl-PL.ts
  packages/localizations/src/pt-BR.ts
  packages/localizations/src/pt-PT.ts
  packages/localizations/src/ro-RO.ts
  packages/localizations/src/ru-RU.ts
  packages/localizations/src/sk-SK.ts
  packages/localizations/src/sr-RS.ts
  packages/localizations/src/sv-SE.ts
  packages/localizations/src/th-TH.ts
  packages/localizations/src/tr-TR.ts
  packages/localizations/src/uk-UA.ts
  packages/localizations/src/vi-VN.ts
  packages/localizations/src/zh-CN.ts
  packages/localizations/src/zh-TW.ts
  packages/types/src/localization.ts
Labels: types, clerk-js, localizations

#5925 feat(types,clerk-js): Add `oidcPrompt` prop to `SignIn/SignUp` components
  .changeset/dirty-keys-heal.md
  packages/clerk-js/bundlewatch.config.json
  packages/clerk-js/src/core/resources/SignIn.ts
  packages/clerk-js/src/core/resources/SignUp.ts
  packages/clerk-js/src/ui/components/SignIn/SignInSocialButtons.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInStart.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpContinue.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpSocialButtons.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpStart.tsx
  packages/clerk-js/src/utils/completeSignUpFlow.ts
  packages/types/src/clerk.ts
  packages/types/src/factors.ts
  packages/types/src/redirects.ts
Labels: types, clerk-js

#5926 feat(clerk-js,types): Add __experimental_startPath to `openOrganizationProfile`
  .changeset/cute-hoops-find.md
  packages/clerk-js/src/ui/Components.tsx
  packages/types/src/clerk.ts
Labels: types, clerk-js

#5921 fix(clerk-js): Preven't checkout data from being stale
  .changeset/smart-hats-run.md
  packages/clerk-js/src/ui/components/Checkout/useCheckout.ts
Labels: clerk-js

#5931 fix(clerk-js): Nested `<p/>` after billing localizations
  .changeset/few-heads-fall.md
  packages/clerk-js/src/ui/components/PaymentSources/AddPaymentSource.tsx
Labels: clerk-js

#5933 chore(clerk-js): Hide set as default from default MFA's action menu
  .changeset/breezy-snakes-hide.md
  packages/clerk-js/src/ui/components/UserProfile/MfaSection.tsx
Labels: clerk-js

#5929 fix(clerk-js): Invalidate checkout data on unmount
  .changeset/slimy-baths-wait.md
  .changeset/strong-years-bathe.md
  integration/tests/pricing-table.test.ts
  packages/clerk-js/src/ui/components/Checkout/CheckoutPage.tsx
  packages/clerk-js/src/ui/components/Checkout/useCheckout.ts
  packages/testing/src/playwright/unstable/page-objects/checkout.ts
  packages/testing/src/playwright/unstable/page-objects/pricingTable.ts
Labels: clerk-js, integration, testing

#5930 chore(nextjs): Restrict keyless to session auth
  packages/nextjs/src/server/clerkMiddleware.ts
  packages/nextjs/src/server/data/getAuthDataFromRequest.ts
Labels: nextjs

#5936 fix(clerk-js): Only lock scroll when Drawer is using fixed strategy
  .changeset/plain-keys-visit.md
  packages/clerk-js/src/ui/elements/Drawer.tsx
Labels: clerk-js

#5927 chore(repo): Optimize ci.yml
  .github/workflows/ci.yml
Labels: actions

#5932 chore(clerk-js): useCheckout with useSWRMutate
  .changeset/floppy-bananas-itch.md
  integration/testUtils/usersService.ts
  integration/tests/pricing-table.test.ts
  packages/clerk-js/bundlewatch.config.json
  packages/clerk-js/package.json
  packages/clerk-js/src/ui/components/Checkout/CheckoutPage.tsx
  packages/clerk-js/src/ui/components/Checkout/useCheckout.ts
  pnpm-lock.yaml
Labels: clerk-js, integration

#5920 ci(repo): Version packages
  .changeset/breezy-snakes-hide.md
  .changeset/cute-hoops-find.md
  .changeset/dirty-keys-heal.md
  .changeset/few-heads-fall.md
  .changeset/floppy-bananas-itch.md
  .changeset/full-bushes-heal.md
  .changeset/long-bananas-agree.md
  .changeset/mighty-forks-joke.md
  .changeset/plain-keys-visit.md
  .changeset/ready-places-arrive.md
  .changeset/slimy-baths-wait.md
  .changeset/smart-hats-run.md
  .changeset/strong-years-bathe.md
  packages/agent-toolkit/CHANGELOG.md
  packages/agent-toolkit/package.json
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/expo-passkeys/CHANGELOG.md
  packages/expo-passkeys/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/tanstack-react-start/CHANGELOG.md
  packages/tanstack-react-start/package.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, expo, chrome-extension, themes, elements, express, testing, tanstack, astro, react-router, nuxt, vue, agent-toolkit

#5941 chore(repo): Pin version of pkg-pr-new
  .github/workflows/ci.yml
Labels: actions

#5942 fix(clerk-js): Fix showing alternative phone code provider when no other SSO exists
  .changeset/lazy-mugs-bet.md
  packages/clerk-js/src/ui/components/SignUp/SignUpStart.tsx
Labels: clerk-js

#5948 fix(clerk-js): Translate username error in username form
  .changeset/slick-windows-listen.md
  packages/clerk-js/src/ui/components/UserProfile/UsernameForm.tsx
Labels: clerk-js

#5919 fix(backend): Use domain only for satellite apps
  .changeset/moody-clouds-smile.md
  integration/tests/handshake.test.ts
  packages/backend/src/tokens/authenticateContext.ts
  packages/clerk-js/bundlewatch.config.json
  packages/shared/src/__tests__/keys.test.ts
  packages/shared/src/keys.ts
Labels: clerk-js, backend, integration

#5951 fix(clerk-js): Ensure drawers render above keyless prompt
  .changeset/lazy-laws-sniff.md
  packages/clerk-js/src/ui/components/KeylessPrompt/index.tsx
Labels: clerk-js

#5963 chore(clerk-js): Allow removal of payment methods when no active subscriptions
  .changeset/full-boxes-learn.md
  packages/clerk-js/src/ui/components/PaymentSources/PaymentSources.tsx
Labels: clerk-js

#5940 feat(clerk-js): Add checkout success animation
  .changeset/odd-poems-strive.md
  packages/clerk-js/bundlewatch.config.json
  packages/clerk-js/src/ui/components/Checkout/CheckoutComplete.tsx
  packages/clerk-js/src/ui/customizables/elementDescriptors.ts
  packages/types/src/appearance.ts
Labels: types, clerk-js

#5962 feat(backend): Bulk create and send organization invitations
  .changeset/honest-crabs-go.md
  packages/backend/src/api/endpoints/OrganizationApi.ts
  packages/backend/src/api/request.ts
Labels: backend

#5949 ci(repo): Version packages
  .changeset/four-lamps-drive.md
  .changeset/full-boxes-learn.md
  .changeset/honest-crabs-go.md
  .changeset/lazy-laws-sniff.md
  .changeset/moody-clouds-smile.md
  .changeset/odd-poems-strive.md
  .changeset/slick-windows-listen.md
  packages/agent-toolkit/CHANGELOG.md
  packages/agent-toolkit/package.json
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/expo-passkeys/CHANGELOG.md
  packages/expo-passkeys/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/tanstack-react-start/CHANGELOG.md
  packages/tanstack-react-start/package.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, expo, chrome-extension, themes, elements, express, testing, tanstack, astro, react-router, nuxt, vue, agent-toolkit

#5946 fix(clerk-js): Remove cancel button from free plan
  .changeset/famous-wolves-open.md
  packages/clerk-js/src/ui/components/Plans/PlanDetails.tsx
Labels: clerk-js

#5842 chore(backend,express): Introduce `treatPendingAsSignedOut` option to `getAuth`
  .changeset/flat-papers-begin.md
  packages/backend/src/tokens/authObjects.ts
  packages/backend/src/tokens/authStatus.ts
  packages/backend/src/tokens/request.ts
  packages/express/src/__tests__/helpers.ts
  packages/express/src/__tests__/requireAuth.test.ts
  packages/express/src/authenticateRequest.ts
  packages/express/src/getAuth.ts
  packages/express/src/requireAuth.ts
  packages/express/src/types.ts
Labels: backend, express

#5756 chore(backend,nextjs): Introduce `treatPendingAsSignedOut` option to server-side utilities and control components
  .changeset/tender-brooms-look.md
  packages/nextjs/src/app-router/server/auth.ts
  packages/nextjs/src/app-router/server/controlComponents.tsx
  packages/nextjs/src/server/clerkMiddleware.ts
  packages/nextjs/src/server/createGetAuth.ts
  packages/nextjs/src/server/data/getAuthDataFromRequest.ts
Labels: nextjs

#5757 chore(astro): Introduce `treatPendingAsSignedOut` option to server-side utilities
  .changeset/sixty-carpets-stare.md
  packages/astro/src/server/clerk-middleware.ts
  packages/astro/src/server/get-auth.ts
Labels: astro

#5972 fix(clerk-js): Check for email/phone in combined flow
  .changeset/new-coins-attend.md
  packages/clerk-js/bundlewatch.config.json
  packages/clerk-js/src/ui/components/SignUp/SignUpStart.tsx
  packages/clerk-js/src/ui/components/SignUp/__tests__/signUpFormHelpers.test.ts
  packages/clerk-js/src/ui/components/SignUp/signUpFormHelpers.ts
Labels: clerk-js

#5981 refactor(backend): Fix handshake redirect loop detection
  .changeset/tall-insects-mix.md
  packages/backend/src/tokens/__tests__/handshake.test.ts
  packages/backend/src/tokens/handshake.ts
Labels: backend

#5974 chore(e2e): Clean up users with test phone numbers
  .changeset/polite-flies-kick.md
  integration/cleanup/cleanup.setup.ts
  integration/testUtils/usersService.ts
  integration/tests/whatsapp-phone-code.test.ts
Labels: integration

#5968 ci(repo): Version packages
  .changeset/brown-chairs-invite.md
  .changeset/famous-wolves-open.md
  .changeset/flat-papers-begin.md
  .changeset/hip-snakes-fetch.md
  .changeset/modern-fans-tease.md
  .changeset/new-coins-attend.md
  .changeset/polite-flies-kick.md
  .changeset/proud-clouds-punch.md
  .changeset/sixty-carpets-stare.md
  .changeset/spotty-jars-find.md
  .changeset/tall-insects-mix.md
  .changeset/tender-brooms-look.md
  packages/agent-toolkit/CHANGELOG.md
  packages/agent-toolkit/package.json
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/expo-passkeys/CHANGELOG.md
  packages/expo-passkeys/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/tanstack-react-start/CHANGELOG.md
  packages/tanstack-react-start/package.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Labels: clerk-js, nextjs, react, remix, backend, fastify, expo, chrome-extension, elements, express, testing, tanstack, astro, react-router, nuxt, vue, agent-toolkit

#5939 chore(clerk-js): Use SWR for commerce queries
  .changeset/cuddly-needles-say.md
  integration/tests/pricing-table.test.ts
  packages/clerk-js/src/ui/components/Checkout/CheckoutForm.tsx
  packages/clerk-js/src/ui/components/Checkout/CheckoutPage.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationBillingPage.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationPlansPage.tsx
  packages/clerk-js/src/ui/components/PaymentSources/AddPaymentSource.tsx
  packages/clerk-js/src/ui/components/PaymentSources/PaymentSources.tsx
  packages/clerk-js/src/ui/components/Plans/PlanDetails.tsx
  packages/clerk-js/src/ui/components/PricingTable/PricingTable.tsx
  packages/clerk-js/src/ui/components/PricingTable/PricingTableMatrix.tsx
  packages/clerk-js/src/ui/components/Statements/StatementPage.tsx
  packages/clerk-js/src/ui/components/Statements/StatementsList.tsx
  packages/clerk-js/src/ui/components/Subscriptions/SubscriptionsList.tsx
  packages/clerk-js/src/ui/components/UserProfile/BillingPage.tsx
  packages/clerk-js/src/ui/components/UserProfile/PlansPage.tsx
  packages/clerk-js/src/ui/contexts/ClerkUIComponentsContext.tsx
  packages/clerk-js/src/ui/contexts/components/Plans.tsx
  packages/clerk-js/src/ui/contexts/components/Statements.tsx
  packages/clerk-js/src/ui/types.ts
  packages/types/src/commerce.ts
Labels: types, clerk-js, integration

#5975 fix(clerk-js): Allow removal of all payment methods if no paid subs
  .changeset/dark-tips-strive.md
  packages/clerk-js/src/ui/components/PaymentSources/PaymentSources.tsx
Labels: clerk-js

#5984 fix(clerk-js): Pass full statement id as value
  .changeset/poor-results-lay.md
  packages/clerk-js/src/ui/components/Statements/StatementPage.tsx
Labels: clerk-js

#5985 chore(e2e): Update logging
  .changeset/smart-cycles-try.md
  integration/cleanup/cleanup.setup.ts
Labels: integration

#5976 chore(clerk-js): Remove barrel file
  .changeset/orange-kiwis-attack.md
  packages/clerk-js/src/ui/elements/contexts/FloatingTreeContext.tsx
  packages/clerk-js/src/ui/elements/contexts/FlowMetadataContext.tsx
  packages/clerk-js/src/ui/elements/contexts/index.ts
  packages/clerk-js/src/ui/elements/contexts/index.tsx
Labels: clerk-js

#5979 chore(clerk-js): Remove barrel file
  .changeset/tasty-steaks-bow.md
  packages/clerk-js/src/ui/elements/CaptchaElement.tsx
  packages/clerk-js/src/utils/captcha/index.ts
Labels: clerk-js

#5987 fix(backend): Add missing req params to `getOrganizationMembershipList`
  .changeset/wide-seas-check.md
  packages/backend/src/api/endpoints/OrganizationApi.ts
Labels: backend

#5990 fix(clerk): Do not throttle touch for multisession apps
  .changeset/rotten-trams-rush.md
  packages/clerk-js/src/core/clerk.ts
Labels: clerk-js

#6011 fix(localizations): Improve de-DE "Clerk Billing"
  .changeset/rare-cups-fetch.md
  packages/localizations/src/de-DE.ts
Labels: localizations

#5991 refactor(clerk-js): Update checkout success highlight approach
  .changeset/rotten-banks-rush.md
  packages/clerk-js/bundlewatch.config.json
  packages/clerk-js/src/ui/components/Checkout/CheckoutComplete.tsx
  packages/clerk-js/src/ui/customizables/elementDescriptors.ts
  packages/types/src/appearance.ts
Labels: types, clerk-js

#5983 ci(repo): Version packages
  .changeset/common-lions-occur.md
  .changeset/cuddly-needles-say.md
  .changeset/dark-tips-strive.md
  .changeset/kind-times-type.md
  .changeset/orange-kiwis-attack.md
  .changeset/poor-results-lay.md
  .changeset/rare-cups-fetch.md
  .changeset/rotten-banks-rush.md
  .changeset/rotten-trams-rush.md
  .changeset/smart-cycles-try.md
  .changeset/tasty-steaks-bow.md
  .changeset/weak-kings-ring.md
  .changeset/wide-seas-check.md
  packages/agent-toolkit/CHANGELOG.md
  packages/agent-toolkit/package.json
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/expo-passkeys/CHANGELOG.md
  packages/expo-passkeys/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/tanstack-react-start/CHANGELOG.md
  packages/tanstack-react-start/package.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, expo, chrome-extension, themes, elements, express, testing, tanstack, astro, react-router, nuxt, vue, agent-toolkit

#5952 chore(clerk-js): Refactor CheckoutPage into composable stages
  .changeset/heavy-banks-talk.md
  packages/clerk-js/bundlewatch.config.json
  packages/clerk-js/src/ui/components/Checkout/Checkout.tsx
  packages/clerk-js/src/ui/components/Checkout/CheckoutComplete.tsx
  packages/clerk-js/src/ui/components/Checkout/CheckoutForm.tsx
  packages/clerk-js/src/ui/components/Checkout/CheckoutPage.tsx
  packages/clerk-js/src/ui/components/Checkout/parts.tsx
  packages/clerk-js/src/ui/components/Checkout/useCheckout.ts
Labels: clerk-js

#5988 fix(shared,backend): Allow for old org_role format in JWT v1 where `org:` is missing
  .changeset/forty-trains-fail.md
  packages/backend/src/tokens/__tests__/authObjects.test.ts
  packages/shared/src/authorization.ts
Labels: backend

#5989 fix(clerk-js): Check active session ID before setting cookie
  .changeset/cool-comics-crash.md
  packages/clerk-js/src/core/auth/AuthCookieService.ts
Labels: clerk-js

#5992 fix(clerk-js): Do not treat phone_number as optional if used as identifier
  .changeset/little-wings-bathe.md
  packages/clerk-js/src/ui/components/SignIn/__tests__/handleCombinedFlowTransfer.test.ts
  packages/clerk-js/src/ui/components/SignIn/handleCombinedFlowTransfer.ts
Labels: clerk-js

#6022 feat(backend): Add `getInstanceOrganizationMembershipList`
  .changeset/angry-clouds-prove.md
  packages/backend/src/api/endpoints/OrganizationApi.ts
Labels: backend

#6029 fix(e2e): Fix E2E cleanup script
  .changeset/fuzzy-bags-tease.md
  integration/cleanup/cleanup.setup.ts
Labels: integration

#6015 ci(repo): Version packages
  .changeset/angry-clouds-prove.md
  .changeset/cool-comics-crash.md
  .changeset/crazy-readers-flow.md
  .changeset/fancy-cars-talk.md
  .changeset/forty-trains-fail.md
  .changeset/fuzzy-bags-tease.md
  .changeset/heavy-banks-talk.md
  .changeset/little-wings-bathe.md
  .changeset/pretty-parks-arrive.md
  .changeset/real-regions-bake.md
  .changeset/shaky-seas-dream.md
  .changeset/three-days-wash.md
  .changeset/three-olives-start.md
  packages/agent-toolkit/CHANGELOG.md
  packages/agent-toolkit/package.json
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/expo-passkeys/CHANGELOG.md
  packages/expo-passkeys/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/tanstack-react-start/CHANGELOG.md
  packages/tanstack-react-start/package.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, expo, chrome-extension, themes, elements, express, testing, tanstack, astro, react-router, nuxt, vue, agent-toolkit

#6024 fix(clerk-react): Initialize isomorphic clerk with `useRef`
  .changeset/shaky-ants-raise.md
  packages/react/src/contexts/ClerkContextProvider.tsx
Labels: react

#5928 chore(clerk-js): Tidy up layout and logic of PlanDetails drawer
  .changeset/metal-tips-joke.md
  packages/clerk-js/src/ui/components/Plans/PlanDetails.tsx
  packages/clerk-js/src/ui/components/PricingTable/PricingTableDefault.tsx
  packages/clerk-js/src/ui/contexts/components/Plans.tsx
  packages/clerk-js/src/ui/customizables/elementDescriptors.ts
  packages/types/src/appearance.ts
  packages/types/src/clerk.ts
Labels: types, clerk-js

#6033 chore(clerk-js,types): Use is_removable flag on payment sources
  .changeset/happy-bees-post.md
  packages/clerk-js/src/core/resources/CommercePaymentSource.ts
  packages/clerk-js/src/ui/components/PaymentSources/PaymentSources.tsx
  packages/types/src/commerce.ts
  packages/types/src/json.ts
Labels: types, clerk-js
