Repository clerk/javascript, pull requests merged in 2025-10, with the labels that each got.

#6892 chore(shared): Bump target/lib to ES2022
  .changeset/quiet-lobsters-greet.md
  eslint.config.mjs
  packages/clerk-js/vitest.config.mts
  packages/clerk-js/vitest.setup.mts
  packages/shared/src/__tests__/deprecated.test.ts
  packages/shared/src/react/hooks/useOrganization.tsx
  packages/shared/src/react/hooks/useOrganizationList.tsx
  packages/shared/tsconfig.json
  packages/shared/tsup.config.ts
Labels: clerk-js

#6861 fix(clerk-js): Improve appearance selectors for tasks
  .changeset/shy-times-wash.md
  packages/clerk-js/src/ui/components/SessionTasks/index.tsx
  packages/clerk-js/src/ui/components/SessionTasks/tasks/TaskChooseOrganization/index.tsx
  packages/clerk-js/src/ui/elements/contexts/index.tsx
Labels: clerk-js

#6909 fix(clerk-js): SignUpVerificationCodeForm back navigation for combined flows
  .changeset/puny-queens-dream.md
  packages/clerk-js/src/ui/components/SignUp/SignUpVerificationCodeForm.tsx
Labels: clerk-js

#6890 feat(clerk-js): Adding oidc logout to frontendApiRedirectPathsNoUserInput
  .changeset/gold-geckos-fix.md
  packages/clerk-js/src/utils/__tests__/url.test.ts
  packages/clerk-js/src/utils/url.ts
Labels: clerk-js

#6900 feat(clerk-expo): Add support for experimental Signal hooks
  .changeset/twelve-mammals-grab.md
  packages/expo/package.json
  packages/expo/src/experimental.ts
Labels: expo

#6893 ci(repo): Version packages
  .changeset/calm-yaks-ring.md
  .changeset/clean-islands-judge.md
  .changeset/famous-papers-build.md
  .changeset/gold-geckos-fix.md
  .changeset/loud-regions-reply.md
  .changeset/orange-peas-call.md
  .changeset/puny-queens-dream.md
  .changeset/quick-ghosts-fail.md
  .changeset/quiet-lobsters-greet.md
  .changeset/shy-times-wash.md
  .changeset/twelve-mammals-grab.md
  .changeset/wet-mails-yawn.md
  packages/agent-toolkit/CHANGELOG.md
  packages/agent-toolkit/package.json
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/expo-passkeys/CHANGELOG.md
  packages/expo-passkeys/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/tanstack-react-start/CHANGELOG.md
  packages/tanstack-react-start/package.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, expo, chrome-extension, themes, elements, express, testing, tanstack, astro, react-router, nuxt, vue, agent-toolkit

#6897 feat(clerk-js,clerk-react,types): Add support for additional props
  .changeset/weak-deer-tie.md
  integration/templates/custom-flows-react-vite/src/routes/SignIn.tsx
  packages/clerk-js/src/core/resources/SignIn.ts
  packages/clerk-js/src/core/resources/SignUp.ts
  packages/react/src/stateProxy.ts
  packages/types/src/signInFuture.ts
  packages/types/src/signUpFuture.ts
Labels: types, clerk-js, react, integration

#6903 feat(clerk-js,types): Display organization slug based on environment settings
  .changeset/dull-paws-march.md
  packages/clerk-js/src/core/resources/OrganizationSettings.ts
  packages/clerk-js/src/test/fixture-helpers.ts
  packages/clerk-js/src/test/fixtures.ts
  packages/clerk-js/src/ui/components/CreateOrganization/CreateOrganizationForm.tsx
  packages/clerk-js/src/ui/components/CreateOrganization/__tests__/CreateOrganization.test.tsx
  packages/clerk-js/src/ui/components/OrganizationList/__tests__/OrganizationList.test.tsx
  packages/clerk-js/src/ui/components/SessionTasks/tasks/TaskChooseOrganization/CreateOrganizationScreen.tsx
  packages/clerk-js/src/ui/components/SessionTasks/tasks/TaskChooseOrganization/__tests__/TaskChooseOrganization.test.tsx
  packages/types/src/clerk.ts
  packages/types/src/organizationSettings.ts
Labels: types, clerk-js

#6928 Revert "fix(nuxt): Prevent Nuxt route middlewares from seeing intermediate states during navigation"
  .changeset/ten-poets-agree.md
  packages/nuxt/src/runtime/plugin.ts
Labels: nuxt

#6929 ci(repo): Version packages
  .changeset/dull-paws-march.md
  .changeset/fresh-waves-sneeze.md
  .changeset/ten-poets-agree.md
  .changeset/weak-deer-tie.md
  packages/agent-toolkit/CHANGELOG.md
  packages/agent-toolkit/package.json
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/elements/CHANGELOG.md
  packages/elements/package.json
  packages/expo-passkeys/CHANGELOG.md
  packages/expo-passkeys/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/localizations/CHANGELOG.md
  packages/localizations/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/tanstack-react-start/CHANGELOG.md
  packages/tanstack-react-start/package.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
  packages/themes/CHANGELOG.md
  packages/themes/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Labels: types, clerk-js, nextjs, react, remix, backend, fastify, localizations, expo, chrome-extension, themes, elements, express, testing, tanstack, astro, react-router, nuxt, vue, agent-toolkit

#6932 fix(clerk-js): Add private _create method for use inside runAsyncResourceTask
  .changeset/giant-cats-lay.md
  .changeset/purple-toys-refuse.md
  packages/clerk-js/src/core/resources/SignIn.ts
  packages/clerk-js/src/core/resources/SignUp.ts
  packages/types/src/signInFuture.ts
  packages/types/src/signUpFuture.ts
Labels: types, clerk-js

#6935 fix(vue): Prevent boolean prop coercion for SignIn component props
  .changeset/eight-horses-nail.md
  packages/vue/src/components/ui-components/SignIn.vue
Labels: vue

#6910 chore(backend): Add helper type for auth helpers without request parameters
  .changeset/real-trainers-knock.md
  .typedoc/__tests__/__snapshots__/file-structure.test.ts.snap
  packages/astro/src/server/clerk-middleware.ts
  packages/astro/src/server/types.ts
  packages/backend/src/internal.ts
  packages/backend/src/tokens/__tests__/getAuth.test-d.ts
  packages/backend/src/tokens/types.ts
  packages/express/src/getAuth.ts
  packages/fastify/src/getAuth.ts
  packages/nextjs/src/app-router/server/auth.ts
  packages/nextjs/src/server/clerkMiddleware.ts
  packages/nuxt/src/runtime/server/__tests__/auth.test-d.ts
  packages/nuxt/src/runtime/server/types.ts
  packages/tanstack-react-start/src/server/getAuth.ts
Labels: nextjs, backend, fastify, express, tanstack, astro, nuxt

#6881 chore(localizations): Update pt-BR localization
  .changeset/wicked-rabbits-impress.md
  packages/localizations/src/pt-BR.ts
Labels: localizations
