Repository clerk/javascript, pull requests merged in 2025-09, with the labels that each got.

#6661 refactor(clerk-js,types): Add `phoneNumber` & `email` to `password` method
  .changeset/rare-results-leave.md
  packages/clerk-js/src/core/resources/SignIn.ts
  packages/clerk-js/src/core/resources/SignUp.ts
  packages/types/src/signInFuture.ts
  packages/types/src/signUpFuture.ts
Labels: types, clerk-js

#6662 fix(types): Change return type of SetActiveNavigate to allow void or Promise
  .changeset/nice-pans-jog.md
  packages/types/src/clerk.ts
Labels: types

#6681 fix(e2e): Patch flaky billing tests
  .changeset/chilly-kids-fly.md
  integration/tests/pricing-table.test.ts
Labels: integration

#6683 fix(types): Update tsup configuration to conditionally generate declarations based on watch mode
  .changeset/green-dingos-flow.md
  packages/types/tsup.config.ts
Labels: types

#6684 feat(backend): Add `subscriptionItem.freeTrialEnding` event
  .changeset/short-ravens-sell.md
  packages/backend/src/api/resources/Webhooks.ts
Labels: backend

#6686 chore(clerk-js): Prefer popup flow for .lp.dev origins
  .changeset/shy-places-grab.md
  packages/clerk-js/src/ui/utils/__tests__/originPrefersPopup.spec.ts
  packages/clerk-js/src/ui/utils/originPrefersPopup.ts
Labels: clerk-js

#6687 fix(backend): Use correct name for subscription past due event
  .changeset/four-mice-crash.md
  packages/backend/src/api/resources/Webhooks.ts
Labels: backend, do not merge

#6685 ci(repo): Version packages
  .changeset/four-mice-crash.md
  .changeset/ninety-crews-find.md
  .changeset/short-ravens-sell.md
  .changeset/shy-places-grab.md
  packages/agent-toolkit/CHANGELOG.md
  packages/agent-toolkit/package.json
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/chrome-extension/CHANGELOG.md
  packages/chrome-extension/package.json
  packages/clerk-js/CHANGELOG.md
  packages/clerk-js/package.json
  packages/expo/CHANGELOG.md
  packages/expo/package.json
  packages/express/CHANGELOG.md
  packages/express/package.json
  packages/fastify/CHANGELOG.md
  packages/fastify/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package.json
  packages/nuxt/CHANGELOG.md
  packages/nuxt/package.json
  packages/react-router/CHANGELOG.md
  packages/react-router/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/tanstack-react-start/CHANGELOG.md
  packages/tanstack-react-start/package.json
  packages/testing/CHANGELOG.md
  packages/testing/package.json
Labels: clerk-js, nextjs, remix, backend, fastify, expo, chrome-extension, express, testing, tanstack, astro, react-router, nuxt, agent-toolkit

#6694 fix(nextjs): Resolve path module import error in keyless-telemetry
  .changeset/angry-cobras-confess.md
  packages/nextjs/src/server/keyless-telemetry.ts
Labels: nextjs

#6677 fix(types, clerk-js): Update Errors interface to allow null for raw and global error arrays
  .changeset/smart-seas-breathe.md
  packages/clerk-js/src/core/signals.ts
  packages/react/src/stateProxy.ts
  packages/types/src/state.ts
Labels: types, clerk-js, react

#6537 feat(nextjs): Include additional headers for Next.js keyless app creation
  .changeset/chatty-ways-bathe.md
  packages/nextjs/src/__tests__/keyless-custom-headers.test.ts
  packages/nextjs/src/server/keyless-custom-headers.ts
Labels: nextjs

#6692 docs(types): Document setActive reference for the hooks using it
  .changeset/fine-masks-judge.md
  packages/types/src/hooks.ts
Labels: types

#6695 fix(clerk-js): Prepare calls would fire only once
  .changeset/crazy-days-tan.md
  packages/clerk-js/src/ui/components/SignIn/SignInFactorOneCodeForm.tsx
  packages/clerk-js/src/ui/components/SignIn/__tests__/SignInFactorOneCodeForm.spec.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpEmailCodeCard.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpPhoneCodeCard.tsx
  packages/clerk-js/src/ui/hooks/useFetch.ts
Labels: clerk-js

#6706 fix(clerk-js): Remove double slash from FAPI client urls
  .changeset/fluffy-comics-peel.md
  packages/clerk-js/src/core/__tests__/fapiClient.spec.ts
  packages/clerk-js/src/core/fapiClient.ts
Labels: clerk-js

#6696 fix(clerk-js): Hide billing tab when appropriate
  .changeset/grumpy-bags-bow.md
  .changeset/mighty-lions-cut.md
  packages/clerk-js/src/ui/components/Checkout/__tests__/Checkout.test.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationProfileRoutes.tsx
  packages/clerk-js/src/ui/components/OrganizationProfile/index.tsx
  packages/clerk-js/src/ui/components/PricingTable/__tests__/PricingTable.test.tsx
  packages/clerk-js/src/ui/components/SubscriptionDetails/__tests__/SubscriptionDetails.test.tsx
  packages/clerk-js/src/ui/components/Subscriptions/__tests__/SubscriptionsList.test.tsx
  packages/clerk-js/src/ui/components/UserProfile/UserProfileRoutes.tsx
  packages/clerk-js/src/ui/components/UserProfile/__tests__/UserProfile.test.tsx
  packages/clerk-js/src/ui/contexts/components/OrganizationProfile.ts
  packages/clerk-js/src/ui/contexts/components/UserProfile.ts
  packages/clerk-js/src/ui/utils/createCustomPages.tsx
  packages/clerk-js/src/ui/utils/test/fixtureHelpers.ts
  packages/clerk-js/src/ui/utils/test/fixtures.ts
  packages/shared/src/react/hooks/createCommerceHook.tsx
  packages/shared/src/react/hooks/useSubscription.tsx
Labels: clerk-js

#6711 fix(elements): Correctly specify dependency on `type-fest` package
  .changeset/silent-women-dance.md
  packages/elements/package.json
  pnpm-lock.yaml
Labels: elements

#6671 feat(astro): Introduce machine authentication
  .changeset/floppy-tigers-push.md
  integration/tests/astro/machine.test.ts
  packages/astro/env.d.ts
  packages/astro/src/server/clerk-middleware.ts
  packages/astro/src/server/current-user.ts
  packages/astro/src/server/get-auth.ts
  packages/astro/src/server/index.ts
  packages/astro/src/server/types.ts
Labels: integration, astro

#6713 Update cs-CZ.ts
  .changeset/wild-pots-grab.md
  packages/localizations/src/cs-CZ.ts
Labels: localizations

#6717 fix(localizations): Fix formatting of `cs-CZ` localization strings
  .changeset/brave-guests-kick.md
  packages/localizations/src/cs-CZ.ts
Labels: localizations

#6718 chore(clerk-expo): Accept `showInRecents` option for opening web browser on `useSSO`
  .changeset/odd-monkeys-rush.md
  packages/expo/src/hooks/useSSO.ts
Labels: expo

#6428 chore(clerk-js,localizations): Reposition manage subscription button
  .changeset/better-results-jump.md
  integration/tests/pricing-table.test.ts
  packages/clerk-js/src/ui/components/OrganizationProfile/OrganizationBillingPage.tsx
  packages/clerk-js/src/ui/components/Subscriptions/SubscriptionsList.tsx
  packages/clerk-js/src/ui/components/UserProfile/BillingPage.tsx
  packages/clerk-js/src/ui/customizables/elementDescriptors.ts
  packages/clerk-js/src/ui/elements/ArrowBlockButton.tsx
  packages/clerk-js/src/ui/elements/Section.tsx
  packages/localizations/src/ar-SA.ts
  packages/localizations/src/be-BY.ts
  packages/localizations/src/bg-BG.ts
  packages/localizations/src/bn-IN.ts
  packages/localizations/src/ca-ES.ts
  packages/localizations/src/cs-CZ.ts
  packages/localizations/src/da-DK.ts
  packages/localizations/src/de-DE.ts
  packages/localizations/src/el-GR.ts
  packages/localizations/src/en-GB.ts
  packages/localizations/src/en-US.ts
  packages/localizations/src/es-CR.ts
  packages/localizations/src/es-ES.ts
  packages/localizations/src/es-MX.ts
  packages/localizations/src/es-UY.ts
  packages/localizations/src/fa-IR.ts
  packages/localizations/src/fi-FI.ts
  packages/localizations/src/fr-FR.ts
  packages/localizations/src/he-IL.ts
  packages/localizations/src/hi-IN.ts
  packages/localizations/src/hr-HR.ts
  packages/localizations/src/hu-HU.ts
  packages/localizations/src/id-ID.ts
  packages/localizations/src/is-IS.ts
  packages/localizations/src/it-IT.ts
  packages/localizations/src/ja-JP.ts
  packages/localizations/src/kk-KZ.ts
  packages/localizations/src/ko-KR.ts
  packages/localizations/src/mn-MN.ts
  packages/localizations/src/ms-MY.ts
  packages/localizations/src/nb-NO.ts
  packages/localizations/src/nl-BE.ts
  packages/localizations/src/nl-NL.ts
  packages/localizations/src/pl-PL.ts
  packages/localizations/src/pt-BR.ts
  packages/localizations/src/pt-PT.ts
  packages/localizations/src/ro-RO.ts
  packages/localizations/src/ru-RU.ts
  packages/localizations/src/sk-SK.ts
  packages/localizations/src/sr-RS.ts
  packages/localizations/src/sv-SE.ts
  packages/localizations/src/ta-IN.ts
  packages/localizations/src/te-IN.ts
  packages/localizations/src/th-TH.ts
  packages/localizations/src/tr-TR.ts
  packages/localizations/src/uk-UA.ts
  packages/localizations/src/vi-VN.ts
  packages/localizations/src/zh-CN.ts
  packages/localizations/src/zh-TW.ts
  packages/types/src/appearance.ts
  packages/types/src/localization.ts
Labels: types, clerk-js, localizations, integration

#6736 fix(e2e): Flaky revalidation tests
  .changeset/huge-poems-heal.md
  integration/tests/reverification.test.ts
Labels: integration

#6738 chore(clerk-js,shared): Removal of experimental `getSubscriptions`
  .changeset/chilly-dots-heal.md
  .changeset/upset-masks-ask.md
  .typedoc/__tests__/__snapshots__/file-structure.test.ts.snap
  packages/clerk-js/src/core/modules/commerce/CommerceBilling.ts
  packages/clerk-js/src/core/resources/Organization.ts
  packages/shared/src/react/hooks/useOrganization.tsx
  packages/types/src/commerce.ts
  packages/types/src/organization.ts
Labels: types, clerk-js

#6740 chore(nextjs): Accept `treatPendingAsSignedOut` option on `currentUser`
  .changeset/lemon-friends-build.md
  packages/nextjs/src/app-router/server/currentUser.ts
Labels: nextjs

#6745 chore(repo): Make curly rule work with eslint-config-prettier
  .changeset/pretty-buttons-knock.md
  eslint.config.mjs
  packages/backend/src/api/request.ts
  packages/backend/src/tokens/organizationMatcher.ts
  packages/clerk-js/src/core/modules/checkout/manager.ts
  packages/clerk-js/src/ui/components/ApiKeys/RevokeAPIKeyConfirmationModal.tsx
  packages/clerk-js/src/ui/components/Checkout/CheckoutComplete.tsx
  packages/clerk-js/src/ui/components/SessionTasks/index.tsx
  packages/clerk-js/src/ui/components/SignIn/SignInStart.tsx
  packages/clerk-js/src/ui/components/SignUp/SignUpStart.tsx
  packages/clerk-js/src/ui/customizables/parseVariables.ts
  packages/clerk-js/src/ui/elements/CaptchaElement.tsx
  packages/clerk-js/src/ui/elements/Drawer.tsx
  packages/clerk-js/src/ui/elements/Switch.tsx
  packages/clerk-js/src/ui/elements/Tooltip.tsx
  packages/clerk-js/src/ui/hooks/usePrefersReducedMotion.ts
  packages/clerk-js/src/ui/utils/__tests__/cssSupports.test.ts
  packages/clerk-js/src/ui/utils/colors/index.ts
  packages/clerk-js/src/ui/utils/colors/modern.ts
  packages/clerk-js/src/ui/utils/colors/scales.ts
  packages/clerk-js/src/ui/utils/colors/utils.ts
  packages/clerk-js/src/ui/utils/cssSupports.ts
  packages/clerk-js/src/ui/utils/timeAgo.ts
  packages/clerk-js/src/utils/authenticateWithPopup.ts
  packages/clerk-js/src/utils/localStorage.ts
  packages/clerk-js/src/utils/runtime.ts
  packages/dev-cli/src/commands/setup.js
  packages/express/src/authenticateRequest.ts
  packages/nextjs/src/__tests__/keyless-custom-headers.test.ts
  packages/nextjs/src/server/__tests__/content-security-policy.test.ts
  packages/nuxt/src/runtime/server/clerkMiddleware.ts
  packages/react/src/stateProxy.ts
  packages/shared/src/jwtPayloadParser.ts
  packages/shared/src/loadClerkJsScript.ts
  packages/shared/src/loadScript.ts
  packages/shared/src/react/commerce.tsx
  packages/shared/src/react/stripe-react/index.tsx
Labels: clerk-js, nextjs, react, backend, express, nuxt

#6748 feat(backend,clerk-expo): Add last authenitcation strategy
  .changeset/honest-banks-happen.md
  .changeset/warm-loops-roll.md
  packages/backend/src/api/resources/Client.ts
  packages/backend/src/api/resources/JSON.ts
  packages/expo/src/cache/dummy-data/client-resource.ts
Labels: backend, expo

#6750 fix(backend): Inconsistent create params for Invite & Org Invite
  .changeset/all-hats-float.md
  packages/backend/src/api/endpoints/InvitationApi.ts
  packages/backend/src/api/endpoints/OrganizationApi.ts
Labels: backend

#6751 feat(backend): Create bulk invitations
  .changeset/full-ducks-run.md
  packages/backend/src/api/endpoints/InvitationApi.ts
Labels: backend

#6753 fix(types): Update `OrganizationInvitationStatus` according to latest API reference
  .changeset/strong-hounds-trade.md
  packages/backend/src/api/resources/Enums.ts
Labels: backend

#6767 chore(backend): Add missing orderBy field to machine list params
  .changeset/gentle-lamps-collect.md
  packages/backend/src/api/endpoints/MachineApi.ts
Labels: backend

#6774 chore(backend): Add JSDoc around machines and m2m resource types
  .changeset/honest-plants-kneel.md
  .typedoc/__tests__/__snapshots__/file-structure.test.ts.snap
  packages/backend/src/api/resources/M2MToken.ts
  packages/backend/src/api/resources/Machine.ts
  packages/backend/src/api/resources/MachineScope.ts
  packages/backend/src/api/resources/MachineSecretKey.ts
Labels: backend

#6754 fix(clerk-js, chrome-extension): Hide stripe.js dependant flows from UP and OP
  .changeset/great-adults-nail.md
  packages/clerk-js/jest.config.js
  packages/clerk-js/src/ui/components/Checkout/CheckoutForm.tsx
  packages/clerk-js/src/ui/components/PaymentSources/PaymentSources.tsx
Labels: clerk-js

#6775 fix(types,clerk-js): Allow passing only `password` to `signIn.password`
  .changeset/thirty-rules-return.md
  packages/types/src/signInFuture.ts
Labels: types

#6781 chore(localizations): Update remaining locales
  .changeset/mighty-wasps-learn.md
  packages/localizations/src/ar-SA.ts
  packages/localizations/src/be-BY.ts
  packages/localizations/src/bg-BG.ts
  packages/localizations/src/bn-IN.ts
  packages/localizations/src/ca-ES.ts
  packages/localizations/src/cs-CZ.ts
  packages/localizations/src/da-DK.ts
  packages/localizations/src/de-DE.ts
  packages/localizations/src/el-GR.ts
  packages/localizations/src/es-CR.ts
  packages/localizations/src/es-ES.ts
  packages/localizations/src/es-MX.ts
  packages/localizations/src/es-UY.ts
  packages/localizations/src/fa-IR.ts
  packages/localizations/src/fi-FI.ts
  packages/localizations/src/fr-FR.ts
  packages/localizations/src/he-IL.ts
  packages/localizations/src/hi-IN.ts
  packages/localizations/src/hr-HR.ts
  packages/localizations/src/hu-HU.ts
  packages/localizations/src/id-ID.ts
  packages/localizations/src/is-IS.ts
  packages/localizations/src/it-IT.ts
  packages/localizations/src/ja-JP.ts
  packages/localizations/src/kk-KZ.ts
  packages/localizations/src/ko-KR.ts
  packages/localizations/src/mn-MN.ts
  packages/localizations/src/ms-MY.ts
  packages/localizations/src/nb-NO.ts
  packages/localizations/src/nl-BE.ts
  packages/localizations/src/nl-NL.ts
  packages/localizations/src/pl-PL.ts
  packages/localizations/src/pt-BR.ts
  packages/localizations/src/pt-PT.ts
  packages/localizations/src/ro-RO.ts
  packages/localizations/src/ru-RU.ts
  packages/localizations/src/sk-SK.ts
  packages/localizations/src/sr-RS.ts
  packages/localizations/src/sv-SE.ts
  packages/localizations/src/ta-IN.ts
  packages/localizations/src/te-IN.ts
  packages/localizations/src/th-TH.ts
  packages/localizations/src/tr-TR.ts
  packages/localizations/src/uk-UA.ts
  packages/localizations/src/vi-VN.ts
  packages/localizations/src/zh-CN.ts
  packages/localizations/src/zh-TW.ts
Labels: localizations

#6777 feat(clerk-js,shared): Add onBeforeRetry to FAPI client
  .changeset/poor-memes-wish.md
  packages/clerk-js/src/core/__tests__/fapiClient.spec.ts
  packages/clerk-js/src/core/fapiClient.ts
  packages/clerk-js/src/core/resources/__tests__/Token.spec.ts
  packages/shared/src/retry.ts
Labels: clerk-js

#6778 refactor(themes): Improve createTheme to use themeParams and update types
  .changeset/young-beds-sing.md
  packages/themes/src/createTheme.ts
Labels: themes

#6788 chore(clerk-js,types): Clean up deprecated attribute
  .changeset/seven-buses-teach.md
  packages/clerk-js/src/core/resources/CommercePayment.ts
  packages/types/src/commerce.ts
Labels: types, clerk-js

#6786 fix(clerk-js): Hide payment selection if checkout results to downgrade
  .changeset/slick-paths-write.md
  packages/clerk-js/bundlewatch.config.json
  packages/clerk-js/src/ui/components/Checkout/CheckoutForm.tsx
  packages/clerk-js/src/ui/components/Checkout/__tests__/Checkout.test.tsx
Labels: clerk-js

#6793 fix(repo): Attempt to fix retheme deployment in CI
  playground/nextjs/package.json
Labels: playground

#6795 chore(nuxt): Bump Nuxt dependencies to v4
  .changeset/lemon-cherries-search.md
  packages/nuxt/package.json
  pnpm-lock.yaml
Labels: nuxt

#6796 chore(clerk-js): Additional tests converted to vitest
  .changeset/true-items-burn.md
  packages/clerk-js/src/core/auth/cookies/__tests__/clientUat.spec.ts
  packages/clerk-js/src/core/auth/cookies/__tests__/session.spec.ts
  packages/clerk-js/src/core/resources/__tests__/Organization.spec.ts
  packages/clerk-js/src/core/resources/__tests__/OrganizationDomain.spec.ts
  packages/clerk-js/src/core/resources/__tests__/OrganizationInvitation.spec.ts
  packages/clerk-js/src/core/resources/__tests__/OrganizationMembership.spec.ts
  packages/clerk-js/src/core/resources/__tests__/OrganizationMembershipRequest.spec.ts
  packages/clerk-js/src/core/resources/__tests__/OrganizationSuggestion.spec.ts
  packages/clerk-js/src/core/resources/__tests__/PublicUserData.spec.ts
  packages/clerk-js/src/core/resources/__tests__/Waitlist.spec.ts
  packages/clerk-js/src/ui/components/OrganizationSwitcher/__tests__/utils.spec.ts
  packages/clerk-js/src/ui/components/SignIn/__tests__/handleCombinedFlowTransfer.spec.ts
  packages/clerk-js/src/ui/components/SignIn/__tests__/utils.spec.ts
  packages/clerk-js/src/ui/components/SignUp/__tests__/signUpFormHelpers.spec.ts
  packages/clerk-js/src/ui/components/UserProfile/__tests__/utils.spec.ts
  packages/clerk-js/src/ui/elements/PhoneInput/__tests__/useFormattedPhoneNumber.spec.ts
  packages/clerk-js/src/ui/foundations/__tests__/createInternalTheme.spec.ts
  packages/clerk-js/src/ui/hooks/__tests__/useDirection.spec.ts
  packages/clerk-js/src/ui/styledSystem/__tests__/createVariants.spec.ts
  packages/clerk-js/src/ui/utils/__tests__/formatSafeIdentifier.spec.ts
  packages/clerk-js/src/ui/utils/__tests__/intl.spec.ts
Labels: clerk-js

#6789 fix(clerk-js,types): Correctly determine destination first factor
  .changeset/ready-days-relax.md
  packages/clerk-js/bundlewatch.config.json
  packages/clerk-js/src/core/resources/SignIn.ts
  packages/clerk-js/src/core/resources/__tests__/SignIn.spec.ts
  packages/types/src/signInFuture.ts
Labels: types, clerk-js

#6799 feat(backend): Add `invite`, `reject`, and `delete` to `WaitlistEntryApi` resource
  .changeset/icy-mangos-care.md
  packages/backend/src/api/endpoints/WaitlistEntryApi.ts
Labels: backend

#6755 fix(backend): Avoid handshake loop on primary domain sync
  .changeset/clear-forks-ring.md
  packages/backend/src/tokens/request.ts
Labels: backend

#6802 fix(nuxt): Prevent Nuxt route middlewares from seeing intermediate states during navigation
  .changeset/funny-peaches-float.md
  packages/nuxt/src/runtime/plugin.ts
Labels: nuxt

#6804 fix(clerk-js): Update accepted suggestion preview on task choose organizations
  .changeset/better-bikes-repair.md
  packages/clerk-js/src/ui/components/SessionTasks/tasks/TaskChooseOrganization/ChooseOrganizationScreen.tsx
Labels: clerk-js

#6806 feat(clerk-js,types): Add support for ticket sign-ins and sign-ups
  .changeset/two-mangos-rest.md
  packages/clerk-js/src/core/resources/SignIn.ts
  packages/clerk-js/src/core/resources/SignUp.ts
  packages/react/src/stateProxy.ts
  packages/types/src/signInFuture.ts
  packages/types/src/signUpFuture.ts
Labels: types, clerk-js, react

#6811 chore(localizations): Update zhCN localization
  .changeset/seven-dragons-retire.md
  packages/localizations/src/zh-CN.ts
Labels: localizations

#6814 fix(localizations): Adjust account deletion text for en-GB and fi-FI
  .changeset/orange-rocks-sell.md
  packages/localizations/src/en-GB.ts
  packages/localizations/src/fi-FI.ts
Labels: localizations

#6838 refactor(shared): Split errors into modules
  .changeset/wild-fans-love.md
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/core/fapiClient.ts
  packages/clerk-js/src/core/fraudProtection.ts
  packages/clerk-js/src/core/resources/Base.ts
  packages/clerk-js/src/core/resources/SignIn.ts
  packages/clerk-js/src/utils/querystring.ts
  packages/clerk-js/src/utils/runAsyncResourceTask.ts
  packages/react/src/isomorphicClerk.ts
  packages/shared/src/error.ts
  packages/shared/src/errors/apiResponseError.ts
  packages/shared/src/errors/emailLinkError.ts
  packages/shared/src/errors/errorThrower.ts
  packages/shared/src/errors/helpers.ts
  packages/shared/src/errors/metamaskError.ts
  packages/shared/src/errors/parseError.ts
  packages/shared/src/errors/runtimeError.ts
  packages/shared/src/errors/webAuthNError.ts
Labels: clerk-js, react

#6808 feat(clerk-js,nextjs,clerk-react,testing,types,vue): UserAvatar component
  .changeset/purple-apples-read.md
  .changeset/silver-tools-clean.md
  integration/templates/next-app-router/src/app/user-avatar/page.tsx
  integration/templates/react-vite/src/main.tsx
  integration/templates/react-vite/src/user-avatar/index.tsx
  integration/templates/vue-vite/src/router.ts
  integration/templates/vue-vite/src/views/UserAvatar.vue
  integration/tests/components.test.ts
  integration/tests/user-avatar.test.ts
  integration/tests/vue/components.test.ts
  packages/chrome-extension/src/__tests__/__snapshots__/exports.test.ts.snap
  packages/chrome-extension/src/react/re-exports.ts
  packages/clerk-js/sandbox/app.ts
  packages/clerk-js/sandbox/template.html
  packages/clerk-js/src/core/clerk.ts
  packages/clerk-js/src/ui/components/UserAvatar/index.tsx
  packages/clerk-js/src/ui/contexts/ClerkUIComponentsContext.tsx
  packages/clerk-js/src/ui/contexts/components/UserAvatar.ts
  packages/clerk-js/src/ui/contexts/components/index.ts
  packages/clerk-js/src/ui/customizables/elementDescriptors.ts
  packages/clerk-js/src/ui/lazyModules/components.ts
  packages/clerk-js/src/ui/types.ts
  packages/nextjs/src/client-boundary/uiComponents.tsx
  packages/nextjs/src/index.ts
  packages/react-router/src/__tests__/__snapshots__/exports.test.ts.snap
  packages/react/src/components/__tests__/UserAvatar.test.tsx
  packages/react/src/components/index.ts
  packages/react/src/components/uiComponents.tsx
  packages/react/src/isomorphicClerk.ts
  packages/remix/src/__tests__/__snapshots__/exports.test.ts.snap
  packages/tanstack-react-start/src/__tests__/__snapshots__/exports.test.ts.snap
  packages/testing/src/playwright/unstable/page-objects/index.ts
  packages/testing/src/playwright/unstable/page-objects/userAvatar.ts
  packages/types/src/appearance.ts
  packages/types/src/clerk.ts
  packages/vue/src/components/index.ts
  packages/vue/src/components/ui-components/UserAvatar.vue
Labels: types, clerk-js, nextjs, react, remix, chrome-extension, integration, testing, tanstack, react-router, vue

#6851 fix(clerk-js): Proper secure attribute for `clerk_active_context` cookie
  .changeset/lucky-showers-guess.md
  packages/clerk-js/src/core/auth/AuthCookieService.ts
  packages/clerk-js/src/core/auth/cookies/activeContext.ts
Labels: clerk-js

#6660 feat(react-router): Introduce middleware and context
  .changeset/quiet-bats-protect.md
  integration/presets/utils.ts
  integration/templates/react-router-library/package.json
  integration/templates/react-router-node/app/root.tsx
  integration/templates/react-router-node/app/routes/protected.tsx
  integration/templates/react-router-node/package.json
  integration/templates/react-router-node/react-router.config.ts
  integration/tests/react-router/basic.test.ts
  integration/tests/react-router/pre-middleware.test.ts
  package.json
  packages/react-router/package.json
  packages/react-router/src/__tests__/__snapshots__/exports.test.ts.snap
  packages/react-router/src/__tests__/exports.test.ts
  packages/react-router/src/api/index.ts
  packages/react-router/src/server/__tests__/clerkMiddleware.test.ts
  packages/react-router/src/server/__tests__/getAuth.test.ts
  packages/react-router/src/server/__tests__/rootAuthLoader.test.ts
  packages/react-router/src/server/clerkClient.ts
  packages/react-router/src/server/clerkMiddleware.ts
  packages/react-router/src/server/getAuth.ts
  packages/react-router/src/server/index.ts
  packages/react-router/src/server/legacyAuthenticateRequest.ts
  packages/react-router/src/server/loadOptions.ts
  packages/react-router/src/server/rootAuthLoader.ts
  packages/react-router/src/server/types.ts
  packages/react-router/src/server/utils.ts
  packages/react-router/src/ssr/getAuth.ts
  packages/react-router/src/ssr/index.ts
  packages/react-router/src/ssr/rootAuthLoader.ts
  packages/react-router/src/utils/errors.ts
Labels: integration, react-router

#6870 chore(repo): Enhance E2E cleanup script
  integration/cleanup/cleanup.setup.ts
Labels: integration

#6883 fix(clerk-js): Hide CTA for `<PricingTable forOrganization/>` and orgId is null
  .changeset/sweet-humans-poke.md
  packages/clerk-js/src/ui/components/PricingTable/PricingTableDefault.tsx
  packages/clerk-js/src/ui/components/PricingTable/utils/pricing-footer-state.spec.ts
  packages/clerk-js/src/ui/components/PricingTable/utils/pricing-footer-state.ts
Labels: clerk-js

#6882 chore(clerk-js, types): Drop top level billing flags from environment
  .changeset/seven-trees-double.md
  packages/clerk-js/src/core/resources/CommerceSettings.ts
  packages/clerk-js/src/ui/utils/test/fixtureHelpers.ts
  packages/clerk-js/src/ui/utils/test/fixtures.ts
  packages/types/src/commerceSettings.ts
Labels: types, clerk-js

#6887 feat(backend): Add `user_id` field to `organizationInvitation.accepted` webhook events
  .changeset/blue-teeth-report.md
  packages/backend/src/api/resources/JSON.ts
  packages/backend/src/api/resources/Webhooks.ts
Labels: backend

#6889 fix(backend): Add status field to `OrganizationInvitationAcceptedJSON` interface
  .changeset/sharp-parents-vanish.md
  packages/backend/src/api/resources/JSON.ts
Labels: backend

#6840 feat(clerk-js,clerk-react,types): Add Signal support for Web3 APIs
  .changeset/quick-ghosts-fail.md
  packages/clerk-js/bundlewatch.config.json
  packages/clerk-js/src/core/resources/SignIn.ts
  packages/clerk-js/src/core/resources/SignUp.ts
  packages/react/src/stateProxy.ts
  packages/types/src/signInFuture.ts
  packages/types/src/signUpFuture.ts
Labels: types, clerk-js, react
